# Cache files
*.egg-info
*.pyc
.coverage
.mypy_cache
.pytest_cache
.ropeproject
.sass-cache
.sass-cache
.webassets-cache
__pycache__

# MacOS File
.DS_Store

# Assets and static files
funnel/assets/cypress/screenshots
funnel/assets/cypress/videos
funnel/static/build
funnel/static/gen
funnel/static/service-worker.js
funnel/static/img/fa5-packed.svg
node_modules
*.packed.css
*.packed.js
.webassets-cache
baseframe-packed.*

# Log files
error.log
ghostdriver.log

# Instance Files that should not be checked-in.
instance/development.py
instance/funnelapp.py
instance/hasgeekapp.py
instance/lastuserapp.py
instance/production.py
instance/settings.py

# Forbidden secrets
secrets.dev
secrets.test

# Local venvs (Idea creates them)
venv/

# Editors
.idea/
.vscode
.project
.pydevproject
.settings
*.wpr
.vscode

# Local DBs
dump.rdb
test.db
*.bz2
*.gz
*.sql
