# Cache files
*.egg-info
*.pyc
.coverage
.mypy_cache
.pytest_cache
.ropeproject
.sass-cache
.sass-cache
.webassets-cache
__pycache__

# MacOS file
.DS_Store

# Assets and static files
funnel/assets/cypress/screenshots
funnel/assets/cypress/videos
funnel/static/build
funnel/static/gen
funnel/static/service-worker.js
funnel/static/service-worker.js.map
funnel/static/img/fa5-packed.svg
node_modules
*.packed.css
*.packed.js
.webassets-cache
baseframe-packed.*

# Download files
geoname_data

# Log and test files
error.log
error.log.*
ghostdriver.log
geckodriver.log
tests/screenshots
tests/data/markdown/output.html

# Instance files that should not be checked-in
instance/development.py
instance/hasgeekapp.py
instance/production.py
instance/settings.py
instance/container_env

# Forbidden secrets
secrets.dev
secrets.test
newrelic.ini
.env
.env.testing
.env.staging
.env.production

# Local venvs (Idea creates them)
venv/
env/

# Editors
.idea/
.vscode
.project
.pydevproject
.settings
*.wpr
.vscode
*.sublime-workspace

# Local DBs
dump.rdb
test.db
*.bz2
*.gz
*.sql
