# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
ci:
  skip: ['pip-compile', 'yesqa', 'no-commit-to-branch']
repos:
  - repo: https://github.com/jazzband/pip-tools
    rev: 6.6.1
    hooks:
      - id: pip-compile
        name: pip-compile --upgrade requirements.in
        args: ['--upgrade', 'requirements.in']
        files: ^requirements\.(in|txt)$
      - id: pip-compile
        name: pip-compile --upgrade requirements_dev.in
        args: ['--upgrade', 'requirements_dev.in']
        files: ^requirements_dev\.(in|txt)$
      - id: pip-compile
        name: pip-compile --upgrade requirements_test.in
        args: ['--upgrade', 'requirements_test.in']
        files: ^requirements_test\.(in|txt)$
  - repo: https://github.com/lucasmbrown/mirrors-autoflake
    rev: v1.3
    hooks:
      - id: autoflake
        args:
          [
            '--in-place',
            '--remove-all-unused-imports',
            '--ignore-init-module-imports',
            '--remove-unused-variables',
            '--remove-duplicate-keys',
          ]
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.32.1
    hooks:
      - id: pyupgrade
        args:
          ['--keep-runtime-typing', '--py3-plus', '--py36-plus', '--py37-plus']
  - repo: https://github.com/asottile/yesqa
    rev: v1.3.0
    hooks:
      - id: yesqa
        additional_dependencies: &flake8deps
          - bandit==1.7.4
          - flake8-assertive==2.1.0
          - flake8-bandit==3.0.0
          - flake8-blind-except==0.2.1
          - flake8-bugbear==22.4.25
          - flake8-builtins==1.5.3
          - flake8-comprehensions==3.9.0
          - flake8-docstrings==1.6.0
          - flake8-isort==4.1.1
          - flake8-logging-format==0.6.0
          - flake8-mutable==1.2.0
          - flake8-print==5.0.0
          - pep8-naming==0.12.1
          - toml==0.10.2
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
        additional_dependencies:
          - toml
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.950
    hooks:
      - id: mypy
        additional_dependencies:
          - toml
          - lxml-stubs==0.4.0
          - sqlalchemy-stubs==0.4
          - types-certifi==2021.10.8.2
          - types-click==7.1.8
          - types-cryptography==3.3.21
          - types-flask==1.1.6
          - types-geoip2==3.0.0
          - types-ipaddress==1.0.8
          - types-itsdangerous==1.1.6
          - types-jinja2==2.11.9
          - types-markupsafe==1.1.10
          - types-maxminddb==1.5.0
          - types-python-dateutil==2.8.15
          - types-pytz==2021.3.8
          - types-requests==2.27.25
          - types-setuptools==57.4.14
          - types-simplejson==3.17.6
          - types-six==1.16.15
          - types-toml==0.10.7
          - types-urllib3==1.26.14
          - types-werkzeug==1.0.9
  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        additional_dependencies: *flake8deps
  # - repo: https://github.com/PyCQA/pylint
  #   rev: v2.14.0-b1
  #   hooks:
  #     - id: pylint
  #       additional_dependencies:
  #         - toml
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        language_version: python3
        args: ['-c', 'pyproject.toml']
        additional_dependencies:
          - toml
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-aws-credentials
        args: ['--allow-missing-credentials']
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: fix-encoding-pragma
        args: ['--remove']
      - id: forbid-new-submodules
      - id: mixed-line-ending
      - id: no-commit-to-branch
      - id: trailing-whitespace
        args: ['--markdown-linebreak-ext=md']
  # Enable after auditing existing templates
  # - repo: https://github.com/thibaudcolas/curlylint
  #   rev: v0.13.0
  #   hooks:
  #     - id: curlylint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.2
    hooks:
      - id: prettier
        args: ['--single-quote', '--trailing-comma', 'es5']
        exclude: funnel/templates/js/
