# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
# Enable this to enforce a common Python version:
# default_language_version:
#   python: python3.9
ci:
  skip: ['pip-audit', 'yesqa', 'no-commit-to-branch']
repos:
  - repo: https://github.com/pre-commit-ci/pre-commit-ci-config
    rev: v1.5.1
    hooks:
      - id: check-pre-commit-ci-config
  - repo: https://github.com/peterdemin/pip-compile-multi
    rev: v2.6.2
    hooks:
      - id: pip-compile-multi-verify
        files: ^requirements/.*\.(in|txt)$
  - repo: https://github.com/pypa/pip-audit
    rev: v2.4.15
    hooks:
      - id: pip-audit
        args: [
            '--no-deps',
            '--fix',
            '-r',
            'requirements/base.txt',
            '-r',
            'requirements/test.txt',
            '-r',
            'requirements/dev.txt',
            '--ignore-vuln',
            'PYSEC-2021-13', # https://github.com/pallets-eco/flask-caching/pull/209
            '--ignore-vuln',
            'PYSEC-2022-42969', # https://github.com/pytest-dev/pytest/issues/10392
          ]
        files: ^requirements/.*\.txt$
  - repo: https://github.com/lucasmbrown/mirrors-autoflake
    rev: v1.3
    hooks:
      - id: autoflake
        args:
          [
            '--in-place',
            '--remove-all-unused-imports',
            '--ignore-init-module-imports',
            '--remove-unused-variables',
            '--remove-duplicate-keys',
          ]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
      - id: pyupgrade
        args:
          ['--keep-runtime-typing', '--py3-plus', '--py36-plus', '--py37-plus']
  - repo: https://github.com/asottile/yesqa
    rev: v1.4.0
    hooks:
      - id: yesqa
        additional_dependencies: &flake8deps
          - bandit
          - flake8-assertive
          - flake8-blind-except
          - flake8-bugbear
          - flake8-builtins
          - flake8-comprehensions
          - flake8-docstrings
          - flake8-isort
          - flake8-logging-format
          - flake8-mutable
          - flake8-plugin-utils
          - flake8-print
          - flake8-pytest-style
          - pep8-naming
          - toml
          - tomli
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
        additional_dependencies:
          - tomli
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  # Mypy is temporarily disabled until the SQLAlchemy 2.0 migration is complete
  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v0.991
  #   hooks:
  #     - id: mypy
  #       # warn-unused-ignores is unsafe with pre-commit, see
  #       # https://github.com/python/mypy/issues/2960
  #       args: ['--no-warn-unused-ignores', '--ignore-missing-imports']
  #       additional_dependencies:
  #         - lxml-stubs
  #         - sqlalchemy
  #         - toml
  #         - tomli
  #         - types-all
  #         - typing-extensions
  - repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        additional_dependencies: *flake8deps
  - repo: https://github.com/PyCQA/pylint
    rev: v2.16.2
    hooks:
      - id: pylint
        args: [
            '--disable=import-error',
            '-rn', # Disable full report
            '-sn', # Disable evaluation score
            '--ignore-paths=tests,migrations',
          ]
        additional_dependencies:
          - pylint-pytest
          - tomli
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        language_version: python3
        args: ['-c', 'pyproject.toml']
        additional_dependencies:
          - toml
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-aws-credentials
        args: ['--allow-missing-credentials']
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: fix-encoding-pragma
        args: ['--remove']
      - id: forbid-new-submodules
      - id: mixed-line-ending
      - id: no-commit-to-branch
      - id: requirements-txt-fixer
        files: requirements/.*\.in
      - id: trailing-whitespace
        args: ['--markdown-linebreak-ext=md']
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.4
    hooks:
      - id: prettier
        args:
          ['--single-quote', '--trailing-comma', 'es5', '--end-of-line', 'lf']
        exclude: funnel/templates/js/
  - repo: https://github.com/Riverside-Healthcare/djLint
    rev: v1.19.15
    hooks:
      - id: djlint-jinja
        files: \.html\.(jinja2|j2)$
      - id: djlint-handlebars
        files: \.html\.(mustache|hb)$
  - repo: https://github.com/ducminh-phan/reformat-gherkin
    rev: v3.0.1
    hooks:
      - id: reformat-gherkin
        files: \.feature$
