# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/lucasmbrown/mirrors-autoflake
    rev: v1.3
    hooks:
      - id: autoflake
        args:
          [
            '--in-place',
            '--remove-all-unused-imports',
            '--ignore-init-module-imports',
            '--remove-unused-variables',
            '--remove-duplicate-keys',
          ]
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.19.4
    hooks:
      - id: pyupgrade
        args:
          ['--keep-runtime-typing', '--py3-plus', '--py36-plus', '--py37-plus']
  - repo: https://github.com/asottile/yesqa
    rev: v1.2.3
    hooks:
      - id: yesqa
        additional_dependencies: &flake8deps
          - flake8-assertive==1.3.0
          - flake8-blind-except==0.2.0
          - flake8-bandit==2.1.2
          - flake8-builtins==1.5.3
          - flake8-comprehensions==3.5.0
          - flake8-docstrings==1.6.0
          - flake8-isort==4.0.0
          - flake8-logging-format==0.6.0
          - flake8-mutable==1.2.0
          - flake8-print==4.0.0
          - pep8-naming==0.11.1
          - toml==0.10.2
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.9.1
    hooks:
      - id: isort
        additional_dependencies:
          - toml
  - repo: https://github.com/ambv/black
    rev: 21.6b0
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.902
    hooks:
      - id: mypy
        additional_dependencies:
          - sqlalchemy-stubs
          - types-certifi
          - types-cryptography
          - types-Flask
          - types-geoip2
          - types-itsdangerous
          - types-maxminddb
          - types-python-dateutil
          - types-pytz
          - types-requests
          - types-setuptools
          - types-simplejson
          - types-six
          - types-toml
          - types-Werkzeug
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies: *flake8deps
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.0
    hooks:
      - id: bandit
        language_version: python3
        exclude: ^tests
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: detect-aws-credentials
        args: ['--allow-missing-credentials']
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-encoding-pragma
        args: ['--remove']
      - id: forbid-new-submodules
      - id: mixed-line-ending
      - id: no-commit-to-branch
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  # Enable after indentation issue is fixed: https://github.com/thibaudcolas/curlylint/issues/6
  # - repo: https://github.com/thibaudcolas/curlylint
  #   rev: v0.12.0
  #   hooks:
  #     - id: curlylint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.3.1
    hooks:
      - id: prettier
        args: ['--single-quote', '--trailing-comma', 'es5']
        exclude: funnel/templates/js/
