language: python
python:
  - 3.9
addons:
  postgresql: 13
  apt:
    packages:
      - postgresql-13
      - postgresql-client-13
      - postgresql-13-hll

# The "secure" values are secrets which encode these variables
# SMS_TWILIO_SID   (Test Account ID for Twilio for tests to pass)
# SMS_TWILIO_TOKEN (Test Account Password for Twilio for tests to pass)
# SMS_TWILIO_FROM  (Test From Number for Twilio for tests to pass)
env:
  global:
    - PGVER=13
    - PGPORT=5433
    - secure: VSk63d0fSpVr5HNKORE9QJ01BoRkE4PyiADMnO6n7ka0TULzeIyCoPmwNlwaSPi3UounssdLUsR9SOPUwg8FLPBiYoHoTqxaL2y6dVJcP7F1uW8ofJ3M3+edOHfjY/txkktQ36os0pXXFukSzVDajA4J/vZ2A9Pj8nnqmF5siJc=
    - secure: bi2i66oahTdm00psMe6FuTRVmTubcqZms1nm2UUrllLhALRfJDcT7boBsIkM/pSEHCI76yVVHCQxAL9ouEu0kBlCV9aCCPh0MAAGSVn+LE7ru0U76C9Yoivok5wDJpXo+zUo+RPYdn/VGlY6XI1nAZgur3ZjnkkgUp8dKhcNoHw=
    - secure: ZmRtFNNRZkk1kOkPCV5jmMuXnestL8tyVA9Wk3TPCIqYsRC1Cgb21aDNlrWOyPuLb2OvGGy2DRlQVLDsHaNTyP0dgYNdoUmr2QEMqmZmrvJAmD6Qw4ibpe5e7hHDhtomDwrtoPeny3JpwWo9EXWm0LLYFfKeQI2uBKkZD603uvY=
services:
  - redis-server
  - postgresql
before_install:
  - sudo sed -i -e '/local.*peer/s/postgres/all/' -e 's/peer\|md5/trust/g' /etc/postgresql/*/main/pg_hba.conf
  - sudo systemctl restart postgresql@13-main
install:
  - pip install -U pip wheel
  - pip install git+https://github.com/hasgeek/flask-babelhg.git
  - pip install -r requirements.txt
  - pip install -r requirements_test.txt
  - pip install idna --upgrade
  - make
before_script:
  - sudo -- sh -c "echo '127.0.0.1  funnel.test' >> /etc/hosts"
  - sudo -- sh -c "echo '127.0.0.1  f.test' >> /etc/hosts"
  - psql -c 'create database funnel_testing;' -U postgres
  - 'flask dbconfig | sudo -u postgres psql funnel_testing'
  - psql -c 'create database geoname_testing;' -U postgres
  - 'flask dbconfig | sudo -u postgres psql geoname_testing'
script:
  - './runtests.sh'
  - './runfrontendtests.sh'
after_success:
  - coveralls
notifications:
  email: false
  slack:
    - hasgeek:HDCoMDj3T4ICB59qFFVorCG8
    - friendsofhasgeek:3bLViYSzhfaThJovFYCVD3fX
