language: python
python:
  - 3.7
addons:
  postgresql: '9.6'
services:
  - redis-server
  - postgresql
install:
  - pip install -U pip wheel
  - pip install git+https://github.com/hasgeek/flask-babelhg.git
  - pip install -r requirements.txt
  - pip install -r test_requirements.txt
  - make
  - pip install six --upgrade --ignore-installed
before_script:
  - sudo -- sh -c "echo '127.0.0.1  funnel.travis.local' >> /etc/hosts"
  - psql -c 'create database funnel_testing;' -U postgres
  - python -c "import six; print('Six:', six.__version__)"
script:
  - ./runfrontendtests.sh
  - ./runtests.sh
after_success:
  - coveralls
notifications:
  email: false
  slack:
    - hasgeek:HDCoMDj3T4ICB59qFFVorCG8
    - friendsofhasgeek:3bLViYSzhfaThJovFYCVD3fX
