language: python
python:
  - 2.7
cache:
  directories:
    - $HOME/.cache/pip
before_script:
  - sudo -- sh -c "echo '127.0.0.1  funnel.travis.dev' >> /etc/hosts"
  - psql -c 'create database funnel_testing;' -U postgres
install:
  - pip install -U pip wheel
  - pip install -r requirements.txt
script:
  - ./runtests.sh
  - nohup python runtestserver.py &
  - sleep 10
after_success:
  - coveralls
addons:
  postgresql: "9.4"
services:
  - redis-server
notifications:
  email: false
  slack:
    - hasgeek:HDCoMDj3T4ICB59qFFVorCG8
    - friendsofhasgeek:3bLViYSzhfaThJovFYCVD3fX
