flake8==3.9.2
flake8-assertive
flake8-blind-except==0.2.0
flake8-builtins==1.5.3
flake8-comprehensions==3.5.0
flake8-isort==4.0.0
flake8-logging-format==0.6.0
flake8-mutable==1.2.0
flake8-print==4.0.0
isort==5.8.0
pep8-naming==0.11.1
pre-commit==2.13.0
sqlalchemy-stubs==0.4
toml==0.10.2
watchdog==2.1.2
