version: '3'

services:
  web:
    image: vivekdurai/funnel
    container_name: web
    ports:
      - 3000:3000
    depends_on:
      - redis
    command: sh ./runserver.production.sh
    volumes:
      - .:/app
      - $HOME/.aws/credentials:/app/.aws/credentials:ro
    extra_hosts:
      - 'hasgeek.com:127.0.0.1'
      - 'beta.hasgeek.com:127.0.0.1'
      - 'funnel.hasgeek.com:127.0.0.1'
    restart: always
  worker:
    image: vivekdurai/funnel
    depends_on:
      - redis
    command: sh ./rq.sh
    volumes:
      - .:/app
      - $HOME/.aws/credentials:/app/.aws/credentials:ro
    restart: always
  redis:
    image: redis
  nginx:
    build:
      context: ./etc/nginx
    container_name: nginx
    volumes:
      - static_data:/vol/static
    ports:
      - 80:80
    command: '/bin/sh -c ''while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g "daemon off;error_log /dev/stdout info;"'''
    depends_on:
      - web
volumes:
  static_data:
