# Default tool config file. See also setup.cfg for tools that don't yet
# support pyproject.toml.

[tool.black]
line-length = 88
target_version = ['py27']
skip-string-normalization = true
include = '\.pyi?$'
exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | __pycache__
  | buck-out
  | build
  | dist
  | node_modules
  | funnel/assets
)/
'''

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
line_length = 88
order_by_type = true
use_parentheses = true
known_future_library = ["six", "future"]
known_first_party = ["coaster", "baseframe", "flask_lastuser", "funnel"]
known_sqlalchemy = ["alembic", "sqlalchemy", "sqlalchemy_utils"]
known_flask = [
  "flask", "werkzeug", "itsdangerous", "wtforms",
  "flask_flatpages", "flask_mail", "flask_migrate", "flask_rq2",
  ]
default_section = "THIRDPARTY"
sections = ["FUTURE", "STDLIB", "SQLALCHEMY", "FLASK", "THIRDPARTY", "FIRSTPARTY", "LOCALFOLDER"]
