alembic
argon2-cffi
awscli
Babel
base58
bcrypt
better_profanity!=0.7.0  # https://github.com/snguyenthanh/better_profanity/issues/19
blinker
boto3
Brotli
click
cryptography
dataclasses-json
fabric3
Flask
Flask-Assets
Flask-Executor
Flask-FlatPages
flask-mailman
Flask-Migrate
Flask-Redis
Flask-RQ2
Flask-SQLAlchemy
Flask-WTF
geoip2
git+https://github.com/hasgeek/baseframe.git#egg=baseframe
git+https://github.com/hasgeek/coaster.git#egg=coaster
git+https://github.com/hasgeek/flask-babelhg.git#egg=Flask-Babelhg
html2text
icalendar
idna>=2.5
itsdangerous
js2py
jsmin>=3.0.0
Markdown
oauth2
oauth2client
passlib
phonenumbers
premailer
progressbar2
psycopg2-binary
pycountry
pyIsEmail
pymdown-extensions
python-dateutil
pytz
PyVimeo
qrcode
requests
rq
SQLAlchemy
SQLAlchemy-Utils
tweepy
twilio
typing-extensions
url-normalize
user-agents
Werkzeug>=2.0.2  # https://github.com/pallets/werkzeug/pull/2237
whitenoise
zxcvbn
