awscli  # Dupe from requirements.in due to conflicting requirements for PyYAML versions
black
bandit
flake8
flake8-assertive
flake8-bandit
flake8-blind-except
flake8-bugbear
flake8-builtins
flake8-comprehensions
flake8-docstrings
flake8-isort
flake8-logging-format
flake8-mutable
flake8-print
isort
lxml-stubs
mypy
pep8-naming
pip-tools
pre-commit
pyupgrade
sqlalchemy-stubs
toml
types-certifi
types-cryptography
types-Flask
types-geoip2
types-itsdangerous
types-maxminddb
types-python-dateutil
types-pytz
types-requests
types-setuptools
types-simplejson
types-six
types-toml
types-Werkzeug
watchdog
