beautifulsoup4
colorama
coverage
coveralls
lxml
pytest
pytest-bdd
pytest-cov
pytest-dotenv
pytest-env
pytest-remotedata
pytest-rerunfailures
# pytest-selenium: https://github.com/pytest-dev/pytest-selenium/issues/305
git+https://github.com/pytest-dev/pytest-selenium#egg=pytest-selenium
pytest-splinter
requests-mock
tomlkit
