Flask==1.0.2
Flask-Assets
Flask-Mail
Flask-SQLAlchemy
Flask-WTF
pytz
unicodecsv
icalendar
git+https://github.com/hasgeek/coaster.git
git+https://github.com/hasgeek/flask-lastuser.git
git+https://github.com/hasgeek/baseframe.git
alembic
qrcode
rq
psycopg2
Flask-Migrate
