alembic
argon2-cffi
Babel
base58
git+https://github.com/hasgeek/baseframe.git#egg=baseframe
bcrypt
better_profanity!=0.7.0  # https://github.com/snguyenthanh/better_profanity/issues/19
blinker
Brotli
click
git+https://github.com/hasgeek/coaster.git#egg=coaster
cryptography
dataclasses-json
fabric3
Flask
Flask-Assets
Flask-Babel
Flask-Executor
Flask-FlatPages
flask-mailman
Flask-Migrate
Flask-Redis
Flask-RQ2
Flask-SQLAlchemy
Flask-WTF
furl
geoip2
html2text
icalendar
idna>=2.5
itsdangerous<2.1.0  # https://github.com/pallets/itsdangerous/pull/273
js2py
jsmin>=3.0.0
linkify-it-py
Markdown
markdown-it-py
oauth2
oauth2client
passlib
phonenumbers
premailer
progressbar2
psycopg2-binary
pycountry
Pygments
pyIsEmail
pymdown-extensions
python-dateutil
python-dotenv
pytz
PyVimeo
qrcode
requests
rq
SQLAlchemy>=1.4.33
SQLAlchemy-Utils
tweepy
twilio
typing-extensions
user-agents
werkzeug>=2.0.2  # https://github.com/pallets/werkzeug/pull/2237
whitenoise
zxcvbn
