Flask
Flask-Assets
Flask-Mail
Flask-Sqlalchemy
jsmin
Flask-Wtf
Flask-OpenID
Flask-Oauth
pytz
unicodecsv
git+https://github.com/hasgeek/coaster.git
git+https://github.com/hasgeek/flask-lastuser.git
git+https://github.com/hasgeek/baseframe.git
