#: Mail settings
export MAIL_SERVER='localhost'
export MAIL_PORT=25
export MAIL_DEFAULT_SENDER='test@example.com'
export SITE_SUPPORT_EMAIL=''
export ADMINS=''

#: Keys for tests specifically
export FACEBOOK_OAUTH_TOKEN=''

#: Twitter integration
export OAUTH_TWITTER_KEY=''
export OAUTH_TWITTER_SECRET=''

#: GitHub integration
export OAUTH_GITHUB_KEY=''
export OAUTH_GITHUB_SECRET=''

#: Google integration
export OAUTH_GOOGLE_KEY=''
export OAUTH_GOOGLE_SECRET=''

#: Recaptcha for the registration form
export RECAPTCHA_PUBLIC_KEY=''
export RECAPTCHA_PRIVATE_KEY=''

#: Boxoffice settings for sync tests in Cypress
export CYPRESS_BOXOFFICE_SECRET_KEY=''
export CYPRESS_BOXOFFICE_ACCESS_KEY''
export CYPRESS_BOXOFFICE_IC_ID=
export CYPRESS_BOXOFFICE_CLIENT_ID=''

#: Google Maps API key
export GOOGLE_MAPS_API_KEY=''

#: YouTube API key
export YOUTUBE_API_KEY=''

#: Twilio SID
export SMS_TWILIO_SID=''
#: Twilio Token
export SMS_TWILIO_TOKEN=''
#: Twilio test number
export SMS_TWILIO_FROM='+15005550006'

#: Vimeo client id
export VIMEO_CLIENT_ID=''
#: Vimeo client secret
export VIMEO_CLIENT_SECRET=''
#: Vimeo access token
export VIMEO_ACCESS_TOKEN=''
