.header--fixed {
  bottom: 0;

  .header__nav {
    height: $mui-header-height;
    padding: 0 $mui-grid-padding;
    justify-content: space-between;
    background: $mui-bg-color-primary;

    .header__site-title {
      padding: 0;
      width: 100%;

      .header__site-title__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: $mui-header-height;
        position: relative;

        .header__site-title__title__about {
          display: none;
        }

        .header__site-title__home__logo {
          height: 24px;
          margin: 0 auto 6px;
        }
        .header__site-title__home__logo--primary {
          display: none;
        }

        .search-form {
          position: fixed;
          bottom: $mui-header-height;
          width: 100%;
          left: 0;
          box-shadow: 0 1px 3px rgba(158, 158, 158, 0.12),
            0 1px 2px rgba(158, 158, 158, 0.24);
          display: none;

          .search-form__field {
            background-color: $mui-bg-color-primary-dark;
            border: none;
            padding: $mui-grid-padding $mui-grid-padding-double
              $mui-grid-padding 42px;
            min-width: calc(100% - 60px);
            color: $mui-text-light;
            font-size: 16px;
            outline: none;
          }
          .search-form__field__icon {
            position: absolute;
            bottom: 20px;
            left: 22px;
          }
          .search-form__submit {
            visibility: hidden;
            padding: 0;
            margin: 0;
          }
        }
        .search-form--show {
          display: inline-block;
        }

        .header__nav-links {
          text-decoration: none !important;
          .header__nav-links__text {
            font-size: 12px;
            color: $mui-text-light;
            font-weight: 600;
          }
          .header__nav-links__icon {
            width: 24px;
            height: 24px;
            color: $mui-text-light;
            margin: 0 auto 4px;
          }
          .header__nav-links__icon--user {
            width: 24px;
            height: 24px;
            min-width: auto;
            font-size: 10px;
            border: 2px solid transparent;
            color: $mui-text-white;
          }
        }
        .header__nav-links--active {
          .header__nav-links__icon,
          .header__nav-links__text,
          .mui-caret {
            color: $mui-primary-color;
          }
          .header__nav-links__icon--user {
            border: 2px solid $mui-primary-color;
            color: $mui-text-white;
          }
          .header__site-title__home__logo--primary {
            display: inline-block;
          }
          .header__site-title__home__logo--grey {
            display: none;
          }
        }
        .header__nav-links--active.header__nav-links--menuOpen {
          .header__nav-links__icon,
          .header__nav-links__text,
          .mui-caret {
            color: $mui-text-light;
          }
          .header__site-title__home__logo--primary {
            display: none;
          }
          .header__site-title__home__logo--grey {
            display: inline-block;
          }
        }
        .header__nav-links--updates {
          position: relative;
        }
        .header__nav-links--updates:after {
          content: '';
          position: absolute;
          top: -2px;
          right: 10px;
          width: 6px;
          height: 6px;
          background: red;
          border-radius: 50%;
          display: none;
        }
        .header__nav-links--updates:hover:after {
          top: -4px;
        }
        .header__nav-links--updates--unread:after {
          display: inline-block;
        }
      }
    }

    .header__right-nav {
      display: none;
    }
    a.header__button {
      line-height: 30.6px;
      margin: 6px 0;
    }
  }
  .js-account-menu-wrapper {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
  .js-comments-wrapper {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
  .header__dropdown,
  .comments-sidebar {
    position: fixed;
    top: 100vh;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    border-radius: 0;
    overflow: auto;
    box-shadow: none;
    border-bottom: 1px solid $mui-divider-color;
    z-index: 999; // Less than fixed bottom header
    display: block;
    padding: 0;
    list-style: none;
    overflow: auto;
    background: $mui-bg-color-primary;
    z-index: -1;
  }
  .header__dropdown {
    .user .user__box .user__box__header {
      justify-content: space-between;
      align-items: baseline;
      width: calc(100% - 50px);
      flex-direction: row;
      .user__box__header__details {
        width: 90%;
        p {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .user__box__header__icon {
        position: relative;
        top: 3px;
      }
    }
    li .header__dropdown__item {
      padding: $mui-grid-padding/2 $mui-grid-padding $mui-grid-padding/2;
    }
    li .header__dropdown__item--morepadding {
      padding-left: 24px;
    }
    li .header__dropdown__item.header__dropdown__item--flex {
      display: flex;
      align-items: center;
      width: 100%;
      font-weight: 500;
      color: $mui-text-light;
      box-sizing: border-box;
    }
    .header__dropdown__item.header__dropdown__item:hover {
      background-color: $mui-bg-color-accent;
    }
    li:last-child .header__dropdown__item {
      padding-bottom: $mui-grid-padding;
    }
    .header__dropdown__item__more-icon {
      position: relative;
      left: -28px;
      z-index: 2;
      line-height: 1;
    }
    .header__dropdown__item__more-icon--ellipsis {
      position: relative;
    }
    .header__dropdown__item__more-icon--ellipsis:before {
      content: '';
      display: block;
      position: absolute;
      top: 4px;
      width: 24px;
      height: 24px;
      left: -33px;
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 50%;
    }
  }
  .comments-sidebar {
    list-style: none;
    padding: 0;
    li.user {
      padding: 0 $mui-grid-padding;
      border-bottom: solid 1px rgba(151, 151, 151, 0.09);
      .user__box {
        align-items: end;
        .user__box__banner {
          width: 60px;
          margin-right: $mui-grid-padding/2;
          .user__box__banner__wrapper {
            position: relative;
            width: 100%;
            padding-bottom: 56%;
            img {
              position: absolute;
              object-fit: cover;
              width: 100%;
              height: 100%;
              font-size: 0;
              border-radius: 2px;
            }
            .user__box__banner__wrapper__icon {
              position: absolute;
              bottom: $mui-grid-padding/4;
              right: $mui-grid-padding/4;
            }
          }
        }
        .user__box__header.comment__details {
          width: calc(100% - 70px);
          .user__box__fullname {
            margin: 0 0 $mui-grid-padding/4;
            line-height: 1;
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            .comment__details__title,
            .comment__details__age {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              display: inline-block;
            }
            .comment__details__title {
              width: calc(100% - 88px);
              margin-right: $mui-grid-padding/2;
            }
            .comment__details__title--long {
              width: 100%;
            }
            .comment__details__age {
              max-width: 80px;
            }
          }
          .user__box__subcontent {
            margin: 0 0 $mui-grid-padding/4;
            line-height: 1;
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: flex-end;
            .comment__details__user {
              width: 100%;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              display: inline-block;
            }
            .comment__details__user--truncated {
              width: calc(100% - 24px);
              margin-right: $mui-grid-padding/2;
            }
          }
        }
      }
    }
    li.user:last-child {
      border-bottom: none;
    }
  }
}

.header--fixed.header--lowzindex {
  z-index: 1;
}

.content-wrapper {
  padding-bottom: $mui-header-height;
}

.mobile-header .content-wrapper {
  padding-top: $mui-header-height;
}

@media (min-width: 768px) {
  .content-wrapper {
    padding-top: $mui-header-height;
    padding-bottom: $mui-grid-padding;
  }
}

@media (max-width: 767px) {
  .no-sticky-header {
    .header--fixed {
      display: none;
    }
    .footer {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  .header--fixed {
    bottom: unset;
    top: 0;

    .header__nav {
      .header__site-title {
        width: 100%;
        margin-right: 0;
        padding-right: 0;

        .header__site-title__title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          overflow: visible;

          .header__site-title__title__home {
            width: 185px;
          }

          .header__site-title__title__about {
            position: absolute !important;
            left: 46px;
            top: 5px;
            font-size: 12px;
            padding: 2px 10px;
            border-radius: 4px;
            width: auto;
            display: block;
            font-weight: 600;
            line-height: 1.33;
            letter-spacing: 0.43px;
            text-align: left;
            color: $mui-primary-color;
            position: relative;
            background-color: $mui-primary-color-lighter;
            text-decoration: none;
            .emoji-hand {
              display: none;
            }
          }

          .header__site-title__title__about:after {
            content: '';
            width: 0;
            height: 0;
            position: absolute;
            border-left: 5px solid #e1eefd;
            border-right: 5px solid transparent;
            border-top: 5px solid #e1eefd;
            border-bottom: 5px solid transparent;
            left: -4px;
            top: 12px;
            transform: rotate(45deg);
          }

          .header__site-title__home__logo {
            height: 30px;
            margin: 0;
          }

          .header__nav-links--search {
            display: none;
          }

          .search-form {
            position: relative;
            bottom: 0;
            display: flex;
            width: 300px;
            box-shadow: none;
            height: 35px;

            .search-form__field {
              border-radius: 16px;
              padding: 8px 10px 8px $mui-grid-padding-double;
            }
            .search-form__field__icon {
              top: 9px;
              left: 13px;
            }
          }

          .header__nav-links.user--standalone {
            margin-left: $mui-grid-padding;
            .user__box .user__box__gravatar {
              margin-right: 0;
            }
          }

          .header__site-title__title__settings {
            display: flex;
            justify-content: flex-end;
            align-items: center;
          }
          .header__nav-links--right {
            margin-left: $mui-grid-padding;
          }
          .header__nav-links--updates:after {
            top: 6px;
          }
          .header__nav-links--updates:hover:after {
            top: 4px;
          }
          .header__nav-links--dropdown {
            height: 40px;
          }
        }
      }
    }
    .header__dropdown,
    .comments-sidebar {
      width: 360px;
      max-height: 90vh;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
      border-radius: 16px 0 16px 16px;
      position: absolute;
      top: -100vh;
      right: 0;
      height: auto;
      left: auto;
      bottom: auto;
    }
    .comments-sidebar {
      padding: $mui-grid-padding/2 0;
    }
  }
}

@media (min-width: 1200px) {
  .header--fixed {
    .header__nav {
      .header__site-title {
        .header__site-title__title {
          .search-form {
            width: 400px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
  .header--fixed {
    .header__nav {
      height: 35px;
      .header__site-title {
        .header__site-title__title {
          .header__nav-links {
            display: flex;
            align-items: center;
            .header__site-title__home__logo,
            .header__nav-links__icon {
              margin: 0 $mui-grid-padding/4 0 0;
            }
            .header__nav-links__text {
              font-size: 14px;
            }
          }
          .header__nav-links--updates:after {
            right: 0;
            left: 19px;
          }

          .search-form {
            bottom: 35px;
          }
        }
        a.header__button {
          height: 24px;
          line-height: 24px;
        }
      }
    }
  }
  .header_dropdown--mobile {
    height: auto;
    padding-bottom: 35px; //Height of header in landscape mode
  }
}

.header__site-title__item {
  font-size: 18px;
  line-height: 28px;
  position: relative;
  top: -3px;
}

.header__site-title__home {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.header__site-title__home:hover {
  color: inherit;
  text-decoration: none;
}

.header__site-title__home__logo {
  vertical-align: middle;
  margin: auto;
}

.header__site-title__home__logo--small {
  height: 18px;
}

.header__site-title__home__logo--funnel {
  width: 18px;
}

@media (min-width: 768px) {
  .header__site-title__item {
    font-size: 24px;
    line-height: 32px;
    top: 0;
  }
}

.header__site-title__home__logotxt {
  position: relative;
  top: -6px;
}

@media (max-width: 1199px) {
  .no-header {
    .header {
      display: none;
    }
    .content-wrapper {
      padding-top: 0;
    }
    .footer {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  .alert-wrapper .alert {
    margin: 16px;
  }
}

.mobile-nav-wrapper {
  .mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $mui-bg-color-primary;
    z-index: 1000;

    .mobile-nav__icon {
      display: inline-block;
      padding: $mui-grid-padding $mui-grid-padding/2 $mui-grid-padding
        $mui-grid-padding;
      line-height: 1;
    }
    .mobile-nav__icon--right {
      padding-right: 16px;
    }
    .mobile-nav__headline {
      font-size: 18px;
      line-height: 1;
      position: relative;
      top: -2px;
      max-width: calc(100% - 54px);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: inline-block;
      vertical-align: text-bottom;
    }
    .mobile-nav__headline--lesswidth {
      max-width: calc(100% - 220px);
    }
  }
}

.tabs-wrapper {
  background: $mui-bg-color-primary;
  box-shadow: 0 2px 2px -1px rgba(158, 158, 158, 0.24);
  width: 100%;
}

.tabs-wrapper--sticky {
  position: sticky;
  order: 1;
  top: 0;
  z-index: 998;
  width: 100%;
  left: 0;
}

@media (min-width: 768px) {
  .tabs-navbar .header {
    box-shadow: none;
  }
  .tabs-wrapper--sticky {
    top: 50px;
    width: 100%;
    left: 0;

    .tabs {
      padding-left: $mui-grid-padding;
      padding-right: $mui-grid-padding;
      width: auto;
    }

    .tabs__item-control {
      display: none;
    }
  }
}

.tab-content {
  margin-top: 2em;

  .tab-content__results {
    margin-bottom: 1em;
  }
}

.body-scroll-lock {
  overflow: hidden;
}
