// ============================================================================
// Baseframe variables
// ============================================================================

$mui-grid-padding: 16px !default;
$mui-grid-padding-double: 32px !default;
$mui-bg-color-primary: #ffffff;
$mui-bg-color-accent: #f9f9f9;
$mui-bg-color-primary-dark: #f1f1f1;
$mui-primary-color: #0f73ed !default;
$mui-primary-color-lighter: #e1eefd !default;
$mui-accent-color: #f06a5e !default;
$mui-accent-color-lighter: #f2deda !default;
$mui-neutral-color: #656565 !default;
$mui-success-color: #53b783 !default;
$mui-text-dark: #1f2d3d !default;
$mui-text-accent: #c0ccda !default;
$mui-text-light: #4d5763 !default;
$mui-text-accent-lighter: #1b3a44 !default;
$mui-text-white: #ffffff !default;
$mui-text-hyperlink: #0f73ed !default;
$mui-divider-color: rgba(132, 146, 166, 0.3) !default;
$mui-header-height: 52px;
