.video {
  margin-bottom: $mui-grid-padding-double;

  .video__thumbnail {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    display: block;

    .video__thumbnail__img {
      display: block;
    }

    .video__thumbnail__icon {
      position: absolute;
      top: 50%;
      left: 50%;
      color: $mui-text-white;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
  .video__thumnail--novideo {
    background: $mui-bg-color-primary-dark;
    padding-top: 56.25%;
  }
  .video__txt {
    margin-bottom: 3px;
    word-wrap: break-word;
  }
}
