@import 'components/variable';
@import 'components/switch';

.login-session {
  .login-session__heading {
    font-size: 14px;
    line-height: 24px;
    margin: 0;
  }

  .login-session__body {
    font-size: 12px;
    line-height: 24px;
    margin: 0;
  }

  .mui-btn--nostyle {
    line-height: 1;
  }
}

@media (min-width: 768px) {
  .login-session {
    .login-session__heading {
      font-size: 16px;
      line-height: 24px;
      margin: 0;
    }

    .login-session__body {
      font-size: 14px;
      line-height: 24px;
      margin: 0;
    }
  }
}

.input-align-icon {
  position: relative;
  top: 3px;
}

.preference {
  margin-top: $mui-grid-padding;
  .preference__switch {
    margin-bottom: $mui-grid-padding;
    .preference__switch__txt {
      float: left;
      padding-left: $mui-grid-padding;
    }
    .switch-label {
      position: relative;
      top: -3px;
      float: left;
    }
    .preference__switch__txt--noswitch {
      margin-bottom: $mui-grid-padding/2;
    }
  }
  .preference__title {
    width: calc(100% - 45px);
    margin-bottom: $mui-grid-padding/2;
    .preference__title__header {
      font-size: 14px;
      margin-bottom: 0;
    }
    .preference__title__subheader {
      font-size: 12px;
      margin-bottom: 0;
    }
  }
}

@media (min-width: 1200px) {
  .preference {
    position: relative;
    .preference__switch {
      position: absolute;
      top: -40px;
      right: 0;
      min-width: 275px;

      .preference__switch__txt {
        float: right;
        padding-right: $mui-grid-padding;
      }
    }
    .preference__title {
      .preference__title__header {
        font-size: 16px;
      }
      .preference__title__subheader {
        font-size: 14px;
      }
    }
  }
}
