@import 'mui/colors_custom', 'mui/custom', 'mui/variables';
@import 'mui/mixins/util', 'mui/mixins/forms';
@import 'mui/helpers', 'mui/checkbox-and-radio', 'mui/select', 'mui/textfield',
  'mui/form';
@import 'base/variable', 'base/typography', 'components/draggablebox',
  'components/switch', 'components/codemirror';
@import 'node_modules/select2/dist/css/select2';

// ============================================================================
// Form
// ============================================================================

.form-message {
  @extend .mui--text-title;
}

.mui-form {
  .mui-form__fields {
    margin-bottom: $mui-grid-padding * 0.5;
  }

  .mui-textfield,
  .mui-radio,
  .mui-checkbox {
    margin-bottom: $mui-grid-padding * 0.25;
  }

  .mui-radio,
  .mui-checkbox {
    > label {
      display: flex;
      align-items: baseline;
      padding: 0;
      cursor: default;
      > input[type='radio'],
      > input[type='checkbox'] {
        position: relative;
        margin: 0 $mui-grid-padding * 0.5 0 0;
      }
    }
  }

  .mui-textfield--float-label {
    > label {
      position: absolute;
      transform: translate(0px, $xFormLabelLineHeight);
      -webkit-transition: all 0.15s ease-out;
      -moz-transition: all 0.15s ease-out;
      -o-transition: all 0.15s ease-out;
      transition: all 0.15s ease-out;
    }
  }

  .mui-form__sidetext,
  .mui-form__helptext {
    color: $mui-text-light;
    margin: $mui-grid-padding * 0.5 0 0;
    @extend .mui--text-caption;
  }

  .mui-textfield--addon {
    display: flex;

    > .mui-form__addon,
    > input {
      display: inline-flex;
    }

    > .mui-form__addon {
      color: $mui-label-font-color;
      font-size: $mui-input-font-size;
      line-height: 2;
    }
  }

  input.datetime-date {
    display: inline;
    width: 10em;
  }

  input.datetime-time {
    display: inline;
    width: 6.5em;
  }

  textarea {
    height: 6em;
  }

  // Codemirror editor will be initialized
  textarea.markdown,
  textarea.stylesheet {
    display: none;
  }

  .mui-form__label {
    position: static;
    margin: 0 0 $mui-grid-padding * 0.5;
    color: $mui-label-font-color;
    @extend .mui--text-subhead;
  }

  .mui-form__error {
    color: $mui-text-white;
    margin: $mui-grid-padding * 0.5 0 0;
    background: $mui-text-danger;
    border: 1px solid transparentize($mui-text-danger, 0.8);
    padding: $mui-grid-padding * 0.5 $mui-grid-padding;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 2px;
    display: inline-block;
    @extend .mui--text-caption;

    > li {
      list-style: none;
      margin-top: $mui-grid-padding * 0.5;
    }
  }

  .mui-form__error:before {
    display: block;
    content: '';
    position: absolute;
    border: 6px solid transparent;
    border-bottom: 6px solid $mui-text-danger;
    top: -13px;
    left: 20px;
  }

  .mui-form__error.mui-form__error--left:before {
    border-right: 6px solid $mui-text-danger;
    border-bottom: 6px solid transparent;
    top: 10px;
    left: -13px;
  }

  .has-error .mui-textfield > input,
  .has-error .mui-textfield > textarea {
    border-bottom: 1px solid $mui-text-danger;
  }
  .has-error .mui-textfield > label,
  .has-error label,
  .has-error .mui-form__helptext {
    color: $mui-text-danger;
  }

  .alert {
    margin-bottom: $mui-grid-padding;
  }
}

.mui-form {
  .mui-form__fields.mui-form__fields--noborder {
    .mui-textfield > input,
    .mui-textfield > textarea {
      border: none !important;
    }
    .mui-textfield > label {
      color: $mui-text-light;
      font-weight: 500;
      @extend .mui--text-body2;
      transform: none;
      top: -$mui-grid-padding * 0.25;
    }
  }
}

.mui-form--margins {
  margin-top: 1 * $mui-grid-padding;
  margin-bottom: 2 * $mui-grid-padding;
}

// ============================================================================
// Select
// ============================================================================

.mui-select {
  margin-top: $mui-grid-padding * 0.5;
  margin-bottom: 0;
  > label {
    top: -$mui-grid-padding * 0.25;
  }
  .select2 {
    width: 100% !important;
  }
  .mui-select__menu {
    z-index: 100;
  }
}

// For select dropdown will be on top of the header
.mui-scroll-lock .header--fixed {
  z-index: 1;
}

// ============================================================================
// Listwidget
// ============================================================================

.listwidget ul,
.listwidget ol {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 0;
}

.listwidget ul li,
.listwidget ol li {
  position: relative;
  margin-left: 1.25em;
}

.listwidget ul input,
.listwidget ol input {
  position: absolute;
  left: -1.25em;
  top: 0.25em;
}

.listwidget ul label,
.listwidget ol label {
  display: inline-block;
}

// ============================================================================
// Imgee popup in Account edit form
// ============================================================================

.imgee {
  position: relative;
  .imgee__url-holder {
    display: block;
    max-width: 200px;
    margin-bottom: $mui-grid-padding * 0.5;
  }

  .imgee__loader {
    position: absolute;
    top: 100px;
    left: 200px;
    width: 35px;
    height: 35px;
  }

  .imgee__button {
    margin-bottom: $mui-grid-padding * 0.5;
  }
}

.modal--fullscreen {
  iframe.imgee-upload {
    width: 100%;
    height: 100vh;
    border: 0;
  }
}

.popup {
  .mui-container {
    max-width: calc(100% - 32px);
    .popup__imgee {
      padding: 0;
    }
  }
}

// ============================================================================
// Inline form
// ============================================================================

.inline-form {
  display: inline-block;
  vertical-align: middle;
}

.form-inline-input {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
.form-inline-label {
  display: inline-block;
  width: 70%;
}

// ============================================================================
// Form in a modal
// ============================================================================

.modal-form-page .jquery-modal.blocker.current {
  padding: 0;
}

.modal {
  .mui-form {
    .mui-select__menu {
      z-index: 1001;
    }
  }
}

.modal--form {
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  border-radius: 0;
  overflow: auto;

  .modal--form__action-box {
    padding: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    border-top: 1px solid $mui-divider-color;
    border-bottom: 1px solid $mui-divider-color;
    z-index: 1002;
  }

  .modal--form__action-box--revoke {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;

    .mui-btn.mui-btn--nostyle {
      text-transform: none;
    }
  }

  .mui-form {
    .form-actions div {
      float: right;
    }
  }
}

.modal--form.modal--form--edit {
  .modal--form__action-box,
  .mui-form .form-actions {
    bottom: 65px;
  }
}

@media (min-width: 768px) {
  .jquery-modal.blocker.current .modal.modal--form {
    min-width: 50%;
    height: auto;
    border-radius: 4px;
  }
}

.modal__body--form {
  .mui-tabs__bar {
    margin-bottom: 45px;
  }
  .mui-btn--primary {
    width: 100%;
  }
  .mui-form {
    margin-bottom: 0;
  }
}

.modal-form {
  display: none;
}

.jquery-modal .js-modal .modal-form {
  display: block;
}

.modal {
  .mui-form.mui-form--margins {
    margin: 0;
  }
}

// ============================================================================
// Add/Edit crew form
// ============================================================================

.modal--form {
  #field-user {
    margin-bottom: 32px;
  }
}

.modal--form--edit {
  .select2.select2-container {
    display: none !important;
  }
  .select2-hidden-accessible {
    background-color: #eee;
    cursor: not-allowed;
    height: 32px !important;
    position: relative !important;
    padding-left: $mui-grid-padding * 0.5 !important;
  }
  .mui-select:focus > label,
  .mui-select > select:focus ~ label {
    color: rgba(0, 0, 0, 0.54);
  }
}

// ============================================================================
// Badge print select
// ============================================================================

.badge-print-status-btn .mui-form__fields.select2-inline {
  min-width: 160px;
}

// ============================================================================
// Input field helper icon (keyboard switch/Show password)
// ============================================================================

.field-toggle {
  display: none;
}

// ============================================================================
// Select2
// ============================================================================

.select2-hidden-accessible ~ .mui-select__menu {
  display: none !important;
}

.select2-container .select2-selection {
  border: none;
  border-radius: 0;
  background-image: none;
  background-color: transparent;
  border-bottom: 1px solid #ccc;
  box-shadow: none;
}

.select2-container .select2-dropdown {
  border: none;
  border-radius: 0;
  -webkit-box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
}

.select2-container.select2-container--focus .select2-selection,
.select2-container.select2-container--open .select2-selection {
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #ccc;
}

.select2-container .select2-results__option--highlighted[aria-selected] {
  background-color: #eee;
  color: #1f2d3d;
}

.select2-container .select2-selection--single .select2-selection__arrow {
  background-color: transparent;
  border: none;
  background-image: none;
}


// ============================================================================
// Google Map in the form
// ============================================================================

.map {
  position: relative;
  .map__marker {
    margin-top: $mui-grid-padding * 0.5;
    width: 100%;
    height: 40em;
  }
  .map__clear {
    position: absolute;
    top: 22px;
    right: 0;
    z-index: 2;
    background: #fff;
  }
}
