@import 'components/variable';
@import 'components/draggablebox';
@import 'components/collapsible';

.schedule-grid {
  padding: 0;

  .tabs-wrapper {
    box-shadow: none;
  }

  .schedule {
    margin: 0 0 $mui-grid-padding-double;

    .schedule__date {
      margin-bottom: $mui-grid-padding;
      margin-top: 0;
    }

    .schedule__row {
      display: flex;

      .schedule__row__column {
        .schedule__row__column__content {
          background-color: $mui-bg-color-primary;
          width: 100%;
          padding: $mui-grid-padding 0;
          border-bottom: 1px solid rgba(132, 146, 166, 0.3);
          word-break: break-word;

          .schedule__row__column__content__title {
            width: calc(100% - 24px);

            .schedule__row__column__content__title__heading {
              cursor: pointer;
              font-weight: bold;
            }

            .schedule__row__column__content__title__heading:hover {
              color: $mui-primary-color;
            }
          }

          .schedule__row__column__content__description {
            clear: both;
            padding-top: $mui-grid-padding;
            padding-bottom: $mui-grid-padding;
            word-break: break-word;

            img {
              width: 100%;
            }
          }

          p {
            margin: 0;
          }
        }

        p.schedule__row__column__content__title__duration {
          background-color: $mui-accent-color-lighter;
          color: $mui-text-accent-lighter;
          z-index: 1;
          float: right;
          padding: 5px;
          border-radius: 3px;
          line-height: 1;
          margin-top: 4px;
        }
      }

      .schedule__row__column.js-active {
        display: block;
      }

      .schedule__row__column--talks {
        cursor: pointer;
      }
    }

    .schedule__row.js-active {
      display: flex;
    }

    .schedule__row--hide {
      display: none;
    }

    .schedule__row:before,
    .schedule__row:after {
      content: ' ';
      display: table;
    }

    .schedule__row--sticky {
      display: flex;
      align-items: center;
      overflow-x: auto;
      position: sticky;
      position: -webkit-sticky;
      top: 0;
      order: 1;
      z-index: 2;
      border: none;
      display: flex;
      background: $mui-bg-color-primary;
      border-bottom: 1px solid rgba(132, 146, 166, 0.3);

      .schedule__row__column--header {
        display: flex !important;
        padding: 0 $mui-grid-padding/2;
        margin: 0;
        align-items: center;
        justify-content: center;
        background-color: $mui-bg-color-primary;
        background-image: none !important;
        border-bottom: 2px solid rgba(132, 146, 166, 0.3);
        min-height: 50px;
        min-width: 100px;
        width: 100% !important;
      }

      .schedule__row__column--header.js-tab-active {
        border-bottom: 2px solid $mui-accent-color;
      }

      .schedule__row__column--time {
        display: none;
      }

      .schedule__row__column--time--pointer {
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 767px) {
  .schedule {
    .schedule__row {
      display: none;
      height: auto !important;

      .schedule__row__column {
        display: none;
        .schedule__row__column__content {
          min-height: 50px;
        }
      }
    }
    .schedule__row--sticky {
      display: flex;
    }
    .schedule__row.js-active {
      display: flex;
      .schedule__row__column.js-active {
        display: block;
      }
    }
  }
}

@media (min-width: 768px) {
  .schedule-grid {
    .schedule {
      margin: $mui-grid-padding-double 0;
      .schedule__date {
        padding-left: 0;
      }
      .schedule__table {
        overflow: auto;
        .schedule__row {
          overflow: auto;
          .schedule__row__column {
            position: relative;
            background-image: image-url('schedule-box-background.png');
            background-size: 20px 10px;
            min-width: 200px;

            .schedule__row__column__content--calendar {
              position: absolute;
              top: 0;
              left: 0;
              z-index: 1;
              height: 100%;
              overflow: scroll;
              border: 0;
              border-bottom: 1px solid rgba(132, 146, 166, 0.3);
            }
            .schedule__row__column__content {
              width: calc(100% - 1px);
              height: 100%;
              .schedule__row__column__content__title__duration {
                top: 205px;
              }
            }
          }
          .schedule__row__column--1 .schedule__row__column__content {
            width: 100%;
          }
          .schedule__row__column--time {
            display: block;
            background-image: none;
            border-bottom: 0;
            margin: 0;
            background-color: $mui-bg-color-primary;
            display: block;
            padding: $mui-grid-padding/4 0 0;
            text-align: center;
            color: $mui-accent-color;
            text-decoration: none;
            line-height: 1;
            margin: 0;
          }
          .schedule__row__column--time--pointer {
            cursor: pointer;
            height: 100%;
          }
        }
        .schedule__row--sticky {
          overflow: auto;

          .schedule__row__column--header {
            outline: 1px solid rgba(132, 146, 166, 0.3);
            border: none !important;
          }
          .schedule__row__column--time--header {
            display: block;
            padding: $mui-grid-padding/2 0;
          }
        }
        .schedule__row--calendar {
          border-bottom: 1px solid rgba(132, 146, 166, 0.3);
          overflow: visible;
          .schedule__row__column {
            .schedule__row__column__content {
              padding: 0;
              .schedule__row__column__content__title__duration {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

.calendar-wrapper {
  position: relative;

  .datepicker-wrapper {
    .mui-textfield {
      width: auto;
    }

    input {
      min-width: 120px;
      width: auto;
      margin: 0;
      font-size: 16px;
    }

    .datepicker-wrapper__tz {
      padding-top: 18px;
      margin-left: 5px;
    }
  }
}

.jquery-modal.blocker.current .session-modal.session-modal--nopadding {
  padding: 0;
  width: 100%;

  .modal__header {
    padding: 0 $mui-grid-padding $mui-grid-padding/4;
    border-bottom: 1px solid rgba(132, 146, 166, 0.3);

    .session-modal__title {
      max-width: calc(100% - 20px);
      margin: $mui-grid-padding/2 0 $mui-grid-padding/2;
      position: static;
    }

    .modal__header__title {
      margin-bottom: $mui-grid-padding/4;
      font-weight: bold;
    }

    .modal__header__text {
      margin: 0 0 $mui-grid-padding/4;
    }
  }

  .modal__body {
    padding: 0 $mui-grid-padding $mui-grid-padding;
    word-break: break-word;

    .modal__body__separator {
      margin: $mui-grid-padding 0;
    }

    .modal__body__section {
      margin: 0 0 $mui-grid-padding;

      .modal__body__section__text {
        margin: 0 0 5px;
      }
    }
    .details__box--left {
      max-width: 70%;
      margin-top: 16px;
    }
  }
}

.jquery-modal.blocker.current .session-modal {
  .session-modal__title {
    max-width: calc(100% - 20px);
    margin-top: 0;
    position: relative;
    top: -6px;
    margin-bottom: $mui-grid-padding/2;
  }
}

@media (min-width: 1200px) {
  .jquery-modal.blocker.current .session-modal {
    width: 90%;
    max-width: 1000px;
    vertical-align: middle;
  }
}

.room__title,
.subscibe-title {
  border: 0;
  border-radius: 4px;
  font-weight: 200;
  padding: $mui-grid-padding 10px;
}

.room__title__subsc-btn {
  float: right;
  position: relative;
  top: -9px;
}

// full calendar header
.fc-header {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
  td {
    display: block;
    width: 100%;
    overflow: auto;
    margin: 0 0 5px;
  }
  .fc-header-center {
    display: none;
  }
  .fc-header-right {
    vertical-align: middle;
    .hg-fc-checkbox {
      vertical-align: middle;
      margin-right: 8px;
    }
    .hg-fc-button {
      margin: 0;
    }
  }
}

@media (min-width: 768px) {
  .fc-header {
    td {
      display: table-cell;
    }
    td.fc-header-left {
      width: 380px;
    }
  }
}

/* Calendar session */
.calendar-wrapper .fc-header-title {
  display: none;
}
.fc-event .fc-event-custom {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 40;
  display: none;
}

.fc-event:hover .fc-event-custom {
  display: block;
  padding: 1px 5px;
  background: $mui-bg-color-primary;
  background: rgba(255, 255, 255, 0.6);
  border-top-left-radius: 3px;
}

.fc-event .fc-event-custom a {
  font-weight: bolder;
  color: #c33;
  font-size: 1.2em;
}

.fc-event .fc-event-custom a:hover {
  color: #c00;
  text-decoration: none;
}

.proposal-box,
body > .proposal-box.ui-draggable {
  margin: $mui-grid-padding/2 0;
  padding: $mui-grid-padding/4 $mui-grid-padding/2;
  background: $mui-bg-color-primary;
  color: $mui-text-dark;
  border-radius: 4px;
  border: 1px solid $mui-divider-color;
  cursor: pointer;
}

.schedule-settings {
  margin-top: 10px;
}
