@import '../base/variable';

.login-page {
  background-color: $mui-bg-color-primary;
  .login-page__back {
    position: absolute;
    right: $mui-grid-padding;
    top: -$mui-grid-padding;
  }
  .cookies-required-alert {
    margin: $mui-grid-padding 0;
  }
  .form-message {
    margin-top: $mui-grid-padding;
    text-align: center;
  }
  .login-page__box {
    background-color: $mui-bg-color-primary;
    width: 100%;
    max-width: 400px;
    margin: $mui-grid-padding auto;

    .login-page__box__heading {
      margin: 0 0 $mui-grid-padding;
    }

    .login-page__box__title {
      margin: 5px 0 $mui-grid-padding;
      position: relative;

      .login-page__box__title__txt {
        position: relative;
        z-index: 2;
        display: inline-block;
        background: $mui-bg-color-primary;
        padding: 0 8px;
      }
    }

    .login-page__box__title:after {
      z-index: 1;
      content: '';
      height: 1px;
      width: 100%;
      border-bottom: 1px solid rgba(121, 129, 139, 0.13);
      position: absolute;
      left: 0;
      top: 50%;
    }

    .mui-form {
      margin: 0;
    }

    #field-recaptcha {
      height: 0;
      margin: 0;
    }

    .login-page__box__note {
      margin-top: $mui-grid-padding;
    }
  }
}

@media (min-width: 768px) {
  .login-page {
    background-color: $mui-bg-color-accent;
    .login-page__back {
      top: 0;
      margin: 0 auto;
      left: 0;
      right: 0;
      text-align: right;
      padding: $mui-grid-padding/2;
    }
    .header,
    .footer {
      display: block;
    }
    .login-page__box {
      position: relative;
      padding: ($mui-grid-padding * 2 + $mui-grid-padding/2) $mui-grid-padding * 2
        $mui-grid-padding * 2;
      border-radius: 16px;
      margin: 0 auto $mui-grid-padding * 2;
    }
  }
}

a.loginbutton.hidden,
.js a.loginbutton.jshidden,
.no-js a.loginbutton.no-jshidden {
  display: none;
  visibility: hidden;
}

.login-page--artwork {
  .login-page-wrapper {
    .login-page-artwork {
      display: none;
    }
  }
}

@media (min-width: 992px) {
  .login-page--artwork {
    .login-page-wrapper {
      display: flex;

      .login-page-artwork {
        width: calc(100% - 350px);
        padding-left: 50px;
        display: block;
      }
    }
  }
}

@media (min-width: 1200px) {
  .login-page--artwork {
    .login-page-wrapper {
      display: flex;

      .login-page-artwork {
        width: calc(100% - 350px);
        padding-left: 100px;
        display: block;
      }
    }
  }
}

// ============================================================================
// Social login icons
// ============================================================================

.social-login-wrapper {
  max-width: 80%;
  margin: auto;
}

.login-twitter,
.login-twitter:hover,
.login-twitter:active {
  background-color: #08a0e9 !important;
}

.login-google,
.login-google:hover,
.login-google:active {
  color: #757575;
  background: $mui-bg-color-primary !important;
}

.login-linkedin,
.login-linkedin:hover,
.login-linkedin:active {
  background-color: #0074b2 !important;
}

.login-github,
.login-github:hover,
.login-github:active {
  background-color: #444444 !important;
}

.login-zoom,
.login-zoom:hover,
.login-zoom:active {
  background-color: $mui-bg-color-primary !important;
}

// ============================================================================
// Input field helper icon
// ============================================================================

.field-toggle {
  position: absolute;
  right: 8px;
  bottom: 4px;
  float: right;
  z-index: 3;
}

// ============================================================================
// Password field
// ============================================================================

.mui-textfield--password {
  .password-toggle {
    display: inline-block;
  }
  .password-strength-icon {
    position: absolute;
    right: 22px;
    bottom: 9px;
    display: none;
  }
  .password-strength-icon--show {
    display: inline-block;
  }
  .progress {
    height: 4px;
    margin: $mui-grid-padding/2 0 25px;
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: 0 1px 3px $mui-box-shadow-grey, 0 1px 2px $mui-box-shadow-grey;
    position: relative;
    display: none;

    .progress__bar {
      float: left;
      width: 0;
      height: 100%;
      font-size: 12px;
      line-height: 20px;
      color: #fff;
      text-align: center;
      background-color: #428bca;
      box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
      -webkit-transition: width 0.6s ease;
      -o-transition: width 0.6s ease;
      transition: width 0.6s ease;
      max-width: 94% !important;
    }
    .progress__txt {
      position: absolute;
      top: 4px;
      left: 0;
      color: $mui-text-danger;
    }
    .progress__bar--danger {
      background-color: $mui-text-danger;
    }
    .progress__bar--success {
      background-color: $mui-text-success;
      .progress__txt {
        color: $mui-text-success;
      }
    }
  }
}

#form-password-change #field-password .progress {
  visibility: hidden;
  display: block;
}

#form-password-change #field-password .progress.progress--show {
  visibility: visible;
}

.mui-form .mui-form__fields.password-field {
  margin-bottom: 0;
}

.password-field-sidetext {
  margin: 0 0 20px;
}

// ============================================================================
// Keyboard switcher
// ============================================================================

.mui-textfield {
  input#username:focus ~ .keyboard-switch {
    display: inline-block;
  }
}
