@use 'sass:math';
@import '../base/variable';

.calendar {
  width: 100%;
  min-height: 100vh;

  .calendar__wrapper__project-list {
    .calendar__wrapper__project-list__table {
      border-collapse: collapse;
      overflow: hidden;
      margin: 0 !important;
      border-radius: 16px;
      tr {
        border-bottom: 1px solid rgba(132, 146, 166, 0.3);
      }

      .calendar__wrapper__project-list__table__venue {
        margin: $mui-grid-padding 0 0;
        display: flex;
        gap: $mui-grid-padding/4;
      }
    }
  }

  .calendar__wrapper__calendar__toolbar {
    float: right;
    padding: math.div($mui-grid-padding, 2) $mui-grid-padding;
    position: relative;
    align-items: center;
    z-index: 3;

    .calendar__wrapper__calendar__toolbar__month {
      font-size: 14px;
      margin-top: 8px;
      width: 120px;
      text-align: center;
      font-variant: all-small-caps;
    }

    .calendar__wrapper__calendar__toolbar__filter {
      height: 30.6px;
    }

    .calendar__wrapper__calendar__toolbar__filter__menu {
      position: absolute;
      left: 158px;
      padding: $mui-grid-padding;
      background-color: $mui-bg-color-primary;
      z-index: 1000;
      box-shadow:
        0 0 2px rgba(0, 0, 0, 0.12),
        0 2px 2px rgba(0, 0, 0, 0.2);
      border-radius: 0 16px 16px 16px;
      min-width: 200px;

      button {
        width: 100%;
        margin-top: $mui-grid-padding;
      }
    }
  }

  @media (max-width: 768px) {
    .calendar__wrapper .calendar__wrapper__headline {
      order: 2;
    }
    .calendar__wrapper .calendar__wrapper__project-list {
      order: 2;
    }
    .calendar__wrapper .calendar__wrapper__calendar {
      order: 1;
      margin: -$mui-grid-padding-double 0 $mui-grid-padding * 1.5;
      position: sticky;
      top: $mui-grid-padding-double;
      z-index: 2;
    }
  }
}

.fc-header-toolbar {
  display: none !important;
}

.fc {
  margin: $mui-grid-padding auto 0;
  width: 100%;
  max-width: 100%;

  table.fc-scrollgrid-sync-table {
    height: 200px !important;
  }

  thead {
    border-bottom: 8px solid #fff;
  }

  th {
    color: #4d5763;
    font-variant: all-small-caps;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    opacity: 0.5;
  }

  .fc-col-header-cell-cushion {
    color: $mui-text-dark;
  }

  .fc-daygrid-day-number {
    margin: auto;
    color: $mui-text-light;
  }

  .fc-daygrid-dot-event {
    justify-content: center;
    margin: 0 !important;
    padding: 0;
  }

  .fc-day-disabled {
    background-color: #fff;
  }

  .fc-multimonth-month {
    justify-content: left;
    padding: 0;
  }
  .fc-multimonth-header {
    border-radius: 16px;
  }
  .fc-view-harness-active > .fc-view {
    border-radius: 16px;
    inset: 10px 0 0;
  }
  .fc-scroller-harness-liquid {
    border-radius: 0 0 16px 16px;
  }
  .fc-multimonth {
    margin-top: -66px;
    border: none !important;
  }

  --fc-border-color: #fff;
  --fc-today-bg-color: #e1eefd;
}

.fc-event-time,
.fc-event-title {
  display: none;
}

.fc-popover-body .fc-event-time,
.fc-popover-body .fc-event-title {
  display: block;
}

.fc-theme-standard .fc-scrollgrid {
  border: none;
}

.fc-scrollgrid-section td,
.fc-scrollgrid-section th {
  border: none;
}

.fc-multimonth-title {
  font-size: 14px !important;
  font-variant: all-small-caps;
  padding: $mui-grid-padding * 3 $mui-grid-padding $mui-grid-padding !important;
  text-align: left !important;
  font-weight: 600 !important;
}

.fc-view-harness {
  height: 260px !important;
}

.fc-daygrid-day-frame {
  height: 38px;
}

.fc-day-past,
.fc-day-future,
.fc-day-today {
  color: #4d5763;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  opacity: 06;
  background: #fff !important;
}

.fc-day-past .fc-daygrid-day-number {
  opacity: 0.5;
}
.fc-day-future .fc-daygrid-day-number {
  opacity: 0.5;
}
.fc-day-today .fc-daygrid-day-number {
  opacity: 1;
  color: #1f2d3d;
  font-weight: 700;
}
