@import '../base/variable';

.calendar-container {
  width: 100%;
  min-height: 300px;
  padding-top: 32px;
}

.fc-header-toolbar {
  display: none !important;
}

.fc {
  margin: 20px auto;
  width: 100%;
  max-width: 100%;

  .fc-col-header-cell-cushion {
    color: $mui-text-dark;
  }

  .fc-daygrid-day-number {
    margin: auto;
    color: $mui-text-dark;
  }

  --fc-border-color: #fff;
}

.fc-view-harness {
  height: 428px !important;
}

.filter-menu {
  position: absolute;
  padding: $mui-grid-padding;
  background-color: $mui-bg-color-primary;
  z-index: 1000;
  box-shadow:
    0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 16px 16px 16px;
}
