@import '../base/variable';
@import '../components/subnavbar';
@import '../components/proposal-card';
@import '../components/switch';
@import '../components/footable';
@import '../components/draggablebox';
@import 'leaflet';

@media (min-width: 768px) {
  .project-page__content {
    padding-top: $mui-grid-padding;
  }
}

.project-footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: $mui-grid-padding * 0.25 $mui-grid-padding $mui-grid-padding * 0.25 !important;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  z-index: 1000;
  min-height: 53px;

  .mui-dropdown__menu {
    top: -54px !important;
    border-radius: 16px 16px 0px;
    z-index: 6;
  }
}

.project-footer--main {
  display: flex;
}

@media (min-width: 768px) {
  .project-footer {
    position: static;
    box-shadow: none;
    padding: $mui-grid-padding $mui-grid-padding 0 !important;
    min-height: auto;
    display: flex;
    margin-bottom: $mui-grid-padding;

    .mui-dropdown__menu {
      top: auto !important;
      border-radius: 16px 0 16px 16px;
    }
  }
}

.register-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  .register-block__content {
    width: 100%;
    .register-block__content__rsvp-txt {
      display: none;
    }
    .register-block__content__txt {
      font-size: 9px;
      line-height: 16px;
      width: 100%;
      display: block;
      font-style: italic;
      margin-bottom: $mui-grid-padding * 0.25;
    }
    .register-block__btn {
      width: 100%;
      font-size: 10px;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 0 2px;
      justify-content: center;
      height: 42px;
      .register-block__btn__txt {
        display: block;
        width: 100%;
        font-size: 12px;
        line-height: 16px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      .register-block__btn__txt--hover--show {
        display: none;
      }
      .register-block__btn__txt--smaller {
        font-size: 10px;
        line-height: 16px;
        text-transform: initial;
        font-weight: 400;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: auto;
      }
      &:hover .register-block__btn__txt--hover {
        display: none;
      }
      &:hover .register-block__btn__txt--hover--show {
        display: block;
        color: $mui-text-danger;
      }
      &:hover {
        border-color: $mui-text-danger;
      }
    }
  }
  .register-block__content--half {
    width: calc(50% - 8px);
    align-self: flex-end;
  }
  .register-block__content--half:first-child {
    margin-right: 16px;
  }
}

@media (min-width: 380px) {
  .register-block {
    .register-block__content {
      .register-block__content__txt {
        font-size: 10px;
      }
    }
  }
}

@media (any-pointer: coarse) {
  .register-block {
    .register-block__content {
      .register-block__content__rsvp-txt {
        display: block;
        font-size: 12px;
        font-weight: 500;
      }
      .register-block__btn {
        border-color: $mui-text-danger;
        .register-block__btn__txt--hover {
          display: none;
        }
        .register-block__btn__txt--hover--show {
          display: block;
          color: $mui-text-danger;
        }
        .register-block__btn__txt--mobile {
          display: none;
        }
      }
    }
    .register-block__content--half {
      .register-block__content__rsvp-txt {
        font-size: 9px;
      }
    }
  }
}

@media (min-width: 768px) {
  .project-footer {
    .register-block {
      display: block;
      .register-block__content {
        width: 100%;
        margin-right: 0;
        margin-bottom: $mui-grid-padding;
        .register-block__content__rsvp-txt {
          font-size: 12px;
        }
        .register-block__content__txt {
          font-size: 14px;
          line-height: 21px;
          margin-bottom: $mui-grid-padding * 0.5;
        }
        .register-block__btn {
          width: 100%;
          font-size: inherit;
          height: 42px;
          .register-block__btn__txt {
            font-size: 14px;
          }
          .register-block__btn__txt--smaller {
            font-size: 12px;
          }
        }
      }
    }
  }
}

.project-header-wrapper {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(#ffffff, #f9f9f9);
}

@media (min-width: 768px) {
  .project-header-wrapper {
    padding-bottom: $mui-grid-padding;
    background-image: none;
  }
}

@media (min-width: 992px) {
  .project-details-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 134px;
  }
}

.project-header {
  position: fixed;
  top: $mui-grid-padding;
  right: $mui-grid-padding;
  z-index: 1001;
  display: flex;
  align-items: center;
  margin: 0;
  .hg-link-btn.hide {
    display: none;
  }
  .mui-btn--nostyle + .mui-btn--nostyle {
    margin: 0;
  }
  .bookmark {
    position: relative;
    top: -2px;
  }
}

@media (min-width: 768px) {
  .project-header {
    position: relative;
    right: 0;
    top: 0;
  }
}

.sub-navbar-container__inner {
  .desktop-navbar-items {
    display: none;
  }
}

@media (min-width: 768px) {
  .sub-navbar-container__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 $mui-grid-padding;
    .sub-navbar {
      width: 100%;
    }
  }
}

@media (min-width: 768px) {
  .sub-navbar-container__inner {
    .desktop-navbar-items {
      justify-content: flex-end;
    }
  }
}

.project-banner {
  padding: 0 !important;

  .project-banner__profile-details {
    display: flex;
    align-items: center;
    margin-bottom: $mui-grid-padding * 0.5;

    .project-banner__profile-details__logo-wrapper {
      display: inline-block;
      height: 24px;
      width: 24px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: $mui-grid-padding * 0.5;

      .project-banner__profile-details__logo_wrapper__logo {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .project-banner__profile-details--center {
    justify-content: center;
    margin-bottom: $mui-grid-padding;
  }
  .livestream-box {
    margin: 0;
    padding: 0;
  }
  .project-banner__box {
    padding: 0;
    position: relative;

    .project-banner__box__image {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    .project-banner__box__add-btn {
      position: absolute;
      bottom: $mui-grid-padding;
      right: $mui-grid-padding;
      z-index: 2;
    }
    .project-banner__box__add-btn--second {
      right: 60px;
      bottom: $mui-grid-padding;
    }
  }

  .profile-text {
    margin: $mui-grid-padding 0;

    p {
      display: none;
    }

    p:first-child {
      margin: 0;
      display: block;
    }
  }

  .project-details__box {
    position: relative;

    .project-details__box__content {
      padding: $mui-grid-padding 0;
    }
    .project-details__box__content--lesspadding {
      padding: 0;
    }
    .project-details__box__content--nopadding {
      padding: 0 !important;
    }

    .card__calendar {
      padding: 0 0 $mui-grid-padding;
      .calendar {
        .calendar__month--unique {
          display: none;
        }
        .calendar__weekdays .calendar__weekdays__dates {
          display: none;
          padding-bottom: 17px;
        }

        .calendar__weekdays .calendar__month--latest,
        .calendar__weekdays .calendar__weekdays__dates--latest {
          display: flex;
          margin-bottom: $mui-grid-padding * 0.5;
        }

        .calendar__weekdays .calendar__weekdays__dates:last-child {
          padding-bottom: 0;
        }
      }
    }
    .project-venue {
      margin: $mui-grid-padding 0;
    }
    .propose {
      margin: $mui-grid-padding 0;
      .propose__txt {
        font-size: 12px;
        svg {
          width: 12px;
          height: 12px;
        }
      }
    }
  }
}

.project-banner__left,
.project-banner__left.livestream-box {
  margin-left: -16px;
  margin-right: -16px;
  .embed-video-wrapper--shaped {
    border-radius: 0;
  }
}

@media (min-width: 768px) {
  .project-banner {
    display: flex;
    .project-banner__box {
      .project-banner__box__add-btn {
        right: $mui-grid-padding;
      }
      .project-banner__box__add-btn--second {
        right: 60px;
      }
    }
    .project-details__box {
      width: 100%;
      .project-details__box__content {
        padding: $mui-grid-padding;
      }
      .project-details__box__content--lesspadding {
        padding: 0 $mui-grid-padding;
      }
      .propose {
        .propose__txt {
          font-size: 14px;
          svg {
            width: 14px;
            height: 14px;
          }
        }
      }
    }
    .project-banner__left {
      width: 67%;
      margin: 0 $mui-grid-padding 0 0;
      .embed-video-wrapper--shaped {
        border-radius: 16px;
      }
    }
    .project-banner__right {
      width: 33%;
    }
  }
  .project-banner.project-banner--inner {
    .project-banner__left--smaller {
      width: 25%;
    }
    .project-banner__right--smaller {
      width: 75%;
    }
  }
}

@media (min-width: 992px) {
  .project-banner {
    .profile-text {
      margin: 0 0 $mui-grid-padding * 0.25;

      p {
        margin: 0;
      }
    }
    .project-details__box {
      margin: 0;
    }
  }
}

@media (max-width: 767px) {
  .subproject-page {
    .subproject-page__hide {
      display: none;
    }
    .project-banner.project-banner--inner .project-details__box {
      padding: 0;
    }
  }
  .subproject-page.mobile-hide-livestream {
    .livestream-box {
      display: none;
    }
  }
}

.bookmark-wrapper {
  line-height: 1;
}

.pinned {
  .pinned__heading {
    font-weight: 500;
  }
  .pinned__update {
    text-decoration: none !important;
    display: inline-block;
    width: 100%;
    padding: $mui-grid-padding * 0.5 0;
    border-bottom: 1px solid $mui-divider-color;
  }
  .pinned__update__heading {
    padding: 0 $mui-grid-padding;
    display: none;
  }
  .pinned__update__body {
    margin-bottom: 0;
    word-break: break-word;
    > * {
      display: inline-block;
      margin-bottom: 0;
    }
    > img {
      display: none;
    }
  }
}

.pinned li:first-child {
  .pinned__update__heading {
    display: block;
  }
  .pinned__update {
    border-bottom: 0;
  }
}

.pinned a:hover,
.pinned a:active {
  text-decoration: none !important;
}

.project-section {
  padding: $mui-grid-padding $mui-grid-padding 0;
}

.project-section__headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about {
  padding-bottom: $mui-grid-padding;
}

.tickets-wrapper {
  .tickets-wrapper__modal {
    display: none;
  }

  .tickets-wrapper__modal__back {
    display: none;
  }

  .tickets-wrapper__modal__body__close {
    display: none;
  }

  .tickets-wrapper__modal--show {
    position: fixed;
    top: 52px;
    background: $mui-bg-color-primary;
    left: 0;
    right: 0;
    padding: $mui-grid-padding;
    z-index: 1001;
    bottom: 0;
    overflow: auto;

    .tickets-wrapper__modal__back {
      display: block;
    }
  }
}

@media (min-width: 768px) {
  .tickets-wrapper {
    .tickets-wrapper__modal {
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.75);
    }

    .tickets-wrapper__modal__body {
      max-width: 500px;
      margin: auto;
      width: 90%;
      padding: 0;
      min-height: auto;
      border-radius: 16px;
      background-color: $mui-bg-color-primary;
      overflow: auto;
      .tickets-wrapper__modal__body__close {
        display: block;
        float: right;
        margin-right: $mui-grid-padding * 0.5;
        margin-top: $mui-grid-padding * 0.5;
      }
    }
  }
}

.about .rsvp-wrapper {
  padding-top: 50px;
}

@media (min-width: 768px) {
  .about .rsvp-wrapper {
    padding: 10px;
    box-shadow:
      0 1px 3px rgba(158, 158, 158, 0.12),
      0 1px 2px rgba(158, 158, 158, 0.24);
  }
}

.project-section__map {
  height: 400px;
  width: 100%;
  z-index: 0;
  margin: 0 0 $mui-grid-padding;
  position: relative;
  outline: none;
}

.setting {
  display: flex;
  flex-direction: column;
  .setting__name {
    font-weight: 500;
  }
  .setting__sub {
    font-size: 12px;
  }
}

@media (min-width: 1200px) {
  .setting {
    display: flex;
    flex-direction: row;
    align-items: center;
    .setting__name {
      flex-shrink: 0;
      margin-top: 0;
      border-right: 1px solid $mui-text-light;
      padding-right: $mui-grid-padding * 0.5;
      margin-right: $mui-grid-padding * 0.5;
      line-height: 1;
    }
    .setting__separator {
      display: block;
      margin: 0 $mui-grid-padding * 0.5;
    }
    .setting__sub {
      font-size: 16px;
      line-height: 1;
    }
  }
}

.project-page .alert-wrapper {
  background: $mui-bg-color-primary;
}

.map {
  position: relative;
  .map__marker {
    margin-top: $mui-grid-padding * 0.5;
    width: 100%;
    height: 40em;
  }
  .map__clear {
    position: absolute;
    top: 22px;
    right: 0;
    z-index: 2;
    background: #fff;
  }
}

.label {
  padding: 4px 8px;
  font-size: 12px;
  text-transform: uppercase;
  color: $mui-text-light;
  border: 1px solid $mui-divider-color;
  background-color: $mui-bg-color-accent;
  border-radius: 2px;
  display: inline-block;
  margin: 0 4px 4px 0;
  text-decoration: none;
  font-weight: 500;
}

.label:hover {
  text-decoration: none;
}

.typeform-wrapper {
  width: 100%;
  height: 100vh;
}
