{%- extends "layout.html.jinja2" -%}

{% block content %}{% endblock %}

{% block layoutscripts %}
  {{ super() }}
  {% assets "js_tinymce" %}<script src="{{ ASSET_URL }}" type="text/javascript"></script>{% endassets %}
{% endblock %}