{% macro project_countdown() %}
  {% raw %}
    <span>{{ gettext('Today') }}</span>
    <span>{{ gettext('Tomorrow') }}</span>
    <span>{{ gettext('Day after') }}</span>
    <span>{{ gettext('In %d days', 3) }}</span>
  {% endraw %}
{% endmacro %}
