{% macro comments_tree() %}
  {% raw %}
    <div id="comments-wrapper" v-cloak>
      <p v-if="!isuserloggedin"><a class="mui-btn mui-btn--small mui-btn--raised mui-btn--primary" :href="loginUrl" data-cy="login-btn">{{ gettext('Login to leave a comment') }}</a></p>
      <a href="#" onclick="return false;" class="post-form-block nounderline js-new-comment-form" :class="[commentForm ? 'mui--hide' : '']" @click="showNewCommentForm($event, 'comment_message')" :aria-label="gettext('Post comment')" data-cy="post-comment" v-else role="button">
        <span class="post-form mui--hidden-xs mui--hidden-sm">{{ gettext('Post a comment…') }}</span>
        <div class="user mui--hidden-xs mui--hidden-sm">
          <div class="user__box">
            <useravatar :user='user' :addprofilelink=false></useravatar>
          </div>
        </div>
        <span class="comment-new-mobile mui--text-hyperlink mui--hidden-md mui--hidden-lg mui--hidden-xl"><faicon :icon="'comment-alt'" :icon_size="'subhead'" :css_class="'fa-icon--right-margin'"></faicon>{{ gettext('New comment') }}</span>
      </a>
      <div class="mui--hidden-md mui--hidden-lg mui--hidden-xl mobile-nav-wrapper" v-if="showmodal">
        <div class="mobile-nav mui--z1">
          <span :aria-label="gettext('Close')" class="mui--text-dark mobile-nav__icon" data-ga="Close new comment form" @click="closeNewCommentForm($event)"><faicon :icon="'times'" :icon_size="'title'"></faicon></span><span class="mui--text-dark mobile-nav__headline">{{ formTitle }}</span>
        </div>
      </div>
      <div class="ajax-form" :class="[showmodal ? 'ajax-form--mob' : '']" v-if="commentForm">
        <form method="post" accept-charset="UTF-8" class="mui-form" @submit.prevent="submitCommentForm('new-comment-form', newCommentUrl, COMMENTACTIONS.NEW)" id="new-comment-form" data-cy="new-form">
          <div class="mui-form__fields">
            <textarea id="comment_message" name="message" required="required" class="field-comment_message" v-model="textarea"></textarea>
          </div>
          <button type="submit" class="mui-btn mui-btn--raised mui-btn--primary icon-btn" v-if="textarea" data-cy="submit-comment"><faicon :icon="'paper-plane'" :icon_size="'subhead'" :baseline=false :css_class="'mui--text-hyperlink'"></faicon></button>
          <div class="user" v-else>
            <div class="user__box">
              <useravatar :user='user' :addprofilelink=false></useravatar>
            </div>
          </div>
        </form>
        <p class="mui--text-subhead mui--text-danger mui--text-right" v-if="errorMsg">{{ errorMsg }}</p>
      </div>
      <ul class="mui-list--unstyled comment-wrapper" v-for="comment in comments">
        <comment :comment="comment" :user='user' :isuserloggedin="isuserloggedin"></comment>
      </ul>
      <p v-if="comments.length === 0" class="mui--hidden-md mui--hidden-lg mui--hidden-xl">{{ gettext('No comments posted yet') }}</p>
    </div>
  {% endraw %}
{% endmacro %}

{% macro comment_template() %}
  {% raw %}
    <script type="text/x-template" id="comment-template">
      <li class="comment" :class="[formOpened ? 'comment--modal' : '']" :id="'c-' + comment.uuid_b58">
        <div class="mui--hidden-md mui--hidden-lg mui--hidden-xl mobile-nav-wrapper" v-if="formOpened">
          <div class="mobile-nav mui--z1">
            <span :aria-label="gettext('Close')" class="mui--text-dark mobile-nav__icon" data-ga="Close comment form" @click="closeAllForms($event)"><faicon :icon="'times'" :icon_size="'title'"></faicon></span><span class="mui--text-dark mobile-nav__headline">{{ commentFormTitle }}</span>
          </div>
        </div>
        <div class="comment__header">
          <button class="mui-btn mui-btn--nostyle comment__header__expand" :aria-label="gettext('Hide comment')" aria-expanded="true" v-if="!hide" @click="collapse(true)">
            <faicon :icon="'caret-circle-up'" :icon_size="'subhead'"></faicon>
          </button>
          <button class="mui-btn mui-btn--nostyle comment__header__expand" aria-expanded="false" :aria-label="gettext('Collapse comment')" v-else @click="collapse(false)">
            <faicon :icon="'caret-circle-down'" :icon_size="'subhead'"></faicon>
          </button>
          <div class="comment__header__details user">
            <div class="user__box" v-if="!comment.state">
              <useravatar :user='comment.user' :addprofilelink=true></useravatar>
              <div class="user__box__header comment__header__details__user">
                <h3 class="mui--text-body2 user__box__fullname zero-bottom-margin">
                  <span class="commenter">{{ comment.user.fullname }}</span>
                  <span class="commenter mui--text-light mui--text-caption" v-if="comment.state && comment.state.DELETED">[deleted]</span>
                  <span class="commenter mui--text-light mui--text-caption" v-if="comment.state && comment.state.SPAM">[removed]</span>
                </h3>
                <h3 v-if="comment.user.username" class="mui--text-caption user__box__userid"><span>@{{ comment.user.username }}</span> <span class="badge" v-for="badge in comment.badges">{{ badge }}</span></h3>
              </div>
            </div>
          </div>
        </div>
        <transition name="slide">
          <div class="comment__body" v-if="!hide">
            <div class="comment__body__inner">
              <div v-if="!comment.state" v-html="comment.message.html" class="markdown"></div>
              <a class="mui--text-caption mui--text-light comment--permalink hg-link-btn" :href="'#c-' + comment.uuid_b58">Posted {{ created_at_age }}</a>
              <span class="mui--text-caption mui--text-light" v-if="comment.edited_at">({{ gettext('edited %s', edited_at_age) }})</span>
              <div class="js-comment-form">
                <a href="#" onclick="return false;" class="link-icon mui--text-light link comment__body__links" data-cy="reply" v-if="isuserloggedin" @click="activateSubForm($event, COMMENTACTIONS.REPLY, 'reply-comment-textarea-' + comment.uuid_b58)"><faicon :icon="'comment-alt'" :baseline=false></faicon><span class="mui--hidden-xs mui--hidden-sm">{{ gettext('Reply') }}</span></a>
                <a href="#" onclick="return false;" class="link-icon mui--text-light link comment__body__links" data-cy="report-spam" v-if="isuserloggedin" @click="activateSubForm($event, COMMENTACTIONS.REPORTSPAM)"><faicon :icon="'flag-alt'":baseline=false></faicon><span class="mui--hidden-xs mui--hidden-sm">{{ gettext('Report') }}</span></a>
                <div class="mui-dropdown">
                  <a href="#" onclick="return false;" class="link-icon project-links mui--text-light link comment__body__links" data-mui-toggle="dropdown" data-ga="Share dropdown" data-cy="share-project" role="button" aria-haspopup="true" aria-expanded="false"><faicon :icon="'share-alt'" :baseline=false :css_class="'fa5-icon--aligntop'"></faicon><span class="mui--hidden-xs mui--hidden-sm">{{ gettext('Share') }}</span></a>
                  <sharedropdown :url='comment.urls.view' :title='comment.title'></sharedropdown>
                </div>
                <a href="#" onclick="return false;" class="link-icon mui--text-light hg-link-btn mui--hide link comment__body__links" :data-title="comment.title" :data-url="comment.absolute_url + '?utm_campaign=webshare'" :data-text=comment.message.text><faicon :icon="'share-alt'" :baseline=false :css_class="'fa5-icon--aligntop'"></faicon></a>
                <div class="mui-dropdown" v-if="comment.urls.edit || comment.urls.delete">
                  <a href="#" onclick="return false;" class="link-icon mui--text-light link comment__body__links" data-mui-toggle="dropdown" data-cy="comment-menu" role="button" aria-haspopup="true" aria-expanded="false"><faicon :icon="'ellipsis-v'" :baseline=false :css_class="'fa5-icon--aligntop'"></faicon><span class="mui--hidden-xs mui--hidden-sm">{{ gettext('More') }}</span></a>
                  <ul class="mui-dropdown__menu mui-dropdown__menu--hg-link mui-dropdown__menu--small" data-cy="share-dropdown">
                    <li><a href="#" onclick="return false;" class="mui--text-body2 comment__body__links" data-cy="edit" v-if="comment.urls.edit" @click="activateSubForm($event, COMMENTACTIONS.EDIT, 'edit-comment-textarea-' + comment.uuid_b58)"><faicon :icon="'edit'" :icon_size="'caption'" :baseline=false :css_class="'mui--text-light fa-icon--right-margin'"></faicon>{{ gettext('Edit') }}</a></li>
                    <li><a href="#" onclick="return false;" class="mui--text-body2 comment__body__links" data-cy="delete" v-if="comment.urls.delete" @click="activateSubForm($event, COMMENTACTIONS.DELETE)"><faicon :icon="'trash-alt'" :icon_size="'caption'" :baseline=false :css_class="'mui--text-light fa-icon--right-margin'"></faicon>{{ gettext('Delete') }}</a></li>
                  </ul>
                </div>
                <div class="ajax-form" :class="[formOpened ? 'ajax-form--mob' : '']" v-if="replyForm">
                  <form method="post" accept-charset="UTF-8" class="mui-form" @submit.prevent="submitCommentForm('reply-comment-form-' + comment.uuid_b58, comment.urls.reply, COMMENTACTIONS.REPLY)" :id="'reply-comment-form-' + comment.uuid_b58" data-cy="reply-form">
                    <div class="mui-form__fields">
                      <textarea :id="'reply-comment-textarea-' + comment.uuid_b58" name="message" required="required" class="field-comment_message" v-model="reply"></textarea>
                    </div>
                    <button type="submit" class="mui-btn mui-btn--raised mui-btn--primary icon-btn" v-if="reply" data-cy="reply-comment"><faicon :icon="'paper-plane'" :icon_size="'subhead'" css_class="mui--text-hyperlink"></faicon></button>
                    <div class="user" v-else>
                      <div class="user__box">
                        <useravatar :user='user' :addprofilelink=false></useravatar>
                      </div>
                    </div>
                  </form>
                  <p class="mui--text-subhead mui--text-danger mui--text-right" v-if="errorMsg">{{ errorMsg }}</p>
                </div>
                <div class="ajax-form" :class="[formOpened ? 'ajax-form--mob' : '']" v-if="editForm">
                  <form method="post" accept-charset="UTF-8" class="mui-form" @submit.prevent="submitCommentForm('edit-comment-form-' + comment.uuid_b58, comment.urls.edit, COMMENTACTIONS.EDIT)" :id="'edit-comment-form-' + comment.uuid_b58" data-cy="edit-form">
                    <div class="mui-form__fields">
                      <textarea :id="'edit-comment-textarea-' + comment.uuid_b58" name="message" required="required" class="field-comment_message" v-model="textarea"></textarea>
                    </div>
                    <button type="submit" class="mui-btn mui-btn--raised mui-btn--primary icon-btn" v-if="textarea" data-cy="edit-comment"><faicon :icon="'paper-plane'" :icon_size="'subhead'" css_class="mui--text-hyperlink"></faicon></button>
                    <div class="user" v-else>
                      <div class="user__box">
                        <useravatar :user='user' :addprofilelink=false></useravatar>
                      </div>
                    </div>
                  </form>
                  <p class="mui--text-subhead mui--text-danger mui--text-right" v-if="errorMsg">{{ errorMsg }}</p>
                </div>
                <div class="ajax-form ajax-form--block" :class="[formOpened ? 'ajax-form--mob' : '']" v-if="deleteForm">
                  <form method="post" accept-charset="UTF-8" class="mui-form" @submit.prevent="submitCommentForm('delete-comment-form-' + comment.uuid_b58, comment.urls.delete, 2)" :id="'delete-comment-form-' + comment.uuid_b58" data-cy="delete-form">
                    <p class="ajax-form__title">Delete this comment?</p>
                    <button type="submit" class="mui-btn mui-btn--small mui-btn--raised mui-btn--primary" data-cy="confirm-delete-btn">Confirm</button>
                    <button class="mui-btn mui-btn--small mui-btn--raised mui-btn--accent ajax-form__cancelbtn" @click="closeAllForms($event, 'deleteForm')">Cancel</button>
                  </form>
                  <p class="mui--text-subhead mui--text-danger mui--text-right" v-if="errorMsg">{{ errorMsg }}</p>
                </div>
                <div class="ajax-form ajax-form--block" :class="[formOpened ? 'ajax-form--mob' : '']" v-if="spamForm">
                  <form method="post" accept-charset="UTF-8" class="mui-form" @submit.prevent="submitCommentForm('spam-comment-form-' + comment.uuid_b58, comment.urls.report_spam, 3)" :id="'spam-comment-form-' + comment.uuid_b58">
                    <p class="ajax-form__title">Do you want to mark this comment as spam?</p>
                    <button type="submit" class="mui-btn mui-btn--small mui-btn--raised mui-btn--primary">Mark spam</button>
                    <button class="mui-btn mui-btn--small mui-btn--raised mui-btn--accent ajax-form__cancelbtn" @click="closeAllForms($event, 'spamForm')">Cancel</button>
                  </form>
                  <p class="mui--text-subhead mui--text-danger mui--text-right" v-if="errorMsg">{{ errorMsg }}</p>
                </div>
              </div>
            </div>
            <ul class="mui-list--unstyled comment--children" v-for="reply_comment in comment.current_access_replies">
              <comment :comment="reply_comment" :user='user' :isuserloggedin="isuserloggedin"></comment>
            </ul>
          </div>
        </transition>
      </li>
    </script>
  {% endraw %}
{% endmacro %}
