{% macro past_projects_section() %}
  {% raw %}
    <div class="projects-wrapper" id="past-project-table" v-cloak>
      <div class="mui-container">
        <div class="grid projects">
          <div class="grid__col-12">
            <h2 class="mui--text-headline project-headline" v-if="pastprojects.length && title">{{ title }}</h2>
          </div>
          <div class="grid__col-12 mui-table--responsive-wrapper">
            <table class="mui-table mui-table--bordered mui-table--responsive past-events-table">
              <thead class="mui--bg-primary-dark">
                <tr>
                  <th class="mui--text-subhead mui--text-capitalize" v-for="heading in headings" v-if="pastprojects.length">{{ heading }}</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="project in pastprojects">
                  <td data-th="Date">
                    <p class="mui--text-subhead zero-bottom-margin">{{ project.datetime }}</p>
                  </td>
                  <td data-th="Event name" class="past-events-table__title">
                    <p class="mui--text-subhead zero-bottom-margin">
                      <a :href="project.url">{{ project.title }}</a>
                    </p>
                  </td>
                  <td data-th="Location">
                    <p class="mui--text-subhead zero-bottom-margin">{{ project.venue }}</p>
                  </td>
                </tr>
              </tbody>
            </table>
            <p class="js-lazy-loader loading" v-if="next_page"></p>
          </div>
        </div>
      </div>
    </div>
  {% endraw %}
{% endmacro %}
