{% macro search_results_template() %}
  <div id="search-wrapper">
    {% raw %}
    <script id='search-template' type='text/ractive'>
      <div class="tabs-wrapper tabs-wrapper--sticky">
        <div class="mui-container">
          <div class="tabs" id="scrollable-tabs">
            {{#each tabs}}
              <p class="tabs__item tabs__item--badge mui--text-body2 {{#if activeTab == type}}tabs__item--active{{/if}}" on-click="updateTabContent(type)">{{ label }} <span class="mui--text-caption badge badge--tab {{#if activeTab == type}}badge--primary {{/if}}">{{ count }}</span></p>
            {{/each}}
          </div>
        </div>
      </div>
      <div class="mui-container">
        <div class="tab-content grid">
          {{#each results:result }}
            {{#if result == activeTab}}
              {{#results[result].items}}
                <div class="tab-content__results user grid__col-sm-12 {{#if result == 'project' || result == 'profile'}} grid__col-sm-6 grid__col-lg-4{{/if}}">
                  {{#if result == 'project'}}
                    <a href="{{ url }}" aria-label="{{ title }}" class="card card--upcoming clickable-card" data-ga="View project">
                      <div class="card__image-wrapper">
                        {{#if obj.bg_image }}
                          <img class="card__image" src="{{ obj.bg_image }}?size=1500" alt="{{ title }}"/>
                        {{else}}
                          <img class="card__image" src="{{ defaultImage }}" alt="{{ title }}"/>
                          <p class="card__image__tagline mui--text-body2">{{ title }}</p>
                        {{/if}}
                      </div>
                      <div class="card__body">
                        {{#if obj.calendar_weeks_compact.weeks && obj.calendar_weeks_compact.weeks.length > 0 }}
                          <div aria-label="{{ project.datelocation }}">
                            <div class="card__calendar card__calendar--compact card__calendar--compact" aria-hidden="true">
                              <div class="calendar">
                                {{#obj.calendar_weeks_compact.weeks}}{{# { week: . } }}
                                  <p class="calendar__month {{#if week.upcoming && @index < 2}}calendar__month--upcoming calendar__month--upcoming--first calendar__month--latest calendar__month--unique{{/if}}">{{ week.month }} {{ week.year }}&nbsp;<span class="calendar__counting"></span></p>

                                  <div class="calendar__weekdays mui--bg-accent {{#if obj.calendar_weeks_compact.weeks.length > 1 }} calendar__weekdays--rows {{/if}}">
                                    <div class="calendar__weekdays__dates {{#if week.upcoming &&  @index <  2 }}calendar__weekdays__dates--upcoming calendar__weekdays__dates--upcoming--first{{/if}}">
                                      {{#each week.dates: date}}
                                        <p class="calendar__weekdays__dates__date {{#if week.dates[date].count > 0 }}calendar__weekdays__dates__date--active mui--text-dark {{elseif week.dates[date].isoformat == obj.calendar_weeks_compact.today }} calendar__weekdays__dates__date--today {{else}} mui--text-accent{{/if}} {{#if week.dates[date].day_start_at }} calendar__weekdays__dates__date--showtime{{/if}}" {{#if week.dates[date].count > 0 }} data-event-date="{{ week.dates[date].isoformat }}"{{/if}}>
                                          <span class="calendar__weekdays__dates__date__day">{{ week.dates[date].day }}</span>
                                          <span class="calendar__weekdays__dates__date__name">{{ obj.calendar_weeks_compact.days[date] }}</span>
                                          {{#if week.dates[date].day_start_at }}
                                            <span class="calendar__weekdays__dates__time">{{ week.dates[date].day_start_at }} – {{ week.dates[date].day_end_at }}</span>
                                          {{/if}}
                                        </p>
                                      {{/each}}
                                      {{#if obj.calendar_weeks_compact.weeks.length > 1 }}
                                        <p class="calendar__weekdays__dates__date calendar__weekdays__dates__icon calendar__weekdays__dates__icon--right"><faicon icon='chevron-right' icon_size='caption' baseline=false></faicon></p>
                                      {{/if}}
                                    </div>
                                  </div>
                                {{/}}{{/week}}
                              </div>
                            </div>
                          </div>
                        {{/if}}
                        <div class="card__body__title js-truncate {{#if !obj.calendar_weeks_full.weeks.length }} card__body__title--smaller {{/if}}" data-truncate-lines="3"><span class="mui--text-bold">{{{ title_html }}}:</span> <span class="mui--text-light">{{ obj.tagline }}</span></div>
                        <p class="mui--text-body2 mui--text-light zero-top-margin snippets"><faicon icon='search' css_class='search-icon' baseline=false></faicon> {{{ snippet_html }}}</p>
                        {{#if obj.location }}
                          <p class="mui--text-subhead card__body__location">
                          <faicon icon='map-marker-alt' icon_size='caption' baseline=false></faicon> {{ obj.location }}
                          </p>
                        {{/if}}
                      </div>
                    </a>
                  {{elseif result == 'profile'}}
                    <a href="{{ url }}" aria-label="{{ title }}" class="card card--upcoming clickable-card" data-ga="View profile">
                      <div class="card__image-wrapper">
                        {{#if obj.banner_image_url }}
                          <img class="card__image" src="{{ obj.banner_image_url }}" alt="{{ title }}"/>
                        {{elseif obj.logo_url }}
                          <img class="card__image" src="{{ obj.logo_url }}" alt="{{ title }}"/>
                        {{else}}
                          <img class="card__image" src="{{ defaultImage }}" alt="{{ title }}"/>
                          <p class="card__image__tagline mui--text-body2">{{{ title_html }}}</p>
                        {{/if}}
                      </div>
                      <div class="card__body">
                        <div class="card__body__title js-truncate card__body__title--smaller" data-truncate-lines="3"><span class="mui--text-bold">{{{ title_html }}}</span> <span class="mui--text-light">{{{ obj.description.html }}}</span></div>
                        <p class="mui--text-body2 mui--text-light zero-top-margin snippets"><faicon icon='search' css_class='search-icon' baseline=false></faicon> {{{ snippet_html }}}</p>
                      </div>
                    </a>
                  {{elseif result == 'session'}}
                    <div>
                      <div class="user__box">
                        <useravatar user={{ obj.user }}></useravatar>
                        <div class="user__box__header comment__header__details__user">
                          <h4 class="mui--text-bold zero-top-margin zero-bottom-margin"><a href="{{ url }}">{{{ title_html }}}</a></h4>
                          <h3 class="mui--text-body2 zero-top-margin zero-bottom-margin">
                            {{#if obj.speaker }}{{ obj.speaker }} <span class="mui--text-light">in</span>{{/if}} {{ obj.project.title }} <span class="mui--text-light">at</span> {{ formatTime(obj.start_at) }}–{{ formatTime(obj.end_at) }} <span class="mui--text-light">on</span> {{ formatDate(obj.start_at) }}
                          </h3>
                        </div>
                      </div>
                      <p class="mui--text-body2 mui--text-light zero-top-margin snippets"><faicon icon='search' css_class='search-icon' baseline=false></faicon> {{{ snippet_html }}}</p>
                    </div>
                  {{elseif result == 'submission'}}
                    <div>
                      <div class="user__box">
                        <useravatar user={{ obj.first_user }}></useravatar>
                        <div class="user__box__header comment__header__details__user">
                          <h4 class="mui--text-bold zero-top-margin zero-bottom-margin"><a href="{{ url }}">{{{ title_html }}}</a></h4>
                          <h3 class="mui--text-body2 zero-top-margin zero-bottom-margin">
                            {{#if obj.first_user.fullname }}<span>{{ obj.first_user.fullname }}</span> <span class="mui--text-light">in</span>{{/if}} <span>{{ obj.project.full_title }} </span>
                            {{#if obj.session}}{{#if obj.session.start_at}}
                              <span><span class="mui--text-light">at</span> {{ formatTime(obj.session.start_at) }}–{{ formatTime(obj.session.end_at) }} <span class="mui--text-light">on</span> {{ formatDate(obj.session.start_at) }}</span>
                            {{/if}}{{/if}}
                          </h3>
                        </div>
                      </div>
                      <p class="mui--text-body2 mui--text-light snippets"><faicon icon='search' css_class='search-icon' baseline=false></faicon> {{{ snippet_html }}}</p>
                    </div>
                  {{elseif result == 'update'}}
                    <div>
                      <div class="user__box">
                        <useravatar user={{ obj.user }}></useravatar>
                        <div class="user__box__header comment__header__details__user">
                          <h4 class="mui--text-bold zero-top-margin zero-bottom-margin"><a href="{{ url }}">{{{ title_html }}}</a></h4>
                          <h3 class="mui--text-body2 zero-top-margin zero-bottom-margin">
                            {{#if obj.user.fullname }}<span>{{ obj.user.fullname }}</span> <span class="mui--text-light">in</span>{{/if}} <span>{{ obj.project.full_title }} </span>
                          </h3>
                        </div>
                      </div>
                      <p class="mui--text-body2 mui--text-light snippets"><faicon icon='search' css_class='search-icon' baseline=false></faicon> {{{ snippet_html }}}</p>
                    </div>
                  {{elseif result == 'comment'}}
                    <div>
                      <div class="user__box">
                        <useravatar user={{obj.user}}></useravatar>
                        <div class="user__box__header comment__header__details__user">
                          <h4 class="mui--text-bold zero-top-margin zero-bottom-margin"><a href="{{ url }}">{{ obj.title }}</a></h4>
                          <p class="mui--text-body2 mui--text-light zero-bottom-margin">{{ formatDate(obj.created_at) }} {{#if obj.edited_at}}({{ gettext('edited %s', formatDate(obj.edited_at)) }}) {{/if}}</p>
                        </div>
                      </div>
                      <p class="mui--text-body2 mui--text-light zero-top-margin snippets"><faicon icon='search' css_class='search-icon' baseline=false></faicon> {{{ snippet_html }}}</p>
                    </div>
                  {{/if}}
                </div>
              {{else}}
                <p class="mui--text-subhead left-padding">{{ gettext('No results found') }}</p>
              {{/}}
              {{#if results[result].next_num }}
                <p class="js-lazy-loader mui--text-title mui--text-bold mui--text-center loading" data-next-page="{{ results[result].next_num }}"></p>
              {{/if}}
            {{/if}}
          {{/each}}
        </div>
      </div>
    </script>
    {% endraw %}
  </div>
{% endmacro %}
