{% macro error_txt() %}
  {% raw %}
    <span>{{ gettext('An internal server error occurred. Our support team has been notified and will investigate.') }}</span>
    <span>{{ gettext('Unable to connect. Please reload and try again.') }}</span>
  {% endraw %}
{% endmacro %}
