{% raw %}
  <!-- String used in getResponseError fn in utils.js   -->
  <span>{{ gettext('An internal server error occurred. Our support team has been notified and will investigate.') }}</span>
  <!-- String used in getResponseError fn in utils.js -->
  <span>{{ gettext('Unable to connect. Check connection and tap to reload.') }}</span>
  <!-- String used in SaveProject fn in utils.js -->
  <span>{{ gettext('Project added to Account > My saves') }}</span>
  <!-- String used in truncate fn in utils.js -->
  <span>{{ gettext('read more') }}</span>
  <!-- String used in showTimeOnCalendar fn in utils.js -->
  <span>{{ gettext('Today') }}</span>
  <!-- String used in showTimeOnCalendar fn in utils.js -->
  <span>{{ gettext('Tomorrow') }}</span>
  <!-- String used in showTimeOnCalendar fn in utils.js -->
  <span>{{ gettext('Day after') }}</span>
  <!-- String used in showTimeOnCalendar fn in utils.js -->
  <span>{{ gettext('In %d days', 3) }}</span>
{% endraw %}
