{% raw %}
  <!-- String used in getResponseError fn in utils.js   -->
  <span>{{ gettext('An internal server error occurred. Our support team has been notified and will investigate.') }}</span>
  <!-- String used in getResponseError fn in utils.js -->
  <span>{{ gettext('Unable to connect. Check connection and tap to reload.') }}</span>
  <!-- String used in SaveProject fn in utils.js -->
  <span>{{ gettext('Project added to Account > My saves') }}</span>
  <!-- String used in addWebShare fn in utils.js -->
  <span>{{ gettext('Link copied') }}</span>
  <!-- String used in truncate fn in utils.js -->
  <span>{{ gettext('read more') }}</span>
  <!-- String used in showTimeOnCalendar fn in utils.js -->
  <span>{{ gettext('Today') }}</span>
  <!-- String used in showTimeOnCalendar fn in utils.js -->
  <span>{{ gettext('Tomorrow') }}</span>
  <!-- String used in showTimeOnCalendar fn in utils.js -->
  <span>{{ gettext('Day after') }}</span>
  <!-- String used in showTimeOnCalendar fn in utils.js -->
  <span>{{ gettext('In %d days', 3) }}</span>
  <!-- String used in schedule.js -->
  <span>{{ gettext('The room sequence and colors have been updated.') }}</span>
    <!-- String used in schedule.js -->
  <span>{{ gettext('There was a problem in contacting the server. Please try again later.') }}</span>
  <!-- String used in schedule.js -->
  <span>{{ gettext('Edit Session') }}</span>
  <!-- String used in schedule.js -->
  <span>{{ gettext('Schedule Session') }}</span>
  <!-- String used in schedule.js -->
  <span>{{ gettext('Add new session') }}</span>
  <!-- String used in schedule.js -->
  <span>{{ gettext('Autosave') }}</span>
  <!-- String used in schedule.js -->
  <span>{{ gettext('Save') }}</span>
  <!-- String used in schedule.js -->
  <span>{{ gettext('Saving...') }}</span>
  <!-- String used in schedule.js -->
  <span>{{ gettext('Saved') }}</span>
  <!-- String used in schedule.js -->
  <span>{{ gettext('There was a problem in deleting the session.') }}</span>
  <!-- String used in schedule.js -->
  <span>{{ gettext('%s will be removed from the schedule. Are you sure you want to remove it?', 'project') }}</span>
  <!-- String used in schedule.js -->
  <span>{{ gettext('5 mins') }}</span>
  <!-- String used in schedule.js -->
  <span>{{ gettext('15 mins') }}</span>
  <!-- String used in schedule.js -->
  <span>{{ gettext('30 mins') }}</span>
  <!-- String used in schedule.js -->
  <span>{{ gettext('60 mins') }}</span>
  <!-- String used in schedule.js -->
  <span>{{ gettext('There was a problem in contacting the server. There are %d unsaved sessions. Please try again later.', 2) }}</span>
  <!-- String used in schedule.js -->
  <span>{{ gettext('There was a problem in contacting the server. There are %d unsaved session. Please try again later.', 1) }}</span>
{% endraw %}
