{% macro updates_template() %}
  {% raw %}
    <div id="updates-wrapper" v-cloak>
      <div v-if="isEditor">
        <h2 class="mui--text-left" v-if="draft">{{ gettext('Draft') }}</h2>
        <ul v-if="draft" class="draft-updates">
          <li v-for="update in draft"><a :href="update.urls.view">{{ update.title }}</a></li>
        </ul>
      </div>
      <ul class="mui-list--unstyled zero-bottom-margin" v-if="updates.length">
        <update :update="update" :iseditor="isEditor" :addreadmore="addReadMore" v-for="update in updates"></update>
      </ul>
    </div>

    <script type="text/x-template" id="update-template">
      <li class="update user" :id="'#update-' + update.uuid_b58">
        <div class="page-card__card">
          <div class="flex-wrapper flex-wrapper--center flex-wrapper--space-between">
            <div class="update__heading">
              <ul class="bullet-separated-list--flex mui--text-light mui--text-body2 update__date" v-if="update.number">
                <li><a class="text-uppercase mui--text-light nounderline" :href="update.urls.view">{{ gettext('Update') }} #{{ update.number }}</a></li>
                <li v-if="age"><a class="mui--text-light nounderline" :href="update.urls.view">{{ age }}</a></li>
                <li v-if="update.visibility_label == 'Restricted'">
                  <faicon :icon="'lock-alt'"></faicon>
                </li>
                <li v-if="update.is_pinned">
                  <faicon :icon="'thumbtack'" :baseline=false :css_class="'mui--align-middle'"></faicon>
                </li>
              </ul>
              <p v-else class="text-capitalize mui--text-light zero-bottom-margin">{{ gettext('Draft') }}</p>
            </div>
            <div class="update__action-btn">
              <div class="mui-dropdown">
                <a href="#" onclick="return false;" class="mui--text-subhead nounderline mui--text-light project-links" data-mui-toggle="dropdown" data-ga="Share dropdown" data-testid="share-project" role="button" aria-haspopup="true" aria-expanded="false" :aria-label="gettext('Share')"><faicon :icon="'share-alt'" :icon_size="'subhead'" :baseline=true></faicon></a>
                <sharedropdown :url='update.urls.view' :title='update.title'></sharedropdown>
              </div>
              <a href="#" onclick="return false;" class="mui--text-subhead nounderline mui--text-light hg-link-btn mui--hide" :data-title="update.title" :data-url="update.urls.view + '?utm_source=webshare'"><faicon :icon="'share-alt'" :icon_size="'subhead'" :baseline=true></faicon></a>
              <div class="mui-dropdown mui-dropdown--update" v-if="iseditor">
                <a href="#" onclick="return false;" class="mui--text-light" data-mui-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" :aria-label="gettext('Menu')"><faicon :icon="'ellipsis-v'" :icon_size="'subhead'" css_class="fa-icon--left-margin"></faicon></a>
                <ul class="mui-dropdown__menu mui-dropdown__menu--right mui-dropdown__menu--hg-link mui-dropdown__menu--small" data-testid="share-dropdown">
                  <li><a class="mui--text-body2 nounderline" v-if="update.urls.edit" :href="update.urls.edit"><faicon :icon="'edit'" :icon_size="'caption'" :baseline=true :css_class="'mui--text-light fa-icon--right-margin'"></faicon>Edit</a></li>
                  <li><a class="mui--text-body2 nounderline" v-if="update.urls.delete" :href="update.urls.delete"><faicon :icon="'trash-alt'" :icon_size="'caption'" :baseline=true :css_class="'mui--text-light fa-icon--right-margin'"></faicon>Delete</a></li>
                </ul>
              </div>
            </div>
          </div>
          <h3 class="mui--text-heading text-bold margin-bottom"><a class="mui--text-dark nounderline" :href="update.urls.view">{{ update.title }}</a></h3>
          <div class="user__box mui--clearfix update__header">
            <useravatar :user='update.created_by' :addprofilelink=true></useravatar>
            <div class="user__box__header">
              <h3 class="mui--text-body2 user__box__fullname zero-bottom-margin">{{ update.created_by.fullname }}</h3>
              <h3 v-if="update.created_by.username" class="mui--text-caption user__box__userid"><span>@{{ update.created_by.username }}</span></h3>
            </div>
          </div>
          <div v-if="!update.is_currently_restricted">
            <div v-if="addreadmore">
              <div class="update__content" v-if="truncated" :inner-html.prop="truncate(update.body.html, 250)"></div>
              <div class="update__content fullcontent markdown" v-else v-html="update.body.html"></div>
              <p class="mui--text-body2">
                <span @click="readMore($event, false)" v-if="setReadMore" class="chip mui--text-body2" :aria-label="gettext('expand')">{{ gettext('expand') }} <faicon :icon="'caret-down-solid'" :icon_size="'caption'" :css_class="'fa-icon--right-margin'"></faicon></span>
                <span @click="readMore($event, true)" v-if="!truncated && !setReadMore" class="chip mui--text-body2" :aria-label="gettext('collapse')">{{ gettext('collapse') }} <faicon :icon="'caret-up-solid'" :icon_size="'caption'"></faicon></span>
              </p>
            </div>
            <div class="update__content markdown" v-else v-html="update.body.html"></div>
          </div>
          <div v-else>
            <p class="mui--text-body2 mui--text-light mui--text-center"><faicon :icon="'lock-alt'" :icon_size="'caption'"></faicon> <em>{{ gettext('This update is for participants only') }}</em></p>
          </div>
        </div>
      </li>
    </script>
  {% endraw %}
{% endmacro %}
