ul .login-session {
  padding: 15px 0;

  .login-session__heading {
    font-size: 14px;
    line-height: 24px;
    margin: 0;
  }

  .login-session__body {
    font-size: 12px;
    line-height: 24px;
    margin: 0;
  }

  .mui-btn--nostyle {
    line-height: 1;
  }
}

@media (min-width: 768px) {
  ul .login-session {
    .login-session__heading {
      font-size: 16px;
      line-height: 24px;
      margin: 0;
    }

    .login-session__body {
      font-size: 14px;
      line-height: 24px;
      margin: 0;
    }
  }
}

.check-mark {
  background: $mui-success-color;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  color: $mui-text-white;
  display: inline-block;
  .fa5-icon {
    position: relative;
    top: -3px;
    right: -2px;
  }
}

.preference {
  margin-top: $mui-grid-padding;
  .preference__switch {
    margin-bottom: $mui-grid-padding;
    .preference__switch__txt {
      float: left;
    }
    .switch-label {
      position: relative;
      top: -3px;
      float: left;
    }
  }
}

@media (min-width: 1200px) {
  .preference {
    position: relative;
    .preference__switch {
      position: absolute;
      top: -40px;
      right: 0;
      min-width: 275px;
    }
  }
}
