.clickable-card {
  color: #1F2D3D;
  display: block;
  cursor: pointer;
}

.clickable-card:focus,
.clickable-card:hover,
.clickable-card:active {
  color: #1F2D3D;
  outline: none;
  text-decoration: none;
}

.card__image-wrapper {
  min-height: 126px;
  position: relative;
  margin-bottom: 8px;
}

.card__image-wrapper img {
  display: block;
}

.card__image--default {
  background-color: #F6EDE3;
  min-height: 125px;
}

.card__image__tagline {
  position: absolute;
  color: #333;
  top: 35%;
  left: 16px;
  right: 16px;
  text-align: center;
  font-size: 18px;
}

@media (min-width: 768px) {
  .card__image__tagline {
    font-size: 24px;
  }
}

.card--upcoming {
  display: flex;
  box-shadow: none;
  margin-bottom: 30px;

  .card__image__tagline {
    font-size: inherit;
  }

  .card__image-wrapper,
  .card__image--default {
    min-height: auto;
    a {
      display: block;
      width: 100px;
      height: 100px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .card__body {
    padding: 0 0 0 2em;
  }
}

.card__image--new {
  background-color: #82698D;

  .card__image__tagline {
    font-size: 65px;
    color: #fff;
    border: 2px dotted #A890AF;
    width: 66px;
    padding: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
  }
}

.card__body--minheight {
  min-height: 150px;
}

.card__body--new {
  min-height: 194px;
  display: flex;
  justify-content: center;
  align-items: center;

  .new-btn:hover {
    text-decoration: none;
  }
}

.card--small {
  max-width: 400px;
  margin-top: 10px;
}

