.clickable-card {
  color: #1F2D3D;
  display: block;
  cursor: pointer;
  max-width: 450px;
}

.clickable-card:focus,
.clickable-card:hover,
.clickable-card:active {
  color: #1F2D3D;
  outline: none;
  text-decoration: none;
}

.card__image-wrapper {
  min-height: 126px;
  position: relative;
  margin-bottom: 8px;
}

.card__image-wrapper img {
  display: block;
}

.card__image--default {
  background-color: #F6EDE3;
  min-height: 125px;
}

.card__calendar {
  padding: 1em;
  margin-bottom: 1em;
}

.card__image__tagline {
  position: absolute;
  color: #333;
  top: 35%;
  left: 16px;
  right: 16px;
  text-align: center;
  font-size: 18px;
}

@media (min-width: 768px) {
  .card__image__tagline {
    font-size: 24px;
  }
}

.card--upcoming {
  display: flex;
  flex-wrap: wrap;
  box-shadow: none;
  margin-bottom: 30px;
  background: transparent;

  .card__image__tagline {
    font-size: inherit;
  }

  .card__image-wrapper,
  .card__image--default {
    flex: 0 0 100%;
    min-height: auto;
    border-radius: 2px;
    position: relative;
    cursor: pointer;
    a {
      display: block;
      width: 100%;
    }
  }

  .card__image-wrapper--cfp {
    .card__image-wrapper__overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      background-image: linear-gradient(to bottom, rgba(67, 89, 111, 0.5), #202d3c);
    }
    .card__image-wrapper__text {
      position: absolute;
      z-index: 2;
      color: #fff;
      bottom: 0;
    }
  }

  .card__body {
    flex: 0 0 100%;
    padding: 0;
  }

  .card__calendar {
    padding: 1em 0;
    border-top: 1px solid rgba(132,146,166,0.3);
  }
}

@media (min-width: 768px) {
  .card--upcoming {
    .card__image-wrapper,
    .card__image--default {
      flex: 0 0 150px;
      a {
        display: block;
        width: 150px;
        height: 150px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .card__body {
      flex: 0 0 calc(100% - 150px);
      padding: 0 0 0 1em;
    }
  }
}

@media (min-width: 1200px) {
  .card--upcoming {
    .card__body {
      padding: 0 0 0 2em;
    }
    .card__body--cfp {
      padding: 0 0 0 1em;
    }
    .card__image-wrapper--cfp {
      height: 150px;
    }
  }
}

.card__image--new {
  background-color: #82698D;

  .card__image__tagline {
    font-size: 65px;
    color: #fff;
    border: 2px dotted #A890AF;
    width: 66px;
    padding: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
  }
}

.card__body--minheight {
  min-height: 150px;
}

.card__body--new {
  min-height: 194px;
  display: flex;
  justify-content: center;
  align-items: center;

  .new-btn:hover {
    text-decoration: none;
  }
}

.card--small {
  max-width: 400px;
  margin-top: 10px;
}


.month {
  float: left;
  width: 35px;
  font-variant: all-small-caps;
}

.calendar {
  width: 100%;

  .calendar__weekdays {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

  .calendar__weekdays__name {
    text-align: center;
    position: relative;
    width: calc(100%/8);
    font-size: 18px;
    line-height: 28px;
  }

  .calendar__weekdays__name--weekday {
    font-variant: all-small-caps;
  }

  .calendar__weekdays__name--month {
    font-size: 18px;
    line-height: 28px;
    font-variant: all-small-caps;
  }

  .calendar__weekdays__date {
    position: relative;
    width: calc(100%/7);
    text-align: center;
    font-size: 14px;
    line-height: 28px;

    .calendar__weekdays__date__text {
      position: relative;
      z-index: 2;
    }
  }

  .calendar__weekdays__date--active:after {
    content: '';
    font-weight: bold;
    border-radius: 50%;
    background-color: #b2d6ff;
    background-color: Highlight;
    width: 24px;
    height: 24px;
    text-align: center;
    position: absolute;
    top: 2px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1
  }

  .calendar__weekdays__date--active .calendar__weekdays__date__text {
    color: #1F2D3D;
    color: HighlightText;
  }

  .calendar__weekdays__month {
    width: calc(100%/8);
    word-break: keep-all;
  }

  .calendar__weekdays__dates {
    width: calc(100% - 100%/8);
    display: flex;
    flex-wrap: wrap;
  }

}

.weekname {
  float: left;
  min-width: calc(100%/8);
  text-align: center;
  font-variant: all-small-caps;
}

.week {
  display: flex;
  width: 100%;
  flex-wrap: wrap;

  .week__day {
    text-align: center;
    position: relative;
    width: calc(100%/8);
  }
  .week__day--month {
    font-variant: all-small-caps;
    line-height: 24px;
  }
  .week__day--active:after {
    content: '';
    font-weight: bold;
    border-radius: 50%;
    background-color: #b2d6ff;
    background-color: Highlight;
    width: 24px;
    height: 24px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1
  }
  .week__day__txt {
    position: relative;
    z-index: 2;
    font-size: 13px;
    line-height: 24px;
  }
  .week__day--active .week__day__txt {
    color: #1F2D3D;
    color: HighlightText;
  }
}

.contact-card {
  position: relative;

  .contact-card__details {
    width: 100%;

    .contact-card__details__download-btn {
      position: absolute;
      top: 0;
      right: 0; 
    }
  }
}


@media(min-width: 1200px) {
  .contact-card {
    position: relative;

    .contact-card__details {
      width: calc(100% - 80px);

      .contact-card__details__download-btn {
        position: relative;
        top: 0;
        right: 0; 
      }
    }
  } 
}
