.card--spotlight {
  border-radius: 16px 16px 0 16px;
  overflow: hidden;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19);
  max-width: 450px;
  transition: 200ms linear;
  -webkit-transition: 200ms linear;

  .card__body__bookmark {
    float: right;
    position: relative;
    top: 10px;
    height: 0;
    z-index: 4;
    line-height: 1;
  }
  .card__calendar {
    padding: 0 0 25px;
  }
}

@media (min-width: 992px) {
  .card--spotlight {
    display: flex !important;
    max-width: 100%;
    border-radius: 16px;
    min-height: 290px;

    .card__image-wrapper {
      flex: 0 0 58.3%;
      margin: 0;
      padding: 0;
      z-index: 3;

      .card__image {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    .card__body {
      position: relative;
      padding: $mui-grid-padding-double $mui-grid-padding;
    }
  }
  .card--spotlight--live {
    padding: $mui-grid-padding;

    .card__image-wrapper {
      width: 300px;
      flex: auto;
    }

    .card__body {
      width: 70%;
      padding: 0 0 0 $mui-grid-padding-double;
    }
  }
}

@media (min-width: 1200px) {
  .card--spotlight {
    min-height: 360px;
  }
  .card--spotlight--live {
    min-height: auto;
    .card__image-wrapper {
      flex: auto;
    }
  }
}

.clickable-card,
.card-wrapper {
  color: #1f2d3d;
  display: block;
  cursor: pointer;
  text-decoration: none;
}

.clickable-card:focus,
.clickable-card:hover,
.clickable-card:active,
.card-wrapper:focus,
.card-wrapper:hover,
.card-wrapper:active {
  color: #1f2d3d;
  outline: none;
  text-decoration: none;
}

.clickable-card .card__title__heading {
  margin: 0 auto;
  padding: 4px 0;
}

.card__image-wrapper {
  position: relative;
  background-image: linear-gradient(to bottom, #4d5763, #202d3c);

  .card__image__tagline {
    position: absolute;
    color: #fff;
    top: 50%;
    left: $mui-grid-padding;
    right: $mui-grid-padding;
    text-align: center;
    font-size: 18px;
    transform: translateY(-50%);
    max-height: 100%;
  }

  img {
    display: block;
  }
}

@media (min-width: 768px) {
  .card__image__tagline {
    font-size: 24px;
  }
}

.card__calendar {
  padding: 10px 0 25px;

  .calendar {
    width: 100%;

    .calendar__month-name {
      font-size: 12px;
      line-height: 24px;
      font-variant: all-small-caps;
      width: 100%;
      text-align: left;
      font-weight: 600;
      padding: 0 0 5px;
      background-color: #fff;
      margin: 0;
      display: none;

      .calendar__counting {
        margin-left: 5px;
        font-style: italic;
        font-size: 10px;
        line-height: 24px;
        color: #e05f25;
        letter-spacing: 0.43px;
        font-variant: none;
      }
    }

    .calendar__month-name--unique {
      display: flex;
    }

    .calendar__month-name:nth-child(n + 2) {
      padding-top: 25px;
    }

    .calendar__weekdays {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      position: relative;
      z-index: 2;

      .calendar__weekdays__dates {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        position: relative;

        .calendar__weekdays__dates__date {
          position: relative;
          width: calc(100% / 7);
          text-align: center;
          margin: 0;
          padding: 10px 0;
          background: #f9fafc;

          .calendar__weekdays__dates__date__day {
            position: relative;
            z-index: 2;
            display: block;
            color: #4d5763;
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            opacity: 0.6;
          }

          .calendar__weekdays__dates__date__name {
            display: block;
            text-align: center;
            position: relative;
            z-index: 2;
            color: #4d5763;
            font-variant: all-small-caps;
            font-size: 10px;
            line-height: 14px;
            font-weight: 600;
            opacity: 0.6;
          }
        }

        .calendar__weekdays__dates__date--active {
          padding: 5px 0;
        }

        .calendar__weekdays__dates__date--today {
          .calendar__weekdays__dates__date__day {
            color: #82688d;
            font-weight: 600;
            opacity: 1;
          }
          .calendar__weekdays__dates__date__name {
            color: #82688d;
            font-weight: 600;
            opacity: 1;
          }
        }

        .calendar__weekdays__dates__date--active {
          .calendar__weekdays__dates__date__day {
            color: #fff;
            font-weight: 600;
            font-size: 16px;
            line-height: 21px;
            opacity: 1;
          }
          .calendar__weekdays__dates__date__name {
            color: #fff;
            font-weight: 600;
            font-size: 10px;
            line-height: 14px ;
            opacity: 1;
          }
        }

        .calendar__weekdays__dates__date--active:after {
          content: '';
          font-weight: bold;
          border-radius: 4px;
          width: 35px;
          height: 44px;
          text-align: center;
          position: absolute;
          top: 0px;
          left: 0;
          right: 0;
          margin: auto;
          z-index: 1;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.22);
          background: #82688d;
        }

        .calendar__weekdays__dates__date--showtime:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          border-top: 7px solid #82688d;
          width: 7px;
          opacity: 0;
          z-index: 3;
          transition: opacity 0.1s;
          -webkit-transition: opacity 0.1s;
        }

        .calendar__weekdays__dates__time {
          display: block;
          opacity: 0;
          position: absolute;
          bottom: -18px;
          border-radius: 2px;
          background-color: #f6e2c5;
          color: #906b37;
          left: 50%;
          transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
          margin: auto;
          padding: 1px 0;
          width: 157px;
          font-size: 12px;
          line-height: 16px;
          z-index: 3;
          transition: opacity 0.1s;
          -webkit-transition: opacity 0.1s;
        }

        .calendar__weekdays__dates__date--showtime:hover::before,
        .calendar__weekdays__dates__date--showtime.calendar__weekdays__dates__date--display::before {
          opacity: 1;
        }

        .calendar__weekdays__dates__date--showtime:hover
          .calendar__weekdays__dates__time,
        .calendar__weekdays__dates__date--showtime.calendar__weekdays__dates__date--display
          .calendar__weekdays__dates__time {
          opacity: 1;
        }

        .calendar__weekdays__dates__date:nth-child(1)
          .calendar__weekdays__dates__time,
        .calendar__weekdays__dates__date:nth-child(2)
          .calendar__weekdays__dates__time {
          left: 0;
          transform: translateX(0);
          -webkit-transform: translateX(0);
        }

        .calendar__weekdays__dates__date:nth-child(6)
          .calendar__weekdays__dates__time,
        .calendar__weekdays__dates__date:nth-child(7)
          .calendar__weekdays__dates__time {
          left: unset;
          right: 0;
          transform: translateX(0);
          -webkit-transform: translateX(0);
        }

        .calendar__weekdays__dates__date--year {
          text-align: right;
        }

        .calendar__weekdays__dates__icon {
          display: none;
        }
      }
    }
  }
}

.card__calendar--compact {
  .calendar {
    .calendar__weekdays {
      .calendar__weekdays__dates,
      .calendar__month-name {
        display: none;
        padding-top: 0;
      }
      .calendar__weekdays__dates--upcoming--first,
      .calendar__month-name--upcoming--first {
        display: flex;
      }
      .calendar__weekdays__dates {
        .calendar__weekdays__dates__icon {
          position: absolute;
          line-height: 29px;
          background: #fff;
          display: block;
          z-index: -1;
          bottom: 0;
          background: #f9fafc;
        }
        .calendar__weekdays__dates__icon--left {
          position: absolute;
          left: -$mui-grid-padding-double;
          line-height: 29px;
        }
        .calendar__weekdays__dates__icon--right {
          position: absolute;
          right: -$mui-grid-padding-double;
          line-height: 29px;
        }
      }
    }
  }
}

.card--spotlight {
  .card__calendar--compact {
    .calendar {
      .calendar__weekdays {
        .calendar__weekdays__dates {
          .calendar__weekdays__dates__icon--left {
            left: -34px;
          }
          .calendar__weekdays__dates__icon--right {
            right: -34px;
          }
        }
      }
    }
  }
}

.card--upcoming {
  border-radius: 16px 16px 0 16px;
  overflow: hidden;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19);
  max-width: 450px;
  transition: 200ms linear;
  -webkit-transition: 200ms linear;
  height: 100%;

  .card__image-wrapper {
    position: relative;
    padding-bottom: 56.2%;
    background-image: linear-gradient(to bottom, #4d5763, #202d3c);
    z-index: 3;

    .card__image {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    .card__image__tagline {
      color: #fff;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .card__body {
    padding: 0 $mui-grid-padding $mui-grid-padding;
    position: relative;

    .card__body__bookmark {
      position: absolute;
      right: $mui-grid-padding;
      top: 18px;
      z-index: 4;
      line-height: 1;
    }
    .card__body__bookmark--pushup {
      top: 4px;
    }

    .card__body__title {
      margin: 0;
      min-height: 72px;
    }

    .card__body__title--smaller {
      margin: 0;
      padding-top: $mui-grid-padding;
      width: calc(100% - 20px);
    }

    .card__body__subtitle {
      margin: 8px 0;
      min-height: 48px;
    }

    .card__body__location {
      margin: 8px 0 0;
    }
    .card__body__divider {
      height: 4px;
      background-color: #eff2f6;
      width: 24px;
      margin: 12px 0;
    }
    .card__body__footer {
      margin: 12px 0 6.5px;
    }
  }
}

.card--spotlight:hover,
.card--upcoming:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card--cfp {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $mui-grid-padding-double;
  background: transparent;
  max-width: 450px;
  border-radius: 16px 16px 0 16px;
  overflow: hidden;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19);

  .card__image-wrapper,
  .card__image--default {
    flex: 0 0 100%;
    min-height: auto;
    border-radius: 2px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    background-image: none;
    a {
      display: block;
      width: 100%;
    }
    .card__image__tagline {
      font-size: inherit;
      color: #333;
    }
  }

  .card__image-wrapper--cfp {
    .card__image-wrapper__overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      background-image: linear-gradient(
        to bottom,
        rgba(67, 89, 111, 0.5),
        #202d3c
      );
    }
    .card__image-wrapper__text {
      position: absolute;
      z-index: 2;
      color: #fff;
      bottom: 0;
    }
  }

  .card__body {
    flex: 0 0 100%;
  }

  .card__calendar {
    padding: $mui-grid-padding 0;
    border-top: 1px solid rgba(132, 146, 166, 0.3);
    margin: 0;
  }
}

@media (min-width: 992px) {
  .card--cfp {
    box-shadow: none;
    border-radius: 0;
    max-width: 100%;

    .card__image-wrapper,
    .card__image--default {
      flex: 0 0 250px;
    }
    .card__body {
      flex: 0 0 calc(100% - 250px);
      width: calc(100% - 250px);
      padding: 0 0 0 $mui-grid-padding;
    }
  }
}

@media (min-width: 1200px) {
  .card--cfp {
    .card__image-wrapper,
    .card__image--default {
      flex: 0 0 270px;
    }
    .card__body {
      flex: 0 0 calc(100% - 270px);
      width: calc(100% - 270px);
    }
    .card__body--cfp {
      padding: 0 0 0 $mui-grid-padding;
    }
    .card__image-wrapper--cfp {
      height: 150px;
    }
  }
}

.card--new {
  .card__image-wrapper {
    background-image: none;
    background-color: #82698d;

    .card__image-wrapper__icon-wrapper {
      color: #fff;
      border: 2px dotted #a890af;
      width: 100px;
      height: 100px;
      margin: 0 auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .card__image-wrapper__icon-wrapper__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .card__body--minheight {
    min-height: 150px;
  }

  .card__body--new {
    min-height: 194px;
    display: flex;
    justify-content: center;
    align-items: center;

    .new-btn:hover {
      text-decoration: none;
    }
  }
}

.card--new--padding {
  padding: 10px;
}

.card--small {
  max-width: 400px;
}

.card__body {
  .label-edit {
    display: inline-block;
    max-width: 85%;
  }
}

.session-card {
  .session-card__header {
    display: flex;
    background: none;
    border-bottom: 1px solid rgba(132, 146, 166, 0.3);
    padding: 10px;

    .session-card__header__img-wrapper {
      margin: 0;
      min-width: 60px;
      min-height: 60px;
      border-radius: 50%;
      overflow: hidden;
      max-width: 60px;
      max-height: 60px;

      .session-card__header__img-wrapper__img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .session-card__header__title {
      padding: 0;
      margin: 0 0 0 10px;
    }
  }
  .session-card__header--bck {
    background: #eff2f7;
  }
}

.contact-card {
  position: relative;

  .contact-card__details {
    width: 100%;

    .contact-card__details__download-btn {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

@media (min-width: 1200px) {
  .contact-card {
    position: relative;

    .contact-card__details {
      width: calc(100% - 80px);

      .contact-card__details__download-btn {
        position: relative;
        top: 0;
        right: 0;
      }
    }
  }
}
