.clickable-card,
.card-wrapper {
  color: #1f2d3d;
  display: block;
  cursor: pointer;
  text-decoration: none;
}

.clickable-card:focus,
.clickable-card:hover,
.clickable-card:active,
.card-wrapper:focus,
.card-wrapper:hover,
.card-wrapper:active {
  color: #1f2d3d;
  outline: none;
  text-decoration: none;
}

.clickable-card .card__title__heading {
  margin: 0 auto;
  padding: 4px 0;
}

.card__image-wrapper {
  min-height: 126px;
  position: relative;
  padding-bottom: 8px;
}

.card__image-wrapper img {
  display: block;
}

.card__image--default {
  background-color: #f6ede3;
  min-height: 125px;
  position: relative;
  overflow: hidden;
}

.card__calendar {
  padding: 15px;
}

.card__image__tagline {
  position: absolute;
  color: #333;
  top: 50%;
  left: 16px;
  right: 16px;
  text-align: center;
  font-size: 18px;
  transform: translateY(-50%);
  max-height: 100%;
}

@media (min-width: 768px) {
  .card__image__tagline {
    font-size: 24px;
  }
}

.card--upcoming,
.card--cfp {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  background: transparent;

  .card__image__tagline {
    font-size: inherit;
  }

  .card__image-wrapper,
  .card__image--default {
    flex: 0 0 100%;
    min-height: auto;
    border-radius: 2px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    a {
      display: block;
      width: 100%;
    }
  }

  .card__image-wrapper--cfp {
    .card__image-wrapper__overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      background-image: linear-gradient(
        to bottom,
        rgba(67, 89, 111, 0.5),
        #202d3c
      );
    }
    .card__image-wrapper__text {
      position: absolute;
      z-index: 2;
      color: #fff;
      bottom: 0;
    }
  }

  .card__body {
    flex: 0 0 100%;
  }

  .card__calendar {
    padding: 15px 0;
    border-top: 1px solid rgba(132, 146, 166, 0.3);
    margin: 0;
  }
}

.card--spotlight,
.card--upcoming {
  .card__body {
    padding: 0 15px 7.5px;
  }
}

@media (min-width: 992px) {
  .card--upcoming,
  .card--cfp {
    box-shadow: none;

    .card__image-wrapper,
    .card__image--default {
      flex: 0 0 250px;
    }
    .card__body {
      flex: 0 0 calc(100% - 250px);
      width: calc(100% - 250px);
      padding: 0 0 0 15px;
    }
  }
}

@media (min-width: 1200px) {
  .card--upcoming,
  .card--cfp {
    .card__image-wrapper,
    .card__image--default {
      flex: 0 0 270px;
    }
    .card__body {
      flex: 0 0 calc(100% - 270px);
      width: calc(100% - 270px);
    }
    .card__body--cfp {
      padding: 0 0 0 15px;
      .card--cfp__title {
        // calc(line-height * max-lines);
        max-height: calc(27px * 2);
        overflow: hidden;
      }
      .card--cfp__tagline {
        max-height: calc(24px * 4);
        overflow: hidden;
      }
    }
    .card__image-wrapper--cfp {
      height: 150px;
    }
  }
}

.card__image--new {
  background-color: #82698d;

  .card__image__tagline {
    font-size: 65px;
    color: #fff;
    border: 2px dotted #a890af;
    width: 66px;
    padding: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.card__body--minheight {
  min-height: 150px;
}

.card__body--new {
  min-height: 194px;
  display: flex;
  justify-content: center;
  align-items: center;

  .new-btn:hover {
    text-decoration: none;
  }
}

.card--small {
  max-width: 400px;
}

.session-card {
  .session-card__header {
    display: flex;
    background: none;
    border-bottom: 1px solid rgba(132, 146, 166, 0.3);
    padding: 10px;

    .session-card__header__img-wrapper {
      margin: 0;
      min-width: 60px;
      min-height: 60px;
      border-radius: 50%;
      overflow: hidden;
      max-width: 60px;
      max-height: 60px;

      .session-card__header__img-wrapper__img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .session-card__header__title {
      padding: 0;
      margin: 0 0 0 10px;
    }
  }
  .session-card__header--bck {
    background: #eff2f7;
  }
}

.calendar {
  width: 100%;

  .calendar__weekdays {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

  .calendar__weekdays__name {
    text-align: center;
    position: relative;
    font-size: 18px;
    line-height: 1.5;
    font-variant: all-small-caps;
  }

  .calendar__weekdays__name--first {
    width: 10%;
  }

  .calendar__weekdays__name__wrapper {
    display: flex;
    width: 90%;
  }

  .calendar__weekdays__name--weekday {
    width: calc(100% / 8);
  }

  .calendar__weekdays__month {
    width: 10%;
    word-break: keep-all;
  }

  .calendar__weekdays__month__name {
    font-size: 17px;
    line-height: 26px;
    font-variant: all-small-caps;
    width: 100%;
    text-align: left;
  }

  .calendar__weekdays__dates {
    width: 90%;
    display: flex;
    flex-wrap: wrap;

    .calendar__weekdays__dates__date {
      position: relative;
      width: calc(100% / 8);
      text-align: center;
      font-size: 14px;
      line-height: 28px;

      .calendar__weekdays__dates__date__text {
        position: relative;
        z-index: 2;
      }
    }

    .calendar__weekdays__dates__date--active:after {
      content: '';
      font-weight: bold;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      text-align: center;
      position: absolute;
      top: 2px;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 1;
    }

    .calendar__weekdays__dates__date--today {
      color: #82688d;
      font-weight: 600;
    }

    .calendar__weekdays__dates__date--active:after {
      background-color: #82688d;
    }

    .calendar__weekdays__dates__date--active
      .calendar__weekdays__dates__date__text {
      color: #fff;
    }

    .calendar__weekdays__dates__date--year {
      text-align: right;
    }
  }
}

.contact-card {
  position: relative;

  .contact-card__details {
    width: 100%;

    .contact-card__details__download-btn {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

@media (min-width: 1200px) {
  .contact-card {
    position: relative;

    .contact-card__details {
      width: calc(100% - 80px);

      .contact-card__details__download-btn {
        position: relative;
        top: 0;
        right: 0;
      }
    }
  }
}
