.comment {
  margin: $mui-grid-padding 0 0;

  .comment__header {
    display: inline-block;
    width: 100%;
    margin-bottom: $mui-grid-padding;

    button {
      vertical-align: bottom;
    }
    .mui-btn--nostyle + .mui-btn--nostyle {
      margin-left: 0;
    }
    .comment__header__details {
      display: inline-block;
      min-width: 300px;
      margin-left: $mui-grid-padding/2;
      .badge {
        margin-left: $mui-grid-padding/2;
        margin-right: $mui-grid-padding/2;
      }
    }
  }

  .comment__body {
    margin: 0 0 0 30px;

    img {
      max-width: 100%;
    }

    blockquote {
      border-left: 2px solid $mui-text-accent;
      margin: 0;
      padding-left: $mui-grid-padding;
    }
  }
}

.slide-enter-active {
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.slide-leave-active {
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slide-enter-to,
.slide-leave {
  max-height: 100px;
  overflow: hidden;
}

.slide-enter,
.slide-leave-to {
  overflow: hidden;
  max-height: 0;
}
