.comment {
  margin: 15px 0 0;

  .comment--content {
    display: inline-block;
  }

  .comment--content img {
    max-width: 100%;
  }

  .comment--header button {
    line-height: 1;
    position: relative;
    top: 3px;
  }

  .comment--body {
    margin: 0 0 0 25px;
  }

  .commenter--gravatar {
    border-radius: 50%;
    width: 25px;
    vertical-align: bottom;
    margin-right: 5px;
  }
  .mui-btn--nostyle + .mui-btn--nostyle {
    margin-left: 0;
  }
  .comment--header__details {
    display: inline-block;
    vertical-align: top;
    padding: 5px 0 0 5px;
    .badge {
      margin-left: 2px;
      margin-right: 2px;
    }
  }
  blockquote {
    border-left: 2px solid #c0ccda;
    margin: 0;
    padding-left: 15px;
  }
}

.comments-form {
  .CodeMirror {
    border: 1px solid #c0ccda;
    min-height: 60px;
  }
  .CodeMirror-focused {
    border: 1px solid #4a90e2;
  }
  .mui-form__fields {
    margin-bottom: 0;
  }
  .recaptcha-field {
    height: 0;
  }
}
