.contact-download-btn {
  position: relative;
  top: 6px;
  left: -6px;
}

.scanner-wrapper {
  position: relative;
  margin: auto;
  text-align: center;

  .scanner-wrapper__camera {
    width: 100vh;
    max-width: 100% !important;
  }
  .scanner-wrapper__badge--icon {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    color: #fff;
    z-index: 1001;
    font-size: 100px;
    opacity: 0.5;
  }
}

.scanned-contacts {
  padding: 32px;
  max-width: 600px;
  margin: auto;
}

@media (min-width: 1200px) {
  .scanner-wrapper {
    float: left;
    padding: 32px;
    text-align: left;
    width: auto;
  }
  .scanner-wrapper--center {
    float: none;
    margin: auto;
    text-align: center;
  }
  .scanned-contacts {
    float: right;
    width: 30%;
    padding: 32px;
  }
}

.camera-dropdown {
  display: inline-block;

  .mui-select__menu {
    display: block !important;
  }
}
