.cfp-action-btn {
  padding: 10px 0;
  cursor: pointer;
  margin-right: 10px; 
  border: none;
  color: #4A90E2;
  background: none;
}


.cfp-action-btn:focus,
.cfp-action-btn:hover {
  border: none;
  outline: none;
  box-shadow: none;
  color: #4A90E2;
}

.inline-form {
  display: inline-block;
  vertical-align: middle;
}

.js-modal-inner {
	.card-wrapper {
		width: 100%;
    padding: 0;
    .card {
      box-shadow: none;
      margin-bottom: 0;
      .card__body {
        padding: 0;
      }
    }
	}
}