.cfp-action-btn {
  padding: 10px 0;
  cursor: pointer;
  margin-right: 10px; 
  border: none;
  color: #4A90E2;
  background: none;
}


.cfp-action-btn:focus,
.cfp-action-btn:hover {
  border: none;
  outline: none;
  box-shadow: none;
  color: #4A90E2;
}

.inline-form {
  display: inline-block;
  vertical-align: middle;
}

.label-title {
  width: calc(100% - 90px);
  display: inline-block;
}

.mui-form__fields.emojipicker {
  float: left;
  width: 70px;
  height: 48px;
  margin-right: 20px;

  .emojionearea-editor {
    height: 48px;
    min-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 12px;
    right: 24px;
    padding: 6px 0;
  }

  .emojionearea-button {
    top: 10px;
  }

  .emojionearea-editor {
    left: 6px !important;
  }

  .emojionearea-button .emojionearea-button-open {
    right: 0;
  }
}

.label-form-modal {
  overflow: visible;
}