.cfp-action-btn {
  padding: 10px 0;
  cursor: pointer;
  margin-right: 10px;
  border: none;
  color: #4A90E2;
  background: none;
}


.cfp-action-btn:focus,
.cfp-action-btn:hover {
  border: none;
  outline: none;
  box-shadow: none;
  color: #4A90E2;
}

.inline-form {
  display: inline-block;
  vertical-align: middle;
}

.label-form {
  max-width: 500px;

  .label-form__title-field {
    width: calc(100% - 130px);
    display: inline-block;
  }

  .label-form__title-field--close {
    width: calc(100% - 114px);
  }

  .label-form__subform__close-btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    background: transparent;
    padding: 10px;
  }

  .label-form__subform {
    margin-left: 20px;
  }

  .emojipicker {
    float: left;
    width: 70px;
    height: 48px;
    margin-right: 20px;

    label {
      display: none;
    }

    .emojionearea-editor {
      height: 48px;
      min-height: 20px;
      overflow: hidden;
      white-space: nowrap;
      position: absolute;
      top: 0;
      left: 12px;
      right: 24px;
      padding: 6px 0;
    }

    .emojionearea-button {
      top: 10px;
    }

    .emojionearea-editor {
      left: 6px !important;
      padding-right: 45px !important;
    }

    .emojionearea-button .emojionearea-button-open,
    .emojionearea-button .emojionearea-button-close {
      right: 3px;
    }

    .emojionearea .emojionearea-editor [class*=emojione-], .emojionearea .emojionearea-editor .emojioneemoji {
      margin: -.2ex 1ex .2ex -0.5ex;
    }
  }

  .emojionearea .emojionearea-picker.emojionearea-picker-position-bottom {
    right: -251px;
  }
  .emojionearea.emojionearea-standalone .emojionearea-picker.emojionearea-picker-position-bottom .emojionearea-wrapper:after, .emojionearea.emojionearea-standalone .emojionearea-picker.emojionearea-picker-position-top .emojionearea-wrapper:after {
    right: 0;
    left: 40px;
  }
}

.label-form__subform {
  .emojionearea .emojionearea-picker.emojionearea-picker-position-bottom {
    right: -210px;
  }
  .emojionearea.emojionearea-standalone .emojionearea-picker.emojionearea-picker-position-bottom .emojionearea-wrapper:after, .emojionearea.emojionearea-standalone .emojionearea-picker.emojionearea-picker-position-top .emojionearea-wrapper:after {
    right: 0;
    left: 80px;
  }
}

.ui-dragable-box {
  padding: 25px 10px 10px 20px;
  border-radius: 3px;
  border: 1px solid #ddd;
  background: #FFF;
  cursor: pointer;
  position: relative;
  margin: 10px 15px;

  .drag-icon {
    position: absolute;
    left: 5px;
    top: 0;
  }
}

.ui-dragable-box--header {
  padding: 0;
  margin: 10px 0;
}

.ui-dragable-box--header .collapsible__header {
  margin: 0;
}

.ui-dragable-box label {
  cursor: pointer;
}

.ui-dragable-box:hover {
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(158,158,158,0.12), 0 1px 2px rgba(158,158,158,0.24);
}

.ui-box-placeholder {
  margin: 10px 15px;
  padding: 10px;
  border-radius: 3px;
    border: 1px solid #ddd;
    background: #FFF;
    height: 55px;
}

.ui-box-placeholder--bigger {
  @extend .ui-box-placeholder;
  margin: 10px 0;
  height: 80px;
}

.seq-input {
    position: absolute;
    right: 0px;
    width: 20px;
    border: 0;
    top: 5px;
    font-size: 14px;
    line-height: 1;
    color: #8492A6;
}

.seq-input--bg {
  background: #EFF2F7;
}

.seq-input:focus,
.seq-input:active {
  outline: none;
}

.ui-dragable-box .sp-replacer {
  margin-top: 5px;
  margin-left: 5px;
}

.modal-form-page .jquery-modal.blocker.current {
  padding: 0;
}

.modal-form {
  min-width: 100%;
  min-height: 325px;
  height: 100%;
  border-radius: 0;

  .modal-form__action-box {
    padding: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    border-top: 1px solid rgba(132,146,166,0.3);
    border-bottom: 1px solid rgba(132,146,166,0.3);
    z-index: 1002;
  }

  .modal-form__action-box--revoke {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
  }

  .mui-form {
    .form-actions {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 15px;
      z-index: 1003;
    }
  }
}

.modal-form.modal-form--edit {
  .modal-form__action-box,
  .mui-form .form-actions {
    bottom: 65px;
  }
  
}

@media (min-width: 768px) {
  .modal-form {
    min-width: 50%;
    min-height: 450px;
    height: auto;
    border-radius: 4px;
  }
}


.search-form {
  width: 100%;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid rgba(132,146,166,0.3);

  .mui-textfield {
    padding-top: 5px;

    > input {
      border-bottom: 0;
    }
  }
}

@media (min-width: 1200px) {
  .search-form.search-form--50 {
    width: 50%;
  }
}
