.cfp-action-btn {
  padding: 10px 0;
  cursor: pointer;
  margin-right: 10px;
  border: none;
  color: $mui-text-hyperlink;
  background: none;
}

.cfp-action-btn:focus,
.cfp-action-btn:hover {
  border: none;
  outline: none;
  box-shadow: none;
  color: $mui-text-hyperlink;
}

.inline-form {
  display: inline-block;
  vertical-align: middle;
}

.label-form {
  max-width: 500px;

  .label-form__title-field {
    width: calc(100% - 130px);
    display: inline-block;
  }

  .label-form__title-field--close {
    width: calc(100% - 114px);
  }

  .label-form__subform__close-btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    background: transparent;
    padding: 10px;
  }

  .label-form__subform {
    margin-left: 20px;
  }

  .emojipicker {
    float: left;
    width: 70px;
    height: 48px;
    margin-right: 20px;

    label {
      display: none;
    }

    .emojionearea-editor {
      height: 48px;
      min-height: 20px;
      overflow: hidden;
      white-space: nowrap;
      position: absolute;
      top: 0;
      left: 12px;
      right: 24px;
      padding: 6px 0;
    }

    .emojionearea-button {
      top: 10px;
    }

    .emojionearea-editor {
      left: 6px !important;
      padding-right: 45px !important;
    }

    .emojionearea-button .emojionearea-button-open,
    .emojionearea-button .emojionearea-button-close {
      right: 3px;
    }

    .emojionearea .emojionearea-editor [class*='emojione-'],
    .emojionearea .emojionearea-editor .emojioneemoji {
      margin: -0.2ex 1ex 0.2ex -0.5ex;
    }
  }

  .emojionearea .emojionearea-picker.emojionearea-picker-position-bottom {
    right: -251px;
  }
  .emojionearea.emojionearea-standalone
    .emojionearea-picker.emojionearea-picker-position-bottom
    .emojionearea-wrapper:after,
  .emojionearea.emojionearea-standalone
    .emojionearea-picker.emojionearea-picker-position-top
    .emojionearea-wrapper:after {
    right: 0;
    left: 40px;
  }
}

.label-form__subform {
  .emojionearea .emojionearea-picker.emojionearea-picker-position-bottom {
    right: -210px;
  }
  .emojionearea.emojionearea-standalone
    .emojionearea-picker.emojionearea-picker-position-bottom
    .emojionearea-wrapper:after,
  .emojionearea.emojionearea-standalone
    .emojionearea-picker.emojionearea-picker-position-top
    .emojionearea-wrapper:after {
    right: 0;
    left: 80px;
  }
}

.modal-form-page .jquery-modal.blocker.current {
  padding: 0;
}

.modal {
  .mui-form {
    .mui-select__menu {
      z-index: 1001;
    }
  }
}

.modal--form {
  min-width: 100%;
  min-height: 325px;
  height: 100%;
  border-radius: 0;

  .modal--form__action-box {
    padding: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    border-top: 1px solid rgba(132, 146, 166, 0.3);
    border-bottom: 1px solid rgba(132, 146, 166, 0.3);
    z-index: 1002;
  }

  .modal--form__action-box--revoke {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;

    .mui-btn.mui-btn--nostyle {
      text-transform: none;
    }
  }

  .mui-form {
    .form-actions {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: $mui-grid-padding;
      z-index: 1003;
      .mui-btn--primary {
        position: relative;
        top: 8px;
      }
    }
  }
}

.modal--form.modal--form--edit {
  .modal--form__action-box,
  .mui-form .form-actions {
    bottom: 65px;
  }
}

@media (min-width: 768px) {
  .jquery-modal.blocker.current .modal.modal--form {
    min-width: 50%;
    min-height: 80%;
    height: auto;
    border-radius: 4px;
  }
}

.search {
  width: 100%;
  margin: 0 0 10px;
  padding: 0 10px;
  border: 1px solid rgba(132, 146, 166, 0.3);
  border-radius: 2px;
  position: relative;
  color: $mui-text-light;

  .mui-textfield {
    padding: 0;
    margin: 0;
    height: 36px;
  }
  .mui-textfield > input {
    border-bottom: 0;
  }
}
.search--icon {
  padding-left: $mui-grid-padding-double;
  .search-form__icon {
    position: absolute;
    top: 10px;
    left: -20px;
  }
}

@media (min-width: 768px) {
  .search.search--50 {
    width: 50%;
  }
  .search.search--small {
    width: 300px;
  }
}

.badge-print-status-btn .mui-form__fields.select2-inline {
  min-width: 160px;
}

#form-password-change #field-password .progress {
  visibility: hidden;
  display: block;
}

#form-password-change #field-password .progress.progress--show {
  visibility: visible;
}

.mui-form .mui-form__fields.password-field {
  margin-bottom: 0;
}

.password-field-sidetext {
  margin: 0 0 20px;
}

@media (max-width: 767px) {
  .modal__inner {
    position: fixed;
    background: $mui-bg-color-primary;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 16px;
    overflow: scroll;
  }
}

.modal__body--form {
  .mui-tabs__bar {
    margin-bottom: 45px;
  }
  .mui-btn--primary {
    width: 100%;
  }
  .mui-form {
    margin-bottom: 0;
  }
}

.form-inline-input {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
.form-inline-label {
  display: inline-block;
  width: 70%;
}

.ajax-form {
  position: relative;
  clear: both;
  width: 100%;
  margin: 0 0 $mui-grid-padding;

  .mui-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0;
    .mui-form__fields {
      display: inline-block;
      width: calc(100% - 48px);
      margin: 0;
      padding: 0;
      .CodeMirror {
        border: 1px solid $mui-primary-color;
        border-radius: 16px 16px 0 16px;
        min-height: 56px;
        padding: $mui-grid-padding;
        height: auto;
        .CodeMirror-sizer {
          min-height: 29px !important;
        }
      }
      .CodeMirror ~ .CodeMirror {
        display: none;
      }
      .CodeMirror-focused {
        border: 1px solid #4a90e2;
      }
    }
  }
  .icon-btn {
    min-width: 40px;
    margin: 0 0 0 8px;
  }
  .user {
    display: inline-block;
    margin-left: 8px;

    .user__box {
      align-items: start;
      padding: 0;
      span {
        height: 40px;
      }
      .user__box__gravatar {
        margin: 0;
      }
      .user__box__gravatar--initials {
        background-color: $mui-primary-color !important;
      }
    }
  }
}

@media (max-width: 767px) {
  .ajax-form.ajax-form--mob {
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
    background-color: $mui-bg-color-accent;
    z-index: 1001;
    margin: 0;
    .mui-form {
      .mui-form__fields .CodeMirror {
        border: none;
        border-radius: 0;
        background: $mui-bg-color-accent;
      }
    }
    .mui-btn--raised.icon-btn {
      border-radius: 0;
      box-shadow: none;
      padding-bottom: 16px;
    }
    .user {
      padding-bottom: $mui-grid-padding/2;
      padding-right: $mui-grid-padding;
      margin-right: 0;
    }
  }
  .ajax-form--block.ajax-form--mob {
    padding: $mui-grid-padding;
    .mui-form {
      display: block;
      .ajax-form__title {
        margin: 0;
      }
    }
  }
}

@media (min-width: 768px) {
  .ajax-form--block {
    .mui-form {
      justify-content: flex-start;
      .ajax-form__title {
        margin-right: 8px;
      }
    }
  }
}

.post-form-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 0 $mui-grid-padding;
  .post-form {
    cursor: pointer;
    text-decoration: none !important;
    color: $mui-text-light;
    font-size: 16px;
    border-radius: 16px 16px 0 16px;
    background-color: $mui-bg-color-primary-dark;
    padding: 21px 16px;
    margin: 0;
    display: inline-block;
    width: calc(100% - 48px);
  }
  .user {
    display: inline-block;

    .user__box {
      align-items: start;
      padding: 0;
      span {
        height: 40px;
      }
      .user__box__gravatar {
        margin: 0;
      }
      .user__box__gravatar--initials {
        background-color: $mui-primary-color !important;
      }
    }
  }
}

.update-form-block {
  border-radius: 4px;
  background-color: $mui-bg-color-primary-dark;
  padding: 8px 16px;
  margin-bottom: 32px;
  margin: 16px 0 32px;
  display: block;
  cursor: pointer;
  text-decoration: none !important;
  span {
    height: 40px;
  }

  .user__box {
    align-items: start;
  }

  .user__box__gravatar--initials {
    background-color: #0f73ed !important;
  }

  input {
    width: 100%;
    padding: 10px 16px;
    border-radius: 2px;
    border: solid 1px rgba(77, 87, 99, 0.13);
    background-color: #fff;
    cursor: pointer;
  }
}

.img-upload-modal {
  .imgee {
    .imgee__button,
    .imgee__url-holder {
      display: none;
    }
  }
  .modal__body {
    .mui-form__fields {
      margin: 0;
    }
    .modal {
      padding: 0 !important;
      max-width: 100% !important;
      width: 100% !important;
      box-shadow: none !important;
      border-radius: 0 !important;
      .modal__header {
        .modal__close {
          display: none;
        }
      }
      .modal__body {
        max-height: calc(100vh - 160px);
        overflow: scroll;
        .popup {
          background-color: $mui-bg-color-primary !important;
        }
      }
    }
  }
}

.form-video-box {
  border-radius: 16px;
  border: solid 1px $mui-bg-color-primary-dark;
  padding: $mui-grid-padding $mui-grid-padding 64px;
  position: relative;
  .form-video-box__btn {
    position: absolute;
    bottom: $mui-grid-padding;
    right: $mui-grid-padding;
    z-index: 2;
  }
  .form-video-box__youtube {
    position: absolute;
    bottom: $mui-grid-padding;
    right: 62px;
    z-index: 2;
    .form-video-box__youtube__icon {
      color: #f00;
    }
  }
  .form-video-box__vimeo {
    position: absolute;
    bottom: $mui-grid-padding;
    right: $mui-grid-padding;
    z-index: 2;
    .form-video-box__vimeo__icon {
      color: #86c9ef;
    }
  }
}

form.mui--bg-accent .CodeMirror {
  background: $mui-bg-color-accent;
}

.modal-form {
  display: none;
}

.jquery-modal .js-modal .modal-form {
  display: block;
}

.header-form-submit {
  position: fixed;
  top: 2px;
  right: $mui-grid-padding;
  z-index: 1001;
}

@media (min-width: 768px) {
  .header-form-submit {
    position: static;
  }
}
