.cfp-action-btn {
  padding: 10px 0;
  cursor: pointer;
  margin-right: 10px;
  border: none;
  color: $mui-text-hyperlink;
  background: none;
}

.cfp-action-btn:focus,
.cfp-action-btn:hover {
  border: none;
  outline: none;
  box-shadow: none;
  color: $mui-text-hyperlink;
}

.inline-form {
  display: inline-block;
  vertical-align: middle;
}

.label-form {
  max-width: 500px;

  .label-form__title-field {
    width: calc(100% - 130px);
    display: inline-block;
  }

  .label-form__title-field--close {
    width: calc(100% - 114px);
  }

  .label-form__subform__close-btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    background: transparent;
    padding: 10px;
  }

  .label-form__subform {
    margin-left: 20px;
  }

  .emojipicker {
    float: left;
    width: 70px;
    height: 48px;
    margin-right: 20px;

    label {
      display: none;
    }

    .emojionearea-editor {
      height: 48px;
      min-height: 20px;
      overflow: hidden;
      white-space: nowrap;
      position: absolute;
      top: 0;
      left: 12px;
      right: 24px;
      padding: 6px 0;
    }

    .emojionearea-button {
      top: 10px;
    }

    .emojionearea-editor {
      left: 6px !important;
      padding-right: 45px !important;
    }

    .emojionearea-button .emojionearea-button-open,
    .emojionearea-button .emojionearea-button-close {
      right: 3px;
    }

    .emojionearea .emojionearea-editor [class*='emojione-'],
    .emojionearea .emojionearea-editor .emojioneemoji {
      margin: -0.2ex 1ex 0.2ex -0.5ex;
    }
  }

  .emojionearea .emojionearea-picker.emojionearea-picker-position-bottom {
    right: -251px;
  }
  .emojionearea.emojionearea-standalone
    .emojionearea-picker.emojionearea-picker-position-bottom
    .emojionearea-wrapper:after,
  .emojionearea.emojionearea-standalone
    .emojionearea-picker.emojionearea-picker-position-top
    .emojionearea-wrapper:after {
    right: 0;
    left: 40px;
  }
}

.label-form__subform {
  .emojionearea .emojionearea-picker.emojionearea-picker-position-bottom {
    right: -210px;
  }
  .emojionearea.emojionearea-standalone
    .emojionearea-picker.emojionearea-picker-position-bottom
    .emojionearea-wrapper:after,
  .emojionearea.emojionearea-standalone
    .emojionearea-picker.emojionearea-picker-position-top
    .emojionearea-wrapper:after {
    right: 0;
    left: 80px;
  }
}

.ui-dragable-box {
  padding: 25px 10px 10px 20px;
  border-radius: 3px;
  border: 1px solid $mui-text-accent;
  background: $mui-bg-color-primary;
  cursor: pointer;
  position: relative;
  margin: 10px $mui-grid-padding;

  .drag-icon {
    position: absolute;
    left: 5px;
    top: 5px;
  }
}

.ui-dragable-box--header {
  padding: 0;
  margin: 10px 0;
}

.ui-dragable-box--header .collapsible__header {
  margin: 0;
}

.ui-dragable-box label {
  cursor: pointer;
}

.ui-dragable-box:hover {
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(158, 158, 158, 0.12),
    0 1px 2px rgba(158, 158, 158, 0.24);
}

.ui-box-placeholder {
  margin: 10px $mui-grid-padding;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid $mui-text-accent;
  background: $mui-bg-color-primary;
  height: 55px;
}

.ui-box-placeholder--bigger {
  @extend .ui-box-placeholder;
  margin: 10px 0;
  height: 80px;
}

.seq-input {
  position: absolute;
  right: 0px;
  width: 20px;
  border: 0;
  top: 5px;
  font-size: 14px;
  line-height: 1;
  color: $mui-text-dark;
}

.seq-input--bg {
  background: $mui-bg-color-primary-dark;
}

.seq-input:focus,
.seq-input:active {
  outline: none;
}

.ui-dragable-box .sp-replacer {
  margin-top: 5px;
  margin-left: 5px;
}

.modal-form-page .jquery-modal.blocker.current {
  padding: 0;
}

.modal {
  .mui-form {
    .mui-select__menu {
      z-index: 1001;
    }
  }
}

.modal-form {
  min-width: 100%;
  min-height: 325px;
  height: 100%;
  border-radius: 0;

  .modal-form__action-box {
    padding: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    border-top: 1px solid rgba(132, 146, 166, 0.3);
    border-bottom: 1px solid rgba(132, 146, 166, 0.3);
    z-index: 1002;
  }

  .modal-form__action-box--revoke {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;

    .mui-btn.mui-btn--nostyle {
      text-transform: none;
    }
  }

  .mui-form {
    .form-actions {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: $mui-grid-padding;
      z-index: 1003;
    }
  }
}

.modal-form.modal-form--edit {
  .modal-form__action-box,
  .mui-form .form-actions {
    bottom: 65px;
  }
}

@media (min-width: 768px) {
  .jquery-modal.blocker.current .modal.modal-form {
    min-width: 50%;
    min-height: 80%;
    height: auto;
    border-radius: 4px;
  }
}

.search {
  width: 100%;
  margin: 0 0 10px;
  padding: 0 10px;
  border: 1px solid rgba(132, 146, 166, 0.3);
  border-radius: 2px;
  position: relative;
  color: $mui-text-light;

  .mui-textfield {
    padding: 0;
    margin: 0;
    height: 36px;
  }
  .mui-textfield > input {
    border-bottom: 0;
  }
}
.search--icon {
  padding-left: $mui-grid-padding-double;
  .search-form__icon {
    position: absolute;
    top: 10px;
    left: -20px;
  }
}

@media (min-width: 768px) {
  .search.search--50 {
    width: 50%;
  }
  .search.search--small {
    width: 300px;
  }
}

.badge-print-status-btn .mui-form__fields.select2-inline {
  min-width: 160px;
}

#form-password-change #field-password .progress {
  visibility: hidden;
  display: block;
}

#form-password-change #field-password .progress.progress--show {
  visibility: visible;
}

.mui-form .mui-form__fields.password-field {
  margin-bottom: 0;
}

.password-field-sidetext {
  margin: 0 0 20px;
}

@media (max-width: 767px) {
  .modal__inner {
    position: fixed;
    background: $mui-bg-color-primary;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 16px;
    overflow: scroll;
  }
}

.modal__body--form {
  .mui-tabs__bar {
    margin-bottom: 45px;
  }
  .mui-btn--primary {
    width: 100%;
  }
  .mui-form {
    margin-bottom: 0;
  }
}

.form-inline-input {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
.form-inline-label {
  display: inline-block;
  width: 70%;
}

.ajax-form {
  position: relative;
  clear: both;

  .mui-form--margins {
    margin: 0;
  }
  .CodeMirror {
    border: 1px solid #c0ccda;
    min-height: 60px;
  }
  .CodeMirror ~ .CodeMirror {
    display: none;
  }
  .CodeMirror-focused {
    border: 1px solid #4a90e2;
  }
  .mui-form__fields {
    margin-bottom: 0;
  }
  .mui-form.form-actions {
    display: inline-block;
    float: left;
    margin-right: 10px;
  }
  .ajax-form__cancelbtn {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    position: relative;
    top: 7px;
  }
}

.post-form-block {
  border-radius: 4px;
  background-color: $mui-bg-color-accent;
  padding: $mui-grid-padding/2 $mui-grid-padding;
  margin-bottom: $mui-grid-padding-double;
  margin: 16px 0 32px;
  display: block;
  cursor: pointer;
  text-decoration: none !important;

  span {
    height: 40px;
  }

  .user__box {
    align-items: start;
  }

  .user__box__gravatar--initials {
    background-color: $mui-primary-color !important;
  }
  input {
    width: 100%;
    padding: 10px 16px;
    border-radius: 2px;
    border: solid 1px rgba(77, 87, 99, 0.13);
    background-color: #ffffff;
    cursor: pointer;
  }
}

.img-upload-modal {
  .imgee-button {
    display: none;
  }
  .modal__body {
    .modal {
      padding: 0 !important;
      max-width: 100% !important;
      width: 100% !important;
      box-shadow: none !important;
      border-radius: 0 !important;
      .modal__header {
        .modal__close {
          display: none;
        }
      }
      .modal__body {
        max-height: 350px;
        .popup {
          background-color: $mui-bg-color-primary !important;
        }
      }
    }
  }
}
