.hg-app {
  .header--fixed {
    bottom: 0;

    .header__nav {
      height: 50px;
      padding: 0 $mui-grid-padding;
      justify-content: space-between;

      .header__site-title {
        padding: 0;
        width: 100%;

        .header__site-title__title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 50px;

          .header__site-title__logo {
            height: 35px;
          }

          .search-form {
            position: fixed;
            bottom: 50px;
            width: 100%;
            left: 0;
            box-shadow: 0 1px 3px rgba(158, 158, 158, 0.12),
              0 1px 2px rgba(158, 158, 158, 0.24);
            display: none;
            height: 50px;

            .search-form__field {
              background-color: #eff2f6;
              border: none;
              padding: $mui-grid-padding $mui-grid-padding-double
                $mui-grid-padding 35px;
              min-width: calc(100% - 60px);
              color: #4d5763;
              font-size: 16px;
              outline: none;
            }
            .search-form__field__icon {
              position: absolute;
              top: 17px;
              left: $mui-grid-padding;
            }
            .search-form__submit {
              visibility: hidden;
            }
          }
          .search-form--show {
            display: inline-block;
          }

          .header__nav-links {
            .header__nav-links__text {
              font-size: 12px;
            }
            .header__nav-links__icon {
              width: 24px;
              height: 24px;
            }
          }
        }
      }

      .header__right-nav {
        display: none;
      }
      a.header__button {
        line-height: 30.6px;
        margin: 6px 0;
      }
    }
  }
  .content-wrapper {
    padding-top: 0;
  }
}

@media (max-width: 767px) {
  .hg-app.no-sticky-header {
    .header--fixed {
      display: none;
    }
  }
  .hg-app.no-sticky-header {
    .footer {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  .hg-app {
    .header--fixed {
      bottom: unset;
      top: 0;

      .header__nav {
        .header__site-title {
          width: 100%;
          margin-right: 0;
          padding-right: 0;

          .header__site-title__title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            overflow: visible;

            .header__site-title__logo {
              height: 35px;
              margin-right: $mui-grid-padding;
              position: relative;
              top: -2px;
            }

            .header__nav-links--search {
              display: none;
            }

            .search-form {
              position: relative;
              bottom: 0;
              display: flex;
              width: 300px;
              box-shadow: none;
              height: 35px;

              .search-form__field {
                border-radius: 16px;
                padding: 8px 10px 8px $mui-grid-padding-double;
              }
              .search-form__field__icon {
                top: 9px;
                left: 13px;
              }
            }

            .header__nav-links {
              .header__nav-links__icon {
                width: 20px;
                height: 20px;
                vertical-align: bottom;
              }
              .header__nav-links__text {
                display: inline-block;
                margin-left: 8px;
                font-size: 18px;
              }
            }
            .header__nav-links__dropdown {
              margin-top: 13px;
            }
          }
        }
      }
    }

    .content-wrapper {
      padding-top: 50px;
    }
  }
}

@media (min-width: 1200px) {
  .hg-app {
    .header--fixed {
      .header__nav {
        .header__site-title {
          .header__site-title__title {
            .search-form {
              width: 400px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-device-width: 767px) and (orientation: landscape) {
  .hg-app {
    .header--fixed {
      .header__nav {
        height: 35px;
        .header__site-title {
          .header__site-title__title {
            .header__site-title__logo {
              height: 25px;
            }
            .header__nav-links .header__nav-links__icon {
              vertical-align: text-top;
            }
            .header__nav-links .header__nav-links__text {
              font-size: 14px;
              position: relative;
              top: 5px;
            }

            .search-form {
              bottom: 35px;
            }
          }
          a.header__button {
            height: 24px;
            line-height: 24px;
          }
        }
      }
    }
  }
}

@media (min-device-width: 768px) and (max-device-width: 1199px) and (orientation: landscape) {
  .hg-app {
    .header--fixed {
      .header__nav {
        height: 35px;
        .header__site-title {
          .header__site-title__title {
            .header__site-title__logo {
              height: 25px;
            }

            .search-form {
              height: 26px;
              .search-form__field {
                padding: 5px 10px 5px $mui-grid-padding-double;
                font-size: 14px;
              }
              .search-form__field__icon {
                top: 6px;
                left: 8px;
              }
            }
          }
          a.header__button {
            height: 24px;
            line-height: 24px;
          }
        }
      }
    }
    .content-wrapper {
      padding-top: 35px;
    }
  }
}

.header__site-title__item {
  font-size: 18px;
  line-height: 28px;
  position: relative;
  top: -3px;
}

.header__site-title__home {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.header__site-title__home:hover {
  color: inherit;
  text-decoration: none;
}

.header__site-title__logo {
  vertical-align: middle;
  margin: auto;
}

.header__site-title__logo--small {
  height: 18px;
}

.header__site-title__logo--margin {
  margin-right: 10px;
}

.header__site-title__logo--funnel {
  width: 18px;
  position: relative;
  top: -2px;
}

@media (min-width: 768px) {
  .header__site-title__item {
    font-size: 24px;
    line-height: 32px;
    top: 0;
  }
}

.header__site-title__logotxt {
  position: relative;
  top: -6px;
}

@media (max-width: 1199px) {
  .no-header {
    .header {
      display: none;
    }
    .content-wrapper {
      padding-top: 0;
    }
    .footer {
      display: none;
    }
  }
}

.sub-navbar {
  .sub-navbar__item {
    display: block;
    padding: $mui-grid-padding;
    margin: 0;
    text-decoration: none;
    border-bottom: 1px solid rgba(132, 146, 166, 0.3);
    transition: border-color 1.5s ease;
    min-width: 0;
    min-height: 0;
    background-color: #f9fafc;
  }

  .sub-navbar__item--wrapper {
    height: 56px;
  }

  .sub-navbar__item--fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border-bottom: none;
    box-shadow: 0 1px 3px rgba(158, 158, 158, 0.12),
      0 1px 2px rgba(158, 158, 158, 0.24);
  }

  .sub-navbar__item:first-child {
    border-top: 1px solid rgba(132, 146, 166, 0.3);
  }

  .mui-btn {
    margin: 0 0.5em;
  }

  .sub-navbar__item--primarybg {
    background-color: #e05f26;
    color: #fff;
  }
}

@media (min-width: 768px) {
  .sub-navbar-container {
    border-bottom: 1px solid rgba(132, 146, 166, 0.3);
    border-top: 1px solid rgba(132, 146, 166, 0.3);
    margin-top: 2em;
  }

  .sub-navbar-container--sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    order: 1;
    z-index: 1000;
  }

  .sub-navbar {
    overflow: auto;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0 $mui-grid-padding;

    .sub-navbar__item {
      display: inline-block;
      flex-shrink: 0;
      padding: $mui-grid-padding;
      margin: 0 $mui-grid-padding;
      text-decoration: none;
      border-bottom: 2px solid transparent;
      transition: border-color 1.5s ease;
      min-width: 0;
      min-height: 0;
    }

    .sub-navbar__item:first-child {
      margin: 0 $mui-grid-padding 0 0;
    }

    .sub-navbar__item:first-child {
      border-top: 0;
    }

    .sub-navbar__item__icon {
      display: none;
    }

    .sub-navbar__item:hover,
    .sub-navbar__item:active,
    .sub-navbar__item--active {
      border-bottom: 2px solid #856a91;
    }
  }
}

@media (min-device-width: 768px) and (max-device-width: 1199px) and (orientation: landscape) {
  .sub-navbar-container--sticky {
    top: 35px;
  }
}

@media (min-width: 992px) {
  .sub-navbar {
    max-width: 960px;
    margin: auto;
    padding: 0 $mui-grid-padding;
  }
}

@media (min-width: 1200px) {
  .sub-navbar {
    max-width: 1170px;
  }
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000;

  .mobile-nav__icon {
    display: inline-block;
    padding: $mui-grid-padding $mui-grid-padding-double $mui-grid-padding 20px;
  }
  .mobile-nav__headline {
    font-size: 20px;
    line-height: 1;
  }
}

.tabs-wrapper {
  background: #fff;
  box-shadow: 0 2px 2px -1px rgba(158, 158, 158, 0.24);
  width: 100%;
}

.tabs-wrapper--sticky {
  position: sticky;
  order: 1;
  top: 0;
  z-index: 1000;
  width: calc(100% - 103px);
  left: 52px;

  .grid__col-12 {
    padding-left: 0;
    padding-right: 0;
  }
}

.tabs {
  display: flex;
  width: 100%;
  overflow: scroll;
  align-items: center;

  .tabs__item {
    padding: $mui-grid-padding;
    cursor: pointer;
    position: relative;
    min-width: 1$mui-grid-padding-double;
    border: none;
    border-bottom: 2px solid transparent;
    margin: 0;
    text-align: center;
    cursor: pointer;
    flex: 0 0 auto;
  }

  .tabs__item--width {
    min-width: auto;
  }

  .tabs__item:hover,
  .tabs__item:focus {
    text-decoration: none;
    outline: none;
  }

  .tabs__item--active {
    border-bottom: 2px solid #856a91;
  }

  button.tabs__item--active {
    background: #f2f2f2;
  }

  .tabs__item-control {
    position: fixed;
    z-index: 1000;
    background: #fff;
    min-width: auto;
    top: 0;
    padding: $mui-grid-padding $mui-grid-padding 6px;
    align-self: center;
    box-shadow: 0 2px 2px -1px rgba(158, 158, 158, 0.24);

    .tabs__item-control__icon {
      vertical-align: middle;
    }
  }
  .tabs__item-control--prev {
    left: 0;
  }
  .tabs__item-control--next {
    right: 0;
  }
}

@media (min-width: 768px) {
  .tabs-navbar .header {
    box-shadow: none;
  }
  .tabs-wrapper--sticky {
    top: 50px;
    width: 100%;
    left: 0;

    .grid__col-12 {
      padding-left: $mui-grid-padding;
      padding-right: $mui-grid-padding;
    }

    .tabs__item-control {
      display: none;
    }
  }
}

@media (min-device-width: 768px) and (max-device-width: 1200px) and (orientation: landscape) {
  .tabs-wrapper--sticky {
    top: 35px;
  }
}

.tab-content {
  margin-top: 2em;

  .tab-content__results {
    margin-bottom: 1em;
  }
}
.mui-btn--strike {
  text-decoration: line-through;
}
.mui-btn--strike:hover {
  text-decoration: line-through;
}
