@media (max-width: 767px) {
  #root_footer {
    padding-top: $mui-grid-padding-double;
  }
}

.hg-app {
  .header--fixed {
    bottom: 0;

    .header__nav {
      height: 56px;
      padding: 0 $mui-grid-padding;
      justify-content: space-between;

      .header__site-title {
        padding: 0;
        width: 100%;

        .header__site-title__title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 56px;
          position: relative;

          .logo-about {
            position: fixed !important;
            width: 100%;
            left: 0;
            top: 0;
            padding: 10px 16px;
            font-size: 12px;
            font-weight: 600;
            line-height: 1.33;
            letter-spacing: 0.43px;
            text-align: left;
            color: $mui-primary-color;
            position: relative;
            background-color: $mui-primary-color-lighter;
            text-decoration: none;
            display: none;
          }

          .logo-about:hover,
          .logo-about:focus,
          .logo-about:active {
            text-decoration: none;
          }

          .header__site-title__home__logo {
            height: 24px;
            margin: 0 auto 6px;
          }

          .search-form {
            position: fixed;
            top: 0;
            left: 0;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
            padding: $mui-grid-padding $mui-grid-padding/2;
            right: 0;
            left: 0;
            background: $mui-bg-color-primary;

            .search-form__field {
              background-color: #f1f1f1;
              padding: 8px 8px 8px 28px;
              color: #4d5763;
              font-size: 16px;
              outline: none;
              border-radius: 16px;
              border: solid 1px #f0f0f0;
              width: 100%;
              box-sizing: border-box;
            }
            .search-form__field__icon {
              position: absolute;
              bottom: 27px;
              left: 16px;
            }
            .search-form__dropdown {
              position: absolute;
              background-color: $mui-bg-color-primary;
              overflow: scroll;
              list-style: none;
              padding: 0 $mui-grid-padding;
              display: none;
              height: calc(100vh - 126px);
              left: 0;
              right: 0;
              font-size: 14px;
              top: 70px;
              overflow: hidden;
              .search-form__dropdown__item--border {
                border-bottom: 1px solid #f0f0f0;
                margin-left: -15px;
                margin-right: -15px;
                padding: 0 15px;
              }
              .search-form__dropdown__label {
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: inline-block;
                vertical-align: bottom;
              }
            }
            .search-form__dropdown--show {
              display: block;
            }
            .search-form__submit {
              visibility: hidden;
            }
          }
          .mui-dropdown {
            line-height: 1;
          }

          .header__nav-links {
            text-decoration: none !important;
            .header__nav-links__text {
              font-size: 12px;
              color: $mui-text-light;
              font-weight: 600;
            }
            .header__nav-links__icon {
              width: 24px;
              height: 24px;
              color: $mui-text-light;
              margin: 0 auto 4px;
            }
            .mui-caret {
              color: $mui-text-light;
            }
          }
          .header__nav-links--active {
            .header__nav-links__icon,
            .header__nav-links__text,
            .mui-caret {
              color: $mui-primary-color;
            }
          }
          .header__nav-links--updates {
            position: relative;
          }
          .header__nav-links--updates:after {
            content: '';
            position: absolute;
            top: -2px;
            right: 10px;
            width: 6px;
            height: 6px;
            background: red;
            border-radius: 50%;
            display: none;
          }
          .header__nav-links--updates:hover:after {
            top: -4px;
          }
          .header__nav-links--updates--unread:after {
            display: inline-block;
          }
        }
      }

      .header__right-nav {
        display: none;
      }
      a.header__button {
        line-height: 30.6px;
        margin: 6px 0;
      }
    }
  }
  .comments-sidebar {
    position: fixed;
    z-index: 999999999;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
    transition: all 0.4s cubic-bezier(0.4, 0, 0, 1) 0s;
    transform: translate(-100%, 0);
    -webkit-transform: translate(-100%, 0);
    overflow: scroll;
    background: $mui-bg-color-primary;
    .comments-sidebar__heading {
      margin: 0;
      padding: 15px $mui-grid-padding 14px;
    }
    .comments-list {
      list-style: none;
      padding: 0;
      li.user {
        padding: 0 $mui-grid-padding;
        border-bottom: solid 1px rgba(151, 151, 151, 0.09);
        .user__box {
          align-items: end;
          .user__box__header.comment__details {
            width: calc(100% - 48px);
            .user__box__fullname {
              margin: 0 0 2px;
            }
            .comment__details__age {
              position: relative;
              top: 4px;
            }
            .user__box__subcontent {
              margin: 0 0 0;
              .truncated-text {
                width: calc(100% - 25px);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: inline-block;
              }
            }
          }
        }
      }
    }
  }
  .comments-sidebar.open {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
  }
  .content-wrapper {
    padding-top: 70px;
  }
}

.hg-app .header--fixed.header--lowzindex {
  z-index: 1;
}

@media (max-width: 767px) {
  .hg-app.no-sticky-header {
    .header--fixed {
      display: none;
    }
    .alert-wrapper {
      position: relative;
      top: 50px;
    }
  }
  .hg-app.no-sticky-header {
    .footer {
      display: none;
    }
  }
  .homepage.hg-app {
    .header--fixed {
      .header__nav {
        .header__site-title {
          .header__site-title__title {
            .logo-about {
              display: block;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .hg-app {
    .header--fixed {
      bottom: unset;
      top: 0;

      .header__nav {
        .header__site-title {
          width: 100%;
          margin-right: 0;
          padding-right: 0;

          .header__site-title__title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            overflow: visible;

            .header__site-title__title__home {
              width: 185px;
            }

            .logo-about {
              position: absolute !important;
              left: 46px;
              top: 5px;
              font-size: 12px;
              padding: 2px 10px;
              border-radius: 4px;
              width: auto;
              display: block;
              .emoji-hand {
                display: none;
              }
            }

            .logo-about:after {
              content: '';
              width: 0;
              height: 0;
              position: absolute;
              border-left: 5px solid #e1eefd;
              border-right: 5px solid transparent;
              border-top: 5px solid #e1eefd;
              border-bottom: 5px solid transparent;
              left: -4px;
              top: 12px;
              transform: rotate(45deg);
            }

            .header__site-title__home__logo {
              height: 30px;
            }

            .header__nav-links--search {
              display: none;
            }

            .search-form {
              position: relative;
              bottom: 0;
              box-shadow: none;
              background: transparent;
              padding: $mui-grid-padding;
              .search-form__field {
                padding: 8px 8px 8px 36px;
              }
              .search-form__field__icon {
                left: 32px;
              }
              .search-form__field--selected {
                background: #fff;
                border-radius: 16px 16px 0 0;
              }
              .search-form__dropdown {
                top: 54px;
                left: 16px;
                right: 16px;
                font-size: 16px;
                border-radius: 0 0 16px 16px;
                border: solid 1px #f0f0f0;
                height: auto;
              }
            }

            .header__nav-links {
              .header__nav-links__icon {
                width: 22px;
                height: 22px;
                margin: 0;
              }
              .header__nav-links__text {
                display: inline-block;
                margin-left: 8px;
                font-size: 20px;
                font-weight: 400;
              }
            }

            .header__nav-links.user--standalone {
              margin-left: $mui-grid-padding;
              .user__box .user__box__gravatar {
                margin-right: 0;
              }
            }

            .header__site-title__title__settings {
              display: flex;
              justify-content: flex-end;
            }
            .header__nav-links--right {
              position: relative;
              width: 40px;
              height: 40px;
              background: $mui-bg-color-accent;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-left: $mui-grid-padding;
              min-width: 40px;
              .header__nav-links__icon {
                width: 16px;
                height: 16px;
              }
            }
            .header__nav-links--updates:after {
              top: 6px;
            }
            .header__nav-links--updates:hover:after {
              top: 4px;
            }
          }
        }
      }
    }
    .comments-sidebar {
      left: unset;
      min-width: 300px;
      max-width: 390px;
      transform: translate(100%, 0);
      -webkit-transform: translate(100%, 0);
    }
    .content-wrapper {
      padding-top: 56px;
      padding-bottom: 0;
    }
  }
}

@media (min-width: 1200px) {
  .hg-app {
    .header--fixed {
      .header__nav {
        .header__site-title {
          .header__site-title__title {
            .search-form {
              width: 400px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
  .hg-app {
    .header--fixed {
      .header__nav {
        .header__site-title {
          .header__site-title__title {
            .header__nav-links {
              display: flex;
              align-items: center;
              .header__site-title__home__logo,
              .header__nav-links__icon {
                margin: 0;
              }
              .header__nav-links__text {
                font-size: 14px;
              }
            }
            .header__nav-links--updates:after {
              right: 0;
              left: 19px;
            }
          }
          a.header__button {
            height: 24px;
            line-height: 24px;
          }
        }
      }
    }
  }
}

.header__site-title__item {
  font-size: 18px;
  line-height: 28px;
  position: relative;
  top: -3px;
}

.header__site-title__home {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.header__site-title__home:hover {
  color: inherit;
  text-decoration: none;
}

.header__site-title__home__logo {
  vertical-align: middle;
  margin: auto;
}

.header__site-title__home__logo--small {
  height: 18px;
}

.header__site-title__home__logo--funnel {
  width: 18px;
}

@media (min-width: 768px) {
  .header__site-title__item {
    font-size: 24px;
    line-height: 32px;
    top: 0;
  }
}

.header__site-title__home__logotxt {
  position: relative;
  top: -6px;
}

@media (max-width: 1199px) {
  .no-header {
    .header {
      display: none;
    }
    .content-wrapper {
      padding-top: 0;
    }
    .footer {
      display: none;
    }
  }
}

.alert-wrapper {
  padding: 0 16px;
  .alert {
    margin: 16px auto 0;
  }
}

.sub-navbar {
  margin-top: $mui-grid-padding;
  .sub-navbar__item {
    display: block;
    padding: $mui-grid-padding;
    margin: 0;
    text-decoration: none;
    border-bottom: 1px solid rgba(132, 146, 166, 0.3);
    transition: border-color 1.5s ease;
    min-width: 0;
    min-height: 0;
    font-weight: 600;
  }

  .sub-navbar__item--wrapper {
    height: 56px;
  }

  .sub-navbar__item--fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border-bottom: none;
    box-shadow: 0 1px 3px rgba(158, 158, 158, 0.12),
      0 1px 2px rgba(158, 158, 158, 0.24);
  }

  .sub-navbar__item:nth-child(2) {
    border-top: 1px solid rgba(132, 146, 166, 0.3);
  }

  .mui-btn {
    margin: 0 0.5em;
  }

  .sub-navbar__item--primarybg {
    background-color: $mui-accent-color;
    color: $mui-text-white;
  }
}

@media (min-width: 768px) {
  .sub-navbar-container--sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 56px;
    order: 1;
    z-index: 3;
    margin-bottom: $mui-grid-padding;
  }

  .sub-navbar {
    overflow: auto;
    display: flex;
    align-items: center;
    margin: 0 auto;

    .sub-navbar__item {
      display: inline-block;
      flex-shrink: 0;
      padding: $mui-grid-padding 0;
      margin: 0 $mui-grid-padding;
      text-decoration: none;
      border-bottom: 4px solid transparent;
      border-top: none !important;
      transition: border-color 1.5s ease;
      min-width: 0;
      min-height: 0;
    }

    .sub-navbar__item:first-child {
      margin: 0 $mui-grid-padding 0 0;
    }

    .sub-navbar__item:first-child {
      border-top: 0;
    }

    .sub-navbar__item__icon {
      display: none;
    }

    .sub-navbar__item:hover,
    .sub-navbar__item:active,
    .sub-navbar__item--active {
      border-bottom: 4px solid $mui-primary-color;
      color: $mui-primary-color;
    }
  }
}

@media (min-device-width: 768px) and (max-device-width: 1199px) and (orientation: landscape) {
  .sub-navbar-container--sticky {
    top: 35px;
  }
}

@media (min-width: 992px) {
  .sub-navbar {
    max-width: 960px;
    margin: auto;
  }
}

@media (min-width: 1200px) {
  .sub-navbar {
    max-width: 1170px;
  }
}

.sub-navbar-container--footer {
  margin-top: 32px;
  margin-bottom: 56px;
}
@media (min-width: 768px) {
  .sub-navbar-container--footer {
    margin-top: 48px;
    margin-bottom: 0;

    .sub-navbar {
      margin-bottom: 0;
      justify-content: space-between;
      min-width: 100%;

      .sub-navbar__item {
        margin: 0;
        color: $mui-text-accent-lighter;
      }
    }
  }
}

.mobile-nav-wrapper {
  min-height: 52px;
  .mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $mui-bg-color-primary;
    z-index: 1000;

    .mobile-nav__icon {
      display: inline-block;
      padding: $mui-grid-padding $mui-grid-padding/2 $mui-grid-padding
        $mui-grid-padding;
      line-height: 1;
    }
    .mobile-nav__headline {
      font-size: 22px;
      line-height: 1;
    }
  }
}

.tabs-wrapper {
  background: $mui-bg-color-primary;
  box-shadow: 0 2px 2px -1px rgba(158, 158, 158, 0.24);
  width: 100%;
}

.tabs-wrapper--sticky {
  position: sticky;
  order: 1;
  top: 0;
  z-index: 1000;
  width: 100%;
  left: 0;

  .grid__col-12 {
    padding-right: 0;
  }
}

@media (min-width: 768px) {
  .tabs-navbar .header {
    box-shadow: none;
  }
  .tabs-wrapper--sticky {
    top: 50px;
    width: 100%;
    left: 0;

    .grid__col-12 {
      padding-left: $mui-grid-padding;
      padding-right: $mui-grid-padding;
    }

    .tabs__item-control {
      display: none;
    }
  }
}

@media (min-device-width: 768px) and (max-device-width: 1200px) and (orientation: landscape) {
  .tabs-wrapper--sticky {
    top: 35px;
  }
}

.tab-content {
  margin-top: 2em;

  .tab-content__results {
    margin-bottom: 1em;
  }
}
.mui-btn--strike {
  text-decoration: line-through;
}
.mui-btn--strike:hover {
  text-decoration: line-through;
}

.hg-app.no-sticky-header.page-with-banner {
  .alert-wrapper {
    position: absolute;
    top: 36px;
    z-index: 12;
    left: 0;
    right: 0;
  }
}

@media (min-width: 768px) {
  .hg-app.no-sticky-header.page-with-banner {
    .alert-wrapper {
      top: 0;
    }
  }
}
