.hg-app {
  .header--fixed {
    bottom: 0;

    .header__nav {
      padding: 0 15px;
      justify-content: space-between;

      .header__site-title {
        padding: 0;

        .header__site-title__logo {
          height: 30px;
        }

        .search-form {
          position: fixed;
          bottom: 50px;
          width: 100%;
          left: 0;
          box-shadow: 0 1px 3px rgba(158,158,158,0.12), 0 1px 2px rgba(158,158,158,0.24);
          display: none;

          .search-form__field {
            width: 100%;
            background-color: #eff2f6;
            border: none;
            padding: 15px 30px;
            color: #79818b;
            font-size: 14px;
          }
        }
        .search-form--show {
          display: inline-block;
        }
      }

      .header__right-nav {
        width: 100%;
        padding: 0;

        .header__nav-list {
          justify-content: space-between;
          .header__nav-list__item {

            .header__nav-links {
              .header__nav-links__icon {
                font-size: 18px;
              }
            }

            .header__button {
              color: #fff;
              line-height: 30.6px;
              margin: 0;
            }
          }
        }
      }
    }
  }
  .content-wrapper {
    padding-top: 0;
  }
}

@media (min-width: 768px) {
  .hg-app {
    .header--fixed {
      bottom: unset;
      top: 0;

      .header__nav {
        .header__site-title {
          width: 100%;
          margin-right: 0;

          .header__site-title__title {
            display: flex;
            align-items: center;

            .header__site-title__logo {
              height: 35px;
              margin-right: 15px;
            }

            .search-form {
              position: relative;
              bottom: 0;
              display: flex;
              width: 400px;
              margin: auto;
              box-shadow: none;

              .search-form__field {
                border-radius: 2px;
                padding: 8px 10px;
              }
            } 
          }
        }

        .header__right-nav {
          width: auto;
          .header__nav-list {
            justify-content: flex-end;
            .header__nav-list__item:first-child {
              display: none;
            }
            .header__nav-list__item {
              .header__nav-links .header__nav-links__icon {
                display: inline;
                font-size: 20px;
                top: -2px;
              }
              .header__nav-links .header__nav-links__text  {
                display: inline;
                font-size: 18px;
                margin-left: 8px;
              }
            }
          }
        }
      }
    }

    .content-wrapper {
      padding-top: 52px;
    }
    .no-sticky-header {
      .header--fixed {
        position: relative;
      }
      .content-wrapper {
        padding-top: 0;
      }
    }
  }

}

@media (min-width: 1200px) {
  .hg-app {
    .header--fixed {
      .header__nav {
        .header__site-title {
          .header__site-title__title {
            .search-form {
              width: 400px;
            } 
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hg-app {
    .header .mui-container {
      max-width: 100%;
    }
  }
}

@media only screen
and (max-device-width: 767px)
and (orientation: landscape) {
  .hg-app {

    .header--fixed {
      .header__nav {

        .header__site-title {
          .header__site-title__title {
            .header__site-title__logo {
              height: 25px;
            }

            .search-form {
              bottom: 35px;
            }
          }
        }

        .header__right-nav {
          .header__nav-list {
            .header__nav-list__item {
              .header__nav-list__item__text {
                display: inline-block;
                margin-left: 8px;
              }
              .header__button {
                line-height: 25px;
                height: 25px;
              }
            }
          }
        }
      }
    }
    .content-wrapper {
      padding-top: 35px;
    }
  }
}

@media (min-device-width: 768px)
and (max-device-width: 1200px)
and (orientation: landscape) {
  .hg-app {

    .header--fixed {
      .header__nav {

        .header__site-title {
          .header__site-title__title {
            .header__site-title__logo {
              height: 25px;
            }

            .search-form {
              .search-form__field {
                padding: 5px 10px;
                font-size: 12px;
              }
            }
          }
        }
      }
    }
    .content-wrapper {
      padding-top: 35px;
    }
  }
}


.header__site-title__item {
  font-size: 18px;
  line-height: 28px;
  position: relative;
  top: -3px;
}

@media (min-width: 1200px) {
  .header__nav-list {
    max-width: 50%;
  }
}

.header__site-title__home {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.header__site-title__home:hover {
  color: inherit;
  text-decoration: none;
}

.header__site-title__logo {
  vertical-align: middle;
  margin: auto;
}

.header__site-title__logo--small {
  height: 18px;
}

.header__site-title__logo--margin {
  margin-right: 10px;
}

.header__site-title__logo--funnel {
  width: 18px;
  position: relative;
  top: -2px;
}

@media (min-width:768px) {
  .header__site-title__item {
    font-size: 24px;
    line-height: 32px;
    top: 0;
  }
}

.header__site-title__logotxt {
  position: relative;
  top: -6px;
}

.sub-navbar-container {
  border-bottom: 1px solid rgba(132,146,166,0.3);
  border-top: 1px solid rgba(132,146,166,0.3);
  margin-top: 2em;
}

.sub-navbar-container--sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  order: 1;
  z-index: 1000;
}

.sub-navbar {
  overflow: scroll;
  display: flex;
  align-items: center;

  .sub-navbar__item {
    display: inline-block;
    flex-shrink: 0;
    padding: 1em;
    margin: 0 0.5em;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-color 1.5s ease;
  }

  .mui-btn {
    margin: 0 0.5em;
  }

  .sub-navbar__item:hover,
  .sub-navbar__item:active,
  .sub-navbar__item--active {
    border-bottom: 2px solid #856A91;
  }
}

@media (min-width: 992px) {
  .sub-navbar {
    max-width: 960px;
    margin: auto;
    padding: 0 1em;
  }
}

@media (min-width: 1200px) {
  .sub-navbar {
    max-width: 1170px;
  }
}
