.hg-banner {
  padding-top: 2em;
}

.logo-wrapper {
  max-width: 200px;
}

.hg-logo {
  width: 185px;
  height: 139px;
}

.hg-banner {
  .s1 {
    color: #df5e0e;
  }
  
  .s2 {
    color: #816894;
  }

  .s3 {
    color: #f0a40c;
  }
}

.spaces {
  padding-top: 1em;
}

.card .card__header__title {
  width: 100%
}

@media screen and (max-width: 600px) {
  .fb_iframe_widget {
    overflow-y: scroll;
    width: 100%;
    display: inline-block !important;
  }
}

