.projects-wrapper {
	padding: 2em 0;
}

.projects {
	padding-top: 1em;
}

.chip--new {
	background-color: #F6E2C5;
	padding: 5px;
	font-weight: bold;
	text-transform: uppercase;
}

.hg-banner {
  padding-top: 2em;

  .headline {
    font-size: 32px;
    line-height: 40px;
  }

  .mui-divider--banner {
    height: 4px;
    background-color: #dda32a;
    width: 20%;
    margin: 1em 0 0;
  }
}

@media(min-width: 992px) {
  .hg-banner {
    text-align: center;

    .headline {
      font-size: 48px;
      line-height: 58px;
    }
    .mui-divider--banner {
      margin: 1em auto 0;
    }
  }
}

.funnel-banner {
  position: relative;
  overflow: hidden;

  .banner__img {
    width: 100%;
    display: block;
  }

  .banner__headline {
    color: #816894;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    padding: 0 30px;
    z-index: 2;
  }

  .banner__headline-txt {
    color: #f0a40c;
  }
}

@media (min-width: 992px) {
  .funnel-banner {
    border-bottom: 2px solid rgba(132,146,166,0.3);

    .banner__headline {
      position: absolute;
      top: 50%;
      left: 15px;
      right: 0;
      transform: translate(0%, -50%);
      font-size: 24px;
      line-height: 32px;
    }
  }
}

@media (min-width: 1200px) {
  .funnel-banner {
    .banner__headline {
      font-size: 32px;
      line-height: 40px;
      left: -40px;
    }
  }
}

@media(min-width: 992px) {
  .upcoming {
    padding-left: 2em;
  }
}

@media(min-width: 1200px) {
  .spotlight {
    position: relative;
  }

   .spotlight:after {
    content: '';
    border-left: 1px solid rgba(132,146,166,0.3);
    height: 100px;
    position: absolute;
    right: 0;
    top: 35%;
  } 
  .upcoming {
    padding-left: 3em;
  }
}

.funnel-notice .alert__text{
  font-size: 24px;
  line-height: 32px;
}
