.projects-wrapper {
	padding: 2em 0;
}

.projects {
	padding-top: 1em;
}

.chip--new {
	background-color: #F6E2C5;
	padding: 5px;
	font-weight: bold;
	text-transform: uppercase;
}

@media(min-width: 1200px) {
  .spotlight {
    position: relative;
  }

  .spotlight:after {
    content: '';
    border-left: 1px solid rgba(132,146,166,0.3);
    height: 100px;
    position: absolute;
    right: 50px;
    top: 35%;
  } 
}
