.projects-wrapper {
  padding: 30px 0;
}

.projects {
  padding-top: 15px;
}

.chip--new {
  background-color: #f6e2c5;
  padding: 5px;
  font-weight: bold;
  text-transform: uppercase;
}

.hg-banner {
  padding-top: 30px;

  .headline {
    font-size: 32px;
    line-height: 40px;
  }

  .mui-divider--banner {
    height: 4px;
    background-color: #dda32a;
    width: 20%;
    margin: 15px 0 0;
  }
}

@media (min-width: 768px) {
  .hg-banner {
    text-align: center;

    .headline {
      font-size: 48px;
      line-height: 58px;
    }
    .mui-divider--banner {
      margin: 15px auto 0;
    }
  }
}

.funnel-banner {
  position: relative;
  overflow: hidden;

  .banner__img {
    width: 100%;
    display: block;
  }

  .banner__headline {
    color: #816894;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    padding: 0 30px;
    z-index: 2;
  }

  .banner__headline-txt {
    color: #f0a40c;
  }
}

@media (min-width: 992px) {
  .funnel-banner {
    border-bottom: 2px solid rgba(132, 146, 166, 0.3);

    .banner__headline {
      position: absolute;
      top: 50%;
      left: 15px;
      right: 0;
      transform: translate(0%, -50%);
      font-size: 24px;
      line-height: 32px;
    }
  }
}

@media (min-width: 1200px) {
  .funnel-banner {
    .banner__headline {
      font-size: 32px;
      line-height: 40px;
      left: -40px;
    }
  }
}

@media (min-width: 992px) {
  .upcoming {
    padding-left: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .spotlight {
    margin-bottom: 15px;

    spotlight__headline {
      text-align: center;
    }
    .card--spotlight {
      margin: auto;
    }
  }
}

@media (min-width: 1200px) {
  .upcoming {
    padding-left: 45px;
  }
}

.funnel-notice .alert__text {
  font-size: 24px;
  line-height: 32px;

  .funnel-notice-txt {
    color: #f0a40c;
  }
}

.spotlight-schedule-card {
  .tabs-wrapper--sticky {
    top: 0;
  }

  .current-schedule__session {
    padding: 15px 15px 0;
    height: 100%;
    border-bottom: 1px solid rgba(132, 146, 166, 0.3);

    .current-schedule__session__duration {
      position: -webkit-sticky;
      position: sticky;
      top: 40px;
      color: #e05f26;
      z-index: 4;
      background-color: #f9fafc;
      float: right;
      padding: 10px;
      border-radius: 3px;
      line-height: 1;
      overflow-y: auto;
    }
  }
  .current-schedule__session:last-child {
    border-bottom: none;
  }
}

@media (max-width: 767px) {
  .spotlight-schedule-card {
    height: auto !important;
  }
}

@media (min-width: 768px) {
  .spotlight-schedule-card {
    height: 531px;
    overflow: scroll;
  }
}
