.projects-wrapper {
  padding: $mui-grid-padding 0;
}

.projects-wrapper--padding {
  padding: $mui-grid-padding;
}

@media (min-width: 1200px) {
  .projects-wrapper {
    padding: $mui-grid-padding-double 0;
  }
  .projects-wrapper--padding {
    padding: $mui-grid-padding-double $mui-grid-padding;
  }
}

.projects {
  padding-top: $mui-grid-padding;
}

.chip--new {
  background-color: #f6e2c5;
  padding: 5px;
  font-weight: bold;
  text-transform: uppercase;
}

.hg-banner {
  padding: $mui-grid-padding-double 0;

  .headline {
    font-size: 32px;
    line-height: 40px;
  }

  .mui-divider--banner {
    height: 4px;
    background-color: #dda32a;
    width: 20%;
    margin: $mui-grid-padding 0 0;
  }
}

@media (min-width: 768px) {
  .hg-banner {
    text-align: center;

    .headline {
      font-size: 48px;
      line-height: 58px;
    }
    .mui-divider--banner {
      margin: $mui-grid-padding auto 0;
    }
  }
}

.funnel-banner {
  position: relative;
  overflow: hidden;

  .banner__img {
    width: 100%;
    display: block;
  }

  .banner__headline {
    color: #816894;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    padding: 0 $mui-grid-padding;
    z-index: 2;
  }

  .banner__headline-txt {
    color: #f0a40c;
  }
}

@media (min-width: 992px) {
  .funnel-banner {
    border-bottom: 2px solid rgba(132, 146, 166, 0.3);

    .banner__headline {
      position: absolute;
      top: 50%;
      left: $mui-grid-padding;
      right: 0;
      transform: translate(0%, -50%);
      font-size: 24px;
      line-height: 32px;
    }
  }
}

@media (min-width: 1200px) {
  .funnel-banner {
    .banner__headline {
      font-size: 29px;
      line-height: 40px;
      left: -40px;
    }
  }
}

.funnel-notice .alert__text {
  font-size: 24px;
  line-height: 32px;

  .funnel-notice-txt {
    color: #f0a40c;
  }
}

.project-headline {
  margin-bottom: 40px;
  position: relative;
}

.project-headline:after {
  content: '';
  position: absolute;
  bottom: -16px;
  width: 64px;
  left: 0;
  border-bottom: 3px solid #dda32a;
}

.project-headline--secondary:after {
  border-bottom: 3px solid #82688d;
}

@media (min-width: 1200px) {
  .mui-container--fullwidth {
    max-width: 100%;
    .grid__col-12 {
      padding: 0;
    }
  }
}

.spotlight-schedule-card {
  .tabs-wrapper--sticky {
    top: 0;
  }

  .current-schedule__session {
    padding: $mui-grid-padding $mui-grid-padding 0;
    height: 100%;
    border-bottom: 1px solid rgba(132, 146, 166, 0.3);

    .current-schedule__session__duration {
      position: -webkit-sticky;
      position: sticky;
      top: 40px;
      color: #e05f26;
      z-index: 4;
      background-color: #f9fafc;
      float: right;
      padding: 10px;
      border-radius: 3px;
      line-height: 1;
      overflow-y: auto;
    }
  }
  .current-schedule__session:last-child {
    border-bottom: none;
  }
}

@media (max-width: 767px) {
  .spotlight-schedule-card {
    height: auto !important;
  }
}

@media (min-width: 768px) {
  .spotlight-schedule-card {
    height: 531px;
    overflow: scroll;
  }
}

.profile {
  margin-bottom: 60px;
  .profile__background {
    display: none;
  }
  .profile__banner {
    position: relative;
    .grid__col-12 {
      padding: 0;
    }
    .profile__banner__box {
      position: relative;
      padding-bottom: 75%;
      .profile__banner__box__img {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .profile__banner__upload {
      position: absolute;
      z-index: 103;
      bottom: $mui-grid-padding;
      right: $mui-grid-padding;
      width: 32px;
      height: 32px;
      background-color: $mui-bg-color-accent;
      border-radius: 50%;
      vertical-align: middle;
      margin: auto;
      padding: 0;
      .profile__banner__icon {
        top: 0;
      }
    }
    .profile__logo {
      position: absolute;
      bottom: -60px;
      left: 10px;
      width: 120px;
      height: 120px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
      background-color: #fff;
      z-index: 100;
      border-radius: 50%;

      .profile__logo__img {
        width: 100%;
        padding: $mui-grid-padding;
        border-radius: 50%;
      }
      .profile__logo__nologo {
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        background-color: #eff2f6;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        .profile__logo__icon {
          width: 90px;
          height: 90px;
          color: #fff;
          position: relative;
          top: 39px;
          left: 14px;
        }
      }
      .profile__logo__upload {
        position: absolute;
        z-index: 103;
        bottom: 16px;
        right: -4px;
        width: 32px;
        height: 32px;
        background-color: $mui-bg-color-accent;
        border-radius: 50%;
        vertical-align: middle;
        margin: auto;

        .profile__logo__upload__icon {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .profile {
    position: relative;
    .profile__background {
      display: block;
      position: absolute;
      z-index: 3;
      width: 100%;
      overflow: hidden;
      height: 100%;
      left: 0;
      .profile__background__image {
        width: 100%;
        filter: blur(200px);
        -webkit-filter: blur(200px);
      }
    }
    .profile__banner {
      z-index: 4;
      .grid__col-12 {
        padding: 0 $mui-grid-padding;
      }
      .profile__banner__box {
        padding-bottom: 37.5%;
      }
      .profile__banner__upload {
        border-radius: 0;
        width: auto;
        height: auto;
        padding: 0 26px;
        right: 32px;
        .profile__banner__icon {
          top: 2px;
        }
      }
      .profile__logo {
        left: $mui-grid-padding;
        bottom: -72px;

        .profile__logo__details {
          position: absolute;
          left: 136px;
          bottom: 0px;
          min-width: 450px;
        }
      }
    }
  }
  .profile-details {
    padding-top: 2 * $mui-grid-padding;
  }
}
