.label-box {
  margin: $mui-grid-padding 0;
  padding: $mui-grid-padding;

  .label-box__inner {
    display: flex;
    align-items: center;

    .label-box__inner__drag-icon {
      margin-right: $mui-grid-padding/2;
    }

    .label-box__inner__heading {
      width: calc(100% - 30px);
    }

    .label-box__inner__icon {
      padding: 0 0 0 $mui-grid-padding;
      box-shadow: none;
      border: none;
      cursor: pointer;
    }

    .label-box__inner__icon-wrapper {
      display: flex;
    }
  }

  .label-box__inner__options {
    padding-left: 20px;
    .label-box__inner__options__option {
      margin-right: $mui-grid-padding/4;
    }
  }
}

.label-box--no-border {
  border: none;
  border-radius: 0;
}

.label-box--new {
  margin: $mui-grid-padding auto $mui-grid-padding-double;
  width: 100%;
  max-width: 500px;

  a:hover {
    text-decoration: none;
  }
}
