.card--limited {
  min-width: 200px;
}

@media (min-width: 768px) {
  .card--limited {
    min-width: 300px;
  }
}

.card .card__body--lgtext {
  font-size: inherit;
  line-height: inherit;
}

.icon-img {
  height: 18px;
  margin-right: 16px;
  vertical-align: text-top;
}

.icon-img--smaller {
  margin-right: 8px;
}

.login,
.login:hover {
  color: #ffffff;
  font-size: 16px;
  text-transform: capitalize;
  margin-right: 8px;
  padding: 0 16px 0 8px;
}

.login-twitter,
.login-twitter:hover {
  background-color: #08a0e9;
}
.login-google,
.login-google:hover {
  color: #757575;
  background-color: #ffffff;
}
.login-linkedin,
.login-linkedin:hover {
  background-color: #0074b2;
}
.login-github,
.login-github:hover {
  background-color: #444444;
}

.mui-btn + .mui-btn {
  margin-left: 0;
}

a.loginbutton.hidden,
.js a.loginbutton.jshidden,
.no-js a.loginbutton.no-jshidden {
  display: none;
  visibility: hidden;
}

.passwordform-heading {
  margin-top: 40px;
}

.mui-list--border li {
  border-bottom: 1px solid rgba(132, 146, 166, 0.2);
  padding: 5px;
}

.mui-list--border li:last-child {
  border-bottom: none;
}

.infobox {
  dt {
    font-weight: bold;
    margin: 0;
    padding: 5px 0;
  }
  dd {
    padding: 5px 0;
    margin-left: 0;
    word-break: break-all;
  }
}

@media (min-width: 768px) {
  .infobox {
    dt {
      width: 10em;
      float: left;
      clear: left;
      text-align: right;
      padding: 4px 0 0 0;
    }
    dd {
      position: relative;
      text-indent: 0;
      clear: none;
      margin: 0;
      margin-left: 11.25em;
      border-left: 1px solid #d7d7d7;
      padding: 4px 0 0 0.75em;
    }
    dd:after {
      content: '';
      display: table;
      clear: both;
    }
  }
}
