.zero-bottom-margin {
  margin-bottom: 0 !important;
}

.zero-top-margin {
  margin-top: 0 !important;
}

.mui-btn--nomargin {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.left-padding {
  padding-left: $mui-grid-padding;
}

.right-padding {
  padding-right: $mui-grid-padding;
}

.top-padding {
  padding-top: $mui-grid-padding;
}

.bottom-padding {
  padding-bottom: $mui-grid-padding;
}

.grid-no-left-padding {
  margin-left: -$mui-grid-padding;
}

.grid-no-right-padding {
  margin-right: -$mui-grid-padding;
}

.separator {
  margin: 10px 0;
}

.flex-wrapper {
  display: flex;
}

.flex-wrapper--baseline {
  align-items: baseline;
}

.flex-wrapper--space-between {
  justify-content: space-between;
}

.image-wrapper img {
  max-width: 100%;
  display: block;
}

.material-icons {
  display: none;
}

.primary-color-txt {
  color: $mui-primary-color;
}

.secondary-color-txt {
  color: $mui-accent-color;
}

.list-item-rgborder li {
  border-right: 1px solid;
  border-radius: 0;
  padding-right: 10px;
  line-height: 1;
}

.list-item-rgborder li:last-child,
.list-item-rgborder li.no-border {
  border-right: none;
  padding-right: 5px;
}

.list-item-rgborder .icon-middle {
  position: relative;
  top: 7px;
}

.mui-divider--custom {
  margin: 5px 0 20px;
}

.btn-group .mui-btn {
  margin-right: 5px;
}

.btn-group .mui-btn + .mui-btn {
  margin-left: 0;
}

.content-head--top-padding {
  padding-top: $mui-grid-padding;
  padding-bottom: $mui-grid-padding;
  border-bottom: 1px solid rgba(132, 146, 166, 0.3);
}

.page-content {
  padding-top: $mui-grid-padding-double;
  padding-bottom: $mui-grid-padding;
}

.page-content--mob-nav {
  padding-top: 80px;
}

@media (min-width: 768px) {
  .page-content--mob-nav {
    padding-top: $mui-grid-padding-double;
  }
}

.nounderline {
  text-decoration: none !important;
}

.badge {
  position: relative;
  color: $mui-text-white;
  min-width: $mui-grid-padding;
  line-height: $mui-grid-padding;
  min-height: $mui-grid-padding;
  text-align: center;
  display: inline-block;
  background-color: $mui-accent-color;
  border-radius: 3px;
  padding: 2px;
  font-size: 12px;
}

.select2-inline {
  display: inline-block;
  margin-right: 5px;
}

.spinner {
  position: relative;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.collapsible__header {
  margin: 10px 0;
  width: 100%;
  background: $mui-bg-color-primary-dark;
  padding: 20px;
  cursor: pointer;
}

.collapsible__header--smaller {
  width: calc(100% - 37px);
  padding: 10px;
  margin: 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.collapsible__header__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.collapsible__dropdown {
  margin: 0;
  margin-right: 1px;
  padding: 10px;
  background: $mui-bg-color-primary-dark;
  max-height: 44px;
}

.collapsible__body {
  display: none;
  clear: both;
}

html.touch .collapsible__icon--disable {
  display: none;
}

html.touch .collapsible__body--disable {
  display: block;
}

.mui-list--border li {
  border-bottom: 1px solid rgba(132, 146, 166, 0.2);
  padding: 5px;
}

.mui-list--border li:last-child {
  border-bottom: none;
}

.mui-list--border--padding li {
  padding: 15px 0;
}

@media screen and (max-width: 1024px) {
  .fb_iframe_widget {
    overflow-y: scroll;
    width: 100%;
    display: inline-block !important;
  }
}

.attendee-table .buttongrp-column {
  min-width: 250px;
}

.attendee-table td {
  word-break: break-word;
  min-width: 100px;
}

@media (min-width: 992px) {
  .attendee-table td {
    min-width: 80px;
  }
}

@media (min-width: 1200px) {
  .attendee-table td {
    min-width: 200px;
  }
}

.btn-wrapper {
  margin-bottom: 10px;
}

.full-width-btn {
  width: 100%;
  margin: 0;
}

.past-events-table {
  border-collapse: collapse;

  > thead > tr > th {
    padding: $mui-grid-padding;
  }
}

.footer--homepage {
  margin-top: 0;
}

.mui-btn--nopadding {
  padding-left: 0;
  padding-right: 0;
}

.mui-btn--nopadding:hover {
  background: transparent !important;
}

.count-chip {
  color: $mui-accent-color;
  position: relative;
  top: -12px;
  font-size: 12px;
}

.user {
  .user__box {
    padding: 8px 8px 8px 50px;
    position: relative;
    word-break: break-word;

    .user__box__gravatar {
      width: 40px;
      height: 40px;
      display: inline-block;
      position: absolute;
      left: 0;
      top: 11px;
      border-radius: 50%;
    }
    .user__box__gravatar--initials {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $mui-primary-color;
      color: $mui-text-white;
      text-transform: uppercase;
    }
    .user__box__fullname {
      margin: 0px 0 4px;
    }
    .user__box__userid {
      margin: 0;
    }
  }
}
.user--standalone {
  .user__box {
    padding: 0;
    .user__box__gravatar {
      position: static;
    }
  }
}

.user--bigger {
  .user__box {
    padding: 12px 8px 8px 89px;
    margin-bottom: 16px;
    height: 100px;

    .user__box__gravatar {
      width: 80px;
      height: 80px;
    }
  }
}

.user:nth-child(even) {
  .user__box__gravatar--initials {
    background: $mui-primary-color;
  }
}

.user:nth-child(odd) {
  .user__box__gravatar--initials {
    background: $mui-accent-color;
  }
}

.user:nth-child(4n) {
  .user__box__gravatar--initials {
    background: $mui-accent-color-lighter;
    color: $mui-text-dark;
  }
}

.read-more,
.link {
  cursor: pointer;
}

.animate-btn {
  display: none;
  line-height: 1;
  font-size: 14px;
  text-transform: inherit;

  .bookmarked {
    fill: $mui-accent-color;
  }
}

.animate-btn--show {
  display: inline-block;
}

.animate-btn--animate {
  -webkit-animation-name: heartBeat;
  animation-name: heartBeat;
  -webkit-animation-duration: 1.3s;
  animation-duration: 1.3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  14% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  28% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  42% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  14% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  28% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  42% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.no-js {
  .js-lazyload-img,
  .js-hg-banner,
  .js-account-dropdown {
    display: none;
  }
}

.embed-video-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56%;
  min-height: 50px;

  .video_txt {
    text-align: center;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
  }

  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: block;
  }

  .no-video {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 32px;
  }
}

//Progree bar
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  i-moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: $mui-primary-color;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 4px;
}

.pace-hide {
  display: none !important;
}

.icon-img {
  height: 18px;
  margin-right: 16px;
  vertical-align: text-top;
}

.icon-img--smaller {
  margin-right: 8px;
}

.login-page {
  background-color: $mui-bg-color-primary;
  .login-page__back {
    position: absolute;
    right: $mui-grid-padding;
    top: -$mui-grid-padding;
  }
  .cookies-required-alert {
    margin: $mui-grid-padding 0;
  }
  .form-message {
    margin-top: $mui-grid-padding;
    text-align: center;
  }
  .login-page__box {
    background-color: $mui-bg-color-primary;
    width: 100%;
    max-width: 400px;
    margin: $mui-grid-padding auto;

    .login-page__box__heading {
      margin: 0 0 $mui-grid-padding;
    }

    .login-page__box__title {
      margin: 5px 0 $mui-grid-padding;
      position: relative;

      .login-page__box__title__txt {
        position: relative;
        z-index: 2;
        display: inline-block;
        background: $mui-bg-color-primary;
        padding: 0 8px;
      }
    }

    .login-page__box__title:after {
      z-index: 1;
      content: '';
      height: 1px;
      width: 100%;
      border-bottom: 1px solid rgba(121, 129, 139, 0.13);
      position: absolute;
      left: 0;
      top: 50%;
    }

    .mui-btn--primary {
      width: 100%;
    }

    .mui-form {
      margin: 0;
    }

    #field-recaptcha {
      height: 0;
      margin: 0;
    }

    .login-page__box__note {
      margin-top: $mui-grid-padding;
    }
  }
}

@media (min-width: 768px) {
  .login-page {
    background-color: $mui-bg-color-accent;
    .login-page__back {
      top: 0;
      margin: 0 auto;
      left: 0;
      right: 0;
      text-align: right;
      padding: $mui-grid-padding/2;
    }
    .header,
    .footer {
      display: block;
    }
    .login-page__box {
      position: relative;
      padding: ($mui-grid-padding * 2 + $mui-grid-padding/2) $mui-grid-padding *
        2 $mui-grid-padding * 2;
      border-radius: 16px;
      margin: 0 auto $mui-grid-padding * 2;
    }
  }
}

.login,
.login:hover,
.login:active {
  color: $mui-text-white;
  font-size: 16px;
  text-transform: capitalize;
}

.login {
  margin: 0;
  margin-bottom: $mui-grid-padding;
}

.login--smaller {
  margin-right: $mui-grid-padding/2;
  margin-bottom: $mui-grid-padding/2;
}

.login-twitter,
.login-twitter:hover,
.login-twitter:active {
  background-color: #08a0e9;
}
.login-google,
.login-google:hover,
.login-google:active {
  color: #757575;
  background: $mui-bg-color-primary;
}
.login-linkedin,
.login-linkedin:hover,
.login-linkedin:active {
  background-color: #0074b2;
}
.login-github,
.login-github:hover,
.login-github:active {
  background-color: #444444;
}

.mui-btn.login + .mui-btn.login {
  margin-left: 0;
}

a.loginbutton.hidden,
.js a.loginbutton.jshidden,
.no-js a.loginbutton.no-jshidden {
  display: none;
  visibility: hidden;
}

.login-page--artwork {
  .login-page-wrapper {
    .login-page-artwork {
      display: none;
    }
  }
}

@media (min-width: 992px) {
  .login-page--artwork {
    .login-page-wrapper {
      display: flex;

      .login-page-artwork {
        width: calc(100% - 350px);
        padding-left: 50px;
        display: block;
      }
    }
  }
}

@media (min-width: 1200px) {
  .login-page--artwork {
    .login-page-wrapper {
      display: flex;

      .login-page-artwork {
        width: calc(100% - 350px);
        padding-left: 100px;
        display: block;
      }
    }
  }
}

.mui-list--border li {
  border-bottom: 1px solid $mui-divider-color;
  padding: 5px;
}

.mui-list--border li:last-child {
  border-bottom: none;
}

.item {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 50px);
  .subitem {
    display: block;
  }
}

@media (min-width: 1200px) {
  .item {
    .subitem {
      margin-left: 8px;
      display: inline-block;
    }
  }
}

.infobox {
  dt {
    font-weight: bold;
    margin: 0;
    padding: 5px 0;
  }
  dd {
    padding: 5px 0;
    margin-left: 0;
    word-break: break-all;
  }
}

@media (min-width: 768px) {
  .infobox {
    dt {
      width: 10em;
      float: left;
      clear: left;
      text-align: right;
      padding: 4px 0 0 0;
    }
    dd {
      position: relative;
      text-indent: 0;
      clear: none;
      margin: 0;
      margin-left: 11.25em;
      border-left: 1px solid $mui-divider-color;
      padding: 4px 0 0 0.75em;
    }
    dd:after {
      content: '';
      display: table;
      clear: both;
    }
  }
}

.mui-btn--raised.icon-btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  vertical-align: middle;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9fafc;
  .fa5-icon {
    width: 16px;
    height: 16px;
  }
}

.interpunct {
  padding: 0 8px;
}

.bullet-separated-list {
  list-style: none;
  padding: 0;
  li {
    padding: 0;
    border: none;
  }
}

@media (min-width: 768px) {
  .bullet-separated-list {
    padding-left: 0;
    display: flex;
    list-style: inside;
    li {
      padding: 0 8px;
    }
    li:first-child {
      list-style-type: none;
      padding-left: 0;
    }
  }
}

// To hide vue template before Vue app is mounted
[v-cloak] {
  display: none;
}

.about-top-content,
.about-content {
  font-size: 16px;
  line-height: 21px;
  margin: 0;
}

.about-heading {
  font-size: 24px;
  line-height: 32px;
  margin: 32px 0;
}

.flex-content {
  img {
    margin: 0 auto;
  }

  .fifty-width:first-child,
  img:first-child {
    margin-bottom: 32px;
  }
}

@media (min-width: 768px) {
  .about-top-content,
  .about-content {
    font-size: 24px;
    line-height: 32px;
  }

  .project-headline.about-heading {
    font-size: 32px;
    line-height: 43px;
    margin: 0 0 48px;
  }

  .about-top-content {
    max-width: 675px;
    margin: 16px 0 48px;
  }

  .flex-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;

    .fifty-width {
      width: 40%;
    }
    .fifty-width:first-child,
    img:first-child {
      margin: 0;
    }
  }
}

@media (min-width: 1200px) {
  .flex-content {
    .fifty-width {
      width: 50%;
    }
  }
}

.html-content {
  p {
    margin: 0;
  }
}

.switch {
  display: inline-block;
  height: 14px;
  position: relative;
  width: 45px;
}

.switch input {
  display: none;
}

.slider {
  background-color: $mui-bg-color-primary-dark;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  position: absolute;
  left: -1px;
  bottom: -2px;
  content: '';
  width: 20px;
  height: 20px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  transition: 0.4s;
}

input:checked + .slider {
  background-color: $mui-primary-color;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 16px;
}

.slider.round:before {
  border-radius: 50%;
}
