@import "compass";

$body-line-height: 24px;

body {
    padding-top: 70px;
}

// body {
//     font-family: $font-default;
// }


// Bring this back when we're ready

// body {
//     background-image: image-url('satinweave.png');
//     background-color: #f1f1f1;
// }

// footer .footer-inner {
//     background: inherit;
// }

.infosheet, .table {
    background: white;
}

#logo {
    @include replace-text-with-dimensions('logo.png');
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
    // Bring this back when we're ready

    // body {
    //     background-image: image-url('satinweave@2x.png');
    //     @include background-size(image-width('satinweave.png') image-height('satinweave.png'));
    // }
    #logo {
        background-image: image-url('logo@2x.png');
        @include background-size(image-width('logo.png') image-height('logo.png'));
    }
}

#hg-networkbar.navbar .navbar-brand{
  padding: 0;
  display: block;
  @include replace-text-with-dimensions('logo@2x.png');
  height: 48px;
  background-position: left center;
  background-size: auto 100%;
  background-repeat: none;
  text-indent: -1000px;
}

.nav {
    margin-bottom: 10px;
}

/* Tables */
table.listing {
    @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.1));
}
.listing thead > tr > th, .listing tbody > tr > th, .listing tfoot > tr > th, .listing thead > tr > td, .listing tbody > tr > td, .listing tfoot > tr > td {
    padding: 4px;
}

.listing tr:nth-of-type(even) {
    background: $color-listing-even;
    // a{
    //     font-size: 12px;
    // }
}

.listing thead th {
    background: $color-listing-background;
    padding: 0.4em 1em 0.2em;
}

// .listing thead th, .listing thead td {}

.listing tfoot th, .listing tfoot td {
    background: $color-listing-background;
}

.listing th.num, .listing td.num {
    text-align: right;
}

.listing tr.link a,
.listing tbody.link a {
    text-decoration: none;
    color: inherit;
}

.listing tr.link:hover,
.listing tbody.link:hover tr {
    background: $color-listing-hover;
}

.infosheet {    
    margin: -0.7em -15px 1em -15px;
    padding-bottom: 1em;
    border: 1px solid $color-sheet-border;
    @include border-radius(4px);
    word-wrap: break-word;
    
    .votebox {
        // float: right;
        text-align: center;
        padding-left: 1em;
        .choices {
            font-size: 180%;
            margin-top: 10px;
            text-align: center;
            span.score {
                font-family: $font-monospace;
                border: 1px solid $color-outline;
                @include border-radius(3px);
                padding: 5px;
                margin-left: -30px;
            }
            form {
                margin-top: 0;
                width: 20%;
            }
            span.indicator {
                margin-left: -15px;
                font-family: $font-monospace;
            }
            button.votechoice, a.votechoice {
                font-family: $font-monospace;
                border: 1px solid transparent;
                @include border-radius(3px);
                padding: 0 3px;
            }
            button.votechoice:hover, a.votechoice:hover {
                border: 1px solid $color-outline;
                text-decoration: none;
            }
            button.votechoice:active, button.votechoice.selected, a.votechoice:active, a.votechoice.selected {
                background-color: $color-section-heading-background;
                color: $color-section-heading;
            }
        }
        .vlabel {
            margin-top: 0.5em;
            font-size: 80%;
        }
    }
    .section {
        // border-top: 1px solid $color-outline-thin;
        padding: 0 1.2em;
        h1 {
            margin: 0.5em 0 0 0;
        }
        // Yuck! So much nesting. Fix this.
        .page-header h3 {
            margin-top: 0.5em;
            margin-bottom: 0;
            line-height: $body-line-height * 1.5
        }
        .page-header h3 + h1 {
            margin-top: 0;
        }
        h2 {
            //margin: 0.66em 0 0 0;
            font-size: 100%;
            font-weight: bold;
            background: $color-section-heading-background;
            padding: 0 0.5em;
            margin: 0 -0.5em;
            color: $color-section-heading;
            @include border-radius(3px);
        }
        h1+p, h1+ul, h1+ol, h2+p, h2+ul, h2+ol, form {
            margin-top: 0.5em;
        }
        .social {
            position: relative;
            margin: 0.2em 0 -0.5em 0;
            iframe {
                display: inline-block;
                &.twitter-share-button{
                    width: 88px !important;
                }
                &.facebooklike {
                    position: relative;
                    top: 1px;
                    width: 125px !important;
                }
            }
            #___plusone_0{
                width: 70px !important;
            }
        }
    }
    .section.bar {
        position: relative;
        color: $color-bar;
        background-color: $color-bar-background;
        padding: 1px 6px;
        font-size: 0.8em;
        text-align: -moz-center;
        text-align: -webkit-center;      
        text-align: center;
    }
    .section.first {
        border-top: none;
        text-align: center;
        h1{
            margin-bottom: 10px;
        }
    }
    .embed-container {
        position: relative;
        padding-bottom: 56.25%; /* 16/9 ratio */
        padding-top: 30px; /* IE6 workaround*/
        height: 0;
        overflow: hidden;
        iframe, object, embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

// if links list in proposal contains video
@media screen and (min-width: 992px){
    #links-list > li > iframe{
        width: 640px;
        height: 360px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    #links-list > li > iframe{
        width: 480px;
        height: 270px;
    }   
}
@media screen and (min-width: 480px) and (max-width: 767px){
    #links-list > li > iframe{
        width: 320px;
        height: 180px;
    }   
}
@media screen and (max-width: 479px){
    #links-list > li > iframe{
        width: 240px;
        height: 135px;
    }
}
@media screen and (max-width: 400px){
    #links-list > li > iframe{
        width: 160px;
        height: 90px;
    }
}
//

@media screen and (min-width: 768px){
    .infosheet {    
        margin: 0em auto 2em auto;
        @include box-shadow($color-shadow 0 1px 5px);//, rgba(0, 0, 0, 0.1) 0 0 20px inset);
        .votebox {
            .choices {
                font-size: 200%;
                margin-top: 10px;
                // text-align: right;
            }
        }

        .section {
            padding: 0 2em;
            .social {
                margin: 1em 0;
            }
        }
        .section.bar {
            position: relative;
            color: $color-bar;
            background-color: $color-bar-background;
            padding: 1px 3em;
            margin: 0 -1em 1em -1em;
            //text-align: left;
            font-size: 14px;
            text-align: left;
            @include box-shadow($color-shadow 0 1px 2px);
            &:before, &:after {
                display: block;
                content: "";
                position: absolute;
                border-style: solid;
                border-width: 0.5em 1em;
                height: 0px;
                width: 0px;
                z-index: -1;
            }
            &:before {
                left: -1em;
                bottom: -0.5em;
                border-color: transparent $color-bar-background transparent transparent;
            }
            &:after {
                right: -1em;
                bottom: -0.5em;
                border-color: transparent transparent transparent $color-bar-background;
            }
        }
        .section.first {
            margin-top: 8px;
            margin-bottom: 5px;
            text-align: left;
        }
    }  
}
@media screen and (min-width: 768px) and (max-width: 992px){
    .infosheet {
        .votebox {
            .choices {
                font-size: 180%;
            }
        }
    }
}

dl dt {
    font-weight: bold;
    margin-top: 1em;
}

dl dd {
    text-indent: 1em;
    margin-bottom: 1em;
}

dl.bar {
    //display: block;
    //@include display-flex;

    margin: 1em 0;
    dt {
        display: inline-block;
        display: -webkit-inline-block;
        display: -moz-inline-block;
        display: -ms-inline-block;
        margin: 0 0 0 0;        
        
    }
    dt:after {
        content: ":";
    }
    dd {
        display: inline;
        display: inline-block;
        display: -webkit-inline-block;
        display: -moz-inline-block;
        display: -ms-inline-block;
        @include flex-grow(1);
        margin: 0 0 0 5px;
        text-indent: 0;    
    }
    dd:last-child {
        @include flex-grow(0);
        margin: 0;
    }
 }
@media screen and (min-width: 768px){
    .hide-desktop{
        display: none;
    }
    dl.bar {
        display: block;
        @include display-flex;

        margin: 1em 0;
        dt {
            display: inline;
            @include display-flex;
            margin: 0 0.5em 0 0;
        }
        dt:after {
            content: ":";
        }
        dd {
            display: inline;
            @include display-flex;
            @include flex-grow(1);
            margin: 0 1em 0 0;
            text-indent: 0;
        }
        dd:last-child {
            @include flex-grow(0);
            margin: 0;
        }
    }
}


.leftear, .rightear {
    //font-weight: bold;
    margin: 0;
    padding: 0;
    width: 4em;
    i {
        color: #ccc;
        font-size: 250%;
    }
    a {
        display: block;
        position: relative;
        text-decoration: none;
        i{
            color: #816894;
        }
    }
    a:hover {
        //@include text-shadow($color-shadow 0 0 2px);
        //color: $color-link;
        text-decoration: none;
    }
}
.leftear {
    float: right;
    text-align: right;
    a {
        padding-right: 0.33em;
        @include single-transition(left, 0.1s, linear);
    }
    a:hover {
        left: -5px;
        @include single-transition(left, 0.1s, linear);
    }
}
.rightear {
    float: left;
    text-align: left;
    a {
        padding-left: 0.33em;
        @include single-transition(right, 0.1s, linear);
    }
    a:hover {
        right: -5px;
        @include single-transition(right, 0.1s, linear);
    }
}

@media screen and (min-width: 768px){
    .leftear, .rightear {
        margin: 2em 0;
    }
}

.comments {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
    p, blockquote, ul, ol, table, dl {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    li.comment {
        position: relative;
        padding: 0.5em 0.5em;
        margin: 0;
        min-height: 3em;
    }
    div:target {
        margin: -0.25em;
        padding: 0.25em;
        @include border-radius(3px);

        -webkit-animation: yellowhi 4s 1;
           -moz-animation: yellowhi 4s 1;
            -ms-animation: yellowhi 4s 1;
             -o-animation: yellowhi 4s 1;
                animation: yellowhi 4s 1;
    }
    .collapse, .uncollapse {
        font-family: $font-monospace;
    }
    .comment-vote {
        position: absolute;
        text-align: center;
        left: -2em;
        width: 2em;
        font-size: 80%;
        form {
            margin-top: 0;
        }
        button {
            color: $color-link-metadata;
        }
        button:hover {
            text-decoration: none;
            color: $color-link;
        }
        button.comment-vote-cancel {
            color: $color-link;
        }
    }
    .com-children {
        border-left: 1px dotted $color-outline;
        list-style: none;
        padding-left: 2em;
        margin: 0.5em 0 -0.5em 0;
    }
    .com-header, .com-footer {
        font-size: 80%;
        color: $color-link-metadata;
        .commenter {
            color: #444;
            font-weight: bold;
        }
        .commenter.selected {
            color: $color-section-heading;
            background-color: $color-section-heading-background;
            padding: 1px 0.25em;
            @include border-radius(3px);
        }
    }
    .com-header a,
    .com-footer a {
        color: $color-link-metadata;
    }
    .com-header a:hover,
    .com-footer a:hover {
        color: $color-link;
        text-decoration: none;
    }
    img {
        width: 100%;
    }
}
form#newcomment{
    #field-comment_message{
        // margin-bottom: -15px;
        .control-label{
            width: auto !important;
            padding-bottom: 5px;
        }
        .help-required{
            float: right;
        }
        & > .col-md-2, & > .col-md-8{
            width: 100%;
        }
    }
    #comment-submit{
        margin-top: 5px;
    } 
}
@media screen and (min-width: 768px){
    form#newcomment{
        #field-comment_message{
            & > .col-md-2, & > .col-md-8{
                padding: 0;
            }
        }
        #comment-submit{
            margin-top: 15px;
        } 
    }
}

/* markdown preview related */
div.field div.preview-control {
  float: left;
  width: 100%;
}
div.field.small div.preview-control {
  width: 35em;
}
div.preview-block, div.markdown-field a.button {
  border: 1px solid #b7b7b7;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
div.preview-block {
  width: 90%;
  min-height: 10em;
  padding: 5px;
}
div.markdown-field{
  // float: right;
  margin: 0 8% 5px 0;
  // font-size: 80%;
}
div.markdown-field a.button {
  padding: 3px;
  background: #DF5E0E;
  margin-bottom: 15px;
  text-decoration: none;
  color: #fff;
  opacity: 0.7;
  &.selected {
    opacity: 1;
  }
}

/* Spam protection */
.z {
    display: none;
}

@-webkit-keyframes yellowhi {
    0% {
        background-color: $color-flash;
    }
    25% {
        background-color: $color-flash;
    }
    100% {
        background-color: transparent;
    }
}

@-moz-keyframes yellowhi {
    0% {
        background-color: $color-flash;
    }
    25% {
        background-color: $color-flash;
    }
    100% {
        background-color: transparent;
    }
}

@-ms-keyframes yellowhi {
    0% {
        background-color: $color-flash;
    }
    25% {
        background-color: $color-flash;
    }
    100% {
        background-color: transparent;
    }
}

@-o-keyframes yellowhi {
    0% {
        background-color: $color-flash;
    }
    25% {
        background-color: $color-flash;
    }
    100% {
        background-color: transparent;
    }
}

@keyframes yellowhi {
    0% {
        background-color: $color-flash;
    }
    25% {
        background-color: $color-flash;
    }
    100% {
        background-color: transparent;
    }
}

.btn .rsvp-badge {
    margin-left: 4px;
    top: 1px;
}

.rsvp-header {
    padding: 1px 0px 1px 15px
}

.footable > thead > tr > th {
  background-color: $color-outline-thin;
  border: 1px solid $color-outline;
}

.list-inline > li.badge-print-status-btn {
  display: block;
  width: 200px;
}

@media(min-width:768px) {
  .list-inline > li.badge-print-status-btn {
    display: inline-block;
    width: auto;
  }
}

.status-btn-list {
  margin: 0;
  padding: 0;
}

.status-btn-list li {
  padding-left: 0;
  padding-right: 10px;
}

.status-btn-list .controls {
  padding-left: 0;
  padding-right: 10px;
}

.status-btn-list li, .status-btn-list .controls, .search-participant{
  margin-bottom: 10px;
}

td .status-btn-list li:last-child {
  margin: 0;
}

@media(min-width: 992px) {
  .status-btn-list .controls {
    margin-bottom: 0;
  }

  td .status-btn-list li {
    margin: 0 0 5px;
  }
}

@media(min-width: 1200px) {
  .status-btn-list {
    float: right;
  }
  .status-btn-list li:last-child{
    padding-right: 0;
  }
}

td .btn:hover, td .btn:active, td .btn:focus {
  color:#fff;
}

button.no-bg {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.footable .form-inline .btn {
  vertical-align: middle;
}

.js-loader, .js-abort {
  display: none;
  margin: 0 2px;
}

.js-abort {
  cursor: pointer;
}

.js-checkin {
  background-color: #EC971F;
  border-bottom: 2px solid #D58512;
  color: #fff;
  margin: 10px 0 0;
}

.js-cancel-checkin {
  background-color: #D9534F;
  border-bottom: 2px solid #AC2925;
  color: #fff;
  margin: 10px 0 0;
}
