html {
  scroll-behavior: smooth;
}

.zero-bottom-margin {
  margin-bottom: 0;
}

.mui-btn--nomargin {
  margin-top: 0;
  margin-bottom: 0;
}

.separator {
  padding: 0 5px;
}

.list-item-rgborder li {
  border-right: 1px solid;
  border-radius: 0;
  padding-right: 10px;
  line-height: 1;
}

.list-item-rgborder li:last-child,
.list-item-rgborder li.no-border {
  border-right: none;
  padding-right: 5px;
}

.list-item-rgborder .icon-middle {
  vertical-align: middle;
  position: relative;
  top: -2px;
}

.mui-divider--custom {
  margin: 5px 0 20px;
}

.btn-group .mui-btn {
  margin-right: 5px;
}

.content-head--top-padding {
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(132, 146, 166, 0.3);
}

.page-content {
  padding-top: 2em;
}

@media(min-width: 992px) {
  .page-content--top-padding {
    padding-top: 3em;
  }
}

.nounderline {
  text-decoration: none !important;
}

#qrreader-canvas {
 max-width: 100%;
}

.badge {
  position: relative;
  color: #fff;
  width: 15px;
  line-height: 15px;
  height: 15px;
  text-align: center;
  display: inline-block;
  background-color: #856A91;
  border-radius: 50%;
}

.select2-inline {
  display: inline-block;
  margin-right: 5px;
}

#qrreader-canvas {
  max-width: 100%;
}

.spinner {
  position: relative;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform:rotate(0deg);
  }
  100% {
   transform:rotate(360deg);
  }
}

.collapsible__icon {
  cursor: pointer;
}

.collapsible__body {
  display: none;
}
