.zero-bottom-margin {
  margin-bottom: 0 !important;
}

.zero-top-margin {
  margin-top: 0 !important;
}

.mui-btn--nomargin {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.left-padding {
  padding-left: $mui-grid-padding;
}

.right-padding {
  padding-right: $mui-grid-padding;
}

.grid-no-left-padding {
  margin-left: -$mui-grid-padding;
}

.grid-no-right-padding {
  margin-right: -$mui-grid-padding;
}

.separator {
  margin: 10px 0;
}

.image-wrapper img {
  max-width: 100%;
  display: block;
}

.material-icons {
  display: none;
}

.primary-color-txt {
  color: #e05f26;
}

.secondary-color-txt {
  color: #82688d;
}

.list-item-rgborder li {
  border-right: 1px solid;
  border-radius: 0;
  padding-right: 10px;
  line-height: 1;
}

.list-item-rgborder li:last-child,
.list-item-rgborder li.no-border {
  border-right: none;
  padding-right: 5px;
}

.list-item-rgborder .icon-middle {
  position: relative;
  top: 7px;
}

.mui-divider--custom {
  margin: 5px 0 20px;
}

.btn-group .mui-btn {
  margin-right: 5px;
}

.btn-group .mui-btn + .mui-btn {
  margin-left: 0;
}

.content-head--top-padding {
  padding-top: $mui-grid-padding;
  padding-bottom: $mui-grid-padding;
  border-bottom: 1px solid rgba(132, 146, 166, 0.3);
}

.page-content {
  padding-top: $mui-grid-padding-double;
  padding-bottom: $mui-grid-padding;
}

.page-content--mob-nav {
  padding-top: 80px;
}

@media (min-width: 768px) {
  .page-content--mob-nav {
    padding-top: $mui-grid-padding-double;
  }
}

.nounderline {
  text-decoration: none !important;
}

.badge {
  position: relative;
  color: #fff;
  min-width: $mui-grid-padding;
  line-height: $mui-grid-padding;
  min-height: $mui-grid-padding;
  text-align: center;
  display: inline-block;
  background-color: #856a91;
  border-radius: 3px;
  padding: 2px;
  font-size: 12px;
}

.select2-inline {
  display: inline-block;
  margin-right: 5px;
}

.spinner {
  position: relative;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.collapsible__header {
  margin: 10px 0;
  width: 100%;
  background: #eff2f7;
  padding: 20px;
  cursor: pointer;
}

.collapsible__header--smaller {
  width: calc(100% - 37px);
  padding: 10px;
  margin: 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.collapsible__header__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.collapsible__dropdown {
  margin: 0;
  margin-right: 1px;
  padding: 10px;
  background: #eff2f7;
  max-height: 44px;
}

.collapsible__body {
  display: none;
  clear: both;
}

html.touch .collapsible__icon--disable {
  display: none;
}

html.touch .collapsible__body--disable {
  display: block;
}

.mui-list--border li {
  border-bottom: 1px solid rgba(132, 146, 166, 0.2);
  padding: 5px;
}

.mui-list--border li:last-child {
  border-bottom: none;
}

@media screen and (max-width: 1024px) {
  .fb_iframe_widget {
    overflow-y: scroll;
    width: 100%;
    display: inline-block !important;
  }
}

.attendee-table .buttongrp-column {
  min-width: 250px;
}

.attendee-table td {
  word-break: break-word;
  min-width: 100px;
}

@media (min-width: 992px) {
  .attendee-table td {
    min-width: 80px;
  }
}

@media (min-width: 1200px) {
  .attendee-table td {
    min-width: 200px;
  }
}

.btn-wrapper {
  margin-bottom: 10px;
}

.full-width-btn {
  width: 100%;
  margin: 0;
}

.past-events-table {
  border-collapse: collapse;

  > thead > tr > th {
    padding: $mui-grid-padding;
  }
}

.footer--homepage {
  margin-top: 0;
}

.mui-btn--nopadding {
  padding-left: 0;
  padding-right: 0;
}

.mui-btn--nopadding:hover {
  background: transparent !important;
}

.count-chip {
  color: #e05f25;
  position: relative;
  top: -12px;
  font-size: 12px;
}

.user {
  .user__box {
    padding: 8px 8px 8px 50px;
    position: relative;
    word-break: break-word;

    .user__box__gravatar {
      width: 40px;
      height: 40px;
      display: inline-block;
      position: absolute;
      left: 0;
      top: 11px;
      border-radius: 50%;
    }
    .user__box__gravatar--initials {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #e05f25;
      color: #fff;
      text-transform: uppercase;
    }
    .user__box__fullname {
      margin: 0px 0 4px;
    }
    .user__box__userid {
      margin: 0;
    }
  }
}

.user:nth-child(even) {
  .user__box__gravatar--initials {
    background: #e05f26;
  }
}

.user:nth-child(odd) {
  .user__box__gravatar--initials {
    background: #82688d;
  }
}

.user:nth-child(4n) {
  .user__box__gravatar--initials {
    background: #dda32b;
  }
}

.read-more {
  cursor: pointer;
}

.animate-btn {
  display: none;
  line-height: 1;
  font-size: 14px;
  text-transform: inherit;

  .bookmarked {
    fill: #e05f26;
  }
}

.animate-btn--show {
  display: inline-block;
}

.animate-btn--animate {
  -webkit-animation-name: heartBeat;
  animation-name: heartBeat;
  -webkit-animation-duration: 1.3s;
  animation-duration: 1.3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  14% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  28% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  42% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  14% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  28% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  42% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.no-js {
  .js-lazyload-img,
  .js-hg-banner,
  .js-account-dropdown {
    display: none;
  }
}

.embed-video-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56%;

  .video_txt {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
  }

  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: block;
  }

  .no-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    color: #8492a6;
  }
}

//Progree bar
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  i-moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background-image: linear-gradient(to right, #82688d, #e05f25, #dda32a);
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 4px;
}

.pace-hide {
  display: none !important;
}
