.zero-bottom-margin {
  margin-bottom: 0 !important;
}

.zero-top-margin {
  margin-top: 0 !important;
}

.mui-btn--nomargin {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.left-padding {
  padding-left: 15px;
}

.right-padding {
  padding-right: 15px;
}

.grid-no-left-padding {
  margin-left: -15px;
}

.grid-no-right-padding {
  margin-right: -15px;
}

.separator {
  padding: 0 5px;
}

.image-wrapper img {
  max-width: 100%;
  display: block;
}

.svg-icon {
  position: relative;
  top: 2px;
}

.no-js .js-lazyload-img {
  display: none;
}

.list-item-rgborder li {
  border-right: 1px solid;
  border-radius: 0;
  padding-right: 10px;
  line-height: 1;
}

.list-item-rgborder li:last-child,
.list-item-rgborder li.no-border {
  border-right: none;
  padding-right: 5px;
}

.list-item-rgborder .icon-middle {
  position: relative;
  top: 7px;
}

.material-icons.mui--align-middle {
  position: relative;
  top: -1px;
}

.mui-divider--custom {
  margin: 5px 0 20px;
}

.btn-group .mui-btn {
  margin-right: 5px;
}

.mui-btn .material-icons.mui--align-middle {
  margin-right: 5px;
}

.content-head--top-padding {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(132, 146, 166, 0.3);
}

.page-content {
  padding-top: 30px;
  padding-bottom: 15px;
}

.page-content--mob-nav {
  padding-top: 80px;
}

@media (min-width: 768px) {
  .page-content--mob-nav {
    padding-top: 30px;
  }
}

.nounderline {
  text-decoration: none !important;
}

.badge {
  position: relative;
  color: #fff;
  width: 15px;
  line-height: 15px;
  height: 15px;
  text-align: center;
  display: inline-block;
  background-color: #856a91;
  border-radius: 50%;
}

.select2-inline {
  display: inline-block;
  margin-right: 5px;
}

.spinner {
  position: relative;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.collapsible__header {
  margin: 10px 0;
  width: 100%;
  background: #eff2f7;
  padding: 20px;
  cursor: pointer;
}

.collapsible__header--smaller {
  width: calc(100% - 45px);
  padding: 10px;
  margin: 0 0 10px;
}

.collapsible__dropdown {
  margin: 0;
  margin-right: 1px;
  padding: 10px 10px 4px;
  background: #eff2f7;
}

.collapsible__body {
  display: none;
  clear: both;
}

html.touch .collapsible__icon--disable {
  display: none;
}

html.touch .collapsible__body--disable {
  display: block;
}

.mui-list--border li {
  border-bottom: 1px solid rgba(132, 146, 166, 0.2);
  padding: 5px;
}

.mui-list--border li:last-child {
  border-bottom: none;
}

@media screen and (max-width: 1024px) {
  .fb_iframe_widget {
    overflow-y: scroll;
    width: 100%;
    display: inline-block !important;
  }
}

.attendee-table .buttongrp-column {
  min-width: 250px;
}

.attendee-table td {
  word-break: break-word;
  min-width: 100px;
}

@media (min-width: 992px) {
  .attendee-table td {
    min-width: 80px;
  }
}

@media (min-width: 1200px) {
  .attendee-table td {
    min-width: 200px;
  }
}

.btn-wrapper {
  margin-bottom: 10px;
}

.past-events-table {
  border-collapse: collapse;

  > thead > tr > th {
    padding: 15px;
  }
}

.footer--homepage {
  margin-top: 0;
}

.mui-btn--nopadding {
  padding-left: 0;
  padding-right: 0;
}

.mui-btn--nopadding:hover {
  background: transparent !important;
}

.count-chip {
  color: #e05f25;
  position: relative;
  top: -12px;
  font-size: 12px;
}

.user-box {
  padding: 8px 8px 8px 50px;
  position: relative;

  .user-gravatar {
    width: 40px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 11px;
    border-radius: 50%;
  }
}

.mui-btn--nostyle {
  background: none;
}
