.draft-posts {
  margin-bottom: $mui-grid-padding-double;
}

.post {
  margin: $mui-grid-padding 0 0;

  .post__header {
    margin-bottom: $mui-grid-padding;
  }

  .post__date {
    margin-bottom: 10px;
  }

  .post__content {
    display: inline-block;
    width: 100%;
  }

  .post__content img {
    max-width: 100%;
  }
}

.publish-form {
  form {
    margin: 0;
  }
}

@media (min-width: 768px) {
  .pinned {
    top: 110px;
    margin-bottom: -10px;
  }
  .post {
    padding: $mui-grid-padding-double $mui-grid-padding;
    margin-bottom: $mui-grid-padding;
    border-radius: 16px;
    border: solid 1px rgba(121, 129, 139, 0.16);
  }
}
