.pinned {
  position: sticky;
  top: 56px;
  box-shadow: crimson;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.17);
  background: $mui-bg-color-primary;
  z-index: 2;

  .pinned__post {
    text-decoration: none !important;
    display: inline-block;
    width: 100%;
    padding: $mui-grid-padding/2 0;
    border-bottom: solid 1px rgba(121, 129, 139, 0.16);
  }

  .pinned__post__heading {
    margin-bottom: 0;
    padding: 0 $mui-grid-padding;
    display: none;
  }
  .pinned__post__body {
    margin-bottom: 0;
    padding: 0 $mui-grid-padding;
    .pinned__post__body__text {
      padding-left: 5px;
      > * {
        display: inline-block;
        margin-bottom: 0;
      }
      > img {
        display: none;
      }
    }
  }
}

.pinned li:first-child {
  .pinned__post__heading {
    display: block;
  }
}

.pinned a:hover,
.pinned a:active {
  text-decoration: none !important;
}

.draft-posts {
  margin-bottom: $mui-grid-padding-double;
}

.post {
  margin: $mui-grid-padding 0 0;

  .post__header {
    margin-bottom: $mui-grid-padding;
  }

  .post__date {
    margin-bottom: 10px;
  }

  .post__content {
    display: inline-block;
    width: 100%;
  }

  .post__content img {
    max-width: 100%;
  }
}

.post-form {
  border-radius: 16px;
  background-color: $mui-bg-color-accent;
  padding: 24px;
  margin-bottom: $mui-grid-padding-double;
  .user__box__gravatar--initials {
    background-color: $mui-accent-color !important;
  }
  input {
    width: 100%;
    padding: 10px 16px;
    border-radius: 2px;
    border: solid 1px rgba(77, 87, 99, 0.13);
    background: $mui-bg-color-primary;
  }
}

.publish-form {
  form {
    margin: 0;
  }
}

@media (min-width: 768px) {
  .pinned {
    top: 110px;
    margin-bottom: -10px;
  }
  .post {
    padding: $mui-grid-padding-double $mui-grid-padding;
    margin-bottom: $mui-grid-padding;
    border-radius: 16px;
    border: solid 1px rgba(121, 129, 139, 0.16);
  }
}
