.proposal-list-header {
  margin: 1px 0 0;
  width: 100%;
  background: #EFF2F7;
  padding: 20px;
}

.proposal-list-table {
  width: 100%;
  border-spacing: 0;

  tbody>tr>td {
    border: 1px solid #EFF2F7;
    border-top: 0;

    .speaker-details {
      margin-bottom: 16px;
    }
  }
}

.search-proposal-form {
  width: 100%;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid rgba(132,146,166,0.3);

  .mui-textfield {
    padding-top: 5px;

    > input {
      border-bottom: 0;
    }
  }
}

@media (min-width: 1200px) {
  .search-proposal-form {
    width: 50%;
  }
}
