.project-banner {
  margin-top: 15px;

  .profile-details {
    display: none;
  }
  .project-banner__headline {
    margin-bottom: 8px;
  }
  .project-banner__box {
    padding: 0;

    .project-banner__box__16_9 {
      padding-bottom: 56%;
      position: relative;

      iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        display: block;
      }
      .project-banner__box__image {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .project-banner__headline {
      padding: 0 15px;
    }
  }

  .livestream-box {
    margin: 15px 0 30px;
    padding: 0;
  }
  .profile-text {
    margin: 15px 0;

    p {
      display: none;
    }

    p:first-child {
      margin: 0;
      display: block;
    }
  }
  .card__calendar {
    padding: 0 0 15px;
    margin-right: -15px;
    margin-left: -15px;
    padding: 0 15px;
    margin-bottom: 15px;
  }
  .project-time {
    margin-bottom: 15px;
  }
  .project-venue {
    margin-bottom: 15px;
  }
  .propose-btn {
    background-color: #202d3c;
    color: #fff;
    margin-bottom: 0;
  }
  .propose-btn.strike-text {
    text-decoration: line-through;
  }
  .propose-btn.strike-text:hover {
    text-decoration: line-through;
  }
  .project-banner__action {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    .project-banner__action__icon {
      height: 24px;
      vertical-align: middle;
    }

    .project-banner__action__social {
      justify-content: space-between;
      width: 110px;
      display: flex;
      align-items: center;
    }

    .project-banner__action__button {
      display: inline-block;
      width: 165px;
      box-shadow: none;
      text-align: left;
      padding: 0;
      margin: 0;
    }

    .mui-btn + .mui-btn {
      margin-left: 0;
    }
  }
}

@media (min-width: 992px) {
  .project-banner {
    .profile-details {
      display: block;

      .profile-details__logo-wrapper {
        display: inline-block;
        height: 50px;
        margin-right: 5px;

        .profile-details__logo_wrapper__logo {
          height: 100%;
        }
      }
    }
    .project-banner__headline {
      margin-bottom: 16px;
    }
    .project-banner__box {
      padding: 0 15px;
    }
    .profile-text {
      margin: 0 0 15px;

      p {
        margin: 0;
      }
    }
    .card__calendar {
      margin: 0 0 15px;
      padding: 10px 0 0;
    }
  }
}

.about {
  padding: 0 15px;
  word-break: break-word;

  .about__details__description h1,
  .about__details__description h2,
  .about__details__description h3,
  .about__details__description h4,
  .about__details__description h5 {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
  }

  img {
    width: 100%;
  }

  .about__details__featured {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;

    .about__details__featured__cards {
      padding: 0 15px;
    }
  }

  .about__participate__back-nav {
    display: none;
  }

  .about__participate {
    display: none;
  }

  .about__participate--modal {
    position: fixed;
    top: 0;
    background: #fff;
    left: 0;
    right: 0;
    padding: 15px;
    z-index: 100001;
    bottom: 0;
    height: 100%;
    overflow: auto;

    .about__participate__back-nav {
      display: block;
    }
  }
}

@media (min-width: 768px) {
  .about {
    .about__participate {
      display: block !important;
      position: relative;
      width: calc(50% - 30px);
      float: right;
      padding: 0;
      margin-left: 30px;
      margin-bottom: 15px;
    }
    .about__details {
      float: none;

      hr {
        overflow: hidden;
      }
    }

    .about__details__featured {
      .about__details__featured__cards {
        display: inline-block;
        width: calc(50% - 32px);
        padding: 0 15px;
        vertical-align: top;
        margin: 0 -2px;
      }
    }
  }
}

@media (min-width: 992px) {
  .about {
    .about__participate {
      width: calc(40% - 30px);
    }

    .about__details__featured {
      .about__details__featured__cards {
        width: calc(33.3% - 30px);
        padding: 0 15px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .about {
    .about__details__featured {
      .about__details__featured__cards {
        width: calc(33.3% - 30px);
        padding: 0 15px;
      }
    }
  }
}

.about #boxoffice-widget {
  padding-top: 0;
  max-width: 100%;
  margin: 0;

  .ticket-booking {
    border-bottom: 1px solid #ccc;
  }

  .ticket-booking:last-child {
    border-bottom: none;
  }

  .ticket-details {
    margin: 0;
    width: 100%;
  }

  .ticket-price-qty {
    float: left;
    width: 100%;
    margin-top: 30px;
  }

  .ticket-description .few-ticket {
    left: 0;
    top: -21px;
  }

  .price-details-wrapper,
  .ticket-total,
  .proceed-button-wrapper {
    float: left;
  }

  .ticket-total {
    margin-left: -10px;
    margin-right: -10px;
  }

  .item-amount,
  .valid-upto,
  .discount {
    text-align: left;
  }

  .checkout-confirmation {
    padding: 0;
  }

  .fa {
    display: none;
    padding: 0 !important;
  }
}

.about .rsvp-wrapper {
  padding-top: 50px;
}

@media (min-width: 768px) {
  .about .rsvp-wrapper {
    padding: 10px;
    box-shadow: 0 1px 3px rgba(158, 158, 158, 0.12),
      0 1px 2px rgba(158, 158, 158, 0.24);
  }
}

.project-section__map {
  height: 400px;
  width: 100%;
  z-index: 0;
  margin-top: 15px;
  position: relative;
  outline: none;
  margin-bottom: 30px;
}
