.project-banner {
  .project-banner__box {
    padding: 0;

    .project-banner__box__video {
      padding-bottom: 56%;
      position: relative;

      iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        display: block;
      }
    }
    .project-banner__box__image {
      width: 100%;
      display: block;
    }
    .project-banner__headline {
      padding: 0 15px;
    }
  }
  .card__calendar {
    padding: 0;
    border-bottom: 1px solid rgba(132,146,166,0.3);
    border-top: 1px solid rgba(132,146,166,0.3);
    background-color: #F9FAFC;
    margin-right: -15px;
    margin-left: -15px;
  }
  .project-banner__action {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 15px 0 0;
    max-width: 300px;

    .project-banner__action__icon {
      height: 24px;
      vertical-align: middle;
    }

    .project-banner__action__social {
      justify-content: space-between;
      width: 110px;
      display: flex;
      align-items: center;
    }

    .project-banner__action__button {
      display: inline-block;
      width: 165px;
    }

    .mui-btn+.mui-btn {
      margin-left: 0;
    }
  }

  .profile-details {
    display: flex;
    margin: 15px 0;

    .profile-details__logo {
      height: 55px;
      margin-right: 15px;
    }
    .profile-details__title {
      word-break: keep-all;
    }
  }

  .date-wrapper {
    display: flex;
    margin: 0 -15px;
    padding: 15px;

    .date-wrapper__icon {
      border-radius: 50%;
      border: 1px solid #79818B;
      min-width: 32px;
      height: 32px;
      text-align: center;
      margin-right: 15px;
    }
    .date-wrapper__details {
      word-break: keep-all;
    }
  }
}

@media(min-width: 768px) {
  .project-banner {
    margin-top: 30px;

    .project-banner__box {
      padding: 0 15px;

      .project-banner__box__video {
        padding-bottom: 56%;
        position: relative;

        iframe {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          display: block;
        }
      }
      .project-banner__box__image {
        width: 100%;
        display: block;
      }
      .project-banner__headline {
        margin-top: 15px;
        padding: 0;
      }
    }

    .card__calendar {
      background-color: transparent;
      margin: 0;
    }
    .project-banner__action {
      max-width: 100%;
      .project-banner__action__social {
        justify-content: space-between;
        width: calc(100% - 200px);
        display: flex;
        align-items: center;
      }
    }

    .date-wrapper {
      border: 0;
    }
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .project-banner {
    .project-banner__box {
      .project-banner__headline {
        .profile-details {
          display: block;
          display: flex;
        }
      }
    }
  }
}

.about-ticket-wrapper {
  align-items: flex-start;

  #participate {
    padding-left: 30px;
    position: sticky;
    top: 65px;
  }

  #boxoffice-widget {
    padding-top: 0;
    max-width: 100%;
    margin: 0;

    .category-heading {
      font-size: 25px;
      width: 100%;
    }

    .category-heading:after {
      border: none;
    }

    .ticket-details {
      margin: 0;
      width: 100%;
    }

    .ticket-price-qty {
      float: left;
      width: 100%;
      margin-top: 15px;
    }

    .price-details-wrapper,
    .ticket-total,
    .proceed-button-wrapper {
      float: left;
    }

    .item-amount,
    .valid-upto {
      text-align: left;
    }

    .checkout-confirmation {
      padding: 0;
    }

    .fa {
      display: none;
    }
  }
}

.session-image {
  max-height: 280px;
  position: relative;
  overflow: hidden;
}

.session-content {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
}

.project-section #boxoffice-widget {
  padding-top: 0;
  width: 100%;
  max-width: none;
}

.project-section #boxoffice-widget .ticket-title {
  color: inherit;
}

.project-section__headline {
  font-weight: bold;
}

.project-section__description h1,
.project-section__description h2,
.project-section__description h3,
.project-section__description h4,
.project-section__description h5,
.project-section__instructions h1,
.project-section__instructions h2,
.project-section__instructions h3,
.project-section__instructions h4,
.project-section__instructions h5 {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}

.project-section__description  img,
.project-section__instructions img  {
  width: 100%;
}

.project-section__map {
  height: 400px;
  width: 100%;
  z-index: 0;
  margin-top: 15px;
  position: relative;
  outline: none;
  margin-bottom: 30px;
}
