.proposal-wrapper {
  border-radius: 4px;
  border: 1px solid rgba(132, 146, 166, 0.3);
  box-shadow: 0 1px 3px rgba(158, 158, 158, 0.12), 0 1px 2px rgba(158, 158, 158, 0.24);
  padding: 0;
  margin-bottom: 70px;
  position: relative;
}

.slider-btn-wrapper {
  width: 100%;
}

.slider-btn a {
 display: block;
 width: 100%;
}

.slider-btn a:hover {
  text-decoration: none;
}

.slider-btn--push-down {
  position: relative;
  top: 40px;
}

.slider-btn--right {
  width: 90%; 
}

.truncate-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 70%;
  display: inline-block;
  overflow: hidden;
}

@media (min-width: 768px) {
  .slider-btn--push-down {
    position: relative;
    top: 0;
    width: 50%
  }

  .slider-btn--right {
    width: 50%; 
  }
}


@media (min-width: 1300px) {
  .proposal-wrapper {
    margin-bottom: 15px;
  }

  .proposal__section__headline {
    margin-top: 0px;
  }
}

.proposal__section {
  padding: 1em;
  overflow-wrap: break-word;
}

.proposal__section--border {
  border-bottom: 1px solid rgba(132, 146, 166, 0.3);
}

.proposal-status-wrapper .grid .columns,
.proposal__section .grid .columns {
  padding: 0 2em 0 0;
}

@media (min-width: 992px) {
  .proposal__section--left {
    float: left;
    width: calc(70% - 15px);
    padding-bottom: 2em;
  }

  .proposal__admin-panel {
    float: right;
    width: calc(30% - 15px);
    margin-right: 15px;
    margin-top: 30px;
  }

}

.proposal__section--bleed-y {
  padding: 1em 0;
}

.proposal__section--heading {
  margin-bottom: 1em;
}

.proposal-details {
  margin-top: 15px;
}

.proposal-video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56%;
  background-color: #EFF2F7;

  .video_txt {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
  }

  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: block;
  }

  .no-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    color: #8492A6;
  }
}

.proposal-details--talk {
  margin-top: 30px;
  border-top: 1px solid rgba(132,146,166,0.3);
  padding-top: 15px;
  margin-left: -15px;
  margin-right: -15px; 
}

.proposal-details--talk__box {
  min-width: 160px;
}

@media (min-width: 992px) {
  .proposal-video {
    min-width: 300px;
  }
  .proposal-details {
    margin-top: 30px;
  }

  .proposal-details--left {
    float: left;
    width: 50%;
  }

  .proposal-details--right {
    float: right;
    width: 50%;
    margin-top: 40px;
  }

  .proposal-video {
    max-width: 50%;
  }
}

@media (min-width: 1200px) {
  .proposal-video {
    min-width: 500px;
  }
}

.proposal-move-form div{
  display: inline-block;
}

.proposal-move-form .hg-form {
  margin-top: 13px;
}

.proposal-move-form .hg-form .mui-btn{
  margin-left: 5px;
}

.proposal-move-form .select2-container{
  margin-top: -11px;
}

.proposal-move-form label {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  top: -33px;
  color: #1F2D3D;
}

.vote-wrapper {
  margin-top: 0.5em;
}

.vote-wrapper form{
  display: inline-block;
}

.action-btn {
  border: none;
  background: none;
  cursor: pointer;
  line-height: 28px;
}

.action-btn--login {
  padding: 6px 15px;
  line-height: 17px;
}

.action-btn__icons {
  line-height: 0;
  font-weight: bold;
  position: relative;
  top: 7px;
  right: 2px;
}

.action-btn__icons--small {
  font-size: 16px;
  top: 4px;
}

.action-btn--nopadding {
  padding: 0;
}

.action-btn:hover {
  color: #4A90E2;
}

.proposal__admin-panel .mui-select {
  width: 100%;
}

.proposal__admin-panel .btn-group .mui-btn {
  margin-bottom: 15px;
  margin-right: 20px;
}

@medium (min-width: 1200px) {
  .proposal__admin-panel .btn-group .mui-btn {
    margin-bottom: 10px;
    margin-right: 10px;
  }
}

.proposal-content {
  margin: 2em 0;
  min-height: 100px;
}

.links-list {
  word-break: break-all;
}

.proposal-content pre,
.codehilite pre {
  white-space: pre-wrap;
}

.comment {
  margin: 1em 0;
}

.comment--vote,
.comment--content {
  display: inline-block;
}

.comment--vote {
  vertical-align: top;
  width: 20px;
  text-align: center;
  margin-top: -4px;
  margin-right: 5px;
}

.comment--vote--count {
  text-align: center;
  width: 100%;
  display: inline-block;
}

.comment--content {
  width: calc(90% - 30px);
}

.comment--content img{
  max-width: 100%;
}

.comment--body {
  margin: 10px 0 0 20px;
}

.label {
  padding: 5px 10px;
  border: 2px solid #F0F2F5;
  background-color: #F6F8FA;
  border-radius: 20px;
  display: inline-block;
  margin: 0 10px 10px 0;
  text-decoration: none;
}

.label:hover {
  text-decoration: none;
}

.selected-label {
  border-bottom: 1px solid #ccc;
  width: 100%;
  position: relative;
  cursor: pointer;

  .material-icons {
    position: absolute;
    bottom: 10px;
    right: 0;
    color: #888;
  }
}

.add-label-form {
  .label-dropdown-wrapper {
    position: relative;
    margin-bottom: 10px;
  }
  fieldset {
    border: none;
    position: absolute;
    top: -500px;
    z-index: -1;
    left: 0px;
    width: 100%;
    margin: 0px;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    background-color: white;
    margin: 0;
    -webkit-transition: top 0.25s linear, z-index 0.1s step-start;
    -moz-transition: top 0.25s linear, z-index 0.1s step-start;
    -ms-transition: top 0.25s linear, z-index 0.1s step-start;
    -o-transition: top 0.25s linear, z-index 0.1s step-start;

    legend {
      display: none;
    }
  }

  fieldset.active {
    top: 0;
    z-index: 1;
    -webkit-transition: top 0.25s linear, z-index 0.25s step-end;
    -moz-transition: top 0.25s linear, z-index 0.25s step-end;
    -ms-transition: top 0.25s linear, z-index 0.25s step-end;
    -o-transition: top 0.25s linear, z-index 0.25s step-end;
    transition: top 0.25s linear, z-index 0.25s step-end;
  }

  .listwidget {
    .mui-textfield {
      margin-bottom: 0;
      padding-top: 0;
    }
    .mui-form__label {
      font-size: 14px;
      line-height: 24px;
      overflow: auto;
      margin: 0;
      position: relative;
      color: #1F2D3D;
      padding-left: 20px;
    }

    ul {
      padding-left: 20px;
    }

    .mui-form__label:before,
    .mui-form__label:after {
      position: absolute;
      content: "";
      display: inline-block;
    }

    .mui-form__label:before{
      height: 13px;
      width: 13px;
      border: 1px solid #ccc;
      left: 0px;
      top: 4px;
      border-radius: 3px;
    }

    .mui-form__label:after {
      height: 4px;
      width: 8px;
      border-left: 1.4px solid #fff;
      border-bottom: 1.2px solid #fff;
      transform: rotate(-61deg);
      left: 2px;
      top: 8px;
    }

    .mui-form__label:after {
      content: none;
    }

    .mui-form__label.checked:before {
      background: #3A99FC;
      border: none;
    }
    .mui-form__label.checked:after {
      content: "";
    }
  }

  .mui-checkbox {
    margin-bottom: 0;
  }
    
}
