.profile-details {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  .profile-details__logo-wrapper {
    margin-right: 15px;
    width: 60px;
    height: 60px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
    border-radius: 50%;
    position: relative;

    .profile-details__logo_wrapper__logo {
      width: 70%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 50%;
    }
  }
  .profile-details__desc {
    width: calc(100% - 100px);
  }
  .profile-details__logo-wrapper--small {
    width: 60px;
    height: 60px;
    margin-right: 8px;
  }
}

@media (min-width: 992px) {
  .profile-details {
    .profile-details__logo-wrapper {
      width: 94px;
      height: 94px;
    }
    .profile-details__logo-wrapper--small {
      width: 60px;
      height: 60px;
      margin-right: 8px;
    }
  }
}
