.js-mob-drawer {
  display: none;
  position: fixed;
  z-index: 999999999;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  background: #fff;
  border-radius: 4px;
  word-break: break-word;

  .profile-details {
    margin: -15px -15px 15px;
    padding: 15px;
  }
}

.project-banner {
  margin-top: 15px;

  .js-on-hover {
    display: none;
  }

  .project-banner__box {
    padding: 0;

    .project-banner__box__image {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    .project-banner__headline {
      padding: 0 15px;
    }
  }

  .livestream-box {
    margin: 0;
    padding: 0;
  }
  .profile-text {
    margin: 15px 0;

    p {
      display: none;
    }

    p:first-child {
      margin: 0;
      display: block;
    }
  }
  .project-details__box {
    margin-top: 15px;
    position: relative;

    .bookmark-icon {
      position: absolute;
      top: 0;
      right: 0;
    }
    .card__calendar {
      padding: 0 15px 10px;
      margin: 0 -15px 25px;
    }
    .project-time {
      margin-bottom: 15px;
    }
    .project-venue {
      margin: 10px 0;
    }
    .propose {
      margin: 8px 0 0;
      padding-top: 15px;
      padding-bottom: 15px;
      .propose__btn {
        background-color: #202d3c;
        color: #fff;
        margin-bottom: 0;
      }
      .propose__btn--strike {
        text-decoration: line-through;
      }
      .propose-btn--strike:hover {
        text-decoration: line-through;
      }
      .propose__txt {
        margin-top: 5px;

        .propose__txt__badge {
          margin-right: 10px;
          padding: 5px;
          float: left;
          position: relative;
          top: 8px;
          border-radius: 2px;
        }
      }
    }
    .project-banner__action {
      display: flex;
      align-items: baseline;
      justify-content: space-between;

      .project-banner__action__icon {
        height: 24px;
        vertical-align: middle;
      }

      .project-banner__action__social {
        justify-content: space-between;
        width: 100%;
        display: flex;
        align-items: baseline;
        margin-bottom: 10px;
        padding: 10px;
        border: 2px dashed #eff2f6;
      }

      .mui-btn + .mui-btn {
        margin-left: 0;
      }
    }
  }
}

@media (min-width: 768px) {
  .project-banner {
    .project-banner__box {
      padding: 0 15px;
    }
  }
}

@media (min-width: 992px) {
  .js-mob-drawer {
    display: none;
  }
  .project-banner {
    .js-show-project {
      position: relative;
    }
    .js-on-hover {
      display: none;
      position: absolute;
      top: 62px;
      z-index: 10000;
      left: 0px;
      width: 500px;
      background: #fff;
      padding: 15px;
      word-break: break-word;
      border-radius: 4px;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
    }
    .js-show-project:hover .js-on-hover {
      display: block;
    }
    .project-banner__box {
      padding: 0 15px;
    }
    .profile-text {
      margin: 0 0 5px;

      p {
        margin: 0;
      }
    }
    .project-details__box {
      margin: 0;
      margin-top: -7px;

      .bookmark-icon {
        top: 5px;
        right: 10px;
      }
      .card__calendar {
        margin: 0 0 25px;
        padding: 0 0 8px;
      }
      .propose {
        align-items: baseline;
        margin-left: 15px;
        width: calc(100% - 15px);
      }
      .propose--lessmargin {
        margin: 10px 0 0;
        padding: 0;
        width: 100%;
      }
      .propose--lessmargin.mui--d-inlineblock {
        width: auto;
      }
      .propose__btn-wrapper {
        padding-left: 10px;
      }
    }
    .project-details__box--topmargin {
      margin-top: 42px;
    }
  }
}

.about {
  padding: 0 15px;
  word-break: break-word;

  .about__details__description h1,
  .about__details__description h2,
  .about__details__description h3,
  .about__details__description h4,
  .about__details__description h5 {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
  }

  img {
    width: 100%;
  }

  .about__details__featured {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;

    .about__details__featured__cards {
      padding: 0 15px;
    }
  }

  .about__participate__back-nav {
    display: none;
  }

  .about__participate {
    display: none;
  }

  .about__participate--modal {
    position: fixed;
    top: 0;
    background: #fff;
    left: 0;
    right: 0;
    padding: 15px;
    z-index: 100001;
    bottom: 0;
    overflow: auto;

    .about__participate__back-nav {
      display: block;
    }
  }
}

@media (min-width: 768px) {
  .about {
    .about__participate {
      display: block !important;
      position: relative;
      width: calc(50% - 30px);
      float: right;
      padding: 0;
      margin-left: 30px;
      margin-bottom: 15px;
    }
    .about__details {
      float: none;

      hr {
        overflow: hidden;
      }
    }

    .about__details__featured {
      .about__details__featured__cards {
        display: inline-block;
        width: calc(50% - 32px);
        padding: 0 15px;
        vertical-align: top;
        margin: 0 -2px;
      }
    }
  }
}

@media (min-width: 992px) {
  .about {
    .about__participate {
      width: calc(40% - 30px);
    }

    .about__details__featured {
      .about__details__featured__cards {
        width: calc(33.3% - 30px);
        padding: 0 15px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .about {
    .about__details__featured {
      .about__details__featured__cards {
        width: calc(33.3% - 30px);
        padding: 0 15px;
      }
    }
  }
}

.about #boxoffice-widget {
  padding: 10px 0;
  max-width: 100%;
  margin: 0;

  .category-heading:after {
    border-width: 23px;
  }

  .ticket-booking {
    border-bottom: 1px solid #ccc;
  }

  .ticket-booking:last-child {
    border-bottom: none;
  }

  .ticket-details {
    margin: 0;
    width: 100%;
  }

  .ticket-price-qty {
    float: left;
    width: 100%;
    margin-top: 30px;
  }

  .ticket-description .few-ticket {
    left: 0;
    top: -21px;
  }

  .price-details-wrapper,
  .ticket-total,
  .proceed-button-wrapper {
    float: left;
  }

  .ticket-total {
    margin-left: -10px;
    margin-right: -10px;
  }

  .item-amount,
  .valid-upto,
  .discount {
    text-align: left;
  }

  .checkout-confirmation {
    padding: 0;
  }

  .fa {
    display: none;
    padding: 0 !important;
  }
}

.about .rsvp-wrapper {
  padding-top: 50px;
}

@media (min-width: 768px) {
  .about .rsvp-wrapper {
    padding: 10px;
    box-shadow: 0 1px 3px rgba(158, 158, 158, 0.12),
      0 1px 2px rgba(158, 158, 158, 0.24);
  }
}

.project-section__map {
  height: 400px;
  width: 100%;
  z-index: 0;
  margin-top: 15px;
  position: relative;
  outline: none;
  margin-bottom: 30px;
}
