.project-banner {
  margin-top: $mui-grid-padding;

  .project-banner__headline {
    margin-bottom: $mui-grid-padding;
  }
  .project-banner__box {
    padding: 0;
    position: relative;

    .project-banner__box__image {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    .project-banner__headline {
      padding: 0 $mui-grid-padding;
    }
    .project-banner__box__add-btn {
      position: absolute;
      top: 20px;
      right: 33px;
      z-index: 3;
    }
    .livestream-box {
      margin: 0;
      padding: 0;
    }
  }

  .profile-text {
    margin: $mui-grid-padding 0;

    p {
      display: none;
    }

    p:first-child {
      margin: 0;
      display: block;
    }
  }

  .project-banner__footer {
    display: flex;
    align-items: baseline;
    margin: $mui-grid-padding 0 0;
    padding: 0 $mui-grid-padding;

    .bookmark,
    .add-calendar,
    .share {
      display: flex;
      align-items: center;
      padding: 0 8px;
      border-right: solid 1px rgba(121, 129, 139, 0.48);
      line-height: 1;
    }
    .bookmark {
      padding: 0 8px 0 0;
      height: 20px;
      .txt,
      .login-txt {
        position: relative;
        top: -2px;
      }
      .animate-btn--animate {
        -webkit-animation: none;
        animation: none;
      }
    }
    .share {
      border-right: none;
    }
    .bookmark span.login-txt,
    .add-calendar span.txt,
    .share span.txt {
      padding-right: 5px;
    }

    .mui-btn--nostyle + .mui-btn--nostyle {
      margin: 0;
    }
    .mui-dropdown__menu {
      min-width: auto;
      z-index: 1003;
    }
  }

  .project-details__box {
    margin-top: $mui-grid-padding;
    position: relative;

    .card__calendar {
      padding: 0 $mui-grid-padding 10px;
      margin: 0 0 25px;
      margin-left: -$mui-grid-padding;
      margin-right: -$mui-grid-padding;

      .calendar {
        .calendar__month-name--unique {
          display: flex;
        }
        .calendar__weekdays .calendar__weekdays__dates {
          display: flex;
        }
      }
    }
    .project-venue {
      margin: 10px 0;
    }
    .add-calendar {
      position: absolute;
      right: 45px;
      top: 0;
      font-size: 16px;
      font-variant: all-small-caps;
    }
    .propose {
      margin: 8px 0 0;
      .propose__btn {
        background-color: #202d3c;
        color: #fff;
        margin-bottom: 8px;
      }
      .propose__txt {
        font-size: 12px;
        svg {
          width: 12px;
          height: 12px;
        }
      }
      .propose__btn--strike {
        text-decoration: line-through;
      }
      .propose-btn--strike:hover {
        text-decoration: line-through;
      }
    }
  }
  .project-details__box--ticketbox {
    .check-icon {
      margin-right: 8px;
    }
  }
}

@media (min-width: 768px) {
  .project-banner {
    .project-banner__box {
      padding: 0 $mui-grid-padding;
    }
    .project-banner__footer {
      padding: 0;
      .bookmark,
      .add-calendar,
      .share {
        padding: 0 $mui-grid-padding;
        text-decoration: none;
      }
      .bookmark {
        padding: 0 $mui-grid-padding 0 0;
      }
      .bookmark span.txt {
        padding-right: 5px;
      }
    }
    .project-details__box {
      .propose {
        .propose__txt {
          font-size: 14px;
          svg {
            width: 14px;
            height: 14px;
          }
        }
      }
    }
    .livestream-box {
      .project-banner__box {
        padding: 0;
      }
    }
  }
}

@media (min-width: 992px) {
  .project-banner {
    .project-banner__box {
      padding: 0 $mui-grid-padding;
    }
    .profile-text {
      margin: 0 0 5px;

      p {
        margin: 0;
      }
    }
    .project-details__box {
      margin: 0;
      margin-top: -7px;

      .card__calendar {
        margin: 0 0 47px;
        padding: 0 0 8px;
      }
      .propose {
        align-items: baseline;
        margin-left: $mui-grid-padding;
        width: calc(100% - #{$mui-grid-padding});
      }
      .propose--lessmargin {
        margin: 10px 0 0;
        padding: 0;
        width: 100%;
      }
      .propose--lessmargin.mui--d-inlineblock {
        width: auto;
      }
      .propose__btn-wrapper {
        padding-left: 10px;
      }
    }
    .project-details__box--topmargin {
      margin-top: 42px;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .project-banner .project-details__box .add-calendar {
    right: $mui-grid-padding-double;
    top: 3px;
    font-size: 13px;
  }
}

.project-section__headline {
  margin-bottom: $mui-grid-padding;
}

.reg-modal {
  .reg-modal__txt {
    margin-bottom: $mui-grid-padding;
    width: calc(100% - 10px);
  }
}

.about {
  padding: 0 $mui-grid-padding;
  word-break: break-word;

  .about__details__description h1,
  .about__details__description h2,
  .about__details__description h3,
  .about__details__description h4,
  .about__details__description h5 {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
  }

  img {
    width: 100%;
  }

  .about__details__featured {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;

    .about__details__featured__cards {
      padding: 0 $mui-grid-padding;
    }
  }

  .about__participate__back-nav {
    display: none;
  }

  .about__participate {
    display: none;
  }

  .about__participate--modal {
    position: fixed;
    top: 0;
    background: #fff;
    left: 0;
    right: 0;
    padding: $mui-grid-padding;
    z-index: 100001;
    bottom: 0;
    overflow: auto;

    .about__participate__back-nav {
      display: block;
    }
  }
}

@media (min-width: 768px) {
  .about {
    .about__participate {
      display: block !important;
      position: relative;
      width: calc(50% - #{$mui-grid-padding-double});
      float: right;
      padding: 0;
      margin-left: $mui-grid-padding-double;
      margin-bottom: $mui-grid-padding;
    }
    .about__details {
      float: none;

      hr {
        overflow: hidden;
      }
    }

    .about__details__featured {
      .about__details__featured__cards {
        display: inline-block;
        width: calc(50% - 32px);
        padding: 0 $mui-grid-padding;
        vertical-align: top;
        margin: 0 -2px;
      }
    }
  }
}

@media (min-width: 992px) {
  .about {
    .about__participate {
      width: calc(40% - #{$mui-grid-padding-double});
    }

    .about__details__featured {
      .about__details__featured__cards {
        width: calc(33.3% - #{$mui-grid-padding-double});
        padding: 0 $mui-grid-padding;
      }
    }
  }
}

@media (min-width: 1200px) {
  .about {
    .about__details__featured {
      .about__details__featured__cards {
        width: calc(33.3% - #{$mui-grid-padding-double});
        padding: 0 $mui-grid-padding;
      }
    }
  }
}

.about #boxoffice-widget {
  padding: 10px 0;
  max-width: 100%;
  margin: 0;

  .category-heading:after {
    border-width: 23px;
  }

  .ticket-booking {
    border-bottom: 1px solid #ccc;
  }

  .ticket-booking:last-child {
    border-bottom: none;
  }

  .ticket-details {
    margin: 0;
    width: 100%;
  }

  .ticket-price-qty {
    float: left;
    width: 100%;
    margin-top: $mui-grid-padding-double;
  }

  .ticket-description .few-ticket {
    left: 0;
    top: -21px;
  }

  .price-details-wrapper,
  .ticket-total,
  .proceed-button-wrapper {
    float: left;
  }

  .ticket-total {
    margin-left: -10px;
    margin-right: -10px;
  }

  .item-amount,
  .valid-upto,
  .discount {
    text-align: left;
  }

  .checkout-confirmation {
    padding: 0;
  }

  .fa {
    display: none;
    padding: 0 !important;
  }
}

.about .rsvp-wrapper {
  padding-top: 50px;
}

@media (min-width: 768px) {
  .about .rsvp-wrapper {
    padding: 10px;
    box-shadow: 0 1px 3px rgba(158, 158, 158, 0.12),
      0 1px 2px rgba(158, 158, 158, 0.24);
  }
}

.project-section__map {
  height: 400px;
  width: 100%;
  z-index: 0;
  margin-top: $mui-grid-padding;
  position: relative;
  outline: none;
  margin-bottom: $mui-grid-padding-double;
}
