.proposal-list-header {
  margin: 1px 0 0;
  width: 100%;
  background: $mui-bg-color-primary-dark;
  padding: 20px;
}

.proposal-list-table {
  width: 100%;
  border-spacing: 0;

  tbody > tr > td {
    border: 1px solid $mui-bg-color-primary-dark;
    border-top: 0;

    .speaker-details {
      margin-bottom: $mui-grid-padding;
    }
  }
  tbody > tr:first-child > td {
    border-top: 1px solid $mui-bg-color-primary-dark;
  }
}
