.proposal-list-header {
  margin: 1px 0 0;
  width: 100%;
  background: #EFF2F7;
  padding: 20px;
}

.proposal-list-table {
  width: 100%;
  border-spacing: 0;

  tbody>tr>td {
    border: 1px solid #EFF2F7;
    border-top: 0;

    .speaker-details {
      margin-bottom: 16px;
    }
  }
}
