.profile-details {
  display: flex;
  align-items: center;
  margin: 15px 0;

  .profile-details__logo {
    height: 55px;
    margin-right: 15px;
  }
  .profile-details__title {
    word-break: keep-all;
  }
}

@media (min-width: 992px) {
  .profile-details {
    display: block;
    float: left;
    max-width: 15%;
    margin-right: 20px;

    .profile-details__title {
      display: block;
    }
  }
  .project-details {
    max-width: calc(100% - 15% - 20px);
  }
}

@media (min-width: 1200px) {
  .project-header {
    margin-top: 20px;
  }
}

.section-bottom-border {
  border-bottom: 2px solid rgba(132, 146, 166, 0.3);
}

.project-section {
  padding-top: 45px;
}

.details-section,
.project-section {
  overflow-wrap: break-word;
}

.project-section pre,
.details-section pre {
  white-space: pre-wrap;
}

.project-banner {
  padding: 15px 1em;

  .project-banner__box__video {
    padding-bottom: 56%;
    position: relative;

    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      display: block;
    }
  }
  .project-banner__box__image {
    width: 100%;
    display: block;
  }
}

@media (max-width: 991px) {
  .headline {
    max-width: none;
    padding: 0;
  }
  .project-banner {
    padding: 0;
  }
  .xs-sm-padding {
    padding: 0 15px;
  }
}

.date-wrapper {
  margin: 10px 0;
}

.date-icon,
.date-details {
  float: left;
}

.date-details {
  margin: 5px 0 0 15px;
  width: calc(100% - 47px);
}

.date-details__label {
  text-transform: uppercase;
}

.project-btn-wrapper {
  position: relative;
  margin: 10px 0 0;
  text-align: left;
  .cta {
    display: block;
    padding: 0;

    .mui-btn {
      display: block;
    }
  }
}

@media(min-width: 468px) {
  .project-btn-wrapper {
    min-width: 340px;
    width: 31%;
  }
}

@media(min-width: 1200px) {
  .project-btn-wrapper {
    .cta {
      display: block;
    }
  }
}

@media(min-width: 992px) {
  .details-section {
    flex-direction: row-reverse;
  }
}

.session-image {
  max-height: 280px;
  position: relative;
  overflow: hidden;
}

.session-content {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
}

.project-section #boxoffice-widget {
  padding-top: 0;
  width: 100%;
  max-width: none;
}

.project-section #boxoffice-widget .ticket-title {
  color: inherit;
}

.project-section__headline {
  font-weight: bold;
}

.project-section__description h1,
.project-section__description h2,
.project-section__description h3,
.project-section__description h4,
.project-section__description h5,
.project-section__instructions h1,
.project-section__instructions h2,
.project-section__instructions h3,
.project-section__instructions h4,
.project-section__instructions h5 {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}

.project-section__description  img,
.project-section__instructions img  {
  width: 100%;
}

.project-section__map {
  height: 400px;
  width: 100%;
  z-index: 0;
  margin-top: 15px;
  position: relative;
  outline: none;
  margin-bottom: 2em;
}
