.schedule {
  margin: 30px 0;

  .schedule__date {
  	margin-bottom: 30px;
  }

	.schedule__row {
		display: flex;

		.schedule__row__column {
			padding: 5px 10px;
			position: relative;
			background: image-url('schedule-box-background.png');
			background-size: 20px 10px;

			.schedule__row__column__content {
				background-color: #fff;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 2;
				width: calc(100% - 1px);
				height: 100%;
				padding: 5px 15px 0;
				border: 0;
				outline: 1px solid rgba(132,146,166,0.3);
				overflow: hidden;

				.schedule__row__column__content__title {
					float: left;
					width: calc(100% - 24px);

					.schedule__row__column__content__title__heading {
						cursor: pointer;
					}

					.schedule__row__column__content__title__heading:hover {
						color: #4A90E2;
					}
				}

				.schedule__row__column__content__decription {
					clear: both;
  					padding-top: 15px;
  					word-break: break-all;
  					overflow: hidden;

  					img {
  						width: 100%;
  					}
				}

				p {
					margin: 0 0 5px;
				}

			}

			.schedule__row__column__content--overflow:before {
				content: '';
			    position: absolute;
			    left: 1px;
			    right: 1px;
			    bottom: 0;
			    background: linear-gradient(to bottom, rgba(255,255,255,0.2) 10%, #fff 90%);
			    z-index: 3;
			    padding: 10% 0 0;
			}

			.schedule__row__column__content__title__duration {
	        	display: none;
	        }

		}

		.schedule__row__column--header {
			padding: 15px 10px;
			background-color: #fff;
			background-image: none;
			border-top: 1px solid rgba(132,146,166,0.3);
			border-left: 1px solid rgba(132,146,166,0.3);
			border-bottom: 3px solid #856A91;
			display: block;
		}

		.schedule__row__column--header:last-child {
			border-right: 1px solid rgba(132,146,166,0.3);
		}

	    .schedule__row__column--header:nth-child(2) {
	    	border-radius: 2px 0 0 0;
	    }

	    .schedule__row__column--header:last-child {
	    	border-radius: 0 2px 0 0;
	    }

		.schedule__row__column--time {
			background-image: none;
			border-bottom: 1px solid rgba(132,146,166,0.3);
			margin: 0;
			background-color: #fff;
			display: block;
			padding: 8px 0 0;
			text-align: center;
			color: #F0A40C;
			text-decoration: none;
			line-height: 1;
		}

		.schedule__row__column--time--pointer {
			cursor: pointer;
		}

		.schedule__row__column--time--header {
		    padding-top: 12px;
		}

		.schedule__row__column--talks {
			cursor: pointer;
		}
	}


	.schedule__row:before, 
	.schedule__row:after {
    	content: " ";
    	display: table;
	}

	.schedule__row--sticky {
		position: sticky;
		position: -webkit-sticky;
    	top: 50px;
    	order: 1;
    	z-index: 5;
    	border: none;
    	display: flex;
	}
}

@media(max-width: 992px) {
	.schedule {
	    .schedule__row {
	    	display: none;

	    	.schedule__row__column--time {
				display: none;
			}

			.schedule__row__column--header {
				border-bottom: 3px solid rgba(132,146,166,0.3);
			}

			.schedule__row__column--header.js-tab-active {
				border-bottom: 3px solid #856A91;
			}

			.schedule__row__column {
				display: none;
			}

		    .schedule__row__column.js-active {
				display: block;
				height: 150px !important;
			}

			.schedule__row__column {

				.schedule__row__column__content {
					height: 150px !important;

					.schedule__row__column__content__title__duration {
			        	display: block;
			        }
				}
			}
	    }
	    
	    .schedule__row.js-active {
			display: flex;
			height: 150px !important;
		}

		.schedule__row.schedule__row--sticky {
			display: flex;
			overflow: scroll;

			.schedule__row__column {
				display: flex;
				cursor: pointer;
			}

			.schedule__row__column--time {
				display: none;
			}

		}
	}
}

.session-modal--nopadding {
	padding: 0;

	.modal__header, .modal__body {
		padding: 1em;
	}
}

.session-modal {
  max-width: 98%;
  top: 60px;
}

.session-modal--nopadding {
  padding: 0;
}

.session-modal--nopadding .modal__header {
  padding: 15px 15px 5px;
}

.session-modal--nopadding .modal__body  {
  padding: 15px;
}

.session-modal--nopadding .modal__header {
  border-bottom: 1px solid rgba(132, 146, 166, 0.3);
}

.session-modal__title {
  margin-top: 15px;
  margin-bottom: 0;
  font-weight: bold;
}

.room__title,
.subscibe-title {
  border: 0;
  border-radius: 4px;
  font-weight: 200;
  padding: 15px 10px;
}

.room__title__subsc-btn {
  float: right;
  position: relative;
  top: -9px;
}

/* Calendar session */
.fc-event .fc-event-custom {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 40;
  display: none;
}

.fc-event:hover .fc-event-custom {
  display: block;
  padding: 1px 5px;
  background: #FFF;
  background: rgba(255,255,255,0.6);
  border-top-left-radius: 3px;
}

.fc-event .fc-event-custom a {
  font-weight: bolder;
  color: #c33;
  font-size: 1.2em;
}

.fc-event .fc-event-custom a:hover {
  color: #c00;
  text-decoration: none;
}

.proposal-box,
body>.proposal-box.ui-draggable {
  margin: 10px 0;
  padding: 2px 4px;
  background: #FFF;
  color: #333;
  border-radius: 3px;
  border: 1px solid #333;
  font-size: .85em;
  cursor: pointer;
}

.schedule-settings {
	margin-top: 10px;
}

