.schedule-grid {
  padding: 0;

  .schedule {
    margin: 0 0 $mui-grid-padding-double;

    .schedule__date {
      margin-bottom: $mui-grid-padding-double;
      padding-left: $mui-grid-padding;
    }

    .schedule__row {
      display: flex;

      .schedule__row__column {
        .schedule__row__column__content {
          background-color: $mui-bg-color-primary;
          width: 100%;
          padding: 5px $mui-grid-padding;
          border-bottom: 1px solid rgba(132, 146, 166, 0.3);
          word-break: break-word;

          .schedule__row__column__content__title {
            width: calc(100% - 24px);

            .schedule__row__column__content__title__heading {
              cursor: pointer;
              font-weight: bold;
            }

            .schedule__row__column__content__title__heading:hover {
              color: $mui-primary-color;
            }
          }

          .schedule__row__column__content__description {
            clear: both;
            padding-top: $mui-grid-padding;
            padding-bottom: $mui-grid-padding;
            word-break: break-word;

            img {
              width: 100%;
            }
          }

          p {
            margin: 0;
          }
        }

        .schedule__row__column__content__title__duration {
          position: -webkit-sticky;
          position: sticky;
          top: 165px;
          background-color: $mui-accent-color-lighter;
          color: $mui-text-accent-lighter;
          z-index: 3;
          float: right;
          padding: 5px;
          border-radius: 3px;
          line-height: 1;
        }
      }

      .schedule__row__column.js-active {
        display: block;
      }

      .schedule__row__column--talks {
        cursor: pointer;
      }
    }

    .schedule__row.js-active {
      display: flex;
    }

    .schedule__row--hide {
      display: none;
    }

    .schedule__row:before,
    .schedule__row:after {
      content: ' ';
      display: table;
    }

    .schedule__row--sticky {
      display: flex;
      max-width: 100%;
      overflow-x: auto;
      position: sticky;
      position: -webkit-sticky;
      top: 56px;
      order: 1;
      z-index: 4;
      border: none;
      display: flex;
      box-shadow: 0 2px 2px -1px rgba(158, 158, 158, 0.24);

      .schedule__row__column--header {
        display: flex !important;
        padding: 0 5px;
        margin: 0;
        align-items: center;
        justify-content: center;
        background-color: $mui-bg-color-primary;
        background-image: none !important;
        border-bottom: 2px solid rgba(132, 146, 166, 0.3);
        min-height: 50px;
        min-width: 100px;
        width: 100% !important;
      }

      .schedule__row__column--header.js-tab-active {
        border-bottom: 2px solid $mui-accent-color;
      }

      .schedule__row__column--time {
        display: none;
      }

      .schedule__row__column--time--pointer {
        cursor: pointer;
      }

      .schedule__row__column--time--header {
        padding-top: 12px;
      }
    }
  }
}

@media (max-width: 767px) {
  .schedule {
    .schedule__row {
      display: none;
      height: auto !important;

      .schedule__row__column {
        display: none;
        .schedule__row__column__content {
          min-height: 50px;
        }
      }
    }
    .schedule__row--sticky {
      display: flex;
    }
    .schedule__row.js-active {
      display: flex;
      .schedule__row__column.js-active {
        display: block;
      }
    }
  }
}

@media (min-width: 768px) {
  .schedule-grid {
    padding: 0 $mui-grid-padding;

    .schedule {
      margin: $mui-grid-padding-double 0;
      .schedule__date {
        padding-left: 0;
      }
      .schedule__row {
        .schedule__row__column {
          position: relative;
          background-image: image-url('schedule-box-background.png');
          background-size: 20px 10px;

          .schedule__row__column__content--calendar {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            height: 100%;
            border: 0;
            overflow: hidden;
          }
          .schedule__row__column__content--overflow:before {
            content: '';
            position: absolute;
            left: 1px;
            right: 1px;
            bottom: 0;
            background: linear-gradient(
              to bottom,
              rgba(255, 255, 255, 0.2) 10%,
              #ffffff 60%
            );
            z-index: 3;
            padding: 20px 0 0;
          }
          .schedule__row__column__content {
            outline: 1px solid rgba(132, 146, 166, 0.3);
            width: calc(100% - 1px);
            height: 100%;
            .schedule__row__column__content__title__duration {
              top: 205px;
            }
          }
        }
        .schedule__row__column--1 .schedule__row__column__content {
          width: 100%;
        }
        .schedule__row__column--time {
          display: block;
          background-image: none;
          border-bottom: 0;
          margin: 0;
          background-color: $mui-bg-color-primary;
          display: block;
          padding: 2px 0 0;
          text-align: center;
          color: $mui-accent-color;
          text-decoration: none;
          line-height: 1;
          margin: 0;
        }
        .schedule__row__column--time--pointer {
          cursor: pointer;
          height: 100%;
        }
      }
      .schedule__row--sticky {
        overflow: visible;
        top: 110px;

        .schedule__row__column--header {
          padding: $mui-grid-padding 10px;
          outline: 1px solid rgba(132, 146, 166, 0.3);
          border: none !important;
        }
        .schedule__row__column--time--header {
          display: block;
          padding-top: 12px;
        }
      }
      .schedule__row--calendar {
        .schedule__row__column {
          .schedule__row__column__content {
            .schedule__row__column__content__title__duration {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media (min-device-width: 768px) and (max-device-width: 1200px) and (orientation: landscape) {
  .schedule-grid {
    .schedule {
      .schedule__row--sticky {
        top: 93px;
      }
    }
  }
}

.calendar-wrapper {
  position: relative;

  .datepicker-wrapper {
    .mui-textfield {
      width: auto;
    }

    input {
      min-width: 120px;
      width: auto;
      margin: 0;
      font-size: 16px;
    }

    .datepicker-wrapper__tz {
      padding-top: 18px;
      margin-left: 5px;
    }
  }
}

.jquery-modal.blocker.current .session-modal--nopadding {
  padding: 0;
  overflow: visible !important;

  .modal__header {
    padding: $mui-grid-padding $mui-grid-padding 5px;
    border-bottom: 1px solid rgba(132, 146, 166, 0.3);

    .modal__header__title {
      margin-bottom: 5px;
      font-weight: bold;
    }

    .modal__header__text {
      margin: 0 0 5px;
    }
  }

  .modal__body {
    padding: 0 $mui-grid-padding $mui-grid-padding;
    word-break: break-word;

    .modal__body__separator {
      margin: $mui-grid-padding-double -$mui-grid-padding;
    }

    .modal__body__section {
      margin: $mui-grid-padding-double 0;

      .modal__body__section__text {
        margin: 0 0 5px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .jquery-modal.blocker.current .session-modal {
    width: 90%;
    max-width: 1000px;
    vertical-align: middle;
  }
}

.room__title,
.subscibe-title {
  border: 0;
  border-radius: 4px;
  font-weight: 200;
  padding: $mui-grid-padding 10px;
}

.room__title__subsc-btn {
  float: right;
  position: relative;
  top: -9px;
}

/* Calendar session */
.calendar-wrapper .fc-header-title {
  display: none;
}
.fc-event .fc-event-custom {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 40;
  display: none;
}

.fc-event:hover .fc-event-custom {
  display: block;
  padding: 1px 5px;
  background: $mui-bg-color-primary;
  background: rgba(255, 255, 255, 0.6);
  border-top-left-radius: 3px;
}

.fc-event .fc-event-custom a {
  font-weight: bolder;
  color: #c33;
  font-size: 1.2em;
}

.fc-event .fc-event-custom a:hover {
  color: #c00;
  text-decoration: none;
}

.proposal-box,
body > .proposal-box.ui-draggable {
  margin: 10px 0;
  padding: 2px 4px;
  background: $mui-bg-color-primary;
  color: $mui-text-dark;
  border-radius: 3px;
  border: 1px solid $mui-divider-color;
  font-size: 0.85em;
  cursor: pointer;
}

.schedule-settings {
  margin-top: 10px;
}
