.tabs {
  display: flex;
  width: 100%;
  justify-content: space-between;
  overflow: scroll;
  align-items: center;

  .tabs__item {
    padding: 1em;
    cursor: pointer;
    margin-bottom: 1em;
    position: relative;

    .chip {
      margin-left: 10px;
      border-radius: 32px;
      padding: 0 12px;
    }
  }

  .tabs__item:after {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    width: 0;
    height: 2px;
    background: #856A91;
    transition: width 0.5s ease;
  }

  .tabs__item--active:after {
    width: 100%;
  }
}

.tab-content {
  .tab-content__results {
    margin-bottom: 2em;

    .snippets {
      padding: 16px;
      border: 1px solid rgba(132,146,166,0.3);
    }
  }
}
