.tabs {
  display: flex;
  width: 100%;
  justify-content: space-between;
  overflow: scroll;
  align-items: center;

  .tabs__item {
    padding: 1em;
    border-bottom: 2px solid transparent;
    transition: border-color 1.5s ease;
    cursor: pointer;
    margin-bottom: 2em;

    .chip {
      margin-left: 10px;
      border-radius: 32px;
      padding: 0 12px;
    }
  }

  .tabs__item--active {
    border-bottom: 2px solid #856A91;
  }
}

.tab-content {
  .tab-content__results {
    margin-bottom: 2em;
  }
}


@media(min-width: 1200px) {
  
}
