.tabs {
  display: flex;
  width: 100%;
  justify-content: space-between;
  overflow: scroll;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  order: 1;
  z-index: 1000;
  background: #F9FAFC;
  margin-bottom: 2em;

  .tabs__item {
    padding: 1em;
    cursor: pointer;
    position: relative;
    width: 100%;
    border-bottom: 2px solid rgba(132,146,166,0.3);
    border-top: 2px solid rgba(132,146,166,0.3);
    border-left: 1px solid rgba(132,146,166,0.3);
    border-right: 1px solid rgba(132,146,166,0.3);
    margin: 0;
    text-align: center;
    align-self: stretch;

    .chip {
      margin-left: 10px;
      border-radius: 32px;
      padding: 0 12px;
    }
  }
  .tabs__item:last-child {
    border-right: 2px solid rgba(132,146,166,0.3);
  }
  .tabs__item:first-child {
    border-left: 2px solid rgba(132,146,166,0.3);
  }
  .tabs__item--active,
  .tabs__item--active:first-child,
  .tabs__item--active:last-child {
    border: 2px solid #856A91;
  }
}

@media(min-width: 768px) {
  .tabs {
    top: 50px;
  }
}

.tab-content {
  padding-left: 0;
  .tab-content__results {
    margin-bottom: 1em;

    .snippets {
      margin-top: 8px;
      padding: 8px 8px 8px 28px;
      border: 1px solid rgba(132,146,166,0.3);
      position: relative;
    }
    .search-icon {
      width: 20px;
      display: inline-block;
      position: absolute;
      left: 8px;
    }
    .search-icon:after {
      content: '🔍';
      opacity: 0.4;
      position: relative;
      top: 1px;
    }
  }
}

.search-box {
  padding: 8px 8px 8px 60px;
  position: relative;

  .user-gravatar {
    width: 40px;
    display: inline-block;
    position: absolute;
    left: 8px;
    top: 11px;
    border-radius: 50%;
  }
}
