.draft-updates {
  margin-bottom: $mui-grid-padding-double;
}

.update {
  margin: $mui-grid-padding 0 0;
  background: $mui-bg-color-primary;
  color: $mui-text-light;
  position: relative;

  .update__action-btn {
    float: right;
  }

  .update__header {
    margin-bottom: $mui-grid-padding;
  }

  .update__date {
    margin-bottom: 10px;
  }

  .update__content {
    display: inline-block;
    width: 100%;
    word-break: break-word;
  }

  .update__content img {
    max-width: 100%;
  }
}

.update--small {
  margin: $mui-grid-padding/4 0;
}

.publish-form {
  form {
    margin: 0;
  }
}

@media (max-width: 767px) {
  .update {
    .update__action-btn {
      .mui-dropdown__menu {
        right: 0;
        left: unset;
        border-radius: 16px 0 16px 16px;
      }
    }
  }
}

@media (min-width: 768px) {
  .pinned {
    top: 110px;
    margin-bottom: -10px;
  }
  .update {
    padding: $mui-grid-padding-double $mui-grid-padding;
    margin-bottom: $mui-grid-padding;
    border-radius: 16px;
    border: solid 1px rgba(121, 129, 139, 0.16);
    background-color: $mui-bg-color-accent;
    .update__heading {
      float: left;
    }
    .update__action-btn {
      position: static;
    }
  }
  .update--small {
    padding: $mui-grid-padding/2 $mui-grid-padding;
    border: none;
    border-radius: 4px;
    margin: $mui-grid-padding/2 0;
  }
}

.update--unread {
  background: transparentize($mui-accent-color, 0.8);
}
