// ============================================================================
// Grid
// ============================================================================

$mui-grid-padding: 16px !default;
$mui-grid-padding-double: 32px !default;
$mui-bg-color-primary: #ffffff;
$mui-bg-color-accent: #f9fafc;
