// ============================================================================
// Baseframe variables
// ============================================================================

$mui-grid-padding: 16px !default;
$mui-grid-padding-double: 32px !default;
$mui-bg-color-primary: #ffffff;
$mui-bg-color-accent: #f9fafc;
$mui-bg-color-primary-dark: #eff2f6;
$mui-primary-color: #0f73ed !default;
$mui-accent-color: #f06a5e !default;
$mui-accent-color-lighter: #f2deda !default;
$mui-neutral-color: #656565 !default;
$mui-text-dark: #1f2d3d !default;
$mui-text-accent: #c0ccda !default;
$mui-text-light: #4d5763 !default;
$mui-text-accent-lighter: #1b3a44 !default;
$mui-success-color: #53b783;
