.video {
  .video__thumbnail {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 3px;

    .video__thumbnail__img {
      display: block;
    }

    .video__thumbnail__icon {
      position: absolute;
      top: 50%;
      left: 50%;
      color: #fff;
      transform: translate(-50%, -50%);
    }
  }
  .video__txt {
    margin-bottom: 3px;
  }
}
