<a class="card card--upcoming clickable-card" href="{{ project.url_for() }}" aria-label="{{ project.title }}" data-cy-title="{{ project.title }}" data-action="View {{ project.title }}(upcoming)">
  <div class="card__image-wrapper">
    {% if project.bg_image.url %}
      <img class="card__image js-lazyload-img" data-src="{{ project.bg_image }}" alt="{{ project.title }}"/>
      <noscript>
        <img class="card__image" src="{{ project.bg_image }}" alt="{{ project.title }}"/>
      </noscript>
    {% else %}
      <img class="card__image" src="{{ url_for('static', filename='img/card-background.png') }}" alt="{{ project.title }}"/>
      <p class="card__image__tagline mui--text-body2">{{ project.title }}</p>
    {% endif %}
  </div>
  <div class="card__body">
    <h3 class="card__body__subtitle mui--text-subhead mui--text-bold">{{ project.title }}</h3>
    <p class="mui--text-caption mui--text-light js-truncate" data-truncate-lines="2">{{ project.tagline }}</p>
    <hr class="separator">
    {% if project.cfp_end_at_localized %}<p class="mui--text-caption zero-bottom-margin secondary-color-txt"><em>{% trans date=project.cfp_end_at_localized|datetime(format='dd MMM, YYYY, hh:mm a') %}Submission closes on {{ date }}{% endtrans %}</em></p>{% endif %}
  </div>
</a>
