<a class="card card--upcoming clickable-card" href="{{ project.url_for() }}" aria-label="{{ project.title }}" data-cy-title="{{ project.title }}" data-action="View {{ project.title }}(upcoming)">
  <div class="card__image-wrapper">
    {% if project.bg_image.url %}
      <img class="card__image js-lazyload-img" data-src="{{ project.bg_image }}" alt="{{ project.title }}"/>
      <noscript>
        <img class="card__image" src="{{ project.bg_image }}" alt="{{ project.title }}"/>
      </noscript>
    {% else %}
      <img class="card__image" src="{{ url_for('static', filename='img/card-background.png') }}" alt="{{ project.title }}"/>
      <p class="card__image__tagline mui--text-body2">{{ project.title }}</p>
    {% endif %}
  </div>
  <div class="card__body">
    {%- if not current_auth.is_anonymous and saveprojectform %}
      {% set save_form_id = "upcoming_" + project.uuid_b58 %}
      <div class="card__body__bookmark {% if not project.calendar_weeks_compact.weeks %} card__body__bookmark--pushup {% endif %}">{{ saveprojectform(project, project_save_form, save_form_id) }}</div>
    {% endif %}
    {% if project.calendar_weeks_compact.weeks and project.calendar_weeks_compact.weeks|length > 0 %}
      <div aria-label="{{ project.datelocation }}">
        {{ calendarwidget(project.calendar_weeks_compact) }}
      </div>
    {% endif %}
    <h3 class="card__body__title mui--text-subhead {% if not project.calendar_weeks_compact.weeks %} card__body__title--smaller {% endif %}"><span class="mui--text-bold">{{ project.title_inline }}</span> <span class="mui--text-light js-truncate" data-truncate-lines="2">{{ project.tagline }}</span></h3>
    <p class="card__body__location mui--text-light">{% if project.primary_venue %}{{ faicon(icon='map-marker-alt', icon_size='caption', baseline=false) }} {% if project.primary_venue.city %}{{ project.primary_venue.city }}{% else %}{{ project.primary_venue.title }}{% endif %}{% endif %}</p>
  </div>
</a>
