.chip {
  padding: 0 8px 2px;
  border-radius: 16px;
  display: inline-block;
  white-space: nowrap;
  background: transparentize($mui-primary-color, 0.9);
  border: 1px solid transparentize($mui-primary-color, 0.8);
  color: $mui-primary-color;
  line-height: 1;
}

.chip--bg-primary {
  background-color: $mui-bg-color-primary;
  color: $mui-text-dark;
}

.chip--bg-accent {
  background-color: $mui-bg-color-accent;
  color: $mui-text-dark;
}

.chip--bg-light {
  background-color: $mui-bg-color-dark;
  color: $mui-text-dark;
}

.chip--bg-dark {
  background-color: $mui-bg-color-dark;
  color: $mui-text-dark;
}

.chip--bg-danger {
  background-color: $mui-danger-color;
  color: mui-color('white');
}

.chip + .chip {
  margin-left: $mui-btn-spacing-horizontal;
}
