.header {
  background: #fff;
}

.header--fixed {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header__nav {
  display: -webkit-box;
  display: flex;
  min-height: 50px;
}

@media only screen and (max-device-width: 1200px) and (orientation: landscape) {
  .header__nav {
    min-height: 35px;
  }
}

.header__app-icon {
  color: inherit;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  margin-right: $mui-grid-padding;
  height: 24px;
}

.header__nav-list__item:last-child .header__app-icon {
  margin-right: 0;
}

.header__app-icon:hover {
  color: inherit;
  text-decoration: none;
}

.header__site-title {
  display: -webkit-box;
  display: flex;
  align-items: center;
  margin: 0;
  @extend .mui--text-headline;
  color: inherit;
  width: calc(70% - #{$mui-grid-padding});
  padding-left: $mui-grid-padding;
  color: $mui-text-light;
}

.header__site-title--smaller {
  width: calc(55% - #{$mui-grid-padding});
}

.header__site-title__item {
  margin: 0;
  @extend .mui--text-headline;
  color: inherit;
}

.header__site-title__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.header__right-nav {
  width: calc(30% - #{$mui-grid-padding});
  padding-right: $mui-grid-padding;
  display: -webkit-box;
  display: flex;
  justify-content: flex-end;
  color: $mui-text-light;
}

.header__right-nav--larger {
  width: calc(45% - #{$mui-grid-padding});
}

.header__site-title--sidenav {
  width: 100%;
  text-align: center;
  display: block;
  border-bottom: 1px solid $mui-divider-color;
  padding-left: 0;
}

@media (min-width: 1200px) {
  .header__site-title {
    padding-left: $mui-grid-padding;
  }
  .header__right-nav {
    padding-right: $mui-grid-padding;
  }
  .header__app-icon--menu {
    display: none;
  }
}

.header__dropdown-app-img {
  max-width: 50px;
  height: 30px;
}

.header__dropdown-app-title {
  @extend .mui--text-body2;
  color: $mui-text-light;
  margin: 0 0 8px;
}

.header__nav-list {
  width: 100%;
  display: -webkit-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  height: 100%;
  margin-bottom: 0;
  padding-left: 0;
}

.header__nav-list__item {
  @extend .mui--align-middle;
  color: $mui-text-light;
}

.header__button {
  margin-top: 0;
}

.header__nav-links {
  font-size: 14px;
  line-height: 1;
  color: $mui-neutral-color;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  cursor: pointer;

  .header__nav-links__icon {
    font-size: 20px;
  }

  .header__nav-links__text {
    display: block;
  }
}

.header__nav-links-active .header__nav-links__icon {
  color: $mui-primary-color;
}

@media only screen and (max-device-width: 1200px) and (orientation: landscape) {
  .header__nav-links {
    .header__nav-links__text {
      display: inline-block;
      margin-left: 8px;
    }
  }
}

@media (min-width: 1200px) {
  .header__nav-links {
    font-size: 16px;

    .header__nav-links__icon {
      font-size: 24px;
    }

    .header__nav-links__text {
      display: inline-block;
      margin-left: 8px;
    }
  }
}

.header__nav-links:hover {
  text-decoration: none;
}

.header__side-nav-list {
  padding: 8px;
  list-style: none;
  text-align: center;

  .header__side-nav-list__item {
    @extend .mui--text-body2;
    @extend .mui--align-middle;
    padding: 16px 0;
  }

  .header__side-nav-list__item__icon {
    @extend .mui--text-title;
    @extend .mui--align-middle;
  }
}

.content-wrapper {
  position: relative;
  z-index: 1;
  padding-top: 52px;
}

.sidebar {
  position: fixed;
  z-index: 999999999;
  background-color: $mui-bg-color-primary;
  height: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.4s cubic-bezier(0.4, 0, 0, 1);
  -webkit-transform: translate(-160px, 0);
  transform: translate(-160px, 0);
  width: 160px;
}

@media (min-width: 1200px) {
  .sidebar {
    padding-top: 60px;
    z-index: 999;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: none;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .header__site-title--sidenav {
    display: none;
  }
}

.sidebar.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.mui-dropdown__menu {
  border-radius: 0 16px 16px 16px;
  padding: 0;
  overflow: hidden;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
  > li > a {
    padding: $mui-grid-padding/2 $mui-grid-padding;

    // hover & focus state
    &:hover,
    &:focus {
      text-decoration: none;
      color: $mui-dropdown-link-font-color-hover;
      background-color: $mui-bg-color-accent;
    }
  }
}

.mui-dropdown__menu--right {
  border-radius: 16px 0 16px 16px;
}
