.modal {
  display: none;
}

.jquery-modal.blocker.current {
  z-index: 1001;
  padding: 0;
  .modal {
    display: inline-block;
    overflow: hidden;
    padding: $mui-grid-padding;
    @extend .mui--z1;
    border-radius: 8px;

    //Use fa5 icon for close
    a.close-modal {
      display: none;
    }

    .modal__close {
      position: absolute;
      top: $mui-grid-padding;
      right: $mui-grid-padding;
      display: block;
      line-height: 1;
    }
    .modal__header {
      @extend .mui--text-title;
      line-height: 1;
    }
    .modal__body__btn {
      margin-top: $mui-grid-padding;
    }
  }
  .modal--form {
    width: 100%;
    border-radius: 0;
    overflow: auto;
    min-height: 100%;
  }
  .modal--fullscreen {
    width: 100%;
    height: 100%;
    padding: 0;
    border-radius: 0;
  }
}

@media (min-width: 768px) {
  .jquery-modal.blocker.current {
    padding: $mui-grid-padding;

    .modal {
      max-width: 500px;
      width: 90%;
      padding: $mui-grid-padding;
      min-height: auto;
      border-radius: 8px;
    }
    .modal--fullscreen {
      max-width: 90%;
      padding: $mui-grid-padding;
      height: auto;
    }
  }
}

.jquery-modal.blocker.current .modal.markdown-modal {
  max-width: calc(100% - 32px);
  overflow: auto !important;
}
