$mui-form-group-margin-bottom: $mui-grid-padding/2;
$mui-input-height: 32px !default;
$mui-input-border-color: $mui-text-accent !default;
$mui-input-border-color-focus: $mui-text-hyperlink !default;
$mui-input-bg-color: transparent !default;
$mui-input-font-color: $mui-text-dark;
$mui-cursor-disabled: not-allowed;
$mui-input-bg-color-disabled: transparent;
$mui-text-dark-hint: rgba(#000, 0.38);
$mui-text-dark-secondary: rgba(#000, 0.54);
