@import '../base/variable';
@import '../base/formvariable';
@import '../mui/mixins/forms';
@import '../mui/colors_custom';

.mui--z1 {
  box-shadow: 0 1px 3px rgba(mui-color('grey'), 0.12),
    0 1px 2px rgba(mui-color('grey'), 0.24);
}
