.collapsible__header {
  margin: 10px 0;
  width: 100%;
  background: $mui-bg-color-primary-dark;
  padding: $mui-grid-padding;
  cursor: pointer;
}

.collapsible__header--smaller {
  width: calc(100% - 37px);
  padding: 10px;
  margin: 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.collapsible__header--inner {
  padding: $mui-grid-padding/2;
  background: $mui-bg-color-accent;
}

.collapsible__header__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.collapsible__dropdown {
  margin: 0;
  margin-right: 1px;
  padding: 10px;
  background: $mui-bg-color-primary-dark;
  max-height: 44px;
}

.collapsible__body {
  display: none;
  clear: both;
}

html.touch .collapsible__icon--disable {
  display: none;
}

html.touch .collapsible__body--disable {
  display: block;
}
