.ui-draggable-box {
  padding: 16px;
  border-radius: 3px;
  border: 1px solid $mui-text-accent;
  background: $mui-bg-color-primary;
  cursor: move;
  position: relative;
  margin: 10px $mui-grid-padding;

  .drag-icon {
    position: absolute;
    right: 5px;
    top: 5px;
  }
}

.ui-draggable-box--header {
  padding: 0;
  margin: 10px 0;
}

.ui-draggable-box--header .collapsible__header {
  margin: 0;
}

.ui-draggable-box label {
  cursor: pointer;
}

.ui-draggable-box:hover {
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19);
}

.ui-box-placeholder {
  margin: 10px $mui-grid-padding;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid $mui-text-accent;
  background: $mui-bg-color-primary;
  height: 55px;
}

.ui-box-placeholder--bigger {
  @extend .ui-box-placeholder;
  margin: 10px 0;
  height: 80px;
}

.seq-input {
  position: absolute;
  width: 20px;
  border: 0;
  top: 5px;
  left: 5px;
  font-size: 14px;
  line-height: 1;
  color: $mui-text-dark;
  background: transparent;
  z-index: 2;
}

.seq-input:focus,
.seq-input:active {
  outline: none;
}

.ui-draggable-box .sp-replacer {
  margin-top: 5px;
  margin-left: 5px;
}

.drag-box {
  margin: $mui-grid-padding 0;
  padding: $mui-grid-padding;

  .drag-box__header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  .drag-box__body {
    padding-bottom: $mui-grid-padding/2;
    .drag-box__body__options {
      margin-right: $mui-grid-padding/4;
    }
  }

  .drag-box__action {
    display: flex;
    float: right;
    .drag-box__action-btn {
      padding-right: $mui-grid-padding/4;
    }
  }
}

.drag-box:hover {
  cursor: auto;
}

.drag-box--no-border {
  border: none;
  border-radius: 0;
}

.drag-handle {
  cursor: move;
}
