// ============================================================================
// LISTS
// ============================================================================

.mui-list--aligned {
  padding-left: $mui-grid-padding;
}

// ============================================================================
// DISPLAY
// ============================================================================

.mui--d-block {
  display: block;
}
.mui--d-inlineblock {
  display: inline-block;
}
.mui--d-inline {
  display: inline;
}

// ============================================================================
// BACKGROUND COLORS
// ============================================================================

.mui--bg-primary {
  background-color: $mui-bg-color-primary;
}
.mui--bg-primary-dark {
  background-color: $mui-bg-color-dark;
}
.mui--bg-accent {
  background-color: $mui-bg-color-accent;
}


// ============================================================================
// Text transform
// ============================================================================

.mui--text-uppercase {
  text-transform: uppercase;
}

.mui--text-capitalize {
  text-transform: capitalize;
}

// ============================================================================
// Text decoration
// ============================================================================

.mui--text-underline {
  text-decoration: underline;
}

// ============================================================================
// Font weight
// ============================================================================

.mui--text-bold {
  font-weight: 600;
}

// ============================================================================
// Button
// ============================================================================

.mui-btn.mui-btn--nostyle {
  padding: 0;
  border: 0;
  margin: 0;
  cursor: pointer;
  background: none;
  box-shadow: none;
  height: auto;
  border: none;
  line-height: 1;
  font-weight: normal;
}

.mui-btn.mui-btn--nostyle:hover,
.mui-btn.mui-btn--nostyle:active,
.mui-btn.mui-btn--nostyle:focus .mui-btn.mui-btn--nostyle:active:hover {
  padding: 0;
  border: 0;
  cursor: pointer;
  background: none;
  box-shadow: none;
}

.mui-btn--nostyle + .mui-btn--nostyle {
  margin-left: 8px;
}

.btn-group .mui-btn {
  margin-right: 5px;
}

.btn-group .mui-btn + .mui-btn {
  margin-left: 0;
}

.mui-btn--nomargin {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.mui-btn--nopadding {
  padding-left: 0;
  padding-right: 0;
}

.mui-btn--nopadding:hover {
  background: transparent !important;
}

.mui-btn:disabled,
.mui-btn.mui--is-disabled {
  background-color: $mui-disabled-bg-color;
  color: $mui-disabled-color;
  pointer-events: unset;
  opacity: 1;
}

.mui-btn.mui--is-disabled:hover,
.mui-btn.mui--is-disabled:active,
.mui-btn.mui--is-disabled:focus .mui-btn.mui--is-disabled:active:hover {
  box-shadow: none;
  background-color: $mui-disabled-bg-color;
  color: $mui-disabled-color;
}

.mui-btn.mui--d-block {
  width: 100%;
}
