html,
body {
  height: 100%;
}

[class*='grid__col-'] {
  padding-top: 0;
  padding-bottom: 0;
}

body {
  font-size: $mui-base-font-size;
  line-height: $mui-base-line-height-px;
}

@media (min-width: 1200px) {
  body {
    font-size: $mui-base-font-size-desktop;
    line-height: $mui-base-line-height-px-desktop;
  }
}
s h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: $mui-grid-padding/2;
  margin-bottom: 14px;
}

@media (min-width: 1200px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 16px;
  }
}

// paragraphs
p {
  margin: 0 0 14px;
}

@media (min-width: 1200px) {
  p {
    margin-bottom: 16px;
  }
}

// lists
ul,
ol {
  margin-top: 0;
  margin-bottom: 14px;
  padding-left: 20px;
}

ol {
  padding-left: 25px;
}

@media (min-width: 1200px) {
  ul,
  ol {
    margin-bottom: 16px;
  }
}

ul > ul,
ul > ol,
ol > ol,
ol > ul {
  margin-bottom: 0;
}

// Abbreviations
abbr[title] {
  cursor: help;
  position: relative;
  text-decoration: underline dotted;
  -webkit-text-decoration: underline;
  -webkit-text-decoration-style: dotted;
  border-bottom: none;
}

@media (hover: none) {
  abbr[title]:hover::after,
  abbr[title]:focus::after {
    content: attr(title);
    position: absolute;
    left: 0;
    bottom: -30px;
    background-color: $mui-bg-color-dark;
    color: $mui-text-dark;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19);
    font-size: 14px;
    padding: 4px;
    z-index: 10000;
    min-width: 100px;
  }
  abbr[title].tooltip-right:hover::after,
  abbr[title].tooltip-right:focus::after {
    left: auto;
    right: 0;
  }
}

code,
kbd,
samp {
  font-size: $mui-base-font-size;
  line-height: $mui-base-line-height-px;
}

@media (min-width: 1200px) {
  code,
  kbd,
  samp {
    font-size: $mui-base-font-size-desktop;
    line-height: $mui-base-line-height-px-desktop;
  }
}

.mui-container {
  padding: 0;
}

@media (min-width: $mui-screen-sm-min) and (max-width: $mui-screen-md-min - 1) {
  .mui-container {
    max-width: 100%;
  }
}

.mui-divider {
  width: 100%;
}

.main-content {
  position: relative;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .main-content--with-sidebar {
    margin-left: 160px;
    padding-left: $mui-grid-padding;
    padding-right: $mui-grid-padding;
  }
}

.table-wrapper {
  overflow-x: auto;
}

.img-responsive {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: $mui-overlay-bg-color;
  z-index: 2;
}

.map {
  position: relative;
  .map__marker {
    margin-top: $mui-form-group-margin-bottom/2;
    width: 100%;
    height: 40em;
  }
  .map__clear {
    position: absolute;
    top: 22px;
    right: 0;
    z-index: 2;
    background: #fff;
  }
}

/* Cookies */
.cookies-required-alert,
.no-cookies .cookies-required {
  display: none;
}

.cookies-required,
.no-cookies .cookies-required-alert {
  display: block;
}

.no-cookies .cookies-required-alert {
  margin-top: $mui-grid-padding;
}

.js .jshidden,
.js .no-js-only {
  display: none;
  visibility: hidden;
}

.no-js .no-jshidden,
.no-js .js-only {
  display: none;
  visibility: hidden;
}

.userlogin .no-userlogin-only {
  display: none;
  visibility: hidden;
}

.no-userlogin .userlogin-only {
  display: none;
  visibility: hidden;
}

.loading {
  background: url('data:image/svg+xml;utf8,<svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%25" height="100%25" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve"><path opacity="0.5" fill="%23000" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z"><animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.6s" repeatCount="indefinite"/></path></svg>')
    center no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}

.mui-btn--accent,
.mui-btn--accent:hover,
.mui-btn--accent:active,
.mui-btn--accent:focus {
  background: $mui-bg-color-primary;
  color: $mui-primary-color;
  border: 1px solid $mui-primary-color;
  box-shadow: none;
}

.mui-btn--accent.mui-btn--flat {
  border: none !important;
}

blockquote {
  border-left: 3px solid $mui-text-accent;
  margin: 0;
  padding: 0 0 0 $mui-grid-padding/2;
}

.language-placeholder {
  display: none;
}

.footnote-ref {
  @extend .mui--text-caption;
  color: $mui-text-light;
}

.footnote {
  @extend .mui--text-body2;
  p,
  span,
  li {
    @extend .mui--text-body2;
  }
  hr {
    width: 25%;
    margin-left: 0;
  }
  ul {
    padding-left: $mui-grid-padding;
  }
  ol {
    list-style: none;
    counter-reset: item;
    padding-left: $mui-grid-padding;
    li {
      counter-increment: item;
    }
    li:before {
      content: counter(item);
      @extend .mui--text-caption;
      position: absolute;
      margin-left: -12px;
      margin-top: -1px;
    }
    li:nth-child(n + 10):before {
      margin-left: -17px;
    }
  }
}

.markdown {
  overflow-wrap: break-word;
  overflow: auto;

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 700;
  }

  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a {
    color: inherit;
  }

  ul,
  ol {
    padding-left: 30px;
  }

  img {
    max-width: 100%;
    display: block;
    cursor: zoom-in;
  }

  table {
    border-collapse: separate;
    width: 100%;
    border-spacing: 0;
    margin: 0 0 14px;
    cursor: zoom-in;
    background: inherit;

    th,
    td {
      padding: 3px 6px;
      color: $mui-text-dark;
      border-right: 1px solid $mui-bg-color-dark;
    }

    th:first-child {
      border-left: 1px solid transparentize($mui-primary-color, 0.9);
    }

    td:first-child {
      border-left: 1px solid $mui-bg-color-dark;
    }

    th {
      font-weight: bold;
      background-color: transparentize($mui-primary-color, 0.8);
      border-color: transparentize($mui-primary-color, 0.9);
      border-top: 1px solid transparentize($mui-primary-color, 0.9);
    }

    th:first-child {
      border-radius: 8px 0 0 0;
    }

    th:last-child {
      border-radius: 0 8px 0 0;
    }

    tr:last-child {
      td {
        border-bottom: 1px solid $mui-bg-color-dark;
      }
      td:first-child {
        border-radius: 0 0 0 8px;
      }
      td:last-child {
        border-radius: 0 0 8px 0;
      }
    }

    tr:nth-child(even) {
      background-color: $mui-bg-color-accent;
    }
  }
}

@media (min-width: 1200px) {
  .markdown {
    table {
      margin-bottom: 16px;
    }
  }
}

.markdown-modal.markdown {
  table {
    width: max-content;
    margin: 0;
    cursor: default;
    min-width: 100%;
    padding-right: 16px;
  }
}

.zero-bottom-margin {
  margin-bottom: 0 !important;
}

.zero-top-margin {
  margin-top: 0 !important;
}

.margin-bottom {
  margin-bottom: $mui-grid-padding/2;
}

.margin-top {
  margin-top: $mui-grid-padding/2;
}

.margin-right {
  margin-right: $mui-grid-padding/2;
}

.margin-left {
  margin-left: $mui-grid-padding/2;
}

.margin-auto {
  margin: auto;
}

.zero-padding {
  padding: 0 !important;
}

.mui-btn--nomargin {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.left-padding {
  padding-left: $mui-grid-padding;
}

.right-padding {
  padding-right: $mui-grid-padding;
}

.top-padding {
  padding-top: $mui-grid-padding !important;
}

.bottom-padding {
  padding-bottom: $mui-grid-padding !important;
}

.grid-no-left-padding {
  margin-left: -$mui-grid-padding;
}

.grid-no-right-padding {
  margin-right: -$mui-grid-padding;
}

.separator {
  margin: $mui-grid-padding 0;
}

.flex-wrapper {
  display: flex;
}

.flex-wrapper--baseline {
  align-items: baseline;
}

.flex-wrapper--center {
  align-items: center;
}

.flex-wrapper--space-between {
  justify-content: space-between;
}

.flex-wrapper--justify-center {
  justify-content: center;
}

.flex-wrapper--wrap {
  flex-wrap: wrap;
}

.flex-item-noshrink {
  flex-shrink: 0;
}

.material-icons {
  display: none;
}

.primary-color-txt {
  color: $mui-primary-color;
}

.secondary-color-txt {
  color: $mui-accent-color;
}

.list-item-rgborder li {
  border-right: 1px solid $mui-divider-color;
  border-radius: 0;
  padding-right: 10px;
  line-height: 1;
}

.list-item-rgborder li:last-child,
.list-item-rgborder li.no-border {
  border-right: none;
  padding-right: 5px;
}

.list-item-rgborder .icon-middle {
  position: relative;
  top: 7px;
}

.mui-divider--custom {
  margin: 5px 0 20px;
}

.btn-group .mui-btn {
  margin-right: 5px;
}

.btn-group .mui-btn + .mui-btn {
  margin-left: 0;
}

.content-head--top-padding {
  padding-top: $mui-grid-padding;
  padding-bottom: $mui-grid-padding;
  border-bottom: 1px solid rgba(132, 146, 166, 0.3);
  margin-bottom: $mui-grid-padding/2;
}

.page-content--mob-nav {
  padding-top: 53px;
}

@media (min-width: 768px) {
  .page-content {
    padding-top: 16px;
  }
}

.nounderline {
  text-decoration: none !important;
}

.select2-inline {
  display: inline-block;
  margin-right: 5px;
}

.spinner {
  position: relative;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.mui-list--border li {
  border-bottom: 1px solid $mui-divider-color;
  padding: 5px;
}

.mui-list--border li:last-child {
  border-bottom: none;
}

.mui-list--border--padding li {
  padding: $mui-grid-padding/2 $mui-grid-padding;
}

@media screen and (max-width: 1024px) {
  .fb_iframe_widget {
    overflow-y: scroll;
    width: 100%;
    display: inline-block !important;
  }
}

.btn-wrapper {
  margin-bottom: 10px;
}

.full-width-btn {
  width: 100%;
  margin: 0;
}

.past-events-table {
  border-collapse: collapse;

  > thead > tr > th {
    padding: $mui-grid-padding;
  }
}

.count-chip {
  color: $mui-accent-color;
  position: relative;
  top: -12px;
  font-size: 12px;
}

.user {
  .user__box {
    padding: 8px 0;
    position: relative;
    word-break: break-word;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .user__box__wrapper {
      height: 40px;
    }

    a {
      line-height: 1;
    }

    .user__box__gravatar {
      width: 40px;
      height: 40px;
      display: inline-block;
      margin-right: 8px;
      border-radius: 50%;
      font-size: 16px;
      object-fit: cover;
    }
    .user__box__gravatar--initials {
      min-width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $mui-primary-color;
      color: $mui-text-white;
      text-transform: uppercase;
    }
    .user__box__header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 40px;
    }
    .user__box__fullname {
      margin: 0;
    }
    .user__box__userid {
      margin: 0 0 5px;
    }
  }
  .user__box--topalign {
    align-items: start;
  }
}
.user--standalone {
  .user__box {
    padding: 0;
    .user__box__gravatar {
      position: static;
    }
  }
}

.user--smaller {
  .user__box {
    .user__box__gravatar {
      width: 24px;
      height: 24px;
      font-size: 12px;
    }
    .user__box__gravatar--initials {
      min-width: 24px;
    }
    .user__box__header {
      min-height: 24px;
    }
  }
}

.user--medium {
  .user__box {
    .user__box__gravatar {
      width: 64px;
      height: 64px;
      font-size: 24px;
    }
    .user__box__gravatar--initials {
      min-width: 64px;
    }
    .user__box__header {
      min-height: 64px;
    }
  }
}

.user--bigger {
  .user__box {
    padding: 8px 0;
    margin-bottom: 16px;
    height: 100px;

    .user__box__wrapper {
      height: 80px;
    }

    .user__box__gravatar {
      width: 80px;
      height: 80px;
      font-size: 32px;
    }
  }
}

.user:nth-child(even) {
  .user__box__gravatar--initials {
    background: $mui-primary-color;
  }
}

.user:nth-child(odd) {
  .user__box__gravatar--initials {
    background: $mui-accent-color;
  }
}

.user:nth-child(4n) {
  .user__box__gravatar--initials {
    background: $mui-accent-color-lighter;
    color: $mui-text-dark;
  }
}

.profile-avatar {
  position: relative;
  width: 24px;
  height: 24px;
  background: $mui-bg-color-accent;
  border-radius: 50%;
  border: 1px solid $mui-bg-color-primary-dark;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  svg {
    width: 18px;
    height: 18px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.profile-avatar-title {
  margin-bottom: 0;
}

.profile-avatar + .profile-avatar {
  margin-left: -20px;
}

.profile-avatar--bigger {
  width: 40px;
  height: 40px;
}

.profile-avatar--rectangle {
  border-radius: 4px;
}

.profile-avatar--new {
  background: $mui-primary-color;
  color: $mui-text-white;
}

.read-more,
.link {
  cursor: pointer;
}

.animate-btn {
  display: none;
  line-height: 1;
  font-size: inherit;
  text-transform: inherit;

  .bookmarked {
    fill: $mui-accent-color;
  }
}

.animate-btn--show {
  display: inline-block;
}

.animate-btn--animate {
  -webkit-animation-name: heartBeat;
  animation-name: heartBeat;
  -webkit-animation-duration: 1.3s;
  animation-duration: 1.3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  14% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  28% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  42% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  14% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  28% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  42% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.no-js {
  .js-lazyload-img,
  .js-hg-banner,
  .js-account-dropdown {
    display: none;
  }
}

//Progree bar
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  i-moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: $mui-primary-color;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 4px;
}

.pace-hide {
  display: none !important;
}

.icon-img {
  height: 18px;
  margin-right: 16px;
  vertical-align: text-top;
}

.icon-img--smaller,
.fa-icon--right-margin {
  margin-right: 8px;
}

.fa-icon--left-margin {
  margin-left: 8px;
}

.fa5-icon.mui--align-middle {
  position: relative;
  top: -1px;
}

.item {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 50px);
  .subitem {
    display: block;
  }
}

@media (min-width: 1200px) {
  .item {
    .subitem {
      margin-left: 8px;
      display: inline-block;
    }
  }
}

.mui-btn--raised.icon-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  vertical-align: middle;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $mui-bg-color-accent;
  .fa5-icon {
    width: 16px;
    height: 16px;
  }
}

.interpunct {
  padding: 0 8px;
}

.bullet-separated-list {
  list-style: none;
  padding: 0;
  li {
    padding: 0;
    border: none;
  }
}

.bullet-separated-list--flex {
  padding-left: 0;
  display: flex;
  list-style: inside;
  margin: 0;
  li {
    padding: 0 3px;
    span.bullet-separated-list__span {
      position: relative;
      left: -7px;
    }
  }
  li:first-child {
    list-style-type: none;
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  .bullet-separated-list {
    padding-left: 0;
    display: flex;
    list-style: inside;
    li {
      padding: 0 8px;
    }
    li:first-child {
      list-style-type: none;
      padding-left: 0;
    }
  }
}

// To hide vue template before Vue app is mounted
[v-cloak] {
  display: none;
}

.circle-icon {
  display: inline-flex;
  background: #f9f9f9;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.link-icon {
  font-size: 12px;
  font-weight: normal;
  padding: 0 $mui-grid-padding/2 $mui-grid-padding/2;
  line-height: 1;
  text-transform: capitalize;
  text-decoration: none !important;
  .fa5-icon {
    width: 12px;
    height: 12px;
    margin-right: 4px;
  }
}

@media (min-width: 768px) {
  .link-icon {
    font-size: 14px;
    .fa5-icon {
      width: 14px;
      height: 14px;
      margin-right: 8px;
    }
  }
}

.mui-dropdown__menu {
  margin-top: 8px;
}

.mui-dropdown__menu--hg-link {
  max-width: 125px;
  min-width: 125px;
  z-index: 1003;
  overflow: hidden;
  > li > a {
    color: $mui-text-light;
  }
  .js-copy-url {
    padding-left: 90px;
  }
}

.mui-dropdown__menu--small {
  min-width: auto;
}

.emoticon {
  height: 300px;
}

@media (min-width: 768px) {
  .emoticon {
    height: 400px;
  }
}

.page-card {
  padding: 0;
  margin: $mui-grid-padding 0 0;
  margin-right: -$mui-grid-padding;
  margin-left: -$mui-grid-padding;
  position: relative;
  background: $mui-bg-color-primary;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19);
  .page-card__card {
    margin-bottom: 0;
    box-shadow: none;
    border: 0;
    border-bottom: 1px solid $mui-divider-color;
    border-radius: 0;
    background: $mui-bg-color-primary;
    padding: 0;
    cursor: auto;
  }
  li:last-child .page-card__card {
    border-bottom: none;
  }
  .alert {
    border: none;
  }
}

.page-card--nomargin {
  margin-top: 0;
}

.page-card--nooverflow {
  overflow: hidden;
}

@media (min-width: 768px) {
  .page-card {
    margin: 0 0 $mui-grid-padding;
    border-radius: 16px;
  }
}

.dropdown-menu {
  z-index: 4;
  min-width: 270px;
  > li > a,
  > li > div {
    padding: $mui-grid-padding;
  }
  hr {
    margin: 0;
  }
  .dropdown-menu__form {
    max-width: calc(100% - 25px);
    .dropdown-menu__form__label {
      max-width: calc(100% - 40px);
      .dropdown-menu__form__label__helptxt {
        white-space: break-spaces;
      }
    }
    .switch-label {
      padding-top: 10px;
    }
  }
}

.text-expand {
  cursor: pointer;
}
