@import 'table';
@import 'node_modules/prismjs/themes/prism';
@import 'node_modules/prismjs/plugins/match-braces/prism-match-braces';

.markdown {
  overflow-wrap: break-word;
  overflow: auto;
  margin: 0 -$mui-grid-padding;
  padding: 0 $mui-grid-padding;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    a {
      color: $mui-text-dark;
      display: none;
    }
    &:hover a {
      display: inline;
    }
    @media (any-pointer: coarse) {
      a {
        display: inline;
        color: $mui-text-accent;
      }
    }
  }

  img {
    max-width: 100%;
    display: block;
    cursor: zoom-in;
  }

  table {
    cursor: zoom-in;
    @extend .table;
  }
}

@media (min-width: 1200px) {
  .markdown {
    table {
      margin-bottom: 16px;
    }
  }
}

.markdown-modal.markdown {
  table {
    margin: 0;
    cursor: default;
    min-width: 100%;
    padding-right: 16px;
  }
}

.md-embed {
  position: relative;
  margin: 0 0 14px;
  .embed-content {
    display: none;
  }
  .embed-loading {
    padding: 5px 2.5%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
  }
  .embed-container {
    display: none;
    canvas,
    svg {
      width: 100% !important;
      max-width: 100% !important;
      background-color: transparent !important;
    }
  }
  &.activating {
    .embed-container {
      visibility: hidden;
      display: block;
    }
  }
  &.activated {
    .embed-loading {
      display: none;
    }
    .embed-container {
      visibility: visible;
      display: block;
    }
  }
  &.md-embed-markmap {
    margin-bottom: 0px;
    .embed-container {
      width: 100%;
      aspect-ratio: 4 / 3;
      svg {
        height: 100%;
      }
    }
  }
  &.md-embed-vega-lite {
    z-index: 2;
    .vega-embed {
      padding: 2.5%;
      display: block !important;
      svg.marks {
        height: auto;
        overflow: visible;
      }
      summary {
        top: 2px;
        right: 15px;
      }
      .vega-actions {
        right: 6px;
        top: 37px;
      }
      &.has-actions {
        padding-top: 40px;
      }
    }
  }
  &.md-embed-mermaid {
    text-align: left;
    &.activated {
      text-align: center;
    }
  }
  &.md-embed-vega-lite.vega-embed,
  &.md-embed-mermaid {
    padding: 2.5%;
  }
}

@media (min-width: 1200px) {
  .md-embed {
    margin-bottom: 16px;
  }
}

.footnote-ref {
  @extend .mui--text-caption;
  color: $mui-text-light;
}

.footnote {
  @extend .mui--text-body2;
  p,
  span,
  li {
    @extend .mui--text-body2;
  }
  hr {
    width: 25%;
    margin-left: 0;
  }
  ul {
    padding-left: $mui-grid-padding;
  }
  ol {
    list-style: none;
    counter-reset: item;
    padding-left: $mui-grid-padding;
    li {
      counter-increment: item;
    }
    li:before {
      content: counter(item);
      @extend .mui--text-caption;
      position: absolute;
      margin-left: -12px;
      margin-top: -1px;
    }
    li:nth-child(n + 10):before {
      margin-left: -17px;
    }
  }
}

:not(pre) > code,
pre {
  background: unset !important;
  margin-top: 0px !important;
  padding: 0 !important;
  margin-bottom: 14px !important;
}

.code-toolbar {
  position: relative;
  .toolbar {
    position: absolute;
    top: 0 !important;
    right: 0 !important;
    z-index: 2 !important;
    display: none;
    .toolbar-item {
      margin: 0 0.2em 0 0;
      a,
      button {
        cursor: pointer;
        &.copy-to-clipboard-button span:first-child::before {
          content: '\274F  ';
          font-size: 120%;
        }
      }
    }
  }
  &:hover .toolbar {
    display: block;
  }
}
