.mui-dropdown__menu {
  border-radius: 0 16px 16px 16px;
  padding: 0;
  overflow: hidden;
  box-shadow:
    0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 2px rgba(0, 0, 0, 0.2);
  > li > a {
    padding: $mui-grid-padding * 0.5 $mui-grid-padding;

    // hover & focus state
    &:hover,
    &:focus {
      text-decoration: none;
      color: $mui-dropdown-link-font-color-hover;
      background-color: $mui-bg-color-accent;
    }
  }
}

.mui-dropdown__menu--right {
  border-radius: 16px 0 16px 16px;
}

.mui-dropdown__menu {
  margin-top: 8px;
}

.mui-dropdown__menu--hg-link {
  max-width: 125px;
  min-width: 125px;
  z-index: 1003;
  overflow: hidden;
  > li > a {
    color: $mui-text-light;
  }
  .js-copy-url {
    padding-left: 90px;
  }
}

.mui-dropdown__menu--small {
  min-width: auto;
}

.dropdown-menu {
  z-index: 4;
  min-width: 270px;
  > li > a,
  > li > div {
    padding: $mui-grid-padding;
  }
  hr {
    margin: 0;
  }
  .dropdown-menu__form {
    max-width: calc(100% - 25px);
    .dropdown-menu__form__label {
      max-width: calc(100% - 40px);
      .dropdown-menu__form__label__helptxt {
        white-space: break-spaces;
      }
    }
    .switch-label {
      padding-top: 10px;
    }
  }
}
