.mobile-nav-wrapper {
  .mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $mui-bg-color-primary;
    z-index: 1000;

    .mobile-nav__icon {
      display: inline-block;
      padding: $mui-grid-padding $mui-grid-padding/2 $mui-grid-padding
        $mui-grid-padding;
      line-height: 1;
    }
    .mobile-nav__icon--right {
      padding-right: 16px;
    }
    .mobile-nav__headline {
      font-size: 18px;
      line-height: 1;
      position: relative;
      top: -2px;
    }
  }
}
