.sidebar {
  position: fixed;
  z-index: 999999999;
  background-color: $mui-bg-color-primary;
  height: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.4s cubic-bezier(0.4, 0, 0, 1);
  -webkit-transform: translate(-160px, 0);
  transform: translate(-160px, 0);
  width: 160px;
}

@media (min-width: 1200px) {
  .sidebar {
    padding-top: 60px;
    z-index: 999;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: none;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .header__site-title--sidenav {
    display: none;
  }
}

.sidebar.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
