.switch-input {
  display: none;
}
.switch-label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: left;
  padding: 16px 0 16px 32px;
}
.switch-label:before,
.switch-label:after {
  content: '';
  position: absolute;
  margin: 0;
  outline: 0;
  top: 50%;
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.switch-label:before {
  left: 1px;
  width: 34px;
  height: 14px;
  background-color: #9e9e9e;
  border-radius: 8px;
}
.switch-label:after {
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #fafafa;
  border-radius: 50%;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}
.switch-input:checked + .switch-label:before {
  background-color: transparentize($mui-primary-color, 0.4);
}
.switch-input:checked + .switch-label:after {
  background-color: $mui-primary-color;
  -ms-transform: translate(80%, -50%);
  -webkit-transform: translate(80%, -50%);
  transform: translate(80%, -50%);
}
.switch-label--disabled {
  opacity: 0.5;
  cursor: default;
}
