.table {
  border-collapse: separate;
  width: 100%;
  border-spacing: 0;
  margin: 0 0 14px;
  background: inherit;

  th,
  td {
    padding: 3px 6px;
    color: $mui-text-dark;
    border-right: 1px solid $mui-bg-color-dark;
  }

  th:first-child {
    border-left: 1px solid transparentize($mui-primary-color, 0.9);
  }

  td:first-child {
    border-left: 1px solid $mui-bg-color-dark;
  }

  th {
    font-weight: 700;
    background-color: transparentize($mui-primary-color, 0.8);
    border-color: transparentize($mui-primary-color, 0.9);
    border-top: 1px solid transparentize($mui-primary-color, 0.9);
  }

  th:first-child {
    border-radius: 8px 0 0 0;
  }

  th:last-child {
    border-radius: 0 8px 0 0;
  }

  tr:last-child {
    td {
      border-bottom: 1px solid $mui-bg-color-dark;
    }
    td:first-child {
      border-radius: 0 0 0 8px;
    }
    td:last-child {
      border-radius: 0 0 8px 0;
    }
  }

  tr:nth-child(even) {
    background-color: $mui-bg-color-accent;
  }
}

.table-wrapper {
  overflow-x: auto;
}
