.thumbnail {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 5px;
  border: 1px solid $mui-bg-color-dark;
  @extend .mui--z1;
  min-width: 150px;

  .thumbnail__play-icon {
    color: #fff;
    text-align: center;
    font-size: 32px;
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    z-index: 3;
  }
}

.control-icon {
  @extend .mui--z1;
  width: 34px;
  height: 34px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #eef;
  text-align: center;
  color: #333;
}

.control-icon:focus,
.control-icon:active {
  outline: none;
  text-decoration: none;
}
