// ============================================================================
// TYPOGRAPHY
// ============================================================================

.mui--text-display3 {
  font-weight: 400;
  font-size: 64px;
  line-height: 85px;
}

.mui--text-display2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
}

.mui--text-display1 {
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
}

.mui--text-headline,
h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
}

.mui--text-heading,
h2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
}

.mui--text-title,
h3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.mui--text-subhead,
h4 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

p.mui--text-body2 {
  margin-bottom: 16px;
}

.mui--text-body2,
h5 {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

p.mui--text-body2 {
  margin-bottom: 14px;
}

h6 {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.mui--text-caption {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.mui--text-menu,
.mui--text-button {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.mui--text-body1 {
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
}


// ============================================================================
// Font awesome 5
// ============================================================================

.fa5-icon {
  width: 14px;
  height: 14px;
  fill: currentColor;
}

.fa5--align-baseline {
  position: relative;
  top: 0.09em;
}

.fa5-icon--caption {
  width: 12px;
  height: 12px;
}

.fa5-icon--body {
  width: 14px;
  height: 14px;
}

.fa5-icon--subhead {
  width: 16px;
  height: 16px;
}

.fa5-icon--title {
  width: 18px;
  height: 18px;
}

.fa5-icon--heading {
  width: 20px;
  height: 20px;
}

.fa5-icon--headline {
  width: 24px;
  height: 24px;
}

.fa5-icon--display1 {
  width: 32px;
  height: 32px;
}
