// ============================================================================
// Baseframe variables
// ============================================================================

$mui-grid-padding: 16px !default;
$mui-grid-padding-double: 32px !default;
$mui-bg-color-primary: #ffffff;
$mui-bg-color-accent: #f9f9f9;
$mui-bg-color-primary-dark: #f1f1f1;
$mui-primary-color: #0f73ed !default;
$mui-primary-color-lighter: #e1eefd !default;
$mui-accent-color: #f06a5e !default;
$mui-accent-color-lighter: #f2deda !default;
$mui-neutral-color: #656565 !default;
$mui-success-color: #53b783 !default;
$mui-text-dark: #1f2d3d !default;
$mui-text-accent: #c0ccda !default;
$mui-text-light: #4d5763 !default;
$mui-text-accent-lighter: #1b3a44 !default;
$mui-text-white: #ffffff !default;
$mui-text-hyperlink: #0f73ed !default;
$mui-divider-color: rgba(132, 146, 166, 0.3) !default;
$mui-header-height: 52px;
$mui-avatar-color0: #ba64ce;
$mui-avatar-color1: #7d64f1;
$mui-avatar-color2: #4bd2cf;
$mui-avatar-color3: #ba8182;
$mui-avatar-color4: #baa382;
$mui-avatar-color5: #abd383;
$mui-disabled-bg-color: #d8d8d8 !default;
$mui-disabled-color: #8a8a8a !default;
$mui-label-font-color: rgba(0, 0, 0, 0.54);
$mui-label-font-size: 12px;
$mui-input-font-size: 16px;
$xFormLabelLineHeight: 15px;
