{%- extends "notifications/layout_email.html.jinja2" -%}
{%- from "notifications/macros_email.html.jinja2" import cta_button -%}
{%- block content -%}

    <tr align="center">
        <td class="text-content">
            {%- if view.notification.document_type == 'project' -%}
            <h3><a href="{{ view.document.url_for(_external=true, **view.tracking_tags()) }}">{{ view.document.joined_title }}</a></h3>
            {%- elif view.notification.document_type == 'proposal' -%}
            <h3><a href="{{ view.document.url_for(_external=true, **view.tracking_tags()) }}">{{ view.document.title }}</a></h3>
            {%- elif view.notification.document_type == 'comment' -%}
            <p>{% trans %}You wrote:{% endtrans %}</p>
            <blockquote type="cite">{{ view.document.message }}</blockquote>
            {%- endif %}

            <p>{{ view.activity_html() }}</p>

            <blockquote type="cite">{{ view.comment.message }}</blockquote>
        </td>
    </tr>
    <br/>

    {# Button : BEGIN #}
    {{ cta_button(view.comment.url_for(_external=true, **view.tracking_tags()), gettext("View comment") )}}
    {# Button : END #}

{%- endblock content -%}
