{%- extends "notifications/layout_email.html.jinja2" -%}
{%- from "notifications/macros_email.html.jinja2" import cta_button -%}
{%- block content -%}

    <tr align="center">
        <td class="text-content">
            <p class="body-content">{%- trans %}A comment has been reported as spam{% endtrans -%}</p>
        </td>
    </tr>
    <br>

    {# Button : BEGIN #}
    {{ cta_button(url_for('siteadmin_review_comment', report=view.report.uuid_b58), gettext("Review comment") )}}
    {# Button : END #}

{%- endblock content -%}
