<html>
  <head>
    {% block stylesheet -%}
      <style type="text/css">
        .btn, a.btn:link, a.btn:visited {
          background-color: #428bca;
          border-radius: 3px;
          border: 1px solid #357ebd;
          color: white;
          margin-bottom: 6px;
          padding: 6px 12px;
          text-decoration: none;
          white-space: nowrap;
        }
        .btn-bar {
          margin: 2em 0;
        }
        blockquote {
          margin-left: 0;
          padding-left: 1em;
          border-left: 3px solid #ccc;
        }
      </style>
    {%- endblock stylesheet %}
  </head>
  <body>
    {%- block jsonld %}{%- if jsonld %}
      <script type="application/ld+json">
        {{ jsonld|tojson }}
      </script>
    {%- endif %}{%- endblock jsonld %}
    <div>{% block content %}{% endblock content %}</div>
    <div>{% block footer %}
      {%- if view %}
        <hr/>
        <p>
          {{ view.reason_email }}
          &bull;
          <a href="{{ view.unsubscribe_url_email }}">{% trans %}Unsubscribe or manage preferences{% endtrans %}</a>
        </p>
      {%- endif %}
    {% endblock footer %}</div>
  </body>
</html>
