{%- macro pinned_update(view, project) -%}
  {%- with update=project.pinned_update -%}
    {%- if update -%}

      <p>
        {%- trans number=update.number|numberformat -%}Update #{{ number }}{%- endtrans %} &bull; {% trans age=update.published_at|age, editor=update.user.pickername -%}Posted by {{ editor }} {{ age }}{%- endtrans -%}
      </p>
      <h2><a href="{{ update.url_for(_external=true, **view.tracking_tags()) }}">{{ update.title }}</a></h2>

      {{ update.body }}

    {%- endif -%}
  {%- endwith -%}
{%- endmacro -%}

{%- macro hero_image(img_url) -%}
  <tr>
      <td align="center">
          <img src="{{ img_url }}" width="196px" height="" alt="alt_text" border="0" class="header-image g-img">
      </td>
  </tr>
{%- endmacro -%}
