{%- macro pinned_update(view, project) -%}
  {%- with update=project.pinned_update -%}
    {%- if update -%}

      <p>
        {%- trans number=update.number, age=update.published_at|age, editor=update.user.pickername -%}
          Update #{{number}} &bull; Posted by {{ editor }} {{ age }}
        {%- endtrans -%}
      </p>
      <h2><a href="{{ update.url_for(_external=true, utm_medium='email', utm_campaign='notification', utm_source=view.notification.eventid) }}">{{ update.title }}</a></h2>

      {{ update.body }}

    {%- endif -%}
  {%- endwith -%}
{%- endmacro -%}
