{%- macro pinned_update(view, project) -%}
  {%- with update=project.pinned_update -%}
    {%- if update -%}

      <p>
        {%- trans number=update.number|numberformat -%}Update #{{ number }}{%- endtrans %} &bull; {% trans age=update.published_at|age, editor=update.user.pickername -%}Posted by {{ editor }} {{ age }}{%- endtrans -%}
      </p>
      <h2><a href="{{ update.url_for(_external=true, **view.tracking_tags()) }}">{{ update.title }}</a></h2>

      {{ update.body }}

    {%- endif -%}
  {%- endwith -%}
{%- endmacro -%}
