{%- extends "notifications/layout_email.html.jinja2" -%}
{%- block content -%}
  <p>{{ view.activity_html() }}</p>
  <p class="btn-bar">
    <a class="btn"
       href="{{ view.organization.url_for('members', _external=true, **view.tracking_tags()) }}">
      {%- trans %}See all admins{% endtrans -%}
    </a>
  </p>
{%- endblock content -%}
