{%- extends "notifications/layout_email.html.jinja2" -%}
{%- from "notifications/macros_email.html.jinja2" import cta_button -%}
{%- block content -%}

    <tr align="center">
        <td class="text-content">
            <p class="body-content">{{ activity_html }}</p>
        </td>
    </tr>
    <br>

    {# Button : BEGIN #}
    {{ cta_button(view.organization.profile.url_for('members', _external=true, **view.tracking_tags()), gettext("See all admins") )}}
    {# Button : END #}

{%- endblock content -%}
