{# {% extends "notifications/layout_email.html.jinja2" %}
{% block content -%}

<p>{% trans project=project.title, actor=actor.pickername %}
  {{ actor }} has added you to ‘{{ project }}’ as a crew member.
  {% endtrans %}</p>

<p class="btn-bar">
  <a class="btn"
    href="{{ project.url_for('crew', _external=true, utm_medium='email', utm_campaign='notification') }}">{% trans
    %}See all crew members{% endtrans %}</a>
</p>

{%- endblock %} #}

{%- extends "notifications/layout_web.html.jinja2" -%}

{%- block content -%}
{%- if view.is_rollup -%}
<ol class="mui-list--aligned">
  {%- for membership in view.fragments -%}
  <li> <span class="mui--text-body2">{{ actor }} has added you to <a href="{{ project.url_for() }}">'{{
        project.joined_title }}’</a> as a crew member. {{
      membership.granted_at|age }}</span>
  </li>
  {%- endfor %}
</ol>
{%- else %}
<p>
  <span class="mui--text-body2">{{ actor }} has added you to <a href="{{ project.url_for() }}">'{{
      project.joined_title }}’</a> as a crew member.</span>
</p>
{%- endif %}
{%- endblock content -%}

{%- block avatar %}
{%- if view.is_rollup %}
{{ useravatar(view.actor) }}
{%- else %}
{{ useravatar(view.actor) }}
{%- endif %}
{%- endblock avatar %}
