{% extends "notifications/layout_web.html.jinja2" %}
{%- from "macros.html.jinja2" import useravatar %}

{%- block avatar %}
  {{ useravatar(view.project.account) }}
{%- endblock avatar -%}

{%- block content -%}
  <p>
    {% trans project=view.project.joined_title, url=view.project.url_for(), start_time=view.session.start_at_localized|time -%}
      <a href="{{ url }}">{{ project }}</a> starts at {{ start_time }}
    {%- endtrans %}
  </p>
{%- endblock content -%}
