{%- extends "notifications/layout_email.html.jinja2" -%}
{%- from "macros.html.jinja2" import project_title -%}
{%- from "notifications/macros_email.html.jinja2" import pinned_update -%}
{%- block content -%}

<p>
  {%- trans project=project_title(view.project), start_time=view.session.start_at_localized|time -%}
    <b>{{ project }}</b> starts at {{ start_time }}
  {%- endtrans -%}
</p>

<p class="btn-bar"><a class="btn" href="{{ view.project.url_for(_external=true, **view.tracking_tags()) }}">{% trans %}Join now{% endtrans %}</a></p>

{{ pinned_update(view, view.project) }}

{%- endblock -%}
