{%- extends "notifications/layout_email.html.jinja2" -%}
{%- from "notifications/macros_email.html.jinja2" import hero_image, cta_button -%}
{%- block content -%}

    {# Hero image centered : BEGIN #}
    {{ hero_image("https://images.hasgeek.com/embed/file/d99bbe687cc9479b8cdeb350476cbf13?size=196x139") }}
    {# Hero image centered : END #}

    {# Email body : BEGIN #}
    <tr align="center">
        <td class="text-container">
            <h1>Crew membership revoked</h1>
            <p>
                {{ view.activity_html() }}
            </p>
        </td>
    </tr>
    <br>

    {# Button : BEGIN #}
    {{ cta_button(view.project.profile.url_for('members', _external=true, **view.tracking_tags()), "See all admins" )}}
    {# Button : END #}

    {# Email body : END #}

{%- endblock content -%}
