{% extends "notifications/layout_web.html.jinja2" %}

{%- block avatar %}
  {{ useravatar(view.project.account) }}
{%- endblock avatar -%}

{%- block content -%}
  <p>
    {%- with venue = view.project.primary_venue %}
      {%- if venue %}
        {%- trans project=view.project.joined_title, url=view.project.url_for(), start_at=(view.session or view.project).start_at_localized|datetime, venue=venue.title, location=view.project.location -%}
          <a href="{{ url }}">{{ project }}</a> has an in-person session at {{ venue }}, {{location}} starting {{ start_at }}
        {%- endtrans %}
      {%- else %}
        {%- trans project=view.project.joined_title, url=view.project.url_for(), start_at=(view.session or view.project).start_at_localized|datetime, location=view.project.location -%}
          <a href="{{ url }}">{{ project }}</a> has an in-person session at {{ location }}, starting {{ start_at }}
        {%- endtrans %}
      {%- endif %}
    {%- endwith %}
  </p>
{%- endblock content -%}
