{%- extends "notifications/layout_email.html.jinja2" -%}
{%- from "notifications/macros_email.html.jinja2" import pinned_update, hero_image, cta_button, body_footer -%}
{%- block content -%}

    {# Hero image centered : BEGIN #}
    {{ hero_image("https://images.hasgeek.com/embed/file/639cd8c5a86a444faf3d6cf58d69fc4d?size=196x151") }}
    {# Hero image centered : END #}

    {# Email body : BEGIN #}
    <tr align="center">
        <td class="text-container">
            <h1>Session starting soon!</h1>
            <p>
                {%- trans project=view.project.joined_title, start_time=view.session.start_at_localized|time -%}
                <b>{{ project }}</b> starts at {{ start_time }}
                {%- endtrans -%}
            </p>
        </td>
    </tr>

    {# Button : BEGIN #}
    {{ cta_button(view.project.url_for(_external=true, **view.tracking_tags()), "Join now" )}}
    {# Button : END #}

    {# Email body : END #}

    {{ pinned_update(view, view.rsvp.project) }}

    {# Email body footer : BEGIN #}
    {{ body_footer(view, "Cancel registration") }}
    {# Email body footer : END #}

{%- endblock content -%}
