{%- extends "notifications/layout_email.html.jinja2" -%}
{%- from "notifications/macros_email.html.jinja2" import pinned_update, cta_button, rsvp_footer -%}
{%- block content -%}

    <tr align="center">
        <td class="text-content">
            <p class="body-content">{%- trans project=view.project.joined_title, start_datetime=(view.session or view.project).start_at_localized|datetime, venue=project.primary_venue.title -%}<b>{{ project }}</b> has an in-person session at {{ venue }}, starting {{ start_datetime }}{%- endtrans -%}</p>
        </td>
    </tr>
    <br/>

    {# Button : BEGIN #}
    {{ cta_button(view.project.url_for(_external=true, **view.tracking_tags()), gettext("Join now") ) }}
    {# Button : END #}

    {{ pinned_update(view, view.project) }}

{%- endblock content -%}
