{% extends "notifications/layout_web.html.jinja2" %}

{%- block avatar %}
  {{ useravatar(view.project.account) }}
{%- endblock avatar -%}

{%- block content -%}
  <p>
    {% trans project=view.project.joined_title, url=view.project.url_for(), start_time=view.start_time|time -%}
      <a href="{{ url }}">{{ project }}</a> starts at {{ start_time }}
    {%- endtrans %}
  </p>
{%- endblock content -%}
