{% extends "notifications/layout_web.html.jinja2" %}
{%- from "macros.html.jinja2" import faicon %}

{% block content %}
  {%- if view.is_rollup %}
    <p>
      {%- trans project=project.joined_title, project_url=project.url_for(), count=view.fragments|length %}
        Your project <a href="{{ project_url }}">{{ project }}</a> has received {{ count }} new submissions:
      {%- endtrans %}
    </p>
    <ol class="list--aligned ">
      {%- for proposal in view.fragments %}
      <li>{% trans url=proposal.url_for(), proposal=proposal.title, actor=proposal.user.pickername, age=proposal.datetime|age %}
        <a href="{{ url }}">{{ proposal }}</a> by {{ actor }} {{ age }}
          {% endtrans %}
      </li>
      {%- endfor %}
    </ol>
  {%- else %}
    <p>
      {% trans project=project.joined_title, project_url=project.url_for(), proposal=proposal.title, proposal_url=proposal.url_for(), actor=view.actor.pickername -%}
        Your project <a href="{{ project_url }}">{{ project }}</a> has received a new submission: <a href="{{ proposal_url }}">{{ proposal }}</a> from {{ actor }}
      {%- endtrans %}
    </p>
  {%- endif %}
{%- endblock content %}

{%- block avatar %}
  {%- if view.is_rollup %}
    <div class="user__box__gravatar user__box__gravatar--initials">{{ faicon(icon='users', icon_size='headline', baseline=false) }}</div>
  {%- else %}
    {%- if view.actor %}{{ useravatar(view.actor) }}{% endif %}
  {%- endif %}
{%- endblock avatar %}
