{% extends "notifications/layout_email.html.jinja2" %}
{%- from "macros.html.jinja2" import project_title %}
{% block content -%}

<p>{% trans project=project_title(project), proposal=proposal.title %}Your project <b>{{ project }}</b> has a new submission: <b>{{ proposal }}</b>{% endtrans %}</p>

<p class="btn-bar"><a class="btn" href="{{ proposal.url_for(_external=true, **view.tracking_tags()) }}">{% trans %}Submission page{% endtrans %}</a></p>

{%- endblock %}
