{% extends "notifications/layout_email.html.jinja2" %}
{% block content -%}

<p>{% trans project=project.joined_title, proposal=proposal.title %}Your project <b>{{ project }}</b> has a new submission: <b>{{ proposal }}</b>{% endtrans %}</p>

<p class="btn-bar"><a class="btn" href="{{ proposal.url_for(_external=true, **view.tracking_tags()) }}">{% trans %}Submission page{% endtrans %}</a></p>

{%- endblock content %}
