{% extends "notifications/layout_email.html.jinja2" %}
{% block content -%}

<p>{% trans project=project.joined_title, proposal=proposal.title %}You have submitted <b>{{ proposal }}</b> to the project <b>{{ project }}</b>{% endtrans %}</p>

<p class="btn-bar"><a class="btn" href="{{ proposal.url_for(_external=true, **view.tracking_tags()) }}">{% trans %}View submission{% endtrans %}</a></p>

{%- endblock content %}
