{% extends "notifications/layout_email.html.jinja2" %}
{% block content -%}

<p>{% trans actor=actor.fullname %}Hi {{ actor }},{% endtrans %}</p>

<p>{% trans project=project.title, proposal=proposal.title %}You have submitted a new proposal <b>{{ proposal }}</b> to the project <b>{{ project }}</b>.{% endtrans %}</p>

<p><a class="btn" href="{{ proposal.url_for(_external=true, utm_medium='email', utm_campaign='website') }}">{% trans %}View proposal{% endtrans %}</a></p>

{%- endblock %}
