{% extends "notifications/layout_web.html.jinja2" %}
{% block content %}
<p>
  {% trans project=project.title, project_url=project.url_for(), proposal=proposal.title, proposal_url=proposal.url_for() -%}
    Your project <a href="{{ project_url }}">{{ project }}</a> has received a new proposal: <a href="{{ proposal_url }}">{{ proposal }}</a>.
  {%- endtrans %}
</p>
{% endblock %}
