{% extends "notifications/layout_web.html.jinja2" %}
{% block content %}
<p>
  {% trans project=view.rsvp.project.joined_title, url=view.rsvp.project.url_for() -%}
    You cancelled your registration for <a href="{{ url }}">{{ project }}</a>
  {%- endtrans %}
</p>
{% endblock content %}
