{% extends "notifications/layout_web.html.jinja2" %}
{%- from "macros.html.jinja2" import project_title %}
{% block content %}
<p>
  {% trans project=project_title(view.project), url=view.project.url_for() -%}
    A session is about to start in <a href="{{ url }}">{{ project }}</a>.
  {%- endtrans %}
</p>
{% endblock %}
