{%- extends "notifications/layout_email.html.jinja2" -%}
{%- from "notifications/macros_email.html.jinja2" import hero_image, cta_button -%}
{%- block content -%}

    {# Hero image centered : BEGIN #}
    {{ hero_image("https://images.hasgeek.com/embed/file/85250bc8f2534f5cb4a5d3d4f97c2eb9?size=196x190") }}
    {# Hero image centered : END #}

    {# Email body : BEGIN #}
    <tr align="center">
        <td class="text-container">
            <h1>New update!</h1>
            <p>
                {% trans actor=view.actor.pickername, project=view.update.project.joined_title, project_url=view.update.project.url_for() %}
                {{ actor }} posted an update in <a href="{{ project_url }}">{{ project }}</a>:
                {% endtrans %}
            </p>
            <h3><a href="{{ view.update.url_for(_external=true, **view.tracking_tags()) }}">{{ view.update.title }}</a></h3>
            {{ view.update.body }}
        </td>
    </tr>
    <br>

    {# Button : BEGIN #}
    {{ cta_button(view.update.url_for(_external=true, **view.tracking_tags()), "Read on the website" )}}
    {# Button : END #}

    {# Email body : END #}

{%- endblock content -%}
