{% extends "notifications/layout_web.html.jinja2" %}
{% block content %}
  <p>
    {%- trans actor=view.actor.pickername, project=view.update.project.joined_title, project_url=view.update.project.url_for() -%}
      {{ actor }} posted an update in <a href="{{ project_url }}">{{ project }}</a>:
    {%- endtrans %}
  </p>
  <h2 class="mui--text-headline text-bold">
    <a class="mui--text-dark" href="{{ view.update.url_for() }}">{{ view.update.title }}</a>
  </h2>
  <div class="update__content mui--text-light markdown">
    {{ view.update.body }}
  </div>
{% endblock content %}
