{%- extends "notifications/layout_email.html.jinja2" %}

{%- block content -%}
  <p>
    {%- trans %}Your password has been updated. If you did this, no further action is necessary.{% endtrans -%}
  </p>

  <p>
    {%- trans %}If this was not authorized, consider resetting with a more secure password. Contact support if further assistance is required.{% endtrans -%}
  </p>

  <p class="btn-bar">
    <a class="btn" href="{{ url_for('reset') }}">{% trans %}Reset password{% endtrans %}</a>
    <a class="btn" href="mailto:{{ config['SITE_SUPPORT_EMAIL'] }}">{% trans %}Contact support{% endtrans %}</a>
  </p>

{%- endblock content -%}
