{%- extends "notifications/layout_email.html.jinja2" -%}
{%- from "notifications/macros_email.html.jinja2" import cta_button -%}
{%- block content -%}

  <tr align="center">
    <td class="text-container">
      {% if view.email_heading %}<h1>{{ view.email_heading }}</h1>{% endif %}
      <p>{%- trans support_email=config['SITE_SUPPORT_EMAIL'] %}Your password has been updated. If you did this, no further action is necessary.<br>If this was not authorized, consider resetting with a more secure password. <a href="mailto:{{ support_email }}">Contact support</a> if further assistance is required.{% endtrans -%}</p>
    </td>
  </tr>
  <br>

  {# Button : BEGIN #}
  {{ cta_button(url_for('reset'), gettext("Reset password") )}}
  {# Button : END #}

{%- endblock content -%}
