{%- extends "notifications/layout_web.html.jinja2" %}
{%- from "macros.html.jinja2" import faicon %}

{%- block content -%}
  <p>
    {{ faicon('exclamation-triangle') }} {% trans %}Your password has been updated{% endtrans -%}
  </p>
{%- endblock content -%}
