{%- extends "notifications/layout_email.html.jinja2" -%}
{%- block content -%}

    {# Hero image centered : BEGIN #}
    {{ hero_image("https://images.hasgeek.com/embed/file/89f039083c5c400c86cf53e428f5752c?size=196x134") }}
    {# Hero image centered : END #}

    {# Email body : BEGIN #}
    <tr align="center">
        <td class="text-container">
            <h1>Password updated!</h1>
            <p>
              {%- trans %}Your password has been updated. If you did this, no further action is necessary.{% endtrans -%}<br>
              If this was not authorized, consider resetting with a more secure password. <a href="mailto:{{ config['SITE_SUPPORT_EMAIL'] }}">Contact support</a> if further assistance is required.{% endtrans -%}
            </p>
        </td>
    </tr>
    <br>

    {# Button : BEGIN #}
    {{ cta_button(url_for('reset'), "Reset password" )}}
    {# Button : END #}

    {# Email body : END #}

{%- endblock content -%}
