@charset "UTF-8";
.zero-bottom-margin {
  margin-bottom: 0 !important;
}

.zero-top-margin {
  margin-top: 0 !important;
}

.mui-btn--nomargin {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.left-padding {
  padding-left: 15px;
}

.right-padding {
  padding-right: 15px;
}

.grid-no-left-padding {
  margin-left: -15px;
}

.grid-no-right-padding {
  margin-right: -15px;
}

.separator {
  padding: 0 5px;
}

.image-wrapper img {
  max-width: 100%;
  display: block;
}

.svg-icon {
  position: relative;
  top: 2px;
}

.no-js .js-lazyload-img {
  display: none;
}

.list-item-rgborder li {
  border-right: 1px solid;
  border-radius: 0;
  padding-right: 10px;
  line-height: 1;
}

.list-item-rgborder li:last-child,
.list-item-rgborder li.no-border {
  border-right: none;
  padding-right: 5px;
}

.list-item-rgborder .icon-middle {
  position: relative;
  top: 7px;
}

.material-icons.mui--align-middle {
  position: relative;
  top: -1px;
}

.mui-divider--custom {
  margin: 5px 0 20px;
}

.btn-group .mui-btn {
  margin-right: 5px;
}

.mui-btn .material-icons.mui--align-middle {
  margin-right: 5px;
}

.content-head--top-padding {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(132, 146, 166, 0.3);
}

.page-content {
  padding-top: 30px;
  padding-bottom: 15px;
}

.page-content--mob-nav {
  padding-top: 80px;
}

@media (min-width: 768px) {
  .page-content--mob-nav {
    padding-top: 30px;
  }
}
.nounderline {
  text-decoration: none !important;
}

.badge {
  position: relative;
  color: #fff;
  width: 15px;
  line-height: 15px;
  height: 15px;
  text-align: center;
  display: inline-block;
  background-color: #856a91;
  border-radius: 50%;
}

.select2-inline {
  display: inline-block;
  margin-right: 5px;
}

.spinner {
  position: relative;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.collapsible__header {
  margin: 10px 0;
  width: 100%;
  background: #eff2f7;
  padding: 20px;
  cursor: pointer;
}

.collapsible__header--smaller {
  width: calc(100% - 45px);
  padding: 10px;
  margin: 0 0 10px;
}

.collapsible__dropdown {
  margin: 0;
  margin-right: 1px;
  padding: 10px 10px 4px;
  background: #eff2f7;
}

.collapsible__body {
  display: none;
  clear: both;
}

html.touch .collapsible__icon--disable {
  display: none;
}

html.touch .collapsible__body--disable {
  display: block;
}

.mui-list--border li {
  border-bottom: 1px solid rgba(132, 146, 166, 0.2);
  padding: 5px;
}

.mui-list--border li:last-child {
  border-bottom: none;
}

@media screen and (max-width: 1024px) {
  .fb_iframe_widget {
    overflow-y: scroll;
    width: 100%;
    display: inline-block !important;
  }
}
.attendee-table .buttongrp-column {
  min-width: 250px;
}

.attendee-table td {
  word-break: break-word;
  min-width: 100px;
}

@media (min-width: 992px) {
  .attendee-table td {
    min-width: 80px;
  }
}
@media (min-width: 1200px) {
  .attendee-table td {
    min-width: 200px;
  }
}
.btn-wrapper {
  margin-bottom: 10px;
}

.past-events-table {
  border-collapse: collapse;
}
.past-events-table > thead > tr > th {
  padding: 15px;
}

.footer--homepage {
  margin-top: 0;
}

.mui-btn--nopadding {
  padding-left: 0;
  padding-right: 0;
}

.mui-btn--nopadding:hover {
  background: transparent !important;
}

.count-chip {
  color: #e05f25;
  position: relative;
  top: -12px;
  font-size: 12px;
}

.user-box {
  padding: 8px 8px 8px 50px;
  position: relative;
}
.user-box .user-gravatar {
  width: 40px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 11px;
  border-radius: 50%;
}

.mui-btn--nostyle {
  background: none;
}

.hg-app .header--fixed {
  bottom: 0;
}
.hg-app .header--fixed .header__nav {
  height: 50px;
  padding: 0 15px;
  justify-content: space-between;
}
.hg-app .header--fixed .header__nav .header__site-title {
  padding: 0;
  width: 47px;
  padding-right: calc(calc(100% - 127px) / 3);
}
.hg-app
  .header--fixed
  .header__nav
  .header__site-title
  .header__site-title__logo {
  height: 35px;
}
.hg-app .header--fixed .header__nav .header__site-title .search-form {
  position: fixed;
  bottom: 50px;
  width: 100%;
  left: 0;
  box-shadow: 0 1px 3px rgba(158, 158, 158, 0.12),
    0 1px 2px rgba(158, 158, 158, 0.24);
  display: none;
}
.hg-app
  .header--fixed
  .header__nav
  .header__site-title
  .search-form
  .search-form__field {
  background-color: #eff2f6;
  border: none;
  padding: 15px 30px 15px 35px;
  min-width: calc(100% - 60px);
  color: #79818b;
  font-size: 16px;
}
.hg-app
  .header--fixed
  .header__nav
  .header__site-title
  .search-form
  .search-form__field__img {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 16px;
  height: 16px;
}
.hg-app
  .header--fixed
  .header__nav
  .header__site-title
  .search-form
  .search-form__submit {
  visibility: hidden;
}
.hg-app .header--fixed .header__nav .header__site-title .search-form--show {
  display: inline-block;
}
.hg-app .header--fixed .header__nav .header__right-nav {
  width: 66.67%;
  padding: 0;
  padding-left: calc(calc(calc(100% - 127px) / 3) / 2);
}
.hg-app .header--fixed .header__nav .header__right-nav .header__nav-list {
  justify-content: space-between;
}
.hg-app
  .header--fixed
  .header__nav
  .header__right-nav
  .header__nav-list
  .header__nav-list__item
  .header__nav-links
  .header__nav-links__icon {
  font-size: 18px;
}
.hg-app
  .header--fixed
  .header__nav
  .header__right-nav
  .header__nav-list
  .header__nav-list__item
  .header__button {
  color: #fff;
  line-height: 30.6px;
  margin: 0;
}
.hg-app
  .header--fixed
  .header__nav
  .header__right-nav
  .header__nav-list
  .header__nav-list__item
  .header__button
  .header__nav-links__text {
  height: 30.6px;
  line-height: 30.6px;
  padding: 0;
  font-size: 13px;
  margin-left: 0 !important;
}
.hg-app .content-wrapper {
  padding-top: 0;
}

@media (max-width: 767px) {
  .hg-app.no-sticky-header .header--fixed {
    display: none;
  }

  .hg-app.no-sticky-header .footer {
    display: none;
  }
}
@media (min-width: 768px) {
  .hg-app .header--fixed {
    bottom: unset;
    top: 0;
  }
  .hg-app .header--fixed .header__nav .header__site-title {
    width: 70%;
    margin-right: 0;
    padding-right: 0;
  }
  .hg-app
    .header--fixed
    .header__nav
    .header__site-title
    .header__site-title__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .hg-app
    .header--fixed
    .header__nav
    .header__site-title
    .header__site-title__title
    .header__site-title__logo {
    height: 35px;
    margin-right: 15px;
    position: relative;
    top: -2px;
  }
  .hg-app
    .header--fixed
    .header__nav
    .header__site-title
    .header__site-title__title
    .search-form {
    position: relative;
    bottom: 0;
    display: flex;
    width: 300px;
    box-shadow: none;
  }
  .hg-app
    .header--fixed
    .header__nav
    .header__site-title
    .header__site-title__title
    .search-form
    .search-form__field {
    border-radius: 2px;
    padding: 8px 10px 8px 30px;
  }
  .hg-app
    .header--fixed
    .header__nav
    .header__site-title
    .header__site-title__title
    .search-form
    .search-form__field__img {
    top: 8px;
    left: 8px;
    width: 18px;
    height: 18px;
  }
  .hg-app .header--fixed .header__nav .header__site-title--smaller {
    width: 67%;
  }
  .hg-app .header--fixed .header__nav .header__right-nav {
    width: 250px;
    padding-left: 0;
  }
  .hg-app .header--fixed .header__nav .header__right-nav .header__nav-list {
    justify-content: flex-end;
  }
  .hg-app
    .header--fixed
    .header__nav
    .header__right-nav
    .header__nav-list
    .header__nav-list__item:first-child {
    display: none;
  }
  .hg-app
    .header--fixed
    .header__nav
    .header__right-nav
    .header__nav-list
    .header__nav-list__item
    .header__nav-links
    .header__nav-links__icon {
    display: inline;
    font-size: 20px;
    top: -2px;
  }
  .hg-app
    .header--fixed
    .header__nav
    .header__right-nav
    .header__nav-list
    .header__nav-list__item
    .header__nav-links
    .header__nav-links__text {
    display: inline;
    font-size: 18px;
    margin-left: 8px;
  }
  .hg-app
    .header--fixed
    .header__nav
    .header__right-nav
    .header__nav-list
    .header__nav-list__item
    .header__button {
    color: #fff;
    line-height: 30.6px;
    margin: 0;
  }
  .hg-app
    .header--fixed
    .header__nav
    .header__right-nav
    .header__nav-list
    .header__nav-list__item
    .header__button
    .header__nav-links__text {
    height: 30.6px;
    line-height: 30.6px;
    padding: 0;
    font-size: 13px;
    margin-left: 0 !important;
  }
  .hg-app
    .header--fixed
    .header__nav
    .header__right-nav--larger
    .header__nav-list {
    justify-content: flex-end;
  }
  .hg-app .content-wrapper {
    padding-top: 50px;
  }
}
@media (min-width: 1200px) {
  .hg-app
    .header--fixed
    .header__nav
    .header__site-title
    .header__site-title__title
    .search-form {
    width: 400px;
  }
}
@media only screen and (max-device-width: 767px) and (orientation: landscape) {
  .hg-app .header--fixed .header__nav {
    height: 35px;
  }
  .hg-app
    .header--fixed
    .header__nav
    .header__site-title
    .header__site-title__title
    .header__site-title__logo {
    height: 25px;
  }
  .hg-app
    .header--fixed
    .header__nav
    .header__site-title
    .header__site-title__title
    .search-form {
    bottom: 35px;
  }
  .hg-app
    .header--fixed
    .header__nav
    .header__right-nav
    .header__nav-list
    .header__nav-list__item
    .header__nav-list__item__text {
    display: inline-block;
    margin-left: 8px;
  }
  .hg-app
    .header--fixed
    .header__nav
    .header__right-nav
    .header__nav-list
    .header__nav-list__item
    .header__button {
    line-height: 25px;
    height: 25px;
  }
}
@media (min-device-width: 768px) and (max-device-width: 1199px) and (orientation: landscape) {
  .hg-app .header--fixed .header__nav {
    height: 35px;
  }
  .hg-app
    .header--fixed
    .header__nav
    .header__site-title
    .header__site-title__title
    .header__site-title__logo {
    height: 25px;
  }
  .hg-app
    .header--fixed
    .header__nav
    .header__site-title
    .header__site-title__title
    .search-form
    .search-form__field {
    padding: 5px 10px 5px 30px;
    font-size: 14px;
  }
  .hg-app
    .header--fixed
    .header__nav
    .header__site-title
    .header__site-title__title
    .search-form
    .search-form__field__img {
    top: 4px;
    left: 8px;
  }
  .hg-app
    .header--fixed
    .header__nav
    .header__right-nav
    .header__nav-list
    .header__nav-list__item
    .header__nav-links
    .header__nav-links__icon {
    font-size: 18px;
  }
  .hg-app
    .header--fixed
    .header__nav
    .header__right-nav
    .header__nav-list
    .header__nav-list__item
    .header__nav-links
    .header__nav-links__text {
    font-size: 16px;
  }
  .hg-app .content-wrapper {
    padding-top: 35px;
  }
}
.header__site-title__item {
  font-size: 18px;
  line-height: 28px;
  position: relative;
  top: -3px;
}

.header__site-title__home {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.header__site-title__home:hover {
  color: inherit;
  text-decoration: none;
}

.header__site-title__logo {
  vertical-align: middle;
  margin: auto;
}

.header__site-title__logo--small {
  height: 18px;
}

.header__site-title__logo--margin {
  margin-right: 10px;
}

.header__site-title__logo--funnel {
  width: 18px;
  position: relative;
  top: -2px;
}

@media (min-width: 768px) {
  .header__site-title__item {
    font-size: 24px;
    line-height: 32px;
    top: 0;
  }
}
.header__site-title__logotxt {
  position: relative;
  top: -6px;
}

@media (max-width: 1199px) {
  .no-header .header {
    display: none;
  }
  .no-header .content-wrapper {
    padding-top: 0;
  }
  .no-header .footer {
    display: none;
  }
}
.sub-navbar .sub-navbar__item {
  display: block;
  padding: 15px;
  margin: 0;
  text-decoration: none;
  border-bottom: 1px solid rgba(132, 146, 166, 0.3);
  transition: border-color 1.5s ease;
  min-width: 0;
  min-height: 0;
  background-color: #f9fafc;
}
.sub-navbar .sub-navbar__item--wrapper {
  height: 56px;
}
.sub-navbar .sub-navbar__item--fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  border-bottom: none;
  box-shadow: 0 1px 3px rgba(158, 158, 158, 0.12),
    0 1px 2px rgba(158, 158, 158, 0.24);
}
.sub-navbar .sub-navbar__item:first-child {
  border-top: 1px solid rgba(132, 146, 166, 0.3);
}
.sub-navbar .mui-btn {
  margin: 0 0.5em;
}
.sub-navbar .sub-navbar__item--primarybg {
  background-color: #e05f26;
  color: #fff;
}

@media (min-width: 768px) {
  .sub-navbar-container {
    border-bottom: 1px solid rgba(132, 146, 166, 0.3);
    border-top: 1px solid rgba(132, 146, 166, 0.3);
    margin-top: 2em;
  }

  .sub-navbar-container--sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    order: 1;
    z-index: 1000;
  }

  .sub-navbar {
    overflow: scroll;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0 15px;
  }
  .sub-navbar .sub-navbar__item {
    display: inline-block;
    flex-shrink: 0;
    padding: 15px;
    margin: 0 15px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-color 1.5s ease;
    min-width: 0;
    min-height: 0;
  }
  .sub-navbar .sub-navbar__item:first-child {
    margin: 0 15px 0 0;
  }
  .sub-navbar .sub-navbar__item:first-child {
    border-top: 0;
  }
  .sub-navbar .sub-navbar__item__icon {
    display: none;
  }
  .sub-navbar .sub-navbar__item:hover,
  .sub-navbar .sub-navbar__item:active,
  .sub-navbar .sub-navbar__item--active {
    border-bottom: 2px solid #856a91;
  }
}
@media (min-device-width: 768px) and (max-device-width: 1199px) and (orientation: landscape) {
  .sub-navbar-container--sticky {
    top: 35px;
  }
}
@media (min-width: 992px) {
  .sub-navbar {
    max-width: 960px;
    margin: auto;
    padding: 0 15px;
  }
}
@media (min-width: 1200px) {
  .sub-navbar {
    max-width: 1170px;
  }
}
.mobile-nav {
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
}
.mobile-nav .mobile-nav__prev {
  padding: 15px;
  margin: -15px -5px -15px -15px;
}

.tabs-wrapper {
  background: #fff;
  box-shadow: 0 2px 2px -1px rgba(158, 158, 158, 0.24);
  width: 100%;
}

.tabs-wrapper--sticky {
  position: sticky;
  order: 1;
  top: 0;
  z-index: 1000;
}

.tabs {
  display: flex;
  width: 100%;
  overflow: scroll;
  align-items: center;
}
.tabs .tabs__item {
  padding: 15px;
  cursor: pointer;
  position: relative;
  min-width: 130px;
  border-bottom: 2px solid transparent;
  margin: 0;
  text-align: center;
  cursor: pointer;
  flex: 0 0 auto;
}
.tabs .tabs__item--width {
  min-width: auto;
}
.tabs .tabs__item:hover,
.tabs .tabs__item:focus {
  text-decoration: none;
  outline: none;
}
.tabs .tabs__item--active {
  border-bottom: 2px solid #856a91;
}
.tabs button.tabs__item--active {
  background: #f2f2f2;
}
.tabs .tabs__item-control {
  position: fixed;
  z-index: 1000;
  background: #fff;
  min-width: auto;
  padding: 15px 5px 14px;
  align-self: center;
}
.tabs .tabs__item-control .tabs__item-control__icon {
  vertical-align: middle;
}
.tabs .tabs__item-control--prev {
  left: 0;
}
.tabs .tabs__item-control--next {
  right: 0;
}

@media (min-width: 768px) {
  .tabs-navbar .header {
    box-shadow: none;
  }

  .tabs-wrapper--sticky {
    top: 50px;
  }
  .tabs-wrapper--sticky .tabs__item-control {
    display: none;
  }
}
@media (min-device-width: 768px) and (max-device-width: 1200px) and (orientation: landscape) {
  .tabs-wrapper--sticky {
    top: 35px;
  }
}
.tab-content {
  margin-top: 2em;
}
.tab-content .tab-content__results {
  margin-bottom: 1em;
}

.projects-wrapper {
  padding: 30px 0;
}

.projects {
  padding-top: 15px;
}

.chip--new {
  background-color: #f6e2c5;
  padding: 5px;
  font-weight: bold;
  text-transform: uppercase;
}

.hg-banner {
  padding-top: 30px;
}
.hg-banner .headline {
  font-size: 32px;
  line-height: 40px;
}
.hg-banner .mui-divider--banner {
  height: 4px;
  background-color: #dda32a;
  width: 20%;
  margin: 15px 0 0;
}

@media (min-width: 768px) {
  .hg-banner {
    text-align: center;
  }
  .hg-banner .headline {
    font-size: 48px;
    line-height: 58px;
  }
  .hg-banner .mui-divider--banner {
    margin: 15px auto 0;
  }
}
.funnel-banner {
  position: relative;
  overflow: hidden;
}
.funnel-banner .banner__img {
  width: 100%;
  display: block;
}
.funnel-banner .banner__headline {
  color: #816894;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  padding: 0 30px;
  z-index: 2;
}
.funnel-banner .banner__headline-txt {
  color: #f0a40c;
}

@media (min-width: 992px) {
  .funnel-banner {
    border-bottom: 2px solid rgba(132, 146, 166, 0.3);
  }
  .funnel-banner .banner__headline {
    position: absolute;
    top: 50%;
    left: 15px;
    right: 0;
    transform: translate(0%, -50%);
    font-size: 24px;
    line-height: 32px;
  }
}
@media (min-width: 1200px) {
  .funnel-banner .banner__headline {
    font-size: 32px;
    line-height: 40px;
    left: -40px;
  }
}
@media (min-width: 992px) {
  .upcoming {
    padding-left: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .spotlight {
    margin-bottom: 15px;
  }
  .spotlight spotlight__headline {
    text-align: center;
  }
  .spotlight .card--spotlight {
    margin: auto;
  }
}
@media (min-width: 1200px) {
  .upcoming {
    padding-left: 45px;
  }
}
.funnel-notice .alert__text {
  font-size: 24px;
  line-height: 32px;
}
.funnel-notice .alert__text .funnel-notice-txt {
  color: #f0a40c;
}

.spotlight-schedule-card .tabs-wrapper--sticky {
  top: 0;
}
.spotlight-schedule-card .current-schedule__session {
  padding: 15px 15px 0;
  height: 100%;
  border-bottom: 1px solid rgba(132, 146, 166, 0.3);
}
.spotlight-schedule-card
  .current-schedule__session
  .current-schedule__session__duration {
  position: -webkit-sticky;
  position: sticky;
  top: 40px;
  color: #e05f26;
  z-index: 4;
  background-color: #f9fafc;
  float: right;
  padding: 10px;
  border-radius: 3px;
  line-height: 1;
  overflow-y: auto;
}
.spotlight-schedule-card .current-schedule__session:last-child {
  border-bottom: none;
}

@media (max-width: 767px) {
  .spotlight-schedule-card {
    height: auto !important;
  }
}
@media (min-width: 768px) {
  .spotlight-schedule-card {
    height: 531px;
    overflow: scroll;
  }
}
.cfp-action-btn {
  padding: 10px 0;
  cursor: pointer;
  margin-right: 10px;
  border: none;
  color: #4a90e2;
  background: none;
}

.cfp-action-btn:focus,
.cfp-action-btn:hover {
  border: none;
  outline: none;
  box-shadow: none;
  color: #4a90e2;
}

.inline-form {
  display: inline-block;
  vertical-align: middle;
}

.label-form {
  max-width: 500px;
}
.label-form .label-form__title-field {
  width: calc(100% - 130px);
  display: inline-block;
}
.label-form .label-form__title-field--close {
  width: calc(100% - 114px);
}
.label-form .label-form__subform__close-btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  background: transparent;
  padding: 10px;
}
.label-form .label-form__subform {
  margin-left: 20px;
}
.label-form .emojipicker {
  float: left;
  width: 70px;
  height: 48px;
  margin-right: 20px;
}
.label-form .emojipicker label {
  display: none;
}
.label-form .emojipicker .emojionearea-editor {
  height: 48px;
  min-height: 20px;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 12px;
  right: 24px;
  padding: 6px 0;
}
.label-form .emojipicker .emojionearea-button {
  top: 10px;
}
.label-form .emojipicker .emojionearea-editor {
  left: 6px !important;
  padding-right: 45px !important;
}
.label-form .emojipicker .emojionearea-button .emojionearea-button-open,
.label-form .emojipicker .emojionearea-button .emojionearea-button-close {
  right: 3px;
}
.label-form
  .emojipicker
  .emojionearea
  .emojionearea-editor
  [class*='emojione-'],
.label-form .emojipicker .emojionearea .emojionearea-editor .emojioneemoji {
  margin: -0.2ex 1ex 0.2ex -0.5ex;
}
.label-form
  .emojionearea
  .emojionearea-picker.emojionearea-picker-position-bottom {
  right: -251px;
}
.label-form
  .emojionearea.emojionearea-standalone
  .emojionearea-picker.emojionearea-picker-position-bottom
  .emojionearea-wrapper:after,
.label-form
  .emojionearea.emojionearea-standalone
  .emojionearea-picker.emojionearea-picker-position-top
  .emojionearea-wrapper:after {
  right: 0;
  left: 40px;
}

.label-form__subform
  .emojionearea
  .emojionearea-picker.emojionearea-picker-position-bottom {
  right: -210px;
}
.label-form__subform
  .emojionearea.emojionearea-standalone
  .emojionearea-picker.emojionearea-picker-position-bottom
  .emojionearea-wrapper:after,
.label-form__subform
  .emojionearea.emojionearea-standalone
  .emojionearea-picker.emojionearea-picker-position-top
  .emojionearea-wrapper:after {
  right: 0;
  left: 80px;
}

.ui-dragable-box {
  padding: 25px 10px 10px 20px;
  border-radius: 3px;
  border: 1px solid #ddd;
  background: #fff;
  cursor: pointer;
  position: relative;
  margin: 10px 15px;
}
.ui-dragable-box .drag-icon {
  position: absolute;
  left: 5px;
  top: 0;
}

.ui-dragable-box--header {
  padding: 0;
  margin: 10px 0;
}

.ui-dragable-box--header .collapsible__header {
  margin: 0;
}

.ui-dragable-box label {
  cursor: pointer;
}

.ui-dragable-box:hover {
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(158, 158, 158, 0.12),
    0 1px 2px rgba(158, 158, 158, 0.24);
}

.ui-box-placeholder,
.ui-box-placeholder--bigger {
  margin: 10px 15px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ddd;
  background: #fff;
  height: 55px;
}

.ui-box-placeholder--bigger {
  margin: 10px 0;
  height: 80px;
}

.seq-input {
  position: absolute;
  right: 0px;
  width: 20px;
  border: 0;
  top: 5px;
  font-size: 14px;
  line-height: 1;
  color: #8492a6;
}

.seq-input--bg {
  background: #eff2f7;
}

.seq-input:focus,
.seq-input:active {
  outline: none;
}

.ui-dragable-box .sp-replacer {
  margin-top: 5px;
  margin-left: 5px;
}

.badge-print-status-btn .mui-form__fields.select2-inline {
  min-width: 160px;
}

.clickable-card,
.card-wrapper {
  color: #1f2d3d;
  display: block;
  cursor: pointer;
  text-decoration: none;
}

.clickable-card:focus,
.clickable-card:hover,
.clickable-card:active,
.card-wrapper:focus,
.card-wrapper:hover,
.card-wrapper:active {
  color: #1f2d3d;
  outline: none;
  text-decoration: none;
}

.clickable-card .card__title__heading {
  margin: 0 auto;
  padding: 4px 0;
}

.card__image-wrapper {
  min-height: 126px;
  position: relative;
  padding-bottom: 8px;
}

.card__image-wrapper img {
  display: block;
}

.card__image--default {
  background-color: #f6ede3;
  min-height: 125px;
  position: relative;
  overflow: hidden;
}

.card__calendar {
  padding: 15px;
}

.card__image__tagline {
  position: absolute;
  color: #333;
  top: 50%;
  left: 16px;
  right: 16px;
  text-align: center;
  font-size: 18px;
  transform: translateY(-50%);
  max-height: 100%;
}

@media (min-width: 768px) {
  .card__image__tagline {
    font-size: 24px;
  }
}
.card--upcoming,
.card--cfp {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  background: transparent;
}
.card--upcoming .card__image__tagline,
.card--cfp .card__image__tagline {
  font-size: inherit;
}
.card--upcoming .card__image-wrapper,
.card--upcoming .card__image--default,
.card--cfp .card__image-wrapper,
.card--cfp .card__image--default {
  flex: 0 0 100%;
  min-height: auto;
  border-radius: 2px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.card--upcoming .card__image-wrapper a,
.card--upcoming .card__image--default a,
.card--cfp .card__image-wrapper a,
.card--cfp .card__image--default a {
  display: block;
  width: 100%;
}
.card--upcoming .card__image-wrapper--cfp .card__image-wrapper__overlay,
.card--cfp .card__image-wrapper--cfp .card__image-wrapper__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-image: linear-gradient(to bottom, rgba(67, 89, 111, 0.5), #202d3c);
}
.card--upcoming .card__image-wrapper--cfp .card__image-wrapper__text,
.card--cfp .card__image-wrapper--cfp .card__image-wrapper__text {
  position: absolute;
  z-index: 2;
  color: #fff;
  bottom: 0;
}
.card--upcoming .card__body,
.card--cfp .card__body {
  flex: 0 0 100%;
}
.card--upcoming .card__calendar,
.card--cfp .card__calendar {
  padding: 15px 0;
  border-top: 1px solid rgba(132, 146, 166, 0.3);
  margin: 0;
}

.card--spotlight .card__body,
.card--upcoming .card__body {
  padding: 0 15px 7.5px;
}

@media (min-width: 992px) {
  .card--upcoming,
  .card--cfp {
    box-shadow: none;
  }
  .card--upcoming .card__image-wrapper,
  .card--upcoming .card__image--default,
  .card--cfp .card__image-wrapper,
  .card--cfp .card__image--default {
    flex: 0 0 250px;
  }
  .card--upcoming .card__body,
  .card--cfp .card__body {
    flex: 0 0 calc(100% - 250px);
    width: calc(100% - 250px);
    padding: 0 0 0 15px;
  }
}
@media (min-width: 1200px) {
  .card--upcoming .card__image-wrapper,
  .card--upcoming .card__image--default,
  .card--cfp .card__image-wrapper,
  .card--cfp .card__image--default {
    flex: 0 0 270px;
  }
  .card--upcoming .card__body,
  .card--cfp .card__body {
    flex: 0 0 calc(100% - 270px);
    width: calc(100% - 270px);
  }
  .card--upcoming .card__body--cfp,
  .card--cfp .card__body--cfp {
    padding: 0 0 0 15px;
  }
  .card--upcoming .card__body--cfp .card--cfp__title,
  .card--cfp .card__body--cfp .card--cfp__title {
    max-height: calc(27px * 2);
    overflow: hidden;
  }
  .card--upcoming .card__body--cfp .card--cfp__tagline,
  .card--cfp .card__body--cfp .card--cfp__tagline {
    max-height: calc(24px * 4);
    overflow: hidden;
  }
  .card--upcoming .card__image-wrapper--cfp,
  .card--cfp .card__image-wrapper--cfp {
    height: 150px;
  }
}
.card__image--new {
  background-color: #82698d;
}
.card__image--new .card__image__tagline {
  font-size: 65px;
  color: #fff;
  border: 2px dotted #a890af;
  width: 66px;
  padding: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card__body--minheight {
  min-height: 150px;
}

.card__body--new {
  min-height: 194px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__body--new .new-btn:hover {
  text-decoration: none;
}

.card--small {
  max-width: 400px;
}

.session-card .session-card__header {
  display: flex;
  background: none;
  border-bottom: 1px solid rgba(132, 146, 166, 0.3);
  padding: 10px;
}
.session-card .session-card__header .session-card__header__img-wrapper {
  margin: 0;
  min-width: 60px;
  min-height: 60px;
  border-radius: 50%;
  overflow: hidden;
  max-width: 60px;
  max-height: 60px;
}
.session-card
  .session-card__header
  .session-card__header__img-wrapper
  .session-card__header__img-wrapper__img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.session-card .session-card__header .session-card__header__title {
  padding: 0;
  margin: 0 0 0 10px;
}
.session-card .session-card__header--bck {
  background: #eff2f7;
}

.calendar {
  width: 100%;
}
.calendar .calendar__weekdays {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.calendar .calendar__weekdays__name {
  text-align: center;
  position: relative;
  font-size: 18px;
  line-height: 1.5;
  font-variant: all-small-caps;
}
.calendar .calendar__weekdays__name--first {
  width: 10%;
}
.calendar .calendar__weekdays__name__wrapper {
  display: flex;
  width: 90%;
}
.calendar .calendar__weekdays__name--weekday {
  width: calc(100% / 8);
}
.calendar .calendar__weekdays__month {
  width: 10%;
  word-break: keep-all;
}
.calendar .calendar__weekdays__month__name {
  font-size: 17px;
  line-height: 26px;
  font-variant: all-small-caps;
  width: 100%;
  text-align: left;
}
.calendar .calendar__weekdays__dates {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}
.calendar .calendar__weekdays__dates .calendar__weekdays__dates__date {
  position: relative;
  width: calc(100% / 8);
  text-align: center;
  font-size: 14px;
  line-height: 28px;
}
.calendar
  .calendar__weekdays__dates
  .calendar__weekdays__dates__date
  .calendar__weekdays__dates__date__text {
  position: relative;
  z-index: 2;
}
.calendar
  .calendar__weekdays__dates
  .calendar__weekdays__dates__date--active:after {
  content: '';
  font-weight: bold;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  text-align: center;
  position: absolute;
  top: 2px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
}
.calendar .calendar__weekdays__dates .calendar__weekdays__dates__date--today {
  color: #82688d;
  font-weight: 600;
}
.calendar
  .calendar__weekdays__dates
  .calendar__weekdays__dates__date--active:after {
  background-color: #82688d;
}
.calendar
  .calendar__weekdays__dates
  .calendar__weekdays__dates__date--active
  .calendar__weekdays__dates__date__text {
  color: #fff;
}
.calendar .calendar__weekdays__dates .calendar__weekdays__dates__date--year {
  text-align: right;
}

.contact-card {
  position: relative;
}
.contact-card .contact-card__details {
  width: 100%;
}
.contact-card .contact-card__details .contact-card__details__download-btn {
  position: absolute;
  top: 0;
  right: 0;
}

@media (min-width: 1200px) {
  .contact-card {
    position: relative;
  }
  .contact-card .contact-card__details {
    width: calc(100% - 80px);
  }
  .contact-card .contact-card__details .contact-card__details__download-btn {
    position: relative;
    top: 0;
    right: 0;
  }
}
.project-banner .project-banner__box {
  padding: 0;
}
.project-banner .project-banner__box .project-banner__box__video {
  padding-bottom: 56%;
  position: relative;
}
.project-banner .project-banner__box .project-banner__box__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: block;
}
.project-banner .project-banner__box .project-banner__box__image {
  width: 100%;
  display: block;
}
.project-banner .project-banner__box .project-banner__headline {
  padding: 0 15px;
}
.project-banner .card__calendar {
  padding: 0;
  border-bottom: 1px solid rgba(132, 146, 166, 0.3);
  border-top: 1px solid rgba(132, 146, 166, 0.3);
  background-color: #f9fafc;
  margin-right: -15px;
  margin-left: -15px;
  padding: 0 15px;
  margin-bottom: 0;
}
.project-banner .project-banner__action {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.project-banner .project-banner__action .project-banner__action__icon {
  height: 24px;
  vertical-align: middle;
}
.project-banner .project-banner__action .project-banner__action__social {
  justify-content: space-between;
  width: 110px;
  display: flex;
  align-items: center;
}
.project-banner .project-banner__action .project-banner__action__button {
  display: inline-block;
  width: 165px;
}
.project-banner .project-banner__action .mui-btn + .mui-btn {
  margin-left: 0;
}
.project-banner .profile-details {
  display: flex;
}
.project-banner .profile-details .profile-details__logo {
  height: 45px;
  margin-right: 15px;
}
.project-banner .profile-details .profile-details__title {
  word-break: keep-all;
}
.project-banner .date-wrapper {
  display: flex;
  margin: 0 -15px;
  padding: 15px;
}
.project-banner .date-wrapper .date-wrapper__icon {
  border-radius: 50%;
  border: 1px solid #79818b;
  min-width: 32px;
  height: 32px;
  text-align: center;
  margin-right: 15px;
}
.project-banner .date-wrapper .date-wrapper__details {
  word-break: keep-all;
}

@media (min-width: 544px) {
  .project-banner .project-banner__action {
    max-width: 300px;
  }
}
@media (min-width: 768px) {
  .project-banner {
    margin-top: 30px;
  }
  .project-banner .project-banner__box {
    padding: 0 15px;
  }
  .project-banner .project-banner__box .project-banner__box__video {
    padding-bottom: 56%;
    position: relative;
  }
  .project-banner .project-banner__box .project-banner__box__video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: block;
  }
  .project-banner .project-banner__box .project-banner__box__image {
    width: 100%;
    display: block;
  }
  .project-banner .project-banner__box .project-banner__headline {
    margin-top: 15px;
    padding: 0;
  }
  .project-banner .profile-details {
    margin: 0 0 15px;
  }
  .project-banner .card__calendar {
    background-color: transparent;
    margin: 0 0 0;
    padding: 0;
  }
  .project-banner .project-banner__action {
    max-width: 100%;
    margin: 0;
  }
  .project-banner .project-banner__action .project-banner__action__social {
    justify-content: space-between;
    width: 150px;
    display: flex;
    align-items: center;
  }
  .project-banner .date-wrapper {
    border: 0;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .project-banner
    .project-banner__box
    .project-banner__headline
    .profile-details {
    display: block;
    display: flex;
  }
}
.about {
  padding: 0 15px;
  word-break: break-word;
}
.about .about__details__description h1,
.about .about__details__description h2,
.about .about__details__description h3,
.about .about__details__description h4,
.about .about__details__description h5 {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}
.about img {
  width: 100%;
}
.about .about__details__featured {
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
}
.about .about__details__featured .about__details__featured__cards {
  padding: 0 15px;
}
.about .about__participate__back-nav {
  display: none;
}
.about .about__participate {
  display: none;
}
.about .about__participate--modal {
  position: fixed;
  top: 0;
  background: #fff;
  left: 0;
  right: 0;
  padding: 15px;
  z-index: 100001;
  bottom: 0;
  height: 100%;
  overflow: auto;
}
.about .about__participate--modal .about__participate__back-nav {
  display: block;
}

@media (min-width: 768px) {
  .about .about__participate {
    display: block !important;
    position: relative;
    width: calc(50% - 30px);
    float: right;
    padding: 0;
    margin-left: 30px;
    margin-bottom: 15px;
  }
  .about .about__details {
    float: none;
  }
  .about .about__details hr {
    overflow: hidden;
  }
  .about .about__details__featured .about__details__featured__cards {
    display: inline-block;
    width: calc(50% - 32px);
    padding: 0 15px;
    vertical-align: top;
    margin: 0 -2px;
  }
}
@media (min-width: 992px) {
  .about .about__participate {
    width: calc(40% - 30px);
  }
  .about .about__details__featured .about__details__featured__cards {
    width: calc(33.3% - 30px);
    padding: 0 15px;
  }
}
@media (min-width: 1200px) {
  .about .about__details__featured .about__details__featured__cards {
    width: calc(33.3% - 30px);
    padding: 0 15px;
  }
}
.about #boxoffice-widget {
  padding-top: 0;
  max-width: 100%;
  margin: 0;
}
.about #boxoffice-widget .ticket-booking {
  border-bottom: 1px solid #ccc;
}
.about #boxoffice-widget .ticket-booking:last-child {
  border-bottom: none;
}
.about #boxoffice-widget .ticket-details {
  margin: 0;
  width: 100%;
}
.about #boxoffice-widget .ticket-price-qty {
  float: left;
  width: 100%;
  margin-top: 30px;
}
.about #boxoffice-widget .ticket-description .few-ticket {
  left: 0;
  top: -21px;
}
.about #boxoffice-widget .price-details-wrapper,
.about #boxoffice-widget .ticket-total,
.about #boxoffice-widget .proceed-button-wrapper {
  float: left;
}
.about #boxoffice-widget .ticket-total {
  margin-left: -10px;
  margin-right: -10px;
}
.about #boxoffice-widget .item-amount,
.about #boxoffice-widget .valid-upto,
.about #boxoffice-widget .discount {
  text-align: left;
}
.about #boxoffice-widget .checkout-confirmation {
  padding: 0;
}
.about #boxoffice-widget .fa {
  display: none;
  padding: 0 !important;
}

.about .rsvp-wrapper {
  padding-top: 50px;
}

@media (min-width: 768px) {
  .about .rsvp-wrapper {
    padding: 10px;
    box-shadow: 0 1px 3px rgba(158, 158, 158, 0.12),
      0 1px 2px rgba(158, 158, 158, 0.24);
  }
}
.project-section__map {
  height: 400px;
  width: 100%;
  z-index: 0;
  margin-top: 15px;
  position: relative;
  outline: none;
  margin-bottom: 30px;
}

.proposal-wrapper {
  border-radius: 4px;
  border: 1px solid rgba(132, 146, 166, 0.3);
  box-shadow: 0 1px 3px rgba(158, 158, 158, 0.12),
    0 1px 2px rgba(158, 158, 158, 0.24);
  padding: 0;
  margin: 0;
  position: relative;
}

.slider-btn-wrapper {
  width: 100%;
}

.slider-btn a {
  display: block;
  width: 100%;
}

.slider-btn a:hover {
  text-decoration: none;
}

.slider-btn--push-down {
  position: relative;
  top: 40px;
}

.slider-btn--right {
  width: 90%;
}

.truncate-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 70%;
  display: inline-block;
  overflow: hidden;
}

@media (min-width: 768px) {
  .proposal-wrapper {
    margin: 0 15px;
  }

  .slider-btn--push-down {
    position: relative;
    top: 0;
    width: 50%;
  }

  .slider-btn--right {
    width: 50%;
  }
}
@media (min-width: 1300px) {
  .proposal-wrapper {
    margin-bottom: 15px;
  }

  .proposal__section__headline {
    margin-top: 0px;
  }
}
.proposal__section {
  padding: 15px;
  overflow-wrap: break-word;
}

.proposal__section--border {
  border-bottom: 1px solid rgba(132, 146, 166, 0.3);
}

.proposal-status-wrapper .grid .columns,
.proposal__section .grid .columns {
  padding: 0 30px 0 0;
}

@media (min-width: 992px) {
  .proposal__section--left {
    float: left;
    width: calc(70% - 15px);
    padding-bottom: 15px;
  }

  .proposal__admin-panel {
    float: right;
    width: calc(30% - 15px);
    margin-top: 30px;
    margin-right: 15px;
  }
}
.proposal__section--bleed-y {
  padding: 15px 0;
}

.proposal__section--heading {
  margin-bottom: 15px;
}

.proposal-details {
  margin-top: 15px;
}

.proposal-video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56%;
}
.proposal-video .video_txt {
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}
.proposal-video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: block;
}
.proposal-video .no-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  color: #8492a6;
}

.proposal-video--novideo {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  border: 2px dashed rgba(132, 146, 166, 0.3);
  border-radius: 2px;
  min-height: 220px;
}
.proposal-video--novideo .proposal-video__banner {
  background-color: #dda32a;
  padding: 10px;
  opacity: 0.8;
}

.proposal-details--talk {
  margin-top: 30px;
  border-top: 1px solid rgba(132, 146, 166, 0.3);
  padding-top: 15px;
  margin-left: -15px;
  margin-right: -15px;
}

.proposal-details--talk__box {
  min-width: 160px;
}

@media (min-width: 992px) {
  .proposal-video {
    min-width: 300px;
  }

  .proposal-details {
    margin-top: 30px;
  }

  .proposal-details--left {
    float: left;
    width: 50%;
  }

  .proposal-details--right {
    float: right;
    width: 50%;
    margin-top: 40px;
  }

  .proposal-video {
    max-width: 50%;
  }
}
@media (min-width: 1200px) {
  .proposal-video {
    min-width: 500px;
  }
}
.proposal-move-form div {
  display: inline-block;
}

.proposal-move-form .hg-form {
  margin-top: 13px;
}

.proposal-move-form .hg-form .mui-btn {
  margin-left: 5px;
}

.proposal-move-form .select2-container {
  margin-top: -11px;
}

.proposal-move-form label {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  top: -33px;
  color: #1f2d3d;
}

.proposal__admin-panel .mui-select {
  width: 100%;
}

.proposal__admin-panel .btn-group .mui-btn {
  margin-bottom: 15px;
  margin-right: 20px;
}

@medium (min-width: 1200px) {
  .proposal__admin-panel .btn-group .mui-btn {
    margin-bottom: 10px;
    margin-right: 10px;
  }
}
.proposal-content {
  margin: 8px 0;
  min-height: 100px;
}

.links-list {
  word-break: break-all;
}

.proposal-content pre,
.codehilite pre {
  white-space: pre-wrap;
}

.comment {
  margin: 15px 0 0;
}
.comment .comment--content {
  display: inline-block;
}
.comment .comment--content img {
  max-width: 100%;
}
.comment .comment--body {
  margin: 10px 0 0 30px;
}
.comment .commenter--gravatar {
  border-radius: 50%;
  width: 25px;
  vertical-align: bottom;
  margin-right: 5px;
}

.label {
  padding: 4px 8px;
  font-size: 12px;
  text-transform: uppercase;
  color: #79818b;
  border: 2px solid #f0f2f5;
  background-color: #f6f8fa;
  border-radius: 2px;
  display: inline-block;
  margin: 0 4px 4px 0;
  text-decoration: none;
  max-width: 90%;
}

.label:hover {
  text-decoration: none;
}

.selected-label {
  border-bottom: 1px solid #ccc;
  width: 100%;
  position: relative;
  cursor: pointer;
}
.selected-label .material-icons {
  position: absolute;
  bottom: 10px;
  right: 0;
}

.add-label-form .label-dropdown-wrapper {
  position: relative;
  margin-bottom: 10px;
}
.add-label-form fieldset {
  border: none;
  position: absolute;
  top: -500px;
  z-index: -1;
  opacity: 0;
  left: 0px;
  width: 100%;
  margin: 0px;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: white;
  margin: 0;
  -webkit-transition: top 0.25s linear, z-index 0.1s step-start,
    opacity 0.25s linear;
  -moz-transition: top 0.25s linear, z-index 0.1s step-start,
    opacity 0.25s linear;
  -ms-transition: top 0.25s linear, z-index 0.1s step-start,
    opacity 0.25s linear;
  -o-transition: top 0.25s linear, z-index 0.1s step-start,
    opacity 0.25s lineart;
}
.add-label-form fieldset legend {
  display: none;
}
.add-label-form fieldset.active {
  top: 0;
  z-index: 1;
  opacity: 1;
  -webkit-transition: top 0.25s linear, z-index 0.25s step-end,
    opacity 0.25s linear;
  -moz-transition: top 0.25s linear, z-index 0.25s step-end,
    opacity 0.25s linear;
  -ms-transition: top 0.25s linear, z-index 0.25s step-end, opacity 0.25s linear;
  -o-transition: top 0.25s linear, z-index 0.25s step-end, opacity 0.25s linear;
  transition: top 0.25s linear, z-index 0.25s step-end, opacity 0.25s linear;
}
.add-label-form .listwidget .mui-textfield {
  margin-bottom: 0;
  padding-top: 0;
}
.add-label-form .listwidget .mui-form__label {
  font-size: 16px;
  line-height: 24px;
  overflow: auto;
  margin: 0;
  position: relative;
  color: #1f2d3d;
  padding-left: 20px;
}
.add-label-form .listwidget ul {
  padding-left: 20px;
}
.add-label-form .listwidget .mui-form__label:before,
.add-label-form .listwidget .mui-form__label:after {
  position: absolute;
  content: '';
  display: inline-block;
}
.add-label-form .listwidget .mui-form__label:before {
  height: 13px;
  width: 13px;
  border: 1px solid #ccc;
  left: 0px;
  top: 4px;
  border-radius: 3px;
}
.add-label-form .listwidget .mui-form__label:after {
  height: 4px;
  width: 8px;
  border-left: 1.4px solid #fff;
  border-bottom: 1.2px solid #fff;
  transform: rotate(-61deg);
  left: 2px;
  top: 8px;
}
.add-label-form .listwidget .mui-form__label:after {
  content: none;
}
.add-label-form .listwidget .mui-form__label.checked:before {
  background: #3a99fc;
  border: none;
}
.add-label-form .listwidget .mui-form__label.checked:after {
  content: '';
}
.add-label-form .mui-checkbox {
  margin-bottom: 0;
}

.proposal-list-header {
  margin: 1px 0 0;
  width: 100%;
  background: #eff2f7;
  padding: 20px;
}

.proposal-list-table {
  width: 100%;
  border-spacing: 0;
}
.proposal-list-table tbody > tr > td {
  border: 1px solid #eff2f7;
  border-top: 0;
}
.proposal-list-table tbody > tr > td .speaker-details {
  margin-bottom: 16px;
}

.search-proposal-form {
  width: 100%;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid rgba(132, 146, 166, 0.3);
}
.search-proposal-form .mui-textfield {
  padding-top: 5px;
}
.search-proposal-form .mui-textfield > input {
  border-bottom: 0;
}

@media (min-width: 1200px) {
  .search-proposal-form {
    width: 50%;
  }
}
.schedule-grid {
  padding: 0;
}
.schedule-grid .schedule {
  margin: 30px 0;
}
.schedule-grid .schedule .schedule__date {
  margin-bottom: 30px;
  padding-left: 15px;
}
.schedule-grid .schedule .schedule__row {
  display: flex;
}
.schedule-grid
  .schedule
  .schedule__row
  .schedule__row__column
  .schedule__row__column__content {
  background-color: #fff;
  width: 100%;
  padding: 5px 15px;
  border-bottom: 1px solid rgba(132, 146, 166, 0.3);
  word-break: break-word;
}
.schedule-grid
  .schedule
  .schedule__row
  .schedule__row__column
  .schedule__row__column__content
  .schedule__row__column__content__title {
  width: calc(100% - 24px);
}
.schedule-grid
  .schedule
  .schedule__row
  .schedule__row__column
  .schedule__row__column__content
  .schedule__row__column__content__title
  .schedule__row__column__content__title__heading {
  cursor: pointer;
  font-weight: bold;
}
.schedule-grid
  .schedule
  .schedule__row
  .schedule__row__column
  .schedule__row__column__content
  .schedule__row__column__content__title
  .schedule__row__column__content__title__heading:hover {
  color: #4a90e2;
}
.schedule-grid
  .schedule
  .schedule__row
  .schedule__row__column
  .schedule__row__column__content
  .schedule__row__column__content__description {
  clear: both;
  padding-top: 15px;
  padding-bottom: 15px;
  word-break: break-word;
}
.schedule-grid
  .schedule
  .schedule__row
  .schedule__row__column
  .schedule__row__column__content
  .schedule__row__column__content__description
  img {
  width: 100%;
}
.schedule-grid
  .schedule
  .schedule__row
  .schedule__row__column
  .schedule__row__column__content
  p {
  margin: 0;
}
.schedule-grid
  .schedule
  .schedule__row
  .schedule__row__column
  .schedule__row__column__content__title__duration {
  position: -webkit-sticky;
  position: sticky;
  top: 165px;
  color: #e05f26;
  z-index: 4;
  background-color: #f9fafc;
  float: right;
  padding: 5px;
  border-radius: 3px;
  line-height: 1;
}
.schedule-grid .schedule .schedule__row .schedule__row__column.js-active {
  display: block;
}
.schedule-grid .schedule .schedule__row .schedule__row__column--talks {
  cursor: pointer;
}
.schedule-grid .schedule .schedule__row.js-active {
  display: flex;
}
.schedule-grid .schedule .schedule__row--hide {
  display: none;
}
.schedule-grid .schedule .schedule__row:before,
.schedule-grid .schedule .schedule__row:after {
  content: ' ';
  display: table;
}
.schedule-grid .schedule .schedule__row--sticky {
  display: flex;
  max-width: 100%;
  overflow-x: auto;
  position: sticky;
  position: -webkit-sticky;
  top: 62px;
  order: 1;
  z-index: 999;
  border: none;
  display: flex;
  box-shadow: 0 2px 2px -1px rgba(158, 158, 158, 0.24);
}
.schedule-grid .schedule .schedule__row--sticky .schedule__row__column--header {
  display: flex !important;
  padding: 0 5px;
  margin: 0;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  background-image: none !important;
  border-bottom: 2px solid rgba(132, 146, 166, 0.3);
  min-height: 50px;
  min-width: 100px;
  width: 100% !important;
}
.schedule-grid
  .schedule
  .schedule__row--sticky
  .schedule__row__column--header.js-tab-active {
  border-bottom: 2px solid #856a91;
}
.schedule-grid .schedule .schedule__row--sticky .schedule__row__column--time {
  display: none;
}
.schedule-grid
  .schedule
  .schedule__row--sticky
  .schedule__row__column--time--pointer {
  cursor: pointer;
}
.schedule-grid
  .schedule
  .schedule__row--sticky
  .schedule__row__column--time--header {
  padding-top: 12px;
}

@media (max-width: 767px) {
  .schedule .schedule__row {
    display: none;
    height: auto !important;
  }
  .schedule .schedule__row .schedule__row__column {
    display: none;
  }
  .schedule
    .schedule__row
    .schedule__row__column
    .schedule__row__column__content {
    min-height: 50px;
  }
  .schedule .schedule__row--sticky {
    display: flex;
  }
  .schedule .schedule__row.js-active {
    display: flex;
  }
  .schedule .schedule__row.js-active .schedule__row__column.js-active {
    display: block;
  }
}
@media (min-width: 768px) {
  .schedule-grid {
    padding: 0 15px;
  }
  .schedule-grid .schedule .schedule__date {
    padding-left: 0;
  }
  .schedule-grid .schedule .schedule__row .schedule__row__column {
    position: relative;
    background-image: url('../img/schedule-box-background.png?1553065764');
    background-size: 20px 10px;
  }
  .schedule-grid
    .schedule
    .schedule__row
    .schedule__row__column
    .schedule__row__column__content--calendar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    border: 0;
    overflow: hidden;
  }
  .schedule-grid
    .schedule
    .schedule__row
    .schedule__row__column
    .schedule__row__column__content--overflow:before {
    content: '';
    position: absolute;
    left: 1px;
    right: 1px;
    bottom: 0;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.2) 10%,
      #ffffff 60%
    );
    z-index: 3;
    padding: 20px 0 0;
  }
  .schedule-grid
    .schedule
    .schedule__row
    .schedule__row__column
    .schedule__row__column__content {
    outline: 1px solid rgba(132, 146, 166, 0.3);
    width: calc(100% - 1px);
    height: 100%;
  }
  .schedule-grid
    .schedule
    .schedule__row
    .schedule__row__column
    .schedule__row__column__content
    .schedule__row__column__content__title__duration {
    top: 205px;
  }
  .schedule-grid
    .schedule
    .schedule__row
    .schedule__row__column--1
    .schedule__row__column__content {
    width: 100%;
  }
  .schedule-grid .schedule .schedule__row .schedule__row__column--time {
    display: block;
    background-image: none;
    border-bottom: 0;
    margin: 0;
    background-color: #fff;
    display: block;
    padding: 2px 0 0;
    text-align: center;
    color: #f0a40c;
    text-decoration: none;
    line-height: 1;
    margin: 0;
  }
  .schedule-grid
    .schedule
    .schedule__row
    .schedule__row__column--time--pointer {
    cursor: pointer;
    height: 100%;
  }
  .schedule-grid .schedule .schedule__row--sticky {
    overflow: visible;
    top: 108px;
  }
  .schedule-grid
    .schedule
    .schedule__row--sticky
    .schedule__row__column--header {
    padding: 15px 10px;
    outline: 1px solid rgba(132, 146, 166, 0.3);
    border: none !important;
  }
  .schedule-grid
    .schedule
    .schedule__row--sticky
    .schedule__row__column--time--header {
    display: block;
    padding-top: 12px;
  }
  .schedule-grid
    .schedule
    .schedule__row--calendar
    .schedule__row__column
    .schedule__row__column__content
    .schedule__row__column__content__title__duration {
    display: none;
  }
}
@media (min-device-width: 768px) and (max-device-width: 1200px) and (orientation: landscape) {
  .schedule-grid .schedule .schedule__row--sticky {
    top: 93px;
  }
}
.calendar-wrapper {
  position: relative;
}
.calendar-wrapper .datepicker-wrapper .mui-textfield {
  width: auto;
}
.calendar-wrapper .datepicker-wrapper input {
  width: auto;
  margin: 0;
  font-size: 16px;
}
.calendar-wrapper .datepicker-wrapper .datepicker-wrapper__tz {
  padding-top: 18px;
  margin-left: 5px;
}

@media (min-device-width: 768px) {
  .calendar-wrapper {
    position: relative;
  }
  .calendar-wrapper .datepicker-wrapper {
    position: absolute;
    width: 100%;
    top: -18px;
  }
}
.session-modal {
  max-width: 98%;
  width: 98%;
  vertical-align: top;
}

.session-modal--nopadding {
  padding: 0;
}
.session-modal--nopadding .modal__header {
  padding: 15px 15px 5px;
  border-bottom: 1px solid rgba(132, 146, 166, 0.3);
}
.session-modal--nopadding .modal__body {
  padding: 15px;
}
.session-modal--nopadding .session-modal__title {
  margin-top: 15px;
  margin-bottom: 0;
  font-weight: bold;
}

@media (min-width: 1200px) {
  .session-modal {
    width: 90%;
    vertical-align: middle;
  }
}
.room__title,
.subscibe-title {
  border: 0;
  border-radius: 4px;
  font-weight: 200;
  padding: 15px 10px;
}

.room__title__subsc-btn {
  float: right;
  position: relative;
  top: -9px;
}

/* Calendar session */
.calendar-wrapper .fc-header-title {
  display: none;
}

.calendar-wrapper__heading {
  margin-top: 70px;
}

.fc-event .fc-event-custom {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 40;
  display: none;
}

.fc-event:hover .fc-event-custom {
  display: block;
  padding: 1px 5px;
  background: #fff;
  background: rgba(255, 255, 255, 0.6);
  border-top-left-radius: 3px;
}

.fc-event .fc-event-custom a {
  font-weight: bolder;
  color: #c33;
  font-size: 1.2em;
}

.fc-event .fc-event-custom a:hover {
  color: #c00;
  text-decoration: none;
}

.proposal-box,
body > .proposal-box.ui-draggable {
  margin: 10px 0;
  padding: 2px 4px;
  background: #fff;
  color: #333;
  border-radius: 3px;
  border: 1px solid #333;
  font-size: 0.85em;
  cursor: pointer;
}

.schedule-settings {
  margin-top: 10px;
}

.label-box {
  margin: 10px 0;
  padding: 10px;
}
.label-box .label-box__icon {
  float: left;
  margin-top: 15px;
}
.label-box .label-box__icon--right {
  padding: 0 15px;
  box-shadow: none;
  border: none;
  cursor: pointer;
}
.label-box .label-box__heading {
  margin: 15px 10px;
  display: inline-block;
}
@media (min-width: 1200px) {
  .label-box .sublabel-wrapper {
    display: inline-block;
    max-width: 80%;
    vertical-align: middle;
    margin-top: -5px;
  }
}
.label-box .label-box__subheading {
  margin-right: 10px;
}
.label-box .label-box__action {
  float: right;
}
.label-box .label-box__icon-wrapper {
  position: absolute;
  top: 10px;
  right: 0;
}

.label-box--new {
  margin: 15px auto 35px;
  width: 100%;
  max-width: 500px;
}
.label-box--new a:hover {
  text-decoration: none;
}

.snippets {
  margin-top: 8px;
  padding: 8px 8px 8px 28px;
  border: 1px solid rgba(132, 146, 166, 0.3);
  position: relative;
}

.search-icon {
  width: 20px;
  display: inline-block;
  position: absolute;
  left: 8px;
}

.search-icon:after {
  content: '🔍';
  opacity: 0.4;
  position: relative;
  top: 1px;
}

.contact-download-btn {
  position: relative;
  top: 6px;
  left: -6px;
}

.scanner-wrapper {
  position: relative;
  margin: auto;
  text-align: center;
}
.scanner-wrapper .scanner-wrapper__camera {
  width: 100vh;
  max-width: 100% !important;
}
.scanner-wrapper .scanner-wrapper__badge--icon {
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  color: #fff;
  z-index: 1001;
  font-size: 100px;
  opacity: 0.5;
}

.scanned-contacts {
  padding: 32px;
  max-width: 600px;
  margin: auto;
}

@media (min-width: 1200px) {
  .scanner-wrapper {
    float: left;
    padding: 32px;
    text-align: left;
    width: auto;
  }

  .scanner-wrapper--center {
    float: none;
    margin: auto;
    text-align: center;
  }

  .scanned-contacts {
    float: right;
    width: 30%;
    padding: 32px;
  }
}
.camera-dropdown {
  display: inline-block;
}
.camera-dropdown .mui-select__menu {
  display: block !important;
}

.footer {
  padding-bottom: 50px;
  margin-top: 0;
}

@media (min-width: 1200px) {
  .footer {
    padding-bottom: 0;
  }
}
