.zero-bottom-margin {
  margin-bottom: 0;
}

.mui-btn--nomargin {
  margin-top: 0;
  margin-bottom: 0;
}

.separator {
  padding: 0 5px;
}

.image-wrapper img {
  max-width: 100%;
  display: block;
}

.list-item-rgborder li {
  border-right: 1px solid;
  border-radius: 0;
  padding-right: 10px;
  line-height: 1;
}

.list-item-rgborder li:last-child,
.list-item-rgborder li.no-border {
  border-right: none;
  padding-right: 5px;
}

.list-item-rgborder .icon-middle {
  vertical-align: middle;
  position: relative;
  top: -2px;
}

.mui-divider--custom {
  margin: 5px 0 20px;
}

.btn-group .mui-btn {
  margin-right: 5px;
}

.content-head--top-padding {
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(132, 146, 166, 0.3);
}

.page-content {
  padding-top: 2em;
}

@media (min-width: 992px) {
  .page-content--top-padding {
    padding-top: 3em;
  }
}
.nounderline {
  text-decoration: none !important;
}

#qrreader-canvas {
  max-width: 100%;
}

.badge {
  position: relative;
  color: #fff;
  width: 15px;
  line-height: 15px;
  height: 15px;
  text-align: center;
  display: inline-block;
  background-color: #856A91;
  border-radius: 50%;
}

.select2-inline {
  display: inline-block;
  margin-right: 5px;
}

#qrreader-canvas {
  max-width: 100%;
}

.spinner {
  position: relative;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.collapsible__icon {
  cursor: pointer;
}

.collapsible__body {
  display: none;
}

.mui-list--border li {
  border-bottom: 1px solid rgba(132, 146, 166, 0.2);
  padding: 5px;
}

.mui-list--border li:last-child {
  border-bottom: none;
}

@media (min-width: 992px) {
  .sticky-admin-panel {
    position: sticky;
    position: -webkit-sticky;
    top: 70px;
    order: 1;
  }
}
@media screen and (max-width: 600px) {
  .fb_iframe_widget {
    overflow-y: scroll;
    width: 100%;
    display: inline-block !important;
  }
}
.header__site-title__item {
  font-size: 18px;
  line-height: 28px;
  position: relative;
  top: -3px;
}

.header__site-title__logo {
  width: 40px;
  vertical-align: middle;
}

.header__site-title__logo--margin {
  margin-right: 10px;
}

.header__site-title__logo--funnel {
  width: 18px;
  position: relative;
  top: -2px;
}

@media (min-width: 768px) {
  .header__site-title__item {
    font-size: 24px;
    line-height: 32px;
    top: 0;
  }
}
.hg-banner {
  padding-top: 2em;
}

.logo-wrapper {
  max-width: 200px;
}

.hg-logo {
  width: 185px;
  height: 139px;
}

.hg-banner .s1 {
  color: #df5e0e;
}
.hg-banner .s2 {
  color: #816894;
}
.hg-banner .s3 {
  color: #f0a40c;
}

.projects {
  padding-top: 15px;
}

.banner {
  position: relative;
  overflow: hidden;
}

@media (min-width: 992px) {
  .banner {
    border-bottom: 2px solid rgba(132, 146, 166, 0.3);
  }
}
.banner__img {
  width: 100%;
  display: block;
}

.banner__headline {
  color: #816894;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  padding: 0 30px;
  z-index: 2;
}

@media (min-width: 992px) {
  .banner__headline {
    position: absolute;
    top: 50%;
    left: 15px;
    right: 0;
    transform: translate(0%, -50%);
    font-size: 24px;
    line-height: 32px;
  }
}
@media (min-width: 1200px) {
  .banner__headline {
    font-size: 32px;
    line-height: 40px;
  }
}
.banner__headline-txt {
  color: #f0a40c;
}

.no-sticky-header .header--fixed {
  position: relative;
}
.no-sticky-header .mui--appbar-height {
  height: 0;
  min-height: 0;
}

.sub-navbar {
  border-bottom: 1px solid rgba(132, 146, 166, 0.3);
  border-top: 1px solid rgba(132, 146, 166, 0.3);
  overflow: scroll;
  display: flex;
  align-items: center;
  padding: 0 1em;
}
.sub-navbar .sub-navbar__item {
  display: inline-block;
  flex-shrink: 0;
  padding: 1em;
  margin: 0 0.5em;
  text-decoration: none;
  color: #1F2D3D;
  font-weight: bold;
  border-bottom: 6px solid transparent;
  transition: border-color 1.5s ease;
}
.sub-navbar .mui-btn {
  margin: 0 0.5em;
}
.sub-navbar .sub-navbar__item:hover,
.sub-navbar .sub-navbar__item:active {
  border-bottom: 6px solid #856A91;
}

.sub-navbar--sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  order: 1;
  z-index: 1000;
}

@media (min-width: 992px) {
  .sub-navbar {
    margin-top: 2em;
    justify-content: center;
  }
}
.clickable-card {
  color: #1F2D3D;
  display: block;
}

.clickable-card:focus,
.clickable-card:hover,
.clickable-card:active {
  color: #1F2D3D;
  outline: none;
  text-decoration: none;
}

.card__image-wrapper {
  min-height: 126px;
  position: relative;
}

.card__image--default {
  background-color: #F6EDE3;
  min-height: 125px;
}

.card__image__tagline {
  position: absolute;
  color: #333;
  top: 35%;
  left: 16px;
  right: 16px;
  text-align: center;
  font-size: 18px;
}

@media (min-width: 768px) {
  .card__image__tagline {
    font-size: 24px;
  }
}
.profile-details {
  display: flex;
  align-items: center;
  margin: 15px 0;
}
.profile-details .profile-details__logo {
  width: 55px;
  margin-right: 15px;
}
.profile-details .profile-details__title {
  word-break: break-all;
}

@media (min-width: 992px) {
  .desktop-head {
    margin-top: 30px;
  }

  .profile-details {
    display: block;
    float: left;
    max-width: 15%;
    margin-right: 20px;
  }

  .project-details {
    max-width: calc(100% - 15% - 20px);
  }
}
.projects {
  padding-top: 15px;
}

.section-bottom-border {
  border-bottom: 2px solid rgba(132, 146, 166, 0.3);
}

.project-section {
  padding-top: 45px;
}

.project-banner {
  padding: 15px 1em;
}
.project-banner .project-banner__box__video {
  padding-bottom: 56%;
  position: relative;
}
.project-banner .project-banner__box__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: block;
}
.project-banner .project-banner__box__image {
  width: 100%;
  display: block;
}

@media (max-width: 991px) {
  .headline {
    max-width: none;
    padding: 0;
  }

  .project-banner {
    padding: 0;
  }

  .xs-sm-padding {
    padding: 0 2em;
  }
}
.date-wrapper {
  margin: 10px 0;
}

.date-icon,
.date-details {
  float: left;
}

.date-details {
  margin: 5px 0 0 15px;
  width: calc(100% - 47px);
}

.date-details__label {
  text-transform: uppercase;
}

.project-btn-wrapper {
  position: relative;
  margin: 10px 0 0;
  text-align: left;
  min-width: 340px;
  width: 31%;
}
.project-btn-wrapper li {
  width: auto;
  padding: 0;
}
.project-btn-wrapper .cta {
  display: block;
}
.project-btn-wrapper .cta .mui-btn {
  display: block;
}
.project-btn-wrapper .float-btn {
  float: right;
}
.project-btn-wrapper .mui-btn {
  display: inline-block;
}

@media (min-width: 1200px) {
  .project-btn-wrapper .cta {
    display: block;
  }
}
@media (min-width: 992px) {
  .details-section {
    flex-direction: row-reverse;
  }
}
.session-image {
  max-height: 280px;
  position: relative;
  overflow: hidden;
}

.session-content {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.project-section #boxoffice-widget {
  padding-top: 0;
  width: 100%;
  max-width: none;
}

.project-section #boxoffice-widget .ticket-title {
  color: inherit;
}

.project-section__headline {
  font-weight: bold;
}

.project-section__description h1,
.project-section__description h2,
.project-section__description h3,
.project-section__description h4,
.project-section__description h5,
.project-section__instructions h1,
.project-section__instructions h2,
.project-section__instructions h3,
.project-section__instructions h4,
.project-section__instructions h5 {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}

.project-section__description img,
.project-section__instructions img {
  width: 100%;
}

.project-section__map {
  height: 400px;
  width: 100%;
  z-index: 0;
  margin-top: 15px;
  position: relative;
  outline: none;
}

.proposal-list-wrapper {
  width: 100%;
}

.search-proposal-form {
  width: 100%;
  margin-bottom: 10px;
}

@media (min-width: 992px) {
  .search-proposal-form {
    width: 300px;
  }
}
.proposal-wrapper {
  border-radius: 4px;
  border: 1px solid rgba(132, 146, 166, 0.3);
  box-shadow: 0 1px 3px rgba(158, 158, 158, 0.12), 0 1px 2px rgba(158, 158, 158, 0.24);
  padding: 0;
  margin-bottom: 70px;
  position: relative;
}

.slider-btn {
  position: absolute;
  top: 5px;
  z-index: 2;
}

.slider-btn .mui-btn {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  padding: 0;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
}

.slider-btn .material-icons {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
}

.slider-btn--left {
  left: 0;
}

.slider-btn--right {
  right: 0;
}

.proposal__section__headline {
  margin-top: 40px;
}

@media (min-width: 768px) {
  .slider-btn--left {
    left: -15px;
  }

  .slider-btn--right {
    right: -15px;
  }
}
@media (min-width: 1300px) {
  .proposal-wrapper {
    margin-bottom: 15px;
  }

  .slider-btn {
    top: 50px;
  }

  .slider-btn--left {
    left: -80px;
  }

  .slider-btn--right {
    right: -80px;
  }

  .proposal__section__headline {
    margin-top: 0px;
  }
}
.proposal-status-wrapper {
  margin: 0 0 0.5em;
}

.proposal__section {
  padding: 1em;
}

.proposal__section--border {
  border-bottom: 1px solid rgba(132, 146, 166, 0.3);
}

.proposal-status-wrapper .grid .columns,
.proposal__section .grid .columns {
  padding: 0 2em 0 0;
}

@media (min-width: 992px) {
  .proposal__section--left {
    float: left;
    width: 70%;
    padding-bottom: 2em;
  }

  .proposal__admin-panel {
    float: right;
    width: calc(30% - 2em);
    margin-right: 1em;
    margin-top: 2em;
  }
}
.proposal__section--bleed-y {
  padding: 1em 0;
}

.proposal__section--heading {
  margin-bottom: 1em;
}

.proposal-details {
  margin-top: 15px;
}

.proposal-video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56%;
  background-color: #EFF2F7;
}
.proposal-video .video_txt {
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}
.proposal-video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: block;
}
.proposal-video .no-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  color: #8492A6;
}

@media (min-width: 992px) {
  .proposal-video {
    min-width: 300px;
  }

  .proposal-details {
    margin-top: 30px;
  }

  .proposal-details--left {
    float: left;
  }

  .proposal-details--right {
    float: right;
    max-width: 50%;
  }
}
@media (min-width: 1200px) {
  .proposal-video {
    min-width: 500px;
  }
}
.proposal-move-form div {
  display: inline-block;
}

.proposal-move-form .hg-form {
  margin-top: 13px;
}

.proposal-move-form .hg-form .mui-btn {
  margin-left: 5px;
}

.proposal-move-form .select2-container {
  margin-top: -11px;
}

.proposal-move-form label {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  top: -33px;
  color: #1F2D3D;
}

.vote-wrapper {
  margin-top: 0.5em;
}

.vote-wrapper form {
  display: inline-block;
}

.action-btn {
  border: none;
  background: none;
  cursor: pointer;
  line-height: 28px;
}

.action-btn--login {
  padding: 6px 15px;
  line-height: 17px;
}

.action-btn__icons {
  line-height: 0;
  font-weight: bold;
  position: relative;
  top: 7px;
  right: 2px;
}

.action-btn__icons--small {
  font-size: 16px;
  top: 4px;
}

.action-btn--nopadding {
  padding: 0;
}

.action-btn:hover {
  color: #4A90E2;
}

.proposal__admin-panel .mui-select {
  width: 100%;
}

.proposal__admin-panel .btn-group .mui-btn {
  margin-bottom: 15px;
  margin-right: 20px;
}

@medium (min-width: 1200px) {
  .proposal__admin-panel .btn-group .mui-btn {
    margin-bottom: 10px;
    margin-right: 10px;
  }
}
.proposal-content {
  margin: 2em 0;
  min-height: 100px;
}

.links-list {
  word-break: break-all;
}

.comment {
  margin: 1em 0;
}

.comment--vote,
.comment--content {
  display: inline-block;
}

.comment--vote {
  vertical-align: top;
  width: 20px;
  text-align: center;
  margin-top: 2px;
  margin-right: 5px;
}

.comment--vote--count {
  text-align: center;
  width: 100%;
  display: inline-block;
}

.comment--content {
  width: 90%;
}

.comment--content img {
  max-width: 100%;
}

.comment--body {
  margin: 10px 0 0 20px;
}

.schedule {
  margin: 30px 0;
}
.schedule .schedule__date {
  margin-bottom: 30px;
}
.schedule .schedule__row {
  display: flex;
}
.schedule .schedule__row .schedule__row__column {
  padding: 5px 10px;
  position: relative;
  background: url('../img/schedule-box-background.png?1544526769');
  background-size: 20px 10px;
}
.schedule .schedule__row .schedule__row__column .schedule__row__column__content {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: calc(100% - 1px);
  height: 100%;
  padding: 5px 15px 0;
  border: 0;
  outline: 1px solid rgba(132, 146, 166, 0.3);
  overflow: hidden;
}
.schedule .schedule__row .schedule__row__column .schedule__row__column__content .schedule__row__column__content__title {
  float: left;
  width: calc(100% - 24px);
}
.schedule .schedule__row .schedule__row__column .schedule__row__column__content .schedule__row__column__content__title .schedule__row__column__content__title__heading {
  cursor: pointer;
}
.schedule .schedule__row .schedule__row__column .schedule__row__column__content .schedule__row__column__content__title .schedule__row__column__content__title__heading:hover {
  color: #4A90E2;
}
.schedule .schedule__row .schedule__row__column .schedule__row__column__content .schedule__row__column__content__decription {
  clear: both;
  padding-top: 15px;
  word-break: break-all;
  overflow: hidden;
}
.schedule .schedule__row .schedule__row__column .schedule__row__column__content .schedule__row__column__content__decription img {
  width: 100%;
}
.schedule .schedule__row .schedule__row__column .schedule__row__column__content p {
  margin: 0 0 5px;
}
.schedule .schedule__row .schedule__row__column .schedule__row__column__content--overflow:before {
  content: '';
  position: absolute;
  left: 1px;
  right: 1px;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #ffffff 80%, #ffffff 100%);
  z-index: 3;
  padding: 30px 0 0;
}
.schedule .schedule__row .schedule__row__column .schedule__row__column__content__title__duration {
  display: none;
}
.schedule .schedule__row .schedule__row__column--header {
  padding: 15px 10px;
  background-color: #fff;
  background-image: none;
  border-top: 1px solid rgba(132, 146, 166, 0.3);
  border-left: 1px solid rgba(132, 146, 166, 0.3);
  border-bottom: 3px solid #856A91;
  display: block;
}
.schedule .schedule__row .schedule__row__column--header:last-child {
  border-right: 1px solid rgba(132, 146, 166, 0.3);
}
.schedule .schedule__row .schedule__row__column--header:nth-child(2) {
  border-radius: 2px 0 0 0;
}
.schedule .schedule__row .schedule__row__column--header:last-child {
  border-radius: 0 2px 0 0;
}
.schedule .schedule__row .schedule__row__column--time {
  background-image: none;
  border-bottom: 1px solid rgba(132, 146, 166, 0.3);
  margin: 0;
  background-color: #fff;
  display: block;
  padding: 8px 0 0;
  text-align: center;
  color: #F0A40C;
  text-decoration: none;
  line-height: 1;
}
.schedule .schedule__row .schedule__row__column--time--pointer {
  cursor: pointer;
}
.schedule .schedule__row .schedule__row__column--time--header {
  padding-top: 12px;
}
.schedule .schedule__row .schedule__row__column--talks {
  cursor: pointer;
}
.schedule .schedule__row:before,
.schedule .schedule__row:after {
  content: " ";
  display: table;
}
.schedule .schedule__row--sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 50px;
  order: 1;
  z-index: 5;
  border: none;
  display: flex;
}

@media (max-width: 992px) {
  .schedule .schedule__row {
    display: none;
  }
  .schedule .schedule__row .schedule__row__column--time {
    display: none;
  }
  .schedule .schedule__row .schedule__row__column--header {
    border-bottom: 3px solid rgba(132, 146, 166, 0.3);
  }
  .schedule .schedule__row .schedule__row__column--header.js-tab-active {
    border-bottom: 3px solid #856A91;
  }
  .schedule .schedule__row .schedule__row__column {
    display: none;
  }
  .schedule .schedule__row .schedule__row__column.js-active {
    display: block;
    height: 150px !important;
  }
  .schedule .schedule__row .schedule__row__column .schedule__row__column__content {
    height: 150px !important;
  }
  .schedule .schedule__row .schedule__row__column .schedule__row__column__content .schedule__row__column__content__title__duration {
    display: block;
  }
  .schedule .schedule__row.js-active {
    display: flex;
    height: 150px !important;
  }
  .schedule .schedule__row.schedule__row--sticky {
    display: flex;
  }
  .schedule .schedule__row.schedule__row--sticky .schedule__row__column {
    display: flex;
    cursor: pointer;
  }
  .schedule .schedule__row.schedule__row--sticky .schedule__row__column--time {
    display: none;
  }
}
.session-modal--nopadding {
  padding: 0;
}
.session-modal--nopadding .modal__header, .session-modal--nopadding .modal__body {
  padding: 1em;
}

.footer {
  padding-bottom: 50px;
}

@media (min-width: 768px) {
  .footer {
    padding-bottom: 0;
  }
}
