.zero-bottom-margin {
  margin-bottom: 0;
}

.separator {
  padding: 0 5px;
}

.mui-divider--custom {
  margin: 5px 0 20px;
}

.btn-group .mui-btn {
  margin-right: 5px;
}

.content-head--top-padding {
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(132, 146, 166, 0.3);
}

.banner {
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(132, 146, 166, 0.3);
}

.banner__img {
  width: 100%;
  min-height: 200px;
}

.banner__img--web {
  display: none;
}

@media (min-width: 768px) {
  .banner__img--mobile {
    display: none;
  }

  .banner__img--web {
    display: block;
  }
}
@media (min-width: 1200px) {
  .banner__img--web {
    min-height: 330px;
  }
}
.banner__headline {
  position: absolute;
  top: 50%;
  left: 15px;
  right: 0;
  transform: translate(0%, -50%);
  color: #816894;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  padding: 0 15px;
  z-index: 2;
}

.banner__headline-txt {
  color: #f0a40c;
}

@media (min-width: 1200px) {
  .banner__headline {
    font-size: 48px;
    line-height: 58px;
  }
}
.page-content {
  padding-top: 2em;
}

@media (min-width: 768px) {
  .page-content--top-padding {
    padding-top: 3em;
  }
}
.spaces {
  padding-top: 1em;
}

@media (min-width: 768px) {
  .spaces {
    padding-top: 3em;
  }
}
.nounderline {
  text-decoration: none !important;
}

.site-banner__title {
  margin: 0 auto 1em;
}

.clickable-card {
  color: #1F2D3D;
}

.clickable-card:focus,
.clickable-card:hover,
.clickable-card:active {
  color: #1F2D3D;
  outline: none;
  text-decoration: none;
}

.card__image-wrapper {
  min-height: 126px;
  position: relative;
}

.card__image--default {
  background-color: #F6EDE3;
  min-height: 125px;
}

.card__image__tagline {
  position: absolute;
  color: #333;
  top: 35%;
  left: 16px;
  right: 16px;
  text-align: center;
  font-size: 18px;
}

@media (min-width: 768px) {
  .card__image__tagline {
    font-size: 24px;
  }
}
.space-description img {
  width: 100%;
}

.space-description h2 {
  margin-top: 24px;
  font-weight: 700;
}

#qrreader-canvas {
  max-width: 100%;
}

.badge {
  position: relative;
  color: #fff;
  width: 15px;
  line-height: 15px;
  height: 15px;
  text-align: center;
  display: inline-block;
  background-color: #856A91;
  border-radius: 50%;
}

.select2-inline {
  display: inline-block;
  margin-right: 5px;
}

.proposal-list-wrapper {
  margin-top: 1em;
}

@media (min-width: 768px) {
  .details-section {
    flex-direction: row-reverse;
  }

  .sticky-admin-panel {
    position: sticky;
    position: -webkit-sticky;
    top: 70px;
    order: 1;
  }
}
.proposal-wrapper {
  border-radius: 4px;
  border: 1px solid rgba(132, 146, 166, 0.3);
  box-shadow: 0 1px 3px rgba(158, 158, 158, 0.12), 0 1px 2px rgba(158, 158, 158, 0.24);
  padding: 0;
  margin-bottom: 70px;
  position: relative;
}

.slider-btn {
  position: absolute;
  bottom: -75px;
}

.slider-btn--left {
  left: calc(50% - 70px);
}

.slider-btn--right {
  right: calc(50% - 70px);
}

@media (min-width: 1200px) {
  .proposal-wrapper {
    margin-bottom: 15px;
  }

  .slider-btn {
    top: 50px;
  }

  .slider-btn--left {
    left: -80px;
  }

  .slider-btn--right {
    right: -80px;
  }
}
.proposal-status-wrapper {
  margin: 0 0 0.5em;
}

.proposal__section {
  padding: 1em;
}

.proposal__section--border {
  border-bottom: 1px solid rgba(132, 146, 166, 0.3);
}

.proposal-status-wrapper .grid .columns,
.proposal__section .grid .columns {
  padding: 0 2em 0 0;
}

@media (min-width: 1200px) {
  .proposal-status-wrapper .grid .columns,
  .proposal__section .grid .columns {
    padding: 0 2em;
  }

  .proposal-status-wrapper .grid .columns:first-child,
  .proposal__section .grid .columns:first-child {
    padding: 0 2em 0 0;
  }

  .proposal__section--left {
    float: left;
    width: 70%;
    padding-bottom: 2em;
  }

  .proposal__admin-panel {
    float: right;
    width: calc(30% - 2em);
    margin-right: 1em;
    margin-top: 2em;
  }
}
.proposal__section--bleed-y {
  padding: 1em 0;
}

.proposal__section--heading {
  margin-bottom: 1em;
}

.proposal-details {
  margin-top: 15px;
  min-height: 170px;
}

.proposal-video {
  width: 100%;
  min-width: 300px;
  min-height: 140px;
  position: relative;
  background-color: #EFF2F7;
}
.proposal-video .video_txt {
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}
.proposal-video iframe {
  width: 100%;
  height: 250px;
  display: block;
}
.proposal-video .no-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  color: #8492A6;
}

@media (min-width: 960px) {
  .proposal-details {
    margin-top: 30px;
  }

  .proposal-details--left {
    float: left;
  }

  .proposal-details--right {
    float: right;
  }

  .proposal-video iframe {
    width: 450px;
    height: 250px;
  }
}
@media (min-width: 1200px) {
  .proposal-video iframe {
    width: 500px;
    height: 280px;
  }
}
.proposal-move-form div {
  display: inline-block;
}

.proposal-move-form .hg-form {
  margin-top: 13px;
}

.proposal-move-form .hg-form .mui-btn {
  margin-left: 5px;
}

.proposal-move-form .select2-container {
  margin-top: -11px;
}

.proposal-move-form label {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  top: -33px;
  color: #1F2D3D;
}

.vote-wrapper {
  border: 2px solid rgba(132, 146, 166, 0.3);
  margin-top: 0.5em;
}

.count {
  min-width: 70px;
  text-align: center;
}

.action-btn {
  border: none;
  background: none;
  cursor: pointer;
  line-height: 28px;
}

.action-btn--left {
  border-right: 2px solid rgba(132, 146, 166, 0.3);
}

.action-btn--right {
  border-left: 2px solid rgba(132, 146, 166, 0.3);
}

.action-btn--login {
  padding: 6px 15px;
  line-height: 17px;
}

.action-btn__icons {
  line-height: 0;
  font-weight: bold;
  position: relative;
  top: 7px;
  right: 2px;
}

.action-btn__icons--small {
  font-size: 16px;
  top: 4px;
}

.action-btn--nopadding {
  padding: 0;
}

.action-btn:hover {
  color: #4A90E2;
}

.proposal-content {
  margin: 2em 0;
  min-height: 100px;
}

.comment {
  margin: 1em 0;
}

.comment--vote,
.comment--content {
  display: inline-block;
}

.comment--vote {
  vertical-align: top;
  width: 20px;
  text-align: center;
  margin-top: 2px;
  margin-right: 5px;
}

.comment--vote--count {
  text-align: center;
  width: 100%;
  display: inline-block;
}

.comment--content {
  width: 90%;
}

.comment--content img {
  max-width: 100%;
}

.comment--body {
  margin: 10px 0 0 20px;
}

#qrreader-canvas {
  max-width: 100%;
}
