body.bp {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: black;
  background: none;
  font-size: 10pt;
}
body.bp .container {
  background: none;
}
body.bp hr {
  background: #cccccc;
  color: #cccccc;
  width: 100%;
  height: 2px;
  margin: 2em 0;
  padding: 0;
  border: none;
}
body.bp hr.space {
  background: white;
  color: white;
}
body.bp h1, body.bp h2, body.bp h3, body.bp h4, body.bp h5, body.bp h6 {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
body.bp code {
  font-size: 0.9em;
  font-family: "andale mono", "lucida console", monospace;
}
body.bp a img {
  border: none;
}
body.bp a:link, body.bp a:visited {
  background: transparent;
  font-weight: 700;
  text-decoration: underline;
}
body.bp p img.top {
  margin-top: 0;
}
body.bp blockquote {
  margin: 1.5em;
  padding: 1em;
  font-style: italic;
  font-size: 0.9em;
}
body.bp .small {
  font-size: 0.9em;
}
body.bp .large {
  font-size: 1.1em;
}
body.bp .quiet {
  color: #999999;
}
body.bp .hide {
  display: none;
}

@media print {
  * {
    background: transparent !important;
    color: #444 !important;
    text-shadow: none !important;
  }

  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  a:after {
    content: " (" attr(href) ")";
  }

  abbr:after {
    content: " (" attr(title) ")";
  }

  .ir a:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
}

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}
#logo {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../img/logo.png?1377200986');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 110px;
  height: 75px;
  height: 75px;
}

#hg-networkbar.navbar .navbar-brand {
  padding: 0;
  display: block;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../img/logo.png?1377200986');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 110px;
  height: 75px;
  height: 48px;
  background-position: left center;
  background-size: auto 100%;
  background-repeat: none;
  text-indent: -1000px;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
}
