{% extends "inc/layout.html" %}
{% from "inc/forms.html" import renderfield %}
{% from "inc/comments.html" import commenttree %}
{% block title %}{{ proposal.title }} &mdash; {{ space.title }}{% endblock %}
{% block heading %}{# Inhibit display of page-level title #}{% endblock %}
{% block content %}
{#<p style="margin-top: 0; font-size: 80%;">
  <a href="{{ url_for('viewspace', name=space.name) }}">&larr; Return to {{ space.title }}</a>
  {% if proposal.user == g.user %}| <a href="{{ url_for('editsession', name=space.name, slug=proposal.urlname) }}">Edit this &rarr;</a>{% endif %}
</p>#}
<div class="infosheet">
  <div class="leftear">
    {%- if proposal.getprev() -%}
      <a href="{{ url_for('prevsession', name=space.name, slug=proposal.urlname) }}" title="Previous">&lt;</a>
    {%- else -%}
      <span>&lt;</span>
    {%- endif -%}
  </div>
  <div class="rightear">
    {%- if proposal.getnext() -%}
      <a href="{{ url_for('nextsession', name=space.name, slug=proposal.urlname) }}" title="Next">&gt;</a>
    {%- else -%}
      <span>&gt;</span>
    {%- endif -%}
  </div>
  <div class="section first">
    <div class="votebox">
      {%- set vote = proposal.votes.getvote(g.user) %}
      <div class="choices">

        {%- if not vote %}
          <a class="votechoice" title="Vote up" href="{{ url_for('voteupsession', name=space.name, slug=proposal.urlname) }}">+1</a>
          <a class="votechoice" title="Vote down" href="{{ url_for('votedownsession', name=space.name, slug=proposal.urlname) }}">-1</a>
        {%- elif vote.votedown %}
          <a class="votechoice" title="Vote up" href="{{ url_for('voteupsession', name=space.name, slug=proposal.urlname) }}">+1</a>
          <a class="votechoice selected" title="Withdraw vote" href="{{ url_for('votecancelsession', name=space.name, slug=proposal.urlname) }}">-1</a>
        {%- else %}
          <a class="votechoice selected" title="Withdraw vote" href="{{ url_for('votecancelsession', name=space.name, slug=proposal.urlname) }}">+1</a>
          <a class="votechoice" title="Vote down" href="{{ url_for('votedownsession', name=space.name, slug=proposal.urlname) }}">-1</a>
        {% endif %}
        <span class="indicator">&rarr;</span>
        <span class="score">
          {%- if proposal.votes.count > 0 -%}
            +
          {%- endif -%}
          {{ proposal.votes.count }}</span>
        </div>
      <div class="label">
        Vote on this proposal
      </div>
    </div>
    <h1>{{ proposal.title }}</h1>
    <p>
      by <strong>{{ proposal.user.fullname }}</strong>
      {% if proposal.user == proposal.speaker -%}
        (speaking)
      {%- else -%}
        (proposing)
      {%- endif %}
      {% if proposal.user == g.user -%}
        <small>(that’s you! <a href="{{ url_for('editsession', name=space.name, slug=proposal.urlname) }}">Edit this</a>? <a href="{{ url_for('deletesession', name=space.name, slug=proposal.urlname) }}">Delete this</a>?)</small>
      {%- endif %}
    </p>
    <!-- Social buttons -->
    <div class="social">
      <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="hasgeek">Tweet</a>
      <g:plusone size="medium"></g:plusone>
      <iframe class="facebooklike" src="http://www.facebook.com/plugins/like.php?app_id=114496105304651&amp;href={{ request.url }}&amp;send=false&amp;layout=button_count&amp;width=150&amp;show_faces=false&amp;action=recommend&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:150px; height:21px;" allowTransparency="true"></iframe>
    </div>
  </div>
  <div class="section bar">
    <dl class="bar">
      <dt>Section</dt>
      <dd>{{ proposal.section.title }}</dd>
      <dt>Session type</dt>
      <dd>{{ proposal.session_type }}</dd>
      <dt>Technical level</dt>
      <dd>{{ proposal.technical_level }}</dd>
    </dl>
  </div>
  <div class="section">
    {%- if not proposal.speaker -%}
      <p>
        <em>This is a proposal requesting for someone to speak on this topic.
        If you’d like to speak, leave a comment.</em>
      </p>
    {%- endif -%}
      
    <h2>Objective</h2>
    {{ proposal.objective_html|safe }}
    <h2>Description</h2>
    {{ proposal.description_html|safe }}
    {% if proposal.requirements -%}
      <h2>Requirements</h2>
      {{ proposal.requirements_html|safe }}
    {%- endif %}
    {% if proposal.bio -%}
      <h2>Speaker bio</h2>
      {{ proposal.bio_html|safe }}
    {%- endif %}
{% if proposal.slides or proposal.links %}
  </div>
  <div class="section">
{% endif %}
    {% if proposal.slides %}
      <h2 id="slides">Slides</h2>
      <p>
        <a id="slides-link" href="{{ proposal.slides }}">{{ proposal.slides }}</a>
      </p>
    {% endif %}
    {% if proposal.links %}
      <h2 id="links">Links</h2>
      <ul>
        {% for link in links -%}
          <li>{{ link }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
  <div class="section">
    <h2 id="comments">Comments</h2>
    {% if comments %}
      <ul class="comments">
        {{ commenttree(comments, proposal, g.user, request.base_url) }}
      </ul>
    {% endif %}
    {% if not g.user -%}
      <p>
        <a href="{{ url_for('login') }}">Login with Twitter or Google to leave a comment &rarr;</a>
      </p>
    {% else -%}
      <p id="toplevel-comment" class="hidden">
        <a href="#">Post a comment &rarr;</a>
      </p>
      <form method="POST" id="newcomment">
        <div class="hidden">
          <input type="hidden" name="form.id" value="newcomment"/>
          {{ commentform.hidden_tag() }}
          {{ commentform.parent_id() }}
          {{ commentform.edit_id() }}
        </div>
        <p>
          {{ renderfield(commentform.message) }}
        </p>
        <p>
          <input id="comment-submit" type="submit" value="Post comment"/>
        </p>
      </form>
      <form method="POST" id="delcomment" class="hidden">
        <div class="hidden">
          <input type="hidden" name="form.id" value="delcomment"/>
          {{ delcommentform.hidden_tag() }}
          {{ delcommentform.comment_id() }}
        </div>
        <p>
          Really delete this comment?
          <input id="comment-delete-submit" type="submit" value="Delete"/>
          or <a id="comment-delete-cancel" href="#">cancel</a>
        </p>
      </form>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block footerscripts %}
<script type="text/javascript">
  $(function() {
    commentsInit("{{ request.base_url }}"); // {# FIXME: Potential vulnerability if this isn't JS-encoded #}
    {%- if proposal.slides %}
      $("#slides-link").oembed();
    {%- endif %}
  });
</script>
<script type="text/javascript" src="http://apis.google.com/js/plusone.js"></script>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
{% endblock %}
