{% extends "inc/layout.html" %}
{% from "inc/forms.html" import renderform, ajaxform %}
{% block title %}{{ proposal.title }} &mdash; {{ space.title }}{% endblock %}
{% block heading %}{# Inhibit display of page-level title #}{% endblock %}
{% block content %}
{#<p style="margin-top: 0; font-size: 80%;">
  <a href="{{ url_for('viewspace', name=space.name) }}">&larr; Return to {{ space.title }}</a>
  {% if proposal.user == g.user %}| <a href="{{ url_for('editsession', name=space.name, slug=proposal.urlname) }}">Edit this &rarr;</a>{% endif %}
</p>#}
<div class="infosheet">
  <div class="leftear">
    {%- if proposal.getprev() -%}
      <a href="{{ url_for('prevsession', name=space.name, slug=proposal.urlname) }}" title="Previous">&lt;</a>
    {%- else -%}
      <span>&lt;</span>
    {%- endif -%}
  </div>
  <div class="rightear">
    {%- if proposal.getnext() -%}
      <a href="{{ url_for('nextsession', name=space.name, slug=proposal.urlname) }}" title="Next">&gt;</a>
    {%- else -%}
      <span>&gt;</span>
    {%- endif -%}
  </div>
  <div class="section first">
    <div class="votebox">
      {%- set vote = proposal.votes.getvote(g.user) %}
      <div class="choices">

        {%- if not vote %}
          <a class="votechoice" href="{{ url_for('voteupsession', name=space.name, slug=proposal.urlname) }}">+1</a>
          <a class="votechoice" href="{{ url_for('votedownsession', name=space.name, slug=proposal.urlname) }}">-1</a>
        {%- elif vote.votedown %}
          <a class="votechoice" href="{{ url_for('voteupsession', name=space.name, slug=proposal.urlname) }}">+1</a>
          <a class="votechoice selected" href="{{ url_for('votecancelsession', name=space.name, slug=proposal.urlname) }}">-1</a>
        {%- else %}
          <a class="votechoice selected" href="{{ url_for('votecancelsession', name=space.name, slug=proposal.urlname) }}">+1</a>
          <a class="votechoice" href="{{ url_for('votedownsession', name=space.name, slug=proposal.urlname) }}">-1</a>
        {% endif %}
        <span class="indicator">&rarr;</span>
        <span class="score">
          {%- if proposal.votes.count > 0 -%}
            +
          {%- endif -%}
          {{ proposal.votes.count }}</span>
        </div>
      <div class="label">
        Vote on this proposal
      </div>
    </div>
    <h1>{{ proposal.title }}</h1>
    <p>
      by <strong>{{ proposal.user.fullname }}</strong> {% if proposal.user == g.user -%}
        <small>(that’s you! <a href="{{ url_for('editsession', name=space.name, slug=proposal.urlname) }}">Edit this</a>?)</small>
        {%- endif %}
    </p>
    <!-- Social buttons -->
    <div class="social">
      <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="hasgeek">Tweet</a>
      <g:plusone size="medium"></g:plusone>
      <iframe class="facebooklike" src="http://www.facebook.com/plugins/like.php?app_id=114496105304651&amp;href={{ request.url }}&amp;send=false&amp;layout=button_count&amp;width=150&amp;show_faces=false&amp;action=recommend&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:150px; height:21px;" allowTransparency="true"></iframe>
    </div>
  </div>
  <div class="section bar">
    <dl class="bar">
      <dt>Track</dt>
      <dd>{{ proposal.section.title }}</dd>
      <dt>Session type</dt>
      <dd>{{ proposal.session_type }}</dd>
      <dt>Technical level</dt>
      <dd>{{ proposal.technical_level }}</dd>
    </dl>
  </div>
  <div class="section">
    <h2>Objective</h2>
    {{ proposal.objective_html|safe }}
    <h2>Description</h2>
    {{ proposal.description_html|safe }}
    {% if proposal.requirements %}
      <h2>Requirements</h2>
      {{ proposal.requirements_html|safe }}
    {% endif %}
{% if proposal.slides or proposal.links %}
  </div>
  <div class="section">
{% endif %}
    {% if proposal.slides %}
      <h2 id="slides">Slides</h2>
      <p>
        <a id="slides-link" href="{{ proposal.slides }}">{{ proposal.slides }}</a>
      </p>
    {% endif %}
    {% if proposal.links %}
      <h2 id="links">Links</h2>
      <ul>
        {% for link in proposal.links.split('\n') -%}
          <li><a href="{{ link.strip() }}">{{ link.strip() }}</a></li>
        {% endfor -%}
      </ul>
    {% endif %}
  </div>
  <div class="section">
    <h2 id="comments">Comments</h2>
    {% if comments %}
      <ol class="comments">
        {%- for comment in comments %}
          <li id="comment-{{ comment.id }}">
            <div class="metadata">
              {{ comment.user.fullname }} &mdash; {{ comment.created_at }}
            </div>
            {{ comment.message_html|safe }}
          </li>
        {% endfor -%}
      </ol>
    {% endif %}
    <p>
      <em>(Commenting is not supported yet)</em>
    </p>
    {#
    {% if not g.user -%}
      <p>
        <a href="{{ url_for('login') }}">Login with Twitter or Google to leave a comment &rarr;</a>
      </p>
    {% else -%}
      {{ renderform(commentform, "newcomment", "Submit comment") }}
    {% endif %}
    #}
  </div>
</div>
{% endblock %}

{% block footerscripts %}
{% if proposal.slides %}
<script type="text/javascript">
  $(function() {
    $("#slides-link").oembed();
  });
</script>
{% endif %}
<script type="text/javascript" src="http://apis.google.com/js/plusone.js"></script>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
{% endblock %}
