// ============================================================================
// COLORS
// ============================================================================

$mui-primary-color: #0f73ed !default;
$mui-accent-color: #f06a5e !default;
$mui-danger-color: #fcdcda !default;
$mui-success-color: #ddf5ed !default;
$mui-warning-color: #fdf6ea !default;
$mui-info-color: #cfefff !default;
$mui-neutral-color: #656565 !default;

// ============================================================================
// TEXT COLORS
// ============================================================================

$mui-text-dark: #1f2d3d !default;
$mui-text-accent: #c0ccda !default;
$mui-text-light: #4d5763 !default;
$mui-text-danger: #f04e45 !default;
$mui-text-hyperlink: #0f73ed !default;
$mui-text-success: #21b685 !default;
$mui-text-warning: #f0a40c !default;
$mui-text-info: #5da9e8 !default;
$mui-text-white: #ffffff !default;
$mui-text-white: #ffffff !default;

// ============================================================================
// GLOBAL VARIABLES
// ============================================================================

$mui-bg-color-primary: #ffffff !default;
$mui-bg-color-accent: #f9f9f9 !default;
$mui-bg-color-dark: #f1f1f1 !default;
$mui-body-bg-color: $mui-bg-color-accent !default;
$mui-btn-danger-bg-color: $mui-text-danger;

$mui-base-font-color: $mui-text-dark !default;
$mui-base-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif,
  'Noto Sans Math', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$mui-base-font-size: 14px !default;
$mui-base-font-size-desktop: 16px !default;
$mui-base-font-weight: 400 !default;
$mui-base-line-height: 1.5 !default;
$mui-base-line-height-px: 21px !default;
$mui-base-line-height-px-desktop: 24px !default;
$mui-base-font-smoothing: false !default;

$mui-link-font-color: $mui-text-hyperlink !default;
$mui-link-text-decoration: none !default;
$mui-link-font-color-hover: $mui-text-hyperlink !default;
$mui-link-text-decoration-hover: underline !default;

$mui-hr-color: rgba(132, 146, 166, 0.2) !default;

// ============================================================================
// FORMS
// ============================================================================

$mui-input-placeholder-color: $mui-text-accent !default;

$mui-input-border-color: $mui-text-accent !default;
$mui-input-border-color-focus: $mui-text-hyperlink !default;

// ============================================================================
// DIVIDERS
// ============================================================================

$mui-divider-color: rgba(132, 146, 166, 0.3) !default;

// ============================================================================
// APPBAR
// ============================================================================

$mui-appbar-bg-color: #ffffff !default;

$mui-appbar-font-color: #8492a6 !default;

// ============================================================================
// OVERLAY
// ============================================================================

$mui-overlay-bg-color: rgba(31, 46, 61, 0.2) !default;

// ============================================================================
// Grid
// ============================================================================

$mui-grid-padding: 16px !default;
$mui-grid-gutter-width: 32px !default;

// ============================================================================
// PANELS
// ============================================================================

$mui-panel-padding: 16px !default;
