.alert {
  padding: $mui-grid-padding;
  border: 1px solid transparent;
  border-radius: $mui-border-radius-default;
  background-color: $mui-info-color;
  border-color: transparentize($mui-text-info, 0.8);
  color: $mui-text-info;

  .alert__heading {
    margin-top: 0;
    color: inherit;
  }

  .alert__link {
    font-weight: bold;
    color: inherit;
  }

  .alert__text {
    @extend .mui--text-subhead;
    margin-bottom: 0;
    color: inherit;
  }

  .alert__close {
    float: right;
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
    cursor: pointer;
  }

  .alert__icon {
    vertical-align: top;
    font-size: inherit;
    line-height: inherit;
  }
}

.alert--dismissable {
  padding-right: 35px;
}

.alert--success {
  background-color: $mui-success-color;
  border-color: transparentize($mui-text-success, 0.8);
  color: $mui-text-success;
}

.alert--success .alert__hr {
  border-top-color: transparentize($mui-text-success, 0.9);
}

.alert--info .alert__hr {
  border-top-color: transparentize($mui-text-info, 0.9);
}

.alert--warning {
  background-color: $mui-warning-color;
  border-color: transparentize($mui-text-warning, 0.8);
  color: $mui-text-warning;
}

.alert-warning .alert__hr {
  border-top-color: transparentize($mui-text-warning, 0.9);
}

.alert--error,
.alert--danger {
  background-color: $mui-danger-color;
  border-color: transparentize($mui-text-danger, 0.8);
  color: $mui-text-danger;
}

.alert--error .alert__hr,
.alert--danger .alert__hr {
  border-top-color: transparentize($mui-text-danger, 0.9);
}

@media (min-width: 768px) {
  .alert {
    margin-top: $mui-grid-padding;
    margin-bottom: $mui-grid-padding;
  }
}
