.card {
  position: relative;
  background: #fff;
  margin-bottom: 2 * $mui-grid-padding;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19);

  .card__image {
    width: 100%;
  }

  .card__title {
    padding: 0 $mui-grid-padding;
  }

  .card__title__heading {
    margin: $mui-grid-padding/4 auto;
  }

  .card__header {
    padding: $mui-grid-padding;
    background: $mui-bg-color-dark;
  }

  .card__header__title {
    width: 80%;
  }

  .card__header__logo-image {
    width: 65px;
    align-self: center;
  }

  .card__header__title__tag {
    float: right;
    color: $mui-success-color;
    text-align: right;
    width: 20%;
  }

  .card__body {
    padding: $mui-grid-padding/2 $mui-grid-padding;
    word-break: break-word;
  }

  .card__body__text {
    width: 75%;
  }

  .card__body__text__heading {
    margin: $mui-grid-padding/4 auto;
  }

  .card__body__logo {
    width: 25%;
  }

  .card__body__logo--img {
    width: 100%;
    align-self: center;
  }

  .card__footer {
    @extend .mui--clearfix;
    padding: 0 $mui-grid-padding/2;
  }

  .card__footer__floatbtn {
    float: right;
  }

  .mui-btn + .mui-btn {
    margin-left: 0;
  }
}
