.tab-container {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;

  .tab-container__tab {
    flex: 1 0 0;
    padding: $mui-grid-padding/2;
    opacity: 0.4;
    text-align: center;
    border-bottom: 2px solid transparent;
  }

  .tab-container__tab.active {
    opacity: 1;
    border-bottom: 2px solid $mui-text-hyperlink;
    color: $mui-text-hyperlink;
  }

  .tab-container__tab a {
    color: inherit;
    display: inline-block;
    width: 100%;
  }
  .tab-container__tab a:focus,
  .tab-container__tab a:active,
  .tab-container__tab a:hover {
    text-decoration: none;
    outline: none;
  }
}

.mui-tabs__bar--pills {
  li {
    border-radius: 16px;
    margin-right: $mui-grid-padding/2;
    color: $mui-text-light;
    border: 1px solid $mui-bg-color-dark;
    background: $mui-bg-color-primary;
  }
  li a {
    height: auto;
    line-height: inherit;
    padding: $mui-grid-padding/4 $mui-grid-padding;
    cursor: pointer;
    color: $mui-text-light;
    text-decoration: none !important;
    text-transform: inherit;
  }
  li.mui--is-active {
    background: transparentize($mui-primary-color, 0.85);
    border: 1px solid transparentize($mui-primary-color, 0.8);
    a {
      color: $mui-text-light;
      text-decoration: none !important;
    }
  }
}

.mui-tabs__bar--pills--wraps {
  white-space: normal;
  li {
    margin-bottom: 8px;
  }
}

.tabs {
  display: flex;
  width: 100%;
  overflow: auto;
  align-items: center;
  margin: $mui-grid-padding/2 0;

  .tabs__item {
    padding: $mui-grid-padding/4 $mui-grid-padding;
    cursor: pointer;
    position: relative;
    min-width: 2 * $mui-grid-padding;
    margin: 0 8px 0 0;
    text-align: center;
    cursor: pointer;
    flex: 0 0 auto;
    background: none;
    border-radius: 16px;
    font-weight: 500;
    color: $mui-text-light;
    border: 1px solid $mui-bg-color-dark;
    background: $mui-bg-color-primary;
  }

  .tabs__item--width {
    min-width: auto;
  }

  .tabs__item--badge {
    padding: $mui-grid-padding/4 0 $mui-grid-padding/4 $mui-grid-padding;
  }

  .tabs__item:hover,
  .tabs__item:focus {
    text-decoration: none;
    outline: none;
  }

  .tabs__item--active {
    background: transparentize($mui-primary-color, 0.85);
    border: 1px solid transparentize($mui-primary-color, 0.8);
  }

  .tabs__item-control {
    position: fixed;
    z-index: 1000;
    background: $mui-bg-color-primary;
    min-width: auto;
    top: 0;
    padding: $mui-grid-padding $mui-grid-padding 6px;
    align-self: center;
    box-shadow: 0 2px 2px -1px rgba(158, 158, 158, 0.24);

    .tabs__item-control__icon {
      vertical-align: middle;
    }
  }
  .tabs__item-control--prev {
    left: 0;
  }
  .tabs__item-control--next {
    right: 0;
  }
}

.badge {
  position: relative;
  color: $mui-text-hyperlink;
  min-width: $mui-grid-padding;
  line-height: $mui-grid-padding;
  min-height: $mui-grid-padding;
  text-align: center;
  display: inline-block;
  background-color: transparentize($mui-primary-color, 0.85);
  border-radius: 2px;
  padding: 0 $mui-grid-padding/2;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600;
}

.badge--round {
  border-radius: 50%;
  width: 25px;
  line-height: 25px;
  padding: 0;
}

.badge--round-smaller {
  width: 16px;
  line-height: 16px;
}

.badge--tab {
  margin-right: $mui-grid-padding/4;
  margin-left: $mui-grid-padding/4;
  border-radius: 16px;
  padding: 0 4px;
  width: auto;
  line-height: inherit;
  background: $mui-bg-color-primary;
  border: 1px solid $mui-bg-color-dark;
  background: $mui-bg-color-primary;
}

.badge--primary {
  border: 1px solid transparent;
  background: transparentize($mui-primary-color, 0.85);
}
