{% extends "layout.html.jinja2" %}
{% block title %}403 Forbidden{% endblock %}

{% block top_title %}
  <div class="mui--text-center">
    <img src="{{ url_for('static', filename='img/error-403.svg') }}" class="emoticon"/>
    <h1 class="mui--text-light mui--text-display1">{% trans %}Unavailable{% endtrans %}</h1>
  </div>
{% endblock %}

{% block content %}
  <p class="mui--text-subhead mui--text-center">{% trans %}This page is not currently available{% endtrans %}</p>
{% endblock %}
