{% extends "layout.html.jinja2" %}
{% block title %}{% trans %}404 Not found{% endtrans %}{% endblock title %}

{% block top_title %}
  <div class="mui--text-center">
    <img src="{{ url_for('static', filename='img/error-404.svg') }}" class="emoticon" alt="{% trans %}Not found{% endtrans %}"/>
    <h1 class="mui--text-light mui--text-display1">{% trans %}Not found{% endtrans %}</h1>
  </div>
{% endblock top_title %}

{% block content %}
  <p class="mui--text-subhead mui--text-center">{% trans %}The page you are looking for does not exist{% endtrans %}</p>
{% endblock content %}
