{% extends "layout.html.jinja2" %}
{% block title %}429 Too Many Requests{% endblock %}

{% block content %}
  <div>
    <img src="{{ url_for('static', filename='img/error-429.svg') }}" class="emoticon"/>
    <p class="mui--text-light mui--text-subhead">{% trans %}Hey slowdown{% endtrans %}</p>
  </div>
{% endblock %}

{% block content %}
  <p class="mui--text-center">{% trans %}You are sending too many requests{% endtrans %}</p>
{% endblock %}
