{% extends "layout.html.jinja2" %}
{% block title %}{{ page.title }}{% endblock %}

{%- block image_src %}
  <link rel="image_src" href="{{ url_for('static', filename='img/hg-logo.png') }}" />
  <meta property="og:image" content="{{ url_for('static', filename='img/hg-logo.png') }}" />
{%- endblock %}

{% block top_title %}
  <h1 class="mui--text-display1"><strong>{{ self.title() }}</strong></h1>
{% endblock %}

{% block contentwrapper -%}
  <div class="grid">
    <div class="grid__col-xs-12 grid__col-sm-5 grid__col-md-4 grid__col-lg-3">
      <div class="sticky-admin-panel">
        <div class="card">
          <div class="card__header">
            <h3 class="mui--text-title">{% trans %}About{% endtrans %}</h3>
          </div>
          <div class="card__body">
            <ul class="mui-list--aligned mui-list--unstyled">
              <li><p><a href="/about/">{% trans %}About HasGeek{% endtrans %}</a></p></li>
              <li><p><a href="/about/team">{% trans %}Team &amp; careers{% endtrans %}</a></p></li>
              <li><p><a href="/about/media">{% trans %}Media resources{% endtrans %}</a></p></li>
              <li><p><a href="/about/contact">{% trans %}Contact{% endtrans %}</a></p></li>
            </ul>
          </div>
        </div>
        <div class="card">
          <div class="card__header">
            <h3 class="mui--text-title">{% trans %}Site Policies{% endtrans %}</h3>
          </div>
          <div class="card__body">
            <ul class="mui-list--aligned mui-list--unstyled">
              <li><p><a href="/about/policy/terms">{% trans %}Terms of service{% endtrans %}</a></p></li>
              <li><p><a href="/about/policy/adtos">{% trans %}Sponsorship &amp; advertising{% endtrans %}</a></p></li>
              <li><p><a href="/about/policy/privacy">{% trans %}Privacy policy{% endtrans %}</a></p></li>
              <li><p><a href="/about/policy/refunds">{% trans %}Cancellation &amp; refund policy{% endtrans %}</a></p></li>
              <li><p><a href="/about/policy/community">{% trans %}Community guidelines{% endtrans %}</a></p></li>
              <li><p><a href="/about/policy/code">{% trans %}Code of conduct{% endtrans %}</a></p></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="grid__col-xs-12 grid__col-sm-7 grid__col-md-8 grid__col-lg-9">
      {{ page.html | safe }}
    </div>
  </div>
{%- endblock %}

{% block footer %}
  <div class="mui-container">
    <div class="grid mui--text-body2 mui--text-left">
      <div class="grid__col-sm-6 grid__col-md-6">
        <p>{% if 'FOOTER_MESSAGE' in config %}{{ config['FOOTER_MESSAGE'] }}{% else %}{% trans %} Copyright &copy; 2010-18 HasGeek.  All rights reserved.{% endtrans %}{% endif %}</p>
        <p>
          #2699, 19th Main, 5th Cross, Indiranagar HAL 2nd Stage, Bangalore - 560008, <a href="mailto:info@hasgeek.com">info@hasgeek.com</a>, <a href="tel:+917676332020">+91 7676 33 2020</a>
        </p>
      </div>
      <div class="grid__col-sm-6 grid__col-md-6">
        <div>
          <p id="footer-twitter">
            <a href="https://twitter.com/hasgeek" target="_blank">{% trans %}Follow @hasgeek{% endtrans %}</a>
          </p>
          <a href="https://www.facebook.com/HasGeek" target="_blank">{% trans %}Like HasGeek's page on Facebook{% endtrans %}</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block footerscripts %}
{% endblock %}
