{% extends "layout.html.jinja2" %}
{% block title %}{% trans %}About Hasgeek{% endtrans %}{% endblock %}
{%- from "macros.html.jinja2" import page_footer %}

{% block pageheaders %}
  <link rel="stylesheet" type="text/css" href="{{ built_asset('css/about.scss') }}" />
{% endblock %}

{% block contenthead %}
<div class="profile profile--hg">
<div class="profile__banner">
  <div class="profile__banner__box">
    <img class="profile__banner__box__img profile__banner__box__img--default" src="{{ url_for('static', filename='img/default-banner-profile.png') }}"/>
  </div>
  <div class="mui-container profile__banner__box__heading">
    <div class="grid">
      <div class="grid__col-xs-12">
        <h1 class="mui--text-display1"><strong>{% trans %}About Hasgeek{% endtrans %}</strong></h1>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}

{% block contentwrapper -%}
  <div class="grid top-padding">
    <div class="grid__col-xs-12">
      <p class="about-top-content">{% trans %}It’s 2021, and the world as we know it is slightly upturned. Meeting new people and geeking-out about your passion has become harder than it used to be. These special interactions that drive us to do new things and explore new ideas also need a new place. It’s time to rebuild everything. Join us.{% endtrans %}</p>
      <h2 class="about-heading mui--text-bold project-headline">{% trans %}Find your peers{% endtrans %}</h2>
      <div class="flex-content image-wrapper">
        <p class="about-content fifty-width">{% trans %}Ideas need voices. Voices need a place to interact with other voices. Find peers around you who recognize your value. Create projects that spark a conversation.{% endtrans %}</p>
        <img src="{{  url_for('static', filename='img/peers.svg') }}" height="270" />
      </div>
      <h2 class="about-heading mui--text-bold project-headline">{% trans %}Discover your community{% endtrans %}</h2>
      <div class="flex-content image-wrapper">
        <img src="{{  url_for('static', filename='img/community.svg') }}" height="300" />
        <p class="about-content fifty-width">{% trans %}Conversations build community. Bring the conversations to your community by collaborating with others who share your passion.{% endtrans %}</p>
      </div>
      <h2 class="about-heading mui--text-bold project-headline">{% trans %}Sustain the conversations{% endtrans %}</h2>
      <div class="flex-content image-wrapper">
        <p class="about-content fifty-width">{% trans %}Subscribe to your favourite communities and make sure you never miss a conversation or an opportunity to collaborate.{% endtrans %}</p>
        <img src="{{  url_for('static', filename='img/conversation.svg') }}" height="240" />
      </div>
    </div>
  </div>
{%- endblock %}

{% block basefooter %}
  {{ page_footer() }}
{% endblock %}

{% block footerscripts %}
{% endblock %}
