{% extends "layout.html.jinja2" %}
{% from "forms.html.jinja2" import renderform, renderform_inner, renderfield, rendersubmit, ajaxform, widget_ext_scripts, widgetscripts, recaptcha %}

{% block title %}{{ title }}{% endblock title %}

{% block layoutheaders %}
  <link rel="stylesheet" type="text/css" href="{{ manifest('css/form.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ manifest('css/login_form.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ manifest('css/app.css') }}" />
{% endblock layoutheaders %}

{% block bodyattrs %}class="login-page no-sticky-header"{% endblock bodyattrs %}

{% block headline %}{% endblock headline %}

{% block content %}
  {%- if message %}
    <p class="form-message">{{ message }}</p>
  {%- endif %}

  <div class="alert alert--error cookies-required-alert alert--dismissable">
    <a class="alert__close" href="#" onclick="return false;" aria-label="{% trans %}Close{% endtrans %}">{{ faicon(icon='times', baseline=false, icon_size='title') }}</a>
    <p class="alert__text">{% trans %}Cookies are required to login. Please enable cookies in your browser’s settings and reload this page{% endtrans %}</p>
  </div>

  <div class="login-page-wrapper" data-cy="login-form-wrapper">
    <div class="login-page__box">
      <div class="login-page__back">
        <a class="js-popup-back" href="{% if current_auth.is_authenticated %}{{ url_for('account') }}{% else %}{{ url_for('index') }}{% endif %}" aria-label="{% trans %}Close{% endtrans %}">{{ faicon(icon='times', baseline=false, icon_size='title') }}</a>
      </div>
      {% block focuscontent %}
        {% block beforeformcontent %}
        {% endblock beforeformcontent %}
        {% block form %}
          <h2 class="mui--text-headline login-page__box__heading mui--text-center">{{ title }}</h2>
          {{ renderform(form=form, formid=formid, ref_id=ref_id, submit=submit, message=message, action=action, cancel_url=cancel_url, multipart=multipart, autosave=autosave, draft_revision=draft_revision) }}
        {% endblock form %}
        {% block afterformcontent %}
        {% endblock afterformcontent %}
      {% endblock focuscontent %}
    </div>
    {% block afterloginbox %}
    {% endblock afterloginbox %}
  </div>
{% endblock content %}

{% block serviceworker %}
{% endblock serviceworker %}

{% block footerscripts %}
  {{ widget_ext_scripts(form) }}
  <script src="{{ manifest('form.js') }}" type="text/javascript"></script>
  <script type="text/javascript">
    $(function() {
      {{ widgetscripts(form, script=false, ref_id=ref_id, force=ajax) }}
    });
  </script>
  <script src="{{ 'parsley.js'|ext_asset_url }}" type="text/javascript"></script>
  <script src="{{ manifest('account_form.js') }}" type="text/javascript"></script>
  <script type="text/javascript">
    $(function() {
      var usernameField;
      var passwordField;
      var passwordForm;
      if($('#form-account_edit').length) {
        usernameField = '#form-account_edit #field-username #username';
      }
      if($('#form-password-change').length) {
        passwordField = '#form-password-change input[type="password"]#password';
        passwordForm = '#form-password-change';
      }
      var config = {
        formId: '#{{ ref_id }}',
        usernameField: usernameField,
        passwordField: passwordField,
        passwordForm: passwordForm,
        accountUsernameUrl: {{ url_for('account_username_availability')|tojson }},
        passwordCheckUrl: {{ url_for('password_policy_check')|tojson }},
      }
      window.Hasgeek.Accountform(config);
    });
  </script>
  {{ ajaxform(ref_id=ref_id, request=request, force=ajax) }}
  {%- if form and form.recaptcha is defined %}
    {% block recaptcha %}{{ recaptcha(ref_id=ref_id) }}{% endblock recaptcha %}
  {%- endif %}
{% endblock footerscripts %}
