{% extends "layout.html.jinja2" %}

{% block title %}{% trans %}Merge accounts{% endtrans %}{% endblock title %}

{% macro accountinfo(user) %}
  <ul class="list--aligned  mui--text-subhead">
    <li><span class="mui--text-bold">{% trans %}Name:{% endtrans %}</span> {{ user.fullname }}</li>
    <li><span class="mui--text-bold">{% trans %}Username:{% endtrans %}</span> {% if user.username %}{{ user.username }}{% else %}{% trans %}(none){% endtrans %}{% endif %}</li>
    <li>
      <ul>
        {%- for useremail in user.emails %}
          <li><span class="mui--text-bold">{% trans %}Email addresses:{% endtrans %}</span> {{ useremail.email }}</li>
        {%- else %}
          <li><span class="mui--text-bold">{% trans %}Email addresses:{% endtrans %}</span> <em>{% trans %}(none){% endtrans %}</em></li>
        {%- endfor %}
      </ul>
    </li>
    <li><span class="mui--text-bold">{% trans %}Connected accounts:{% endtrans %}</span>
      <ul>
        {%- for extid in user.externalids %}
          <li><span class="mui--text-bold">{{ login_registry[extid.service].title }}:</span> {{ extid.username }}</li>
        {%- else %}
          <li><em>(none)</em></li>
        {%- endfor %}
      </ul>
    </li>
  </ul>
{% endmacro %}

{% block contentwrapper %}
  <p class="cookies-required">{% trans %}You appear to have two accounts. Would you like to merge them?{% endtrans %}</p>
  <div class="cookies-required grid">
    <div class="grid__col-xs-12 grid__col-sm-4">
      <h2 class="htile">{% trans %}Logged in account{% endtrans %}</h2>
      <div class="mui--text-subhead">{{ accountinfo(user) }}</div>
    </div>
    <div class="grid__col-xs-12 grid__col-sm-4">
      <h2 class="htile">{% trans %}Other account{% endtrans %}</h2>
      <div class="mui--text-subhead">{{ accountinfo(other_user) }}</div>
    </div>
  </div>
  <form class="cookies-required mui-form mui-form--margins" id="form-mergeaccounts" method="post" accept-charset="UTF-8">
    <input type="hidden" name="form.id" value="authorize"/>
    {{ form.hidden_tag() }}
    {% if form.csrf_token.errors %}
      {% for error in form.csrf_token.errors %}<div class="error">{{ error }}</div>{% endfor %}
    {% endif %}
    <div class="form-actions">
      <input class="mui-btn mui-btn--raised mui-btn--primary" type="submit" name="merge" value="{% trans %}Merge accounts{% endtrans %}"/>
      <input class="mui-btn mui-btn--raised mui-btn--accent" type="submit" name="skip" value="{% trans %}Skip{% endtrans %}"/>
      <span class="loading mui--hide"></span>
    </div>
  </form>
{% endblock contentwrapper %}
