{% extends "layout.html.jinja2" %}
{% from "baseframe/mui/forms.html.jinja2" import rendersubmit, ajaxform %}
{% from "baseframe/components.html.jinja2" import faicon %}
{%- from "macros.html.jinja2" import account_tabs %}

{% block title %}{% trans %}My account{% endtrans %}{% endblock %}

{% block bodytag %}
  {%- if not config['LEGACY'] -%}
    <body class="mui--bg-primary hg-app tabs-navbar">
  {%- else %}
    <body class="mui--bg-primary">
  {%- endif %}
{% endblock %}

{% block headline -%}
{%- endblock %}

{% block basecontent %}
  <div class="tabs-wrapper tabs-wrapper--sticky">
    <div class="mui-container">
      <div class="grid">
        <div class="grid__col-12">
          {{ account_tabs(active_tab='account') }}
        </div>
      </div>
    </div>
  </div>

  <div class="mui-container tab-content">
    <div class="grid">
      <div class="grid__col-xs-12 grid__col-sm-6">
        <div class="card">
          <div class="card__header">
            <h3 class="mui--text-title mui--text-bold">Info</h3>
          </div>
          <div class="card__body card__body--lgtext">
            <p class="mui--text-subhead">
              {{ faicon(icon='address-card')}}&nbsp;&nbsp;{{ current_auth.user.fullname }}
            </p>
            <p class="mui--text-subhead">
              {{ faicon(icon='user') }}&nbsp;&nbsp;{% if current_auth.user.username %}{{ current_auth.user.username }}{% else %}<em>{% trans %}(none){% endtrans %}</em>{% endif %}
            </p>
            <p class="mui--text-subhead">
              {{ faicon('clock') }}&nbsp;&nbsp;{{ current_auth.user.timezone }}
            </p>
          </div>
          <div class="mui-divider"></div>
          <div class="card__footer">
            <a class="mui-btn mui-btn--small mui-btn--flat mui-btn--primary" href="{{ url_for('account_edit') }}" title="Edit">{% trans %}Edit{% endtrans %}</a>
            <a class="mui-btn mui-btn--small mui-btn--flat mui-btn--accent" href="{{ url_for('change_password') }}" title="Change password">{% trans %}Change password{% endtrans %}</a>
             <a class="mui-btn mui-btn--small mui-btn--flat mui-btn--accent" href="{{ url_for('logout') }}" title="Logout" data-cy="Logout">{% trans %}Logout{% endtrans %}</a>
          </div>
        </div>
      </div>
      <div class="grid__col-xs-12 grid__col-sm-6">
        <div class="card">
          <div class="card__header">
            <h3 class="mui--text-title mui--text-bold">{% trans %}External IDs <small>(Use any of these to login to your account){% endtrans %}</small></h3>
          </div>
          <div class="card__body card__body--lgtext mui--text-subhead">
            <ol class="mui-list--aligned mui-list--border">
              {% for extid in current_auth.user.externalids %}
                <li>
                  {{ faicon(icon=extid.service, icon_size='body2', baseline=false, css_class='mui--text-light icon-img icon-img--smaller') }}<span class="item">{{ extid.username }}<small class="subitem"><em>{% trans %}Last used{% endtrans %} {{ extid.last_used_at|age }}</em></small></span>
                  <a href="{{ url_for('remove_extid', service=extid.service, userid=extid.userid) }}" class="mui--pull-right" title="{% trans %}Remove{% endtrans %}">{{ faicon(icon='trash-alt', icon_size='subhead', baseline=false, css_class='mui--align-middle') }}</a>
                </li>
              {% endfor %}
            </ol>
            <p>{% trans %}Add External ID{% endtrans %}</p>
            {% for provider in login_registry %}
              <a class="mui-btn mui-btn--small mui-btn--raised login login-{{ provider }}" href="{{ url_for('login_service', service=provider, next=url_for('account')) }}" title="{{ login_registry[provider]['title'] }}"><img src="{{ url_for('static', filename='img/' + login_registry[provider].icon + '.svg') }}" class="icon-img icon-img--smaller" alt="{{ login_registry[provider]['title'] }}"/> {{ login_registry[provider]['title'] }}</a>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="grid__col-xs-12 grid__col-sm-6">
        <div class="card">
          <div class="card__header">
            <h3 class="mui--text-title mui--text-bold">{% trans %}Email addresses{% endtrans %}</h3>
          </div>
          <form action="{{ url_for('make_email_primary') }}" method="POST" id="email-primary-form">
            <div class="card__body card__body--lgtext mui--text-subhead">
              {{ primary_email_form.hidden_tag() }}
              <ol class="mui-list--aligned mui-list--border">
                {% for useremail in current_auth.user.emails %}
                <li>
                  <input id="useremail-{{loop.index}}" name="email" value="{{useremail}}" type="radio">&nbsp;
                  <label for="useremail-{{loop.index}}">{{ useremail }}</label>
                  {% if useremail.primary %}
                    <em>{% trans %}(primary){% endtrans %}</em>
                  {% endif %}
                  {%- if current_auth.user.verified_contact_count > 1 %}
                    <a href="{{ url_for('remove_email', email_hash=useremail.blake2b_b58) }}" class="mui--pull-right" title="{% trans %}Remove{% endtrans %}">{{ faicon(icon='trash-alt', icon_size='subhead', baseline=false, css_class='mui--align-middle') }}</a>
                  {%- endif %}
                </li>
                {% endfor %}
                {% for useremail in current_auth.user.emailclaims %}
                <li>
                  <input type="radio" disabled="disabled">&nbsp;
                  {{ useremail }} <em><a href="{{ url_for('verify_email', email_hash=useremail.blake2b_b58) }}">{% trans %}(pending verification){% endtrans %}</a></em>
                  <a href="{{ url_for('remove_email', email_hash=useremail.blake2b_b58) }}" title="{% trans %}Remove{% endtrans %}" class="mui--pull-right">{{ faicon(icon='trash-alt', icon_size='subhead', baseline=false, css_class='mui--align-middle') }}</a>
                </li>
                {% endfor %}
              </ol>
            </div>
            <div class="mui-divider"></div>
            <div class="card__footer">
              {% if current_auth.user.emails %}
                <button class="mui-btn mui-btn--small mui-btn--flat mui-btn--primary" type="submit" title="Set as primary email">{% trans %}Set as primary{% endtrans %}</button>
              {% endif %}
              <a class="mui-btn mui-btn--small mui-btn--flat mui-btn--accent" href="{{ url_for('add_email') }}" title="Add an email address">{% trans %}Add an email address{% endtrans %}</a>
              <span class="loading mui--hide"></span>
            </div>
          </form>
        </div>
      </div>

      <div class="grid__col-xs-12 grid__col-sm-6">
        <div class="card">
          <div class="card__header">
            <h3 class="mui--text-title mui--text-bold">{% trans %}Mobile numbers{% endtrans %}</h3>
          </div>
          <form action="{{ url_for('make_phone_primary') }}" method="POST" id="phone-primary-form">
            <div class="card__body card__body--lgtext mui--text-subhead">
              {{ primary_phone_form.hidden_tag() }}
              <ol class="mui-list--aligned mui-list--border">
                {% for userphone in current_auth.user.phones %}
                  <li>
                    <input id="userphone-{{loop.index}}" name="phone" value="{{userphone}}" type="radio">&nbsp;
                    <label for="userphone-{{loop.index}}">{{ userphone.formatted() }}</label>
                    {% if userphone.primary %} <em>{% trans %}(primary){% endtrans %}</em> {% endif -%}
                    {%- if current_auth.user.verified_contact_count > 1 %}
                      <a href="{{ url_for('remove_phone', number=userphone.phone) }}" title="{% trans %}Remove{% endtrans %}" class="mui--pull-right">{{ faicon(icon='trash-alt', icon_size='subhead', baseline=false, css_class='mui--align-middle') }}</a>
                    {%- endif %}
                  </li>
                {% endfor %}
                {% for userphone in current_auth.user.phoneclaims %}
                  <li>
                    <input type="radio" disabled="disabled">&nbsp;
                    <label>{{ userphone.formatted() }}</label> <em>{% if userphone.verification_expired %}{% trans %}(blocked){% endtrans %}{% else %}<a href="{{ url_for('verify_phone', number=userphone) }}">{% trans %}(pending verification){% endtrans %}</a>{% endif %}</em>
                    {% if not userphone.verification_expired %}
                      <a href="{{ url_for('remove_phone', number=userphone.phone) }}" title="{% trans %}Remove{% endtrans %}" class="mui--pull-right">{{ faicon(icon='trash-alt', icon_size='subhead', baseline=false, css_class='mui--align-middle') }}</a>
                    {% endif %}
                  </li>
                {% endfor %}
              </ol>
            </div>
            <div class="mui-divider"></div>
            <div class="card__footer">
              {% if current_auth.user.phones %}<button class="mui-btn mui-btn--small mui-btn--flat mui-btn--primary" type="submit">{% trans %}Set as primary{% endtrans %}</button>{% endif %}
              <a class="mui-btn mui-btn--small mui-btn--flat mui-btn--accent" href="{{ url_for('add_phone') }}">{% trans %}Add a mobile number{% endtrans %}</a>
              <span class="loading mui--hide"></span>
            </div>
          </form>
        </div>
      </div>

      <div class="grid__col-xs-12">
        <div class="card">
          <div class="card__header">
            <h3 class="mui--text-title mui--text-bold">{% trans %}Login sessions{% endtrans %}</h3>
          </div>
          <div class="card__body">
            <ul class="mui-list--aligned mui-list--unstyled mui--text-subhead mui-list--border">
              {%- for user_session in current_auth.user.active_sessions %}
              {%- with ua=user_session.user_agent_details() %}
                <li>
                  {%- trans
                      ipaddr=user_session.ipaddr,
                      user_agent=user_session.user_agent,
                      since=user_session.created_at|age,
                      browser=ua['browser'],
                      os_device=ua['os_device'],
                      last_active=user_session.accessed_at|age -%}
                    From {{ ipaddr }} since {{ since }} with <span title="{{ user_agent }}">{{ browser }} on {{ os_device }}</span>, last active {{ last_active }}
                {%- endtrans %}
                {%- if user_session == current_auth.session %}
                  {% trans %}(current){% endtrans %}
                {%- else %}
                  <a href="{{ url_for('logout_session', user_session=user_session.buid) }}" title="logout">{% trans %}(logout){% endtrans %}</a>
                {%- endif -%}
                </li>
              {%- endwith %}
              {%- endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block footerscripts %}
  {{ ajaxform('email-primary-form', request) }}
  {{ ajaxform('phone-primary-form', request) }}
{% endblock %}
