{% extends "layout.html.jinja2" %}
{% block title %}{% trans %}My account{% endtrans %}{% endblock %}

{% block content %}
<div class="grid">

  <div class="grid__col-xs-12 grid__col-xs-6">
    <h2 class="mui--text-title">My profile</h2>
    <div class="card">
      <div class="card__header">
        <h3 class="mui--text-title mui--text-bold">{{ current_auth.user.fullname }}</h3>
      </div>
      <div class="card__body card__body--lgtext mui--text-subhead">
        <p><i class="material-icons mui--text-subhead mui--text-light mui--align-middle">email</i> {{ current_auth.user.email }}</p>
        <p><i class="material-icons mui--text-subhead mui--text-light mui--align-middle">call</i> {{ current_auth.user.phone }}</p>
      </div>
    </div>
  </div>

  <!-- My tickets -->

  <div class="grid__col-xs-12 grid__col-sm-6">
    <h2 class="mui--text-title">My contacts</h2>
    {% for contact in current_auth.user.scanned_contacts %}
      <div class="card">
        <div class="card__header">
          <h3 class="mui--text-title mui--text-bold">{{ contact.participant.fullname }}</h3>
        </div>
        <div class="card__body card__body--lgtext mui--text-subhead">
          <p><i class="material-icons mui--text-subhead mui--text-light mui--align-middle">email</i> {{ contact.participant.email }}</p>
          {% if contact.participant.phone %}
            <p><i class="material-icons mui--text-subhead mui--text-light mui--align-middle">call</i> {{ contact.participant.phone }}</p>
          {% endif %}
          {% if contact.participant.twitter %}
            <p><img src="{{ url_for('static', filename='img/twitter.svg') }}" title="twitter-username" class="svg-icon"/> {{ contact.participant.twitter }}</p>
          {% endif %}
          {% if contact.participant.company %}
            <p><i class="material-icons mui--text-subhead mui--text-light mui--align-middle">work</i> {{ contact.participant.company }}</p>
          {% endif %}
        </div>
      </div>
    {%- else -%}
      <p><i>No contacts</i></p>
    {%- endfor -%}
    <p>Select a project to scan attendee badge</p>
    <select onchange="window.location = this.value;">
      {% for project in projects %}
        <option value="{{ project.url_for('contact_exchange') }}">{{ project.title }}</option>
      {%- endfor -%}
    </select>
  </div>
</div>
{% endblock %}

{% block footerscripts %}
{% endblock %}
