{% extends "layout.html.jinja2" %}

{% block title %}{% trans %}Merge accounts{% endtrans %}{% endblock title %}

{% macro accountinfo(user) %}
  <ul class="list--aligned mui--text-subhead">
    <li><span class="text-bold">{% trans %}Name:{% endtrans %}</span> {{ user.pickername }}</li>
    {%- if user.emails %}
      <li><span class="text-bold">{% trans %}Email addresses:{% endtrans %}</span>
        <ul>
          {%- for useremail in user.emails %}
            <li>{{ useremail.email }}</li>
          {%- endfor %}
        </ul>
      </li>
    {%- endif %}
    {%- if user.phones %}
      <li><span class="text-bold">{% trans %}Phone numbers:{% endtrans %}</span>
        <ul>
          {%- for userphone in user.phones %}
            <li>{{ userphone.formatted }}</li>
          {%- endfor %}
        </ul>
      </li>
    {%- endif %}
    {%- if user.externalids %}
      <li><span class="text-bold">{% trans %}Connected accounts:{% endtrans %}</span>
        <ul>
          {%- for extid in user.externalids %}
            <li><span class="text-bold">{% if extid.service in login_registry %}{{ login_registry[extid.service].title }}{% else %}{{ extid.service|capitalize }}{% endif %}:</span> {{ extid.username }}</li>
          {%- endfor %}
        </ul>
      </li>
    {%- endif %}
  </ul>
{% endmacro %}

{% block contentwrapper %}
  <p class="cookies-required">{% trans %}You appear to have two accounts. Would you like to merge them?{% endtrans %}</p>
  <div class="cookies-required grid">
    <div class="grid__col-xs-12 grid__col-sm-4">
      <h2 class="htile">{% trans %}Logged in account{% endtrans %}</h2>
      <div class="mui--text-subhead">{{ accountinfo(user) }}</div>
    </div>
    <div class="grid__col-xs-12 grid__col-sm-4">
      <h2 class="htile">{% trans %}Other account{% endtrans %}</h2>
      <div class="mui--text-subhead">{{ accountinfo(other_user) }}</div>
    </div>
  </div>
  <form class="cookies-required mui-form mui-form--margins" id="form-mergeaccounts" method="post" accept-charset="UTF-8">
    <input type="hidden" name="form.id" value="authorize"/>
    {{ form.hidden_tag() }}
    {% if form.csrf_token.errors %}
      {% for error in form.csrf_token.errors %}<div class="error">{{ error }}</div>{% endfor %}
    {% endif %}
    <div class="form-actions">
      <input class="mui-btn mui-btn--raised mui-btn--primary" type="submit" name="merge" value="{% trans %}Merge accounts{% endtrans %}"/>
      <input class="mui-btn mui-btn--raised mui-btn--accent" type="submit" name="skip" value="{% trans %}Skip{% endtrans %}"/>
      <span class="loading mui--hide"></span>
    </div>
  </form>
{% endblock contentwrapper %}
