{% extends "layout.html.jinja2" %}
{%- from "macros.html.jinja2" import calendarwidget %}
{% from "baseframe/components.html.jinja2" import faicon %}
{%- from "macros.html.jinja2" import account_tabs, projectcard %}

{% block title %}{% trans %}My account{% endtrans %}{% endblock %}

{% block bodytag %}
  {%- if not config['LEGACY'] -%}
    <body class="mui--bg-primary hg-app tabs-navbar">
  {%- else %}
    <body class="mui--bg-primary">
  {%- endif %}
{% endblock %}

{% block headline -%}
{%- endblock %}

{% block basecontent %}
  <div class="tabs-wrapper tabs-wrapper--sticky">
    <div class="mui-container">
      <div class="grid">
        <div class="grid__col-12">
          {{ account_tabs(active_tab='saved') }}
        </div>
      </div>
    </div>
  </div>

  <div class="mui-container tab-content">
    <div class="saved-projects-wrapper">
      <ul class="mui-list--unstyled grid" role="list">
      {% for saved in saved_projects %}
        <li class="grid__col-xs-12 grid__col-sm-6 grid__col-lg-4" role="listitem">
          {{ projectcard(saved.project, calendarwidget_compact=false) }}
        </li>
      {%- endfor -%}
      </ul>
    </div>
  </div>
{% endblock %}
