{% extends "layout.html.jinja2" %}

{% block title %}{% trans %}Merge accounts{% endtrans %}{% endblock %}

{% macro accountinfo(user) %}
  <ul class="mui-list--aligned mui--text-subhead">
    <li>{% trans name=user.fullname %}<strong>Name:</strong> {{ name }}{% endtrans %}</li>
    <li>{% trans username=user.username or '' %}<strong>Username:</strong> {{ username }}{% endtrans %}</li>
    <li>
      <ul>
        {%- for useremail in user.emails %}
          <li>{% trans email=useremail.email %}<strong>Email addresses:</strong>{{ email }}{% endtrans %}</li>
        {%- else %}
          <li>{% trans %}<strong>Email addresses:</strong><em>(none)</em>{% endtrans %}</li>
        {%- endfor %}
      </ul>
    </li>
    <li><strong>{% trans %}External IDs:{% endtrans %}</strong>
      <ul>
        {%- for extid in user.externalids %}
          <li><strong>{{ login_registry[extid.service].title }}:</strong> {{ extid.username }}</li>
        {%- else %}
          <li><em>(none)</em></li>
        {%- endfor %}
      </ul>
    </li>
  </ul>
{% endmacro %}

{% block contentwrapper %}
  <p class="cookies-required">{% trans %}You appear to have two accounts. Would you like to merge them?{% endtrans %}</p>
  <div class="cookies-required grid">
    <div class="grid__col-xs-12 grid__col-sm-4">
      <h2 class="htile">{% trans %}Logged in account{% endtrans %}</h2>
      <div class="mui--text-subhead">{{ accountinfo(user) }}</div>
    </div>
    <div class="grid__col-xs-12 grid__col-sm-4">
      <h2 class="htile">{% trans %}Other account{% endtrans %}</h2>
      <div class="mui--text-subhead">{{ accountinfo(other_user) }}</div>
    </div>
  </div>
  <form class="cookies-required mui-form mui-form--margins" id="form-mergeaccounts" method="POST" accept-charset="UTF-8">
    <input type="hidden" name="form.id" value="authorize"/>
    {{ form.hidden_tag() }}
    {% if form.csrf_token.errors %}
      {% for error in form.csrf_token.errors %}<div class="error">{{ error }}</div>{% endfor %}
    {% endif %}
    <div class="form-actions">
      <input class="mui-btn mui-btn--raised mui-btn--primary" type="submit" name="merge" value="{% trans %}Merge accounts{% endtrans %}"/>
      <input class="mui-btn mui-btn--raised mui-btn--accent" type="submit" name="skip" value="{% trans %}Skip{% endtrans %}"/>
      <span class="loading mui--hide"></span>
    </div>
  </form>
{% endblock %}
