{% from "forms.html.jinja2" import renderform, widgetscripts, ajaxform %}
{%- from "macros.html.jinja2" import faicon %}

<link rel="stylesheet" type="text/css" href="{{ built_asset('css/form.scss') }}" />

<div class="modal__header">
  <a class="modal__close mui--text-dark" aria-label="{% trans %}Close{% endtrans %}" rel="modal:close" data-cy="close-admin-panel" href="javascript:void(0);" role="button" tabindex="0">{{ faicon(icon='times', baseline=false, icon_size='title') }}</a>
</div>
<div class="modal__body proposal__admin-panel">
  {% if not remove %}
    {{ renderform(form=form, formid=formid, ref_id=ref_id, submit=submit, message=message, action=action) }}
  {%- else %}
    <p class="mui--text-title">{{ message }}</p>
    <form id="{{ ref_id }}" method="POST" class="mui-form" action="{{ action }}">
      <input type="hidden" name="form.id" value="delete"/>
      {{ form.hidden_tag() }}
      {% if form.csrf_token and form.csrf_token.errors %}
        <p class="mui-form--error">{% trans %}This form timed out because it was open for a long time. Please submit again{% endtrans %}</p>
      {% endif %}
      <input class="mui-btn mui-btn--raised mui-btn--danger" type="submit" name="delete" value="{% trans %}Delete{% endtrans %}"/>
      <a class="mui-btn mui-btn--raised mui-btn--primary" aria-label="{% trans %}Close{% endtrans %}" rel="modal:close" data-cy="close-admin-panel" href="javascript:void(0);" role="button" tabindex="0">{% trans %}Cancel{% endtrans %}</a>
    </form>
  {% endif %}
  {{ ajaxform(ref_id=ref_id, request=request, force=true) }}
</div>

<script type="text/javascript">
  activate_widgets();
  {{ widgetscripts(form, script=false) }}
</script>
