{% extends "layout.html.jinja2" %}
{% set title_suffix = project.title %}
{% from "baseframe/forms.html.jinja2" import renderfield %}
{% block title %}Setup events for check-in{% endblock %}

{% block top_title %}
  <h1 class="mui--text-display1"><a href="{{ project.url_for() }}">{{ project.title|e }}</a></h1>
  <p class="mui--text-headline">{% trans %}Setup events for check-in{% endtrans %}</p>
{% endblock %}

{% block contentwrapper %}
<div class="grid">
  <div class="grid__col-xs-12 grid__col-sm-6 grid__col-md-4">
    <div class="card">
      <div class="card__header">
        <h3 class="mui--text-title">{% trans %}Events{% endtrans %}</h3>
        {%- if events %}
          <p class="mui--text-caption">{% trans %}Select an event for manual check-in of attendees{% endtrans %}</p>
        {%- else %}
          <p class="mui--text-caption">{% trans %}Add events to manage check-in{% endtrans %}</p>
        {%- endif %}
      </div>
      <div class="card__body">
        <ol class="mui-list--aligned">
          {%- for event in events %}
            <li>
              <a href="{{ event.url_for('view') }}" class="mui--text-subhead">{{ event.title }}</a>{%- if project.current_roles.admin %}&nbsp;<a href="{{ event.url_for('edit') }}" aria-label="{% trans %}Edit{% endtrans %}" title="Edit"><i class="material-icons mui--text-subhead pull-right" aria-hidden="true">edit</i></a>{%- endif %}
            </li>
          {%- endfor %}
        </ol>
      </div>
      {%- if project.current_roles.admin %}
      <div class="mui-divider"></div>
      <div class="card__footer">
        <a href={{ project.url_for('new_event') }} title="{% trans %}New event {% endtrans %}" class="mui-btn mui-btn--small mui-btn--flat mui-btn--primary">{% trans %}New event{% endtrans %}</a>
        {%- if project.events %}
          <a href={{ project.url_for('new_participant') }} title="{% trans %}Add participant {% endtrans %}" class="mui-btn mui-btn--small mui-btn--flat mui-btn--accent">{% trans %}Add participant{% endtrans %}</a>
        {%- endif %}
      </div>
      {%- endif %}
    </div>
  </div>

 {%- if project.current_roles.admin %}
  <div class="grid__col-xs-12 grid__col-sm-6 grid__col-md-4">
    <div class="card">
      <div class="card__header">
        <h3 class="mui--text-title">{% trans %}Tickets{% endtrans %}</h3>
      </div>
      <div class="card__body">
        <ol class="mui-list--aligned">
          {%- for ticket_type in project.ticket_types -%}
            <li>
              <a href="{{ ticket_type.url_for() }}" class="mui--text-subhead">{{ ticket_type.title }}</a>{%- if project.current_roles.admin %}&nbsp;<a href="{{ ticket_type.url_for('edit') }}" aria-label="{% trans %}Edit{% endtrans %}" title="Edit"><i class="material-icons mui--text-subhead pull-right" aria-hidden="true">edit</i></a>{%- endif %}
            </li>
          {%- endfor %}
        </ol>
      </div>
      {%- if project.current_roles.admin %}
      <div class="mui-divider"></div>
      <div class="card__footer">
        <a href={{ project.url_for('new_ticket_type') }} title="{% trans %}New ticket type {% endtrans %}" class="mui-btn mui-btn--small mui-btn--flat mui-btn--primary">{% trans %}New ticket{% endtrans %}</a>
      </div>
      {%- endif %}
    </div>
  </div>

  <div class="grid__col-xs-12 grid__col-sm-6 grid__col-md-4">
    <div class="card">
      <div class="card__header">
        <h3 class="mui--text-title">{% trans %}Ticket clients{% endtrans %}</h3>
        <p class="mui--text-caption">{% trans %}Add ticket client to import tickets{% endtrans %}</p>
      </div>
      <div class="card__body">
        <ol class="mui-list--aligned">
          {%- for client in project.ticket_clients %}
            <li>
              <span class="mui--text-subhead">{{client.name}}</span>{%- if project.current_roles.admin %}&nbsp;<a href="{{ client.url_for('edit') }}" aria-label="{% trans %}Edit{% endtrans %}" title="Edit"><i class="material-icons mui--text-subhead pull-right" aria-hidden="true">edit</i></a>{%- endif %}
            </li>
          {%- endfor %}
        </ol>
      </div>
      <div class="mui-divider"></div>
        <div class="card__footer">
          <a href="{{ project.url_for('new_ticket_client') }}" title="{% trans %}New ticket client{% endtrans %}" class="mui-btn mui-btn--small mui-btn--flat mui-btn--primary">{% trans %}New ticket client{% endtrans %}</a>
          {%- if project.ticket_clients %}
            <form method="POST" id="csrf_form-submit" enctype="multipart/form-data" class="mui-form inline-form">
              <div class="form-group">
                {{ csrf_form.hidden_tag() }}
              </div>
              <button id="csrf_form-submit" class="mui-btn mui-btn--small mui-btn--flat mui-btn--accent" type="submit" title="{% trans %}Sync tickets{% endtrans %}">{% trans %}Sync tickets{% endtrans %}</button>
            </form>
          {%- endif %}
        </div>
      </div>
    </div>
  </div>
  {%- endif %}
</div>
{% endblock %}
