{% extends "layout.html.jinja2" %}
{% set title_suffix = project.title %}
{% from "baseframe/forms.html.jinja2" import renderfield %}
{% from "baseframe/components.html.jinja2" import faicon %}
{% block title %}{% trans %}Setup events for check-in{% endtrans %}{% endblock %}
{% block description %}{{ project.title }}{% if project.tagline %} &ndash; {{ project.tagline|striptags }}{% endif %}{% endblock %}

{% block top_title %}
  <h1 class="mui--text-display1"><a href="{{ project.url_for() }}">{{ project.title }}</a></h1>
  <p class="mui--text-headline">{% trans %}Setup events for check-in{% endtrans %}</p>
{% endblock %}

{% block contentwrapper %}
<div class="grid">
  <div class="grid__col-xs-12 grid__col-sm-6 grid__col-md-4">
    <div class="card">
      <div class="card__header">
        <h3 class="mui--text-title">{% trans %}Events{% endtrans %}</h3>
        {%- if events %}
          <p class="mui--text-caption">{% trans %}Select an event for manual check-in of attendees{% endtrans %}</p>
        {%- else %}
          <p class="mui--text-caption">{% trans %}Add events to manage check-in{% endtrans %}</p>
        {%- endif %}
      </div>
      <div class="card__body">
        <ol class="mui-list--aligned">
          {%- for event in events %}
            <li>
              <a href="{{ event.url_for('view') }}" class="mui--text-subhead" data-cy="{{ event.title }}" data-action="View {{ event.title }}">{{ event.title }}</a>{%- if project.current_roles.concierge %}&nbsp;<a href="{{ event.url_for('edit') }}" aria-label="{% trans %}Edit{% endtrans %}"  data-action="edit {{ event.title }}">{{ faicon(icon='edit', icon_size='subhead') }}</a>{%- endif %}
            </li>
          {%- endfor %}
        </ol>
      </div>
      {%- if project.current_roles.concierge %}
      <div class="mui-divider"></div>
      <div class="card__footer">
        <a href="{{ project.url_for('new_event') }}" class="mui-btn mui-btn--small mui-btn--flat mui-btn--primary" data-cy="new-event">{% trans %}New event{% endtrans %}</a>
        {%- if project.events %}
          <a href="{{ project.url_for('new_participant') }}" class="mui-btn mui-btn--small mui-btn--flat mui-btn--accent" data-cy="add-participant">{% trans %}Add participant{% endtrans %}</a>
        {%- endif %}
      </div>
      {%- endif %}
    </div>
  </div>

 {%- if project.current_roles.concierge %}
  <div class="grid__col-xs-12 grid__col-sm-6 grid__col-md-4">
    <div class="card">
      <div class="card__header">
        <h3 class="mui--text-title">{% trans %}Tickets{% endtrans %}</h3>
      </div>
      <div class="card__body">
        <ol class="mui-list--aligned">
          {%- for ticket_type in project.ticket_types -%}
            <li data-cy-ticket="{{ ticket_type.title }}">
              <a href="{{ ticket_type.url_for() }}" class="mui--text-subhead" data-action="View {{ ticket_type.title }}">{{ ticket_type.title }}</a>{%- if project.current_roles.concierge %}&nbsp;<a href="{{ ticket_type.url_for('edit') }}" aria-label="{% trans %}Edit{% endtrans %}" data-cy="ticket-edit"  data-action="edit {{ ticket_type.title }}">{{ faicon(icon='edit', icon_size='subhead') }}</a>{%- endif %}
            </li>
          {%- endfor %}
        </ol>
      </div>
      <div class="mui-divider"></div>
      <div class="card__footer">
        <a href="{{ project.url_for('new_ticket_type') }}" class="mui-btn mui-btn--small mui-btn--flat mui-btn--primary">{% trans %}New ticket{% endtrans %}</a>
      </div>
    </div>
  </div>

  <div class="grid__col-xs-12 grid__col-sm-6 grid__col-md-4">
    <div class="card">
      <div class="card__header">
        <h3 class="mui--text-title">{% trans %}Ticket clients{% endtrans %}</h3>
        <p class="mui--text-caption">{% trans %}Add ticket client to import tickets{% endtrans %}</p>
      </div>
      <div class="card__body">
        <ol class="mui-list--aligned">
          {%- for client in project.ticket_clients %}
            <li>
              <span class="mui--text-subhead">{{client.name}}</span>{%- if project.current_roles.concierge %}&nbsp;<a href="{{ client.url_for('edit') }}" aria-label="{% trans %}Edit{% endtrans %}"  data-action="Edit {{ client.name }}">{{ faicon(icon='edit', icon_size='subhead') }}</a>{%- endif %}
            </li>
          {%- endfor %}
        </ol>
      </div>
      <div class="mui-divider"></div>
        <div class="card__footer">
          <a href="{{ project.url_for('new_ticket_client') }}" class="mui-btn mui-btn--small mui-btn--flat mui-btn--primary" data-cy="new-ticket-client">{% trans %}New ticket client{% endtrans %}</a>
          {%- if project.ticket_clients %}
            <form method="POST" id="csrf_form-submit" enctype="multipart/form-data" class="mui-form inline-form">
              <div class="form-group">
                {{ csrf_form.hidden_tag() }}
              </div>
              <button id="csrf_form-submit" class="mui-btn mui-btn--small mui-btn--flat mui-btn--accent" type="submit" data-cy="sync-tickets">{% trans %}Sync tickets{% endtrans %}</button>
            </form>
          {%- endif %}
        </div>
      </div>
    </div>
  </div>
  {%- endif %}
</div>
{% endblock %}
