<div>
  <link rel="stylesheet" type="text/css" href="{{ built_asset('css/form.scss') }}" />
  {% from "forms.html.jinja2" import renderform, ajaxform, widget_ext_scripts, widgetscripts %}
  {%- from "macros.html.jinja2" import alertbox -%}
  {% block pageheaders %}
  {% endblock pageheaders %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        {{ alertbox(category, message) }}
      {% endfor %}
    {% endif %}
  {% endwith %}
  {%- if title -%}
    <p class="mui--text-title">{{ title }}</p>
  {%- endif -%}
  {%- if message %}
    <p class="form-message">{{ message }}</p>
  {%- endif %}
  {% block form %}
    {{ renderform(form=form, formid=formid, ref_id=ref_id, submit=submit, message=message, action=action, cancel_url=cancel_url, multipart=multipart, autosave=autosave, draft_revision=draft_revision) }}
  {% endblock form %}

  {{ widget_ext_scripts(form) }}

  {% block innerscripts %}
    <script src="{{ built_asset('form.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
      {{ widgetscripts(form, script=false, ref_id=ref_id) }}
    </script>
    {%- if with_chrome -%}
      {{ ajaxform(ref_id=ref_id, request=request, force=true) }}
    {%- endif -%}
    {%- if form and form.recaptcha is defined %}
      {% block recaptcha %}{% endblock recaptcha %}
    {%- endif %}
  {% endblock innerscripts %}
</div>
