{% extends "inc/layout.html" %}
{% from "baseframe/forms.html" import ajaxform %}

{% block content %}
 <div class="row">
   {{ renderform(form, formid, submit, message) }}
 </div> 
{% endblock %}

{% block footerscripts %}
  {{ ajaxform(formid, request, ajax) }}
  <script type="text/javascript">
    $(function() {
      {%- for field in form -%}
        {%- if field.type == 'RadioField' or field.type == 'QuerySelectField' %}
          radioHighlight('{{ field.name }}', 'selected');
        {%- endif -%}
      {%- endfor %}
    });
  </script>
{% endblock %}
