{% extends "account_formlayout.html.jinja2" %}

{% block form %}
  <form data-parsley-validate="true" id="{{ ref_id }}" method="POST" class="mui-form mui-form--margins" accept-charset="UTF-8">
    {{ renderform_inner(form, formid) }}
    {{ rendersubmit([(none, "Change password", 'mui-btn--primary mui--hide js-change-password')]) }}
  </form>
{% endblock %}

{% block footerscripts %}
  <script type="text/javascript">
    $(function() {
      var typingTimer;
      var typingWaitInterval = 100;
      var waitingForResponse = false;
      var ajaxTimeout = 15000;

      $('input[type="password"]').on('change', function(e) {
          checkPasswordStrength(this);
        });

      $('input[type="password"]').on('keyup', function(e) {
        var field = this;
        if(typingTimer) clearTimeout(typingTimer);
        typingTimer = setTimeout(function() {
          checkPasswordStrength(field);
        }, typingWaitInterval);
      });

      function checkPasswordStrength(field) {
        $.ajax({
          type: 'POST',
          url: '/api/1/password/policy',
          dataType: 'json',
          data: { 'candidate': $(field).val()},
          timeout: ajaxTimeout,
          success: function (remoteData) {
             $(field).parent().find('.progress').addClass('progress--show');
             var widthPercentage = remoteData.result.strength*100 + '%';
             $(field).parent().find('.progress__bar').css('width', widthPercentage);
            if(remoteData.result.is_weak) {
              $(field).parent().find('.progress__txt').text('Weak');
              $(field).parent().find('.progress__bar').addClass('progress__bar--danger');
              $('#{{ ref_id }}').removeClass('password-valid');
            } else {
              if(remoteData.result.strength > 0.7) {
                $(field).parent().find('.progress__txt').text('Good');
                $(field).parent().find('.progress__bar').addClass('progress__bar--success');
                $('#{{ ref_id }}').addClass('password-valid');
              } else {
                $(field).parent().find('.progress__txt').text('Medium');
                $(field).parent().find('.progress__bar').addClass('progress__bar--warning');
              }
            }
          },
        });
      }

      $('#{{ ref_id }}').parsley().subscribe('parsley:field:validated', function(){
        if ($('#{{ ref_id }}').parsley().isValid() && $('#{{ ref_id }}').hasClass('password-valid'))
          $('#{{ ref_id }}').find('button.js-change-password').removeClass('mui--hide');
        else
          $('#{{ ref_id }}').find('button.js-change-password').addClass('mui--hide');
      });
    });
  </script>
{% endblock %}
