{% extends "account_formlayout.html.jinja2" %}

{% block form %}
  <form data-parsley-validate="true" id="{{ ref_id }}" method="POST" class="mui-form mui-form--margins password-form" accept-charset="UTF-8">
    {{ renderform_inner(form, formid) }}
    {{ rendersubmit([(none, "Change password", 'mui-btn--primary mui--hide js-change-password')]) }}
  </form>
{% endblock %}
