{% macro commenttree(comments, document, project, csrf_form) %}
{%- for comment in comments %}
  <li class="comment">
    <div id="c{{ comment.suuid }}">
      <div class="comment--content">
        <div class="comment--header">
          <button class="js-collapse mui-btn--nostyle" aria-label="{% trans %}New event{% endtrans %}" aria-expanded="true"><i class="material-icons mui--align-middle mui--text-menu" aria-hidden="true">remove_circle_outline</i></button>
          <button class="js-uncollapse mui-btn--nostyle mui--hide" aria-expanded="false">><i class="material-icons mui--align-middle mui--text-menu" aria-hidden="true">add_circle_outline</i></button>
          {% if comment.state.DELETED -%}
            <span class="commenter">[{% trans %}deleted{% endtrans %}]</span>
          {%- else -%}
            <span class="commenter"><strong>{{ comment.user.pickername }}</strong></span>
            {%- if comment.user == document.user %}
              <span class="chip chip--bg-accent">
                <span class="chip__text">Proposer</span>
              </span>
            {% endif %}
            {% if not comment.state.DELETED and project.review_team and comment.user in project.review_team.users %}
              <span class="chip chip--bg-primary">
                <span class="chip__text">Reviewer</span>
              </span>
            {% endif %}
            <span class="mui--text-caption mui--text-accent">{{ comment.created_at|age }}</span>
            {%- if comment.edited_at %}
              <span class="mui--text-caption mui--text-accent">({% trans %}edited{% endtrans %} {{ comment.edited_at|age }})</span>
            {%- endif %}
          {%- endif %}
        </div>
        <div class="comment--body">
          {% if not comment.state.DELETED -%}
            {{ comment.message }}
          {%- endif %}
          <div data-id="{{ comment.suuid }}" data-delete-url="{{ document.url_for('delete_comment', comment=comment) }}" class="comment--footer">
            {% if not comment.state.DELETED %}
              {% if current_auth %}<a title="{% trans %}Reply{% endtrans %}" class="mui--text-menu mui--text-accent js-comment-reply" href="#c{{ comment.suuid }}">[Reply]</a>{% endif %}
              {% if comment.current_permissions.edit_comment %}<a title="{% trans %}Edit{% endtrans %}" class="mui--text-menu mui--text-accent js-comment-edit" href="#c{{ comment.suuid }}">[{% trans %}Edit{% endtrans %}]</a>{% endif %}
              {% if comment.current_permissions.delete_comment %}<a title="{% trans %}Delete{% endtrans %}" class="mui--text-menu mui--text-accent js-comment-delete" href="#c{{ comment.suuid }}">[{% trans %}Delete{% endtrans %}]</a>{% endif %}
            {%- endif %}
            <a title="Permalink" class="mui--text-menu mui--text-accent comment--permalink" href="#c{{ comment.suuid }}">[{% trans %}Link{% endtrans %}]</a>
            {% if comment.parent %}<a title="{% trans %}Parent{% endtrans %}" class="mui--text-menu mui--text-accent comment--parent" href="#c{{ comment.parent.suuid }}">[{% trans %}Parent{% endtrans %}]</a>{% endif %}
          </div>
        </div>
        {% if comment.children %}
          <ul class="mui-list--aligned mui-list--unstyled comment--children">
            {{ commenttree(comment.sorted_children(), document, project, csrf_form) }}
          </ul>
        {% endif %}
      </div>
    </div>
  </li>
{% endfor -%}
{% endmacro %}
