{% macro commentvote(comment, document, csrf_form) %}
  <div class="comment--vote">
    {%- set comvote = comment.voteset.getvote(current_auth.user) %}
    {%- if not comvote -%}
      <form method="post" action="{{ document.url_for('voteup_comment', comment=comment) }}" class="mui-form--inline">
        {{ csrf_form.hidden_tag() }}
        <button class="mui--text-caption action-btn action-btn--nopadding" title="{% trans %}Vote up{% endtrans %}" type="submit"><i class="material-icons mui--align-top mui--text-title">arrow_drop_up</i></button>
      </form>
      <span class="comment--vote--count">{{ comment.voteset.count }}</span>
      <form method="post" action="{{ document.url_for('votedown_comment', comment=comment) }}">
        {{ csrf_form.hidden_tag() }}
        <button class="mui--text-caption action-btn action-btn--nopadding" title="{% trans %}Vote down{% endtrans %}" type="submit"><i class="material-icons mui--align-top mui--text-title">arrow_drop_down</i></button>
      </form>
    {%- elif not comvote.votedown -%}
      <form method="post" action="{{ document.url_for('delete_comment_vote', comment=comment) }}" class="mui-form--inline">
        {{ csrf_form.hidden_tag() }}
        <button class="mui--text-caption action-btn action-btn--nopadding" title="{% trans %}Withdraw vote{% endtrans %}" type="submit"><i class="material-icons mui--align-top mui--text-body2">clear</i></button>
      </form>
      <span class="comment--vote--count">{{ comment.voteset.count }}</span>
      <form method="post" action="{{ document.url_for('votedown_comment', comment=comment) }}" class="mui-form--inline">
        {{ csrf_form.hidden_tag() }}
        <button class="mui--text-caption action-btn action-btn--nopadding" title="{% trans %}Vote down{% endtrans %}" type="submit"><i class="material-icons mui--align-top mui--text-title">arrow_drop_down</i></button>
      </form>
    {%- else -%}
      <form method="post" action="{{ document.url_for('voteup_comment', comment=comment) }}" class="mui-form--inline">
        {{ csrf_form.hidden_tag() }}
        <button class="mui--text-caption action-btn action-btn--nopadding" title="{% trans %}Vote up{% endtrans %}" type="submit"><i class="material-icons mui--align-top mui--text-title">arrow_drop_up</i></button>
      </form>
      <span class="comment--vote--count">{{ comment.voteset.count }}</span>
      <form method="post" action="{{ document.url_for('delete_comment_vote', comment=comment) }}" class="mui-form--inline">
        {{ csrf_form.hidden_tag() }}
        <button class="mui--text-caption action-btn action-btn--nopadding" title="{% trans %}Withdraw vote{% endtrans %}" type="submit"><i class="material-icons mui--align-top mui--text-body2">clear</i></button>
      </form>
    {%- endif %}
  </div>
{% endmacro %}
{% macro commenttree(comments, document, project, csrf_form) %}
{%- for comment in comments %}
  <li class="comment">
    <div id="c{{ comment.id }}">
      {{ commentvote(comment, document, csrf_form) }}
      <div class="comment--content">
        <div class="comment--header">
          <button class="js-collapse action-btn action-btn--nopadding"><i class="material-icons mui--align-middle mui--text-menu">remove_circle_outline</i></button>
          <button class="js-uncollapse action-btn action-btn--nopadding mui--hide"><i class="material-icons mui--align-middle mui--text-menu">add_circle_outline</i></button>
          {% if comment.state.DELETED -%}
            <span class="commenter">[{% trans %}deleted{% endtrans %}]</span>
          {%- else -%}
            <span class="commenter"><strong>{{ comment.user.pickername }}</strong></span>
            {%- if comment.user == document.user %}
              <span class="chip chip--bg-accent">
                <span class="chip__text">Proposer</span>
              </span>
            {% endif %}
            {% if not comment.state.DELETED and project.review_team and comment.user in project.review_team.users %}
              <span class="chip chip--bg-primary">
                <span class="chip__text">Reviewer</span>
              </span>
            {% endif %}
            <span class="mui--text-caption mui--text-accent">{{ comment.created_at|age }}</span>
            {%- if comment.edited_at %}
              <span class="mui--text-caption mui--text-accent">({% trans %}edited{% endtrans %} {{ comment.edited_at|age }})</span>
            {%- endif %}
          {%- endif %}
        </div>
        <div class="comment--body">
          {% if not comment.state.DELETED -%}
            {{ comment.message }}
          {%- endif %}
          <div data-id="{{ comment.suuid }}" data-delete-url="{{ document.url_for('delete_comment', comment=comment) }}" class="comment--footer">
            {% if not comment.state.DELETED %}
              {% if current_auth %}<a title="{% trans %}Reply{% endtrans %}" class="mui--text-menu mui--text-accent js-comment-reply" href="#c{{ comment.id }}">[Reply]</a>{% endif %}
              {%- with cperms = comment.permissions(g.user, g.permissions) %}
                {% if 'edit_comment' in cperms %}<a title="{% trans %}Edit{% endtrans %}" class="mui--text-menu mui--text-accent js-comment-edit" href="#c{{ comment.id }}">[{% trans %}Edit{% endtrans %}]</a>{% endif %}
                {% if 'delete_comment' in cperms %}<a title="{% trans %}Delete{% endtrans %}" class="mui--text-menu mui--text-accent js-comment-delete" href="#c{{ comment.id }}">[{% trans %}Delete{% endtrans %}]</a>{% endif %}
              {%- endwith %}
            {%- endif %}
            <a title="Permalink" class="mui--text-menu mui--text-accent comment--permalink" href="#c{{ comment.id }}">[{% trans %}Link{% endtrans %}]</a>
            {% if comment.parent %}<a title="{% trans %}Parent{% endtrans %}" class="mui--text-menu mui--text-accent comment--parent" href="#c{{ comment.parent.id }}">[{% trans %}Parent{% endtrans %}]</a>{% endif %}
          </div>
        </div>
        {% if comment.children %}
          <ul class="mui-list--unstyled comment--children">
            {{ commenttree(comment.sorted_children(), document, project, csrf_form) }}
          </ul>
        {% endif %}
      </div>
    </div>
  </li>
{% endfor -%}
{% endmacro %}
