{% macro commenttree(comments, document, project, csrf_form) %}
{%- for comment in comments %}
  <li class="comment">
    <div id="c{{ comment.uuid_b58 }}">
      <div class="comment--content">
        <div class="comment--header">
          <button class="js-collapse mui-btn mui-btn--nostyle" aria-label="{% trans %}Hide comment{% endtrans %}" aria-expanded="true">
            {% assets "fa5-sprite" %}<svg class="fa5-icon mui--align-middle" aria-hidden="true" role="img"><use xlink:href="{{ ASSET_URL }}#caret-circle-up"></use></svg>{% endassets %}
          </button>
          <button class="js-uncollapse mui-btn mui-btn--nostyle mui--hide" aria-expanded="false" aria-label="{% trans %}Collapse comment{% endtrans %}">
            {% assets "fa5-sprite" %}<svg class="fa5-icon mui--align-middle" aria-hidden="true" role="img"><use xlink:href="{{ ASSET_URL }}#caret-circle-down"></use></svg>{% endassets %}
          </button>&nbsp;
          {% if comment.state.DELETED -%}
            <span class="commenter">[{% trans %}deleted{% endtrans %}]</span>
          {%- else -%}
            <span class="commenter"><strong>{{ comment.user.pickername }}</strong></span>
            {%- if comment.user == document.user %}
              <span class="chip chip--bg-accent">
                <span class="chip__text">Proposer</span>
              </span>
            {% endif %}
            {% if not comment.state.DELETED and project.review_team and comment.user in project.review_team.users %}
              <span class="chip chip--bg-primary">
                <span class="chip__text">Reviewer</span>
              </span>
            {% endif %}
            <span class="mui--text-caption mui--text-accent">{{ comment.created_at|age }}</span>
            {%- if comment.edited_at %}
              <span class="mui--text-caption mui--text-accent">({% trans %}edited{% endtrans %} {{ comment.edited_at|age }})</span>
            {%- endif %}
          {%- endif %}
        </div>
        <div class="comment--body">
          {% if not comment.state.DELETED -%}
            {{ comment.message }}
          {%- endif %}
          <div data-id="{{ comment.uuid_b58 }}" data-delete-url="{{ document.url_for('delete_comment', comment=comment) }}" class="comment--footer">
            {% if not comment.state.DELETED %}
              {% if current_auth %}<a aria-label="{% trans %}Reply{% endtrans %}" class="mui--text-menu mui--text-accent js-comment-reply" href="#c{{ comment.uuid_b58 }}">[Reply]</a>{% endif %}
              {% if comment.current_permissions.edit_comment %}<a aria-label="{% trans %}Edit{% endtrans %}" class="mui--text-menu mui--text-accent js-comment-edit" href="#c{{ comment.uuid_b58 }}">[{% trans %}Edit{% endtrans %}]</a>{% endif %}
              {% if comment.current_permissions.delete_comment %}<a aria-label="{% trans %}Delete{% endtrans %}" class="mui--text-menu mui--text-accent js-comment-delete" href="#c{{ comment.uuid_b58 }}">[{% trans %}Delete{% endtrans %}]</a>{% endif %}
            {%- endif %}
            <a aria-label="Permalink" class="mui--text-menu mui--text-accent comment--permalink" href="#c{{ comment.uuid_b58 }}">[{% trans %}Link{% endtrans %}]</a>
            {% if comment.parent %}<a aria-label="{% trans %}Parent{% endtrans %}" class="mui--text-menu mui--text-accent comment--parent" href="#c{{ comment.parent.uuid_b58 }}">[{% trans %}Parent{% endtrans %}]</a>{% endif %}
          </div>
        </div>
        {% if comment.children %}
          <ul class="mui-list--aligned mui-list--unstyled comment--children">
            {{ commenttree(comment.sorted_children(), document, project, csrf_form) }}
          </ul>
        {% endif %}
      </div>
    </div>
  </li>
{% endfor -%}
{% endmacro %}
