{% extends "layout.html.jinja2" %}
{% from "macros.html.jinja2" import rsvpform, rsvpscript %}
{% from "baseframe/forms.html" import renderfield %}
{% block title %}{{ project.title }}{% endblock %}
{% block pageheaders %}
{% endblock %}

{% block content %}
  <div class="grid">
  <div class="grid__col-xs-12 grid__col-lg-4">
    <h2 class="mui--text-title">My contacts</h2>
    <!-- List of contacts scanned by the user -->
  </div>
  <div class="grid__col-xs-12 grid__col-lg-8" id="scan-badge-wrapper">
    {% raw %}
      <script id='scan-badge-template' type='text/ractive'>
        {{#if video}}
          <h4 class="mui--text-subhead">Scan attendee badge</h4>
          <p><button type="button" class="mui-btn mui-btn--small mui-btn--raised mui-btn--accent" on-click="setupVideo(event)">Restart QR reader</button></p>
        {{elseif error}}
          <p class="mui--text-danger">{{ error }}</p>
        {{/if}}
        <canvas id="qrreader-canvas"></canvas>

        {{#if showModal}}
        <div id="status-msg" class="modal" tabindex="-1" role="dialog">
          <div class="modal__header">
            <a class="modal__close" href="javascript:void(0);" on-click="closeModal(event)"><i class="material-icons">clear</i></a>
            <h3 class="mui--text-title">Contact exchange</h3>
          </div>
          <div class="modal__body">
            {{#if scanning}}
              <h4>Scanning <i class="material-icons mui--text-subhead mui--align-middle spinner">refresh</i></h4>
            {{elseif attendeeFound}}
              <h3>{{ participant.fullname }}</h3>
              <h4>{{ participant.email }}</h4>
              <h4>{{ participant.phone }}</h4>
              <h5>{{ participant.company }}</h5>
            {{else}}
              <h4>Attendee details not found</h4>
            {{/if}}
            <a href="javascript:void(0);" on-click="closeModal(event)" class="mui-btn mui-btn--small mui-btn--raised mui-btn--accent">Close</a>
          </div>
        </div>
        {{/if}}
      </script>
    {% endraw %}
  </div>
{% endblock %}

{% block footerscripts %}
  <script src="{{ url_for('static', filename=asset_path('scan_contact')) }}" type="text/javascript"></script>
  <script type="text/javascript">
    $(function() {

      var eventConfig = {};
      eventConfig.participantApiUrl = "{{ url_for('participant', profile=project.profile.name, project=project.name) }}"

      eventConfig.wrapperId = 'scan-badge-wrapper';
      eventConfig.templateId = 'scan-badge-template';
      eventConfig.projectTitle = {{ project.title|tojson }};

      window.HasGeek.BadgeScanInit(eventConfig);

    });
  </script>
{% endblock %}
