{% extends "layout.html.jinja2" %}
{% block title %}{% trans %}My contacts{% endtrans %}{% endblock %}

{% block bodytag %}
  {%- if not config['LEGACY'] -%}
    <body class="mui--bg-primary hg-app tabs-navbar">
  {%- else %}
    <body class="mui--bg-primary">
  {%- endif %}
{% endblock %}

{% block headline -%}
{%- endblock %}

{% block basecontentbox %}
  <div class="tabs-wrapper">
    <div class="mui-container">
      <div class="grid">
        <div class="grid__col-12">
          <div class="tabs" id="jquery-scroll-tabs">
            <a class="tabs__item tabs__item-control tabs__item-control--prev mui--text-body1 mui--text-light js-scroll-prev" aria-label="previous" href="javascript:void(0)"><i class="material-icons tabs__item-control__icon">chevron_left</i></a>
            <p class="tabs__item"><a href="{{ url_for('account') }}" class="mui--text-body1 mui--text-light mui--text-uppercase">Profile</a></p>
            <p class="tabs__item mui--text-body1 mui--text-light mui--text-uppercase tabs__item--active">Contacts</p>
            <p class="tabs__item"><a href="{{ url_for('scan_contact') }}" class="mui--text-body1 mui--text-light mui--text-uppercase">Scan badge</a></p>
            <a class="tabs__item tabs__item-control tabs__item-control--next mui--text-body1 mui--text-light js-scroll-next" aria-label="next" href="javascript:void(0)"><i class="material-icons tabs__item-control__icon">chevron_right</i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mui-container tab-content">
    <div class="grid">
      <div class="grid__col-xs-12 grid__col-sm-6">
        {% for project,dates in contacts %}
          <div class="tab-content__results">
          <p class="mui--text-title collapsible__header">{{ project.title }} <i class="material-icons mui--align-middle mui--pull-right collapsible__icon" aria-hidden="true">keyboard_arrow_down</i><i class="material-icons mui--align-middle mui--hide mui--pull-right collapsible__icon" aria-hidden="true">keyboard_arrow_up</i></p>
            {% for daterow in dates %}
            <div class="collapsible__body mui-list--aligned ">
              <p class="mui--text-subhead collapsible__header">{{ daterow.date|longdate }} <span class="count-chip mui--text-caption">{{ daterow.count }}</span> <i class="material-icons mui--align-middle mui--pull-right collapsible__icon" aria-hidden="true">keyboard_arrow_down</i><i class="material-icons mui--align-middle mui--hide mui--pull-right collapsible__icon" aria-hidden="true">keyboard_arrow_up</i></p>
              <div class="collapsible__body mui-list--aligned">
                <div class="mui--clearfix">
                <div class="mui--pull-right">
                  <a href="" class="mui-btn mui-btn--small mui-btn--raised mui-btn--dark" target="_blank" title="CSV"><i class="material-icons mui--text-subhead mui--align-middle" aria-hidden="true">save_alt</i> {% trans %}CSV{% endtrans %}</a>
                  <a href="" class="mui-btn mui-btn--small mui-btn--raised mui-btn--dark" target="_blank" title="Archive"><i class="material-icons mui--text-subhead mui--align-middle" aria-hidden="true">archive</i> {% trans %}Archive{% endtrans %}</a>
                </div>
              </div>
                {% for contact in daterow.contacts.all() %}
                  <div class="user-box">
                    <img class="user-gravatar" src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y" alt="{{ contact.participant.fullname }}" aria-labl="{{ contact.participant.fullname }}" />
                    <p class="mui--text-body1 zero-bottom-margin">{{ contact.participant.fullname }}</p>
                    <p class="mui--text-body1">{{ contact.participant.email }}</p>
                  </div>
                {%- endfor -%}
            </div>
            </div>
            {%- endfor -%}
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
{% endblock %}
