{% extends "layout.html" %}
{% from "baseframe/forms.html" import ajaxform %}
{% block content %}
<p>{{ message }}</p>
<form id="delete" method="POST">
  <input type="hidden" name="form.id" value="delete"/>
  {{ form.hidden_tag() }}
  {% if form.csrf_token.errors %}
    {% for error in form.csrf_token.errors %}<div class="error">{{ error }}</div>{% endfor %}
  {% endif %}
  <input class="btn btn-danger" type="submit" name="delete" value="{% trans %}Delete{% endtrans %}"/>
  <input class="btn btn-default" type="submit" name="cancel" value="{% trans %}Cancel{% endtrans %}"/>
</form>

{% endblock %}
