{% extends "layout.html.jinja2" %}
{% set title_suffix = project.title %}
{% from "baseframe/forms.html.jinja2" import renderfield, widgetscripts %}
{% from "comments.html.jinja2" import commenttree %}
{%- from "macros.html.jinja2" import project_header %}
{% block title %}Discussions{% endblock %}
{% block description %}{{ project.title }}{% if g.profile %} &ndash; {{ g.profile.description|striptags }}{% endif %}{% endblock %}

{%- block pageheaders %}
  {% assets "css_codemirrormarkdown" -%}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
  {%- endassets -%}
{% endblock %}

{% block bodytag %}
  {%- if not config['LEGACY'] -%}
    <body class="mui--bg-primary hg-app no-sticky-header">
  {%- else %}
    <body class="mui--bg-primary no-sticky-header">
  {%- endif %}
{% endblock %}

{% block contenthead %}{% endblock %}

{% block baseheadline %}
  <div class="mui--hidden-md mui--hidden-lg mui--hidden-xl">
    <div class="mobile-nav mui--z1">
      <a href="{{ project.url_for() }}" aria-label="{% trans %}Back to the project{% endtrans %}" class="mui--text-dark mui--text-headline" data-action="Back to the {{ project.title }}(videos page)">{{ faicon(icon='long-arrow-left', icon_size='title', css_class='mobile-nav__prev') }}</a> <span class="mui--text-dark mui--text-headline">{% trans %}Discussions{% endtrans %}</span>
    </div>
  </div>
  {{ project_header(project, project_save_form,
    class='mui--hidden-xs mui--hidden-sm',
    current_page='discussions') }}
{% endblock %}

{% block basecontent %}
  <div class="mui-container">
    <div class="page-content page-content--mob-nav">
      <div class="grid project-section" id="discussions">
        <div class="grid__col-xs-12">
          <h2 class="mui--text-display1 mui--text-left mui--text-bold project-section__headline">{% trans %}Discussions{% endtrans %}</h2>
        </div>
        <div class="grid__col-xs-12">
          {% if comments %}
            <ul class="mui-list--unstyled">
              {{ commenttree(comments, project, project, csrf_form) }}
            </ul>
          {% endif %}
          {% if not current_auth.user -%}
            <p>
              <a class="mui-btn mui-btn--small mui-btn--raised mui-btn--primary" href="{{ url_for('login') }}">{% trans %}Login to leave a comment{% endtrans %}</a>
            </p>
          {% else -%}
            <form method="POST" id="comment-form" action="{{ project.commentset.url_for('new_comment') }}" class="mui-form">
              <div class="mui--hide">
                <input type="hidden" name="form.id" value="newcomment"/>
                {{ commentform.hidden_tag() }}
              </div>
              {{ renderfield(commentform.message, nolabel=true) }}
              {{ renderfield(commentform.recaptcha, nolabel=true) }}
              <input id="comment-submit" class="mui-btn mui-btn--small mui-btn--raised mui-btn--primary" type="submit" value="{% trans %}Post comment{% endtrans %}"/>
            </form>
            <p id="toplevel-comment" class="mui--hide">
              <a href="#">{% trans %}Post a comment &rarr;{% endtrans %}</a>
            </p>
            <form method="POST" id="delcomment" class="mui--hide">
              <div class="mui--hide">
                <input type="hidden" name="form.id" value="delcomment"/>
                {{ delcommentform.hidden_tag() }}
                {{ delcommentform.comment_id() }}
              </div>
              <p>
                {% trans %}Really delete this comment?{% endtrans %}&nbsp;
                <input id="comment-delete-submit" class="mui-btn mui-btn--small mui-btn--raised mui-btn--danger" type="submit" value="{% trans %}Delete{% endtrans %}"/>
                &nbsp;or&nbsp;<button id="comment-delete-cancel" class="mui-btn mui-btn--small mui-btn--raised mui-btn--accent" href="#">{% trans %}Cancel{% endtrans %}</button>
              </p>
            </form>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block pagescripts %}
  {% assets "js_codemirrormarkdown" -%}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {%- endassets -%}
{% endblock %}

{% block footerscripts %}
  <script src="{{ url_for('static', filename=asset_path('project_header')) }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename=asset_path('disussions')) }}" type="text/javascript"></script>
  {{ widgetscripts(commentform, script=true, ref_id='comment-form') }}
  <script type="text/javascript">
    $(function() {
      var saveProjectConfig = {
        formId: 'save-form',
        postUrl: {{ project.url_for('save')|tojson }}
      }
      var pageUrl = {{ request.base_url|tojson }};

      window.HasGeek.ProjectHeaderInit(saveProjectConfig);
      window.HasGeek.DiscussionsInit(pageUrl);
    });
  </script>
{% endblock %}
