{% extends "notifications/layout_email.html.jinja2" %}
{% block content -%}

  <p>{% trans %}Hello {{ fullname }},{% endtrans %}</p>

  <p class="btn-bar"><a class="btn" href="{{ url }}">{% trans %}Confirm your email address{% endtrans %}</a></p>

  <p>{% trans %}If you did not ask for this, you may safely ignore this email.{% endtrans %}</p>

{%- endblock %}
