{% extends "notifications/layout_email.html.jinja2" %}
{% block content -%}

  <p>{% trans organization=organization.title, actor=actor.pickername %}
    <b>{{ actor }}</b> has removed you as an admin from <b>{{ organization }}</b>.
  {% endtrans %}</p>

  <p>
    <a class="btn" href="{{ organization.profile.url_for('members', _external=true, utm_medium='email', utm_campaign='website') }}">{% trans %}See all admins{% endtrans %}</a>
  </p>

{%- endblock %}
