{% extends "notifications/layout_email.html.jinja2" %}
{% block content -%}

  <tr>
    <td><br/>
      <p class="otp"><b>{{ otp }}</b></p>
      <br/>
      <p align="center">{% trans %}This login OTP is valid for 15 minutes.{% endtrans %}</p>
    </td>
  </tr>
  <tr>
    <td class="line-separator"></td>
  </tr>
  <tr>
    <td>
      <p class="footer-text footer-align">{% trans %}If you did not ask for this, you may safely ignore this email.{% endtrans %}</p>
    </td>
  </tr>
{%- endblock %}
