{% extends "notifications/layout_email.html.jinja2" %}
{% block content -%}
  <tr>
    <td><br/>
      <p class="otp"><b>{{ otp }}</b></p>
      <br/>
      <p align="center">{% trans %}You are about to perform a critical action. This OTP serves as your confirmation to proceed and is valid for 15 minutes.{% endtrans %}</p>
    </td>
  </tr>
{%- endblock %}
