{% extends "email_layout.html.jinja2" %}
{% block content -%}

<p>Hi {{ current_auth.user.fullname }},</p>

<p>Your registration for <b>{{ project.title }}</b> was successful.</b></p>

<p>The project is scheduled to begin at {{ project.schedule_start_at_localized|datetime }}</p>

<p>More details about the project are available here: {{ project.url_for(_external=True) }}</p>

{%- endblock %}
