{% extends "email_layout.html.jinja2" %}
{% block content -%}

<p>{% trans user=user.fullname %}Hi {{ user }},{% endtrans %}</p>

<p>{% trans project=project.title %}You have deregistered for <b>{{ project }}</b>. In case this was an accident, or if you wish to register again, you can do so through this link:{% endtrans %}</p>

<p><a class="btn" href="{{ project.url_for(_external=true) }}">{% trans %}Project page{% endtrans %}</a></p>

{%- endblock %}
