{% extends "email_layout.html.jinja2" %}
{% block content -%}

  <p>{% trans project_title=project.title, granted_by=granted_by.pickername %}
    <b>{{ granted_by }}</b> has invited you to join <b>{{ project_title }}</b>.
  {% endtrans %}</p>

  <p>
  	<a class="btn" href="{{ link }}">{% trans %}Accept or decline invite{% endtrans %}</a>
  </p>

 {%- endblock %}
