{% extends "email_layout.html.jinja2" %}
{% block content -%}

  <p>{% trans project=project.title, actor=actor.pickername %}
    <b>{{ actor }}</b> has added you to <b>{{ project }}</b> as a crew member.
  {% endtrans %}</p>

  <p>
    <a class="btn" href="{{ project.url_for('crew', _external=true) }}">{% trans %}See all crew members{% endtrans %}</a>
  </p>

{%- endblock %}
