{% extends "notifications/layout_email.html.jinja2" %}
{% block content -%}

  <p>{% trans %}Hello {{ fullname }},{% endtrans %}</p>

  <p>{% trans %}You – or someone claiming to be you – asked for your password to be reset. This OTP is valid for 15 minutes.{% endtrans %}</p>

  <p><big>{% trans %}OTP:{% endtrans %} <strong>{{ otp }}</strong></big></p>

  <p>{% trans %}You can also use this link:{% endtrans %}</p>

  <p class="btn-bar"><a class="btn" href="{{ url }}">{% trans %}Reset your password{% endtrans %}</a></p>

  <p>{% trans %}If you did not ask for this, you may safely ignore this email.{% endtrans %}</p>

{%- endblock content %}
