{% extends "email_layout.html.jinja2" %}
{% block content -%}

  <p>{% trans project_title=project.title, granted_by=granted_by.pickername %}
    <b>{{ granted_by }}</b> has added you to <b>{{ project_title }}</b> as a crew member.
  {% endtrans %}</p>

  <p>
  	<a class="btn" href="{{ project_membership_link }}">{% trans %}See more details{% endtrans %}</a>
  </p>

{%- endblock %}
