{% extends "notifications/layout_email.html.jinja2" %}
{%- from "notifications/macros_email.html.jinja2" import cta_button -%}

{% block content -%}

  <p>{% trans %}Hello {{ fullname }},{% endtrans %}</p>

  {# Button : BEGIN #}
  {{ cta_button(url, gettext("Confirm your email address") )}}
  {# Button : END #}

  <br>
  <p>{% trans %}If you did not ask for this, you may safely ignore this email.{% endtrans %}</p>

{%- endblock %}
