{% extends "notifications/layout_email.html.jinja2" %}
{%- from "notifications/macros_email.html.jinja2" import cta_button -%}

{% block content -%}
  <tr>
    <td  align="center">
      <p class="otp"><b>{{ otp }}</b></p>
      <br/>
      <p>{% trans %}This OTP to reset your password is valid for 15 minutes.<br/>Or use this link:{% endtrans %}</p><br/>
    </td>
  </tr>
  {# Button : BEGIN #}
  {{ cta_button(url, gettext("Reset your password") )}}
  {# Button : END #}
  <tr>
    <td class="spacer-16px"></td>
  </tr>
  <tr>
    <td class="line-separator"></td>
  </tr>
  <tr>
    <td>
      <p class="footer-text footer-align">{% trans %}If you did not ask for this, you may safely ignore this email.{% endtrans %}</p>
    </td>
  </tr>
{%- endblock content %}
