{% extends "notifications/layout_email.html.jinja2" %}
{% block content -%}

  <p>{% trans project=project.title, actor=actor.pickername %}
    {{ actor }} has invited you to join ‘{{ project }}’ as a crew member.
  {% endtrans %}</p>

  <p class="btn-bar">
    <a class="btn" href="{{ membership.url_for('invite', _external=true, utm_medium='email', utm_campaign='notification') }}">{% trans %}Accept or decline invite{% endtrans %}</a>
  </p>

{%- endblock %}
