{% extends "notifications/layout_email.html.jinja2" %}
{% block content -%}

  <p>{% trans organization=organization.title, actor=actor.pickername %}
    <b>{{ actor }}</b> has added you to <b>{{ organization }}</b> as an admin.
  {% endtrans %}</p>

  <p class="btn-bar">
    <a class="btn" href="{{ organization.profile.url_for('members', _external=true, utm_medium='email', utm_campaign='notification') }}">{% trans %}See all admins{% endtrans %}</a>
  </p>

{%- endblock %}
