{% extends "layout.html" %}
{% from "macros.html" import rsvpform, rsvpscript %}
{% from "baseframe/forms.html" import renderfield %}
{% block title %}{{ space.title }}{% endblock %}
{% block pageheaders %}
{% endblock %}
{% block headline %}
  <div class="page-header">
    {#<h3><a href="{{ space.profile.url_for() }}">{{ space.profile.title }}</a> &nbsp;<i class="fa fa-angle-right"></i></h3>#}
    <h1>{{ space.title }}</h1>
  </div>
{% endblock %}

{% block content %}
  <h2>Participants</h2>
  <p>
  <h3>{{event.title}}</h3>
  </p>
  <div class="row">
    <div class="col-lg-3 col-sm-4 col-xs-6">
      <form class="search-participant">
          <input autofocus class="form-control search-query" id="search" type="text" name="key" value="" placeholder="Search"/>
      </form>
    </div>
    <div class="col-lg-9 col-xs-12">
      <ul class="list-inline status-btn-list">
        <li><a href={{ space.url_for('new-participant') }} class='btn btn-primary'>New Participant</a></li>
        <li><a href={{ "{0}event/{1}/badges".format(space.url_for(), event.name) }} class='btn btn-info' target="_blank">Badges to be printed</a></li>
        <li><a href={{ "{0}event/{1}/badges?badge_printed=t".format(space.url_for(), event.name) }} class='btn btn-success' target="_blank">Badges printed</a></li>
        <li class="badge-print-status-btn">
          <form method="POST" id="badge_form" class="form-inline">
              {{ badge_form.hidden_tag() }}
              {{ renderfield(badge_form.badge_printed, style='wide', nolabel=true) }}
            <input id="badge-form-submit" class="btn btn-danger" type="submit" value="{% trans %}Update Badges{% endtrans %}"/>
          </form>
        </li>
      </ul>
    </div>
  </div>
  <table class="table footable" id='participants-table'>
    <thead>
      <tr>
        <th>Name</th>
        <th data-hide="phone">Email</th>
        <th data-hide="tablet, phone">Company</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody id="participants">
      {% raw %}
      <script id='participant' type='text/ractive'>
      {{#each participants}}
        <tr id="p-{{ pid }}">
          <td class='js-searchable'>{{ fullname }}</td>
          <td class='js-searchable'>{{ email }}</td>
          <td class='js-searchable'>{{ company }}</td>
          <td>
            <ul class="list-inline status-btn-list">
            <li>
              <a href="{{ showbadge_url }}" {{#badge_printed}} class="btn btn-xs btn-success" {{/badge_printed}} {{^badge_printed}} class="btn btn-xs btn-info" {{/badge_printed}} target="_blank">Show badge</a>
            </li>
            <li>
              <a href="{{ edit_url }}" class='btn btn-xs btn-default'>Edit</a>
            </li>
            <li>
            {{#checked_in}}
              <a href="{{ checkin_url }}/checkin/{{ pid }}" data-pid="{{ pid }}" class="btn btn-xs cancel-checkin">Cancel Check-in</a>
              <i class="fa fa-spinner fa-pulse loader"></i>
              <i class="fa fa-close loader abort"></i>
            {{/checked_in}}
            {{^checked_in}}
              <a href="{{ checkin_url }}/checkin/{{ pid }}?checkin=t" data-pid="{{ pid }}"sd class="btn btn-xs checkin">Check-in</a>
              <i class="fa fa-spinner fa-pulse loader"></i>
              <i class="fa fa-close loader abort"></i>
            {{/checked_in}}
            </li>
            </ul>
          </td>
        </tr>
      {{/each}}
      </script>
      {% endraw %}
    </tbody>
  </table>
{% endblock %}
{% block footerscripts %}
<script>
  if (Modernizr.localstorage) {
    //Two arrays: checkin-queue and cancelcheckin-queue
    Storage.prototype.set = function(queue, id) {
      var participantList = JSON.parse(this.getItem(queue));
      if(participantList) {
        participantList.push(id);
      }
      else {
        participantList = [];
        participantList.push(id);
      }
      return this.setItem(queue, JSON.stringify(participantList))
    }

    Storage.prototype.getFirstItem = function(queue) {
      var participantList = JSON.parse(this.getItem(queue));
      if(participantList && participantList.length) {
        return participantList[0];
      }
    }

    Storage.prototype.getItems = function(queue) {
      var participantList = JSON.parse(this.getItem(queue));
      if(participantList && participantList.length) {
        return participantList;
      }
    }

    Storage.prototype.findItem = function(queue, id) {
      var participantList = JSON.parse(this.getItem(queue));
      if(participantList && participantList.indexOf(id) !== -1) {
        return true;
      }
    }

    Storage.prototype.remove = function(queue, id) {
      var participantList = JSON.parse(this.getItem(queue));
      if(participantList && participantList.indexOf(id) !== -1) {
        participantList.splice(participantList.indexOf(id),1);
        this.setItem(queue, JSON.stringify(participantList));
        return true;
      }
    }
  }

  $(document).ready(function() {
    var checkinUrl = "{{ '{0}event/{1}/checkin/'.format(space.url_for(), event.name) }}";
    var getParticipantsUrl = "{{ '{0}event/{1}/participants/json'.format(space.url_for(), event.name) }}";

    // To disable debug mode
    Ractive.DEBUG = false;

    var participantTable = new Ractive({
      el: '#participants',
      template: '#participant',
      data: {
        participants: ''
      }
    });

    function getParticipantsData() {
      $.ajax({
        type: 'GET',
        url:  getParticipantsUrl,
        timeout: 5000,
        dataType: 'jsonp',
        success: function(data) {
          participantTable.set('participants', data.participants).then(function() {
            $('.loader').hide();
            updateQueue(localStorage.getItems('checkin-queue'), true);
            updateQueue(localStorage.getItems('cancelcheckin-queue'), false);
          });
        }
      });
    }

    function updateQueue(participantIDs, action) {
      if(participantIDs) {
        participantIDs.forEach(function(participantID) {
          var participant = "[data-pid=" + participantID +"]";
          if(action) {
            if($(participant).hasClass('cancel-checkin')) {
              localStorage.remove('checkin-queue', participantID);
            }
            else {
              $(participant).siblings('.loader').show();
            }
          }
          else {
            if($(participant).hasClass('checkin')) {
              localStorage.remove('cancel-checkin', participantID);
            }
            else {
              $(participant).siblings('.loader').show();
            }
          }
        });
      }
    }

    function checkQueue() {
      var participantID = localStorage.getFirstItem('checkin-queue');
      if(participantID) {
        postCheckinStatus(participantID, true);
      }
      participantID = localStorage.getFirstItem('cancelcheckin-queue');
      if(participantID) {
        postCheckinStatus(participantID, false);
      }
    }

    function postCheckinStatus(participantID, action) {
      if(action) {
        var posturl = checkinUrl + participantID + "?checkin=t";
      }
      else {
        var posturl = checkinUrl + participantID;
      }
      $.ajax({
        type: 'post',
        url:  posturl,
        timeout: 5000,
        dataType: "json",
        success: function(data) {
          if(data.checked_in) {
            localStorage.remove('checkin-queue', data.participant_id);
          }
          else {
            localStorage.remove('cancelcheckin-queue', data.participant_id);
          }
        }
      });
    }

    //Get the list of participants from server
    getParticipantsData();

    if (Modernizr.localstorage) {
      $('#participants').on('click', '.checkin', function(event) {
        event.preventDefault();
        localStorage.set('checkin-queue', $(this).data('pid'));
        $(this).siblings('.loader').show();
      });

      $('#participants').on('click', '.cancel-checkin', function(event) {
        event.preventDefault();
        localStorage.set('cancelcheckin-queue', $(this).data('pid'));
        $(this).siblings('.loader').show();
      });

      $('#participants').on('click', '.abort', function(event) {
        event.preventDefault();
        var participantID = $(this).siblings('a').data('pid');
        var participant = "[data-pid=" + participantID +"]";

        if($(participant).hasClass('checkin')) {
          // If participantID not in queue, checkin status has been sent to server
          // then for this participantID send a cancel checkin to server
          if(!localStorage.remove('checkin-queue', participantID)) {
            localStorage.set('cancelcheckin-queue', participantID);
          }
        }
        else{
          if(!localStorage.remove('cancelcheckin-queue', participantID)) {
            localStorage.set('checkin-queue', participantID);
          }
        }
        $(participant).parent().find('.loader').hide();
      });

      // Check checkin-queue and cancelcheckin-queue arrays every 8 second, for any participant
      // whose check-in status needs to be send to server.
      setInterval(checkQueue, 8000);

      //Get participants list from server every 1 min
      setInterval(getParticipantsData, 60000);
    }

    $('#badge_form').on("submit", function(){
       if ($('#badge_form select.field-badge_printed').val() === "") {
        return false;
       }
       return window.confirm("Are you sure? Selected action will apply to all listed participants.")
    });

    var TableSearch = function(tableId){
      // a little library that takes a table id
      // and provides a method to search the table's rows for a given query.
      // the row's td must contain the class 'js-searchable' to be considered
      // for searching.
      // Eg:
      // var tableSearch = new TableSearch('tableId');
      // var hits = tableSearch.searchRows('someQuery');
      // 'hits' is a list of ids of the table's rows which contained 'someQuery'

      this.tableId = tableId;
      this.rowData = [];
      this.allMatchedIds = [];
    }

    TableSearch.prototype.getRows = function(){
      return $('#' + this.tableId +' tbody tr');
    };

    TableSearch.prototype.setRowData = function(rowD){
      // Builds a list of objects and sets it the object's rowData
      var rowMap = [];
      $.each(this.getRows(), function(rowIndex, row){
        rowMap.push({
          'rid': '#' + $(row).attr('id'),
          'text': $(row).find('td.js-searchable').text().toLowerCase()
        });
      });
      this.rowData = rowMap;
    };

    TableSearch.prototype.setAllMatchedIds = function(ids) {
      this.allMatchedIds = ids;
    }

    TableSearch.prototype.searchRows = function(q){
      // Search the rows of the table for a supplied query.

      // reset data collection on first search or if table has changed
      if (this.rowData.length !== this.getRows().length) {
        this.setRowData();
      };

      // return cached matched ids if query is blank
      if (q === '' && this.allMatchedIds.length !== 0) {
        return this.allMatchedIds;
      };

      var matchedIds = [];
      for (var i = this.rowData.length - 1; i >= 0; i--) {
        if (this.rowData[i].text.indexOf(q.toLowerCase()) !== -1) {
          matchedIds.push(this.rowData[i]['rid']);
        }
      };

      // cache ids if query is blank
      if (q === '') {
        this.setAllMatchedIds(matchedIds);
      };
      return matchedIds;
    }

    var tableSearch = new TableSearch('participants-table');

    $('input#search').keyup(function(e){
      $('#participants-table tbody tr').addClass('hidden');
      var hits = tableSearch.searchRows($(this).val());
      $(hits.join(",")).removeClass('hidden');
    });

    $('.footable').footable({
      breakpoints: {
        phone: 600,
        tablet: 768,
      }
    });

  });
</script>
{% endblock %}
