{% extends "layout.html.jinja2" %}
{% from "macros.html.jinja2" import rsvpform, rsvpscript %}
{% from "baseframe/forms.html" import renderfield %}
{% block title %}Events{% endblock %}

{% block content %}
  <div class="grid">
    <div class="grid__col-xs-12">
      <ol>
        {%- for event in events %}
          <li>
            <span class="mui--text-title"><strong>{{ event.title }}</strong></span>&nbsp;&nbsp;
            <a class="mui-btn mui-btn--small mui-btn--raised mui-btn--primary" href="{{ url_for('scan_badge', profile=space.profile.name, space=space.name, name=event.name) }}">{% trans %}Scan badge{% endtrans %}</a>
          </li>
        {%- endfor %}
      </ol>
    </div>
  </div>
{% endblock %}
