{% extends "layout.html.jinja2" %}
{% set title_suffix = project.title %}
{% from "macros.html.jinja2" import rsvpform, rsvpscript %}
{% from "baseframe/forms.html" import renderfield %}
{% block title %}Manage check-in{% endblock %}

{% block top_title %}
  <h1 class="mui--text-display1"><a href="{{ project.url_for() }}">{{ project.title|e }}</a></h1>
  <p class="mui--text-headline">{% trans %}Manage check-in{% endtrans %}</p>
{% endblock %}

{% block contentwrapper %}
  <div class="grid">
    <div class="grid__col-xs-12 grid__col-sm-6">
      <div class="card">
        <div class="card__header">
          <h3 class="mui--text-title">{% trans %}Events{% endtrans %}</h3>
          <p class="mui--text-caption">{% trans %}Select an event to check-in attendees{% endtrans %}</p>
        </div>
        <div class="card__body">
          <ol class="mui-list--aligned">
            {%- for event in events %}
              <li class="mui--text-title">
                <a href="{{ event.url_for('scan_badge') }}" title="Check-in"><strong>{{ event.title }}</strong></a>
              </li>
            {%- endfor %}
          </ol>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
