{% extends "layout.html.jinja2" %}
{% from "macros.html.jinja2" import rsvpform, rsvpscript %}
{% from "baseframe/forms.html" import renderfield %}
{% block title %}Manage check-in{% endblock %}

{% block top_title %}
  <h1 class="mui--text-display1"><a href="{{ project.url_for() }}">{{ project.title|e }}</a></h1>
  <p class="mui--text-headline">Manage check-in</p>
{% endblock %}

{% block contentwrapper %}
  <div class="grid">
    <div class="grid__col-xs-12 grid__col-sm-6">
      <div class="card">
        <div class="card__header">
          <h3 class="mui--text-title">Events</h3>
          <p class="mui--text-caption">Select an event to check-in attendees</p>
        </div>
        <div class="card__body">
          <ol class="mui-list--aligned">
            {%- for event in events %}
              <li class="mui--text-title">
                <a href="{{ url_for('scan_badge', profile=project.profile.name, project=project.name, name=event.name) }}" title="Check-in"><strong>{{ event.title }}</strong></a>
              </li>
            {%- endfor %}
          </ol>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
