{% extends "layout.html.jinja2" %}
{% from "macros.html.jinja2" import rsvpform, rsvpscript %}
{% from "baseframe/forms.html.jinja2" import renderfield %}
{% block title %}{{ space.title }}{% endblock %}
{% block pageheaders %}
{% endblock %}
{% block headline %}
  <div class="page-header">
    {#<h3><a href="{{ space.profile.url_for() }}">{{ space.profile.title }}</a> &nbsp;<i class="fa fa-angle-right"></i></h3>#}
    <h1>{{ space.title }}</h1>
  </div>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-4 col-xs-6">
      <h3>{{event.title}}</h3>
    </div>
    <div class='col-lg-9 col-md-6 col-sm-8 col-xs-6'>
      <h3 class='pull-right' id="participants-count">
        {% raw %}
        <script id='participants-count-template' type='text/ractive'>
          Checked In: <span class="js-totalcheckin">{{ total_checkedin }}</span> |
          Total: <span class="js-total">{{ total_participants }}</span>
        </script>
        {% endraw %}
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-sm-4 col-xs-6">
      <form class="search-participant">
          <input autofocus class="form-control search-query" id="search" type="text" name="key" value="" placeholder="Search"/>
      </form>
    </div>
    <div class="col-lg-9 col-xs-12">
      <ul class="list-inline status-btn-list">
        <li>
          <a href={{ url_for('event_edit', profile=space.profile.name, space=space.name, name=event.name) }} class='btn btn-primary'>Edit event title</a>
        </li>
        <li><a href={{ url_for('event_badges', profile=space.profile.name, space=space.name, name=event.name) }} target="_blank" class='btn btn-info'>Badges to be printed</a></li>
        <li><a href={{ url_for('event_badges', profile=space.profile.name, space=space.name, name=event.name, badge_printed='t') }} target="_blank" class='btn btn-success'>Badges printed</a></li>
        <li class="badge-print-status-btn">
          <form method="POST" id="badge_form" class="form-inline">
              {{ badge_form.hidden_tag() }}
              {{ renderfield(badge_form.badge_printed, style='wide', nolabel=true) }}
            <input id="badge-form-submit" class="btn btn-danger" type="submit" value="{% trans %}Update badges{% endtrans %}"/>
          </form>
        </li>
      </ul>
    </div>
  </div>
  <div class="table-responsive">
  <table class="table table-bordered" id='participants-table'>
    <thead>
      <tr class="active">
        <th>Name</th>
        <th data-sort-ignore="true">Tickets</th>
        <th data-hide="phone">Email</th>
        <th data-hide="tablet, phone">Company</th>
        <th data-sort-ignore="true">Actions</th>
      </tr>
    </thead>
    <tbody id="participants-table-content">
      {% raw %}
      <script id='participant-row' type='text/ractive'>
      {{#each participants}}
        <tr id="p-{{ pid }}">
          <td class='js-searchable'>{{ fullname }}</td>
          <td class='js-searchable'>{{ ticket_type_titles }}</td>
          <td class='js-searchable'>{{ email }}</td>
          <td class='js-searchable'>{{ company }}</td>
          <td>
            <ul class="list-inline status-btn-list">
              <li>
                <a href="{{ getBadgeUrl(pid) }}" {{#badge_printed}} class="btn btn-xs btn-success" {{/badge_printed}} {{^badge_printed}} class="btn btn-xs btn-info" {{/badge_printed}} target="_blank">Show badge</a>
              </li>
              <li>
                <a href="{{ getEditUrl(pid) }}" class="btn btn-xs btn-default" target="_blank">Edit</a>
              </li>
              <li>
                <form action="{{ getCheckinUrl() }}" method='POST' class='checkin_form form-inline' id="{{ pid }}">
                  <div style="display:none;">
                    <input id="csrf_token" name="csrf_token" value="{{ getCsrfToken() }}" type="hidden">
                  </div>
                  <input type="hidden" name="pid" value="{{ pid }}">
                  {{#checked_in}}
                    <input type="hidden" name="checkin" value="f">
                    <input value="Cancel Check-in" class="btn btn-xs js-cancel-checkin" type="submit">
                  {{/checked_in}}
                  {{^checked_in}}
                    <input type="hidden" name="checkin" value="t">
                    <input value="Check-in" class="btn btn-xs js-checkin" type="submit">
                  {{/checked_in}}
                  <i class="fa fa-spinner fa-pulse js-loader"></i>
                  <i class="fa fa-close js-loader js-abort"></i>
                </form>
              </li>
            </ul>
          </td>
        </tr>
      {{/each}}
      </script>
      {% endraw %}
    </tbody>
    </table>
  </div>
{% endblock %}
{% block footerscripts %}
<script>
  window.Talkfunnel.Config = {
    badgeUrl: "{{ url_for('participant_badge', profile=space.profile.name, space=space.name, participant_id='participant-id') }}",
    editUrl: "{{ url_for('participant_edit', profile=space.profile.name, space=space.name, participant_id='participant-id') }}",
    checkinUrl: "{{ url_for('event_checkin', profile=space.profile.name, space=space.name, name=event.name) }}",
    participantlistUrl: "{{ url_for('event_participants_json', profile=space.profile.name, space=space.name, name=event.name) }}"
  };

  $(document).ready(function() {

    /* Check-in scenarios:
    1. A participant is checked-in & Internet is available. Also verify for cancel check-in and multiple participants check-in.
    2. A participant is checked-in & Internet is down.
    3. Abort a participant's check-in(A wrong particpant was checked in so cancel check-in immediately using abort) when Internet is available.
    4. Abort a participant's check-in when Internet is down.
    5. There are two check-in counters & both counters have internet: They have checked-in different participants. Verify both counters have the recent check-in status of participants.
    6. There are two check-in counters & both counter's internet is down: They have checked-in different participants. Verify both counters have the recent check-in status of participants, once internet is up.
    7. There are two check-in counters & both counters have internet: They checked-in few same participants. Verify both counters have the recent check-in status of participants.
    8. There are two check-in counters & both counter's internet is down: They checked-in few same participants. Verify both counters have the recent check-in status of participants, once internet is up.
    8. There are two check-in counters & one counters has internet and the other counter doesn't: They have checked-in different participants. Verify both counters have the recent check-in status of participants, once internet is up.
    9. There are two check-in counters & one counters has internet and the other counter doesn't: They have checked-in few same participants. Verify both counters have the recent check-in status of participants, once internet is up.*/

    var eventName = "{{ space.name }}" + "-" + "{{event.title}}".replace(/ /g,'-');
    var checkinQ = new Talkfunnel.Queue(eventName + "-" + "checkin-queue");
    var cancelcheckinQ = new Talkfunnel.Queue(eventName + "-" + "cancelcheckin-queue");

    Talkfunnel.ParticipantTable.init(Talkfunnel.Config, checkinQ, cancelcheckinQ);
    Talkfunnel.ParticipantTable.update();
    
    Talkfunnel.ParticipantTable.handleCheckIn();
    Talkfunnel.ParticipantTable.handleAbortCheckIn();
    
    //Read 'checkin-queue' and 'cancelcheckin-queue' every 8 seconds and batch post check-in/cancel check-in status to server
    setInterval(function() { Talkfunnel.ParticipantTable.processQueues(); }, 8000);

    //Get participants data from server every 15 seconds
    setInterval(function() { Talkfunnel.ParticipantTable.update(); }, 15000);

    //If there is no network, display a confirmation dialog when user closes/reloades the page
    window.onbeforeunload = function() {
      if(!navigator.onLine) {
        return 'There is no network!';
      }
    };

    $('#badge_form').on("submit", function(){
      if ($('#badge_form select.field-badge_printed').val() === "") {
        return false;
      }
      return window.confirm("Are you sure? Selected action will apply to all listed participants.");
    });

    var tableSearch = new window.TableSearch('participants-table');
    $('input#search').keyup(function(e){
      $('#participants-table tbody tr').addClass('hidden');
      var hits = tableSearch.searchRows($(this).val());
      $(hits.join(",")).removeClass('hidden');
    });
    
  });
</script>
{% endblock %}
