{% extends "layout.html" %}
{% from "macros.html" import rsvpform, rsvpscript %}
{% from "baseframe/forms.html" import renderfield %}
{% block title %}{{ space.title }}{% endblock %}
{% block headline %}
  <div class="page-header">
    {#<h3><a href="{{ space.profile.url_for() }}">{{ space.profile.title }}</a> &nbsp;<i class="fa fa-angle-right"></i></h3>#}
    <h1>{{ space.title }}</h1>
  </div>
{% endblock %}

{% block content %}
  <h2>Participants</h2>
  <p>
  <h3>{{event.title}}</h3>
  </p>
  <div class="row">
    <div class="col-md-2">
      <form class="form-inline">
        <div class="form-group">
          <input autofocus class="form-control search-query" id="search" type="text" name="key" value="" placeholder="Search"/>
        </div>
      </form>
    </div>
    <div class="col-md-10">
      <ul class="list-inline pull-right">
        <li><a href={{ space.url_for('new-participant') }} class='btn btn-primary'>New Participant</a></li>
        <li><a href={{ space.url_for('import-participant') }} class='btn btn-info'>Import Participants</a></li>
        <li><a href={{ "{0}event/{1}/badges".format(space.url_for(), event.name) }} class='btn btn-info' target="_blank">Badges to be printed</a></li>
        <li><a href={{ "{0}event/{1}/badges?badge_printed=t".format(space.url_for(), event.name) }} class='btn btn-success' target="_blank">Badges printed</a></li>
        <li></li>
        <li></li>
        <li>
          <form method="POST" id="badge_form" class="form-inline">
            <div class="form-group">
            {{ badge_form.hidden_tag() }}
            {{ renderfield(badge_form.badge_printed, style='wide', nolabel=true) }}
            <input id="badge-form-submit" class="btn btn-danger" type="submit" value="{% trans %}Update Badges{% endtrans %}"/>
          </form>
        </li>
      </ul>
    </div>
  </div>
  <table class="table" id='participants-table'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Company</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {%- for p in participants %}
        <tr id="p-{{ p.id }}">
          <td class='js-searchable'>{{ p.fullname }}</td>
          <td class='js-searchable'>{{ p.email }}</td>
          <td class='js-searchable small-td'>{{ p.company }}</td>
          <td>
            <ul class="list-inline">
            <li>
              <a href={{ "{0}participant/{1}/badge".format(space.url_for(), p.id) }} class={% if p.badge_printed %} 'btn btn-xs btn-success'  {% else %} 'btn btn-xs btn-info' {% endif %} target="_blank">Show badge</a>
            </li>
            <li>
              <a href={{ "{0}participant/{1}/edit".format(space.url_for(), p.id) }} class='btn btn-xs btn-default'>Edit</a>
            </li>
            <li>
            {%- if p.checked_in %}
              <a href="{{ event.name }}/checkin/{{ p.id }}" class='btn btn-xs btn-danger'>Cancel Check-in</a>
            {%- else %}
            <a href="{{ event.name }}/checkin/{{ p.id }}?checkin=t" class='btn btn-xs btn-warning'>Check-in</a>
            {%- endif %}
            </li>
            </ul>
          </td>
        </tr>
      {%- endfor %}
    </tbody>
  </table>
{% endblock %}
{% block footerscripts %}
<script>
  $(document).ready(function() {
    $('#badge_form').on("submit", function(){
       if ($('#badge_form select.field-badge_printed').val() === "") {
        return false;
       }
       return window.confirm("Are you sure? Selected action will apply to all listed participants.")
    });

    var TableSearch = function(tableId){
      // a little library that takes a table id
      // and provides a method to search the table's rows for a given query.
      // the row's td must contain the class 'js-searchable' to be considered
      // for searching.
      // Eg:
      // var tableSearch = new TableSearch('tableId');
      // var hits = tableSearch.searchRows('someQuery');
      // 'hits' is a list of ids of the table's rows which contained 'someQuery'

      this.tableId = tableId;
      this.rowData = [];
      this.allMatchedIds = [];
    }

    TableSearch.prototype.getRows = function(){
      return $('#' + this.tableId +' tbody tr');
    };

    TableSearch.prototype.setRowData = function(rowD){
      // Builds a list of objects and sets it the object's rowData
      var rowMap = [];
      $.each(this.getRows(), function(rowIndex, row){
        rowMap.push({
          'rid': '#' + $(row).attr('id'),
          'text': $(row).find('td.js-searchable').text().toLowerCase()
        });
      });
      this.rowData = rowMap;
    };

    TableSearch.prototype.setAllMatchedIds = function(ids) {
      this.allMatchedIds = ids;
    }

    TableSearch.prototype.searchRows = function(q){
      // Search the rows of the table for a supplied query.

      // reset data collection on first search or if table has changed
      if (this.rowData.length !== this.getRows().length) {
        this.setRowData();
      };

      // return cached matched ids if query is blank
      if (q === '' && this.allMatchedIds.length !== 0) {
        return this.allMatchedIds;
      };

      var matchedIds = [];
      for (var i = this.rowData.length - 1; i >= 0; i--) {
        if (this.rowData[i].text.indexOf(q.toLowerCase()) !== -1) {
          matchedIds.push(this.rowData[i]['rid']);
        }
      };

      // cache ids if query is blank
      if (q === '') {
        this.setAllMatchedIds(matchedIds);
      };
      return matchedIds;
    }

    var tableSearch = new TableSearch('participants-table');

    $('input#search').keyup(function(e){
      $('#participants-table tbody tr').addClass('hidden');
      var hits = tableSearch.searchRows($(this).val());
      $(hits.join(",")).removeClass('hidden');
    });
  });
</script>
{% endblock %}
