{% extends "layout.html.jinja2" %}
{% set title_suffix = project.title %}
{% from "baseframe/forms.html.jinja2" import renderfield %}
{% block title %}Setup events{% endblock %}
{% block pageheaders %}
{% endblock %}

{% block top_title %}
  <h1 class="mui--text-display1"><a href="{{ project.url_for() }}">{{ project.title|e }}</a></h1>
  <p class="mui--text-body1"><a href="{{ project.url_for('admin') }}" title="Setup events for check-in"><i class="material-icons mui--text-body2 mui--align-bottom" aria-hidden="true">keyboard_backspace</i> {% trans %}Back to setup events{% endtrans %}</a></p>
{% endblock %}

{% block contentwrapper %}
  <div class="grid">
    <div class="grid__col-xs-12">
      <div>
        <form method="POST" id="csrf_form-submit" enctype="multipart/form-data" class="mui-form mui--pull-right">
          <div class="form-group">
            {{ csrf_form.hidden_tag() }}
          </div>
          <button id="csrf_form-submit" class="mui-btn mui-btn--small mui-btn--accent" type="submit" title="Sync tickets">{% trans %}Sync tickets{% endtrans %}</button>
        </form>
      </div>
    </div>
    <div class="grid__col-xs-6 grid__col-sm-4 grid__col-md-6 grid__col-lg-3">
      <h3 class="mui--text-title">{{event.title}}&nbsp;<a href="{{ event.url_for('edit') }}" arial-label="{% trans %}Edit{% endtrans %}"><i class="material-icons mui--text-body2 mui--align-bottom mui--text-dark-secondary" aria-hidden="true">edit</i></a></h3>
    </div>
    <div class="grid__col-xs-6 grid__col-sm-8 grid__col-md-6 grid__col-lg-9">
      <h3 class="mui--text-right" id="participants-count">
        {% raw %}
        <script id="participants-count-template" type="text/ractive">
          Checked In: <span class="js-totalcheckin mui--text-title">{{ total_checkedin }}</span> |
          Total: <span class="js-total mui--text-title">{{ total_participants }}</span>
        </script>
        {% endraw %}
      </h3>
    </div>
    <div class="grid__col-xs-12 grid__col-md-3">
      <form class="search-participant mui-form mui-form--margins">
        <div class="mui-textfield mui-textfield--float-label">
          <input class="field-title search-query" id="search" type="text" name="key" value=""/>
          <label><i class="material-icons mui--align-middle mui--text-title" aria-hidden="true">search</i> Search</label>
        </div>
      </form>
    </div>
    <div class="grid__col-xs-12 grid__col-md-9">
      <ul class="mui-list--inline">
        <li><a href={{ url_for('event_badges', profile=project.profile.name, project=project.name, name=event.name) }} target="_blank" class="mui-btn mui-btn--small mui-btn--raised mui-btn--primary">Badges to be printed</a></li>
         <li><a href={{ url_for('event_label_badges', profile=project.profile.name, project=project.name, name=event.name) }} target="_blank" class="mui-btn mui-btn--small mui-btn--raised mui-btn--primary">Label badges to be printed</a></li>
        <li><a href={{ url_for('event_badges', profile=project.profile.name, project=project.name, name=event.name, badge_printed='t') }} target="_blank" class="mui-btn mui-btn--small mui-btn--raised mui-btn--accent">Badges printed</a></li>
        <li class="badge-print-status-btn">
          <form method="POST" id="badge_form" class="mui-form">
              {{ badge_form.hidden_tag() }}
              {{ renderfield(badge_form.badge_printed, css_class="select2-inline", nolabel=true) }}
            <input id="badge-form-submit"  class="mui-btn mui-btn--small mui-btn--raised mui-btn--danger" type="submit" value="Update badges"/>
          </form>
        </li>
      </ul>
    </div>
  </div>
  <div class="grid">
    <div class="grid__col-xs-12 mui-table--responsive-wrapper">
      <table class="mui-table mui-table--bordered mui-table--responsive attendee-table" id='participants-table'>
        <thead>
          <tr class="active">
            <th>Name</th>
            <th>Tickets</th>
            <th>Email</th>
            <th>Company</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody id="participants-table-content">
          {% raw %}
          <script id='participant-row' type='text/ractive'>
          {{#each participants}}
            <tr id="p-{{ pid }}">
              <td class='js-searchable' data-th="Name">{{ fullname }}</td>
              <td class='js-searchable' data-th="Tickets">{{ ticket_type_titles }}</td>
              <td class='js-searchable' data-th="Email">{{ email }}</td>
              <td class='js-searchable' data-th="Company">{{ company }}</td>
              <td class='buttongrp-column'>
                <ul class="mui-list--unstyled">
                  {{#if isAdmin || isConcierge}}
                  <li>
                    <a href="{{ getBadgeUrl(pid) }}" {{#badge_printed}} class="mui-btn mui-btn--small mui-btn--raised mui-btn--accent" {{/badge_printed}} {{^badge_printed}} class="mui-btn mui-btn--small mui-btn--raised mui-btn--default" {{/badge_printed}} target="_blank">Show badge</a>
                  </li>
                  <li>
                    <a href="{{ getLabelBadgeUrl(pid) }}" {{#badge_printed}} class="mui-btn mui-btn--small mui-btn--raised mui-btn--accent" {{/badge_printed}} {{^badge_printed}} class="mui-btn mui-btn--small mui-btn--raised mui-btn--default" {{/badge_printed}} target="_blank">Show Label Badge</a>
                  </li>
                  {{/if}}
                  <li>
                    <form action="{{ getCheckinUrl() }}" method='POST' class='checkin_form form-inline' id="{{ pid }}">
                      <div style="display:none;">
                        <input id="csrf_token" name="csrf_token" value="{{ getCsrfToken() }}" type="hidden">
                      </div>
                      <input type="hidden" name="pid" value="{{ pid }}">
                      {{#if checked_in}}
                        <button class="mui-btn mui-btn--small mui-btn--raised mui-btn--danger" on-click="handleCheckIn(event, 0)" {{#submitting}}disabled{{/submitting}} aria-label="Cancel check-in">Cancel Check-in  {{#submitting}}<span class="loading"></span>{{/submitting}}</button>
                      {{else}}
                        <button class="mui-btn mui-btn--small mui-btn--raised mui-btn--primary" on-click="handleCheckIn(event, 1)" {{#submitting}}disabled{{/submitting}} aria-label="Check-in">Check-in {{#submitting}}<span class="loading"></span>{{/submitting}}</button>
                      {{/if}}
                      {{#if submitting}}
                        {{#if checked_in}}
                          <button class="mui-btn mui-btn--small mui-btn--danger mui-btn--nomargin" on-click="handleAbortCheckIn(event, 0)" aria-label="Abort"><i class="material-icons mui--text-title" aria-hidden="true">clear</i></button>
                        {{else}}
                          <button class="mui-btn mui-btn--small mui-btn--danger mui-btn--nomargin" on-click="handleAbortCheckIn(event, 1)" aria-label="Abort"><i class="material-icons mui--text-title" aria-hidden="true">clear</i></button>
                        {{/if}}
                      {{/if}}
                    </form>
                  </li>
                  {{#if isAdmin}}
                  <li>
                    <a href="{{ getEditUrl(pid) }}" class="mui--text-hyperlink" target="_blank">Edit attendee details</a>
                  </li>
                  {{/if}}
                </ul>
              </td>
            </tr>
          {{/each}}
          </script>
          {% endraw %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

{% block footerscripts %}
<script src="{{ url_for('static', filename=asset_path('event')) }}" type="text/javascript"></script>
<script type="text/javascript">
  $(document).ready(function() {

    /* Check-in scenarios:
    1. A participant is checked-in & Internet is available. Also verify for cancel check-in and multiple participants check-in.
    2. A participant is checked-in & Internet is down.
    3. Abort a participant's check-in(A wrong particpant was checked in so cancel check-in immediately using abort) when Internet is available.
    4. Abort a participant's check-in when Internet is down.
    5. There are two check-in counters & both counters have internet: They have checked-in different participants. Verify both counters have the recent check-in status of participants.
    6. There are two check-in counters & both counter's internet is down: They have checked-in different participants. Verify both counters have the recent check-in status of participants, once internet is up.
    7. There are two check-in counters & both counters have internet: They checked-in few same participants. Verify both counters have the recent check-in status of participants.
    8. There are two check-in counters & both counter's internet is down: They checked-in few same participants. Verify both counters have the recent check-in status of participants, once internet is up.
    8. There are two check-in counters & one counters has internet and the other counter doesn't: They have checked-in different participants. Verify both counters have the recent check-in status of participants, once internet is up.
    9. There are two check-in counters & one counters has internet and the other counter doesn't: They have checked-in few same participants. Verify both counters have the recent check-in status of participants, once internet is up.*/

    var eventConfig = {};
    eventConfig.checkin = {
      isAdmin: {%- if project.current_roles.admin %} true {% else %} false {%- endif %},
      isConcierge: {%- if current_auth.permissions.checkin_event %} true {% else %} false {%- endif %},
      badgeUrl: "{{ url_for('participant_badge', profile=project.profile.name, project=project.name, participant_id='participant-id') }}",
      labelbadgeUrl: "{{ url_for('participant_label_badge', profile=project.profile.name, project=project.name, participant_id='participant-id') }}",
      editUrl: "{{ url_for('participant_edit', profile=project.profile.name, project=project.name, participant_id='participant-id') }}",
      checkinUrl: "{{ url_for('event_checkin', profile=project.profile.name, project=project.name, name=event.name, participant_id='participant-id') }}",
      participantlistUrl: "{{ url_for('event_participants_json', profile=project.profile.name, project=project.name, name=event.name) }}",
      eventName: "{{ project.name }}" + "-" + "{{event.title}}".replace(/ /g,'-')
    };

    eventConfig.search = {
      tableId: 'participants-table',
      inputId: 'search'
    };

    HasGeek.EventInit(eventConfig);

    //If there is no network, display a confirmation dialog when user closes/reloades the page
    window.onbeforeunload = function() {
      if (!navigator.onLine) {
        return 'There is no network!';
      } else {
        return true;
      }
    };

    $('#badge_form').on("submit", function() {
      if ($('#badge_form select.field-badge_printed').val() === '') {
        return false;
      } else {
        return window.confirm('Are you sure? Selected action will apply to all listed participants.');
      }
    });

  });
</script>
{% endblock %}
