{% extends "layout.html.jinja2" -%}
{% block title %}{{ title }}{% endblock title %}

{% block layoutheaders %}
  <link rel="stylesheet" type="text/css" href="{{ built_asset('css/form.scss') }}" />
  <link rel="stylesheet" type="text/css" href="{{ built_asset('css/app.scss') }}" />
{% endblock layoutheaders %}

{% block contentwrapper %}
<div class="grid">
  <div class="grid__col-xs-12">
    {%- if autosave %}
      <div><p class="mui--text-subhead mui--text-light mui--pull-right" id="autosave-msg"></p></div>
    {% endif %}
    {% block content %}{% endblock content %}
  </div>
</div>
{% endblock contentwrapper %}

{% block serviceworker %}
{% endblock serviceworker %}

{% block footerscripts %}
  <script src="{{ built_asset('form.js') }}" type="text/javascript"></script>
  {%- if autosave %}
    <script src="{{ built_asset('autosave_form.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
      $(function() {
        var config = {
          autosave: true,
          formId: '#{{ ref_id }}',
          msgElemId: '#autosave-msg'
        }
        window.Hasgeek.autoSave(config);
      });
    </script>
  {%- endif %}
  {% block innerscripts %}{% endblock innerscripts %}
{% endblock footerscripts %}
