{% extends "layout.html.jinja2" -%}

{%- block layoutheaders %}
  {% assets "css_codemirrormarkdown" -%}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
  {%- endassets -%}
  {% assets "css_leaflet" -%}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
  {%- endassets -%}
{% endblock %}

{% block contentwrapper %}
<div class="grid">
  <div class="grid__col-xs-12">
    {%- if autosave %}<div><p class="mui--text-subhead mui--text-light mui--pull-right" id="autosave-msg"></p></div>{% endif %}
    {% block content %}{% endblock %}
  </div>
</div>
{% endblock %}

{% block pagescripts %}
  {% assets "js_codemirrormarkdown" -%}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {%- endassets -%}
  {% assets "js_leaflet" -%}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {%- endassets -%}
{% endblock %}

{% block layoutscripts %}
  {%- if autosave %}
    <script type="text/javascript">
      $(function() {
        var typingTimer;
        var typingWaitInterval = 1000; // user stops typing for one second
        var serverResponse = true;
        var unsaved = false;
        $('#{{ ref_id }}').on('change', function(e) {
          console.log('change');
          unsaved = true;
          autosaveForm();
        });
        $('#{{ ref_id }}').on('keyup', function(e) {
          if(e.target.value) {
            if(typingTimer) clearTimeout(typingTimer);
            unsaved = true;
            typingTimer = setTimeout(autosaveForm, typingWaitInterval);
          }
        });

        function autosaveForm() {
          var formData;
          console.log('autosaveForm');
          if(serverResponse) {
            serverResponse = false;
            unsaved = false;
            $('#autosave-msg').text('Autosaving...');
            formData = $("#{{ ref_id }}").serialize();
            formData = formData + '&autosave=true';
            $.ajax({
              type: 'POST',
              data: formData,
              dataType: 'json',
            }).done(function (remoteData) {
              // Todo:
              // Update window.history.pushState
              console.log('autosaveForm done', remoteData);
              $('#autosave-msg').text('Changes saved');
              serverResponse = true;
              if(formChanged) autosaveForm();
            }).fail(function (response) {
              // If error is due to revision mismatch, the user is shown an error and asked to reload the page.
              $('#autosave-msg').text('');
              if (response.readyState === 4) {
                if (response.status === 500) {
                  serverResponse = true;
                  if(formChanged) autosaveForm();
                  window.toastr.error("Internal Server Error. Please try again.");
                } else if(response.status_code === 400) {
                  window.toastr.error('This page has already been edited. Please reload the page.');
                }
              } else {
                serverResponse = true;
                window.toastr.error("Unable to connect. Please try again.");
              }
            })
          }

          $(window).bind('beforeunload', function() {
            if(unsaved){
              return "You have unsaved changes on this page. Do you want to leave this page?";
            }
          });
        }
      });
    </script>
   {%- endif %}
  {% block footerscripts %}{% endblock %}
{% endblock %}



