{% extends "layout.html.jinja2" %}

{% block titletags -%}
  <title>{% if g.profile %}{{ g.profile.title }}{% else %}{{ config['SITE_TITLE'] }}{% endif %}</title>
  <meta name="DC.title" content="{% if g.profile %}{{ g.profile.title }}{% else %}{{ config['SITE_TITLE'] }}{% endif %}"/>
{%- endblock %}

{% block description %}{% if g.profile %}{{ g.profile.description|striptags }}{% else %}{{ config['WELCOME_MESSAGE'] }}{% endif %}{% endblock %}

{%- block image_src %}
  {%- if config['LEGACY'] -%}
    <link rel="image_src" href="{{ url_for('static', filename='img/funnel-logo.png') }}" />
    <meta property="og:image" content="{{ url_for('static', filename='img/funnel-logo.png') }}" />
  {%- else -%}
    <link rel="image_src" href="{{ url_for('static', filename='img/hg-logo.png') }}" />
    <meta property="og:image" content="{{ url_for('static', filename='img/hg-logo.png') }}" />
  {%- endif -%}
{%- endblock %}

{% block banner %}
  {%- if not g.profile %}
    <div class="banner">
      <picture class="banner__img">
        <source media="(max-width: 992px)" srcset="{{ url_for('static', filename='img/banner-mobile.jpg') }}" alt="{{ config['SITE_TITLE'] }}" class="banner__img">
        <source srcset="{{ url_for('static', filename='img/banner-desktop.jpg') }}" alt="{{ config['SITE_TITLE'] }}" class="banner__img">
        <img src="{{ url_for('static', filename='img/banner-mobile.jpg') }}" alt="{{ config['SITE_TITLE'] }}" class="banner__img">
      </picture>
      <h1 class="banner__headline mui-container"><span class="banner__headline-txt">Funnel</span> is a space <br class="mui--visible-lg-block mui--visible-xl-block">for proposals and <br class="block mui--visible-lg-block mui--visible-xl-block">voting on events</h1>
    </div>
  {% endif %}
{% endblock %}

{% block headline %}
{% endblock %}

{% block basecontent %}
  <div class="page-content {%- if not g.profile %} page-content--top-padding{% endif %}">
    <div class="grid">
      <div class="grid__col-sm-12">
        {%- if g.profile %}
          <h1 class="mui--text-headline">{{ g.profile.description }}</h1>
        {%- elif config['WELCOME_MESSAGE'] %}
          <h1 class="mui--text-headline">{{ config['WELCOME_MESSAGE'] }}</h1>
        {% endif %}
      </div>
    </div>
    {% if projects %}
      <ul class="grid projects">
        {% for project in projects %}
          <li class="grid__col-12 grid__col-xs-12 grid__col-sm-6 grid__col-lg-4">
            <div class="grid__cell">
              <a href="{{ project.url_for() }}" class="clickable-card" title="{{ project.title }}">
                <div class="card">
                  <div class="card__image-wrapper">
                    {% if project.bg_image %}
                      <img class="card__image" src="{{ project.bg_image }}" alt="{{ project.title }}"/>
                    {% else %}
                      <div class="card__image--default">
                        <img class="card__image" src="{{ url_for('static', filename='img/card-background.png') }}" alt="{{ project.title }}"/>
                        <p class="card__image__tagline">{{ project.title }}</p>
                      </div>
                    {% endif %}
                  </div>
                  <div class="card__title">
                    <h3 class="mui--text-title card__title__heading">{{ project.title }}</h3>
                    <h4 class="mui--text-caption card__title__heading">{{ project.datelocation }}</h4>
                  </div>
                  {% if project.tagline %}
                    <div class="card__body">
                      <p class="mui--text-body2">{{ project.tagline }}</p>
                    </div>
                  {% endif %}
                  <div class="mui-divider"></div>
                  <div class="card__footer">
                    <a href="{{ project.url_for() }}" class="mui-btn mui-btn--small mui-btn--flat mui-btn--primary">Proposals</a>
                  {% if project.buy_tickets_url %}
                    <a href="{{project.buy_tickets_url}}" class="mui-btn mui-btn--small mui-btn--flat mui-btn--accent">Tickets</a>
                  {% endif %}
                  </div>
                </div>
              </a>
            </div>
          </li>
        {%- endfor -%}
      </ul>
    {% else %}
    <div class="grid">
      <div class="grid__col-sm-12">
        <p class="mui--text-headline">{% trans %}There are no projects at this time.{% endtrans %}
          {% if current_auth.permissions.new_project %}<a href="{{ g.profile.url_for('new_project') }}">{% trans %}Create one{% endtrans %}</a>.{% endif %}
        </p>
      </div>
    </div>
    {% endif %}
  </div>
{% endblock %}
