{% extends "layout.html.jinja2" %}
{% block titletags -%}
  <title>{% block title %}{{ config['SITE_TITLE'] }}{% endblock %}</title>
  <meta name="DC.title" content="{{ config['SITE_TITLE'] }}"/>
{%- endblock %}

{%- block layoutheaders %}
	{%- block headers %}
	{% endblock %}
{% endblock %}

{% block contenthead %}
{% endblock %}

{% block basecontentbox %}
  {%- block appcontent %}
  {% endblock %}
{% endblock %}

{% block footerscripts %}
  {% block serviceworker %}{% endblock %}
{% endblock %}
