{% from "baseframe/components.html.jinja2" import faicon %}
{% from "baseframe/mui/forms.html.jinja2" import renderform, ajaxform, widget_ext_scripts, widgetscripts %}
{% block content %}
  <div class="modal__header">
    <a class="modal__close mui--text-dark" href="javascript:void(0);" data-target="close modal" aria-label="{% trans %}Close{% endtrans %}" rel="modal:close" data-cy="close-modal">{{ faicon(icon='times', icon_size='title') }}</a>
    {%- if title -%}
      <p class="mui--text-title mui--text-bold mui--text-dark">{{ title }}</p>
    {%- endif -%}
  </div>
  {%- if message %}
    <p class="form-message">{{ message }}</p>
  {%- endif %}
  <div class="modal__body modal__body--form">
    {% block modalform %}
       <div role="tabpanel">
         <ul class="mui-tabs__bar" role="tablist">
            <li role="presentation" class="mui--is-active">
              <a role="tab" data-mui-toggle="tab" data-mui-controls="pane-justified-1">Link</a>
            </li>
          </ul>
          <div role="tabpanel" class="mui-tabs__pane mui--is-active" id="pane-justified-1">
            {{ renderform(form=form, formid=formid, ref_id=ref_id, submit=submit, message=message, action=action) }}
          </div>
    {% endblock %}
  </div>
  {%- if with_chrome -%}
    {{ ajaxform(ref_id=ref_id, request=request, force=true) }}
  {%- endif -%}
{% endblock %}

{{ widget_ext_scripts(form) }}

<script type="text/javascript">
  activate_widgets();
  {{ widgetscripts(form, script=false) }}
</script>
</div>
