{% extends "layout.html.jinja2" %}

{% block titletags -%}
  <title>{% block title %}{{ config['SITE_TITLE'] }}{% endblock %}</title>
  <meta name="DC.title" content="{{ config['SITE_TITLE'] }}"/>
{%- endblock %}

{%- block layoutheaders %}
<script type="application/ld+json">
  {  "@context" : "http://schema.org",
     "@type" : "WebSite",
     "name" : "{{ config['SITE_TITLE'] }}",
     "url" : "{{ url_for('index', _external=true) }}"
  }
</script>
<script type="application/ld+json">
  {
    "@context" : "http://schema.org",
    "@type" : "Organization",
    "name" : "{{ config['SITE_TITLE'] }}",
    "url" : "{{ url_for('index', _external=true) }}",
    "logo" : "{{ url_for('static', filename='img/hg-banner.png', _external=true) }}",
    "contactPoint" : [{
      "@type" : "ContactPoint",
      "telephone" : "+91 7676 33 2020",
      "contactType" : "customer service"
    }],
    "sameAs" : [
      "https://twitter.com/hasgeek",
      "https://www.facebook.com/hasgeek"
    ]
  }
</script>
{%- endblock %}

{% block header -%}
  {% macro site_title() %}
    <a href="{{ url_for('index') }}" class="header__site-title__item">{{ config['SITE_TITLE'] }}</a>
  {%- endmacro -%}
  {{ hgtopnav(site_title=site_title()) }}
{%- endblock %}

{%- block image_src %}
  <link rel="image_src" href="{{ url_for('static', filename='img/hg-logo.png') }}" />
  <meta property="og:image" content="{{ url_for('static', filename='img/hg-logo.png') }}" />
{%- endblock %}

{% block bodytag %}<body class="mui--bg-primary">{% endblock %}

{% block banner %}
  {%- if not g.profile %}
    <div class="mui-container hg-banner">
      <div class="grid">
        <div class="grid__col-auto logo-wrapper mui--hidden-xs">
          <img src="{{ url_for('static', filename='img/hg-logo.png') }}" alt="HasGeek logo" class="hg-logo" />
        </div>
        <div class="grid__col-auto">
          <p class="mui--text-display1">
            <span class="s1">Hello!</span>
            <span class="s2">HasGeek creates discussion spaces for geeks.</span>
            <span class="s3">Come to our events to meet like-minded people,</span>
            <span class="s1">learn new things</span>
            <span class="s2">and discover new opportunities.</span>
          </p>
        </div>
        <div class="grid__col-xs-12"><hr class="mui-divider"></div>
      </div>
      <div class="grid">
        <div class="grid__col-xs-12 grid__col-sm-6">
          <p class="mui--text-headline">
            We operate <a href="https://hasjob.co/" class="click">Hasjob</a>,
            hang out on a <a href="https://friends.hasgeek.com/" class="click">Slack channel</a>, and
            <a href="https://github.com/hasgeek" class="click">publish our code</a>.
            Our activities reach thousands of developers every month.
          </p>
        </div>
        <div class="grid__col-xs-12 grid__col-sm-6">
          <p class="mui--text-headline">
            <a href="https://talkfunnel.com/" class="click">Speak at our events</a>,
            or <a href="http://eepurl.com/cygsfr" class="click">sign up to be notified</a> when we do one.
            Watch videos from past events on <a href="https://hasgeek.tv/" class="click">HasGeek TV</a>.
          </p>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block headline %}
{% endblock %}

{% block basecontent %}
  <div class="page-content">
    <div class="grid">
      <div class="grid__col-xs-12">
        <h2><span><span class="mui--text-headline">Upcoming Events</span> <span class="mui--text-caption">(<a href="https://github.com/hasgeek/events" target="_blank" class="click">Add your event</a>)</span></span></h2>
      </div>
    </div>
    <div id="events-container" class="grid spaces">
      <div class="grid__col-xs-12">
        <span><i class="material-icons mui--text-subhead mui--align-middle spinner">refresh</i></span>
      </div>
    </div>

    <div class="grid spaces">
      <div class="grid__col-xs-12">
        <h2 class="mui--text-headline">Upcoming Conferences</h2>
      </div>
    </div>
    <div id="conf-container" class="grid spaces">
      <div class="grid__col-xs-12">
        <span><i class="material-icons mui--text-subhead mui--align-middle spinner">refresh</i></span>
      </div>
    </div>
    <div class="grid spaces">
      <div class="grid__col-xs-12">
        <p class="mui--text-subhead">
          Previously:
          <a href="https://anthillinside.in/2018/" class="click">Anthill Inside 2018</a>,
          <a href="https://fifthelephant.in/2018/" class="click">The Fifth Elephant 2018</a>,
          <a href="https://rootconf.in/2018/" class="click">Rootconf 2018</a>,
          <a href="https://50p.in/2018/" class="click">50p 2018</a>,
          <a href="https://jsfoo.in/2017/" class="click">JSFoo 2017</a>,
          <a href="https://reactfoo.in/2017/" class="click">Reactfoo 2017</a>,
          <a href="https://fragments.in/2017/" class="click">Fragments 2017</a>,
          <a href="https://anthillinside.in/2017/" class="click">Anthill Inside 2017</a>,
          <a href="https://fifthelephant.in/2017/" class="click">The Fifth Elephant 2017</a>,
          <a href="https://rootconf.in/2017/" class="click">Rootconf 2017</a>,
          <a href="https://kilter.in/2017/" class="click">Kilter 2017</a>,
          <a href="https://50p.in/2017/" class="click">50p 2017</a>,
          <a href="https://droidcon.in/2016/" class="click">droidconIN 2016</a>,
          <a href="https://metarefresh.in/2016/" class="click">Meta Refresh 2016</a>,
          <a href="https://jsfoo.in/2016/" class="click">JSFoo 2016</a>,
          <a href="https://www.instamojo.com/devopsnexus/two-day-container-workshop-on-docker-platfor/" class="click">Two Day Container workshop on Docker platform</a>,
          <a href="https://pipal.in/workshops/2016/http-bottom-up/" class="click">HTTP Bottom Up</a>,
          <a href="https://pipal.in/workshops/2016/generators-inside-out/" class="click">Generators Inside Out</a>,
          <a href="https://jsfoo.in/2016/nodejs-workshop/" class="click">NodeJS Workshop</a>,
          <a href="https://metarefresh.in/2016/workshop" class="click">Good Enough Design for Responsive Web Apps</a>,
          <a href="https://fifthelephant.in/2016/" class="click">The Fifth Elephant 2016</a>,
          <a href="https://fifthelephant.in/2016/deep-learning/" class="click">Deep Learning Conf 2016</a>,
          <a href="https://rootconf.in/2016/" class="click">Rootconf 2016</a>,
          <a href="https://droidcon.in/2015/" class="click">droidconIN 2015</a>,
          <a href="http://www.juliacon.in/2015/" class="click">JuliaCon India 2015</a>,
          <a href="https://jsfoo.in/2015/" class="click">JSFoo 2015</a>,
          <a href="https://fifthelephant.talkfunnel.com/2015/" class="click">The Fifth Elephant 2015</a>,
          <a href="https://rootconf.talkfunnel.com/2015/" class="click">Rootconf 2015</a>,
          <a href="https://metarefresh.talkfunnel.com/2015/" class="click">Meta Refresh 2015</a>,
          <a href="https://rootconf.talkfunnel.com/informationsecurityworkshop/" class="click">Information Security workshop</a>,
          <a href="https://droidcon.in/2014/" class="click">Droidcon India 2014</a>,
          <a href="https://jsfoo.in/2014/" class="click">JSFoo 2014</a>,
          <a href="https://fifthelephant.in/2014/" class="click">The Fifth Elephant 2014</a>,
          <a href="https://rootconf.in/2014/" class="click">Rootconf 2014</a>,
          <a href="https://funnel.hasgeek.com/redis-miniconf-2014" class="click">Redis Miniconf</a>,
          <a href="https://metarefresh.in/2014/" class="click">Meta Refresh 2014</a>,
          <a href="https://metarefresh.in/2014/angularjs-miniconf" class="click">AngularJS Miniconf</a>,
          <a href="https://droidcon.in/2013/" class="click">Droidcon India 2013</a>,
          <a href="https://jsfoo.in/2013/" class="click">JSFoo 2013</a>,
          <a href="https://cssworkshop.metarefresh.in/" class="click">Responsive Web Design workshop</a>,
          <a href="http://hasgeektv.doattend.com/" class="click">HasGeek TV workshop</a>,
          <a href="https://advancedpython.hasgeek.com/" class="click">Advanced Python workshop</a>,
          <a href="https://gitworkshop.hasgeek.com/" class="click">Git workshop</a>,
          <a href="https://fifthelephant.in/2013/" class="click">The Fifth Elephant 2013</a>,
          <a href="https://pigworkshop.fifthelephant.in/" class="click">Pig workshop</a>,
          <a href="https://cssworkshop.metarefresh.in/2013-03/" class="click">CSS for the Soul</a>,
          <a href="https://metarefresh.in/2013/" class="click">Meta Refresh 2013</a>,
          <a href="https://droidcon.in/2012/" class="click">Droidcon India 2012</a>,
          <a href="https://funnel.hasgeek.com/jsfoo/" class="click">JSFoo 2012</a>,
          <a href="https://cartonama.com/2012/" class="click">Cartonama Conference</a>,
          <a href="https://fifthelephant.in/2012/" class="click">The Fifth Elephant 2012</a>,
          <a href="https://rootconf.in/bangalore2012" class="click">Rootconf</a>,
          <a href="https://metarefresh.in/2012/" class="click">Meta Refresh 2012</a>,
          <a href="https://workshop.cartonama.com/" class="click">Cartonama Workshop</a>,
          JSFoo 2011-12 (in
            <a href="https://jsfoo.in/bangalore2011" class="click">Bangalore</a>,
            <a href="https://jsfoo.in/pune2012" class="click">Pune</a>, and
            <a href="https://jsfoo.in/chennai2012" class="click">Chennai</a>),
          <a href="https://droidcon.in/2011" class="click">Droidcon India 2011</a>,
          <a href="https://phpcloud.hasgeek.com/" class="click">Scaling PHP in the Cloud</a>,
          <a href="https://androidcamp.hasgeek.com/" class="click">AndroidCamp</a>
          and <a href="http://www.doctypehtml5.in/" class="click">DocType HTML5</a>.
        </p>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
  <div class="mui-container">
    <div class="grid mui--text-body2 mui--text-left">
      <div class="grid__col-sm-6 grid__col-md-5">
        <p>{% if 'FOOTER_MESSAGE' in config %}{{ config['FOOTER_MESSAGE'] }}{% else %}{% trans %} Copyright &copy; 2010-18 HasGeek.  All rights reserved.{% endtrans %}{% endif %} <a href="/about/">About us and site policies</a></p>
        <p>
          #2699, 19th Main, 5th Cross, Indiranagar HAL 2nd Stage, Bangalore - 560008, <a href="mailto:info@hasgeek.com">info@hasgeek.com</a>, <a href="tel:+917676332020">+91 7676 33 2020</a>
        </p>
      </div>
      <div class="grid__col-sm-6 grid__col-md-3">
        <div>
          <p id="footer-twitter">
            <a href="https://twitter.com/hasgeek" class="twitter-follow-button" target="_blank">Follow @hasgeek</a>
          </p>
          <a class="fb-like" data-href="https://www.facebook.com/HasGeek" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true" href="https://www.facebook.com/HasGeek" target="_blank">Like HasGeek's page on Facebook</a>
        </div>
      </div>
      <div class="grid__col-sm-3 grid__col-md-3">
        <p>
          Hosted by <a href="http://e2enetworks.com/" target="_blank">E2E Networks</a>
        </p>
      </div>
    </div>
  </div>
{% endblock %} 

{% block footerscripts %}
  {% assets "js_ractive" -%}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {%- endassets -%}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.13/moment-timezone-with-data.min.js"></script>
  {% raw %}
  <script id='event-card' type='text/ractive'>
    <div class="grid__col-xs-12 grid__col-sm-6 grid__col-lg-4">
      <div class="grid__cell">
        <div class="card">
          <div class="card__header">
            <div class="card__header__title">
              <h3 class="mui--text-title card__title__heading"><b>{{ title }}</b></h3>
              <h4 class="mui--text-subhead card__title__heading">{{ date }}, {{ city }}</h4>
            </div>
          </div>
          <div class="card__body">
            <p class="mui--text-body2">{{ blurb }}</p>
          </div>
          <div class="mui-divider"></div>
          <div class="card__footer">
            {{#if url}}
              <a href="{{ url }}" class="mui-btn mui-btn--small mui-btn--flat mui-btn--accent" target="_blank">Attend</a>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </script>
  <script id='conf-card' type='text/ractive'>
    <div class="grid__col-xs-12 grid__col-sm-6 grid__col-lg-4">
      <div class="grid__cell">
        <div class="card" itemscope itemtype="http://schema.org/Event">
          <div class="card__image-wrapper">
            {{#if banner }}
              <img class="card__image" src="{{ banner }}" alt="{{ title }}"/>
            {{else }}
              <div class="card__image--default">
                <img class="card__image" src="https://static.talkfunnel.com/static/img/card-background.png" alt="{{ title }}"/>
                <p class="card__image__tagline">{{ title }}</p>
              </div>
            {{/if}}
          </div>
          <div class="card__title">
            <h3 class="mui--text-title card__title__heading" itemprop="name"><b>{{ title }}</b></h3>
            <h4 class="mui--text-subhead card__title__heading">{{ date }}</h4>
          </div>
          <div class="card__body">
            <div class="mui--text-body2">
              <span itemprop="startDate" content="{{ start_time }}"></span>
              <span itemprop="endDate" content="{{ end_time }}"></span>
              <div class="location" itemprop="location" itemscope itemtype="http://schema.org/Place">
                <span itemprop="name">{{ venue }}</span>
                <div class="address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                  <span itemprop="addressLocality">{{ city }}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="mui-divider"></div>
          <div class="card__footer offers" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            {{#if url}}
              <a href="{{ url }}" class="mui-btn mui-btn--small mui-btn--flat mui-btn--primary" target="_blank" data-action="Buy tickets" itemprop="url">Tickets</a>
            {{/if}}
            {{#if funnel}}
              <a href="{{ funnel }}" class="mui-btn mui-btn--small mui-btn--flat mui-btn--primary" target="_blank" data-action="View proposals">Proposals</a>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </script>
  <script>
    $(document).ready(function (argument) {
      loadEvents();
    });

    function loadEvents() {
      $.getJSON("https://hasgeek.github.io/events/api/all.json")
        .done(function success(data) {

          eventComponent = Ractive.extend({
            template: '{{#if inFuture}}{{>event-card}}{{/if}}',
            computed: {
              inFuture: function() {
                return new Date(this.get('end_time')) > new Date();
              },
              date: function () {
                startTime = moment(this.get('start_time')).tz("Asia/Kolkata")
                endTime = moment(this.get('end_time')).tz("Asia/Kolkata")
                if (startTime.format("D MMM YYYY") === endTime.format("D MMM YYYY")) { // same day
                  return startTime.format('ddd D MMM, h:mm a')+"–"+endTime.format("h:mm a");
                }
                else { // multiple days
                  return startTime.format("D")+"–"+endTime.format("D MMM YYYY");
                }
              },
            }
          });

          confComponent = Ractive.extend({
            template: '{{#if inFuture}}{{>conf-card}}{{/if}}',
            computed: {
              inFuture: function() {
                return new Date(this.get('start_time')) > new Date();
              },
              date: function () {
                startTime = moment(this.get('start_time')).tz("Asia/Kolkata")
                endTime = moment(this.get('end_time')).tz("Asia/Kolkata")
                if (startTime.format("D MMM YYYY") === endTime.format("D MMM YYYY")) { // same day
                  return endTime.format("D MMM YYYY");
                }
                else { // multiple days
                  return startTime.format("D")+"–"+endTime.format("D MMM YYYY");
                }
              },
            }
          });

          ractive = new Ractive({
            el: 'events-container',
            template: '{{#events:idx}}<event/>{{/events}}',
            data: {
              events: data.events
            },
            oncomplete: function() {
              $('#events-container .btn').click(function(event) {
                var target = $(this).attr('href');
                var action = $(this).data('action');
                HasWeb.sendGA('click', action, target);
              });
            },
            components: { event: eventComponent }
          });

          ractive = new Ractive({
            el: 'conf-container',
            template: '{{#conferences:idx}}<conf/>{{/conferences}}',
            data: {
              conferences: data.conferences
            },
            oncomplete: function() {
              $('#conf-container .btn').click(function(event) {
                var target = $(this).attr('href');
                var action = $(this).data('action');
                HasWeb.sendGA('click', action, target);
              });
              $('.card').attr('itemscope', '');
              $('.location').attr('itemscope', '');
              $('.address').attr('itemscope', '');
              $('.offers').attr('itemscope', '');
            },
            components: { conf: confComponent }
          });

        })
        .fail(function( jqxhr, textStatus, error ) {
          var err = textStatus + ", " + error;
          console.log("Request Failed: " + err );
        });
    }
  </script>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <script src="https://platform.twitter.com/widgets.js" type="text/javascript"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-19123154-1', 'auto');
    ga('send', 'pageview');
    $(document).ready( function() {
      window.HasGeek = {};

      HasGeek.sendGA = function (category, action, label) {
        if (typeof ga !== "undefined") {
          ga('send', { hitType: 'event', eventCategory: category, eventAction: action, eventLabel: label});
        }
      };
      // Function that tracks a click button in Google Analytics.
      $('.btn').click(function(event) {
        var target = $(this).attr('href');
        var action = $(this).html();
        HasGeek.sendGA('click', action, target);
      });
      $('.click').click(function(event) {
        var target = $(this).attr('href');
        var action = "Click"
        HasGeek.sendGA('click', action, target);
      });
    });
  </script>
  {% endraw %}
{% endblock %}
