{% extends "layout.html" %}

{% block titletags -%}
  <title>{% if g.profile %}{{ g.profile.title }}{% else %}{{ config['SITE_TITLE'] }}{% endif %}</title>
  <meta name="DC.title" content="{% if g.profile %}{{ g.profile.title }}{% else %}{{ config['SITE_TITLE'] }}{% endif %}"/>
{%- endblock %}

{% block baseheadline -%}
  {% block headline -%}{%- endblock %}
{%- endblock %}

{% block content %}
  {% block heading %}
    {#
    <div class="page-header">
      <h1>{% if g.profile %}{{ g.profile.title }}{% else %}{{ config['SITE_TITLE'] }}{% endif %}</h1>
    </div>
    #}
  {% endblock %}
  {%- if g.profile %}
    {{ g.profile.description }}
  {%- else %}
    <p>
      {{ config['WELCOME_MESSAGE'] }}
    </p>
  {% endif %}
  {% if spaces %}
    <ul class="cardset row">
      {% for space in spaces %}
        <li class="col-md-4 col-sm-6">
          <a href="{{ space.url_for() }}">
            <div class="card-title">
              <h2>{{ space.title }}</h2>
              <h3>{{ space.datelocation }}</h3>
            </div>
            <div class="card-body">
              <p>{{ space.tagline }}</p>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>{% trans %}There are no proposal spaces at this time.{% endtrans %}
        {% if 'new-space' in g.permissions %}<a href="{{g.profile.url_for('new-space')}}">{% trans %}Create one{% endtrans %}</a>.{% endif %}
    </p>
  {% endif %}

{% endblock %}
