{% extends "inc/layout.html" %}

{#{% block baseheadline -%}#}
  {#{% block headline -%}#}
    <!-- <h1>{{ self.title()|e }}</h1> -->
  {#{%- endblock %}#}
{#{%- endblock %}#}


{% block content %}
  <div class="row">
    <div class="col-md-12">
      {% block heading %}
        <h1>{{ config['SITE_TITLE'] }}</h1>
      {% endblock %}
      <p>
        {{ config['WELCOME_MESSAGE'] }}
      </p>
    </div>
  </div>
  <br />
  {% if spaces %}
    <ul class="cardset row">
      {% for space in spaces %}
        <li class="col-md-4 col-sm-6">
          <a href="{{ url_for('viewspace', name=space.name) }}">
            <div class="card-title">
              <h2>{{ space.title }}</h2>
              <h3>{{ space.datelocation }}</h3>
            </div>
            <div class="card-body">
              <p>{{ space.tagline }}</p>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no discussion spaces at this time.</p>
  {% endif %}

{% endblock %}
