{% extends "layout.html.jinja2" %}
{% block title %}{{ config['SITE_TITLE'] }}{% endblock %}
{% from "baseframe/components.html.jinja2" import faicon %}
{%- from "macros.html.jinja2" import calendarwidget, saveprojectform, projectcard, featured_section, upcoming_section, open_cfp_section, all_projects_section, past_projects_section %}


{%- block pageheaders %}
<link rel="search" type="application/opensearchdescription+xml" href="{{ url_for('opensearch') }}" title="{{ config['SITE_TITLE'] }}" />
<script type="application/ld+json">
  {
    "@context" : "http://schema.org",
     "@type" : "WebSite",
     "name" : {{ config['SITE_TITLE']|tojson }},
     "url" : {{ url_for('index', _external=true)|tojson }},
    "potentialAction": {
      "@type": "SearchAction",
      "target": "{{ url_for('SearchView_search', _external=true) }}?q={query}",
      "query-input": "required name=query"
    }
  }
</script>
<script type="application/ld+json">
  {
    "@context" : "http://schema.org",
    "@type" : "Organization",
    "name" : {{ config['SITE_TITLE']|tojson }},
    "url" : {{ url_for('index', _external=true)|tojson }},
    "logo" : {{ url_for('static', filename='img/hg-banner.png', _external=true)|tojson }},
    "contactPoint" : [{
      "@type" : "ContactPoint",
      "telephone" : "+91 7676 33 2020",
      "contactType" : "customer service"
    }],
    "sameAs" : [
      "https://twitter.com/hasgeek",
      "https://www.facebook.com/hasgeek"
    ]
  }
</script>
{%- endblock %}

{% block bodytag %}
  <body class="mui--bg-accent hg-app">
{% endblock %}

{% block contenthead %}
{% endblock %}

{% block baseheadline %}
{% endblock %}

{% block basecontent %}
  {{ featured_section(featured_project, project_save_form) }}
  {{ upcoming_section(upcoming_projects, project_save_form) }}
  {{ open_cfp_section(open_cfp_projects, project_save_form) }}
  {{ all_projects_section(all_projects, project_save_form) }}
  {{ past_projects_section() }}
{% endblock %}

{% block footerscripts %}
  <script src="{{ url_for('static', filename=asset_path('index')) }}" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(function() {
      window.HasGeek.HomeInit();

      new Vue({
        el: '#past-project-table',
        data() {
          return {
            length: '4',
            pastprojects: '',
            next_page: 1,
            loadmore: true,
          }
        },
        methods: {
          fetchResult(page = 1) {
            const app = this;
            $.ajax({
              type: 'GET',
              url: "{{ url_for('past_projects_json') }}",
              data: {
                'page': app.next_page
              },
              timeout: window.HasGeek.config.ajaxTimeout,
              dataType: 'json',
              success(data) {
                app.pastprojects = data.past_projects;
                app.length = data.past_projects.length;
                app.next_page = data.next_page;
                app.loadmore = data.loadmore;
              },
            });
          },
          lazyoad() {
            const lazyLoader = document.querySelector('.js-lazy-loader');
            if (lazyLoader) {
              this.handleObserver = this.handleObserver.bind(this);

              const observer = new IntersectionObserver(this.handleObserver, {
                rootMargin: '0px',
                threshold: 0,
              });
              observer.observe(lazyLoader);
            }
          },
          handleObserver(entries) {
            entries.forEach(entry => {
              if (entry.isIntersecting) {
                const nextPage = entry.target.getAttribute('data-next-page');
                if (nextPage) {
                  this.fetchResult(nextPage);
                }
              }
            });
          },
        },
        mounted() {
          this.lazyoad();
        },
      });
    });
  </script>
{% endblock %}
