{% extends "layout.html.jinja2" %}
{% block title %}{% if profile %}{{ profile.title }}{% else %}{{ config['SITE_TITLE'] }}{% endif %}{% endblock %}
{% from "baseframe/components.html.jinja2" import faicon %}
{%- from "macros.html.jinja2" import calendarwidget, saveprojectform, projectcard %}


{%- block pageheaders %}
<link rel="search" type="application/opensearchdescription+xml" href="{{ url_for('opensearch') }}" title="{{ config['SITE_TITLE'] }}" />
<script type="application/ld+json">
  {
    "@context" : "http://schema.org",
     "@type" : "WebSite",
     "name" : {{ config['SITE_TITLE']|tojson }},
     "url" : {{ url_for('index', _external=true)|tojson }},
    "potentialAction": {
      "@type": "SearchAction",
      "target": "{{ url_for('SearchView_search', _external=true) }}?q={query}",
      "query-input": "required name=query"
    }
  }
</script>
<script type="application/ld+json">
  {
    "@context" : "http://schema.org",
    "@type" : "Organization",
    "name" : {{ config['SITE_TITLE']|tojson }},
    "url" : {{ url_for('index', _external=true)|tojson }},
    "logo" : {{ url_for('static', filename='img/hg-banner.png', _external=true)|tojson }},
    "contactPoint" : [{
      "@type" : "ContactPoint",
      "telephone" : "+91 7676 33 2020",
      "contactType" : "customer service"
    }],
    "sameAs" : [
      "https://twitter.com/hasgeek",
      "https://www.facebook.com/hasgeek"
    ]
  }
</script>
{%- endblock %}

{% block bodytag %}
  <body class="mui--bg-accent hg-app">
{% endblock %}

{% block contenthead %}
{% endblock %}

{% block baseheadline %}
  {%- if profile %}
    <div class="hg-banner mui--bg-accent">
      <div class="mui-container">
        <div class="grid">
          <div class="grid__col-12">
            <a class="profile-details profile-details--center" href="{{ g.profile.url_for() }}">
              {%- if profile.logo_url.url %}
                <span class="profile-details__logo-wrapper"><img class="profile-details__logo_wrapper__logo" src="{{ profile.logo_url }}" alt="{{ profile.title }}"/></span>
              {% endif %}
              <h2 class="mui--text-display1 mui--text-bold" data-cy="profile-title">{{ profile.title }}</h2>
            </a>
            <div class="mui--text-headline">{{ profile.description.html }}</div>
            {%- if profile.current_roles.admin %}
            <p>
              <a class="mui-btn mui-btn--primary mui-btn--raised" data-cy-btn="profile-crew" href="{{ profile.urls['members'] }}">{%- if profile.current_roles.owner %}{% trans %}Manage members{% endtrans %}{% else %}{% trans %}View members{% endtrans %}{% endif %}</a>
              <a class="mui-btn mui-btn--secondary mui-btn--raised" data-cy-btn="edit-details" href="{{ g.profile.url_for('edit') }}">{% trans %}Edit details{% endtrans %}</a>
            </p>
            {% endif %}
            <div class="mui-divider mui-divider--banner"></div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block basecontent %}
  {% with current_sessions = featured_project.current_sessions() if featured_project is not none else none %}
  {% if featured_project and current_sessions and current_sessions.sessions|length > 0 %}
    <div class="projects-wrapper">
      <div class="mui-container">
        <div class="grid">
          <div class="grid__col-12">
            <h2 class="mui--text-headline mui--text-bold project-headline">
              {% if not featured_project.livestream_urls and current_sessions.sessions|length > 0 %}
                {% trans %}Live schedule{% endtrans %}
              {% elif featured_project.livestream_urls and not current_sessions.sessions|length > 0 %}
                {% trans %}Livestream{% endtrans %}
              {% elif featured_project.livestream_urls and current_sessions.sessions|length > 0 %}
                {% trans %}Livestream and Schedule{% endtrans %}
              {% endif %}
            </h2>
          </div>
          <div class="grid__col-xs-12">
            <div class="card card--spotlight card--spotlight--live">
              <div class="card__image-wrapper">
                {% if featured_project.bg_image.url %}
                  <img class="card__image" src="{{ featured_project.bg_image }}" alt="{{ featured_project.title }}"/>
                {% else %}
                  <img class="card__image" src="{{ url_for('static', filename='img/card-background.png') }}" alt="{{ featured_project.title }}"/>
                  <p class="card__image__tagline">{{ featured_project.title }}</p>
                {% endif %}
              </div>
              <div class="card__body">
                <h3 class="card__body__title mui--text-headline mui--text-bold zero-top-margin"><a class="clickable-card" href="{{ featured_project.url_for() }}">{{ featured_project.title }}</a></h3>
                <p class="mui--text-title mui--text-bold primary-color-txt zero-bottom-margin">Live</p>
                {% if current_sessions.sessions|length > 0 %}
                  <p class="mui--text-subhead mui--text-light">{{ faicon(icon='clock') }} Session starts at {{ current_sessions.sessions[0].start_at_localized|time }}</p>
                {% endif %}
                <div>
                  {%- if featured_project.livestream_urls %}
                    <a class="mui-btn mui-btn--primary mui-btn--raised" aria-label="{% trans %}Watch livestream{% endtrans %}" href="{{ featured_project.url_for() }}">{% trans %}Livestream{% endtrans %}</a>
                  {%- endif %}
                  {%- if current_sessions.sessions|length > 0 %}
                    <a class="mui-btn mui-btn--primary mui-btn--raised" data-action="View Schedule(live event card)" href="{{ featured_project.url_for('schedule') }}">{% trans %}Schedule{% endtrans %}</a>
                  {%- endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {% endwith %}

  {% if featured_project %}
    <div class="projects-wrapper">
      <div class="spotlight">
        <div class="mui-container">
          <div class="grid">
            <div class="grid__col-12">
              <h2 class="mui--text-headline mui--text-bold project-headline">{% trans %}Spotlight{% endtrans %}</h2>
            </div>
          </div>
        </div>
        <div class="mui-container">
          <div class="grid">
            <div class="grid__col-12">
              <a class="card card--spotlight clickable-card" href="{{ featured_project.url_for() }}" aria-label="{{ featured_project.title }}" data-cy-project="{{ featured_project.title }}" data-action="View {{ featured_project.title }}(spotlight)">
                <div class="card__image-wrapper">
                  {% if featured_project.bg_image.url %}
                    <img class="card__image" src="{{ featured_project.bg_image }}" alt="{{ featured_project.title }}"/>
                  {% else %}
                    <img class="card__image" src="{{ url_for('static', filename='img/card-background.png') }}" alt="{{ featured_project.title }}"/>
                    <p class="card__image__tagline">{{ featured_project.title }}</p>
                  {% endif %}
                </div>
                <div class="card__body">
                  <h3 class="card__body__title mui--text-headline mui--text-bold">{{ featured_project.title }}</h3>
                  {% if featured_project.tagline %}<p class="card__body__subtitle mui--text-subhead zero-top-margin js-truncate mui--text-light" data-truncate-lines="3">{{ featured_project.tagline }}</p>{% endif %}
                  {%- if not current_auth.is_anonymous %}
                    {% set save_form_id = "featured_" + featured_project.uuid_b58 %}
                    <div class="card__body__bookmark">{{ saveprojectform(featured_project, project_save_form, save_form_id) }}</div>
                  {% endif %}
                  {% if featured_project.calendar_weeks_compact.weeks and featured_project.calendar_weeks_compact.weeks|length > 0 %}
                    <div aria-label="{{ featured_project.datelocation }}">
                      {{ calendarwidget(featured_project.calendar_weeks_compact) }}
                    </div>
                  {% endif %}
                  {% if featured_project.primary_venue %}
                    <p class="card__body__location mui--text-light">{{ faicon(icon='map-marker-alt', icon_size='caption', baseline=false) }} {{ featured_project.primary_venue.title }}{% if featured_project.primary_venue.city %}, {{ featured_project.primary_venue.city }}{% endif %}</p>
                  {% endif %}
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% if upcoming_projects|length > 0 %}
  <div class="projects-wrapper">
    <div class="mui-container">
      <div class="grid">
        <div class="grid__col-12">
          <h2 class="mui--text-headline mui--text-bold project-headline">{% trans %}Upcoming{% endtrans %}</h2>
        </div>
      </div>
      <ul class="mui-list--unstyled grid upcoming" role="list">
      {% for project in upcoming_projects %}
        <li class="grid__col-xs-12 grid__col-sm-6 grid__col-lg-4" role="listitem">
          {{ projectcard(project, project_save_form) }}
        </li>
      {%- endfor -%}
      </ul>
    </div>
  </div>
  {% endif %}

  {% if open_cfp_projects %}
    <div class="projects-wrapper">
      <div class="mui-container">
        <div class="grid">
          <div class="grid__col-12">
            <h2 class="mui--text-headline mui--text-bold project-headline">{% trans %}Accepting proposal submissions{% endtrans %}</h2>
          </div>
        </div>
        <ul class="grid projects" role="list">
          {% for project in open_cfp_projects %}
            <li class="grid__col-xs-12 grid__col-sm-4 grid__col-lg-3 js-cfp-projects {% if loop.index > 4 %}mui--hide{% endif %}" role="listitem">
              {{ projectcard(project, include_calendar=false) }}
            </li>
          {%- endfor -%}
        </ul>
        {% if open_cfp_projects|length > 4 %}
          <div class="mui--text-center">
            <a href="javascript:void(0)"  data-target="show all cfp projects" class="jquery-show-all mui--text-uppercase" data-projects="js-cfp-projects" data-action="Show all cfp projects(index page)" aria-expanded="true">{% trans %}Show more{% endtrans %}</a>
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}

  {%- if profile and (profile.current_roles.admin or profile.current_roles.editor or profile.current_roles.concierge) %}
    <div class="projects-wrapper">
      <div class="mui-container">
        <div class="grid">
          <div class="grid__col-12">
            <h2 class="mui--text-headline mui--text-bold project-headlinee">{% trans %}Introducing drafts{% endtrans %} <span class="chip chip--new mui--text-caption mui--align-middle">{% trans %}New{% endtrans %}</span></h2>
          </div>
        </div>
        <ul class="grid projects" role="list">
          {%- if profile.current_roles.admin %}
            <li class="grid__col-12 grid__col-xs-12 grid__col-sm-6 grid__col-lg-4" role="listitem">
              <a class="card card--upcoming card--new clickable-card" href="{{ g.profile.url_for('new_project')}}" aria-label="Create new project" data-cy="new-project" data-action="Add new project">
                <div class="card__image-wrapper">
                  <img class="card__image" src="{{ url_for('static', filename='img/card-background.png') }}" alt="new"/>
                  <p class="card__image-wrapper__icon-wrapper">{{ faicon(icon='plus', icon_size='display1', css_class='mui--align-middle card__image-wrapper__icon-wrapper__icon') }}</p>
                </div>
                <div class="card__body">
                  <h4 class="mui--text-headline mui--text-bold">{% trans %}Start a project{% endtrans %}</h4>
                  <p class="mui--text-subhead mui--text-light zero-top-margin"">{% trans %}Write, collaborate and get feedback.{% endtrans %}</p>
                </div>
                <div class="mui-divider"></div>
                <div class="card__footer">
                  <p class="mui-btn mui-btn--small mui-btn--flat mui-btn--accent">{% trans %}Start project{% endtrans %}</p>
                </div>
              </a>
            </li>
          {% endif %}
          {% if draft_projects %}
            {% for project in draft_projects %}
              <li class="grid__col-12 grid__col-xs-12 grid__col-sm-6 grid__col-lg-4 js-draft-projects {% if loop.index > 2 %}mui--hide{% endif %}" role="listitem">
                {{ projectcard(project, project_save_form) }}
              </li>
            {%- endfor -%}
          </ul>
          {% if draft_projects|length > 3 %}
            <div class="mui--text-center">
              <a href="javascript:void(0)"  data-target="show all draft projects" class="jquery-show-all mui--text-uppercase" data-projects="js-draft-projects" data-action="Show all drafts projects(index page)" aria-expanded="true">{% trans %}Show more{% endtrans %}</a>
            </div>
          {% endif %}
        {% endif %}
        {% if unscheduled_projects %}
        <div class="grid">
          <div class="grid__col-12">
          <h2 class="mui--text-headline mui--text-bold project-headlinee">{% trans %}Unscheduled projects{% endtrans %} <span class="chip chip--new mui--text-caption mui--align-middle">{% trans %}New{% endtrans %}</span></h2>
          </div>
        </div>
        <ul class="grid projects" role="list">
            {% for project in unscheduled_projects %}
              <li class="grid__col-12 grid__col-xs-12 grid__col-sm-6 grid__col-lg-4 js-draft-projects {% if loop.index > 2 %}mui--hide{% endif %}" role="listitem">
                {{ projectcard(project, project_save_form) }}
              </li>
            {% endfor %}
        {% endif %}
        </ul>
      </div>
    </div>
  {% endif %}

  {% if all_projects %}
    <div class="projects-wrapper">
      <div class="mui-container">
        <div class="grid">
          <div class="grid__col-12">
            <h2 class="mui--text-headline mui--text-bold project-headline">{% trans %}All projects{% endtrans %}</h2>
          </div>
        </div>
        <ul class="grid projects" role="list">
          {% for project in all_projects %}
            <li class="grid__col-12 grid__col-xs-12 grid__col-sm-6 grid__col-lg-4" role="listitem">
              {{ projectcard(project, project_save_form) }}
            </li>
          {%- endfor -%}
        </ul>
      </div>
    </div>
  {% endif %}

  {% if past_projects %}
    <div class="projects-wrapper">
      <div class="mui-container">
        <div class="grid">
          <div class="grid__col-12">
            <h2 class="mui--text-headline mui--text-bold project-headline">{% trans %}Past projects{% endtrans %}</h2>
            <p class="mui--text-body2">{{ past_projects|length }} projects</p>
          </div>
        </div>
        <div class="grid projects">
          <div class="grid__col-12 mui-table--responsive-wrapper">
            <table class="mui-table mui-table--bordered mui-table--responsive past-events-table">
              <thead class="mui--bg-primary-light">
                <tr>
                  <th class="mui--text-subhead mui--text-capitalize">{% trans %}Date{% endtrans %}</th>
                  <th class="mui--text-subhead mui--text-capitalize">{% trans %}Event name{% endtrans %}</th>
                  <th class="mui--text-subhead mui--text-capitalize">{% trans %}Location{% endtrans %}</th>
                </tr>
              </thead>
              <tbody>
                {% for project in past_projects %}
                  <tr>
                    <td data-th="Date"><p class="mui--text-subhead zero-bottom-margin">{{ project.schedule_start_at_localized|date(format='dd MMM yyyy') }} </p></td>
                    <td data-th="Event name"><p class="mui--text-subhead zero-bottom-margin"><a href="{{ project.url_for() }}" data-action="past-event(index page list)">{{ project.title }}</a></p></td>
                    <td data-th="Location">{% if project.primary_venue %}<p class="mui--text-subhead zero-bottom-margin">{{ project.primary_venue.city }}</p>{% endif %}</td>
                  </tr>
                {%- endfor -%}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

{% endblock %}

{% block footerscripts %}
  <script src="{{ url_for('static', filename=asset_path('index')) }}" type="text/javascript"></script>
  <script type="text/javascript">
    $(function() {
      window.HasGeek.HomeInit();
    });
  </script>
{% endblock %}
