{% extends "layout.html.jinja2" %}
{% from "baseframe/forms.html.jinja2" import renderfield %}
{% block title %}{% trans %}Labels{% endtrans %} &ndash; {{ project.title }}{% endblock %}

{% block top_title %}
  <h1 class="mui--text-display1">{{ project.title|e }}</h1>
  <p class="mui--text-headline">Manage labels</p>
{% endblock %}

{% block contentwrapper %}
<div class="grid">
  <div class="grid__col-xs-12">
    <div class="clickable-card card label-box label-box--new mui--z2" data-href="{{ project.url_for('new_label') }}" title="New label">
      <div class="card__body mui--text-center">
        <a class="mui--text-headline mui--text-light" href="{{ project.url_for('new_label') }}" title="New labelset" data-action="New labelset"><i class="material-icons mui--align-middle mui--text-display1">add</i> Create new label</a>
      </div>
    </div>
  </div>
  <div class="grid__col-xs-12">
    <form data-parsley-validate="true" id="label-form" method="POST" action="{{ request.url }}" accept-charset="UTF-8" class="mui-form">
      {%- for label in labels %}
        <div class="ui-dragable-box label-box" data-drag-placeholder="ui-box-placeholder--bigger" draggable="true"">
          <i class="material-icons mui--text-body1 mui--text-light label-box__icon">drag_indicator</i>
          <input name="id" value="{{ label.id }}" type="hidden" class="id-input">
          {% if label.has_options %}
            <h3 class="mui--text-title mui--text-bold label-box__heading">{% if label.icon_emoji %}{{ label.icon_emoji }}{% endif %} {{ label.title }}</h3>
            {%- for sublabel in label.options %}
              <span class="mui--text-subhead mui--text-light label-box__subheading">{% if sublabel.icon_emoji %}{{ sublabel.icon_emoji }} {% endif %}{{ sublabel.title }}</span>
            {% else %}
              <span class="mui--text-subhead mui--text-light"><em>{% trans %}(No labels){% endtrans %}</em></span>
            {%- endfor %}
          {% else %}
            <h3 class="mui--text-title mui--text-bold label-box__heading">{{ label.title }}</h3>
          {% endif %}
          <!-- <a class="label-box__icon label-box__icon--right" href="{{ label.url_for('edit') }}" title="{% trans %}Delete{% endtrans %}"><i class="material-icons mui--text-body1 mui--text-light">delete</i></a> -->
          <a class="label-box__icon label-box__icon--right" href="{{ label.url_for('edit') }}" title="{% trans %}Edit{% endtrans %}"><i class="material-icons mui--text-body1 mui--text-light">edit</i></a>
        </div>
      {%- endfor %}
      <div class="mui-form form-actions clearfix">
        <div>
          <button type="submit" name="submit" class="mui-btn mui-btn--raised mui-btn--primary" value="reject">Save</button>
          <span class="loading mui--hide"></span>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block footerscripts %}
  {% assets "js_sortable" -%}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {%- endassets -%}
  <script type="text/javascript">
    $(function() {
      function applySortable() {
        $(this).sortable({
          placeholder: $(this).data('drag-placeholder'),
          cursor: 'move',
          update: function() {
              $(this).children().each(function(index) {
                $(this).children('input[name$="seq"]').val(++index);
              });
          }
        });
      }
      $("#label-form").each(applySortable);
    });
  </script>
{% endblock %}
