{% extends "formlayout.html.jinja2" %}
{% from "baseframe/forms.html.jinja2" import renderfield, rendersubmit, ajaxform %}
{% block title %}{{ title }}{% endblock %}

{% block pageheaders %}
  {% assets "css_emojionearea" -%}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
  {%- endassets -%}
{% endblock %}

{% macro labelformfields(forms, subform=false) %}
  {%- if subform %}
      <div class="card">
          <div class="card__body">
  {%- endif %}
  {{ renderfield(form.icon_emoji, css_class="emojipicker") }}
  {%- for error in form.icon_emoji.errors %}
    <div><p class="mui-form__error">{{ error }}</p></div>
  {%- endfor %}
  {{ renderfield(form.title, autofocus=true, css_class="label-title") }}
  {%- for error in form.title.errors %}
    <div><p class="mui-form__error">{{ error }}</p></div>
  {%- endfor %}
  {%- if subform %}</div></div>{%- endif %}
{% endmacro %}

{% block content %}
  {%- if form.errors %}
    <div class="alert alert--error alert--dismissable">
      <a class="alert__close" href="javascript:void(0);" aria-label="close"><i class="material-icons">clear</i></a>
      <p class="alert__text"><i class="material-icons alert__icon">error</i>{% trans %}Please review the indicated issues{% endtrans %}</p>
    </div>
  {%- endif %}
  {%- if message %}
    <p class="form-message">{{ message }}</p>
  {%- endif %}
  <form data-parsley-validate="true" id="label-form" method="POST" action="{{ request.url }}" accept-charset="UTF-8" class="mui-form mui-form--margins hg-form">
    {{ form.hidden_tag() }}
    {{ labelformfields(form) }}
    <div id="child-form"></div>
    <p><button class="mui-btn mui-btn--raised mui-btn--accent" id="add-label-btn">+ Add label</button></p>
    {{ renderfield(form.required, css_class="mui--hide js-required-field") }}
    {%- for error in form.required.errors %}
      <div><p class="mui-form__error">{{ error }}</p></div>
    {%- endfor %}
    {{ renderfield(form.restricted) }}
    {%- for error in form.restricted.errors %}
      <div><p class="mui-form__error">{{ error }}</p></div>
    {%- endfor %}
    <div class="mui-form form-actions clearfix">
      <div>
        <button type="submit" name="submit" class="mui-btn mui-btn--raised mui-btn--primary" value="reject">Submit</button>
        <span class="loading mui--hide"></span>
      </div>
    </div>
  </form>
{% endblock %}

{% block footerscripts %}
  {% assets "js_emojionearea" -%}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {%- endassets -%}
  <script type="text/javascript">
    $(function() {
      function initEmojiPicker() {
        $('input.field-icon_emoji:not([style*="display: none"])').emojioneArea({
          pickerPosition: "right",
          autocomplete: false,
          standalone: true
        });
      }
      $('#add-label-btn').click(function(event) {
        event.preventDefault();
        var formHtml = {{ labelformfields(form, subform=true)|tojson|safe }};
        $('#child-form').append(formHtml);
        activate_widgets();
        initEmojiPicker();
        $('.js-required-field').removeClass('mui--hide');
        $('.js-required-field input').prop('checked', true);
      });
      initEmojiPicker();
    });
  </script>
  <script src="{{ 'parsley.js'|ext_asset_url }}" type="text/javascript"></script>
{% endblock %}
