{% extends "layout.html.jinja2" %}
{% set title_suffix = project.title %}
{% from "baseframe/forms.html.jinja2" import renderfield %}
{% block title %}{% trans %}Labels{% endtrans %}{% endblock %}

{% block top_title %}
  <h1 class="mui--text-display1"><a href="{{ project.url_for() }}">{{ project.title|e }}</a></h1>
  <p class="mui--text-headline">{% trans %}Manage labels{% endtrans %}</p>
{% endblock %}

{% block contentwrapper %}
<div class="grid">
  <div class="grid__col-xs-12">
    <div class="clickable-card card label-box label-box--new mui--z2" data-href="{{ project.url_for('new_label') }}" title="New label">
      <div class="card__body mui--text-center">
        <a class="mui--text-headline mui--text-light" href="{{ project.url_for('new_label') }}" title="New labelset" data-action="New labelset"><i class="material-icons mui--align-middle mui--text-display1" aria-hidden="true">add</i> {% trans %}Create new label{% endtrans %}</a>
      </div>
    </div>
  </div>
  <div class="grid__col-xs-12">
    <form data-parsley-validate="true" id="label-form" method="POST" action="{{ request.url }}" accept-charset="UTF-8" class="mui-form">
      {{ form.hidden_tag() }}
      {%- for label in labels %}
        <div class="ui-dragable-box label-box" data-drag-placeholder="ui-box-placeholder--bigger" draggable="true">
          <i class="material-icons mui--text-body1 mui--text-light label-box__icon" aria-hidden="true">drag_indicator</i>
          <input name="name" value="{{ label.name }}" type="hidden" class="id-input">
          {% if label.has_options %}
            <h3 class="mui--text-title mui--text-bold label-box__heading">{% if label.icon_emoji %}{{ label.icon_emoji }}{% endif %} {{ label.title }}</h3>
            <div class="sublabel-wrapper">
              {%- for option in label.options %}
                <span class="mui--text-subhead mui--text-light label-box__subheading">{% if option.icon_emoji %}{{ option.icon_emoji }} {% endif %}{{ option.title }}</span>
              {% else %}
                <span class="mui--text-subhead mui--text-light"><em>{% trans %}(No labels){% endtrans %}</em></span>
              {%- endfor %}
            </div>
          {% else %}
            <h3 class="mui--text-title mui--text-bold label-box__heading">{{ label.title }}</h3>
          {% endif %}
          <div class="label-box__icon-wrapper">
            <a class="label-box__icon label-box__icon--right" href="{{ label.url_for('edit') }}" title="{% trans %}Edit{% endtrans %}" aria-label="{% trans %}Edit{% endtrans %}"><i class="material-icons mui--text-title mui--text-light" aria-hidden="true">edit</i></a>
            {% if label.has_proposals %}
              <a class="label-box__icon label-box__icon--right js-delete-btn" href="{{ label.url_for('archive') }}" title="{% trans %}Archive{% endtrans %}" aria-label="{% trans %}Archive{% endtrans %}"><i class="material-icons mui--text-title mui--text-light" aria-hidden="true">archive</i></a>
            {% else %}
              <a class="label-box__icon label-box__icon--right js-delete-btn" href="{{ label.url_for('delete') }}" title="{% trans %}Delete{% endtrans %}" aria-label="{% trans %}Delete{% endtrans %}"><i class="material-icons mui--text-title mui--text-light" aria-hidden="true">delete</i></a>
            {% endif %}
          </div>
        </div>
      {%- endfor %}
      <div class="mui-form form-actions mui--clearfix">
        <div>
          <button type="submit" name="submit" class="mui-btn mui-btn--raised mui-btn--primary" value="reject">{% trans %}Save{% endtrans %}</button>
          <span class="loading mui--hide"></span>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block footerscripts %}
  {% assets "js_sortable" -%}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {%- endassets -%}
  <script type="text/javascript">
    $(function() {
      function applySortable() {
        $(this).sortable({
          placeholder: $(this).data('drag-placeholder'),
          cursor: 'move',
          update: function() {
              $(this).children().each(function(index) {
                $(this).children('input[name$="seq"]').val(++index);
              });
          }
        });
      }
      $("#label-form").each(applySortable);

      $('.js-delete-btn').click(function(event) {
        event.preventDefault();
        var btnTitle = $(this).attr('title').toLowerCase();
        var url = $(this).attr('href');
        var text = "Are you sure you want to " + btnTitle;
        var csrftoken = 'csrf_token=' + document.head.querySelector("[name=csrf-token]").content;
        if(window.confirm(text)) {
          $.ajax({
            type: 'POST',
            url: url,
            data : csrftoken,
            success: function() {
              window.location.href = window.location.href;
            },
            error(response) {
              var errorMsg = '';
              if (response.readyState === 4) {
                if (response.status === 500) {
                  errorMsg ='Internal Server Error. Please reload and try again.';
                } else {
                  errorMsg = JSON.parse(response.responseText).error_description;
                }
              } else {
                errorMsg = 'Unable to connect. Please reload and try again.';
              }
              window.toastr.error(errorMsg);
            }
          });
        }
      })

    });
  </script>
{% endblock %}
