{% extends "layout.html.jinja2" %}
{% block title %}{% trans %}Labels{% endtrans %} &ndash; {{ project.title }}{% endblock %}

{% block top_title %}
  <h1 class="mui--text-display1">{{ project.title|e }}</h1>
  <p class="mui--text-headline">Manage labels</p>
{% endblock %}

{% block contentwrapper %}
  <div class="grid">
    {%- for label in labels %}
      <div class="grid__col-xs-12 grid__col-sm-4">
        <div class="card">
          {% if label.is_main %}
            <div class="card__body card__body--minheight mui--text-subhead">
              <h3>{{ label.icon_emoji }} {{ label.title }}</h3>
              <ul class="mui-list--aligned mui-list--unstyled">
                {%- for sublabel in label.options %}
                  <li>
                    <span class="mui--text-subhead"><strong>{{ sublabel.icon_emoji }} {{ sublabel.title }}</strong></span>
                  </li>
                {% else %}
                  <li class="mui--text-subhead"><em>{% trans %}(No labels){% endtrans %}</em></li>
                {%- endfor %}
              </ol>
            </div>
            <div class="mui-divider"></div>
          {% else %}
            <div class="card__body card__body--minheight mui--text-subhead">
              <h3>{{ label.title }}</h3>
            </div>
            <div class="mui-divider"></div>
          {% endif %}
          <div class="card__footer">
            <a class="mui-btn mui-btn--small mui-btn--flat mui-btn--primary" href="{{ label.url_for('edit') }}" title="{% trans %}Edit{% endtrans %}">{% trans %}Edit label{% endtrans %}</a>
            <!-- <a class="mui-btn mui-btn--small mui-btn--flat mui-btn--primary" data-href="" title="{% trans %}Add label{% endtrans %}" id="add-label-btn">{% trans %}Archive{% endtrans %}</a> -->
          </div>
        </div>
      </div>
    {%- endfor %}
    <div class="grid__col-xs-12 grid__col-sm-4">
      <div class="clickable-card card" data-href="{{ project.url_for('new_label') }}" title="New label">
        <div class="card__body card__body--new mui--bg-accent">
          <p class="mui--text-headline mui--text-center">
            <a class="new-btn mui--text-dark " href="{{ project.url_for('new_label') }}" title="New labelset" data-action="New labelset"><span>+</span><br><span>Add new label</span></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
