{% extends "baseframe.html.jinja2" -%}
{% from "baseframe/components.html.jinja2" import hgtopnav with context %}

{% block description %}{% if g.profile %}{{ g.profile.description|striptags }}{% endif %}{% endblock %}

{% block sidedrawer -%}
{%- endblock %}

{% block header -%}
  {% macro site_title() %}
    {%- if g.profile -%}
      <a href="{{ url_for('index') }}" class="header__site-title__item"><img src="{{ url_for('static', filename='img/funnel-logo.png') }}" class="header__site-title__logo"/></a> <i class="material-icons mui--text-subhead mui--align-center">chevron_right</i>
      <a href="{{ g.profile.url_for() }}" class="header__site-title__item mui--text-dark">{{ g.profile.title }}</a>
      {%- if project %}
        {%- if project.parent_project %}
          <i class="material-icons mui--text-subhead mui--align-center">chevron_right</i>
          <a href="{{ project.parent_project.url_for() }}" class="header__site-title__item">{{ project.parent_project.short_title() }}</a>
        {%- endif %}
        <i class="material-icons mui--text-subhead mui--align-center">chevron_right</i>
        <a href="{{ project.url_for() }}" class="header__site-title__item">{{ project.short_title() }}</a>
      {%- endif %}
    {%- else -%}
      <a href="{{ url_for('index') }}" class="header__site-title__item"><img src="{{ url_for('static', filename='img/funnel-logo.png') }}" class="header__site-title__logo"/> {{ config['SITE_TITLE'] }}</a>
    {%- endif -%}
  {% endmacro %}
  {{ hgtopnav(site_title=site_title()) }}
{%- endblock %}

{% block bodytag %}<body class="mui--bg-primary">{% endblock %}

{% block contenthead %}
  {% block banner %}
  {% endblock %}
  {% block headline -%}
    <div class="content-head content-head--top-padding mui--bg-accent">
      <div class="mui-container">
        <div class="grid">
          <div class="grid__col-xs-12">
            {% block top_title %}
            <h1 class="mui--text-display1">
              {{ self.title()|e }}
            </h1>
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
  {%- endblock %}
{% endblock %}

{%- block baseheadline %}
  {% block ads %}
  {% endblock %}
{% endblock %}

{% block basecontent %}
  <div class="page-content">
    {% block contentwrapper %}
    <div class="grid">
      <div class="grid__col-xs-12">
        {% block content %}{% endblock %}
      </div>
    </div>
    {% endblock %}
  </div>
{% endblock %}

{% block jquery -%}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript">
  if (typeof jQuery === 'undefined')
    document.write('<script type="text/javascript" src="{{ url_for("baseframe.static", filename="js/jquery-2.2.4.min.js") }}"><\/script>');
</script>
{%- endblock %}

{% block layoutscripts %}
  <script type="text/javascript">
    $(function() {
      window.Talkfunnel.Utils.collapse();
      window.Talkfunnel.Utils.smoothScroll();
    });
  </script>
  {% block footerscripts %}{% endblock %}
{% endblock %}
