{% extends "baseframe.html" -%}
{% from "baseframe/components.html" import hgnav with context %}

{% block headerbox %}
  {% macro site_title() %}
    <div class="page-header">
      <h1>
        {%- if g.profile -%}
          <a href="{{ url_for('index') }}"><i class="fa fa-filter"></i></a> <i class="fa fa-angle-right"></i>
          <a href="{{ g.profile.url_for() }}">{{ g.profile.title }}</a>
          {%- if space %}
            <i class="fa fa-angle-right"></i>
            <a href="{{ space.url_for() }}">{{ space.short_title() }}</a>
          {%- endif %}
        {%- else -%}
          <a href="{{ url_for('index') }}"><i class="fa fa-filter"></i> {{ config['SITE_TITLE'] }}</a>
        {%- endif -%}
      </h1>
    </div>
  {% endmacro %}
  {{ hgnav(site_title=site_title()) }}

{% endblock %}

{%- block image_src %}
  <link rel="image_src" href="{{ url_for('static', filename='img/logo_og.png') }}" />
  <meta property="og:image" content="{{ url_for('static', filename='img/logo_og.png') }}" />
{%- endblock %}

{% block baseheadline -%}
  {% block headline -%}
    <div class="page-header">
      {% block top_title %}<h1>{{ self.title()|e }}</h1>{% endblock %}
    </div>
  {%- endblock %}
{%- endblock %}

{% block basecontent -%}
  {% block content %}{% endblock %}
{%- endblock %}
