{%- if not request_is_xhr() -%}
  {% extends "account_formlayout.html.jinja2" %}
{%- else -%}
  {% extends "ajaxform.html.jinja2" %}
{% endif %}
{% from "forms.html.jinja2" import ajaxform %}
{% from "password_login_form.html.jinja2" import passwordlogin, sociallogin %}

{% block bodyattrs %}class="login-page login-page--artwork no-sticky-header"{% endblock %}

{% block beforeformcontent %}
{% endblock %}

{% block form %}
  <div id="passwordform">
    {%- if request_is_xhr() -%}
      <p class="mui--text-body2 mui--text-light mui--text-bold mui--text-left">{% trans %}Hello!{% endtrans %}</p>
      <p class="mui--text-body2 mui--text-light mui--text-left">{% trans %}Tell us where you'd like to get updates. We'll send an OTP to confirm.{% endtrans %}</p>
    {% endif %}
    {{ passwordlogin(loginform, formid, ref_id) }}
  </div>
  <p class="mui--text-body2 mui--text-light mui--text-bold mui--text-center top-padding">{% trans %}"Or, use your existing account, no OTP required"{% endtrans %}</p>
  {{ sociallogin(login_registry) }}
{% endblock %}

{% block afterloginbox %}
  <img class="login-page-artwork img-responsive" src="{{  url_for('static', filename='img/conversation.svg') }}"/>
{% endblock %}
