{% extends "account_formlayout.html.jinja2" %}
{% from "forms.html.jinja2" import ajaxform %}
{% from "password_login_form.html.jinja2" import passwordlogin %}

{% block bodyattrs %}class="login-page login-page--artwork no-sticky-header"{% endblock %}

{% block beforeformcontent %}
  <div>
    {% for provider_name, provider in login_registry.at_login_items() %}
      <a class="mui-btn mui-btn--raised login login-{{ provider_name }} mui--d-block" href="{{ url_for('login_service', service=provider_name) }}" data-ga="login using {{ provider_name }}" aria-label="{% trans title=provider.title %}Login using {{ title }}{% endtrans %}"><img src="{{ url_for('static', filename='img/' + provider_name + '.svg') }}" class="icon-img" alt="{{ provider.title }}" aria-label="hidden"/></i>{{ provider.title }}</a>
    {% endfor %}
  </div>
{% endblock %}
{% block form %}
  <div id="passwordform">
    <p class="mui--text-body2 mui--text-light login-page__box__title mui--text-center"><span class="login-page__box__title__txt">{% trans %}or{% endtrans %}</span></p>
    {{ passwordlogin(loginform, formid, ref_id) }}
  </div>
{% endblock %}

{% block afterloginbox %}
  <img class="login-page-artwork img-responsive" src="{{  url_for('static', filename='img/conversation.svg') }}"/>
{% endblock %}
