{% extends "ajaxform.html.jinja2" %}
{% from "forms.html.jinja2" import recaptcha %}
{% from "password_login_form.html.jinja2" import passwordlogin, sociallogin %}
{% block title %}{% endblock title %}
{% block form %}
  {{ passwordlogin(form, formid, ref_id) }}
  {%- if form and form.recaptcha is defined %}
    {{ recaptcha(ref_id, 'loginformwrapper') }}
  {%- endif %}
{% endblock form %}
