{%- set img_size = namespace() %}
{%- set img_size.profile_banner = 1200 %}
{%- set img_size.spotlight_banner = 700 %}
{%- set img_size.card_banner = 400 %}
{%- set img_size.card_banner_small = 100 %}
{%- set img_size.profile_logo = 240 %}
{%- set img_size.profile_logo_small = 80 %}

{%- macro faicon(icon, icon_size='body', baseline=true, css_class="") -%}
  {% assets "fa5-sprite" %}<svg class="fa5-icon {%- if icon_size %} fa5-icon--{{ icon_size }} {%- endif -%} {%- if baseline %} fa5--align-baseline {%- endif -%} {%- if css_class %} {{ css_class }} {%- endif -%}" aria-hidden="true" role="img"><use xlink:href="{{ ASSET_URL|make_relative_url }}#{{ icon }}"></use></svg>{% endassets %}
{%- endmacro %}

{%- macro alertbox(category, message="", dismissable=true, css_class="") %}
  <div class="alert alert--{{ category }} {% if dismissable %}alert--dismissable{%- endif -%} {%- if css_class %} {{ css_class }} {%- endif -%}">
    {%- if dismissable %}
      <a class="alert__close" href="#" onclick="return false;" aria-label="{% trans %}Close{% endtrans %}">
      {{ faicon(icon='times', icon_size='title', baseline=true) }}
      </a>
    {%- endif -%}
    <p class="alert__text">{{ message }}</p>
  </div>
{%- endmacro %}

{%- macro csrf_tag() %}
<input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}"/>
{%- endmacro %}

{% macro calendarwidget(calendar, compact=true) %}
  <div class="card__calendar {% if compact %} card__calendar--compact {% endif %}" aria-hidden="true">
    <div class="calendar">
      {% set event = namespace(month='', year='', first_week='', previous='', next='') %}
      <div class="calendar__weekdays {% if calendar.weeks|length > 1 %} calendar__weekdays--rows {% endif %}">
        {% for week in calendar.weeks|sort(attribute='year') %}
          {% set event.previous = false %}
          {% set event.next = false %}
          {% if not event.first_week and week.upcoming %}
            {% set event.first_week = week %}
            {% if loop.index0 > 0 %}
              {% set event.previous = true %}
            {% endif %}
            {% if loop.index != calendar.weeks|length and calendar.weeks[loop.index].upcoming %}
              {% set event.next = true %}
            {% endif %}
          {% endif %}
          <p class="calendar__month {% if week.upcoming %}calendar__month--upcoming{% endif %} {% if event.first_week == week %}calendar__month--upcoming--first calendar__month--latest{% endif %} {% if week.month != event.month %}calendar__month--unique{% endif %} {% if loop.index == calendar.weeks|length and not week.upcoming %}calendar__month--latest{% endif %}"><span class="calendar__month__counting" data-today="{{ calendar.today }}" data-month="{{ week.month }}"></span><span class="calendar__month__name mui--text-light">{{ week.month }} {{ week.year }}</span></p>
          {% set event.month = week.month %}
          {% set event.year = week.year %}
          <div class="calendar__weekdays__dates {% if week.upcoming %}calendar__weekdays__dates--upcoming{% endif %} {% if event.first_week == week %}calendar__weekdays__dates--upcoming--first calendar__weekdays__dates--latest {% endif %} {% if loop.index == calendar.weeks|length and not week.upcoming %}calendar__weekdays__dates--latest {% endif %}" data-month="{{ week.month }}">
            <p class="calendar__weekdays__dates__date calendar__weekdays__dates__icon calendar__weekdays__dates__icon--left">
              {% if event.previous %}{{ faicon(icon='chevron-left', icon_size='caption', baseline=false, css_class="calendar__weekdays__dates__icon__next") }}{% endif %}
            </p>
            {% for date in week.dates %}
              <p class="calendar__weekdays__dates__date {% if date.count > 0 %}calendar__weekdays__dates__date--active {% elif date.isoformat == calendar.today %} calendar__weekdays__dates__date--today{% endif %} {% if date.day_start_at %} calendar__weekdays__dates__date--showtime{% endif %} {% if date.isoformat >= calendar.today %} calendar__weekdays__dates__date--latest{% endif %} calendar__weekdays__dates__date--{{ (loop.index - 1) % 7 }}" {% if date.count > 0 %} data-event-date="{{ date.isoformat }}" {% endif %} data-event-month="{{ week.month }}">
                <span class="calendar__weekdays__dates__date__day">{{ date.day }}</span>
                <span class="calendar__weekdays__dates__date__name">{{ calendar.days[(loop.index - 1) % 7] }}</span>
                {% if date.day_start_at %}<span class="calendar__weekdays__dates__time">{{ date.day_start_at }} – {{ date.day_end_at }}</span>{% endif %}
              </p>
            {% endfor %}
            <p class="calendar__weekdays__dates__date calendar__weekdays__dates__icon calendar__weekdays__dates__icon--right">
              {% if event.next %}{{ faicon(icon='chevron-right', icon_size='caption', baseline=false, css_class="calendar__weekdays__dates__icon__next") }}{% endif %}
            </p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endmacro %}

{% macro saveprojectform(project, iconsize='body', formid="save-form") %}
  <form id="{{ formid }}" class="js-save-form" action="{{ project.url_for('save') }}" method="post">
    {{ current_view.SavedProjectForm().hidden_tag() }}
    <div class="bookmark-wrapper">
      {%- if current_auth.is_anonymous %}
        <a class="mui--text-light" href="{{ url_for('login', next=request.path) }}" data-ga="Login to save project" aria-label="{% trans %}Login to save this project{% endtrans %}">{{ faicon(icon='bookmark', baseline=true, icon_size=iconsize, css_class="mui--text-light") }}</a>
      {%- else %}
        <input type="hidden" name="save" value=""/>
        <button type="submit" value="true" class="mui-btn mui-btn--nostyle animate-btn {% if not project.is_saved_by(current_auth.user) %} animate-btn--show {% endif %}" data-ga="Save this project" onclick="this.form.save.value=this.value" data-cy="bookmark" aria-label="{% trans %}Save this project{% endtrans %}">{{ faicon(icon='bookmark', baseline=true, icon_size=iconsize, css_class="mui--text-light") }}
        </button>
        <button type="submit" value="false" class="mui-btn mui-btn--nostyle animate-btn animate-btn--saved{% if project.is_saved_by(current_auth.user) %} animate-btn--show {% endif %}" data-ga="Unsave this project" onclick="this.form.save.value=this.value" data-cy="bookmarked" aria-label="{% trans %}Unsave this project{% endtrans %}">{{ faicon(icon='bookmark-solid', baseline=true, icon_size=iconsize, css_class="bookmarked") }}</button>
      {%- endif %}
    </div>
  </form>
{% endmacro %}

{% macro share_dropdown(url, title, css_class="") %}
  {%- with url_copy=url+'?utm_source=share-copy', url_email=url+'?utm_source=share-email&utm_medium=email', url_twitter=url+'?utm_source=share-twitter&utm_medium=social', url_facebook=url+'?utm_source=share-facebook&utm_medium=social', url_linkedin=url+'?utm_source=share-linkedin&utm_medium=social' %}
  <ul class="mui-dropdown__menu mui-dropdown__menu--right mui-dropdown__menu--hg-link {% if css_class %}{{ css_class }}{%- endif %}" data-cy="share-dropdown">
    <li><a class="mui--text-body2 js-copy-link" href="#" onclick="return false;" data-ga="Copy link to share" role="menuitem">{{ faicon(icon='copy', baseline=true, css_class="mui--text-light fa-icon--right-margin") }}{% trans %}Copy link{% endtrans %}<span class="js-copy-url" aria-hidden="true">{{ url_copy }}</span></a></li>
    <li><a class="mui--text-body2" href="mailto:?subject={{ title|urlencode }}&amp;body={{ url_email|urlencode }}" data-ga="Email" role="menuitem">{{ faicon(icon='envelope', baseline=true, css_class="mui--text-light fa-icon--right-margin") }}{% trans %}Email{% endtrans %}</a></li>
    <li><a class="mui--text-body2" target="_blank" rel="noopener" href="https://twitter.com/share?text={{ title|urlencode }}+(via+@hasgeek)&amp;url={{ url_twitter|urlencode }}" data-url="{{ url_twitter }}" data-via="hasgeek" data-text="{{ title }}" data-ga="Tweet" role="menuitem">{{ faicon(icon='twitter-square', baseline=true, css_class="mui--text-light fa-icon--right-margin") }}{% trans %}Twitter{% endtrans %}</a></li>
    <li><a class="mui--text-body2" target="_blank" rel="noopener" href="https://www.facebook.com/sharer.php?u={{ url_facebook|urlencode }}&amp;t={{ title|urlencode }}" data-href="{{ url_facebook }}" data-ga="Share on facebook" role="menuitem">{{ faicon(icon='facebook-square', baseline=true,css_class="mui--text-light fa-icon--right-margin") }}{% trans %}Facebook{% endtrans %}</a></li>
    <li><a class="mui--text-body2" href="https://www.linkedin.com/shareArticle?mini=true&url={{ url_linkedin|urlencode }}&title={{ title|urlencode }}" data-ga="Share on linkedin" role="menuitem">{{ faicon(icon='linkedin', baseline=true, css_class="mui--text-light fa-icon--right-margin") }}{% trans %}LinkedIn{% endtrans %}</a></li>
  </ul>
  {%- endwith %}
{% endmacro %}

{% macro embed_video_player(video) %}
  {% if video.source != 'raw' %}
    <iframe src="{{ video.embeddable_url }}" frameborder="0" allowfullscreen></iframe>
  {% else %}
    <p class="video_txt">
      {{ faicon(icon='video', icon_size='display1') }}<br/>
      <a href="{{ video.id }}" target="_blank" rel="noopener" class="mui--text-title">{% trans %}Preview video{% endtrans %}</a>
    </p>
  {%- endif %}
{% endmacro %}

{% macro video_action_bar(video, proposal='', session='', share=true) %}
  {%- if video.source == 'youtube' -%}
    <p class="zero-bottom-margin mui--pull-left"><a href="https://videoken.com" target="_blank" rel="noopener" class="mui--text-caption details__box__control__link">{% trans %}Powered by VideoKen{% endtrans %}</a></p>
  {%- endif %}

  {%- if proposal and proposal.current_roles.editor %}
    <a class="details__box__control__link mui--text-subhead" href="{{ proposal.url_for('edit') }}#field-video" data-cy="edit-video" aria-label="{% trans %}Edit submission video{% endtrans %}">{{ faicon(icon='edit', icon_size='subhead', css_class="fa5--link") }}</a>
  {% elif session and session.project.current_roles.editor %}
    <a class="details__box__control__link mui--text-subhead" href="{{ session.url_for('edit') }}" data-cy="edit-video" aria-label="{% trans %}Edit session video{% endtrans %}">{{ faicon(icon='edit', icon_size='subhead', css_class="fa5--link") }}</a>
  {%- endif %}

  {%- if share and (proposal or session) %}
    {%- if proposal %}
      {% set url, title = proposal.url_for(_external=true), proposal.title %}
    {% else %}
      {% set url, title = session.url_for(_external=true), session.title %}
    {%- endif %}
    <a href="#" onclick="return false;" class="details__box__control__link mui--text-subhead hg-link-btn mui--hide" data-ga="Share dropdown" data-cy="share-project" data-url="{{ (url+'?utm_source=webshare') }}" aria-label="{% trans %}Share{% endtrans %}">{{ faicon(icon='share-alt', icon_size='subhead') }}</a>
    <div class="mui-dropdown">
      <a href="#" onclick="return false;" class="details__box__control__link mui--text-subhead project-links" data-mui-toggle="dropdown" data-ga="Share dropdown" data-cy="share-project" role="button" aria-haspopup="true" aria-expanded="false" aria-label="{% trans %}Share{% endtrans %}">{{ faicon(icon='share-alt', icon_size='subhead') }}</a>
      {{ share_dropdown(url, title) }}
    </div>
  {%- endif %}
{% endmacro %}

{% macro account_tabs(active_tab='account') %}
  <div class="tabs" id="jquery-scroll-tabs">
    <a {% if active_tab != 'account' %}href="{{ url_for('account') }}"{%- endif %} class="tabs__item mui--text-body2 {% if active_tab == 'account' %}tabs__item--active{%- endif %}">{% trans %}Account{% endtrans %}</a>
    <a {% if active_tab != 'organizations' %}href="{{ url_for('organizations') }}"{%- endif %} class="tabs__item mui--text-body2 {% if active_tab == 'organizations' %}tabs__item--active{%- endif %}">{% trans %}Organizations{% endtrans %}</a>
    <a {% if active_tab != 'notification_preferences' %}href="{{ url_for('notification_preferences') }}"{%- endif %} class="tabs__item mui--text-body2 {% if active_tab == 'notification_preferences' %}tabs__item--active{%- endif %}">{% trans %}Notifications{% endtrans %}</a>
    <a {% if active_tab != 'saved' %}href="{{ url_for('saved') }}"{%- endif %} class="tabs__item mui--text-body2 {% if active_tab == 'saved' %}tabs__item--active{%- endif %}">{% trans %}Saved projects{% endtrans %}</a>
    <a {% if active_tab != 'scan' %}href="{{ url_for('scan_contact') }}"{%- endif %} class="tabs__item mui--text-body2 {% if active_tab == 'scan' %}tabs__item--active{%- endif %}">{% trans %}Scan badge{% endtrans %}</a>
    <a {% if active_tab != 'contacts' %}href="{{ url_for('contacts') }}"{%- endif %} class="tabs__item mui--text-body2 {% if active_tab == 'contacts' %}tabs__item--active{%- endif %}">{% trans %}Contacts{% endtrans %}</a>
  </div>
{% endmacro %}

{% macro projectcard(project, include_calendar=true, calendarwidget_compact=true, include_profile=true, include_details=true, save_form_id_prefix='spf_', add_bookmark=true, snippet_html=none) %}
  <a class="card card--upcoming clickable-card" href="{{ project.url_for() }}" aria-label="{{ project.title }}" data-cy-title="{{ project.title }}" data-ga="View project">
    {%- if include_profile %}
    <div class="flex-wrapper flex-wrapper--center flex-wrapper--space-between margin-top margin-bottom margin-right margin-left">
      <div class="flex-wrapper flex-wrapper--center">
        <span class="profile-avatar margin-right">
          {%- if project.profile.logo_url.url %}
            <img src="{{ project.profile.logo_url.resize(img_size.profile_logo_small) }}" alt="{{ project.profile.title }}"/>
          {% else %}
            <img src="{{ url_for('static', filename='img/default-profile-logo.png') }}" alt="{{ project.profile.title }}"/>
          {% endif %}
        </span>
        <span class="profile-avatar-title mui--text-body2 text-bold mui--text-dark">{{ project.profile.title }}</span>
      </div>
      {%- if not current_auth.is_anonymous and add_bookmark %}
        {% set save_form_id = save_form_id_prefix + project.uuid_b58 %}
        <div class="card__body__bookmark card__body__bookmark--pushup">{{ saveprojectform(project, formid=save_form_id) }}</div>
      {% endif %}
    </div>
    {% endif %}
    <div class="card__image-wrapper {% if not project.bg_image.url %}card__image-wrapper--default{% endif %}">
      {% if project.bg_image.url %}
        <img class="card__image js-lazyload-img" data-src="{{ project.bg_image.resize(img_size.card_banner) }}" alt="{{ project.title }}"/>
        <noscript>
          <img class="card__image" src="{{ project.bg_image.resize(img_size.card_banner) }}" alt="{{ project.title }}"/>
        </noscript>
      {% else %}
        <img class="card__image" src="{{ url_for('static', filename='img/default-banner.png') }}" alt="{{ project.title }}"/>
        <p class="card__image__tagline mui--text-body2">{{ project.title }}</p>
      {% endif %}
    </div>
    {%- if include_calendar and (project.start_at is not none and project.calendar_weeks_full.weeks and project.calendar_weeks_full.weeks|length > 0) or include_details %}
      <div class="card__body">
        {%- if include_calendar %}
          {% if calendarwidget_compact and project.start_at and project.calendar_weeks_compact.weeks and project.calendar_weeks_compact.weeks|length > 0 %}
            <div aria-label="{{ project.datelocation }}">
              {{ calendarwidget(project.calendar_weeks_compact) }}
            </div>
          {% elif project.start_at and project.calendar_weeks_full.weeks and project.calendar_weeks_full.weeks|length > 0 %}
            <div aria-label="{{ project.datelocation }}">
              {{ calendarwidget(project.calendar_weeks_full, compact=false) }}
            </div>
          {% endif %}
          {%- if include_details %}
            <h3 class="card__body__title mui--text-subhead {% if not project.start_at %} card__body__subtitle {% endif %}"><span class="text-bold">{{ project.title_inline }}</span> <span class="mui--text-light js-truncate" data-truncate-lines="2">{{ project.tagline }}</span></h3>
          {% endif %}
        {% elif include_details %}
          <h3 class="card__body__subtitle mui--text-subhead text-bold">{{ project.title }}</h3>
          <p class="mui--text-caption mui--text-light js-truncate" data-truncate-lines="2">{{ project.tagline }}</p>
          {% if project.cfp_state.OPEN and project.cfp_end_at_localized %}
            <hr class="separator" />
            <p class="mui--text-caption zero-bottom-margin secondary-color-txt">{% trans date=project.cfp_end_at_localized|datetime(format='dd MMM YYYY, hh:mm a') %}Accepting submissions till {{ date }}{% endtrans %}</p>
          {% endif %}
        {% endif %}
        {%- if snippet_html %}
          <p class="mui--text-body2 mui--text-light zero-top-margin search-snippets">{{ faicon(icon='search', css_class="search-icon", baseline=false) }} {{ snippet_html }}</p>
        {% endif %}
        <div class="flex-wrapper flex-wrapper--end flex-wrapper--space-between flex-wrapper--wrap top-padding">
          {%- if include_details %}
            <div class="card__body__location mui--text-light">{% if project.primary_venue %}{{ faicon(icon='map-marker-alt', icon_size='caption', baseline=false) }} {% if project.primary_venue.city %}{{ project.primary_venue.city }}{% else %}{{ project.primary_venue.title }}{% endif %}{% elif project.location %}{{ faicon(icon='map-marker-alt', icon_size='caption', baseline=false) }} {{ project.location }}{% endif %}</div>
          {% endif %}
          {% if project.features.ticket_participant() %}
            <span class="chip chip--bg-success text-bold margin-top">{{ faicon(icon='crown-solid', baseline=true, css_class="mui--text-success fa-icon--right-margin") }}Member</span>
          {% elif project.features.tickets() %}
            <span class="chip text-bold margin-top">{{ faicon(icon='crown-solid', baseline=true, css_class="fa-icon--right-margin") }}Member access</span>
          {% endif %}
        </div>
      </div>
    {% endif %}
  </a>
{% endmacro %}

{% macro page_footer() %}
  <footer class="sub-navbar-container sub-navbar-container--footer bg-accent">
    <nav class="sub-navbar mui-container" id="page-navbar">
      <a class="sub-navbar__item mui--text-subhead mui--text-dark {% if path == 'index' %}sub-navbar__item--active{%- endif %}" href="{{ url_for('about') }}">{% trans %}About Hasgeek{% endtrans %}</a>
      <a class="sub-navbar__item mui--text-subhead mui--text-dark" href="{{ url_for('profile', profile='hasgeek') }}">{% trans %}Team &amp; careers{% endtrans %}</a>
      <a class="sub-navbar__item mui--text-subhead mui--text-dark {% if path == 'contact' %}sub-navbar__item--active{%- endif %}" href="{{ url_for('contact') }}">{% trans %}Contact{% endtrans %}</a>
      <a class="sub-navbar__item mui--text-subhead mui--text-dark {% if path == 'policy' %}sub-navbar__item--active{%- endif %}" href="{{ url_for('policy') }}">{% trans %}Site policies{% endtrans %}</a>
    </nav>
  </footer>
{% endmacro %}

{% macro video_thumbnail(session, project_heading=false) %}
  <div class="video">
    <a class="video__thumbnail {%- if not (session.views.video.thumbnail or session.banner_image_url.url) %} video__thumnail--novideo {%- endif %}" href="{%- if session.proposal %}{{ session.proposal.url_for() }}{%- else %}{{ session.url_for() }}{%- endif %}" data-ga="view session video">
      {%- if session.views.video.thumbnail %}
        <img src="{{ session.views.video.thumbnail }}" class="video__thumbnail__img img-responsive" data-cy="thumbnail" alt="{{ session.title }}"/>
        <div class="video__thumbnail__icon">{{ faicon(icon='play', icon_size='headline', baseline=false) }}</div>
      {%- elif session.banner_image_url.url %}
        <img src="{{ session.banner_image_url }}" class="video__thumbnail__img img-responsive" data-cy="thumbnail" alt="{{ session.title }}"/>
      {%- endif %}
    </a>
    {%- if project_heading %}
      <p class="mui--text-title text-bold video__txt" data-cy="project-title">{{ session.project.title }}</p>
    {%- endif %}
    <p class="mui--text-subhead text-bold video__txt" data-cy="title">{{ session.title }}</p>
    {%- if session.speaker %}<p class="mui--text-body2 mui--text-light video__txt">{{ session.speaker }}</p>{%- endif %}
    {%- if session.views.video %}
      <div class="mui--text-caption mui--text-light">
        {%- if session.views.video.duration %}<span>{{ session.views.video.duration|timedelta }}</span>{%- endif %}
        {%- if session.views.video.uploaded_at %}<span class="mui--pull-right">{{ session.views.video.uploaded_at|longdate }}</span>{%- endif %}
      </div>
    {%- else %}
    <div class="mui--text-caption mui--text-light">
      {%- if session.start_at_localized %}<span>{{ session.start_at_localized|date }}</span>{%- endif %}
    </div>
    {%- endif %}
  </div>
{% endmacro %}

{%- macro proposal_list(proposals, project='', css_class="", spa=false) %}
  <table id="submissions-table" class="proposal-list-table mui-table">
    <tbody>
      {%- with reorderable=project and project.features.reorder_proposals() %}
      {% for proposal in proposals %}
        <tr id="{{ proposal.uuid_b58 }}" {%- if reorderable %}class="sortable" data-drag-placeholder="proposal-placeholder" draggable="true"{%- endif %}>
          <td class="js-searchable zero-padding {%- if reorderable %} drag-box drag-box--no-border ui-draggable-box{%- endif %}">
            {%- if project and reorderable %}
              {{ proposal_card(proposal, full_width=true, details=true, css_class=css_class, project=project, draggable=true, spa=spa) }}
            {%- else %}
              {{ proposal_card(proposal, full_width=true, details=true, css_class=css_class, project=project, draggable=false, spa=spa) }}
            {%- endif %}
          </td>
        </tr>
      {% else %}
        <tr>
          <td class="left-padding"><p><em>{% trans %}(No sessions have been submitted){% endtrans %}</em></p></td>
        </tr>
      {% endfor %}
      {%- endwith %}
    </tbody>
  </table>
{%- endmacro %}

{%- macro useravatar(user, css_class="", add_profile_link=true, size='medium') %}
  {% if size == 'big' %}
    {%- set imgsize = 160 %}
  {%- elif size == 'medium' %}
    {%- set imgsize = 80 %}
  {%- else %}
    {%- set imgsize = 48 %}
  {% endif %}
  {% if user.profile_url and add_profile_link %}<a href="{{ user.profile_url }}" class="nounderline">{% endif %}
  {% if user.avatar %}
    <img class="user__box__gravatar {% if css_class %}{{ css_class }}{% endif %}" src="{{ user.avatar.resize(imgsize) }}" alt="{{ user.title }}"/>
  {%- elif user.title %}
    <div class="user__box__gravatar user__box__gravatar--initials {% if css_class %}{{ css_class }}{% endif %}" role="img" aria-label="{{ user.title }}" data-avatar-colour="{{ user.views and user.views.avatar_color_code or '' }}">{{ user.title|initials }}</div>
  {% endif %}
  {% if user.profile_url and add_profile_link %}</a>{% endif %}
{%- endmacro %}

{%- macro list_sponsors(sponsors) %}
  <div class="mui--clearfix margin-top">
    <div class="mui--pull-right">
      <p class="mui--text-subhead mui--text-light zero-bottom-margin">{% trans %}Supported by{% endtrans %}</p>
      {% for sponsor in sponsors %}
        {%- with sponsor_public = sponsor.profile.state.PUBLIC %}
        {% if sponsor.label %}
          <p class="mui--text-body2 mui--text-light zero-bottom-margin">{{ sponsor.label }}</p>
        {% endif %}
        <div class="flex-wrapper flex-wrapper--center">
          <div class="user user--smaller">
            <div class="user__box">
              <a {% if sponsor_public %}href="{{ sponsor.profile.url_for() }}"{% endif %} class="nounderline">
                {%- if sponsor.profile.logo_url.url %}
                  <img class="user__box__gravatar" src="{{ sponsor.profile.logo_url.resize(img_size.profile_logo_small) }}" alt="{{ sponsor.profile.title }}"/>
                {%- else %}
                  <div class="user__box__gravatar user__box__gravatar--initials" data-avatar-colour="{{ sponsor.profile.views.avatar_color_code }}">{{ sponsor.profile.title|initials }}</div>
                {% endif %}
              </a>
            </div>
          </div>
          <a {% if sponsor_public %}href="{{ sponsor.profile.url_for() }}"{% endif %} class="mui--text-dark mui--text-subhead text-bold nounderline" data-cy="profile-link">{{ sponsor.profile.title }}</a>
        </div>
        {%- endwith %}
      {%- endfor %}
    </div>
  </div>
{%- endmacro %}

{%- macro proposal_card(proposal, full_width=false, details=false, css_class="", project='', draggable=false, spa=false, show_sponsor=true) %}
  <div class="card {%- if not full_width %} card--shaped{%- endif -%} {%- if css_class %} {{ css_class }}{%- endif -%}">
    <div class="card__body proposal-card">
      <div class="proposal-card__body">
        <div {% if draggable %}class="drag-box__header"{%- endif %}>
          {% if not project %}
            <p class="mui--text-title margin-bottom">{{ proposal.project.title }}</p>
          {%- else -%}
            <div class="flex-wrapper flex-wrapper--wrap">
            {%- for member in proposal.memberships %}{% if not member.is_uncredited %}
              <div class="user user--smaller right-padding">
                <div class="user__box">
                  {{ useravatar(member.user, add_profile_link=true, size='small') }}
                  <div class="user__box__header">
                    <p class="mui--text-caption user__box__fullname">{{ member.user.fullname }} {%- if member.label %} <span class="badge">{{ member.label }}</span>{% endif %}</p>
                  </div>
                </div>
              </div>
            {%- endif %}{% endfor %}
            </div>
          {%- endif %}
          {% if draggable %}
            {{ faicon(icon='grip-vertical', baseline=false, css_class="drag-handle") }}
          {%- endif %}
        </div>
        <div class="proposal-card__body__inner {%- if full_width and proposal.views.video and proposal.views.video.thumbnail %} proposal-card__body__inner--flex {%- endif -%}">
          {% if proposal.views.video and proposal.views.video.thumbnail %}
            <div class="proposal-card__body__inner__details">
              <div class="proposal-card__body__inner__details__video">
                <div class="proposal-card__body__inner__details__video__thumbnail"><img src="{{ proposal.views.video.thumbnail }}" alt="{% trans %}Video thumbnail{% endtrans %}"/></div>
                <div class="proposal-card__body__inner__details__video__thumbnail__icon">{{ faicon(icon='play', icon_size='headline', baseline=false) }}</div>
              </div>
            </div>
          {%- endif -%}
          <div class="proposal-card__body__inner__headline">
            <h3 class="mui--text-title text-bold zero-top-margin" data-cy="proposal-card"><a class="nounderline mui--text-dark {% if spa %}js-spa-navigate{%- endif -%}" href="{{ proposal.url_for() }}" data-cy-proposal="{{ proposal.title }}">{{ proposal.title }}</a></h3>
            {% if proposal.body.html %}
              <div class="proposal-card__body__inner__headline__content mui--text-light">{{ proposal.body.html|preview(max=400) }} <a class="nounderline {% if spa %}js-spa-navigate{%- endif -%}" href="{{ proposal.url_for() }}"><span class="chip">{% trans %}more{% endtrans %} {{ faicon(icon='caret-right-solid', baseline=false, css_class="mui--align-middle") }}</span></a></div>
            {%- endif -%}
            {% if details %}
              <div class="proposal-card__body__inner__headline__info">
                <ul class="mui-list--inline mui--text-light mui--text-body2 zero-bottom-margin list-item-rgborder">
                  {%- if project and proposal.project.title != project.title %}
                    <li>{{ proposal.project.short_title }}</li>
                  {% endif %}
                  {%- if proposal.commentset %}
                    <li>{% trans
                        tcount=proposal.commentset.count,
                        count=proposal.commentset.count|numberformat
                        %}{{ count }} comment{% pluralize tcount %}{{ count }} comments{% endtrans %}</li>
                  {% endif %}
                  <li>
                    {{ proposal.state.label.title }}
                  </li>
                  <li class="no-border">{{ proposal.datetime|datetime(format='dd MMM YYYY') }}</li>
                  {% if proposal.session and proposal.session.views.video or proposal.views.video %}
                    <li class="no-border" data-toggle="tooltip" data-placement="top" title="{% trans %}This proposal has a preview video{% endtrans %}" aria-label="{% trans %}This proposal has a preview video{% endtrans %}">
                      {{ faicon(icon='video', icon_size='subhead', baseline=true, css_class="proposal-card__body__inner__headline__info__icon") }}
                    </li>
                  {% endif %}
                </ul>
                <div class="margin-top">
                  {%- for label in proposal.labels %}
                    {% if not label.restricted %}
                      <span class="label text-bold">{% if label.icon_emoji %}{{ label.icon_emoji }} {% endif %}{% if label.main_label %}{{ label.main_label.title }}: {% endif %}{{ label.title }}</span>
                    {%- endif %}
                  {%- endfor %}
                  {%- if proposal.current_roles.project_editor %}
                    {%- for label in proposal.labels %}
                      {%- if label.restricted %}
                        <span class="label text-bold">{% if label.icon_emoji %}{{ label.icon_emoji }} {% endif %}{% if label.main_label %}{{ label.main_label.title }}: {% endif %}{{ label.title }}</span>
                      {%- endif %}
                    {%- endfor %}
                  {% endif %}
                </div>
              </div>
            {%- else -%}
              <div class="proposal-card__body__inner__headline__info">
                <p class="mui--text-light mui--text-body2 margin-bottom">{{ proposal.datetime|datetime(format='dd MMM YYYY') }}</p>
              </div>
            {%- endif -%}
          </div>
        </div>
      </div>
      {%- if show_sponsor and proposal.has_sponsors %}
        {{ list_sponsors(proposal.sponsor_memberships) }}
      {% endif %}
    </div>
  </div>
{%- endmacro %}

{%- macro open_submission(project, showEditBtn=true) %}
  <div class="flex-wrapper flex-wrapper--space-between flex-wrapper--center margin-top bottom-padding">
    <div>
      <div class="js-cfp-status {% if not project.cfp_state.OPEN -%} mui--hide {%- endif %}">
        <p class="mui--text-subhead text-bold zero-bottom-margin" data-cy="cfp-state">
          {% if project.cfp_end_at_localized -%}
            {% if project.view_for('cfp').is_available() and showEditBtn %}<a href="{{ project.url_for('cfp') }}" class="mui--text-dark">{%- endif %}{% trans date=project.cfp_end_at_localized|datetime(format='dd MMM YYYY, hh:mm a') %}Accepting submissions till {{ date }}{% endtrans %}{% if project.view_for('cfp').is_available() and showEditBtn %}</a>{%- endif %}
          {% else %}
            {% trans %}Accepting submissions{% endtrans %}
          {%- endif %}
        </p>
      </div>
      <div class="js-cfp-status {% if project.cfp_state.OPEN -%} mui--hide {%- endif %}">
        <p class="mui--text-subhead text-bold zero-bottom-margin">{% trans %}Not accepting submissions{% endtrans %}</p>
      </div>
    </div>
    {%- if project.view_for('cfp').is_available() %}
      <div class="flex-wrapper flex-wrapper--center">
        <form action="{{ project.url_for('cfp_transition') }}" method="post" class="display-inlineblock mui--align-top right-padding">
          {{ csrf_tag() }}
          <input type="checkbox" name="open" id="open-sub" class="switch-input js-toggle" {%- if project.cfp_state.OPEN %}checked{%- endif %}/>
          <label class="switch-label mui--pull-right" for="open-sub"></label>
        </form>
        <span data-toggle="tooltip" data-placement="top" title="{% trans %}Toggle to enable/disable submissions{% endtrans %}" aria-label="{% trans %}Open to receive submissions{% endtrans %}">{{ faicon(icon='info-circle', baseline=true) }}</span>
      </div>
    {%- endif %}
</div>
{%- endmacro %}

{%- macro add_submission_btn(project) %}
  {%- if project.state.PUBLISHED %}
    <div class="project-details__box__content--lesspadding propose js-cfp-status {% if not project.cfp_state.OPEN -%} mui--hide {%- endif %}">
      <a class="mui-btn mui-btn--accent mui-btn--raised display-block" href="{{ project.url_for('new_proposal') }}" data-cy="propose-a-session">{% trans %}Make a submission{% endtrans %}</a>
      {% if project.cfp_end_at_localized -%}<p class="mui--text-body2 mui--text-light">{% trans date=project.cfp_end_at_localized|datetime(format='dd MMM YYYY, hh:mm a') %}Accepting submissions till {{ date }}{% endtrans %}</p>{% endif %}
    </div>
  {%- endif %}
{%- endmacro %}

{% macro profilecard(profile, snippet_html) %}
  <div class="card profile-card">
    <div class="card__body">
      <div>
        <span class="profile-avatar profile-avatar--bigger margin-auto">
          {%- if profile.logo_url.url %}
            <img src="{{ profile.logo_url.resize(img_size.profile_logo_small) }}"
                 alt="{{ profile.title }}"/>
          {% else %}
            <img src="{{ url_for('static', filename='img/default-profile-logo.png') }}"
                 alt="{{ profile.title }}"/>
          {% endif %}
        </span>
      </div>
      <h3 class="mui--text-subhead text-bold top-padding margin-bottom mui--text-center">{{ profile.title }}</h3>
      <div class="markdown js-truncate mui--text-center mui--text-caption mui--text-light bottom-padding" data-truncate-lines="3">{{ profile.tagline or profile.description }}</div>
      {%- if snippet_html %}
        <p class="mui--text-body2 mui--text-light zero-top-margin search-snippets">{{ faicon(icon='search', css_class="search-icon", baseline=false) }} {{ snippet_html }}</p>
      {% endif %}
      <div class="profile-card__btn-wrapper">
        <p class=" mui--text-center mui--text-caption mui--text-light top-padding margin-bottom">{% trans tcount=profile.published_project_count, count=profile.published_project_count|numberformat %}One project{% pluralize tcount %}{{ count }} projects{% endtrans %}</p>
        <a class="mui-btn mui-btn--primary mui-btn--raised full-width-btn" href="{{ profile.url_for() }} ">{% trans %}Explore{% endtrans %}</a>
      </div>
    </div>
  </div>
{% endmacro %}
