{% from "baseframe/forms.html.jinja2" import renderform %}
{% macro rsvpform(project, form) %}{% with counts=project.rsvp_counts() %}
  <form id="rsvp-form" action="{{ project.url_for('rsvp') }}" method="POST">
    {{ form.hidden_tag() }}
    <p class="no-jshidden">
      {%- for value, class_, title in [('Y', 'primary', "Going"), ('M', 'accent', "Maybe"), ('N', 'dark', "Not going")] %}
        <button type="submit" name="status" value="{{ value }}" class="mui-btn mui-btn--small mui-btn--raised mui-btn--{{ class_ }}" data-action="{{ title }}">{{ title }} {%- if counts[value] %}&nbsp;<span class="badge">{{ counts[value] }}</span>{% endif %}{%- if form.status.data == value %}&nbsp;<i class="material-icons mui--text-caption">check</i>{% endif %}</button>
      {%- endfor %}
      &nbsp;<span class="loading mui--hide"><i class="material-icons mui--align-middle mui--text-dark-secondary">refresh</i></span>
    </p>
  </form>
{% endwith %}{% endmacro %}

{% macro project_header(project, page_btns, current_page='project') %}
  <div class="mui-container headline">
    <div class="grid">
      <div class="grid__col-md-12 mui--hidden-xs mui--hidden-sm mui--hidden-md">
        <div class="desktop-head">
          {%- if project.profile.logo_url.url %}
            <div class="profile-details">
              <a href="{{project.profile.url_for()}}"><img class="profile-details__logo" src="{{ project.profile.logo_url }}" alt="{{ project.profile.title }}"/></a>
              <a class="mui--text-subhead mui--text-dark profile-details__title" href="{{project.profile.url_for()}}">by {{ project.profile.title|e }}</a>
            </div>
          {% endif %}
          <div class="mui--pull-left project-details">
            <h1 class="mui--text-display2 mui--text-bold">{{ project.title|e }}</h1>
            <p class="mui--text-title mui--text-light">{{ project.tagline|safe }}</p>
            {%- if not project.profile.logo_url.url %}<p class="mui--text-subhead profile-details__title">by {{ project.profile.title|e }}</p>{% endif %}
          </div>
        </div>
      </div>
      {% if project.banner_video_url.url or project.bg_image.url %}
      <div class="grid__col-md-7 grid__col-lg-8 project-banner">
        <div class="project-banner__box">
          {% if project.banner_video_url.url %}
            <div class="project-banner__box__video">
              {{ project.banner_video_url|safe }}
            </div>
          {%- elif project.bg_image.url %}
            <img class="project-banner__box__image" src="{{ project.bg_image }}" alt="{{ project.title }}"/>
          {% endif %}
        </div>
      </div>
      {% endif %}
      <div class="grid__col-xs-12 mui--visible-xs-block mui--visible-sm-block mui--visible-md-block xs-sm-padding">
        <h1 class="mui--text-display1 mui--text-bold">{{ project.title|e }}</h1>
        <p class="mui--text-headline">{{ project.tagline|safe }}</p>
        <div class="profile-details">
          {%- if project.profile.logo_url.url %}<a href="{{project.profile.url_for()}}"><img class="profile-details__logo" src="{{ project.profile.logo_url }}" alt="{{ project.profile.title }}"/></a>{% endif %}<a class="mui--text-subhead mui--text-dark" href="{{project.profile.url_for()}}">by {{ project.profile.title|e }}</a>
        </div>
      </div>
      <div class="grid__col-xs-12{% if project.banner_video_url.url or project.bg_image.url %} grid__col-md-5 grid__col-lg-4{% else %} date-wrapper--small {% endif %} date-wrapper xs-sm-padding">
        {%- if project.datelocation %}
        <div>
          <div class="date-icon">
            <i class="material-icons mui--text-display1 mui--text-light">date_range</i>
          </div>
          <div class="date-details">
            <p class="mui--text-subhead zero-bottom-margin date-details__label">Date</p>
            <p class="mui--text-title mui--text-light">{{ project.datelocation }}</p>
          </div>
        </div>
        {%- endif %}
        {%- if project.primary_venue %}
          <div>
            <div class="date-icon">
              <i class="material-icons mui--text-display1 mui--text-light">place</i>
            </div>
            <div class="date-details">
              <p class="mui--text-subhead zero-bottom-margin date-details__label">Venue</p>
              <p class="mui--text-title mui--text-light">{{ project.primary_venue.title }}</p>
            </div>
          </div>
        {%- endif %}
        <div class="project-btn-wrapper">
          {# Todo: Pass list of btns to be rendered #}
          {{ page_btns|safe }}
        </div>
      </div>
    </div>
  </div>
  <div class="sub-navbar-container sub-navbar-container--sticky mui--bg-accent">
    <nav class="sub-navbar mui-container" id="page-navbar">
      <a class="sub-navbar__item mui--text-subhead mui--text-light {% if current_page == 'project' %}js-smooth-scroll js-samepage{%- endif %}" href="{%- if current_page != 'project' -%}{{ project.url_for() }}{%- endif %}#about" title="About" data-action="About(navbar)">About</a>
      {%- if project.featured_sessions %}
        <a class="sub-navbar__item mui--text-subhead mui--text-light {% if current_page == 'project' %}js-smooth-scroll js-samepage{%- endif %}" href="{%- if current_page != 'project' -%}{{ project.url_for() }}{%- endif %}#talks" title="Talks" data-action="Talks(navbar)">Talks</a>
      {%- endif %}
      {%- if project.boxoffice_data and project.boxoffice_data.item_collection_id -%}
        <a class="sub-navbar__item mui--text-subhead mui--text-light {% if current_page == 'project' %}js-smooth-scroll js-samepage{%- endif %}" href="{%- if current_page != 'project' -%}{{ project.url_for() }}{%- endif %}#participate" title="Participate" data-action="Participate(navbar)">Participate</a>
      {%- elif project.buy_tickets_url.url %}
        <a class="sub-navbar__item mui--text-subhead mui--text-light" href="{{ project.buy_tickets_url }}" title="Participate" data-action="Participate(navbar)">Participate</a>
      {%- elif project.allow_rsvp %}
        <a class="sub-navbar__item mui--text-subhead mui--text-light {% if current_page == 'project' %}js-smooth-scroll js-samepage{%- endif %}" href="{%- if current_page != 'project' -%}{{ project.url_for() }}{%- endif %}#participate" title="Participate" data-action="Participate(navbar)">Participate</a>
      {%- endif %}
      {%- if project.hasjob_embed_url.url -%}
        <a class="sub-navbar__item mui--text-subhead mui--text-light {% if current_page == 'project' %}js-smooth-scroll js-samepage{%- endif %}" href="{%- if current_page != 'project' -%}{{ project.url_for() }}{%- endif %}#related-jobs" title="Jobs" data-action="Jobs(navbar)">Jobs</a>
      {%- endif %}
      {%- if project.primary_venue -%}
        <a class="sub-navbar__item mui--text-subhead mui--text-light {% if current_page == 'project' %}js-smooth-scroll js-samepage{%- endif %}" href="{%- if current_page != 'project' -%}{{ project.url_for() }}{%- endif %}#venue" title="Venue" data-action="Venue(navbar)">Venue</a>
      {%- endif %}
      {%- if project.current_roles.admin or not project.cfp_state.NONE -%}
        <a class="sub-navbar__item mui--text-subhead mui--text-light {% if current_page == 'proposals' %}js-smooth-scroll js-samepage{%- endif %}" href="{%- if current_page != 'proposals' -%}{{ project.url_for('view_proposals') }}{%- endif %}#call-for-proposal" title="Proposals" data-action="Proposals(navbar)">Proposals</a>
      {%- endif %}
      {%- if project.current_roles.admin or project.schedule_state.PUBLISHED %}
        <a class="sub-navbar__item mui--text-subhead mui--text-light {% if current_page == 'schedule' %}js-smooth-scroll js-samepage{%- endif %}" href="{%- if current_page != 'schedule' -%}{{ project.url_for('schedule') }}{%- else %}#schedule{%- endif %}" title="Schedule" data-action="Schedule(navbar)">Schedule</a>
      {%- endif %}
    </nav>
  </div>
{% endmacro %}

{% macro admin_panel(project, transition_form=none, schedule_transition_form=none, cfp_transition_form=none) %}
  <div class="sticky-admin-panel">
    <div class="card">
      <div class="card__header">
        <h3 class="mui--text-title mui--text-uppercase mui--text-bold">{% trans %}Admin panel{% endtrans %}</h3>
      </div>
      <div class="card__body">
        {%- if project.current_roles.admin %}
          {%- if transition_form %}
            <div>
              <p class="mui--text-body2 mui--text-light zero-bottom-margin mui--text-uppercase">Status</p>
              <p class="mui--text-subhead">{{ project.state.label.title }}</p>
              <form action="{{ project.url_for('transition') }}" method="post" class="form-inline">
                {{ transition_form.hidden_tag() }}
                <p class="btn-group">
                  {% for name, transition in transition_form.transition.choices %}
                    <button name="transition" value="{{ name }}" class="transition mui-btn mui-btn--small mui-btn--raised {% if transition.data['type'] == 'success' %} mui-btn--primary {% elif transition.data['type'] == 'danger' %}  mui-btn--danger {%- endif %}" title="{{ transition.data['title'] }}">{{ transition.data['title'] }}</button>
                  {% endfor %}
                </p>
              </form>
            </div>
            <hr class="mui-divider">
          {%- endif %}
          {%- if schedule_transition_form %}
            <div>
              <p class="mui--text-body2 mui--text-light zero-bottom-margin mui--text-uppercase">{% trans %}Schedule status{% endtrans %}</p>
              <p class="mui--text-subhead">{{ project.schedule_state.label.title }}</p>
              <form action="{{ project.url_for('schedule_transition') }}" method="post" class="form-inline">
                {{ schedule_transition_form.hidden_tag() }}
                <p class="btn-group">
                  {% for name, transition in schedule_transition_form.schedule_transition.choices %}
                    <button name="schedule_transition" value="{{ name }}" class="transition mui-btn mui-btn--small mui-btn--raised {% if transition.data['type'] == 'success' %} mui-btn--primary {% elif transition.data['type'] == 'danger' %}  mui-btn--danger {%- endif %}" title="{{ transition.data['title'] }}">{{ transition.data['title'] }}</button>
                  {% endfor %}
                </p>
              </form>
            </div>
            <hr class="mui-divider">
          {%- endif %}
          {%- if cfp_transition_form %}
            <div>
              <p class="mui--text-body2 mui--text-light zero-bottom-margin mui--text-uppercase">{% trans %}CfP status{% endtrans %}</p>
              <p class="mui--text-subhead">{{ project.cfp_state.label.title }}</p>
              <form action="{{ project.url_for('cfp_transition') }}" method="post" class="form-inline">
                {{ cfp_transition_form.hidden_tag() }}
                <p class="btn-group">
                  {% for name, transition in cfp_transition_form.cfp_transition.choices %}
                    <button name="cfp_transition" value="{{ name }}" class="transition mui-btn mui-btn--small mui-btn--raised {% if transition.data['type'] == 'success' %} mui-btn--primary {% elif transition.data['type'] == 'danger' %}  mui-btn--danger {%- endif %}" title="{{ transition.data['title'] }}">{{ transition.data['title'] }}</button>
                  {% endfor %}
                </p>
              </form>
            </div>
            <hr class="mui-divider">
          {%- endif %}
          <div>
            <ol class="mui-list--aligned">
              <li>
                <a href="{{ project.url_for('edit') }}" title="Edit details">{% trans %}Edit details{% endtrans %}</a>
              </li>
              {% if project.cfp_state.NONE -%}
                <li>
                  <a href="{{ project.url_for('cfp') }}" title="Add a CfP">{% trans %}Add a CfP{% endtrans %}</a>
                </li>
              {% else -%}
                <li>
                  <a href="{{ project.url_for('cfp') }}" title="Modify the CfP">{% trans %}Modify the CfP{% endtrans %}</a>
                </li>
              {%- endif %}
              <li>
                <a href="{{ project.url_for('edit_schedule') }}" title="Edit schedule">{% trans %}Edit schedule{% endtrans %}</a>
              </li>
              <li>
                <a href="{{ project.url_for('labels') }}" title="Manage labels">{% trans %}Manage labels{% endtrans %}</a>
              </li>
              <li>
                <a href="{{ project.url_for('venues') }}" title="Manage venues">{% trans %}Manage venues{% endtrans %}</a>
              </li>
              <li>
                <a href="{{ project.url_for('admin') }}" title="Setup events for check-in">{% trans %}Setup events for check-in{% endtrans %}</a>
              </li>
              <li>
                <a href="{{ project.url_for('events') }}" title="Scan badges to check-in">{% trans %}Scan badges to check-in{% endtrans %}</a>
              </li>
              <li>
                <a href="{{ url_for('contact_exchange') }}" title="Scan badges to check-in">{% trans %}Scan contact{% endtrans %}</a>
              </li>
            </ol>
          </div>
          <hr class="mui-divider">
          <div>
            <p class="mui--text-body2 mui--text-light zero-bottom-margin mui--text-uppercase">Downloads</p>
            <p class="btn-group">
              <a href="{{ project.url_for('csv') }}" class="mui-btn mui-btn--small mui-btn--raised mui-btn--dark" target="_blank" title="CSV"><i class="material-icons mui--text-subhead mui--align-top">save_alt</i> {% trans %}CSV{% endtrans %}</a>
              <a href="{{ project.url_for('json') }}" class="mui-btn mui-btn--small mui-btn--raised mui-btn--dark" target="_blank" title="JSON"><i class="material-icons mui--text-subhead mui--align-top">save_alt</i> {% trans %}JSON{% endtrans %}</a>
              <a href="{{ project.url_for('schedule_json') }}" class="mui-btn mui-btn--small mui-btn--raised mui-btn--dark" target="_blank" title="Schedule JSON"><i class="material-icons mui--text-subhead mui--align-top">save_alt</i> {% trans %}Schedule JSON{% endtrans %}</a>
            </p>
          </div>
        {% elif current_auth.permissions.checkin_event %}
          <div>
            <ol>
              <li>
                <a href="{{ project.url_for('admin') }}" title="Manual check-in">{% trans %}Manual check-in{% endtrans %}</a>
              </li>
              <li>
                <a href="{{ project.url_for('events') }}" title="Scan badges to check-in">{% trans %}Scan badges to check-in{% endtrans %}</a>
              </li>
            </ol>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endmacro %}
