{% extends "layout.html.jinja2" %}
{%- from "macros.html.jinja2" import faicon, account_tabs, projectcard, calendarwidget %}

{% block title %}{% trans %}My account{% endtrans %}{% endblock %}

{% block bodyattrs %}class="mui--bg-primary tabs-navbar"{% endblock %}

{% block headline -%}
  <div class="tabs-wrapper tabs-wrapper--sticky">
    <div class="mui-container">
      {{ account_tabs(active_tab='meeting_credentials') }}
    </div>
  </div>
{%- endblock %}


{% block basecontent %}
<div class="meetingForm" style=" margin-top:30px">
{# {% if credentials is none %} #}
  <form action="{{url_for('meeting_credentials')}}" method="POST" style="text-align:center;">
    <label for="provider">Provider:</label>
    <select name="provider" id="cars">
        <option value="Zoom" name="zoom">Zoom</option>
        <option value="Google Meet" name="google_meet">Google Meet</option>
    </select><br><br>
    <label for="access_key">Access Key:</label>
    <input type="text" id="access_key" name="access_key"><br><br>
    <label for="secret_key">Secret Key:</label>
    <input type="text" id="secret_key" name="secret_key"><br><br>
    <input type="submit" value="Submit">
</form>


<div class="card" style="margin : 30px 150px 10px 150px">
  <div class="card__header">
    <h3 class="mui--text-title mui--text-bold">{% trans %}Credentials{% endtrans %}</h3>
  </div>
  <div class="card__body">
    <table class="meeting-credentials-table mui-table">
      <tr>
        <th>Provider</th>
        <th>Access Key</th>
        <th>Secret Key</th>
        <th>Date Created</th>
      </tr>
      {%- for i in credentials %}
        {% if i.is_deleted is false %}
          <tr>
            <td>{{ i.provider }}</td>
            <td>{{ i.access_key }}</td>
            <td>{{ i.secret_key }}</td>
            <td>{{ i.date_created }}</td>
            <td>
              {% if i.is_active is false %}
                <form action="{{ url_for('toggle_meeting_credentials') }}" method="POST" id="{{ i.id }}"><button type="toggle" name="activate" value="{{ i.id }}" title="{% trans %}Activate{% endtrans %}" class="mui-btn mui-btn--small mui-btn--flat mui-btn--nostyle">Activate</button></form>
                  {% elif i.is_active is true %}
                    <form action="{{ url_for('toggle_meeting_credentials') }}" method="POST" id="{{ i.id }}"><button type="toggle" name="activate" value="{{ i.id }}" title="{% trans %}Disable{% endtrans %}" class="mui-btn mui-btn--small mui-btn--flat mui-btn--nostyle" style="background-color:green; color:white; padding:5px">Disable</button></form>
                  {% endif %}
              <form action="{{ url_for('delete_meeting_credentials') }}" method="POST" id="">&nbsp;<button type="submit" name="delete" value="{{ i.id }}" title="{% trans %}Delete{% endtrans %}" class="mui-btn mui-btn--small mui-btn--flat mui-btn--nostyle">{{ faicon(icon='trash-alt', icon_size='subhead', baseline=false, css_class='mui--align-middle mui--text-hyperlink') }}</button></form>
            </td>
          </tr>

        {% endif %}
      {%- endfor %}
    </table>
  </div>
</div>


{% endblock %}

{% block footerscripts %}
  <script src="{{ built_asset('index.js') }}" type="text/javascript"></script>
  <script type="text/javascript">
    $(function() {
      var homeConfig = {
        past_projects_json_url: "{{ url_for('past_projects_json') }}"
      }
      window.Hasgeek.homeInit(homeConfig);
    });
    if ('serviceWorker' in navigator) {
      caches.keys().then(function(cacheNames) {
        cacheNames.forEach(function(cacheName) {
          if(cacheName === 'routes' || cacheName.includes('workbox-precache')) {
            caches.delete(cacheName);
          }
        });
      });
    }
  </script>
{% endblock %}