{% extends "layout.html.jinja2" %}
{% set title_suffix = project.title %}
{%- from "macros.html.jinja2" import project_header %}
{% from "baseframe/forms.html.jinja2" import renderfield %}
{% block title %}{% trans %}Manage membership{% endtrans %}{% endblock %}

{% block contenthead %}{% endblock %}

{% block baseheadline %}
  <div class="mui--hidden-md mui--hidden-lg mui--hidden-xl">
    <div class="mobile-nav mui--z1">
      <a href="{{ project.url_for() }}" aria-label="{% trans %}Back to the project{% endtrans %}" class="mui--text-dark mui--text-headline"><i class="material-icons mui--align-middle mobile-nav__prev" aria-hidden="true">arrow_back</i></a> <span class="mui--text-dark mui--text-headline">{% trans %}Manage membership{% endtrans %}</span>
    </div>
  </div>
  {{ project_header(project, project_save_form,
    class='mui--hidden-xs mui--hidden-sm',
    current_page='schedule') }}
{% endblock %}

{% block basecontent %}
  <div class="mui-container">
  <div class="page-content page-content--mob-nav">
    <div class="grid" id="membership">
      <div class="grid__col-xs-12">
        <div id="manage-membership">
          <membership></membership>
        </div>
        {% raw %}
          <script type="text/x-template" id="admin-membership-template">
            <div class="grid">
              <div class="grid__col-xs-12">
                <a class="clickable-card card card--new mui--z2" title="New label" @click="addNewMember($event)">
                  <div class="card__body mui--text-center">
                    <p class="mui--text-headline mui--text-light mui--text-center zero-bottom-margin"><i class="material-icons mui--align-middle mui--text-display1" aria-hidden="true">add</i> Add a member</p>
                  </div>
                </a>
              </div>
              <div class="grid__col-xs-12">
                <h2 class="mui--text-headline" v-if="members">Members</h2>
              </div>
              <div class="grid__col-xs-12" v-for="member in members">
                <div class="details-box details-box--flex">
                    <h3 class="mui--text-title zero-top-margin zero-bottom-margin details-box__item">{{ member.title }}</h3>
                    <ul class="mui-list--inline mui--text-title mui--text-light zero-bottom-margin list-item-rgborder">
                      <li>Editor</li>
                      <li>Concierge</li>
                      <li>Usher</li>
                    </ul>
                    <div>
                      <a :href="member.edit_url" title="Edit" aria-label="Edit"><i class="material-icons mui--align-middle mui--text-title mui--text-light" aria-hidden="true">edit</i></a>
                      <a :href="member.delete_url" title="Delete" aria-label="Delete"><i class="material-icons mui--align-middle mui--text-title mui--text-light" aria-hidden="true">delete</i></a>
                    </div>
                  </div>
                </div>
              <div id="new-member-form" class="session-modal" v-html="newMemberForm">
              </div>
            </div>
          </script>
        {% endraw %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footerscripts %}
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script type="text/javascript">
    $(function() {

      const Membership = {
        init({divElem, scriptTemplate, newMemberUrl, members}) {
          let MembershipComponent = Vue.component('membership', {
            template: scriptTemplate,
            data: function () {
              return {
                newMemberUrl: newMemberUrl,
                members: members,
                newMemberForm: ''
              }
            },
            methods: {
              addNewMember(event) {
                event.preventDefault();
                let app = this;
                if(app.newMemberForm) {
                  $('#new-member-form').modal('show');
                } else {
                  $.ajax({
                    type: 'GET',
                    url: app.newMemberUrl,
                    timeout: window.HasGeek.config.ajaxTimeout,
                    dataType: 'json',
                    success: function(data) {
                      app.newMemberForm = data.form;
                      $('#new-member-form').modal('show');
                    }
                  });
                }
              },
            },
            mounted() {
            },
          });

          let MembershipApp = new Vue({
            components: {
              MembershipComponent
            },
          });
          MembershipApp.$mount(divElem);
        },
      }

      window.HasGeek.Membership = function (config) {
        Membership.init(config);
      }

      var membershipConfig = {
        newMemberUrl: "{{ project.url_for('new_member') }}",
        members: {{ labels|tojson }},
        divElem: "#manage-membership",
        scriptTemplate: '#admin-membership-template',
        parentContainer: '#membership',
      };

      HasGeek.Membership(membershipConfig);

      // $(() => {
      //   window.HasGeek.Membership = function (config) {
      //     Membership.init(config);
      //   }
      // });

    });
  </script>
{% endblock %}
