{% extends "layout.html.jinja2" %}
{% set title_suffix = project.title %}
{%- from "macros.html.jinja2" import project_header %}
{% from "baseframe/forms.html.jinja2" import renderfield %}
{% block title %}{% trans %}Manage membership{% endtrans %}{% endblock %}

{% block contenthead %}{% endblock %}

{% block baseheadline %}
  <div class="mui--hidden-md mui--hidden-lg mui--hidden-xl">
    <div class="mobile-nav mui--z1">
      <a href="{{ project.url_for() }}" aria-label="{% trans %}Back to the project{% endtrans %}" class="mui--text-dark mui--text-headline"><i class="material-icons mui--align-middle mobile-nav__prev" aria-hidden="true">arrow_back</i></a> <span class="mui--text-dark mui--text-headline">{% trans %}Manage membership{% endtrans %}</span>
    </div>
  </div>
  {{ project_header(project, project_save_form,
    class='mui--hidden-xs mui--hidden-sm',
    current_page='schedule') }}
{% endblock %}

{% block basecontent %}
  <div class="mui-container">
  <div class="page-content page-content--mob-nav">
    <div class="grid" id="membership">
      <div class="grid__col-xs-12">
        {% raw %}
        <div id="manage-membership">
          <a class="clickable-card card card--new mui--z2" title="New label" @click="fetchForm($event, newMemberUrl)">
            <div class="card__body mui--text-center">
              <p class="mui--text-headline mui--text-light mui--text-center zero-bottom-margin"><i class="material-icons mui--align-middle mui--text-display1" aria-hidden="true">add</i> Add a member</p>
            </div>
          </a>
<!--           <h2 class="mui--text-headline mui--text-center" v-if="members">Members</h2> -->
          <div class="details-box details-box--flex details-box--small" v-for="membership in memberships">
            <h3 class="mui--text-title zero-top-margin zero-bottom-margin details-box__item">{{ membership.user_fullname }}</h3>
            <ul class="mui-list--inline mui--text-title mui--text-light zero-bottom-margin list-item-rgborder">
              <li v-if="membership.is_editor">Editor</li>
              <li v-if="membership.is_concierge">Concierge</li>
              <li v-if="membership.is_ucher">Usher</li>
            </ul>
            <div>
              <a href="javascript:void(0)" @click="fetchForm($event, membership.edit_url)" title="Edit" aria-label="Edit"><i class="material-icons mui--align-middle mui--text-title mui--text-light" aria-hidden="true">edit</i></a>
              <a :href="membership.delete_url" title="Delete" aria-label="Delete"><i class="material-icons mui--align-middle mui--text-title mui--text-light" aria-hidden="true">delete</i></a>
            </div>
          </div>
          <div id="member-form" class="modal">
            <component :is="Form"></component>
          </div>
        {% endraw %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footerscripts %}
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-script2@2.1.0/dist/vue-script2.min.js"></script>
  <script type="text/javascript">
    $(function() {

      const Membership = {
        init({divElem, scriptTemplate, newMemberUrl, memberships}) {
          Vue.use(VueScript2);
          let MembershipComponent = new Vue({
            el: divElem,
            data: function () {
              return {
                newMemberUrl: newMemberUrl,
                memberships: memberships,
                memberForm: '',
              }
            },
            methods: {
              fetchForm(event, url) {
                console.log('url', url);
                event.preventDefault();
                let app = this;
                $.ajax({
                  type: 'GET',
                  url: app.newMemberUrl,
                  timeout: window.HasGeek.config.ajaxTimeout,
                  dataType: 'json',
                  success: function(data) {
                    let vueFormHtml = data.form
                    app.memberForm = vueFormHtml.replace(/\bscript\b/g, 'script2');
                    $('#member-form').modal('show');
                  }
                });
              },
            },
            computed: {
              Form() {
                const template = this.memberForm ? this.memberForm : '<div></div>';
                return {
                  template
                };
              },
            },
            mounted() {
            },
          });
        },
      }

      window.HasGeek.Membership = function (config) {
        Membership.init(config);
      }

      var membershipConfig = {
        newMemberUrl: "{{ project.url_for('new_member') }}",
        memberships: {{ memberships|tojson }},
        divElem: "#manage-membership",
        scriptTemplate: '#admin-membership-template',
        parentContainer: '#membership',
      };

      HasGeek.Membership(membershipConfig);

      // $(() => {
      //   window.HasGeek.Membership = function (config) {
      //     Membership.init(config);
      //   }
      // });

    });
  </script>
{% endblock %}
