{% extends "layout.html.jinja2" %}
{% block title %}{{ title }}{% endblock title %}

{% block pageheaders %}
  <link rel="stylesheet" type="text/css" href="{{ built_asset('css/account.scss') }}" />
{% endblock pageheaders %}


{% block contentwrapper -%}
  <div class="grid">
    <div class="grid__col-xs-12 grid__col-sm-7 grid__col-md-8 grid__col-lg-9">
      {{ message }}
    </div>
  </div>
{%- endblock contentwrapper %}


{% block footerscripts %}
{% endblock footerscripts %}
