{% extends "layout.html.jinja2" %}
{% from "baseframe/mui/forms.html.jinja2" import rendersubmit, ajaxform %}
{% from "baseframe/components.html.jinja2" import faicon %}

{% block title %}{% trans %}Updates{% endtrans %}{% endblock %}

{% block top_title %}
  <h1 class="mui--text-display1">
    {{ faicon(icon='bell', icon_size='headline')  }} {{ self.title()|e }}
  </h1>
{% endblock %}

{% block basecontent %}
  <div class="mui-container tab-content">
    <div class="grid">
      <div class="grid__col-xs-12">
        <ul class="mui-list--unstyled">
          {% for notification in notifications %}
            {{ notification.html|safe }}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

{% block footerscripts %}
  <script type="text/javascript">
    $(function() {
    });
  </script>
{% endblock %}
