{% extends "layout.html.jinja2" %}
{% from "baseframe/mui/forms.html.jinja2" import rendersubmit, ajaxform %}
{% from "baseframe/components.html.jinja2" import faicon %}

{% block title %}{% trans %}Updates{% endtrans %}{% endblock %}

{% block top_title %}
  <h1 class="mui--text-display1">{{ self.title()|e }}</h1>
{% endblock %}

{% block basecontent %}
  <div class="mui-container tab-content">
    <div class="grid">

      {%- if show_transport_alert %}
        <div class="grid__col-xs-12">
          <div class="alert alert--info">
            <p class="alert__text">
              <a href="{{ url_for('add_phone') }}">
                {{ faicon(icon='exclamation-circle') }}
                {% trans %}To receive timely notifications by SMS, add a phone number.{% endtrans %}
                {{ faicon(icon='arrow-right') }}
              </a>
            </p>
          </div>
        </div>
      {% endif -%}

      {% raw %}
      <div class="grid__col-xs-12" id="notifications" v-cloak>
        <ul class="mui-list--unstyled">
          <li class="update update--small" v-for="(notification, index) in notifications" :class="[!notification.notification.is_read ? 'update--unread' : 'update--read']" data-visible-time='' :ref="'notification-'+index" :data-index='index'>
            <div v-html=notification.html></div>
          </li>
        </ul>
        <p class="js-lazy-loader loading" v-if="next_num"></p>
      </div>
      {% endraw %}
    </div>
  </div>
{% endblock %}

{% block footerscripts %}
  <script src="{{ url_for('static', filename=asset_path('notification_list')) }}" type="text/javascript"></script>
  <script type="text/javascript">
    $(function() {
      var notificationConfig = {
        markReadUrl: {{ url_for('notification_mark_read', eventid_b58='eventid_b58')|tojson }},
        divElem: '#notifications',
      };

      window.Hasgeek.Notification(notificationConfig);
    });
  </script>
{% endblock %}
