{% extends "layout.html.jinja2" %}
{% from "baseframe/mui/forms.html.jinja2" import rendersubmit, ajaxform %}
{% from "baseframe/components.html.jinja2" import faicon %}
{%- from "macros.html.jinja2" import account_tabs, useravatar %}

{% block title %}{% trans %}My account{% endtrans %}{% endblock %}

{% block bodytag %}
  {%- if not config['LEGACY'] -%}
    <body class="mui--bg-primary hg-app tabs-navbar">
  {%- else %}
    <body class="mui--bg-primary">
  {%- endif %}
{% endblock %}

{% block headline -%}
  <div class="tabs-wrapper tabs-wrapper--sticky">
    <div class="mui-container">
      <div class="grid">
        <div class="grid__col-12">
          {{ account_tabs(active_tab='notification_preferences') }}
        </div>
      </div>
    </div>
  </div>
{%- endblock %}

{% block basecontent %}
  <div class="mui-container tab-content">
    <div class="grid">
      <div class="grid__col-xs-12">
        {% for preference in preferences %}
          {{ preference }}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}

{% block footerscripts %}

{% endblock %}
