{% extends "layout.html.jinja2" %}
{% from "forms.html.jinja2" import rendersubmit %}
{%- from "macros.html.jinja2" import faicon, account_tabs, csrf_tag, useravatar %}

{% block title %}{% trans %}My account{% endtrans %}{% endblock %}

{%- block pageheaders %}
  <link rel="stylesheet" type="text/css" href="{{ built_asset('css/account.scss') }}" />
{%- endblock %}

{% block bodyattrs %}class="mui--bg-primary tabs-navbar"{% endblock %}

{% block headline -%}
  <div class="tabs-wrapper tabs-wrapper--sticky">
    <div class="mui-container">
      {{ account_tabs(active_tab='notification_preferences') }}
    </div>
  </div>
{%- endblock %}

{% block basecontent %}
  <div class="mui-container tab-content">
    <div class="grid">
      <div class="grid__col-xs-12">
        <ul class="mui-tabs__bar mui-tabs__bar--pills mui-tabs__bar--pills--wraps mui--text-capitalize" role="tablist">
          {% for transport in transports %}
            <li role="presentation" {%- if loop.first %} class="mui--is-active"{% endif %}>
              <a class="mui--text-body2" href="javascript:void(0);" role="tab" data-mui-toggle="tab" data-mui-controls="pane-justified-{{ transport }}">{{ transport_details[transport]['title'] }}</a>
            </li>
          {%- endfor %}
        </ul>
        {% for transport in transports %}
          <div role="tabpanel" class="preference mui-tabs__pane {%- if loop.first %} mui--is-active{% endif %}" id="pane-justified-{{ transport }}">
            <div class="preference__switch mui--clearfix">
              {% if transport_details[transport]['available'] %}
                <form method="POST" class="js-autosubmit-form right-padding">
                  {{ csrf_tag() }}
                  <input type="hidden" name="notification_type" value="">
                  <input type="hidden" name="transport" value="{{ transport }}">
                  <input type="checkbox" name="enabled" {%- if main_preferences[transport] %}checked{%- endif %} id="{{ transport }}" class="switch-input js-toggle-switch"/>
                  <label class="switch-label mui--pull-right" for="{{ transport }}">
                  </label>
                </form>
                <p class="preference__switch__txt zero-bottom-margin mui--clearfix">{{ transport_details[transport]['switch'] }}</p>
              {% else %}
                <p class="preference__switch__txt preference__switch__txt--noswitch">
                  {%- if transport_details[transport]['action'] -%}
                    <a href="{{ transport_details[transport]['action'] }}">{{ transport_details[transport]['requirement'] }} {{ faicon('arrow-right') }}</a>
                  {%- else %}
                    {{ transport_details[transport]['requirement'] }}
                  {%- endif -%}
                </p>
              {% endif %}
            </div>
            {% for key, preference in preferences.items() %}
              <div class="card">
                <div class="card__header">
                   <p class="mui--text-subhead mui--text-bold zero-bottom-margin">{{ preference.title }}</p>
                </div>
                <div class="card__body">
                  {% for type in preference.types %}
                    <div class="mui--clearfix">
                      <div class="mui--pull-left preference__title">
                        <p class="preference__title__header">{{ type.title }}</p>
                        <p class="preference__title__subheader mui--text-light">{{ type.description }}</p>
                      </div>
                      <form method="POST" class="js-autosubmit-form">
                        {{ csrf_tag() }}
                        <input type="hidden" name="notification_type" value="{{ type.notification_type }}">
                        <input type="hidden" name="transport" value="{{ transport }}">
                        <input type="checkbox" name="enabled" {%- if type.preferences[transport] %}checked{%- endif %} id="{{ type.notification_type }}-{{ transport }}" class="switch-input js-toggle-switch" data-transport="preference-{{ transport }}"/>
                        <label class="switch-label mui--pull-right {%- if not main_preferences[transport] %} switch-label--disabled{%- endif %}" for="{{ type.notification_type }}-{{ transport }}" data-transport="preference-{{ transport }}">
                        </label>
                      </form>
                    </div>
                  {% else %}
                    <p class="mui--pull-left">{% trans %}No notifications in this category{% endtrans %}</p>
                  {%- endfor -%}
                </div>
              </div>
            {%- endfor -%}
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
{% endblock %}

{% block footerscripts %}
  <script src="{{ built_asset('notification_settings.js') }}" type="text/javascript"></script>
  <script type="text/javascript">
    $(function() {
      var config = {
        url: {{ url_for('set_notification_preference')|tojson }},
      }
      window.Hasgeek.notificationSettings(config);
    });
  </script>
{% endblock %}
