{% extends "layout.html.jinja2" %}
{% from "baseframe/mui/forms.html.jinja2" import rendersubmit, ajaxform %}
{% from "baseframe/components.html.jinja2" import faicon %}
{%- from "macros.html.jinja2" import account_tabs, useravatar %}

{% block title %}{% trans %}My account{% endtrans %}{% endblock %}

{% block bodytag %}
  {%- if not config['LEGACY'] -%}
    <body class="mui--bg-primary hg-app tabs-navbar">
  {%- else %}
    <body class="mui--bg-primary">
  {%- endif %}
{% endblock %}

{% block headline -%}
  <div class="tabs-wrapper tabs-wrapper--sticky">
    <div class="mui-container">
      <div class="grid">
        <div class="grid__col-12">
          {{ account_tabs(active_tab='notification_preferences') }}
        </div>
      </div>
    </div>
  </div>
{%- endblock %}

{% block basecontent %}
  <div class="mui-container tab-content">
    <div class="grid">
      <div class="grid__col-xs-12">
        <p class="mui--text-subhead mui--text-bold">{% trans %}Manage notifications{% endtrans %}</p>
        <ul class="mui-tabs__bar mui-tabs__bar--pills" role="tablist">
          {% for transport in transports %}
            <li role="presentation" {%- if loop.first %} class="mui--is-active"{% endif %}>
              <a href="javascript:void(0);" role="tab" data-mui-toggle="tab" data-mui-controls="pane-justified-{{ transport }}">{{ transport_details[transport]['title'] }}</a>
            </li>
          {%- endfor %}
        </ul>
        {% for transport in transports %}
          <div role="tabpanel" class="preference mui-tabs__pane {%- if loop.first %} mui--is-active{% endif %}" id="pane-justified-{{ transport }}">
            <div class="preference__switch">
              {% if transport_details[transport]['available'] %}
                <p class="mui--d-inlineblock right-padding">{{ transport_details[transport]['switch'] }}</p>
                <form method="POST" class="js-autosubmit-form mui--d-inlineblock">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                  <input type="hidden" name="notification_type" value="" />
                  <input type="hidden" name="transport" value="{{ transport }}" />
                  <label class="switch" for="{{ transport }}">
                    <input type="checkbox" name="enabled" {%- if main_preferences[transport] %}checked{%- endif %} id="{{ transport }}" class="js-toggle-switch"/>
                    <div class="slider round"></div>
                  </label>
                </form>
              {% else %}
                <p class="mui--d-inlineblock right-padding">{{ transport_details[transport]['requirement'] }}</p>
              {% endif %}
            </div>
            {% for key, preference in preferences.items() %}
              <div class="card">
                <div class="card__header">
                   <p class="mui--text-subhead mui--text-bold zero-bottom-margin">{{ preference.title }}</p>
                </div>
                <div class="card__body">
                  {% for type in preference.types %}
                    <div class="mui--clearfix top-padding bottom-padding ">
                      <p class="mui--pull-left zero-bottom-margin">{{ type.description }}</p>
                      <form method="POST" class="js-autosubmit-form">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                        <input type="hidden" name="notification_type" value="{{ type.notification_type }}" />
                        <input type="hidden" name="transport" value="{{ transport }}" />
                        <label class="switch mui--pull-right" for="{{ type.notification_type }}-{{ transport }}">
                          <input type="checkbox" name="enabled" {%- if type.preferences[transport] %}checked{%- endif %} id="{{ type.notification_type }}-{{ transport }}" class="js-toggle-switch"/>
                          <div class="slider round"></div>
                        </label>
                      </form>
                    </div>
                  {% else %}
                    <p class="mui--pull-left">{% trans %}{% endtrans %}</p>
                  {%- endfor -%}
                </div>
              </div>
            {%- endfor -%}
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
{% endblock %}

{% block footerscripts %}
  <script type="text/javascript">
    $(function() {
      $('.js-toggle-switch').on('change', function() {
        var checkbox = $(this);
        $.ajax({
          type: 'POST',
          url: {{ url_for('set_notification_preference')|tojson }},
          data: $(this).parents('.js-autosubmit-form').serializeArray(),
          dataType: 'json',
          timeout: 15000,
          success: function (responseData) {
            // Success messages are noisy, so don't show in UI.
            // window.toastr.success(responseData.message);
            console.log(responseData.message);
          },
          error: function (response) {
            var errorMsg = '';
            if (response.readyState === 4) {
              if (response.status === 500) {
                errorMsg = {{ gettext('The server experienced an error processing this request, and the maintenance team has been notified. Please try again in a while.')|tojson }};
              } else {
                errorMsg = JSON.parse(response.responseText).error_description;
              }
            } else {
              errorMsg = {{ gettext('Unable to connect. Please check the internet connection and try again.')|tojson }};
            }
            window.toastr.error(errorMsg);
          },
        });
      });
    });
  </script>
{% endblock %}
