{% extends "layout.html.jinja2" %}
{% block title %}{% trans %}Offline{% endtrans %}{% endblock %}

{% block contenthead %}{% endblock %}

{% block basecontent %}
  <div class="page-content">
    <div class="grid">
      <div class="grid__col-xs-12">
        <p class="mui--text-title mui--text-center">{% trans %}This page cannot be loaded at the moment. You may be offline, or your ad blocker may be blocking this page.{% endtrans %}</p>
      </div>
    </div>
  </div>
{% endblock %}

{% block layoutscripts %}
{% endblock %}
