{% extends "layout.html.jinja2" %}
{% block title %}Offline{% endblock %}

{% block banner %}
  <div class="mui-container hg-banner">
    <div class="grid">
      <div class="grid__col-auto logo-wrapper mui--hidden-xs">
        <img src="{{ url_for('static', filename='img/hg-logo.png') }}" alt="HasGeek logo" class="hg-logo" />
      </div>
      <div class="grid__col-auto">
        <p class="mui--text-display1">
          <span class="s1">Hello!</span>
          <span class="s2">HasGeek hosts discussion spaces for geeks.</span>
          <span class="s3">Join us to meet like-minded people,</span>
          <span class="s1">learn new things</span>
          <span class="s2">and discover new opportunities.</span>
        </p>
      </div>
      <div class="grid__col-xs-12"><hr class="mui-divider"></div>
    </div>
  </div>
{% endblock %}

{% block headline %}
{% endblock %}

{% block basecontent %}
  <div class="page-content">
    <div class="grid">
      <div class="grid__col-xs-12">
        <p class="mui--text-title">You are offline and this page is not available on your device</p>
      </div>
    </div>
  </div>
{% endblock %}
