{% extends "layout.html.jinja2" %}
{% block title %}Offline{% endblock %}

{% block contenthead %}{% endblock %}

{% block baseheadline %}
  <div class="grid hg-banner">
    <div class="grid__col-12">
      <h1 class="headline">{% trans %}Discussion spaces for geeks{% endtrans %}</h1>
      <p class="mui--text-title mui--text-light">{% trans %}Meet like-minded people, learn new things and discover new opportunities{% endtrans %}</p>
      <div class="mui-divider mui-divider--banner"></div>
    </div>
  </div>
{% endblock %}

{% block basecontent %}
  <div class="page-content">
    <div class="grid">
      <div class="grid__col-xs-12">
        <p class="mui--text-title">{% trans %}You are offline and this page is not available on your device{% endtrans %}</p>
      </div>
    </div>
  </div>
{% endblock %}
