<?xml version="1.0" encoding="UTF-8"?>
<OpenSearchDescription xmlns="http://a9.com/-/spec/opensearch/1.1/">
  <ShortName>{% trans %}Hasgeek{% endtrans %}</ShortName>
  <Description>{% trans %}Search Hasgeek for projects, discussions and more{% endtrans %}</Description>
  <Url type="text/html" method="get"
       template="{{ url_for('search', _external=true) }}?q={searchTerms}"/>
  <Developer>{% trans %}Hasgeek{% endtrans %}</Developer>
  <Language>{{ get_locale() }}</Language>
  <OutputEncoding>UTF-8</OutputEncoding>
  <InputEncoding>UTF-8</InputEncoding>
</OpenSearchDescription>
