{% extends "layout.html.jinja2" %}
{% block title %}{{ profile.title }}{% endblock %}
{% from "baseframe/components.html.jinja2" import faicon %}
{%- from "macros.html.jinja2" import profile_header, membership_template %}

{% block bodytag %}
  {%- if not config['LEGACY'] -%}
    <body class="mui--bg-primary hg-app">
  {%- else %}
    <body class="mui--bg-primary">
  {%- endif %}
{% endblock %}

{% block contenthead %}{% endblock %}

{% block baseheadline %}
  <div class="mui--hidden-md mui--hidden-lg mui--hidden-xl">
    <div class="mobile-nav mui--z1">
      <a href="{{profile.url_for() }}" aria-label="{% trans %}Back to the profile{% endtrans %}" class="mui--text-dark mobile-nav__icon" data-action="Back to the {{ profile.title }}(schedule page)">{{ faicon(icon='arrow-left', icon_size='title') }}</a><span class="mui--text-dark mobile-nav__headline">{% trans %}Admins{% endtrans %}</span>
    </div>
  </div>
  {{ profile_header(profile, class='mui--hidden-xs mui--hidden-sm', current_page='admins') }}
{% endblock %}

{% block basecontent %}
  <div class="mui-container">
    <div class="page-content page-content--mob-nav">
      <div class="grid" id="crew">
        <div class="grid__col-xs-12">
          {{ membership_template() }}
        </div>
      </div>
    </div>
  </div>
  {% raw %}
    <script type="text/x-template" id="member-template">
      <div class="user__box mui--clearfix">
        <useravatar :user='member.user' :addprofilelink=true></useravatar>
        <div class="mui--d-inlineblock">
        <h3 class="mui--text-body2 user__box__fullname" data-cy="member">{{ member.user.fullname }}</h3>
        <h3 v-if="member.user.username" class="mui--text-caption user__box__userid"><span>@{{ member.user.username }}</span></h3>
        </div>
        <ul class="mui-list--inline mui--text-subhead zero-bottom-margin membership-wrapper__members__list__roles">
          <li v-if="member.is_owner" class="membership-wrapper__members__list__roles__role mui--text-body2" data-cy="role">Owner</li>
          <li v-else class="membership-wrapper__members__list__roles__role mui--text-body2" data-cy="role">Admin</li>
        </ul>
      </div>
    </script>
  {% endraw %}
{% endblock %}

{% block footerscripts %}
  <script src="{{ url_for('static', filename=asset_path('membership')) }}" type="text/javascript"></script>
  <script type="text/javascript">
    $(function() {

      var membershipConfig = {
        newMemberUrl: "{{ profile.url_for('new_member') }}",
        members: {{ memberships|tojson }},
        roles: [
          {
            roleKey: 'is_owner',
            roleName: 'Owner',
            showMembers: false,
          },
        ],
        divElem: "#manage-membership",
        memberTemplate: '#member-template',
        isUserProfileAdmin: {%- if profile.current_roles.owner %} true {% else %} false {%- endif %},
      };

      Hasgeek.Membership(membershipConfig);

    });
  </script>
{% endblock %}
