{% extends "layout.html.jinja2" %}
{% block title %}{{ profile.title }}{% endblock %}
{%- from "macros.html.jinja2" import faicon, profile_header %}
{%- from "js/membership.js.jinja2" import membership_template, profile_member_template %}

{% block pageheaders %}
  <link rel="stylesheet" type="text/css" href="{{ built_asset('css/profile.scss') }}" />
  <link rel="stylesheet" type="text/css" href="{{ built_asset('css/membership.scss') }}" />
{% endblock %}

{% block bodyattrs %}class="mui--bg-primary no-sticky-header mobile-header"{% endblock %}

{% block contenthead %}{% endblock %}

{% block baseheadline %}
  <div class="mui--hidden-md mui--hidden-lg mui--hidden-xl  mobile-nav-wrapper">
    <div class="mobile-nav mui--z1">
      <a href="{{profile.url_for() }}" aria-label="{% trans %}Back to the profile{% endtrans %}" class="mui--text-dark mobile-nav__icon" data-ga="Back to the project page">{{ faicon(icon='arrow-left', icon_size='title') }}</a><span class="mui--text-dark mobile-nav__headline">{% trans %}Admins{% endtrans %}</span>
    </div>
  </div>
  {{ profile_header(profile, class='mui--hidden-xs mui--hidden-sm', current_page='admins') }}
{% endblock %}

{% block basecontent %}
  <div class="mui--bg-accent top-padding">
    <div class="mui-container">
      <div class="page-content">
        <div class="grid" id="crew">
          <div class="grid__col-xs-12">
            {{ membership_template() }}
          </div>
        </div>
      </div>
    </div>
    {{ profile_member_template () }}
  </div>
{% endblock %}

{% block footerscripts %}
  <script src="{{ built_asset('membership.js') }}" type="text/javascript"></script>
  <script type="text/javascript">
    $(function() {

      var membershipConfig = {
        newMemberUrl: "{{ profile.url_for('new_member') }}",
        members: {{ memberships|tojson }},
        roles: [
          {
            roleKey: 'is_owner',
            roleName: 'Owner',
            showMembers: false,
          },
        ],
        divElem: "#manage-membership",
        memberTemplate: '#member-template',
        isUserProfileAdmin: {%- if profile.current_roles.owner %} true {% else %} false {%- endif %},
      };

      Hasgeek.membershipInit(membershipConfig);

    });
  </script>
{% endblock %}
