{% extends "ajaxform.html.jinja2" %}
{% from "forms.html.jinja2" import renderform, renderform_inner %}

{% block form %}
  <form data-parsley-validate="true" id="{{ ref_id }}" method="post" hx-post="{{ action }}" {%- if multipart %} enctype="multipart/form-data" {%- endif %} accept-charset="UTF-8" class="mui-form mui-form--margins hg-form" hx-target="#loginformwrapper">
    {{ renderform_inner(form, formid) }}
    <div class="mui-form form-actions mui--clearfix{% if css_class %} {{ css_class }}{% endif %}">
      <div>
        <button type="submit" name="{{ submit|e }}" class="mui-btn mui-btn--raised mui-btn--primary" data-testid="form-submit-btn">{{ submit }}</button>
        <a href="{{ cancel_url }}" class="mui-btn mui-btn--raised" data-testid="form-cancel-btn">{% trans %}Cancel{% endtrans %}</a>
        <span class="loading mui--hide">&nbsp;</span>
        {% if form.csrf_token and form.csrf_token.errors -%}
          <div>
            <p class="mui-form__error">{% trans -%}This form has timed out. Please submit again to confirm{%- endtrans %}</p>
          </div>
        {%- endif %}
      </div>
    </div>
  </form>
{% endblock form %}
