{% extends "layout.html" %}
{% from "macros.html" import rsvpform, rsvpscript %}
{% block title %}{{ space.title }}{% endblock %}
{% block headline %}
  <div class="page-header">
    {#<h3><a href="{{ space.profile.url_for() }}">{{ space.profile.title }}</a> &nbsp;<i class="fa fa-angle-right"></i></h3>#}
    <h1>{{ space.title }}</h1>
  </div>
{% endblock %}

{% block content %}
  <h2>Participants</h2>
  Participant Count: {{participants|length}}
  <a href="participants/new" class='btn btn-primary'>New Participant</a>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Company</th>
        <th>Twitter</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for p in participants %}
        <tr>
          <td>{{p.fullname}}</td>
          <td>{{p.email}}</td>
          <td>{{p.company}}</td>
          <td>{{p.twitter}}</td>
          <td>
            <a href="participant/{{p.id}}/badge" class='btn btn-default' target="_blank">Show badge</a>
            <a href="participant/{{p.id}}/edit" class='btn btn-info'>Edit</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
{% block footerscripts %}
{% endblock %}
