{% from "forms.html.jinja2" import renderfield, rendersubmit, recaptcha %}

{% macro passwordlogin(loginform, formid, ref_id, action) %}
  <form data-parsley-validate="true"
        id="{{ ref_id }}"
        method="post"
        class="mui-form mui-form--margins"
        accept-charset="UTF-8"
        action="{{ action }}">
    <input type="hidden" name="form.id" value="{{ formid }}"/>
    {{ loginform.hidden_tag() }}
    {% if loginform.csrf_token is defined %}
      {% if loginform.csrf_token.errors %}
        {% for error in loginform.csrf_token.errors %}<div class="error">{{ error }}</div>{% endfor %}
      {% endif %}
    {% endif %}
    {{ renderfield(loginform.username, css_class="js-field-username", tabindex="1", autofocus=false) }}
    {% if loginform.password.errors %}
      <p class="mui--text-caption js-fields-toggle password-field-sidetext">
        <a class="link nounderline js-toggle-login">{% trans %}Use OTP{% endtrans %}</a>
      </p>
      <p class="mui--text-caption js-fields-toggle password-field-sidetext mui--hide">
        <a class="link nounderline js-toggle-login" data-cy="password-login">{% trans %}Have a password?{% endtrans %}</a>
      </p>
      {{ renderfield(loginform.password, css_class="password-field js-fields-toggle js-password-field", tabindex="2") }}
      <p class="mui--text-caption js-fields-toggle password-field-sidetext">
        <a href="{{ url_for('reset') }}">{% trans %}Forgot password?{% endtrans %}</a>
      </p>
    {% else %}
      <p class="mui--text-caption js-fields-toggle password-field-sidetext">
        <a class="link nounderline js-toggle-login" id="use-password-login" data-cy="password-login">{% trans %}Have a password?{% endtrans %}</a>
      </p>
      <p class="mui--text-caption js-fields-toggle password-field-sidetext mui--hide">
        <a class="link nounderline js-toggle-login" id="use-otp-login">{% trans %}Use OTP{% endtrans %}</a>
      </p>
      {{ renderfield(loginform.password, css_class="password-field js-fields-toggle js-password-field mui--hide", tabindex="2") }}
      <p class="mui--text-caption js-fields-toggle mui--hide password-field-sidetext">
        <a href="{{ url_for('reset') }}">{% trans %}Forgot password?{% endtrans %}</a>
      </p>
    {% endif %}
    <div class="g-recaptcha"
         data-sitekey="{{ config['RECAPTCHA_PUBLIC_KEY'] }}"
         data-callback="onInvisibleRecaptchaSubmit"
         data-size="invisible">
    </div>
    <div class="form-actions clearfix js-fields-toggle{% if loginform.password.errors %} mui--hide{% endif %}">
      <button type="submit"
              class="mui-btn mui-btn--raised mui-btn--primary display-block"
              tabindex="3"
              data-cy="form-submit-btn" id="get-otp-btn">
        Get OTP
      </button>
    </div>
    <div class="form-actions clearfix js-fields-toggle{% if not loginform.password.errors %} mui--hide{% endif %}">
      <button type="submit"
              class="mui-btn mui-btn--raised mui-btn--primary display-block"
              tabindex="3"
              data-cy="form-submit-btn" id="login-btn">
        Login
      </button>
    </div>
    <p class="mui--text-caption">
      {% trans terms_url=url_for('policy', path='policy/terms'), privacy_path=url_for('policy', path='policy/privacy') %}By signing in, you agree to Hasgeek’s <a href="{{ terms_url }}" target="_blank" rel="noopener">terms of service</a> and <a href="{{ privacy_path }}" target="_blank" rel="noopener">privacy policy</a>{% endtrans %}
    </p>
  </form>
{% endmacro %}

{% macro sociallogin(login_registry) %}
    <div class="flex-wrapper flex-wrapper--baseline flex-wrapper--space-between social-login-wrapper">
      {% for provider_name, provider in login_registry.at_login_items() %}
        <a class="profile-avatar profile-avatar--bigger--padding profile-avatar--nomargin login login-{{ provider_name }}"
           href="{{ url_for('login_service', service=provider_name) }}"
           data-ga="login using {{ provider_name }}"
           aria-label="{% trans title=provider.title %}Login using {{ title }}{% endtrans %}">
          <img src="{{ url_for('static', filename='img/' + provider_name + '.svg') }}"
               alt="{{ provider.title }}"
               aria-hidden="true"/>
        </a>
      {% endfor %}
    </div>
  {% endmacro %}
