{% from "forms.html.jinja2" import renderfield, rendersubmit %}

{% macro passwordlogin(loginform, ref_id, markup) %}
  <form data-parsley-validate="true" id="{{ ref_id }}" method="POST" class="mui-form mui-form--margins" accept-charset="UTF-8">
    <input type="hidden" name="form.id" value="passwordlogin"/>
    {{ loginform.hidden_tag() }}
    {% if loginform.csrf_token is defined %}
      {% if loginform.csrf_token.errors %}
        {% for error in loginform.csrf_token.errors %}<div class="error">{{ error }}</div>{% endfor %}
      {% endif %}
    {% endif %}
    {{ renderfield(loginform.username, css_class='js-field-username', tabindex='1', autofocus=false) }}
    <p class="mui--text-caption js-fields-toggle password-field-sidetext"><a class="link nounderline js-toggle-login">{% trans %}Use password{% endtrans %}</a></p>
    <p class="mui--text-caption js-fields-toggle mui--hide password-field-sidetext"><a class="link nounderline js-toggle-login">{% trans %}Use OTP{% endtrans %}</a></p>
    {{ renderfield(loginform.password, css_class='password-field js-fields-toggle js-password-field mui--hide', tabindex='2') }}
    <p class="mui--text-caption js-fields-toggle mui--hide password-field-sidetext"><a href="{{ url_for('reset') }}">{% trans %}Forgot password?{% endtrans %}</a></p>
    <div class="mui-form form-actions clearfix js-fields-toggle">
      <button type="submit" class="mui-btn mui-btn--raised mui-btn--primary" tabindex="3" data-cy="form-submit-btn">Get OTP</button>
    </div>
    <div class="mui-form form-actions clearfix js-fields-toggle mui--hide">
      <button type="submit" class="mui-btn mui-btn--raised mui-btn--primary" tabindex="3" data-cy="form-submit-btn">Login</button>
    </div>
    <p class="mui--text-caption">{% trans %}By signing in, you agree to Hasgeek’s <a href="/about/policy/terms" target="_blank" rel="noopener">terms of service</a> and <a href="/about/policy/privacy" target="_blank" rel="noopener">privacy policy</a>{% endtrans %}</p>
  </form>
{% endmacro %}
