{% extends "layout.html.jinja2" %}
{% block title %}{{ page.title }}{% endblock %}
{%- from "macros.html.jinja2" import page_footer %}

{% block top_title %}
  <h1 class="mui--text-headline"><strong>{{ self.title() }}</strong></h1>
{% endblock %}

{% block pageheaders %}
  <link rel="stylesheet" type="text/css" href="{{ built_asset('css/about.scss') }}" />
{% endblock %}

{% block contentwrapper -%}
  <div class="grid">
    <div class="grid__col-xs-12 grid__col-sm-5 grid__col-md-4 grid__col-lg-3">
      <div class="sticky-admin-panel">
        <div class="card">
          <div class="card__header">
            <h3 class="mui--text-title">{% trans %}Site policies{% endtrans %}</h3>
          </div>
          <div class="card__body">
            <ul class="mui-list--aligned mui-list--unstyled">
              {%- for page in index %}
                <li><p><a href="/about/{{ page.path }}">{{ page.title }}</a></p></li>
              {%- endfor%}
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="grid__col-xs-12 grid__col-sm-7 grid__col-md-8 grid__col-lg-9">
      {{ page.html | safe }}
    </div>
  </div>
{%- endblock %}

{% block basefooter %}
  {{ page_footer() }}
{% endblock %}

{% block footerscripts %}
{% endblock %}
