{% extends "layout.html.jinja2" %}
{% block title %}{{ profile.title }}{% endblock %}
{% from "baseframe/components.html.jinja2" import faicon %}
{%- from "macros.html.jinja2" import calendarwidget, saveprojectform, projectcard, featured_section, upcoming_section, open_cfp_section, all_projects_section, past_projects_section %}


{%- block pageheaders %}
<link rel="search" type="application/opensearchdescription+xml" href="{{ url_for('opensearch') }}" title="{{ config['SITE_TITLE'] }}" />
<script type="application/ld+json">
  {
    "@context" : "http://schema.org",
     "@type" : "WebSite",
     "name" : {{ config['SITE_TITLE']|tojson }},
     "url" : {{ url_for('index', _external=true)|tojson }},
    "potentialAction": {
      "@type": "SearchAction",
      "target": "{{ url_for('SearchView_search', _external=true) }}?q={query}",
      "query-input": "required name=query"
    }
  }
</script>
<script type="application/ld+json">
  {
    "@context" : "http://schema.org",
    "@type" : "Organization",
    "name" : {{ config['SITE_TITLE']|tojson }},
    "url" : {{ url_for('index', _external=true)|tojson }},
    "logo" : {{ url_for('static', filename='img/hg-banner.png', _external=true)|tojson }},
    "contactPoint" : [{
      "@type" : "ContactPoint",
      "telephone" : "+91 7676 33 2020",
      "contactType" : "customer service"
    }],
    "sameAs" : [
      "https://twitter.com/hasgeek",
      "https://www.facebook.com/hasgeek"
    ]
  }
</script>
{%- endblock %}

{% block bodytag %}
  <body class="mui--bg-accent hg-app">
{% endblock %}

{% block contenthead %}
{% endblock %}

{% block baseheadline %}
  <div class="profile mui--bg-accent">
    {%- if profile.banner_image_url.url %}
      <div class="profile__background">
        <img class="profile__background__image" src="{{ profile.banner_image_url.url }}" alt="{{ profile.title }}"/>
      </div>
    {% endif %}
    <div class="mui-container profile__banner">
      <div class="grid">
        <div class="grid__col-12">
          <div class="profile__banner__box">
            {%- if profile.banner_image_url.url %}
              <img class="profile__banner__box__img" src="{{ profile.banner_image_url.url }}" alt="{{ profile.title }}" data-cy="profile-banner-img"/>
            {% else %}
              <img class="profile__banner__box__img profile__banner__box__img--default" src="{{ url_for('static', filename='img/card-background.png') }}" alt="{{ profile.title }}"/>
            {% endif %}
          </div>
          {%- if profile.current_roles.admin %}
            <a href="{{ g.profile.url_for('edit_banner_image_url') }}" class="mui-btn mui-btn--default mui-btn--raised profile__banner__upload" title="{% trans %}Add cover photo url{% endtrans %}" aria-label="{% trans %}Add cover photo url{% endtrans %}" data-cy="add-banner">{{ faicon(icon='camera', icon_size='body2', css_class='profile__banner__icon') }} <span class="mui--hidden-xs mui--hidden-sm">Add cover photo url</span></a>
          {% endif %}
          <div class="profile__logo">
            {%- if profile.logo_url.url %}
              <img class="profile__logo__img" src="{{ profile.logo_url }}" alt="{{ profile.title }}"/>
            {% else %}
              <span class="profile__logo__nologo">{{ faicon(icon='user-solid', css_class='profile__logo__icon') }}</span>
            {% endif %}
            {%- if profile.current_roles.admin %}
              <a href="{{ g.profile.url_for('edit_logo_url') }}" class="profile__logo__upload mui--text-dark">{{ faicon(icon='camera', baseline=false, icon_size='body2', css_class='profile__logo__upload__icon') }}</a>
            {% endif %}
            <div class="mui--hidden-xs mui--hidden-sm profile__logo__details">
              <h2 class="mui--text-headline mui--text-bold zero-bottom-margin" data-cy="profile-title">{{ profile.title }}</h2>
              <p class="mui--text-title mui--text-light">@{{ profile.name }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mui-container profile-details">
    <div class="grid">
      <div class="grid__col-12">
        <div class="mui--hidden-md mui--hidden-lg mui--hidden-xl">
          <h2 class="mui--text-headline mui--text-bold zero-bottom-margin" data-cy="profile-title"><a href="{{ profile.url_for() }}" class="mui--text-dark">{{ profile.title }}</a></h2>
          <p class="mui--text-title mui--text-light">@{{ profile.name }}</p>
        </div>
        <div>{{ profile.description.html }}</div>
        {%- if profile.current_roles.admin %}
          <p>
            <a class="mui-btn mui-btn--primary mui-btn--raised" data-cy-btn="profile-crew" href="{{ profile.urls['members'] }}">{%- if profile.current_roles.owner %}{% trans %}Manage members{% endtrans %}{% else %}{% trans %}View members{% endtrans %}{% endif %}</a>
            <a class="mui-btn mui-btn--secondary mui-btn--raised" data-cy-btn="edit-details" href="{{ g.profile.url_for('edit') }}">{% trans %}Edit details{% endtrans %}</a>
          </p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% block basecontent %}
  {%- if profile.current_roles.admin or profile.current_roles.owner %}
    <div class="projects-wrapper">
      <div class="mui-container">
        <div class="grid">
          <div class="grid__col-12">
            <h2 class="mui--text-headline mui--text-bold project-headline">{% trans %}Drafts{% endtrans %}</h2>
          </div>
        </div>
        <ul class="grid projects" role="list">
          {%- if profile.current_roles.admin %}
            <li class="grid__col-12 grid__col-xs-12 grid__col-sm-6 grid__col-lg-4" role="listitem">
              <a class="card card--upcoming card--new clickable-card" href="{{ g.profile.url_for('new_project')}}" aria-label="Create new project" data-cy="new-project" data-action="Add new project">
                <div class="card__image-wrapper">
                  <img class="card__image" src="{{ url_for('static', filename='img/card-background.png') }}" alt="new"/>
                  <p class="card__image-wrapper__icon-wrapper">{{ faicon(icon='plus', icon_size='display1', css_class='mui--align-middle card__image-wrapper__icon-wrapper__icon') }}</p>
                </div>
                <div class="card__body">
                  <h4 class="mui--text-headline mui--text-bold">{% trans %}Start a project{% endtrans %}</h4>
                  <p class="mui--text-subhead mui--text-light zero-top-margin"">{% trans %}Write, collaborate and get feedback.{% endtrans %}</p>
                </div>
                <div class="mui-divider"></div>
                <div class="card__footer">
                  <p class="mui-btn mui-btn--small mui-btn--flat mui-btn--accent">{% trans %}Start project{% endtrans %}</p>
                </div>
              </a>
            </li>
          {% endif %}
  {% elif draft_projects %}
    <div class="projects-wrapper">
      <div class="mui-container">
        <div class="grid">
          <div class="grid__col-12">
            <h2 class="mui--text-headline mui--text-bold project-headlinee">{% trans %}Introducing drafts{% endtrans %} <span class="chip chip--new mui--text-caption mui--align-middle">{% trans %}New{% endtrans %}</span></h2>
          </div>
        </div>
        <ul class="grid projects" role="list">
  {% endif %}
        {% if draft_projects %}
          {% for project in draft_projects %}
            <li class="grid__col-12 grid__col-xs-12 grid__col-sm-6 grid__col-lg-4 js-draft-projects {% if loop.index > 2 %}mui--hide{% endif %}" role="listitem">
              {{ projectcard(project, project_save_form) }}
            </li>
          {%- endfor -%}
        </ul>
        {% if draft_projects|length > 3 %}
          <div class="mui--text-center">
            <a href="javascript:void(0)"  data-target="show all draft projects" class="jquery-show-all mui--text-uppercase" data-projects="js-draft-projects" data-action="Show all drafts projects(index page)" aria-expanded="true">{% trans %}Show more{% endtrans %}</a>
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>

  {% if unscheduled_projects %}
    <div class="projects-wrapper">
      <div class="mui-container">
        <div class="grid">
          <div class="grid__col-12">
          <h2 class="mui--text-headline mui--text-bold project-headliney">{% trans %}Unscheduled projects{% endtrans %} <span class="chip chip--new mui--text-caption mui--align-middle">{% trans %}New{% endtrans %}</span></h2>
        </div>
        <ul class="grid projects" role="list">
          {% for project in unscheduled_projects %}
            <li class="grid__col-12 grid__col-xs-12 grid__col-sm-6 grid__col-lg-4 js-draft-projects {% if loop.index > 2 %}mui--hide{% endif %}" role="listitem">
              {{ projectcard(project, project_save_form) }}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}

  {{ featured_section(featured_project) }}
  {{ upcoming_section(upcoming_projects) }}
  {{ open_cfp_section(open_cfp_projects) }}
  {{ all_projects_section(all_projects) }}
  {{ past_projects_section(past_projects) }}

{% endblock %}

{% block footerscripts %}
  <script src="{{ url_for('static', filename=asset_path('index')) }}" type="text/javascript"></script>
  <script type="text/javascript">
    $(function() {
      window.HasGeek.HomeInit();
    });
  </script>
{% endblock %}
