{% extends "layout.html.jinja2" %}
{%- from "macros.html.jinja2" import img_size, saveprojectform, calendarwidget, projectcard, video_thumbnail %}
{%- from "js/schedule.js.jinja2" import schedule_template %}
{% block title %}{{ profile.title }}{% endblock title %}

{% macro featured_section(featured_project, heading=true) %}
  {% if featured_project %}
    <div class="bg-primary">
    {% with current_sessions = featured_project.current_sessions() if
    featured_project is not none else none %}
    {% if current_sessions and current_sessions.sessions|length > 0 %}
    <div class="projects-wrapper">
      <div class="mui-container">
        <div class="grid">
          <div class="grid__col-12">
            <h2 class="mui--text-headline text-bold project-headline">
              {% if not featured_project.livestream_urls and current_sessions.sessions|length > 0 %}
                {% trans %}Live schedule{% endtrans %}
              {% elif featured_project.livestream_urls and not current_sessions.sessions|length > 0 %}
                {% trans %}Livestream{% endtrans %}
              {% elif featured_project.livestream_urls and current_sessions.sessions|length > 0 %}
                {% trans %}Livestream and schedule{% endtrans %}
              {% endif %}
            </h2>
          </div>
          <div class="grid__col-xs-12">
            <div class="card card--spotlight card--spotlight--live">
              <div class="card__image-wrapper">
                {% if featured_project.bg_image.url %}
                  <img class="card__image" src="{{ featured_project.bg_image.resize(img_size.spotlight_banner) }}" alt="{{ featured_project.title }}"/>
                {% else %}
                  <img class="card__image" src="{{ url_for('static', filename='img/default-banner.png') }}" alt="{{ featured_project.title }}"/>
                  <p class="card__image__tagline">{{ featured_project.title }}</p>
                {% endif %}
              </div>
              <div class="card__body">
                <h3 class="card__body__title mui--text-headline text-bold zero-top-margin">
                  <a class="clickable-card" href="{{ featured_project.url_for() }}">{{ featured_project.title }}</a>
                </h3>
                <p class="mui--text-title text-bold primary-color-txt zero-bottom-margin">{% trans %}Live{% endtrans %}</p>
                {% if current_sessions.sessions|length > 0 %}
                  <p class="mui--text-subhead mui--text-light">{{ faicon(icon='clock') }} {% trans session=current_sessions.sessions[0].start_at_localized|time %}Session starts at {{ session }}{% endtrans %}</p>
                {% endif %}
                <div>
                  {%- if featured_project.livestream_urls %}
                    <a class="mui-btn mui-btn--primary mui-btn--raised" aria-label="{% trans %}Watch livestream{% endtrans %}" href="{{ featured_project.url_for() }}">{% trans %}Livestream{% endtrans %}</a>
                  {%- endif %}
                  {%- if current_sessions.sessions|length > 0 %}
                    <a class="mui-btn mui-btn--primary mui-btn--raised" href="{{ featured_project.url_for('schedule') }}">{% trans %}Schedule{% endtrans %}</a>
                  {%- endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endwith %}

    <div class="projects-wrapper">
      <div class="spotlight">
        {% if heading %}
          <div class="mui-container">
            <div class="grid">
              <div class="grid__col-12">
                <h2 class="mui--text-headline text-bold project-headline">{% trans %}Spotlight{% endtrans %}</h2>
              </div>
            </div>
          </div>
        {% endif %}

        <div class="mui-container spotlight-container">
          <div class="grid flex-wrapper--start flex-wrapper--nowrap">
            <div class="grid__col-md-5 grid__col-lg-5 mui--text-left spotlight-container__details mui--hidden-xs mui--hidden-sm mui--hidden-md">
              <div class="flex-wrapper flex-wrapper--center flex-wrapper--space-between margin-bottom">
                <div class="flex-wrapper flex-wrapper--center">
                    <a href="{{ featured_project.account.profile_url }}" class="profile-avatar margin-right" data-ga="View account">
                    {%- if featured_project.account.logo_url.url %}
                      <img src="{{ featured_project.account.logo_url.resize(img_size.profile_logo_small) }}" alt="{{ featured_project.account.title }}"/>
                    {% else %}
                      <img src="{{ url_for('static', filename='img/default-profile-logo.png') }}" alt="{{ featured_project.account.title }}"/>
                    {% endif %}
                    </a>
                    <a href="{{ featured_project.account.profile_url }}" class="profile-avatar-title mui--text-subhead text-bold mui--text-dark nounderline" data-ga="View account">{{ featured_project.account.title }}</a>
                  </a>
                </div>
                <div class="tabs full-width-btn spotlight__badge">
                  <div class="flex-wrapper mui--text-hyperlink">
                    {{ faicon(icon='lock', icon_size='caption', baseline=false) }} <p class="full-width-btn spotlight__badge__footer">Member access</p> </div>
                </div>
              </div>
              <h3 class="mui--text-headline text-bold" data-cy="spotlight-project"><a href="{{ featured_project.url_for() }}" class="mui--text-dark nounderline">{{ featured_project.title }}</a></h3>
              <p class="mui--text-subhead mui--text-light js-truncate" data-truncate-lines="2">{{ featured_project.tagline }}</p>
              <p class="mui--text-body2 mui--text-dark js-truncate" data-truncate-lines="2">{{ featured_project.description_text }}</p>
              {% if calendarwidget_compact and featured_project.start_at and featured_project.calendar_weeks_compact.weeks and featured_project.calendar_weeks_compact.weeks|length > 0 %}
                <div aria-label="{{ featured_project.datelocation }}">
                  {{ calendarwidget(featured_project.calendar_weeks_compact) }}
                </div>
              {% elif featured_project.start_at and featured_project.calendar_weeks_full.weeks and featured_project.calendar_weeks_full.weeks|length > 0 %}
                <div aria-label="{{ featured_project.datelocation }}">
                  {{ calendarwidget(featured_project.calendar_weeks_full, compact=false) }}
                </div>
              {% endif %}
              <div class="card__body__location mui--text-light zero-bottom-margin">{% if featured_project.primary_venue %}{{ faicon(icon='map-marker-alt', icon_size='caption', baseline=false) }} {% if featured_project.primary_venue.city %}{{ featured_project.primary_venue.city }}{% else %}{{ featured_project.primary_venue.title }}{% endif %}{% elif featured_project.location %}{{ faicon(icon='map-marker-alt', icon_size='caption', baseline=false) }} {{ featured_project.location }}{% endif %}</div>
              <div class="bottom-padding mui--text-light mui--hidden-lg mui--hidden-xl">{% if featured_project.primary_venue %}{{ faicon(icon='map-marker-alt', icon_size='caption', baseline=false) }} {% if featured_project.primary_venue.city %}{{ featured_project.primary_venue.city }}{% else %}{{ featured_project.primary_venue.title }}{% endif %}{% elif featured_project.location %}{{ faicon(icon='map-marker-alt', icon_size='caption', baseline=false) }} {{ featured_project.location }}{% endif %}</div>
                {%- if (featured_project.start_at is not none and featured_project.calendar_weeks_full.weeks and featured_project.calendar_weeks_full.weeks|length > 0) %}
                  <div class="card--spotlight__body">
                    {% if calendarwidget_compact and featured_project.start_at and featured_project.calendar_weeks_compact.weeks and featured_project.calendar_weeks_compact.weeks|length > 0 %}
                      <div aria-label="{{ featured_project.datelocation }}">
                        {{ calendarwidget(featured_project.calendar_weeks_compact) }}
                      </div>
                    {% elif featured_project.start_at and featured_project.calendar_weeks_full.weeks and featured_project.calendar_weeks_full.weeks|length > 0 %}
                      <div aria-label="{{ featured_project.datelocation }}">
                        {{ calendarwidget(featured_project.calendar_weeks_full, compact=false) }}
                      </div>
                    {% endif %}
                    <div class="mui--hidden-lg mui--hidden-xl">
                      <h3 class="card__body__title mui--text-subhead {% if not featured_project.start_at %} card__body__subtitle {% endif %}"><a href="{{ featured_project.url_for() }}" class="mui--text-dark nounderline"><span class="text-bold">{{ featured_project.title_inline }}</span> <span class="mui--text-light js-truncate" data-truncate-lines="2">{{ featured_project.tagline }}</span></a></h3>
                    </div>
                    <div class="flex-wrapper flex-wrapper--center flex-wrapper--space-between top-padding">
                      <div class="card__body__location mui--text-light zero-bottom-margin">{% if featured_project.primary_venue %}{{ faicon(icon='map-marker-alt', icon_size='caption', baseline=false) }} {% if featured_project.primary_venue.city %}{{ featured_project.primary_venue.city }}{% else %}{{ featured_project.primary_venue.title }}{% endif %}{% elif featured_project.location %}{{ faicon(icon='map-marker-alt', icon_size='caption', baseline=false) }} {{ featured_project.location }}{% endif %}</div>

                    </div>
                  </div>
                {% endif %}
            </div>
            <div class="grid__col-12 grid__col-md-8 grid__col-lg-7" data-cy="spotlight-project">
              <div class="card card--upcoming card--spotlight__image-wrapper">
                <div class="flex-wrapper flex-wrapper--center flex-wrapper--space-between margin-top margin-bottom margin-right margin-left mui--hidden-lg mui--hidden-xl">
                  <div class="flex-wrapper flex-wrapper--center">
                    <span class="profile-avatar margin-right">
                      {%- if featured_project.account.logo_url.url %}
                        <img src="{{ featured_project.account.logo_url.resize(img_size.profile_logo_small) }}" alt="{{ featured_project.account.title }}"/>
                      {% else %}
                        <img src="{{ url_for('static', filename='img/default-profile-logo.png') }}" alt="{{ featured_project.account.title }}"/>
                      {% endif %}
                    </span>
                    <span class="profile-avatar-title mui--text-body2 text-bold mui--text-dark">{{ featured_project.account.title }}</span>
                  </div>
                  {%- if not current_auth.is_anonymous %}
                    {% set save_form_id = "spotlight_spfm_mobile_" + featured_project.uuid_b58 %}
                    <div class="card__body__bookmark card__body__bookmark--pushup">{{ saveprojectform(featured_project, formid=save_form_id) }}</div>
                  {% endif %}
                </div>
                <div class="card__image-wrapper {% if not featured_project.bg_image.url %}card__image-wrapper--default{% endif %}">
                  <a href="{{ featured_project.url_for() }}" data-cy-title="{{ featured_project.title }}" data-ga="View featured project">
                  {% if featured_project.bg_image.url %}
                    <img class="card__image js-lazyload-img" data-src="{{ featured_project.bg_image.resize(img_size.card_banner) }}" alt="{{ featured_project.title }}"/>
                    <noscript>
                      <img class="card__image" src="{{ featured_project.bg_image.resize(img_size.card_banner) }}" alt="{{ featured_project.title }}"/>
                    </noscript>
                  {% else %}
                    <img class="card__image" src="{{ url_for('static', filename='img/default-banner.png') }}" alt="{{ featured_project.title }}"/>
                    <p class="card__image__tagline mui--text-body2">{{ featured_project.title }}</p>
                  {% endif %}
                  </a>
                </div>
                {%- if (featured_project.start_at is not none and featured_project.calendar_weeks_full.weeks and featured_project.calendar_weeks_full.weeks|length > 0) %}
                  <div class="card--spotlight__body">
                    <div class="mui--hidden-lg mui--hidden-xl">
                      {% if calendarwidget_compact and featured_project.start_at and featured_project.calendar_weeks_compact.weeks and featured_project.calendar_weeks_compact.weeks|length > 0 %}
                      <div aria-label="{{ featured_project.datelocation }}">
                        {{ calendarwidget(featured_project.calendar_weeks_compact) }}
                      </div>
                      {% elif featured_project.start_at and featured_project.calendar_weeks_full.weeks and featured_project.calendar_weeks_full.weeks|length > 0 %}
                      <div aria-label="{{ featured_project.datelocation }}">
                        {{ calendarwidget(featured_project.calendar_weeks_full, compact=false) }}
                      </div>
                      {% endif %}
                      <h3 class="card__body__title mui--text-subhead {% if not featured_project.start_at %} card__body__subtitle {% endif %}"><a href="{{ featured_project.url_for() }}" class="mui--text-dark nounderline"><span class="text-bold">{{ featured_project.title_inline }}</span> <span class="mui--text-light js-truncate" data-truncate-lines="2">{{ featured_project.tagline }}</span></a></h3>
                      <div class="flex-wrapper flex-wrapper--space-between flex-wrapper--center top-padding">
                        <div class="card__body__location mui--text-light zero-bottom-margin">{% if featured_project.primary_venue %}{{ faicon(icon='map-marker-alt', icon_size='caption', baseline=false) }} {% if featured_project.primary_venue.city %}{{ featured_project.primary_venue.city }}{% else %}{{ featured_project.primary_venue.title }}{% endif %}{% elif featured_project.location %}{{ faicon(icon='map-marker-alt', icon_size='caption', baseline=false) }} {{ featured_project.location }}{% endif %}</div>
                        <div class="tabs full-width-btn spotlight__badge">
                          <div class="flex-wrapper mui--text-hyperlink">
                            {{ faicon(icon='lock', icon_size='caption', baseline=false) }}
                            <p class="full-width-btn spotlight__badge__footer">Member access</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>
            {% if featured_project and featured_project.schedule_start_at -%}
              <div class="grid__col-12">
                <div class="schedule-grid">
                  <div class="schedule-table-container" id="project-schedule-table">
                    <schedule></schedule>
                  </div>
                  {{ schedule_template() }}
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
{% endmacro %}

{% macro upcoming_section(upcoming_projects, heading=true) %}
  {% if upcoming_projects|length > 0 %}
    <div class="projects-wrapper">
      <div class="mui-container">
        {% if heading %}
        <div class="grid">
          <div class="grid__col-12">
            <h2 class="mui--text-headline text-bold project-headline">{% trans %}Upcoming{% endtrans %}</h2>
          </div>
        </div>
        {% endif %}
        <ul class="mui-list--unstyled grid upcoming" role="list">
          {% for project in upcoming_projects %}
          <li class="grid__col-xs-12 grid__col-sm-6 grid__col-md-4" role="listitem">
            {{ projectcard(project, save_form_id_prefix='upcoming_spf_') }}
          </li>
          {%- endfor -%}
        </ul>
      </div>
    </div>
  {% endif %}
{% endmacro %}

{% macro open_cfp_section(open_cfp_projects, heading=true) %}
  {% if open_cfp_projects %}
    <div class="projects-wrapper">
      <div class="mui-container">
        {% if heading %}
        <div class="grid">
          <div class="grid__col-12">
            <h2 class="mui--text-headline text-bold project-headline">{% trans %}Accepting submissions{% endtrans %}</h2>
          </div>
        </div>
        {% endif %}
        <ul class="grid projects" role="list">
          {% for project in open_cfp_projects %}
            <li class="grid__col-xs-12 grid__col-sm-6 grid__col-md-4 js-cfp-projects {% if loop.index > 4 %}mui--hide{% endif %}"
              role="listitem">
              {{ projectcard(project, include_calendar=false, save_form_id_prefix='open_spf_') }}
            </li>
          {%- endfor -%}
        </ul>
        {% if open_cfp_projects|length > 4 %}
          <div class="mui--text-center">
            <a href="#" onclick="return false;" data-target="show all cfp projects" class="jquery-show-all text-uppercase" data-projects="js-cfp-projects" data-ga="Show all cfp projects" aria-expanded="true">{% trans %}Show more{% endtrans %}</a>
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endmacro %}

{% macro all_projects_section(all_projects, heading=true) %}
  {% if all_projects %}
    <div class="projects-wrapper">
      <div class="mui-container">
        {% if heading %}
        <div class="grid">
          <div class="grid__col-12">
            <h2 class="mui--text-headline text-bold project-headline">{% trans %}All projects{% endtrans %}</h2>
          </div>
        </div>
        {% endif %}
        <ul class="grid projects" role="list">
          {% for project in all_projects %}
            <li class="grid__col-12 grid__col-xs-12 grid__col-sm-6 grid__col-lg-4" role="listitem">
              {{ projectcard(project, save_form_id_prefix='all_spf_') }}
            </li>
          {%- endfor -%}
        </ul>
      </div>
    </div>
  {% endif %}
{% endmacro %}

{% macro profile_admin_buttons(profile) %}
  <div class="mui-dropdown display-inlineblock">
    <a href="#" onclick="return false;" class="mui--text-title mui--text-light profile-dropdown-btn" data-mui-toggle="dropdown" data-ga="Open account menu" data-cy="admin-dropdown" aria-label="{% trans %}Account menu{% endtrans %}" role="button" aria-haspopup="true" aria-expanded="false">{{ faicon(icon='ellipsis-v', icon_size='title', baseline=false) }}</a>
    <ul class="mui-dropdown__menu mui-dropdown__menu--right" role="menu" aria-labelledby="profile-edit-menu">
      {%- if profile.is_organization_profile %}<li><a href="{{ profile.urls['members'] }}" data-cy-btn="profile-crew">{%- if profile.current_roles.owner %}{% trans %}Manage admins{% endtrans %}{% else %}{% trans %}View admins{% endtrans %}{% endif %}</a></li>{% endif %}
      <li><a href="{{ profile.url_for('edit') }}" data-cy-btn="edit-details">{% trans %}Edit this account{% endtrans %}</a></li>
      {%- if not profile.features.make_public() %}<li><a href="#make-private-modal" rel="modal:open" role="button" aria-haspopup="true">{% trans %}Make account private{% endtrans %}</a></li>{% endif %}
    </ul>
  </div>
  <div class="modal" id="make-private-modal" role="dialog" aria-labelledby="profile-private-modal-title" aria-modal="true" tabindex="-1">
    <div class="modal__header">
      <a class="mui-btn mui-btn--nostyle modal__close mui--text-dark" data-target="close cancel register modal" aria-label="{% trans %}Close{% endtrans %}" rel="modal:close" href="#" onclick="return false;" role="button" tabindex="0">{{ faicon(icon='times', baseline=false, icon_size='title') }}</a>
      <p class="mui--text-title text-bold mui--text-dark" id="profile-private-modal-title">{% trans %}Make this account private?{% endtrans %}</p>
    </div>
    <div class="modal__body">
      <ul class="list--aligned mui--text-body2">
        <li>{% trans %}Your account will not be visible to anyone other than you{% endtrans %}</li>
        <li>{% trans %}It will not be listed in search results{% endtrans %}</li>
        <li>{% trans %}You cannot host projects from this account{% endtrans %}</li>
        <li>{% trans %}Any existing projects will become inaccessible until the account is public again{% endtrans %}</li>
      </ul>
      <form action="{{ profile.url_for('transition') }}" method="post">
        {{ profile.forms.transition().hidden_tag() }}
        <button name="transition" value="make_profile_private" class="mui-btn mui-btn--accent mui--pull-right mui-btn--flat">{% trans %}Make private{% endtrans %}</button>
      </form>
    </div>
  </div>
{% endmacro %}

{% macro past_projects_section(profile) %}
  <div class="projects-wrapper" id="past-project-table">
    <div class="mui-container">
      <div class="grid projects">
        <div class="grid__col-12">
          <h2 class="mui--text-headline project-headline">{% trans %}Past sessions{% endtrans %}</h2>
        </div>
        <div class="grid__col-12 mui-table--responsive-wrapper">
          <table class="mui-table mui-table--bordered mui-table--responsive past-events-table">
            <thead class="bg-primary-dark">
              <tr>
                <th class="mui--text-subhead text-capitalize">{% trans %}Date{% endtrans %}</th>
                <th class="mui--text-subhead text-capitalize">{% trans %}Project{% endtrans %}</th>
                <th class="mui--text-subhead text-capitalize">{% trans %}Location{% endtrans %}</th>
              </tr>
            </thead>
            <tbody>
              <tr {% if profile %} hx-get="{{ profile.url_for('past_projects', page=1) }}" {%- else -%} hx-get="{{ url_for('past_projects', page=1) }}" {%- endif %} hx-trigger="intersect" hx-swap="outerHTML"></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro past_featured_session_videos(profile) %}
  <div class="projects-wrapper" id="past-project-table">
    <div class="mui-container">
      <div class="grid projects">
        <div class="grid__col-12">
          <h2 class="mui--text-headline project-headline">{% trans %}Past videos{% endtrans %}</h2>
        </div>
        <ul class="mui-list--unstyled grid">
          <li hx-get="{{ profile.url_for('past_sessions', page=1) }}" hx-trigger="intersect" hx-swap="outerHTML" class="grid__col-xs-12 grid__col-sm-6 grid__col-lg-4">
            <div class="bg-primary-dark embed-video-wrapper">
              <div class="video_txt">
                <p class="video__thumbnail__icon">{{ faicon(icon='play', icon_size='headline', baseline=false) }}</p>
                <p><span class="mui--text-title mui--text-light">Loading</span><span class="loading"></span></p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro profile_header(profile, class="", current_page='profile', title="") %}
  <div class="mui--hidden-md mui--hidden-lg mui--hidden-xl mobile-nav-wrapper">
    <div class="mobile-nav mui--z1">
      <a href="{% if current_page != 'profile' %}{{ profile.url_for() }}{% else %}javascript:history.back(){% endif %}" aria-label="{% trans %}Back to the account{% endtrans %}" class="js-spa-navigate mui--text-dark mobile-nav__icon" data-ga="Back to the account page">{{ faicon(icon='arrow-left', icon_size='title') }}</a><span class="mui--text-dark mobile-nav__headline">{%- if title %}{{ title }}{% endif %}</span>
      {% if current_page == 'profile' and profile.current_roles.admin %}
        <div class="mobile-nav__menu">{{ profile_admin_buttons(profile) }}</div>
      {%- endif %}
    </div>
  </div>
  <div class="mui-container {% if class %}{{ class }}{% endif %}">
    <div class="profile">
      <div class="profile__banner">
        <div class="profile__banner__box">
          {%- if profile.banner_image_url.url %}
            <img class="profile__banner__box__img" src="{{ profile.banner_image_url.resize(img_size.profile_banner) }}" alt="{{ profile.title }}" data-cy="profile-banner-img"/>
          {% else %}
            <img class="profile__banner__box__img profile__banner__box__img--default" src="{{ url_for('static', filename='img/default-banner-profile.png') }}" alt="{{ profile.title }}"/>
          {% endif %}
        </div>
        <div class="mui-container">
          <div class="grid">
            <div class="grid__col-12">
              {%- if profile.current_roles.admin %}
                <a href="{{ profile.url_for('update_banner') }}" class="mui-btn mui-btn--default mui-btn--raised profile__banner__upload js-modal-form" aria-label="{% trans %}Add cover photo url{% endtrans %}" data-cy="add-banner" rel="modal:open" data-hash="edit_banner" aria-haspopup="true">{{ faicon(icon='camera', icon_size='body2', css_class="profile__banner__icon") }} <span class="mui--hidden-xs mui--hidden-sm">{% trans %}Add cover photo{% endtrans %}</span></a>
              {% endif %}
              <div class="profile__logo">
                {%- if profile.logo_url.url %}
                  <img class="profile__logo__img" src="{{ profile.logo_url.resize(img_size.profile_logo) }}" alt="{{ profile.title }}"/>
                {% else %}
                  <span class="profile__logo__nologo">{{ faicon(icon='user-solid', css_class="profile__logo__icon") }}</span>
                {% endif %}
                {%- if profile.current_roles.admin %}
                  <a href="{{ profile.url_for('update_logo') }}" class="profile__logo__upload mui--text-dark js-modal-form" rel="modal:open" data-hash="edit_logo" role="button" aria-haspopup="true" aria-label="{% trans %}Update logo{% endtrans %}">{{ faicon(icon='camera', baseline=false, icon_size='body2', css_class="profile__logo__upload__icon") }}</a>
                {% endif %}
                <div class="mui--hidden-xs mui--hidden-sm profile__logo__details">
                  <h2 class="mui--text-dark text-bold zero-bottom-margin"><a class="mui--text-dark" data-cy="profile-title" href="{{ profile.url_for() }}">{{ profile.title }}</a></h2>
                  <p class="mui--text-title mui--text-light">@{{ profile.name }}</p>
                </div>
              </div>
              <div class="profile__banner__btns mui--hidden-xs mui--hidden-sm">
                {% if profile.features.new_project() %}
                  <a class="mui-btn mui-btn--primary mui-btn--raised profile-create-btn" href="{{ profile.url_for('new_project') }} ">{{ faicon(icon='plus', icon_size='caption') }} {% trans %}New project{% endtrans %}</a>
                {% elif profile.features.make_public() %}
                  <a class="mui-btn mui-btn--raised mui-btn--primary profile-create-btn" href="#make-public-modal" rel="modal:open" role="button" aria-haspopup="true" data-cy="profile-public">{% trans %}Make account public{% endtrans %}</a>
                  <div class="modal" id="make-public-modal" role="dialog" aria-labelledby="profile-public-modal-title" aria-modal="true" tabindex="-1">
                    <div class="modal__header">
                      <a class="modal__close mui--text-dark" data-target="close cancel register modal" aria-label="{% trans %}Close{% endtrans %}" rel="modal:close" href="#" onclick="return false;" role="button" tabindex="0">{{ faicon(icon='times', baseline=false, icon_size='title') }}</a>
                      <p class="mui--text-title text-bold mui--text-dark" id="profile-public-modal-title">{% trans %}Make this account public?{% endtrans %}</p>
                    </div>
                    <div class="modal__body">
                      <ul class="list--aligned mui--text-body2">
                        <li>{% trans %}Your account will be visible to anyone visiting the page{% endtrans %}</li>
                        <li>{% trans %}Your account will be listed in search results{% endtrans %}</li>
                        {# <li>{% trans %}You can host projects{% endtrans %}</li> -#}
                      </ul>
                      <form action="{{ profile.url_for('transition') }}" method="post">
                        {{ profile.forms.transition().hidden_tag() }}
                        <button name="transition" value="make_profile_public" class="mui-btn mui-btn--accent mui-btn--flat mui--pull-right" data-cy="make-public-btn">{% trans %}Make public{% endtrans %}</button>
                      </form>
                    </div>
                  </div>
                {% endif %}
                {%- if profile.current_roles.admin %}
                  <div class="display-inlineblock">{{ profile_admin_buttons(profile) }}</div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mui-container {% if class %}{{ class }}{% endif %}">
    <div class="profile-details">
      <div class="grid">
        <div class="grid__col-12">
          <div class="mui--hidden-md mui--hidden-lg mui--hidden-xl">
            <h2 class="text-bold zero-bottom-margin" data-cy="profile-title"><a href="{{ profile.url_for() }}" class="mui--text-dark">{{ profile.title }}</a></h2>
            <p class="mui--text-title mui--text-light">@{{ profile.name }}</p>
          </div>
          <ul class="bullet-separated-list">
            {%- if profile.joined_at %}
              <li>{{ faicon(icon='history') }} {% trans date=profile.joined_at|date(format='MMM YYYY')%}Joined {{ date }}{% endtrans %}</li>
            {%- endif %}
            {%- if profile.website %}
              <li><a href="{{ profile.website }}" target="_blank" rel="noopener nofollow">{{ faicon(icon='globe') }} {{ profile.website|cleanurl }}</a></li>
            {%- endif %}
          </ul>
          <div class="markdown">{{ profile.description }}</div>
          <div class="mui--visible-xs-block mui--visible-sm-block">
            {% if profile.features.new_project() %}
              <div class="display-inlineblock profile-create-btn profile-create-btn--mobile"><a class="mui-btn mui-btn--primary mui-btn--raised" href="{{ profile.url_for('new_project') }} ">{{ faicon(icon='plus', icon_size='caption') }} {% trans %}New project{% endtrans %}</a></div>
            {% elif profile.features.make_public() %}
              <div class="display-inlineblock profile-create-btn"><a class="mui-btn mui-btn--primary mui-btn--raised" href="#make-public-modal" rel="modal:open">{% trans %}Make account public{% endtrans %}</a></div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sub-navbar-container sub-navbar-container--sticky bg-primary mui--z1 {% if class %}{{ class }}{% endif %}">
    <div class="mui-container">
      <div class="sub-navbar-container__inner">
        <nav class="sub-navbar" id="page-navbar">
          {% if profile.is_organization_profile %}
            <a class="sub-navbar__item mui--text-subhead mui--text-dark mui--hidden-xs mui--hidden-sm {% if current_page == 'profile' %}sub-navbar__item--active{%- endif %}" href="{%- if current_page != 'profile' -%}{{ profile.url_for() }}{%- endif %}" data-cy-navbar="profile">{% trans %}Home{% endtrans %}</a>
            <a class="sub-navbar__item mui--text-subhead mui--text-dark {% if current_page == 'admins' %}sub-navbar__item--active{%- endif %}" href="{%- if current_page != 'admins' -%}{{ profile.urls['members'] }}{%- endif %}" data-cy-navbar="admins">{% trans %}Admins{% endtrans %} <span class="sub-navbar__item__icon mui--pull-right">{{ faicon(icon='chevron-right', icon_size='subhead') }}</span></a>
          {% else %}
          <a class="sub-navbar__item mui--text-subhead mui--text-dark mui--hidden-xs mui--hidden-sm {% if current_page == 'profile' %}sub-navbar__item--active{%- endif %}" href="{{ profile.url_for() }}">{% trans %}Sessions{% endtrans %}</a>
          <a class="sub-navbar__item mui--text-subhead mui--text-dark {% if current_page == 'projects' %}sub-navbar__item--active{%- endif %}" href="{{ profile.url_for('user_participated_projects') }}">{% trans %}Projects{% endtrans %}<span class="sub-navbar__item__icon mui--pull-right">{{ faicon(icon='chevron-right', icon_size='subhead') }}</span></a>
          <a class="sub-navbar__item mui--text-subhead mui--text-dark {% if current_page == 'submissions' %}sub-navbar__item--active{%- endif %}" href="{{ profile.url_for('user_proposals') }}" data-cy="submissions">{% trans %}Submissions{% endtrans %}<span class="sub-navbar__item__icon mui--pull-right">{{ faicon(icon='chevron-right', icon_size='subhead') }}</span></a>
          {% endif %}
        </nav>
      </div>
    </div>
  </div>
{% endmacro %}

{% block bodyattrs %}class="bg-primary mobile-header"{% endblock bodyattrs %}

{% block contenthead %}
{% endblock contenthead %}

{% block baseheadline %}
  {{ profile_header(profile) }}
{% endblock baseheadline %}

{% block basecontent %}
{% endblock basecontent %}


{% block footerscripts %}
  {% block innerscripts %}{% endblock innerscripts %}
  {% if featured_project and featured_project.schedule_start_at -%}
    <script src="{{ manifest('schedule_view.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
      $(function() {
        var scheduleConfig = {
          fromDate: {{ featured_project.start_at_localized|tojson }},
          toDate: {{ featured_project.end_at_localized|tojson }},
          timeZone: {{ featured_project.timezone|tojson }},
          sessions: {{ featured_project_sessions|tojson }},
          schedule: {{ featured_project_schedule|tojson }},
          venues: {{ featured_project_venues|tojson }},
          slotInterval: 5,
          divElem: "#project-schedule-table",
          scriptTemplate: '#scheduletemplate',
          parentContainer: '#schedule',
          active_session: '',
          projectTitle: {{ featured_project.title|e|tojson }},  // HTML escaped for use in HTML tags via JS
          pageDescription: {{ featured_project.description|striptags|tojson }}, // HTML escaped for use in HTML tags via JS
          rememberScrollPos: false,
          replaceHistoryToModalUrl: false
        };
        window.Hasgeek.ScheduleInit(scheduleConfig);
      });
    </script>
  {%- endif %}
{% endblock footerscripts %}
