{% extends "layout.html.jinja2" %}
{% set title_suffix = project.title %}
{% from "baseframe/forms.html.jinja2" import renderform %}
{% from "baseframe/components.html.jinja2" import faicon %}
{%- from "macros.html.jinja2" import project_header, posts_template %}
{% block title %}{{post.title}}{% endblock %}
{% block description %}{{ project.title }}{% if project.tagline %} &ndash; {{ project.taglines }}{% endif %}{% endblock %}

{% block bodytag %}
  {%- if not config['LEGACY'] -%}
    <body class="mui--bg-primary hg-app no-sticky-header">
  {%- else %}
    <body class="mui--bg-primary no-sticky-header">
  {%- endif %}
{% endblock %}

{% block contenthead %}{% endblock %}

{% block baseheadline %}
  <div class="mui--hidden-md mui--hidden-lg mui--hidden-xl">
    <div class="mobile-nav mui--z1">
      <a href="{{ project.urls['view'] }}" aria-label="{% trans %}Back to the project{% endtrans %}" class="mui--text-dark mobile-nav__icon" data-action="Back to the {{ project.title }}(schedule page)">{{ faicon(icon='arrow-left', icon_size='title') }}</a><span class="mui--text-dark mobile-nav__headline">{% trans %}Update{% endtrans %}</span>
    </div>
  </div>
  {{ project_header(project, project_save_form, csrf_form,
    class='mui--hidden-xs mui--hidden-sm',
    current_page='') }}
{% endblock %}

{% block basecontent %}
  <div class="mui-container">
    <div class="grid project-section">
      <div class="grid__col-xs-12">
        <div class="post user" id="'#update-' + post.uuid_b58">
          <div class="user__box mui--clearfix post__header">
            <div class="user__box__gravatar user__box__gravatar--initials">{{ post.user.fullname|initials }}</div>
            <div class="mui--d-inlineblock">
              <h3 class="mui--text-body2 user__box__fullname zero-bottom-margin">{{ post.user.fullname }}</h3>
              <h3 v-if="post.user.username" class="mui--text-caption user__box__userid"><span>@{{ post.user.username }}</span></h3>
            </div>
            {% if current_auth.user and project.features.post_new() -%}
              <div class="mui-dropdown mui--pull-right">
                <a href="javascript:void(0)" class="mui--text-dark" data-mui-toggle="dropdown">{{ faicon(icon='ellipsis-v',  icon_size='subhead') }}</a>
                <ul class="mui-dropdown__menu mui-dropdown__menu--right" data-cy="share-dropdown">
                  <li><a href="{{ post.url_for('edit') }}">Edit</a></li>
                  <li><a href="{{ post.url_for('delete')}}">Delete</a></li>
                </ul>
              </div>
            {% endif %}
          </div>
          <p class="mui--text-light mui--text-caption post__date">{{ post.published_at_age }}</span>
          <p class="mui--text-title mui--text-bold">{{ post.title }}</p>
          <div class="post__content mui--text-light fullcontent">{{ post.body.html }}</div>
          {% if post.features.publish() %}
            <div class="publish-form">
              {{ renderform(form=publish_form, submit="Publish post", action=post.url_for('publish_draft')) }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block pagescripts %}
{% endblock %}

{% block footerscripts %}
{% endblock %}
