{% extends "layout.html.jinja2" %}
{% set title_suffix = project.title %}
{%- from "macros.html.jinja2" import project_header %}
{%- from "js/membership.js" import membership_template, project_member_template %}
{% from "baseframe/forms.html.jinja2" import renderfield %}
{% block title %}{% trans %}Crew{% endtrans %}{% endblock %}
{% block description %}{{ project.title }}{% if project.tagline %} &ndash; {{ project.taglines }}{% endif %}{% endblock %}

{% block contenthead %}{% endblock %}

{% block bodytag %}
  {%- if not config['LEGACY'] -%}
    <body class="mui--bg-primary hg-app modal-form-page no-sticky-header">
  {%- else %}
    <body class="mui--bg-primary no-sticky-header">
  {%- endif %}
{% endblock %}

{% block baseheadline %}
  <div class="mui--hidden-md mui--hidden-lg mui--hidden-xl">
    <div class="mobile-nav mui--z1">
      <a href="{{ project.url_for() }}" aria-label="{% trans %}Back to the project{% endtrans %}" class="mui--text-dark mui--text-headline mobile-nav__icon" data-action="Back to the {{ project.title }}(crew page)">{{ faicon(icon='arrow-left', icon_size='title') }}</a><span class="mui--text-dark mobile-nav__headline">{% trans %}Crew{% endtrans %}</span>
    </div>
  </div>
  {{ project_header(project, csrf_form, class='mui--hidden-xs mui--hidden-sm', current_page='crew') }}
{% endblock %}

{% block basecontent %}
  <div class="mui-container">
    <div class="page-content page-content--mob-nav">
      <div class="grid" id="crew">
        <div class="grid__col-xs-12">
          {{ membership_template() }}
        </div>
      </div>
    </div>
  </div>
  {{ project_member_template() }}
{% endblock %}

{% block footerscripts %}
  <script src="{{ url_for('static', filename=asset_path('project_header')) }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename=asset_path('membership')) }}" type="text/javascript"></script>
  <script type="text/javascript">
    $(function() {
      var saveProjectConfig = {
        formId: 'save-form',
      }
      window.Hasgeek.ProjectHeaderInit(saveProjectConfig);
      var membershipConfig = {
        newMemberUrl: "{{ project.url_for('new_member') }}",
        members: {{ memberships|tojson }},
        roles: [
          {
            roleKey: 'is_editor',
            roleName: 'Editor',
            showMembers: false,
          },
          {
            roleKey: 'is_concierge',
            roleName: 'Concierge',
            showMembers: false,
          },
          {
            roleKey: 'is_usher',
            roleName: 'Usher',
            showMembers: false,
          },
        ],
        divElem: "#manage-membership",
        memberTemplate: '#member-template',
        isUserProfileAdmin: {%- if project.profile.current_roles.admin %} true {% else %} false {%- endif %},
      };
      Hasgeek.Membership(membershipConfig);
    });
  </script>
{% endblock %}
