{% set current_page = 'submissions' %}
{% extends "project_layout.html.jinja2" %}
{%- from "macros.html.jinja2" import proposal_list %}
{% block title %}{% trans %}Submissions{% endtrans %}{% endblock %}

{% block base_content_inner %}
  <div class="project-section">
   {% if project.current_roles.editor or project.current_roles.reviewer or not project.cfp_state.NONE -%}
    <div class="about__details" id="call-for-proposal">
      {%- if project.instructions and project.instructions != "None" %}
        <h2 class="mui--text-display1 project-section__headline mui--text-left mui--text-bold">{% trans %}Proposal guidelines{% endtrans %}</h2>
        <div class="about__details__description">
          {% if project.view_for('cfp').is_available() -%}
            <p>
              <a href="{{ project.url_for('cfp') }}" class="mui-btn mui-btn--raised mui-btn--dark">
                {% if project.cfp_state.DRAFT or project.cfp_state.PRIVATE_DRAFT or project.cfp_state.UNAVAILABLE -%}
                  {% trans %}Open proposal submissions{% endtrans %}
                {%- else %}
                  {% trans %}Modify proposal guidelines and timing{% endtrans %}
                {%- endif %}
              </a>
            </p>
          {%- endif %}
          {{ project.instructions }}
        </div>
      {%- elif project.view_for('cfp').is_available() %}
        <p><a href="{{ project.url_for('cfp') }}" class="mui-btn mui-btn--raised mui-btn--dark">{% trans %}Add proposal guidelines and timing{% endtrans %}</a></p>
      {%- endif %}
      {% if project.cfp_state.OPEN -%}
        <div>
          <a class="mui-btn mui-btn--raised mui-btn--primary" href="{{ project.url_for('new_proposal') }}">{% trans %}Make a submission{% endtrans %}</a>
          {% if project.cfp_end_at_localized -%}<p>{{ faicon(icon='info-circle', css_class='secondary-color-txt') }} <em class="mui--text-body2 mui--text-light">{% trans date=project.cfp_end_at_localized|datetime(format='dd MMM YYYY, hh:mm a') %}Submissions close {{ date }}{% endtrans %}</em></p>{% endif %}
        </div>
      {%- elif project.cfp_state.UNAVAILABLE %}
        <div class="mui-d--inlineblock">
          <a class="mui-btn mui-btn--raised mui-btn--dark mui-btn--strike">{% trans %}Make a submission{% endtrans %}</a>
          <p class="mui--text-light mui--text-caption">{% trans %}Submissions are closed for this project{% endtrans %}</p>
        </div>
      {%- endif %}
    </div>
  {%- endif %}
  </div>


  {% if project.cfp_state.HAS_PROPOSALS -%}
    <div class="project-section" id="submissions">
      <h2 class="mui--text-headline mui--text-left project-section__headline">{% trans %}All submissions{% endtrans %}</h2>
      {%- if project.current_roles.editor %}
        <div>
          <form class="mui-form mui--pull-left search search--50 mui--z1">
            <div class="mui-textfield">
              <input class="field-search" id="search" type="text" name="key" value="" placeholder="Search" />
            </div>
          </form>
        </div>
        <hr class="separator">
      {%- endif %}
      {{ proposal_list(project.proposals, form, project) }}
    </div>
  {%- endif %}
{% endblock %}

{% block footerinnerscripts %}
  {% assets "js_sortable" -%}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {%- endassets -%}
  <script src="{{ url_for('static', filename=asset_path('proposals')) }}" type="text/javascript"></script>
  <script type="text/javascript">
    $(function() {
      var config = {};
      config.search = {
        tableId: 'submissions-table',
        inputId: 'search'
      };
      window.Hasgeek.ProposalsInit(config);

      {%- if project.current_roles.editor -%}
        $(".proposal-list-table tbody").sortable({
          placeholder: $(this).data('drag-placeholder'),
          cursor: 'move',
          update: function(event, ui) {
            var sortedIDs = $(this).sortable("toArray");
            var currentID = $(ui.item).attr('id');
            var currentIndex = sortedIDs.indexOf(currentID);
            $.ajax({
              url: '{{ project.url_for("reorder_proposals") }}',
              type: 'POST',
              data: {
                csrf_token: window.Hasgeek.config.CsrfToken,
                currentItemId: currentID,
                previousItemId: currentID == 0 ? null : sortedIDs[currentIndex - 1]
              },
              dataType: 'json',
              success: function (responseData) {
                console.log(responseData);
              }
            });
          }
        });
      {%- endif %}

    });
  </script>
{% endblock %}
