{% extends "layout.html.jinja2" %}
{% set title_suffix = project.title %}
{% from "baseframe/forms.html.jinja2" import renderform %}
{% from "baseframe/components.html.jinja2" import faicon %}
{%- from "macros.html.jinja2" import project_header, posts_template %}
{% block title %}{{post.title}}{% endblock %}
{% block description %}{{ project.title }}{% if project.tagline %} &ndash; {{ project.taglines }}{% endif %}{% endblock %}

{% block bodytag %}
  {%- if not config['LEGACY'] -%}
    <body class="mui--bg-primary hg-app no-sticky-header">
  {%- else %}
    <body class="mui--bg-primary no-sticky-header">
  {%- endif %}
{% endblock %}

{% block top_title %}
  <h1 class="mui--text-display1"><a href="{{ project.url_for() }}"><strong>{{ project.title }}</a></strong></h1>
  <p class="mui--text-headline">{{ project.tagline }}</p>
  <p>
  {% if project.features.tickets_or_rsvp() %}
    <a class="mui-btn mui-btn--primary mui--d-inlineblock" href="{{ project.url_for() }}#tickets" data-action="Tickets(header-proposalpage)">
      {%- if project.features.tickets() -%}
        {% if project.boxoffice_data.buy_btn_text -%}
          {{ project.boxoffice_data.buy_btn_text }}
        {% else %}
          {% trans %}Tickets{% endtrans %}
        {% endif %}
      {%- else -%}
        {% trans %}Attend{% endtrans %}
      {%- endif %}
    </a>
  {% endif %}
  {% if project.cfp_state.OPEN -%}
    <a class="mui-btn mui-btn--flat mui-btn--nopadding" href="{{ project.url_for('new_proposal') }}" data-action="Propose a session(header)">{{ faicon(icon='microphone-alt') }} {% trans %}Submit a session proposal{% endtrans %}</a>
  {% endif %}
  </p>
{% endblock %}

{% block basecontent %}
  <div class="mui-container">
    <div class="grid project-section">
      <div class="grid__col-xs-12">
        <div class="post user" id="'#update-' + post.uuid_b58">
          <div class="user__box mui--clearfix post__header">
            <div class="user__box__gravatar user__box__gravatar--initials">{{ post.user.fullname|initials }}</div>
            <div class="mui--d-inlineblock">
              <h3 class="mui--text-body2 user__box__fullname zero-bottom-margin">{{ post.user.fullname }}</h3>
              <h3 v-if="post.user.username" class="mui--text-caption user__box__userid"><span>@{{ post.user.username }}</span></h3>
            </div>
            {% if current_auth.user and project.features.post_new() -%}
              <div class="mui-dropdown mui--pull-right">
                <a href="javascript:void(0)" class="mui--text-dark" data-mui-toggle="dropdown">{{ faicon(icon='ellipsis-v',  icon_size='subhead') }}</a>
                <ul class="mui-dropdown__menu mui-dropdown__menu--right" data-cy="share-dropdown">
                  <li><a href="{{ post.url_for('edit') }}">Edit</a></li>
                  <li><a href="{{ post.url_for('delete')}}">Delete</a></li>
                </ul>
              </div>
            {% endif %}
          </div>
          <p class="mui--text-light mui--text-caption post__date">{{ post.published_at_age }}</span>
          <p class="mui--text-title mui--text-bold">{{ post.title }}</p>
          <div class="post__content mui--text-light fullcontent">{{ post.body.html }}</div>
          {% if post.features.publish() %}
            <div class="publish-form">
              {{ renderform(form=publish_form, submit="Publish post", action=post.url_for('publish_draft')) }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block pagescripts %}
{% endblock %}

{% block footerscripts %}
{% endblock %}
