{% set current_page = 'settings' %}
{% extends "project_layout.html.jinja2" %}
{% block title %}{% trans %}Settings{% endtrans %}{% endblock %}

{% block left_col %}
  <div class="page-card page-card--nomargin">
    <div class="project-section" id="admin-panel">
      <h2 class="mui--text-left project-section__headline zero-top-margin">{% trans %}Admin panel{% endtrans %}</h2>
      <div>
        {%- if project.current_roles.editor %}
          {%- if transition_form %}
            <div>
              <p class="mui--text-body2 zero-bottom-margin mui--text-uppercase" data-cy="project-state">{% trans status=project.state.label.title %}Status: {{ status }}{% endtrans %}</p>
              <form action="{{ project.url_for('transition') }}" method="post" class="form-inline">
                {{ transition_form.hidden_tag() }}
                <p class="btn-group">
                  {% for name, transition in transition_form.transition.choices %}
                    <button name="transition" value="{{ name }}" class="transition mui-btn mui-btn--small mui-btn--raised {% if transition.data['type'] == 'success' %} mui-btn--primary {% elif transition.data['type'] == 'danger' %}  mui-btn--danger {%- endif %}" title="{{ transition.data['title'] }}"  data-cy-state="{{ name }}">{{ transition.data['title'] }}</button>
                  {% endfor %}
                </p>
              </form>
            </div>
          {%- endif %}
          {%- if cfp_transition_form %}
            <div>
              <p class="mui--text-body2 zero-bottom-margin mui--text-uppercase" data-cy="cfp-state">{% trans status=project.cfp_state.label.title %}Submission status: {{ status }}{% endtrans %}</p>
              <form action="{{ project.url_for('cfp_transition') }}" method="post" class="form-inline">
                {{ cfp_transition_form.hidden_tag() }}
                <p class="btn-group">
                  {% for name, transition in cfp_transition_form.cfp_transition.choices %}
                    <button name="cfp_transition" value="{{ name }}" class="transition mui-btn mui-btn--small mui-btn--raised {% if transition.data['type'] == 'success' %} mui-btn--primary {% elif transition.data['type'] == 'danger' %}  mui-btn--danger {%- endif %}" title="{{ transition.data['title'] }}" data-cy-cfp="{{ name }}">{{ transition.data['title'] }}</button>
                  {% endfor %}
                </p>
              </form>
            </div>
          {%- endif %}
        {%- endif %}
        <hr class="mui-divider">
        <div>
          <ul class="mui-list--inline list-item-rgborder">
          {% if project.view_for('edit').is_available() %}
            <li>
              <a href="{{ project.url_for('edit') }}" data-cy="edit">{% trans %}Edit project details{% endtrans %}</a>
            </li>
          {% endif %}
          {% if project.view_for('edit_slug').is_available() %}
            <li>
              <a href="{{ project.url_for('edit_slug') }}" data-cy="edit">{% trans %}Update project URL{% endtrans %}</a>
            </li>
          {% endif %}
          {% if project.view_for('edit_livestream').is_available() %}
            <li>
              <a href="{{ project.url_for('edit_livestream') }}" data-cy="add-livestream">{% trans %}Add or edit livestream URLs{% endtrans %}</a>
            </li>
          {% endif %}
          {% if project.view_for('venues').is_available() %}
            <li>
              <a href="{{ project.url_for('venues') }}" data-cy="manage-venues">{% trans %}Manage venues{% endtrans %}</a>
            </li>
          {%- endif %}
          {% if project.view_for('cfp').is_available() and project.cfp_state.NONE -%}
            <li>
              <a href="{{ project.url_for('cfp') }}" data-cy="add-cfp">{% trans %}Add submission guidelines and timing{% endtrans %}</a>
            </li>
          {% elif project.view_for('cfp').is_available() -%}
            <li>
              <a href="{{ project.url_for('cfp') }}" data-cy="modify-cfp">{% trans %}Modify submission guidelines and timing{% endtrans %}</a>
            </li>
          {%- endif %}
          {% if project.view_for('edit_schedule').is_available() %}
            <li>
              <a href="{{ project.url_for('edit_schedule') }}" data-cy="edit-schedule">{% trans %}Edit schedule{% endtrans %}</a>
            </li>
          {% endif %}
          {% if project.view_for('labels').is_available() %}
            <li>
              <a href="{{ project.url_for('labels') }}" data-cy="manage-labels">{% trans %}Manage labels{% endtrans %}</a>
            </li>
          {% endif %}
          {% if project.view_for('admin').is_available() %}
            <li>
              <a href="{{ project.url_for('admin') }}" data-cy="setup-ticket-events">{% trans %}Setup ticketed events for check-in{% endtrans %}</a>
            </li>
          {% endif %}
          {% if project.view_for('ticket_events').is_available() %}
            <li>
              <a href="{{ project.url_for('ticket_events') }}" data-cy="scan-checkin">{% trans %}Scan badges to check-in{% endtrans %}</a>
            </li>
          {% endif %}
          {% if project.view_for('rsvp_list').is_available() %}
            <a href="{{ project.url_for('rsvp_list') }}" data-cy="see-responses">{% trans %}View participants{% endtrans %}</a>
          {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
