{% set current_page = 'schedule' %}
{% extends "project_layout.html.jinja2" %}
{%- from "js/schedule.js.jinja2" import schedule_template %}

{% block title %}{%- if active_session -%}{{ active_session.title }}{%- else -%}{% trans %}Schedule{% endtrans %}{%- endif -%}{% endblock %}

{% block description %}
  {%- if active_session -%}
    {%- if active_session.speaker -%}
      {% trans title=active_session.title, speaker=active_session.speaker, project=project.title %}{{ title }} by {{ speaker }}, {{ project }}{% endtrans %}
    {%- else -%}
      {{ active_session.title }}, {{ project.title }}
    {%- endif -%}
  {%- else -%}
    {% if project.tagline %}{{ project.tagline }}{% endif %}
  {%- endif -%}
{% endblock %}

{%- block pageheaders %}
  {% assets "css_schedule_print" -%}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
  {%- endassets -%}
  <link rel="stylesheet" type="text/css" href="{{ built_asset('css/schedule.scss') }}" />
  {%- if project.start_at %}
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Event",
      "name": {{ project.title|tojson }},
      "url": {{ project.url_for(_external=true)|tojson }},
      "startDate": {{ project.start_at_localized|tojson }},
      "endDate": {{ project.end_at_localized|tojson }},
      "eventStatus": "https://schema.org/EventScheduled",
      {% if project.primary_venue -%}
      "location": {
        "@type": "Place",
        "name": {{ project.primary_venue.title|tojson }},
        "address": {
          "@type": "PostalAddress",
          "streetAddress": {{ project.primary_venue.address1|tojson }},
          "addressLocality": {{ project.primary_venue.city|tojson }},
          "addressRegion": {{ project.primary_venue.state|tojson }},
          "postalCode": {{ project.primary_venue.postcode|tojson }},
          "addressCountry": {{ project.primary_venue.country|tojson }}
        }
      },
      "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
      {%- else %}
      "location": {
        "@type": "VirtualLocation",
        "url": {{ project.url_for(_external=true)|tojson }}
      },
      "eventAttendanceMode": "https://schema.org/OnlineEventAttendanceMode",
      {%- endif -%}
      {%- if project.bg_image.url %}
      "image": [
        "{{ project.bg_image }}"
       ],
      {% endif -%}
      "description": {{ project.tagline|tojson }},
      "organizer": {
        "@type": "Organization",
        "name": {{ project.profile.title|tojson }},
        "url": {{ project.profile.url_for(_external=true)|tojson }}
      }
    }
    </script>
  {%- endif -%}
{% endblock %}

{% block mobile_header_title %}{% trans %}Schedule{% endtrans %}{% endblock %}

{% block left_col %}
  <div class="page-card page-card--nomargin">
    <div class="project-section" id="schedule">
      {% if project.view_for('edit_schedule').is_available() %}
        <div><p class="mui--text-right"><a class="mui-btn mui-btn--raised mui-btn--dark" href="{{ project.urls['edit_schedule'] }}">{% trans %}Edit schedule{% endtrans %}</a></p></div>
      {% endif %}
      <div class="schedule-grid">
        <div class="schedule-table-container" id="project-schedule-table">
          <schedule></schedule>
        </div>
          {{ schedule_template() }}
      </div>
    </div>
  </div>
{% endblock %}

{% block footerinnerscripts %}
  <script src="{{ built_asset('schedule_view.js') }}" type="text/javascript"></script>
  <script type="text/javascript">
    $(document).ready( function() {
      var scheduleConfig = {
        fromDate: {{ project.start_at_localized|tojson }},
        toDate: {{ project.end_at_localized|tojson }},
        timeZone: {{ project.timezone|tojson }},
        sessions: {{ sessions|tojson }},
        schedule: {{ schedule|tojson }},
        venues: {{ venues|tojson }},
        slotInterval: 5,
        divElem: "#project-schedule-table",
        scriptTemplate: '#scheduletemplate',
        parentContainer: '#schedule',
        active_session: '',
        projectTitle: {{ project.title|e|tojson }},  // HTML escaped for use in HTML tags via JS
        pageDescription: {{ g.profile.description|striptags|tojson }}, // HTML escaped for use in HTML tags via JS
      };
      {%- if active_session -%}
        scheduleConfig['active_session'] = {{ active_session|tojson }};
      {%- endif %}

      window.Hasgeek.ScheduleInit(scheduleConfig);
    });
  </script>
{% endblock %}
