{% set current_page = 'crew' %}
{% extends "project_layout.html.jinja2" %}
{%- from "js/membership.js.jinja2" import membership_template, project_member_template %}
{% from "forms.html.jinja2" import renderfield %}
{% block title %}{% trans %}Crew{% endtrans %}{% endblock %}

{% block pageheaders %}
  <link rel="stylesheet" type="text/css" href="{{ built_asset('css/membership.scss') }}" />
{% endblock %}

{% block left_col %}
  <div class="page-card page-card--nomargin">
    <div class="project-section" id="crew">
      {{ membership_template() }}
    </div>
    {{ project_member_template() }}
  </div>
{% endblock %}

{% block footerinnerscripts %}
  <script src="{{ built_asset('membership.js') }}" type="text/javascript"></script>
  <script type="text/javascript">
    $(function() {
      var membershipConfig = {
        newMemberUrl: "{{ project.url_for('new_member') }}",
        members: {{ memberships|tojson }},
        roles: [
          {
            roleKey: 'is_editor',
            roleName: 'Editor',
            showMembers: false,
          },
          {
            roleKey: 'is_promoter',
            roleName: 'Promoter',
            showMembers: false,
          },
          {
            roleKey: 'is_usher',
            roleName: 'Usher',
            showMembers: false,
          },
        ],
        divElem: "#manage-membership",
        memberTemplate: '#member-template',
        isUserProfileAdmin: {%- if project.profile.current_roles.admin %} true {% else %} false {%- endif %},
      };
      Hasgeek.membershipInit(membershipConfig);
    });
  </script>
{% endblock %}
