{% extends "formlayout.html.jinja2" %}
{% from "baseframe/forms.html.jinja2" import renderfield, rendersubmit, ajaxform %}
{% block title %}Add a call for proposals{% endblock %}

{% block pageheaders %}
  {% assets "css_jquerytimepicker" -%}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
  {%- endassets -%}
{% endblock %}

{% block content %}
  {%- if form.errors %}
    <div class="alert alert--error alert--dismissable">
      <a class="alert__close" href="javascript:void(0);" aria-label="{% trans %}Close{% endtrans %}"><i class="material-icons" aria-hidden="true">clear</i></a>
      <p class="alert__text"><i class="material-icons alert__icon" aria-hidden="true">error</i>{% trans %}Please review the indicated issues{% endtrans %}</p>
    </div>
  {%- endif %}
  {%- if message %}
    <p class="form-message">{{ message }}</p>
  {%- endif %}
  <form data-parsley-validate="true" id="cfp-form" method="POST" action="{{ request.url }}" accept-charset="UTF-8" class="mui-form mui-form--margins hg-form">
    {{ form.hidden_tag() }}
    {{ renderfield(form.instructions, autofocus=true) }}
    {%- for error in form.instructions.errors %}
      <div><p class="mui-form__error">{{ error }}</p></div>
    {%- endfor %}
    {% if not form.cfp_end_at.data %}
      <div id="cfp-publish-actions" class="btn-wrapper hide">
        <button name="open-now" class="mui-btn cfp-action-btn">{% trans %}Open CfP now{% endtrans %}</button>
        <button name="later" class="mui-btn cfp-action-btn">{% trans %}Open CfP later{% endtrans %}</button>
      </div>
    {% endif %}
    {% if form.cfp_start_at.data or form.cfp_start_at.errors or form.cfp_end_at.data or form.cfp_end_at.errors %}
      {{ renderfield(form.cfp_start_at, css_class="input-transition js-cfp-start-at") }}
    {% else %}
      {{ renderfield(form.cfp_start_at, css_class="mui--hide input-transition js-cfp-start-at") }}
    {% endif %}
    {% if form.cfp_end_at.data or form.cfp_end_at.errors %}
      {{ renderfield(form.cfp_end_at, css_class="input-transition js-cfp-end-at") }}
    {% else %}
       {{ renderfield(form.cfp_end_at, css_class="mui--hide input-transition js-cfp-end-at") }}
    {% endif %}
    <div class="mui-form form-actions clearfix">
      <div>
        <button type="submit" name="submit" class="mui-btn mui-btn--raised mui-btn--primary" value="reject">Submit</button>
        <span class="loading mui--hide"></span>
      </div>
    </div>
  </form>
{% endblock %}

{% block footerscripts %}
  {% assets "js_timepicker" -%}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {%- endassets -%}
  <script type="text/javascript">
    $(function() {
      function addZero(i) {
        // input="time" widget requires zero-filled numbers
        return (i < 10) ? ("0" + i) : i;
      }
      // Set current date & time in cfp_start_at input field and show cfp_end_at input field.
      $('button[name="open-now"]').click(function(event) {
        event.preventDefault();
        var now = new Date();
        $('#cfp_start_at-date').val(now.toISOString().split('T')[0]);
        $('#cfp_start_at-time').val(addZero(now.getHours()) + ":" + addZero(now.getMinutes()));
        $('.js-cfp-start-at, .js-cfp-end-at').removeClass('mui--hide');
      });

      // Show cfp_start_at and cfp_end_at input field.
      $('button[name="later"]').click(function(event) {
        event.preventDefault();
        $('.js-cfp-start-at, .js-cfp-end-at').removeClass('mui--hide');
      });
    });
  </script>
  <script src="{{ 'parsley.js'|ext_asset_url }}" type="text/javascript"></script>
{% endblock %}
