{% from "forms.html.jinja2" import renderform, widgetscripts, ajaxform %}
{%- from "macros.html.jinja2" import faicon %}

<link rel="stylesheet" type="text/css" href="{{ manifest('css/form.css') }}" />

<div class="modal__header">
  <a class="modal__close mui--text-dark" aria-label="{% trans %}Close{% endtrans %}" rel="modal:close" data-testid="close-admin-panel" href="#" onclick="return false;" role="button" tabindex="0">{{ faicon(icon='times', baseline=false, icon_size="title") }}</a>
</div>
<div class="modal__body proposal__admin-panel">
  <div class="modal--form {% if sponsorship %}modal--form--edit{% endif %}">
    {% if not remove %}
      {{ renderform(form=form, formid=formid, ref_id=ref_id, submit=submit, message=message, action=action) }}
    {%- else %}
      <p class="mui--text-title">{{ message }}</p>
      <form id="{{ ref_id }}" method="post" class="mui-form" action="{{ action }}" {%- if request_wants.html_fragment %} hx-post="{{ request.url }}" {%- endif %}>
        <input type="hidden" name="form.id" value="delete"/>
        {{ form.hidden_tag() }}
        {% if form.csrf_token and form.csrf_token.errors %}
          <p class="mui-form--error">{% trans %}This form timed out because it was open for a long time. Please submit again{% endtrans %}</p>
        {% endif %}
        <a class="mui-btn mui-btn--raised mui-btn--default" aria-label="{% trans %}Close{% endtrans %}" rel="modal:close" data-testid="close-admin-panel" href="#" onclick="return false;" role="button" tabindex="0">{% trans %}Cancel{% endtrans %}</a>
        <input class="mui-btn mui-btn--raised mui-btn--danger" type="submit" name="delete" value="{% trans %}Remove{% endtrans %}"/>
      </form>
    {% endif %}
  </div>
</div>

<script src="{{ manifest('form.js') }}" type="text/javascript"></script>
<script type="text/javascript">
  {{ widgetscripts(form, script=false, ref_id=ref_id) }}
</script>
{{ ajaxform(ref_id=ref_id, request=request, force=true) }}
