{% extends "formlayout.html.jinja2" %}
{% from "forms.html.jinja2" import renderfield, rendersubmit %}
{% from "macros.html.jinja2" import faicon %}
{% block title %}{% trans %}Add submission guidelines and timing{% endtrans %}{% endblock %}

{% block content %}
  {%- if form.errors %}
    <div class="alert alert--error alert--dismissable">
      <a class="alert__close" href="javascript:void(0);"  data-target="close flash message" aria-label="{% trans %}Close{% endtrans %}">{{ faicon(icon='times', baseline=false, icon_size='subhead') }}</a>
      <p class="alert__text">{{ faicon(icon='exclamation-circle') }} {% trans %}Please review the indicated issues{% endtrans %}</p>
    </div>
  {%- endif %}
  {%- if message %}
    <p class="form-message">{{ message }}</p>
  {%- endif %}
  <form data-parsley-validate="true" id="cfp-form" method="POST" action="{{ request.url }}" accept-charset="UTF-8" class="mui-form mui-form--margins hg-form">
    {{ form.hidden_tag() }}
    {{ renderfield(form.instructions, autofocus=true) }}
    {%- for error in form.instructions.errors %}
      <div><p class="mui-form__error">{{ error }}</p></div>
    {%- endfor %}
    {% if not form.cfp_end_at.data %}
      <div id="cfp-publish-actions" class="btn-wrapper hide">
        <button name="open-now" class="mui-btn cfp-action-btn">{% trans %}Open now{% endtrans %}</button>
        <button name="later" class="mui-btn cfp-action-btn">{% trans %}Open later{% endtrans %}</button>
      </div>
    {% endif %}
    {% if form.cfp_start_at.data or form.cfp_start_at.errors or form.cfp_end_at.data or form.cfp_end_at.errors %}
      {{ renderfield(form.cfp_start_at, css_class="input-transition js-cfp-start-at") }}
    {% else %}
      {{ renderfield(form.cfp_start_at, css_class="mui--hide input-transition js-cfp-start-at") }}
    {% endif %}
    {% if form.cfp_end_at.data or form.cfp_end_at.errors %}
      {{ renderfield(form.cfp_end_at, css_class="input-transition js-cfp-end-at") }}
    {% else %}
       {{ renderfield(form.cfp_end_at, css_class="mui--hide input-transition js-cfp-end-at") }}
    {% endif %}
    <div class="mui-form form-actions clearfix">
      <div>
        <button type="submit" name="submit" class="mui-btn mui-btn--raised mui-btn--primary" data-cy="add-cfp">Submit</button>
        <span class="loading mui--hide"></span>
      </div>
    </div>
  </form>
{% endblock %}

{% block footerscripts %}
  <script type="text/javascript">
    $(function() {
      function addZero(i) {
        // input="time" widget requires zero-filled numbers
        return (i < 10) ? ("0" + i) : i;
      }
      // Set current date & time in cfp_start_at input field and show cfp_end_at input field.
      $('button[name="open-now"]').click(function(event) {
        event.preventDefault();
        var now = new Date(new Date().getTime() + new Date().getTimezoneOffset() * -60 * 1000);
        $('#cfp_start_at').val(now.toISOString().slice(0, 16));
        $('.js-cfp-start-at, .js-cfp-end-at').removeClass('mui--hide');
      });

      // Show cfp_start_at and cfp_end_at input field.
      $('button[name="later"]').click(function(event) {
        event.preventDefault();
        $('.js-cfp-start-at, .js-cfp-end-at').removeClass('mui--hide');
      });
    });
  </script>
  <script src="{{ 'parsley.js'|ext_asset_url }}" type="text/javascript"></script>
{% endblock %}
