{% extends "layout.html.jinja2" %}
{% from "baseframe/forms.html.jinja2" import ajaxform %}
{%- from "macros.html.jinja2" import rsvpform, rsvpscript, project_header, admin_panel %}
{% block title %}{{ project.title }}{% endblock %}
{% block description %}{{ project.title }} &ndash; {{ project.tagline }}{% endblock %}

{%- block layoutheaders %}
  {% assets "css_leaflet" -%}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
  {%- endassets -%}
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Event",
    "name": "{{ project.title }}",
    "url": "{{ project.url_for(_external=true) }}",
    "startDate": "{{ project.date }}",
    {% if project.primary_venue -%}
    "location": {
      "@type": "Place",
      "name": "{{ project.primary_venue.title }}",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "{{ project.primary_venue.address1 }}",
        "addressLocality": "{{ project.primary_venue.city }}",
        "addressRegion": "{{ project.primary_venue.state }}",
        "postalCode": "{{ project.primary_venue.postcode }}",
        "addressCountry": "{{ project.primary_venue.country }}"
      }
    },
    {%- endif -%}
    {%- if project.bg_image.url %}
    "image": [
      "{{ project.bg_image }}"
     ],
    {% endif -%}
    "description": "{{ project.tagline|safe }}",
    "endDate": "{{ project.date_upto }}",
    "offers": {
      "@type": "Offer",
      "url": "{{ project.url_for(_external=true) }}"
    }
  }
  </script>
{% endblock %}

{% block bodytag %}<body class="mui--bg-primary no-sticky-header">{% endblock %}

{%- macro page_btns(project) %}
  <ul class="mui-list--inline">
    {%- if project.boxoffice_data and project.boxoffice_data.item_collection_id %}
      <li class="cta">
        <a href="#participate" class="mui-btn mui-btn--raised mui-btn--primary js-smooth-scroll js-samepage" title="Participate" data-action="Participate(header)"><i class="material-icons mui--text-subhead mui--align-middle">local_play</i>{% trans %}Participate{% endtrans %}</a>
      </li>
    {%- elif project.buy_tickets_url.url %}
      <li class="cta">
        <a href="{{ project.buy_tickets_url }}" class="mui-btn mui-btn--raised mui-btn--primary" target="_blank" title="Participate" data-action="Participate(header)"><i class="material-icons mui--text-subhead mui--align-middle">local_play</i>{% trans %}Participate{% endtrans %}</a>
      </li>
    {%- elif project.allow_rsvp %}
      <li class="cta">
        <a href="#participate" class="mui-btn mui-btn--raised mui-btn--primary smooth-scroll" target="_blank" title="Participate" data-action="Participate(header)"><i class="material-icons mui--text-subhead mui--align-middle">local_play</i>{% trans %}Participate{% endtrans %}</a>
      </li>
    {%- endif %}
    {%- if project.schedule_state.PUBLISHED %}
      <li class="cta">
        <hr class="mui-divider">
        <a href="{{ project.url_for('schedule') }}" class="mui-btn mui-btn--flat mui--text-left" title="View Schedule" data-action="View Schedule(header)"><i class="material-icons mui--text-subhead mui--align-middle">schedule</i>{% trans %}View Schedule{% endtrans %}</a>
      </li>
    {% endif %}
    {% if project.cfp_state.OPEN -%}
      <li class="cta">
        {%- if not project.schedule_state.PUBLISHED %}<hr class="mui-divider">{% endif %}
        <a class="mui-btn mui-btn--flat mui--text-left" href="{{ project.url_for('new_proposal') }}" title="Propose a session" data-action="Propose a session(header)"><i class="material-icons mui--text-subhead mui--align-middle">mic</i>{% trans %}Propose a session{% endtrans %}</a>
      </li>
    {% endif %}
  </ul>
{%- endmacro %}

{% block headline %}
  {{ project_header(project, page_btns=page_btns(project)) }}
{% endblock %}

{% block contentwrapper %}
  <div class="grid details-section">
    <div class="grid__col-md-5 grid__col-lg-4">
      {%- if project.current_roles.admin or current_auth.permissions.checkin_event %}
        {{ admin_panel(project, transition_form=transition_form, schedule_transition_form=schedule_transition_form) }}
      {%- elif current_auth.user %}
        <div class="sticky-admin-panel">
          <div class="card">
            <div class="card__header">
              <h3 class="mui--text-title mui--text-uppercase mui--text-bold">{% trans %}My account{% endtrans %}</h3>
            </div>
            <div class="card__body">
              <ol class="mui-list--aligned">
                <li>
                  <a href="{{ project.url_for('contact_exchange') }}" title="Scan badges to check-in">{% trans %}My contacts{% endtrans %}</a>
                </li>
              </ol>
            </div>
          </div>
        </div>
      {% endif %}
    </div>

    <div class="grid__col-md-7 grid__col-lg-8" id="about">
      <h2 class="mui--text-display1 mui--text-left project-section__headline">About</h2>
      <div class="project-section__description">{{ project.description|safe }}</div>
      {%- if project.subprojects %}
        <hr class="mui-divider">
        <h2 class="mui--text-display1 mui--text-left project-section__headline">Related events</h2>
        <ul class="grid">
          {% for subproject in project.subprojects %}
            <li class="grid__col-12 grid__col-xs-12 grid__col-sm-6">
              <div data-href="{{ subproject.url_for() }}" class="clickable-card">
                <div class="card">
                  <div class="card__header">
                    <div class="card__header__title">
                      <h3 class="mui--text-title card__title__heading">{{ subproject.title }}</h3>
                      <h4 class="mui--text-subhead card__title__heading">{{ subproject.datelocation }}</h4>
                    </div>
                  </div>
                  {% if subproject.tagline %}
                    <div class="card__body">
                      <p>{{ subproject.tagline }}</p>
                      <noscript>
                        <a href="{{ subproject.url_for() }}" class="mui-btn mui-btn--small mui-btn--accent" title="View" data-action="View(subproject talk card)">View</a>
                      </noscript>
                    </div>
                  {% endif %}
                </div>
              </div>
            </li>
          {%- endfor -%}
        </ul>
      {%- endif %}
    </div>
  </div>

  {% if project.featured_sessions  %}
  <div class="project-section" id="talks">
    <div class="grid">
      <div class="grid__col-xs-12">
        <h2 class="mui--text-display1 mui--text-left project-section__headline">Talks</h2>
      </div>
    </div>
    <ul class="grid">
      {% for session in project.featured_sessions %}
        <li class="grid__col-12 grid__col-xs-12 grid__col-sm-6 grid__col-lg-4">
          <div class="grid__cell">
            {% if session.proposal %}<div data-href="{{ session.proposal.url_for() }}" class="clickable-card" title="{{ session.title }}">{%- endif %}
              <div class="card">
                {% if session.banner_image_url.url %}
                  <div class="card__header session-card">
                    <img class="card__image session-card__image" src="{{ session.banner_image_url }}" alt="{{ session.title }}"/>
                    {% if session.speaker %}
                      <h4 class="mui--text-title mui--text-bold card__title__heading session-card__title">{{ session.speaker }}</h4>
                    {% endif %}
                  </div>
                {% else %}
                  <div class="card__header">
                    <div class="card__header__title">
                      <h3 class="mui--text-title card__title__heading mui--text-bold">{{ session.title }}</h3>
                      {% if session.speaker %}
                        <h4 class="mui--text-subhead card__title__heading">by {{ session.speaker }}</h4>
                      {% endif %}
                    </div>
                  </div>
                {% endif %}
                <div class="card__body mui--text-body2">
                  <h3 class="mui--text-title card__title__heading  mui--text-bold">{{ session.title }}</h3>
                  <div class="mui--text-body1 mui--text-light truncate">{{ session.description|safe }}</div>
                  <noscript>
                    {% if session.proposal %}
                      <a href="{{ session.proposal.url_for() }}" class="mui-btn mui-btn--small mui-btn--accent" title="View talk" data-action="View talk(project talk card)">View</a>
                    {%- endif %}
                  </noscript>
                </div>
              </div>
            {% if session.proposal %}</div>{%- endif %}
          </div>
        </li>
      {%- endfor -%}
    </ul>
    <div class="grid">
      <div class="grid__col-xs-12">
        <p class="mui--text-left">
        {%- if project.schedule_state.PUBLISHED %}
          <a class="mui-btn mui-btn--raised mui-btn--accent" href="{{ project.url_for('schedule') }}" data-action="View schedule(page)">{% trans %}View Schedule{% endtrans %}</a>
        {%- endif %}
        </p>
      </div>
    </div>
  </div>
  {%- endif %}

  {% if project.boxoffice_data and project.boxoffice_data.item_collection_id or project.allow_rsvp -%}
  <div class="grid project-section" id="participate">
    <div class="grid__col-xs-12">
      {% if project.boxoffice_data and project.boxoffice_data.item_collection_id -%}
        <h2 class="mui--text-display1 mui--text-left project-section__headline">Tickets</h2>
        <div id="boxoffice-widget"><p class="mui--text-body1">Loading...</p></div>
      {%- endif %}
      {% if project.allow_rsvp -%}
        <h2 class="mui--text-display1 mui--text-left project-section__headline">{% trans %}Attending this event?{% endtrans %}</h2>
        {%- if g.user %}
          {{ rsvpform(project, rsvp_form) }}
        {%- else %}
          <p>
            <a href="{{ url_for('login') }}" class='mui-btn mui-btn--raised mui-btn--primary' data-action="Login to rsvp">{% trans %}Login to RSVP{% endtrans %}</a>
          </p>
        {%- endif %}
        {% if project.current_roles.admin or current_auth.permissions.view_rsvps %}
          <a href="{{ project.url_for('rsvp_list') }}">See RSVP list</a>
        {% endif %}
      {%- endif %}
    </div>
  </div>
  {%- endif %}

  {% if project.hasjob_embed_url.url -%}
  <div class="grid project-section" id="related-jobs">
    <div class="grid__col-xs-12">
      <h2 class="mui--text-display1 mui--text-left project-section__headline">Related jobs</h2>
      <div class="hasjob-embed" data-href="{{ project.hasjob_embed_url }}" {% if project.hasjob_embed_limit -%}data-jobpost-limit="{{ project.hasjob_embed_limit }}"{%- else %}data-jobpost-limit="8"{%- endif %}></div>
      <script src="{{ config['HASJOB_SERVER']|url_join('embed.js') }}" type="text/javascript"></script>
    </div>
  </div>
  {%- endif %}

  {%- if project.primary_venue -%}
  <div class="grid project-section" id="venue">
    <div class="grid__col-xs-12">
      <h2 class="mui--text-display1 mui--text-left project-section__headline">Venue</h2>
      <p class="mui--text-body1">{{ project.primary_venue.title }}<br>{{ project.primary_venue.address1 }}<br>{{ project.primary_venue.address2 }}<br>{{ project.primary_venue.city }} {{ project.primary_venue.postcode }}<br>{{ project.primary_venue.state }}<br>{{ project.primary_venue.country }}</p>
      {%- if project.primary_venue.latitude and project.primary_venue.longitude  -%}
        <div id="venue-map" class="project-section__map" data-label="{{ project.primary_venue.title }}" data-markerlat="{{ project.primary_venue.latitude }}" data-markerlng="{{ project.primary_venue.longitude }}"><h2>Loading...</h2></div>
      {%- endif %}
    </div>
  </div>
  {%- endif %}
{% endblock %}

{% block footerscripts %}
  {% if project.allow_rsvp -%}
    {{ ajaxform('rsvp-form', request, force=true) }}
  {%- endif %}
  {% assets "js_jquerysuccinct" -%}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {%- endassets -%}
  <script src="{{ url_for('static', filename=asset_path('project')) }}" type="text/javascript"></script>
  <script type="text/javascript">
    $(function() {
      var projectConfig = {};
      {% if project.boxoffice_data and project.boxoffice_data.item_collection_id -%}
        projectConfig.ticketing = {
          boxofficeUrl: {{ config['BOXOFFICE_SERVER']|tojson }},
          widgetElem: "#boxoffice-widget",
          org: {{ project.boxoffice_data.org|tojson }},
          itemCollectionId: {{ project.boxoffice_data.item_collection_id|tojson }},
          itemCollectionTitle: {{ project.title|tojson }}
        };
      {%- endif %}

      {%- if project.primary_venue.latitude and project.primary_venue.longitude -%}
        projectConfig.venue = {
          mapId: "venue-map",
          latitude: {{ project.primary_venue.latitude|tojson }},
          longitude: {{ project.primary_venue.longitude|tojson }}
        };
      {%- endif %}

      window.HasGeek.ProjectInit(projectConfig);

      $('.truncate').succinct({
        size: 150
      });
    });
  </script>
{% endblock %}
