{% set current_page = 'settings' %}
{% extends "project_layout.html.jinja2" %}
{% block title %}{% trans %}Settings{% endtrans %}{% endblock %}

{% block left_col %}
  {%- if project.current_roles.editor %}
  <div class="page-card page-card--nomargin">
    <div class="project-section" id="admin-panel">
      <h2 class="mui--text-left project-section__headline zero-top-margin">{% trans %}Admin panel{% endtrans %}</h2>
      <div>
        {%- if transition_form %}
          <div>
            <p class="mui--text-body2 zero-bottom-margin mui--text-uppercase" data-cy="project-state">{% trans status=project.state.label.title %}Status: {{ status }}{% endtrans %}</p>
            <form action="{{ project.url_for('transition') }}" method="post" class="form-inline">
              {{ transition_form.hidden_tag() }}
              <p class="btn-group">
                {% for name, transition in transition_form.transition.choices %}
                  <button name="transition" value="{{ name }}" class="transition mui-btn mui-btn--small mui-btn--raised {% if transition.data['type'] == 'success' %} mui-btn--primary {% elif transition.data['type'] == 'danger' %} mui-btn--danger {%- endif %}" title="{{ transition.data['title'] }}" data-cy-state="{{ name }}">{{ transition.data['title'] }}</button>
                {% endfor %}
              </p>
            </form>
          </div>
        {%- endif %}
        {%- if cfp_transition_form %}
          <div>
            <p class="mui--text-body2 zero-bottom-margin mui--text-uppercase" data-cy="cfp-state">{% trans status=project.cfp_state.label.title %}Submission status: {{ status }}{% endtrans %}</p>
            <form action="{{ project.url_for('cfp_transition') }}" method="post" class="form-inline">
              {{ cfp_transition_form.hidden_tag() }}
              <p class="btn-group">
                {% for name, transition in cfp_transition_form.cfp_transition.choices %}
                  <button name="cfp_transition" value="{{ name }}" class="transition mui-btn mui-btn--small mui-btn--raised {% if transition.data['type'] == 'success' %} mui-btn--primary {% elif transition.data['type'] == 'danger' %} mui-btn--danger {%- endif %}" title="{{ transition.data['title'] }}" data-cy-cfp="{{ name }}">{{ transition.data['title'] }}</button>
                {% endfor %}
              </p>
            </form>
          </div>
        {%- endif %}
      </div>
    </div>
  </div>
  {%- endif %}
  <div class="page-card">
    <div id="admin-panel">
      <h2 class="mui--text-left left-padding top-padding zero-top-margin">{% trans %}Project settings{% endtrans %}</h2>
      <div>
        <ul class="mui-list--unstyled mui-list--border mui-list--border--padding">
        {% if project.view_for('edit').is_available() %}
          <li class="margin-bottom">
            <a href="{{ project.url_for('edit') }}" class="nounderline flex-wrapper mui--text-dark" data-cy="edit"><span class="profile-avatar profile-avatar--bigger profile-avatar--rectangle flex-item-noshrink margin-right">{{ faicon(icon='align-left', icon_size='title', baseline=false, css_class='mui--text-light') }}</span><span class="setting"><span class="setting__name mui--text-subhead">{% trans %}Frontmatter{% endtrans %}</span><span class="setting__sub mui--text-light">{% trans %}Title, tagline, banner, description, location and timezone{% endtrans %}</span></span></a>
          </li>
        {% endif %}
        {% if project.view_for('edit_slug').is_available() %}
          <li class="margin-bottom">
            <a href="{{ project.url_for('edit_slug') }}" class="nounderline flex-wrapper mui--text-dark"><span class="profile-avatar profile-avatar--bigger profile-avatar--rectangle flex-item-noshrink margin-right">{{ faicon(icon='link', icon_size='title', baseline=false, css_class='mui--text-light') }}</span><span class="setting"><span class="setting__name mui--text-subhead">{% trans %}Custom URL{% endtrans %}</span><span class="setting__sub mui--text-light">{% trans %}Customize the link to this project{% endtrans %}</span></span></a>
          </li>
        {% endif %}
        {% if project.view_for('edit_livestream').is_available() %}
          <li class="margin-bottom">
            <a href="{{ project.url_for('edit_livestream') }}" class="nounderline flex-wrapper mui--text-dark" data-cy="add-livestream"><span class="profile-avatar profile-avatar--bigger profile-avatar--rectangle flex-item-noshrink margin-right">{{ faicon(icon='video', icon_size='title', baseline=false, css_class='mui--text-light') }}</span><span class="setting"><span class="setting__name mui--text-subhead">{% trans %}Livestream{% endtrans %}</span><span class="setting__sub mui--text-light">{% trans %}Embed a livestream (hosted on YouTube or Vimeo){% endtrans %}</span></span></a>
          </li>
        {% endif %}
        {% if project.view_for('cfp').is_available() -%}
          <li class="margin-bottom">
            <a href="{{ project.url_for('cfp') }}" class="nounderline flex-wrapper mui--text-dark" data-cy="add-cfp"><span class="profile-avatar profile-avatar--bigger profile-avatar--rectangle flex-item-noshrink margin-right">{{ faicon(icon='inbox-in', icon_size='title', baseline=false, css_class='mui--text-light') }}</span><span class="setting"><span class="setting__name mui--text-subhead">{% trans %}Submissions{% endtrans %}</span><span class="setting__sub mui--text-light">{% trans %}Guidelines and timelines for accepting submissions{% endtrans %}</span></span></a>
          </li>
        {%- endif %}
        {% if project.view_for('labels').is_available() %}
          <li class="margin-bottom">
            <a href="{{ project.url_for('labels') }}" class="nounderline flex-wrapper mui--text-dark" data-cy="manage-labels"><span class="profile-avatar profile-avatar--bigger profile-avatar--rectangle flex-item-noshrink margin-right">{{ faicon(icon='tag', icon_size='title', baseline=false, css_class='mui--text-light') }}</span><span class="setting"><span class="setting__name mui--text-subhead">{% trans %}Labels{% endtrans %}</span><span class="setting__sub mui--text-light">{% trans %}Manage workflow labels for submissions{% endtrans %}</span></span></a>
          </li>
        {% endif %}
        {% if project.view_for('edit_schedule').is_available() %}
          <li class="margin-bottom">
            <a href="{{ project.url_for('edit_schedule') }}" class="nounderline flex-wrapper mui--text-dark" data-cy="edit-schedule"><span class="profile-avatar profile-avatar--bigger profile-avatar--rectangle flex-item-noshrink margin-right">{{ faicon(icon='calendar-alt', icon_size='title', baseline=false, css_class='mui--text-light') }}</span><span class="setting"><span class="setting__name mui--text-subhead">{% trans %}Schedule{% endtrans %}</span><span class="setting__sub mui--text-light">{% trans %}Set dates and times for individual sessions{% endtrans %}</span></span></a>
          </li>
        {% endif %}
        {% if project.view_for('rsvp_list').is_available() %}
          <li class="margin-bottom">
            <a href="{{ project.url_for('rsvp_list') }}" class="nounderline flex-wrapper mui--text-dark" data-cy="see-responses"><span class="profile-avatar profile-avatar--bigger profile-avatar--rectangle flex-item-noshrink margin-right">{{ faicon(icon='users', icon_size='title', baseline=false, css_class='mui--text-light') }}</span><span class="setting"><span class="setting__name mui--text-subhead">{% trans %}Participants{% endtrans %}</span><span class="setting__sub mui--text-light">{% trans %}See the list of participants{% endtrans %}</span></span></a>
          </li>
        {% endif %}
        {% if project.view_for('venues').is_available() %}
          <li class="margin-bottom">
            <a href="{{ project.url_for('venues') }}" class="nounderline flex-wrapper mui--text-dark" data-cy="manage-venues"><span class="profile-avatar profile-avatar--bigger profile-avatar--rectangle flex-item-noshrink margin-right">{{ faicon(icon='map-marker-alt', icon_size='title', baseline=false, css_class='mui--text-light') }}</span><span class="setting"><span class="setting__name mui--text-subhead">{% trans %}Venues{% endtrans %}</span><span class="setting__sub mui--text-light">{% trans %}Manage venues for in-person events{% endtrans %}</span></span></a>
          </li>
        {%- endif %}
        {% if project.view_for('edit_boxoffice_data').is_available() %}
          <li class="margin-bottom">
            <a href="{{ project.url_for('edit_boxoffice_data') }}" class="nounderline flex-wrapper mui--text-dark" data-cy="setup-ticket-events"><span class="profile-avatar profile-avatar--bigger profile-avatar--rectangle flex-item-noshrink margin-right">{{ faicon(icon='ticket-alt', icon_size='subhead', baseline=false, css_class='mui--text-light') }}</span><span class="setting flex-wrapper flex-wrapper--center"><span class="setting__name mui--text-subhead">{% trans %}Tickets{% endtrans %}<span class="badge margin-left">{% trans %}Beta{% endtrans %}</span></span><span class="setting__sub mui--text-light">{% trans %}Add the ticketing widget{% endtrans %}</span></span></a>
          </li>
        {% endif %}
        {% if project.view_for('admin').is_available() %}
          <li class="margin-bottom">
            <a href="{{ project.url_for('admin') }}" class="nounderline flex-wrapper mui--text-dark" data-cy="setup-ticket-events"><span class="profile-avatar profile-avatar--bigger profile-avatar--rectangle flex-item-noshrink margin-right">{{ faicon(icon='list', icon_size='subhead', baseline=false, css_class='mui--text-light') }}</span><span class="setting"><span class="setting__name mui--text-subhead">{% trans %}Events{% endtrans %}</span><span class="setting__sub mui--text-light">{% trans %}Setup ticketed events for check-in at venues{% endtrans %}</span></span></a>
          </li>
        {% endif %}
        {% if project.view_for('ticket_events').is_available() %}
          <li class="margin-bottom">
            <a href="{{ project.url_for('ticket_events') }}" class="nounderline flex-wrapper mui--text-dark" data-cy="scan-checkin"><span class="profile-avatar profile-avatar--bigger profile-avatar--rectangle flex-item-noshrink margin-right">{{ faicon(icon='barcode-read', icon_size='title', baseline=false, css_class='mui--text-light') }}</span><span class="setting"><span class="setting__name mui--text-subhead">{% trans %}Badge scanner{% endtrans %}</span><span class="setting__sub mui--text-light">{% trans %}Scan participant badges at in-person events{% endtrans %}</span></span></a>
          </li>
        {% endif %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
