{% set current_page = 'comments' %}
{% extends "project_layout.html.jinja2" %}
{% from "forms.html.jinja2" import renderfield, widgetscripts %}
{%- from "js/comments.js.jinja2" import comments_tree, comment_template %}
{% block title %}{% trans %}Comments{% endtrans %}{% endblock %}

{%- block pageheaders %}
  {% assets "css_codemirrormarkdown" -%}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
  {%- endassets -%}
  <link rel="stylesheet" type="text/css" href="{{ built_asset('css/comments.scss') }}" />
{% endblock %}

{% block left_col %}
  <div class="page-card page-card--nomargin">
    <div class="project-section" id="comments">
      {{ comments_tree() }}
    </div>
    {{ comment_template() }}
  </div>
{% endblock %}

{% block footerinnerscripts %}
  <script src="{{ built_asset('comments.js') }}" type="text/javascript"></script>
  <script type="text/javascript">
    $(function() {
      var commentsConfig = {
        newCommentUrl: "{{ project.commentset.url_for('new') }}",
        commentsUrl: "{{ project.commentset.url_for() }}",
        comments: [],
        divElem: "#comments-wrapper",
        commentTemplate: '#comment-template',
        isuserloggedin: {% if current_auth.user -%}true{% else %}false{% endif %},
        user: {% if current_auth.user -%}{{ { 'fullname': current_auth.user.fullname, 'avatar': current_auth.user.avatar, 'profile_url': current_auth.user.profile_url }|tojson }}{% else %}{}{% endif %},
        loginUrl: "{{ url_for('login') }}",
        lastSeenUrl: {% if project.commentset.current_roles.document_subscriber %}{{ project.commentset.url_for('update_last_seen_at')|tojson }}{% else %}false{% endif %},
        codemirrorUrl: {% assets "js_codemirrormarkdown" -%}{{ ASSET_URL|tojson }}{%- endassets -%}
      };

      window.Hasgeek.Comments(commentsConfig);
    });
  </script>
{% endblock %}
