{% extends "layout.html.jinja2" %}
{% set title_suffix = project.title %}
{%- from "macros.html.jinja2" import faicon, csrf_tag, calendarwidget, saveprojectform, share_dropdown, useravatar, add_submission_btn, img_size %}
{% block title %}{{ project.title }}{% endblock title %}
{% block description %}{{ project.tagline }}{% endblock description %}
{% block twitter_card %}summary_large_image{% endblock twitter_card %}

{% block layoutheaders %}
  <link rel="stylesheet" type="text/css" href="{{ manifest('css/app.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ manifest('css/project.css') }}" />
{% endblock layoutheaders %}

{% block bodyattrs %}class="bg-accent no-sticky-header mobile-header project-page {% if current_page != 'project' %}subproject-page{%- endif %}"{% endblock bodyattrs %}

{% block contenthead %}
{% endblock contenthead %}

{% block baseheadline %}
  <div class="mui--hidden-md mui--hidden-lg mui--hidden-xl mobile-nav-wrapper">
    <div class="mobile-nav mui--z1">
      <a href="{{ project.url_for() }}" aria-label="{% trans %}Back to the project{% endtrans %}" class="js-spa-navigate mui--text-dark mobile-nav__icon" data-ga="Back to the project page">{{ faicon(icon='arrow-left', icon_size='title') }}</a><span class="mui--text-dark mobile-nav__headline">{% block mobile_header_title %}{{ self.title() }}{% endblock mobile_header_title %}</span>
      {% block mobile_header %}{% endblock mobile_header %}
    </div>
  </div>
{% endblock baseheadline %}

{% macro pinned_update(project) %}
  {% with pinned_update = project.pinned_update %}{%- if pinned_update %}
    <ul class="mui-list--unstyled page-card pinned {% if current_page != 'project' %}pinned--inner{%- endif %}">
      <li>
        <p class="top-padding left-padding right-padding zero-bottom-margin">{{ faicon(icon='thumbtack', baseline=false, css_class="mui--text-light mui--align-middle fa-icon--right-margin") }}<span class="pinned__heading mui--text-subhead mui--text-light">{% trans %}Pinned update{% endtrans %}</span></p>
        <a href="{{ pinned_update.urls['view'] }}" class="pinned__update">
          <p class="pinned__update__heading mui-container"><span class="mui--text-subhead text-bold mui--text-dark">{{ pinned_update.title }}</span> <span class="mui--text-subhead mui--text-light pinned__update__body">{%- if not pinned_update.is_currently_restricted %}{{ pinned_update.body.html|preview }} <span class="chip">{% trans %}more{% endtrans %}{{ faicon(icon='caret-right-solid', baseline=false, css_class="mui--align-middle") }}</span>{% else %}<em>{% trans %}This update is for participants only{% endtrans %}</em>{%- endif %}</span></p>
        </a>
      </li>
    </ul>
  {%- endif %}{%- endwith %}
{% endmacro %}

{% macro livestream_edit_btn(project) %}
  {% if project.view_for('edit_livestream').is_available() %}
    <a href="{{ project.url_for('edit_livestream') }}" class="mui-btn mui-btn--raised icon-btn project-banner__box__add-btn" data-testid="add-livestream" aria-label="{% trans %}Update livestream URLs{% endtrans %}">{{ faicon(icon='video-plus', baseline=false) }}</a>
  {% endif %}
{% endmacro %}

{% macro banner_edit_btn(project) %}
  {% if project.view_for('update_banner').is_available() %}
    <a href="{{ project.url_for('update_banner') }}" class="mui-btn mui-btn--raised icon-btn project-banner__box__add-btn project-banner__box__add-btn--second js-modal-form" data-testid="add-project-banner" aria-label="{% trans %}Update banner image{% endtrans %}" rel="modal:open" data-ga="Update project banner">{{ faicon(icon='camera', baseline=false) }}</a>
  {% endif %}
{% endmacro %}

{% macro project_header(project) %}
  {%- if project.livestream_urls %}
    {% if (project.is_restricted_video and project.current_roles.participant) or not project.is_restricted_video %}
      <div class="livestream-box project-banner__left" id="livestream">
        {% if project.livestream_urls|length >= 2 %}
        <ul class="mui-tabs__bar project-banner__box" role="tablist">
          {%- for stream in project.livestream_urls %}
            <li role="presentation"{%- if loop.first %} class="mui--is-active"{% endif %}>
              <a role="tab" data-mui-toggle="tab" data-mui-controls="pane-justified-{{ loop.index }}"
                aria-controls="pane-justified-{{ loop.index }}" id="tab-{{ loop.index }}"
                {%- if loop.first %}tabindex="0" aria-selected="true"{% else %}tabindex="-1" aria-selected="false"{% endif %}
              >{% trans %}Livestream{% endtrans %}{%- if not loop.first %} {{ loop.index }}{% endif %}</a>
            </li>
          {%- endfor %}
        </ul>
        {% endif %}

        {%- for stream in project.livestream_urls %}
          <div role="tabpanel" class="mui-tabs__pane {%- if loop.first %} mui--is-active{% endif %}"
            id="pane-justified-{{ loop.index }}" aria-labelledby="tab-{{ loop.index }}" tabindex="0"
          >
            <div class="project-banner__box">
              {{ livestream_edit_btn(project) }}
              {{ banner_edit_btn(project) }}
              <div class="embed-video-wrapper js-embed-video" data-video-src="{{ stream }}">
                <p class="video_txt">
                  {{ faicon(icon='video', icon_size='display1') }}<br/>
                  <a href="{{ stream }}" target="_blank" rel="noopener" class="mui--text-title">{% trans %}Preview video{% endtrans %}</a>
                </p>
              </div>
            </div>
          </div>
        {%- endfor %}
      </div>
    {%- else %}
      <div class="project-banner__box project-banner__box--banner project-banner__left  subproject-page__hide">
        <div class="bg-primary-dark embed-video-wrapper">
          <div class="video_txt">
            <p class="video__thumbnail__icon">{{ faicon(icon='lock-alt', icon_size='headline', baseline=false) }}</p>
            <p class="mui--text-title mui--text-light">{% trans -%}
            The livestream is for members only. If you are a member, login with the
            email address on your membership.
            {%- endtrans %}</p>
          </div>
        </div>
      </div>
    {%- endif %}
  {%- elif project.banner_video_url.url or project.bg_image.url or project.view_for('edit_livestream').is_available() or project.view_for('update_banner').is_available() %}
    <div class="project-banner__box project-banner__box--banner project-banner__left {% if current_page != 'project' or not project.banner_video_url.url and not project.bg_image.url %}project-banner__left--smaller{%- endif %} subproject-page__hide">
      <div class="embed-video-wrapper embed-video-wrapper--shaped">
        {{ livestream_edit_btn(project) }}
        {{ banner_edit_btn(project) }}
        {% if project.banner_video_url.url %}
          <div class="embed-video-wrapper js-embed-video" data-video-src="{{ project.banner_video_url }}">
            <p class="video_txt">
              {{ faicon(icon='video', icon_size='display1') }}<br/>
              <a href="{{ project.banner_video_url }}" target="_blank" rel="noopener" class="mui--text-title">{% trans %}Preview video{% endtrans %}</a>
            </p>
          </div>
        {%- elif project.bg_image.url %}
          <img class="project-banner__box__image" src="{{ project.bg_image.resize(img_size.spotlight_banner) }}" alt="{{ project.title }}" data-testid="bg_image"/>
        {%- else %}
          <img class="project-banner__box__image" src="{{ url_for('static', filename='img/default-banner.png') }}" alt="{{ project.title }}"/>
        {% endif %}
      </div>
    </div>
  {%- endif %}
  <div class="project-details__box mui--clearfix project-banner__right {% if not project.livestream_urls and not project.banner_video_url.url or not project.bg_image.url %}project-banner__right--smaller{%- endif %} subproject-page__hide">
    <div class="top-padding bottom-padding project-details__box__title">
      <div class="project-banner__profile-details">
        {%- if project.account.logo_url.url %}
          <a href="{{ project.account.absolute_url }}" class="project-banner__profile-details__logo-wrapper" data-ga="View account">
            <img class="project-banner__profile-details__logo_wrapper__logo" src="{{ project.account.logo_url.resize(img_size.profile_logo_small) }}" alt="{{ project.account.title }}"/>
          </a>
        {% endif %}
        <a href="{{ project.account.url_for() }}" class="mui--text-dark mui--text-subhead text-bold nounderline project-banner__profile-details__text" data-testid="profile-link">{{ project.account.title }}</a>
        {% if project.features.subscription and project.current_roles.participant %}
          <span class="chip chip--bg-success project-banner__profile-details__badge text-bold">{{ faicon(icon='crown-solid', baseline=true, css_class="mui--text-success fa-icon--right-margin") }}{% trans %}Member{% endtrans %}</span>
        {% elif project.features.subscription %}
          <span class="chip project-banner__profile-details__badge text-bold">{{ faicon(icon='lock-alt', baseline=true, css_class="fa-icon--right-margin") }}{% trans %}For members{% endtrans %}</span>
        {% endif %}
      </div>
      <h1 class="text-bold zero-top-margin zero-bottom-margin"><a href="{{ project.url_for() }}" class="mui--text-dark nounderline" data-testid="project-page">{{ project.title }}</a></h1>
      <p class="mui--text-heading mui--text-light zero-bottom-margin">{{ project.tagline }}</p>
    </div>
  </div>
{% endmacro %}

{% macro registerblock(project) %}
  <div class="register-block">
    <div class="register-block__content {% if project.features.show_tickets %}register-block__content--half {%- endif %}">
    {%- if project.features.rsvp_registered() %}
      <span class="register-block__content__txt mui--text-light"></span>
      <a id="cancel-rsvp-btn" class="mui-btn mui-btn--accent mui-btn--raised register-block__btn js-register-btn" rel="modal:open" href="#register-modal" aria-haspopup="true">
        <span class="register-block__btn__txt register-block__btn__txt--hover" data-testid="registered">{% if project.features.follow_mode() %}{% trans %}Following{% endtrans %}{% else %}{% trans %}Registered{% endtrans %}{% endif %}{{ faicon(icon='check-circle-solid', icon_size='caption', baseline=true, css_class="mui--text-success fa-icon--left-margin") }}</span>
        <span class="register-block__btn__txt register-block__btn__txt--hover--show">{% if project.features.follow_mode() %}{% trans %}Unfollow{% endtrans %}{% else %}{% trans %}Cancel Registration{% endtrans %}{% endif %}</span>
        <span class="register-block__btn__txt register-block__btn__txt--smaller mui--text-light register-block__btn__txt--mobile">{{ project.views.registration_text() }}</span>
      </a>
      <div class="modal" id="register-modal" role="dialog" aria-labelledby="cancel-rsvp" aria-modal="true" tabindex="-1">
        <div class="modal__header">
          <a class="modal__close mui--text-dark" data-target="close cancel register modal" aria-label="{% trans %}Close{% endtrans %}" rel="modal:close" href="#" onclick="return false;" role="button" tabindex="0">{{ faicon(icon='times', baseline=false, icon_size='title') }}</a>
        </div>
        <div class="modal__body">
          <p class="mui--text-subhead" id="cancel-rsvp">{% if project.features.follow_mode() %}{% trans %}No longer interested?{% endtrans %}{% else %}{% trans %}Can’t make it?{% endtrans %}{% endif %}</p>
          <form action="{{ project.url_for('deregister') }}" method="post" class="form-inline">
            {{ csrf_tag() }}
            <div class="mui--text-right">
              <button class="mui-btn mui-btn--raised" type="submit" name="submit" value="no" data-testid="cancel-rsvp">{% if project.features.follow_mode() %}{% trans %}Stop following{% endtrans %}{% else %}{% trans %}Confirm cancellation{% endtrans %}{% endif %}</button>
            </div>
          </form>
        </div>
      </div>
    {% elif project.features.rsvp() %}
      {%- if current_auth.is_anonymous %}
        <a class="mui-btn mui-btn--raised {% if project.features.show_tickets %} mui-btn--dark {%- else %} mui-btn--primary {%- endif %} register-block__btn" id="register-nav" href="{{ url_for('login', next=request.path + '#register-modal', modal='register-modal') }}" rel="modal:open" aria-haspopup="true" data-register-modal="register-modal">{{ project.views.register_button_text() }}</a>
      {% elif project.features.rsvp_unregistered() -%}
        {% if not project.features.follow_mode() %}<span class="register-block__content__txt mui--text-light">{% trans %}This is a free event{% endtrans %}</span>{% endif %}
        <a id="rsvp-btn" class="mui-btn mui-btn--raised mui-btn--dark register-block__btn js-register-btn" href="{{ project.url_for('rsvp_modal') }}" rel="modal:open" role="button" aria-haspopup="true">
          <span class="register-block__btn__txt" data-testid="unregistered">{{ project.views.register_button_text() }}</span>
          <span class="register-block__btn__txt register-block__btn__txt--smaller primary-color-lighter-txt" data-testid="unregistered">{{ project.views.registration_text() }}</span>
        </a>
      {%- endif %}
    {% elif project.buy_tickets_url.url -%}
      <a class="register-block__btn full-width-btn mui-btn mui-btn--primary" href="{{ project.buy_tickets_url.url }}" data-action="external register url" target="_blank" rel="noopener"><span>{{ faicon(icon='arrow-up-right-from-square', baseline=true, css_class="mui--text-white fa-icon--right-margin") }}{{ project.views.register_button_text() }}</span></a>
    {% endif %}
    </div>
    {% if project.current_roles.account_member %}
      <div class="register-block__content {% if project.features.rsvp() or project.buy_tickets_url.url %} register-block__content--half {%- endif %}"><button class="mui-btn mui-btn--accent register-block__btn mui--is-disabled">{% trans %}You are a member{% endtrans %}</button></div>
    {% elif project.features.show_tickets %}
      <div class="register-block__content {% if project.features.rsvp() or project.buy_tickets_url.url %} register-block__content--half {%- endif %}">
          <button class="js-open-ticket-widget register-block__btn mui-btn mui-btn--primary">
            {% if project.features.subscription %}
              <span class="register-block__btn__txt" data-testid="unregistered">{% trans %}Join{% endtrans %}</span>
            {%- else %}
              <span class="register-block__btn__txt" data-testid="unregistered">{% trans %}Get tickets{% endtrans %}</span>
            {% endif %}
            <span class="register-block__btn__txt register-block__btn__txt--smaller primary-color-lighter-txt js-tickets-available"><span class="js-ticket-price"></span></span>
            <span class="register-block__btn__txt register-block__btn__txt--smaller mui--text-light js-tickets-not-available mui--hide">{% trans %}Sales closed{% endtrans %}</span>
          </button>
      </div>
    {%- endif %}
  </div>
{% endmacro %}

{% macro project_share(project) %}
  <div class="project-header">
    <div class="bookmark">{{ saveprojectform(project, iconsize='title') }}</div>
    <div class="mui-dropdown">
      <a href="#" onclick="return false;" class="project-links left-padding" data-mui-toggle="dropdown" data-ga="Share dropdown" data-testid="share-project" aria-label="{% trans %}Share{% endtrans %}" role="button" aria-haspopup="true" aria-expanded="false">{{ faicon(icon='share-alt', baseline=true, icon_size='title', css_class="mui--text-light") }}</a>
      {{ share_dropdown(project.url_for(_external=true), project.title) }}
    </div>
    <a href="#" onclick="return false;" class="hg-link-btn mui--hide left-padding" data-url="{{ project.url_for(_external=true, utm_source='webshare') }}" role="button" aria-label="{% trans %}Share this project{% endtrans %}">{{ faicon(icon='share-alt', baseline=true, icon_size='title', css_class="mui--text-light") }}</a>
    {% if project.state.PUBLISHED %}
      <a class="add-calendar left-padding" href="{{ project.url_for('subscribe_schedule') }}" rel="modal:open" aria-label="{% trans %}Add to calendar{% endtrans %}" data-ga="Add to calendar" data-testid="add-to-calendar" role="button" aria-haspopup="true">{{ faicon(icon='calendar-plus', baseline=true, icon_size='title', css_class="mui--text-light") }}</a>
    {% endif %}
    {% if current_auth.user and current_auth.user.is_site_editor %}
      <div class="mui-dropdown left-padding">
        <a href="#" onclick="return false;" data-mui-toggle="dropdown" data-ga="Site editor menu" data-testid="site-editor-menu" role="button" aria-haspopup="true" aria-expanded="false" aria-label="{% trans %}Site editor menu{% endtrans %}">{{ faicon(icon='user-gear-duotone', baseline=true, icon_size='title', css_class="mui--text-light") }}</a>
        <ul class="mui-dropdown__menu mui-dropdown__menu--right dropdown-menu">
          <li class="js-dropdown-toggle">
            <div class="mui--text-body2 mui--clearfix">
            {{ faicon(icon='stars', icon_size='subhead', baseline=false, css_class="mui--text-light fa-icon--right-margin mui--pull-left mui--align-middle") }}
            <span class="mui--pull-right dropdown-menu__form">
              <span class="display-inlineblock dropdown-menu__form__label">
                <span class="display-block">{% trans %}Feature this project{% endtrans %}</span>
                <span class="display-block mui--text-caption mui--text-light dropdown-menu__form__label__helptxt">{% trans %}Featured projects appear under Spotlight on the home page{% endtrans %}</span>
              </span>
              <form action="{{ project.url_for('update_featured') }}" method="post" class="display-inlineblock mui--align-top">
                {{ csrf_tag() }}
                <input type="checkbox" name="site_featured" id="featured-project" class="switch-input js-toggle" {%- if project.site_featured %}checked{%- endif %}/>
                <label class="switch-label mui--pull-right" for="featured-project"></label>
              </form>
            </span>
            </div>
          </li>
          <li>
            <a class="mui--text-subhead" href="{{ project.url_for('add_sponsor') }}" rel="modal:open" aria-label="{% trans %}Add sponsor{% endtrans %}" data-ga="Add sponsor" data-testid="add-sponsor" role="button" aria-haspopup="true">{{ faicon(icon='box-dollar', icon_size='subhead', baseline=false, css_class="mui--text-light fa-icon--right-margin mui--align-middle") }}<span class="mui--text-body2">{% trans %}Add sponsor{% endtrans %}</span></a>
          </li>
          <li>
            <a class="mui--text-subhead" href="{{ url_for('shortlink') }}" role="link">{{ faicon(icon='link', icon_size='subhead', baseline=false, css_class="mui--text-light fa-icon--right-margin mui--align-middle") }}<span class="mui--text-body2">{% trans %}Customize shortlink{% endtrans %}</span></a>
          </li>
        </ul>
      </div>
    {%- endif %}
    {%- if project.current_roles.crew -%}
      <div class="mui-dropdown left-padding">
        <a href="#" onclick="return false;" data-mui-toggle="dropdown" data-ga="Project menu" data-testid="project-menu" role="button" aria-haspopup="true" aria-expanded="false" aria-label="{% trans %}Menu{% endtrans %}">{{ faicon(icon='ellipsis-v', baseline=true, icon_size='title', css_class="mui--text-light") }}</a>
        <ul class="mui-dropdown__menu mui-dropdown__menu--right dropdown-menu">
          {%- if project.current_roles.crew -%}
            {% if project.view_for('edit_slug').is_available() %}
              <li><a class="mui--text-subhead" href="{{ project.url_for('edit_slug') }}">{{ faicon(icon='link', icon_size='subhead', baseline=false, css_class="mui--text-light fa-icon--right-margin mui--align-middle") }}<span class="mui--text-body2">{% trans %}Edit URL{% endtrans %}</span></a></li>
            {% endif %}
            {% if project.view_for('edit').is_available() %}
              <li><a class="mui--text-subhead" href="{{ project.url_for('edit') }}" data-testid="edit">{{ faicon(icon='edit', icon_size='subhead', baseline=false, css_class="mui--text-light fa-icon--right-margin mui--align-middle") }}<span class="mui--text-body2">{% trans %}Edit description{% endtrans %}</span></a></li>
            {% endif %}
            <li><a class="mui--text-subhead" href="{{ project.url_for('settings') }}" data-testid="settings">{{ faicon(icon='cog', icon_size='subhead', baseline=false, css_class="mui--text-light fa-icon--right-margin mui--align-middle") }}<span class="mui--text-body2">{% trans %}Settings{% endtrans %}</span></a></li>
            {% if project.view_for('labels').is_available() %}
              <li><a class="mui--text-subhead" href="{{ project.url_for('labels') }}" data-testid="labels">{{ faicon(icon='tag', baseline=false, css_class="mui--text-light fa-icon--right-margin mui--align-middle") }}<span class="mui--text-body2">{% trans %}Manage labels{% endtrans %}</span></a></li>
            {% endif %}
            {% if project.view_for('venues').is_available() %}
              <li><a class="mui--text-subhead" href="{{ project.url_for('venues') }}" data-testid="edit-venue">{{ faicon(icon='map-marker-alt', icon_size='subhead', baseline=false, css_class="mui--text-light fa-icon--right-margin mui--align-middle") }}<span class="mui--text-body2">{% trans %}Update venue{% endtrans %}</span></a></li>
            {% endif %}
            {% if project.view_for('rsvp_list').is_available() %}
              <li><a class="mui--text-subhead" href="{{ project.url_for('rsvp_list') }}" data-testid="see-responses">{{ faicon(icon='users', icon_size='subhead', baseline=false, css_class="mui--text-light fa-icon--right-margin mui--align-middle") }}<span class="mui--text-body2">{% trans %}View participants{% endtrans %}</span></a></li>
            {% endif %}
            {% if project.view_for('proposals_csv').is_available() %}
              <li><a class="mui--text-subhead" href="{{ project.url_for('proposals_csv') }}" data-testid="submissions-csv">{{ faicon(icon='download', icon_size='subhead', baseline=false, css_class="mui--text-light fa-icon--right-margin mui--align-middle") }}<span class="mui--text-body2">{% trans %}Download submissions CSV{% endtrans %}</span></a></li>
            {% endif %}
          {%- endif %}
        </ul>
      </div>
    {% endif %}
  </div>
{% endmacro %}

{% macro project_about(project) %}
  {% if project.view_for('edit').is_available() and project.state.DRAFT %}
    <div class="page-card page-card--nooverflow">
      <div class="alert alert--warning zero-top-margin zero-bottom-margin">
        <a href="{{ project.url_for('settings') }}" class="alert__text nounderline">{% trans %}This project is not published. Visit settings to publish{% endtrans %} {{ faicon(icon='arrow-right') }}</a>
      </div>
    </div>
  {% endif %}
  <div class="page-card">
    <div class="project-section">
      <div class="about bg-primary" id="about">
        <div class="markdown">{{ project.description }}</div>
        {%- if project.subprojects %}
          <hr class="mui-divider" />
          <h3 class="mui--text-left">{% trans %}Related events{% endtrans %}</h3>
          <ul class="grid grid-no-left-padding grid-no-right-padding">
            {% for subproject in project.subprojects %}
              <li class="grid__col-12 grid__col-xs-12 grid__col-sm-6">
                <a href="{{ subproject.url_for() }}" class="clickable-card card" aria-label="{{ subproject.title }}" data-ga="View subproject">
                  <div class="card__header">
                    <div class="card__header__title">
                      <h4 class="card__title__heading">{{ subproject.title }}</h4>
                      <p class="card__title__heading">{{ subproject.datelocation }}</p>
                    </div>
                  </div>
                  {% if subproject.tagline %}
                    <div class="card__body">
                      <p>{{ subproject.tagline }}</p>
                    </div>
                  {% endif %}
                </a>
              </li>
            {%- endfor -%}
          </ul>
        {%- endif %}
      </div>
    </div>
  </div>
{% endmacro %}

{% macro project_details(project) %}
  <div>
    {% if project.view_for('edit_schedule').is_available() and not project.start_at %}
      <p class="project-details__box__content--lesspadding propose"><a class="mui-btn mui-btn--raised mui-btn--dark display-block" href="{{ project.url_for('edit_schedule') }}">{% trans %}Add schedule{% endtrans %}</a></p>
    {%- endif %}
    {{ add_submission_btn(project) }}
    {%- if project.primary_venue %}
      <p class="project-venue project-details__box__content--lesspadding"><a class="mui--text-hyperlink mui--text-subhead {% if current_page == 'project' %}js-smooth-scroll{%- endif %}" href="{%- if current_page != 'project' -%}{{ project.url_for() }}{%- endif %}#venue" data-ga="View venue">{{ faicon(icon='map-marker-alt') }} <span>{{ project.primary_venue.title }}</span>{%- if project.primary_venue.city %}, <span>{{ project.primary_venue.city }}</span>{%- endif %}</a></p>
    {%- endif %}
  </div>
{% endmacro %}

{% macro project_host_sponsor(project) %}
  <p class="mui--text-subhead text-bold mui--text-light">{% trans %}Hosted by{% endtrans %}</p>
  <div class="card card--shaped card--lessmargin">
    <div class="card__body margin-bottom">
      <div class="flex-wrapper flex-wrapper--center">
        <div class="user user--smaller">
          <div class="user__box">
            <a href="{{ project.account.absolute_url }}" class="nounderline">
              {%- if project.account.logo_url.url %}
                <img class="user__box__gravatar" src="{{ project.account.logo_url.resize(img_size.profile_logo_small) }}" alt="{{ project.account.title }}"/>
              {%- else %}
                <div class="user__box__gravatar user__box__gravatar--initials" data-avatar-colour="{{ project.account.views.avatar_color_code }}">{{ project.account.title|initials }}</div>
              {% endif %}
            </a>
          </div>
        </div>
        <a href="{{ project.account.absolute_url }}" class="mui--text-dark mui--text-subhead text-bold nounderline" data-testid="profile-card-link">{{ project.account.title }}</a>
      </div>
      {% if project.account.description.html %}
        <div class="mui--text-body2 mui--text-light margin-bottom">{{ project.account.description.html|preview(min=200, max=300) }} <a href="{{ project.account.absolute_url }}" class="chip mui--text-body2 nounderline">{% trans %}more{% endtrans %}{{ faicon(icon='caret-right-solid', baseline=false, css_class="mui--align-middle") }}</a></div>
      {% endif %}
    </div>
  </div>
  {%- if project.has_sponsors %}
  <p class="mui--text-subhead text-bold mui--text-light">{% trans %}Supported by{% endtrans %}</p>
  {%- endif %}
  <div class="sponsors-wrapper">
  {% for sponsorship in project.sponsor_memberships %}
  {%- with sponsor_public = sponsorship.member.profile_state.ACTIVE_AND_PUBLIC %}
      {% if current_auth.user and current_auth.user.is_site_editor %}
        <div id="{{ sponsorship.uuid_b58 }}" class="sortable" data-drag-placeholder="ui-box-placeholder" draggable="true">
      {%- endif %}
      <div class="card card--shaped card--lessmargin" data-testid="sponsor-card">
        <div class="card__body margin-bottom">
          <div class="flex-wrapper flex-wrapper--center flex-wrapper--space-between">
            <div>
            {% if sponsorship.label %}
              <p class="mui--text-body2 mui--text-light zero-bottom-margin">{{ sponsorship.label }}</p>
            {% endif %}
            </div>
            {% if current_auth.user and current_auth.user.is_site_editor %}
              {{ faicon(icon='grip-vertical', baseline=false, css_class="margin-top drag-handle") }}
            {%- endif %}
          </div>
          <div class="flex-wrapper flex-wrapper--center">
            <div class="user user--smaller">
              <div class="user__box">
                <a {% if sponsor_public %}href="{{ sponsorship.member.absolute_url }}"{% endif %} class="nounderline">
                  {%- if sponsorship.member.logo_url.url %}
                    <img class="user__box__gravatar" src="{{ sponsorship.member.logo_url.resize(img_size.profile_logo_small) }}" alt="{{ sponsorship.member.title }}"/>
                  {%- else %}
                    <div class="user__box__gravatar user__box__gravatar--initials">{{ sponsorship.member.title|initials }}</div>
                  {% endif %}
                </a>
              </div>
            </div>
            <a {% if sponsor_public %}href="{{ sponsorship.member.absolute_url }}"{% endif %} class="mui--text-dark mui--text-subhead text-bold nounderline" data-testid="sponsor-link">{{ sponsorship.member.title }}</a>
            {% if current_auth.user and current_auth.user.is_site_editor %}
              <a href="{{ sponsorship.url_for('edit') }}" rel="modal:open" aria-label="{% trans %}Edit sponsor{% endtrans %}" data-ga="Edit sponsor" data-testid="edit-sponsor" role="button" aria-haspopup="true">{{ faicon(icon='edit', baseline=false, css_class="mui--text-light mui--align-middle fa-icon--left-margin fa-icon--right-margin") }}</a>
              <a href="{{ sponsorship.url_for('remove') }}" rel="modal:open" aria-label="{% trans %}Remove sponsor{% endtrans %}" data-ga="Remove sponsor" data-testid="remove-sponsor" role="button" aria-haspopup="true">{{ faicon(icon='trash-alt', baseline=false, css_class="mui--text-light mui--align-middle") }}</a>
            {% endif %}
          </div>
          {% if sponsorship.member.description.html %}
            <div class="mui--text-body2 mui--text-light margin-bottom">{{ sponsorship.member.description.html|preview(min=200, max=300) }} {% if sponsor_public %}<a href="{{ sponsorship.member.absolute_url }}" class="chip mui--text-body2 nounderline">{% trans %}more{% endtrans %}{{ faicon(icon='caret-right-solid', baseline=false, css_class="mui--align-middle") }}</a>{% endif %}</div>
          {% endif %}
          {% if sponsorship.is_promoted %}
            <div class="margin-bottom"><p class="mui--text-body2 text-bold mui--text-light zero-bottom-margin">{{ faicon(icon='angle-double-up', baseline=false, css_class="mui--text-light fa-icon--right-margin mui--align-middle") }}<span data-testid="promoted">{% trans %}Promoted{% endtrans %}</span></p></div>
          {% endif %}
        </div>
      </div>
      {% if current_auth.user and current_auth.user.is_site_editor %}
        </div>
      {%- endif %}
  {%- endwith %}
  {% endfor %}
  </div>
{% endmacro %}

{% block basecontent %}
  {% block project_banner %}
    <div class="bg-primary project-header-wrapper">
      <div class="mui-container">
        <div class="grid page-content">
          <div class="grid__col-sm-12">
            <div class="project-banner {% if current_page != 'project' %}project-banner--inner{%- endif %}">
              {{ project_header(project) }}
            </div>
            <div class="project-banner">
              <div class="mui--hidden-md mui--hidden-lg mui--hidden-xl project-details-header subproject-page__hide">
                <div class="project-details__box">
                  {% if project.start_at and project.calendar_weeks_full.weeks and project.calendar_weeks_full.weeks|length > 0 %}
                    <div class="project-details__box__content">
                      <div aria-label="{{ project.datelocation }}">
                        {{ calendarwidget(project.calendar_weeks_full, compact=false) }}
                      </div>
                    </div>
                  {% endif %}
                  {{ project_details(project) }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% if project.features.show_tickets -%}
      <div class="tickets-wrapper">
        <div class="tickets-wrapper__modal tickets-wrapper__modal--project-page">
          <div class="mui--hidden-md mui--hidden-lg mui--hidden-xl tickets-wrapper__modal__back mobile-nav-wrapper">
            <div class="mobile-nav mui--z1">
              <a href="{{ project.url_for() }}" aria-label="{% trans %}Back to the project{% endtrans %}" class="mui--text-dark mobile-nav__icon" id="close-ticket-widget" data-ga="Back to the project page">{{ faicon(icon='arrow-left', icon_size='title') }}</a><span class="mui--text-dark mobile-nav__headline">{% trans %}Tickets{% endtrans %}</span>
            </div>
          </div>
          <div id="tickets" class="tickets-wrapper__modal__body">
            <a href="{{ project.url_for() }}" aria-label="{% trans %}Close tickets{% endtrans %}" class="tickets-wrapper__modal__body__close" id="close-ticket-widget" data-ga="Close tickets">{{ faicon(icon='times', baseline=false, icon_size='title') }}</a>
            <div id="boxoffice-widget"><p class="mui--text-body2">{% trans %}Loading…{% endtrans %}</p></div>
          </div>
        </div>
      </div>
    {%- endif %}
  {% endblock project_banner %}

  {% block before_navbar %}
    <div class="mui-container project-page-details subproject-page__hide">
      <div class="grid">
        <div class="grid__col-sm-12 mui--hidden-md mui--hidden-lg mui--hidden-xl">
          {{ pinned_update(project) }}
          {{ project_about(project) }}
          <div class="top-padding">
            {{ project_host_sponsor(project) }}
          </div>
        </div>
      </div>
    </div>
  {%- endblock before_navbar %}

  {% block project_navbar %}
    <div class="bg-primary sub-navbar-container sub-navbar-container--sticky mui--z1 {% if current_page != 'project' %}sub-navbar-container--inner{%- endif %} subproject-page__hide">
      <div class="mui-container">
        <div class="sub-navbar-container__inner">
          <nav class="sub-navbar" id="page-navbar">
            <a id="overview" class="js-spa-navigate sub-navbar__item mui--text-subhead mui--text-dark mui--hidden-xs mui--hidden-sm {% if current_page == 'project' %}sub-navbar__item--active{%- endif %}" href="{{ project.url_for() }}" data-testid="about">{% trans %}Project overview{% endtrans %}</a>
            {%- if project.hasjob_embed_url.url -%}
              <a class="sub-navbar__item mui--text-subhead mui--text-dark" href="{{ project.url_for() }}#related-jobs" data-testid="jobs">{% trans %}Jobs{% endtrans %} <span class="sub-navbar__item__icon mui--pull-right">{{ faicon(icon='chevron-right', icon_size='subhead') }}</span></a>
            {%- endif %}
            <a id="updates" class="js-spa-navigate sub-navbar__item mui--text-subhead mui--text-dark {% if current_page == 'updates' %}sub-navbar__item--active{%- endif %}" href="{{ project.url_for('updates') }}" data-testid="updates">{% trans %}Updates{% endtrans %} <span class="sub-navbar__item__icon mui--pull-right">{{ faicon(icon='chevron-right', icon_size='subhead') }}</span></a>
            <a id="comments" class="js-spa-navigate sub-navbar__item mui--text-subhead mui--text-dark {% if current_page == 'comments' %}sub-navbar__item--active{%- endif %}" href="{{ project.url_for('comments') }}" data-testid="comments">{% trans %}Comments{% endtrans %} <span class="sub-navbar__item__icon mui--pull-right">{{ faicon(icon='chevron-right', icon_size='subhead') }}</span></a>
            {%- if project.current_roles.editor or not project.cfp_state.NONE -%}
              <a id="submissions" class="js-spa-navigate sub-navbar__item mui--text-subhead mui--text-dark {% if current_page == 'submissions' %}sub-navbar__item--active{%- endif %}" href="{{ project.url_for('view_proposals') }}" data-testid="submissions">{% trans %}Submissions{% endtrans %} <span class="sub-navbar__item__icon mui--pull-right">{{ faicon(icon='chevron-right', icon_size='subhead') }}</span></a>
            {%- endif %}
            {%- if project.current_roles.editor or project.schedule_start_at or current_page == 'schedule' %}
              <a id="schedule" class="js-spa-navigate sub-navbar__item mui--text-subhead mui--text-dark {% if current_page == 'schedule' %}sub-navbar__item--active{%- endif %}" href="{{ project.url_for('schedule') }}" data-testid="schedule">{% trans %}Schedule{% endtrans %} <span class="sub-navbar__item__icon mui--pull-right">{{ faicon(icon='chevron-right', icon_size='subhead') }}</span></a>
            {%- endif %}
            {% if project.has_sessions_with_video %}
              <a id="videos" class="js-spa-navigate sub-navbar__item mui--text-subhead mui--text-dark {% if current_page == 'videos' %}sub-navbar__item--active{%- endif %}" href="{{ project.url_for('session_videos') }}" data-testid="videos">{% trans %}Videos{% endtrans %} <span class="sub-navbar__item__icon mui--pull-right">{{ faicon(icon='chevron-right', icon_size='subhead') }}</span></a>
            {%- endif %}
            <a id="crew" class="js-spa-navigate sub-navbar__item mui--text-subhead mui--text-dark {% if current_page == 'crew' %}sub-navbar__item--active{%- endif %}" href="{{ project.url_for('crew') }}" data-testid="crew">{% trans %}Crew{% endtrans %} <span class="sub-navbar__item__icon mui--pull-right">{{ faicon(icon='chevron-right', icon_size='subhead') }}</span></a>
          </nav>
          <div class="{% if current_page == 'comments' %}comments-page{%- endif %}">
            {{ project_share(project) }}
          </div>
        </div>
      </div>
    </div>
  {%- endblock project_navbar %}

  <div class="mui-container project-page__content">
    <div class="grid">
      <div class="js-spa-content grid__col-sm-6 grid__col-md-7 grid__col-lg-8">
        {% block left_col %}{% endblock left_col %}
      </div>
      {% block right_col %}
        <div class="grid__col-sm-6 grid__col-md-5 grid__col-lg-4">
          <div class="project-details">
            <div class="card card--shaped card--lessmargin">
              <div class="card__body project-banner">
                <div class="project-details__box">
                  {% if project.start_at and project.calendar_weeks_full.weeks and project.calendar_weeks_full.weeks|length > 0 %}
                    <div class="project-details__box__content mui--hidden-xs mui--hidden-sm">
                      <div aria-label="{{ project.datelocation }}">
                        {{ calendarwidget(project.calendar_weeks_full, compact=false) }}
                      </div>
                    </div>
                  {% endif %}
                  <div class="project-footer {% if current_page == 'project' %}project-footer--main{%- endif %}">
                    {{ registerblock(project) }}
                  </div>
                  <div class="mui--hidden-xs mui--hidden-sm">
                    {{ project_details(project) }}
                  </div>
                </div>
              </div>
            </div>
            <div class="mui--hidden-xs mui--hidden-sm">
              {{ project_host_sponsor(project) }}
            </div>
          </div>
        </div>
      {% endblock right_col %}
    </div>
 </div>
{% endblock basecontent %}

{% block footerscripts %}
  <script src="{{ manifest('project_header.js') }}" type="text/javascript"></script>
  <script type="text/javascript">
    $(function() {
      var projectTitle = {{ project.title|tojson }};
      var saveProjectConfig = {
        formId: 'save-form',
      };
      var tickets;
      var toggleId;
      var sort;

      {% if project.features.show_tickets -%}
        tickets = {
          boxofficeUrl: {{ config['BOXOFFICE_SERVER']|tojson }},
          widgetElem: "#boxoffice-widget",
          org: {{ project.boxoffice_data.org|tojson }},
          itemCollectionId: {{ project.boxoffice_data.item_collection_id|tojson }},
          itemCollectionTitle: {{ project.title|tojson }}
        };
      {%- endif %}
      {% if current_auth.user and current_auth.user.is_site_editor %}
        toggleId = '#featured-project',
        sort = {
          url: {{ project.url_for("reorder_sponsors")|tojson }},
          wrapperElem: '.sponsors-wrapper',
          placeholder: 'ui-box-placeholder'
        };
      {%- endif %}

      window.Hasgeek.projectHeaderInit(projectTitle, saveProjectConfig, tickets, toggleId, sort);
    });
  </script>
  {% block footerinnerscripts %}{% endblock footerinnerscripts %}
{% endblock footerscripts %}
