{% set current_page = 'updates' %}
{% extends "project_layout.html.jinja2" %}
{% from "forms.html.jinja2" import renderfield, widgetscripts %}
{%- from "js/update.js.jinja2" import updates_template %}
{% block title %}{% trans %}Updates{% endtrans %}{% endblock %}

{% block pageheaders %}
  <link rel="stylesheet" type="text/css" href="{{ built_asset('css/update.scss') }}" />
{% endblock %}

{% block left_col %}
  <div class="page-card page-card--nomargin">
    <div id="updates" class="project-section">
      {% if project.features.post_update() -%}
        <a class="update-form-block" href="{{ project.url_for('new_update') }}" aria-label="{% trans %}Add new update{% endtrans %}" data-cy-btn="add-update">
          <div class="user">
            <div class="user__box">
              {{ useravatar(current_auth.user, add_profile_link=false) }}
              <input type="text" placeholder="{% trans %}Post an update…{% endtrans %}" />
            </div>
          </div>
        </a>
      {%- endif %}
      {{ updates_template() }}
      {% if not project.published_updates -%}
        <p>{% trans %}This project has not posted any updates yet{% endtrans %}</p>
      {%- endif %}
    </div>
  </div>
{% endblock %}

{% block footerinnerscripts %}
  <script src="{{ built_asset('update.js') }}" type="text/javascript"></script>
  <script type="text/javascript">
    $(function() {
      var updateConfig = {
        draft: {% if draft_updates -%} {{ draft_updates|tojson }} {%- else -%} [] {%- endif %},
        updates: {% if published_updates -%} {{ published_updates|tojson }} {%- else -%} [] {%- endif %},
        divElem: "#updates-wrapper",
        updateTemplate: '#update-template',
        isEditor: {{ project.features.post_update()|tojson }},
        addReadMore: true,
      };
      window.Hasgeek.updatesInit(updateConfig);
    });
  </script>
{% endblock %}
