{% set current_page = 'settings' %}
{% extends "project_layout.html.jinja2" %}
{% block title %}{% trans %}Settings{% endtrans %}{% endblock %}

{% block left_col %}
  <div class="page-card page-card--nomargin">
    <div class="project-section" id="admin-panel">
      <h2 class="mui--text-left project-section__headline zero-top-margin">{% trans %}Admin panel{% endtrans %}</h2>
      <div>
        {%- if project.current_roles.editor %}
          {%- if transition_form %}
            <div>
              <p class="mui--text-body2 zero-bottom-margin mui--text-uppercase" data-cy="project-state">{% trans status=project.state.label.title %}Status: {{ status }}{% endtrans %}</p>
              <form action="{{ project.url_for('transition') }}" method="post" class="form-inline">
                {{ transition_form.hidden_tag() }}
                <p class="btn-group">
                  {% for name, transition in transition_form.transition.choices %}
                    <button name="transition" value="{{ name }}" class="transition mui-btn mui-btn--small mui-btn--raised {% if transition.data['type'] == 'success' %} mui-btn--primary {% elif transition.data['type'] == 'danger' %}  mui-btn--danger {%- endif %}" title="{{ transition.data['title'] }}"  data-cy-state="{{ name }}">{{ transition.data['title'] }}</button>
                  {% endfor %}
                </p>
              </form>
            </div>
          {%- endif %}
          {%- if cfp_transition_form %}
            <div>
              <p class="mui--text-body2 zero-bottom-margin mui--text-uppercase" data-cy="cfp-state">{% trans status=project.cfp_state.label.title %}Submission status: {{ status }}{% endtrans %}</p>
              <form action="{{ project.url_for('cfp_transition') }}" method="post" class="form-inline">
                {{ cfp_transition_form.hidden_tag() }}
                <p class="btn-group">
                  {% for name, transition in cfp_transition_form.cfp_transition.choices %}
                    <button name="cfp_transition" value="{{ name }}" class="transition mui-btn mui-btn--small mui-btn--raised {% if transition.data['type'] == 'success' %} mui-btn--primary {% elif transition.data['type'] == 'danger' %}  mui-btn--danger {%- endif %}" title="{{ transition.data['title'] }}" data-cy-cfp="{{ name }}">{{ transition.data['title'] }}</button>
                  {% endfor %}
                </p>
              </form>
            </div>
          {%- endif %}
        {%- endif %}
      </div>
    </div>
  </div>
  <div class="page-card page-card--nomargin">
    <div class="project-section" id="admin-panel">
      <h2 class="mui--text-left project-section__headline zero-top-margin">{% trans %}Project settings{% endtrans %}</h2>
      <div>
        <ul class="mui-list--unstyled">
        {% if project.view_for('edit').is_available() %}
          <li class="margin-bottom">
            <a href="{{ project.url_for('edit') }}" class="nounderline flex-wrapper mui--text-dark" data-cy="edit"><span class="profile-avatar profile-avatar--bigger profile-avatar--rectangle flex-item-noshrink margin-right">{{ faicon(icon='align-left', icon_size='subhead', baseline=false, css_class='mui--text-light') }}</span><span class="setting"><span class="setting__name mui--text-subhead">{% trans %}Project details{% endtrans %}</span><span class="setting__sub mui--text-light">{% trans %}Title, tagline, location, timezone, image and description{% endtrans %}</span></span></a>
          </li>
        {% endif %}
        {% if project.view_for('edit_slug').is_available() %}
          <li class="margin-bottom">
            <a href="{{ project.url_for('edit_slug') }}" class="nounderline flex-wrapper mui--text-dark"><span class="profile-avatar profile-avatar--bigger profile-avatar--rectangle flex-item-noshrink margin-right">{{ faicon(icon='link', icon_size='subhead', baseline=false, css_class='mui--text-light') }}</span><span class="setting"><span class="setting__name mui--text-subhead">{% trans %}Project URL{% endtrans %}</span><span class="setting__sub mui--text-light">{% trans %}Link to this project{% endtrans %}</span></span></a>
          </li>
        {% endif %}
        {% if project.view_for('edit_livestream').is_available() %}
          <li class="margin-bottom">
            <a href="{{ project.url_for('edit_livestream') }}" class="nounderline flex-wrapper mui--text-dark" data-cy="add-livestream"><span class="profile-avatar profile-avatar--bigger profile-avatar--rectangle flex-item-noshrink margin-right">{{ faicon(icon='video', icon_size='subhead', baseline=false, css_class='mui--text-light') }}</span><span class="setting"><span class="setting__name mui--text-subhead">{% trans %}Livestream URL{% endtrans %}</span><span class="setting__sub mui--text-light">{% trans %}Link to livestream (Youtube/Vimeo){% endtrans %}</span></span></a>
          </li>
        {% endif %}
        {% if project.view_for('venues').is_available() %}
          <li class="margin-bottom">
            <a href="{{ project.url_for('venues') }}" class="nounderline flex-wrapper mui--text-dark" data-cy="manage-venues"><span class="profile-avatar profile-avatar--bigger profile-avatar--rectangle flex-item-noshrink margin-right">{{ faicon(icon='map-marker-alt', icon_size='subhead', baseline=false, css_class='mui--text-light') }}</span><span class="setting"><span class="setting__name mui--text-subhead">{% trans %}Venues{% endtrans %}</span><span class="setting__sub mui--text-light">{% trans %}{% endtrans %}</span></span></a>
          </li>
        {%- endif %}
        {% if project.view_for('cfp').is_available() -%}
          <li class="margin-bottom">
            <a href="{{  project.url_for('cfp') }}" class="nounderline flex-wrapper mui--text-dark" data-cy="add-cfp"><span class="profile-avatar profile-avatar--bigger profile-avatar--rectangle flex-item-noshrink margin-right">{{ faicon(icon='inbox-in', icon_size='subhead', baseline=false, css_class='mui--text-light') }}</span><span class="setting"><span class="setting__name mui--text-subhead">{% trans %}Submission Guidelines{% endtrans %}</span><span class="setting__sub mui--text-light">{% trans %}Guidelines to adhere to when making a submission{% endtrans %}</span></span></a>
          </li>
        {%- endif %}
        {% if project.view_for('edit_schedule').is_available() %}
          <li class="margin-bottom">
            <a href="{{  project.url_for('edit_schedule') }}" class="nounderline flex-wrapper mui--text-dark" data-cy="edit-schedule"><span class="profile-avatar profile-avatar--bigger profile-avatar--rectangle flex-item-noshrink margin-right">{{ faicon(icon='calendar-alt', icon_size='subhead', baseline=false, css_class='mui--text-light') }}</span><span class="setting"><span class="setting__name mui--text-subhead">{% trans %}Schedule{% endtrans %}</span><span class="setting__sub mui--text-light">{% trans %}Itenerary for this project{% endtrans %}</span></span></a>
          </li>
        {% endif %}
        {% if project.view_for('labels').is_available() %}
          <li class="margin-bottom">
            <a href="{{  project.url_for('labels') }}" class="nounderline flex-wrapper mui--text-dark" data-cy="manage-labels"><span class="profile-avatar profile-avatar--bigger profile-avatar--rectangle flex-item-noshrink margin-right">{{ faicon(icon='tag', icon_size='subhead', baseline=false, css_class='mui--text-light') }}</span><span class="setting"><span class="setting__name mui--text-subhead">{% trans %}Labels{% endtrans %}</span><span class="setting__sub mui--text-light">{% trans %}Helps manage and categorise submissions{% endtrans %}</span></span></a>
          </li>
        {% endif %}
        {% if project.view_for('admin').is_available() %}
          <li class="margin-bottom">
            <a href="{{  project.url_for('admin') }}" class="nounderline flex-wrapper mui--text-dark" data-cy="setup-ticket-events"><span class="profile-avatar profile-avatar--bigger profile-avatar--rectangle flex-item-noshrink margin-right">{{ faicon(icon='ticket-alt', icon_size='subhead', baseline=false, css_class='mui--text-light') }}</span><span class="setting"><span class="setting__name mui--text-subhead">{% trans %}Events{% endtrans %}</span><span class="setting__sub mui--text-light">{% trans %}Setup ticketed events for check-in{% endtrans %}</span></span></a>
          </li>
        {% endif %}
        {% if project.view_for('ticket_events').is_available() %}
          <li class="margin-bottom">
            <a href="{{ project.url_for('ticket_events') }}" class="nounderline flex-wrapper mui--text-dark" data-cy="scan-checkin"><span class="profile-avatar profile-avatar--bigger profile-avatar--rectangle flex-item-noshrink margin-right">{{ faicon(icon='barcode-read', icon_size='subhead', baseline=false, css_class='mui--text-light') }}</span><span class="setting"><span class="setting__name mui--text-subhead">{% trans %}Badge scanner{% endtrans %}</span><span class="setting__sub mui--text-light">{% trans %}Scan attendee badges at offline/location based projects{% endtrans %}</span></span></a>
          </li>
        {% endif %}
        {% if project.view_for('rsvp_list').is_available() %}
          <li class="margin-bottom">
            <a href="{{ project.url_for('rsvp_list') }}" class="nounderline flex-wrapper mui--text-dark" data-cy="see-responses"><span class="profile-avatar profile-avatar--bigger profile-avatar--rectangle flex-item-noshrink margin-right">{{ faicon(icon='users', icon_size='subhead', baseline=false, css_class='mui--text-light') }}</span><span class="setting"><span class="setting__name mui--text-subhead">{% trans %}View participants{% endtrans %}</span><span class="setting__sub mui--text-light">{% trans %}{% endtrans %}</span></span></a>
          </li>
        {% endif %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
