{% extends "layout.html.jinja2" %}
{% set title_suffix = project.title %}
{% from "forms.html.jinja2" import renderfield %}
{% from "macros.html.jinja2" import faicon, csrf_tag %}
{% block title %}{% trans %}Setup events for check-in{% endtrans %}{% endblock title %}

{% block top_title %}
  <h1 class="mui--text-headline"><a href="{{ project.url_for() }}">{{ project.title }}</a></h1>
  <p class="mui--text-subhead">{% trans %}Setup events for check-in{% endtrans %}</p>
{% endblock top_title %}

{% block contentwrapper %}
<div class="grid">
  <div class="grid__col-xs-12 grid__col-sm-6 grid__col-md-4">
    <div class="card">
      <div class="card__header">
        <h3 class="mui--text-title">{% trans %}Events{% endtrans %}</h3>
        {%- if ticket_events %}
          <p class="mui--text-caption">{% trans %}Select an event for manual check-in of attendees{% endtrans %}</p>
        {%- else %}
          <p class="mui--text-caption">{% trans %}Add events to manage check-in{% endtrans %}</p>
        {%- endif %}
      </div>
      <div class="card__body">
        <ol class="mui-list--aligned">
          {%- for ticket_event in ticket_events %}
            <li>
              <a href="{{ ticket_event.url_for('view') }}" class="mui--text-subhead" data-cy="{{ ticket_event.title }}" data-ga="View event">{{ ticket_event.title }}</a>{%- if project.current_roles.promoter %}&nbsp;<a href="{{ ticket_event.url_for('edit') }}" aria-label="{% trans %}Edit{% endtrans %}" data-ga="edit event">{{ faicon(icon='edit', icon_size='subhead') }}</a>{%- endif %}
            </li>
          {%- endfor %}
        </ol>
      </div>
      {%- if project.current_roles.promoter %}
      <div class="mui-divider"></div>
      <div class="card__footer">
        <a href="{{ project.url_for('new_event') }}" class="mui-btn mui-btn--small mui-btn--flat mui-btn--primary" data-cy="new-ticket-event">{% trans %}New ticketed event{% endtrans %}</a>
        {%- if ticket_events %}
          <a href="{{ project.url_for('new_participant') }}" class="mui-btn mui-btn--small mui-btn--flat mui-btn--accent" data-cy="add-ticket-participant">{% trans %}Add ticketed participant{% endtrans %}</a>
        {%- endif %}
      </div>
      {%- endif %}
    </div>
  </div>

 {%- if project.current_roles.promoter %}
  <div class="grid__col-xs-12 grid__col-sm-6 grid__col-md-4">
    <div class="card">
      <div class="card__header">
        <h3 class="mui--text-title">{% trans %}Tickets{% endtrans %}</h3>
      </div>
      <div class="card__body">
        <ol class="mui-list--aligned">
          {%- for ticket_type in ticket_types -%}
            <li data-cy-ticket="{{ ticket_type.title }}">
              <a href="{{ ticket_type.url_for() }}" class="mui--text-subhead" data-ga="View ticket type">{{ ticket_type.title }}</a>{%- if project.current_roles.promoter %}&nbsp;<a href="{{ ticket_type.url_for('edit') }}" aria-label="{% trans %}Edit{% endtrans %}" data-cy="ticket-edit"  data-ga="edit ticket type">{{ faicon(icon='edit', icon_size='subhead') }}</a>{%- endif %}
            </li>
          {%- endfor %}
        </ol>
      </div>
      <div class="mui-divider"></div>
      <div class="card__footer">
        <a href="{{ project.url_for('new_ticket_type') }}" class="mui-btn mui-btn--small mui-btn--flat mui-btn--primary">{% trans %}New ticket{% endtrans %}</a>
      </div>
    </div>
  </div>

  <div class="grid__col-xs-12 grid__col-sm-6 grid__col-md-4">
    <div class="card">
      <div class="card__header">
        <h3 class="mui--text-title">{% trans %}Ticket clients{% endtrans %}</h3>
        <p class="mui--text-caption">{% trans %}Add ticket client to import tickets{% endtrans %}</p>
      </div>
      <div class="card__body">
        <ol class="mui-list--aligned">
          {%- for client in ticket_clients %}
            <li>
              <span class="mui--text-subhead">{{ client.name }}</span>{%- if project.current_roles.promoter %}&nbsp;<a href="{{ client.url_for('edit') }}" aria-label="{% trans %}Edit{% endtrans %}"  data-ga="Edit ticket client">{{ faicon(icon='edit', icon_size='subhead') }}</a>{%- endif %}
            </li>
          {%- endfor %}
        </ol>
      </div>
      <div class="mui-divider"></div>
      <div class="card__footer">
        <a href="{{ project.url_for('new_ticket_client') }}" class="mui-btn mui-btn--small mui-btn--flat mui-btn--primary" data-cy="new-ticket-client">{% trans %}New ticket client{% endtrans %}</a>
        {%- if ticket_clients %}
          <form method="post" id="csrf_form-submit" enctype="multipart/form-data" class="mui-form inline-form">
            <div class="form-group">
              {{ csrf_tag() }}
              <input type="hidden" name="form.id" value="sync-tickets" />
            </div>
            <button id="csrf_form-submit" class="mui-btn mui-btn--small mui-btn--flat mui-btn--accent" type="submit" data-cy="sync-tickets">{% trans %}Sync tickets{% endtrans %}</button>
          </form>
        {%- endif %}
      </div>
    </div>
  </div>
  {%- endif %}
</div>
{% endblock contentwrapper %}
