{% extends "layout.html.jinja2" %}
{% set title_suffix = project.title %}
{%- from "macros.html.jinja2" import project_header %}
{% from "baseframe/forms.html.jinja2" import renderfield %}
{% block title %}{% trans %}Crew{% endtrans %}{% endblock %}

{% block contenthead %}{% endblock %}

{% block bodytag %}
  {%- if not config['LEGACY'] -%}
    <body class="mui--bg-primary hg-app modal-form-page">
  {%- else %}
    <body class="mui--bg-primary">
  {%- endif %}
{% endblock %}

{% block baseheadline %}
  <div class="mui--hidden-md mui--hidden-lg mui--hidden-xl">
    <div class="mobile-nav mui--z1">
      <a href="{{ project.url_for() }}" aria-label="{% trans %}Back to the project{% endtrans %}" class="mui--text-dark mui--text-headline">{% assets "fa5-sprite" %}<svg class="fa5-icon fa5-icon--title fa5--align-baseline mobile-nav__prev" aria-hidden="true" role="img"><use xlink:href="{{ ASSET_URL }}#long-arrow-left"></use></svg>{% endassets %}</a> <span class="mui--text-dark mui--text-headline">{% trans %}Crew{% endtrans %}</span>
    </div>
  </div>
  {{ project_header(project, project_save_form,
    class='mui--hidden-xs mui--hidden-sm',
    current_page='schedule') }}
{% endblock %}

{% block basecontent %}
  <div class="mui-container">
  <div class="page-content page-content--mob-nav">
    <div class="grid" id="membership">
      <div class="grid__col-xs-12">
        {% raw %}
        <div id="manage-membership">
          <div class="membership-wrapper--right">
            <div class="content-box mui--z1" @click="showInfo = !showInfo" role="button" aria-label="What role should I assign? Read more">
              <p class="mui--text-headline mui--text-bold">What role should I assign?</p>
              <p class="mui--text-subhead">Read this before adding a new member
                <svg class="fa5-icon fa5-icon--title mui--align-middle" aria-hidden="true" role="img">
                  <use v-bind:xlink:href="svgIconUrl + '#angle-up'" v-if="showInfo"></use>
                  <use v-bind:xlink:href="svgIconUrl + '#angle-down'" v-else></use>
                </svg>
              </p>
              <transition name="slide-fade">
                <div class="membership-wrapper__info" v-if="showInfo">
                  <p><svg class="fa5-icon fa5-icon--title fa5--align-baseline" aria-hidden="true" role="img"><use v-bind:xlink:href="svgIconUrl + '#user-circle'"></use></svg> <span class="mui--text-headline mui--text-bold mui--text-center">Member roles</span></p>

                  <p class="mui--text-title mui--text-uppercase">Editor</p>
                  <ul class="mui-list--unstyled">
                    <li><svg class="fa5-icon fa5--align-baseline" aria-hidden="true" role="img"><use v-bind:xlink:href="svgIconUrl + '#check'"></use></svg> <span class="mui--text-subhead">Can edit project details</span></li>
                    <li><svg class="fa5-icon fa5--align-baseline" aria-hidden="true" role="img"><use v-bind:xlink:href="svgIconUrl + '#check'"></use></svg> <span class="mui--text-subhead">Can add and publish the CFP</span></li>
                    <li><svg class="fa5-icon fa5--align-baseline" aria-hidden="true" role="img"><use v-bind:xlink:href="svgIconUrl + '#check'"></use></svg> <span class="mui--text-subhead">Can add and edit sessions to the schedule and publsh it</span></li>
                    <li><svg class="fa5-icon fa5--align-baseline" aria-hidden="true" role="img"><use v-bind:xlink:href="svgIconUrl + '#check'"></use></svg> <span class="mui--text-subhead">Can add and edit labels</span></li>
                    <li><svg class="fa5-icon fa5--align-baseline" aria-hidden="true" role="img"><use v-bind:xlink:href="svgIconUrl + '#check'"></use></svg> <span class="mui--text-subhead">Can add and edit venues</span></li>
                  </ul>
                  <hr>
                  <p class="mui--text-title mui--text-uppercase">Concierge</p>
                  <ul class="mui-list--unstyled">
                    <li><svg class="fa5-icon fa5--align-baseline" aria-hidden="true" role="img"><use v-bind:xlink:href="svgIconUrl + '#check'"></use></svg> <span class="mui--text-subhead">Can add and edit events for checkin</span></li>
                    <li><svg class="fa5-icon fa5--align-baseline" aria-hidden="true" role="img"><use v-bind:xlink:href="svgIconUrl + '#check'"></use></svg> <span class="mui--text-subhead">Add ticket clients</span></li>
                    <li><svg class="fa5-icon fa5--align-baseline" aria-hidden="true" role="img"><use v-bind:xlink:href="svgIconUrl + '#check'"></use></svg> <span class="mui--text-subhead">Add and view attendees</span></li>
                  </ul>
                  <hr>
                  <p class="mui--text-title mui--text-uppercase">Usher</p>
                  <ul class="mui-list--unstyled">
                    <li><svg class="fa5-icon fa5--align-baseline" aria-hidden="true" role="img"><use v-bind:xlink:href="svgIconUrl + '#check'"></use></svg> <span class="mui--text-subhead">Can checkin attendees</span></li>
                  </ul>
                  <hr>
                </div>
              </transition>
            </div>
          </div>
          <div class="membership-wrapper--right">
            <div class="mui--clearfix">
              <div class="mui--text-center btn-wrapper membership-wrapper--left" v-if="isUserProfileAdmin">
                <button class="mui-btn mui-btn--raised mui-btn--primary full-width-btn" @click="fetchForm($event, newMemberUrl)" aria-label="Add new member" data-cy-btn="add-member"><svg class="fa5-icon fa5--align-baseline" aria-hidden="true" role="img"><use v-bind:xlink:href="svgIconUrl + '#plus'"></use></svg> Add new member</p></button>
                <hr class="mui--hidden-xl">
              </div>
              <div class="mui--text-center" v-if="members" :class="[isUserProfileAdmin? 'membership-wrapper--right': '']">
                <form class="mui-form mui--d-inlineblock search mui--z1">
                  <div class="mui-textfield">
                    <input class="field-search" type="text" name="key" value="" placeholder="Search member…" v-model="search" @input="onChange"/>
                  </div>
                </form>
              </div>
            </div>
            <div v-if="members">
              <div class="mui--clearfix membership-wrapper__filter">
                <p class="mui--text-title mui--pull-left">{{ members.length }} <span v-if="members.length > 1">members</span><span v-else>member</span></p>
                <div class="mui--pull-right">
                   <button class="mui-btn mui-btn--nostyle mui--text-title" @click="filter($event, 'name')" :class="[view == 'name' ? 'mui--text-bold mui--text-underline' : 'mui--text-light']">Name</button>
                    <button class="mui-btn mui-btn--nostyle mui--text-light mui--text-title" @click="filter($event, 'role')"  :class="[view == 'role' ? 'mui--text-bold mui--text-underline' : 'mui--text-light']">Role</button>
                </div>
              </div>
              <div v-if="view == 'role'" class="membership-wrapper__members">
                <div v-for="role in roles">
                  <p class="mui--text-subhead membership-wrapper__members__collapsible__header" @click="collapse($event, role)"> {{ role.roleName }}
                    <svg class="fa5-icon fa5-icon--title fa5--align-baseline mui--pull-right collapsible__icon" aria-hidden="true" role="img">
                      <use v-bind:xlink:href="svgIconUrl + '#angle-right'" v-if="!role.showMembers"></use>
                      <use v-bind:xlink:href="svgIconUrl + '#angle-down'" v-else></use>
                    </svg>
                  </p>
                  <transition name="slide-fade">
                    <div v-if="role.showMembers">
                      <div class="membership-wrapper__members__list membership-wrapper__members__list--nomargin" v-for="member in members" :class="[search && member.hide ? 'mui--hide' : '', isUserProfileAdmin ?  '' : 'membership-wrapper__members__list--viewonly']" @click="fetchForm($event, member.edit_url, member)" title="Edit" aria-label="Edit" role="button" v-if="member[role.roleKey]">
                        <member :member="member"></member>
                      </div>
                    </div>
                  </transition>
                </div>
              </div>
              <div v-if="view == 'name'" class="membership-wrapper__members">
                <div class="membership-wrapper__members__list" v-for="member in members" :class="[search && member.hide ? 'mui--hide' : '', isUserProfileAdmin ? '' : 'membership-wrapper__members__list--viewonly']" @click="fetchForm($event, member.edit_url, member)" title="Edit" aria-label="Edit" role="button">
                  <member :member="member"></member>
                </div>
              </div>
            </div>
            <div class="card" v-else>
              <div class="card__header mui--bg-accent">
                <p class="mui--text-center zero-bottom-margin"><svg class="fa5-icon fa5-icon--display1" aria-hidden="true" role="img"><use v-bind:xlink:href="svgIconUrl + '#users'"></use></svg></p>
                <p class="mui--text-subhead mui--text-bold mui--text-center zero-bottom-margin">No members found</p>
                <p class="mui--text-body1 mui--text-center mui--text-light zero-bottom-margin">Members you add will appear here…</p>
              </div>
            </div>
            <div id="member-form" class="modal modal-form" :class="[activeMember ? 'modal-form--edit' : '']">
              <a class="modal__close" href="javascript:void(0);" aria-label="{% trans %}Close{% endtrans %}" rel="modal:close">
                <svg class="fa5-icon fa5-icon--title" aria-hidden="true" role="img"><use v-bind:xlink:href="svgIconUrl + '#times'"></use></svg>
              </a>
              <component :is="Form"></component>
              <div class="modal-form__action-box mui--bg-accent">
                <p class="mui--text-subhead mui--text-danger mui--text-right" v-if="errorMsg">{{ errorMsg }}</p>
                <button class="mui-btn mui-btn--nostyle mui--text-light" @click="closeForm($event)">Cancel</button>
              </div>
              <div v-if="activeMember" class="modal-form__action-box--revoke mui--text-center">
                <button @click="fetchForm($event, deleteURL)" title="Delete" class="mui-btn mui-btn--nostyle mui--text-subhead"><span class="mui--text-light">Revoke this membership - </span><span class="mui--text-bold">Revoke</span></button>
              </div>
            </div>
          </div>
        {% endraw %}
      </div>
    </div>
  </div>
</div>
{% raw %}
<script type="text/x-template" id="member-template">
  <div class="user-box mui--clearfix">
    <img class="user-gravatar" :src=member.user_avatar :alt=member.user.fullname :aria-label=member.user.fullname v-if="member.user_avatar"/>
    <img class="user-gravatar" src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y" :alt=member.user.fullname :aria-label=member.user.fullname v-else/>
    <div class="mui--d-inlineblock">
    <h3 class="mui--text-title zero-top-margin zero-bottom-margin" data-cy="member">{{ member.user.fullname }}</h3>
    <h3 v-if="member.user.username" class="mui--text-subhead zero-top-margin zero-bottom-margin"><span>@{{ member.user.username }}</span></h3>
    </div>
    <ul class="mui-list--inline mui--text-subhead zero-bottom-margin membership-wrapper__members__list__roles">
      <li v-if="member.is_editor" class="membership-wrapper__members__list__roles__role mui--text-body1" data-cy="role">Editor</li>
      <li v-if="member.is_concierge" class="membership-wrapper__members__list__roles__role mui--text-body1" data-cy="role">Concierge</li>
      <li v-if="member.is_usher" class="membership-wrapper__members__list__roles__role mui--text-body1" data-cy="role">Usher</li>
      <li class="mui--text-light membership-wrapper__members__list__roles__count mui--text-caption" v-if="rolesCount(member) > 0">+ {{ rolesCount(member) }} more <span v-if="rolesCount(member) > 1">roles</span><span v-else>role</span></li>
    </ul>
  </div>
</script>
{% endraw %}
{% endblock %}

{% block footerscripts %}
  <script src="{{ url_for('static', filename=asset_path('project_header')) }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename=asset_path('membership')) }}" type="text/javascript"></script>
  <script type="text/javascript">
    $(function() {

      var saveProjectConfig = {
        formId: 'save-form',
        postUrl: "{{ project.url_for('save') }}"
      }
      window.HasGeek.ProjectHeaderInit(saveProjectConfig);

      var membershipConfig = {
        newMemberUrl: "{{ project.url_for('new_member') }}",
        members: {{ memberships|tojson }},
        roles: [
          {
            roleKey: 'is_editor',
            roleName: 'Editor',
            showMembers: false,
          },
          {
            roleKey: 'is_concierge',
            roleName: 'Concierge',
            showMembers: false,
          },
          {
            roleKey: 'is_usher',
            roleName: 'Usher',
            showMembers: false,
          },
        ],
        divElem: "#manage-membership",
        memberTemplate: '#member-template',
        isUserProfileAdmin: {%- if project.profile.current_roles.admin %} true {% else %} false {%- endif %},
      };

      HasGeek.Membership(membershipConfig);

    });
  </script>
{% endblock %}
