{% extends "layout.html.jinja2" %}
{% from "baseframe/forms.html.jinja2" import ajaxform %}
{%- from "macros.html.jinja2" import project_header, admin_panel %}
{% block title %}{{ project.title }}{% endblock %}
{% block description %}{{ project.title }} &ndash; {{ project.tagline }}{% endblock %}

{%- block pageheaders %}
  {% assets "css_leaflet" -%}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
  {%- endassets -%}
  {%- if project.schedule_start_at %}
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Event",
      "name": {{ project.title|tojson }},
      "url": {{ project.url_for(_external=true)|tojson }},
      "startDate": {{ project.schedule_start_at.astimezone(project.timezone).isoformat()|tojson }},
      {% if project.primary_venue -%}
      "location": {
        "@type": "Place",
        "name": {{ project.primary_venue.title|tojson }},
        "address": {
          "@type": "PostalAddress",
          "streetAddress": {{ project.primary_venue.address1|tojson }},
          "addressLocality": {{ project.primary_venue.city|tojson }},
          "addressRegion": {{ project.primary_venue.state|tojson }},
          "postalCode": {{ project.primary_venue.postcode|tojson }},
          "addressCountry": {{ project.primary_venue.country|tojson }}
        }
      },
      {%- endif -%}
      {%- if project.bg_image.url %}
      "image": [
        "{{ project.bg_image }}"
       ],
      {% endif -%}
      "description": {{ project.tagline|tojson }},
      "endDate": {{ project.schedule_end_at.astimezone(project.timezone).isoformat()|tojson }},
      "offers": {
        "@type": "Offer",
        "url": {{ project.url_for(_external=true)|tojson }}
      }
    }
    </script>
  {%- endif -%}
{% endblock %}

{% block bodytag %}
  {%- if not config['LEGACY'] -%}
    <body class="mui--bg-primary hg-app">
  {%- else %}
    <body class="mui--bg-primary">
  {%- endif %}
{% endblock %}

{% block contenthead %}{% endblock %}

{% block baseheadline %}
  {{ project_header(project, project_save_form) }}
{% endblock %}

{% block contentwrapper %}
  <div class="grid">
    <div class="grid__col-12">
      {%- if project.current_roles.admin or current_auth.permissions.checkin_event %}
        {{ admin_panel(project, transition_form=transition_form, schedule_transition_form=schedule_transition_form) }}
      {% endif %}
    </div>
  </div>

  <div class="about">
    {% if project.allow_rsvp or project.boxoffice_data and project.boxoffice_data.item_collection_id -%}
      <div class="about__participate">
        <div class="mui--hidden-md mui--hidden-lg mui--hidden-xl about__participate__back-nav">
          <div class="mobile-nav mui--z1">
            <a href="{{ project.url_for() }}" aria-label="{% trans %}Back to the project{% endtrans %}" class="mui--text-dark mui--text-headline" id="close-ticket-widget"><i class="material-icons mui--align-middle mobile-nav__prev" aria-hidden="true">arrow_back</i></a> <span class="mui--text-dark mui--text-headline">{% trans %}Tickets{% endtrans %}</span>
          </div>
        </div>
        <div id="tickets" {% if project.allow_rsvp and not project.boxoffice_data -%}class="rsvp-wrapper"{%- endif %}>
          {% if project.boxoffice_data and project.boxoffice_data.item_collection_id -%}
            <h2 class="mui--text-display1 mui--text-left project-section__headline">Tickets</h2>
            <div id="boxoffice-widget"><p class="mui--text-body1">Loading...</p></div>
          {% elif project.allow_rsvp -%}
            <h2 class="mui--text-display1 mui--text-left project-section__headline">{% trans %}Attending this event?{% endtrans %}</h2>
            {%- if current_auth.is_authenticated %}
              {% if current_rsvp is not none %}
                {% trans current_rsvp_title=current_rsvp.state.label.title %}
                  <p>Your current status: {{ current_rsvp_title }}</p>
                {% endtrans %}
              {% endif %}
              <form action="{{ project.url_for('rsvp_transition') }}" method="post" class="form-inline">
                {{ rsvp_form.hidden_tag() }}
                <p class="btn-group">
                  {% for name, transition in rsvp_form.transition.choices %}
                    <button name="transition" value="{{ name }}" class="transition mui-btn mui-btn--small mui-btn--raised mui-btn--{{ transition.data['type'] }}" title="{{ transition.data['title'] }}">{{ transition.data['title'] }}</button>
                  {% endfor %}
                </p>
              </form>
            {%- else %}
              <p>
                <a href="{{ url_for('login') }}" class='mui-btn mui-btn--raised mui-btn--primary' data-action="Login to respond">{% trans %}Login to respond{% endtrans %}</a>
              </p>
            {%- endif %}
            {% if project.current_roles.admin or current_auth.permissions.view_rsvps %}
              <a href="{{ project.url_for('rsvp_list') }}">{% trans %}See responses{% endtrans %}</a>
            {% endif %}
          {%- endif %}
        </div>
      </div>
    {%- endif %}

    <div class="about__details" id="about">
      <h2 class="mui--text-display1 mui--text-left about__details__headline">{% trans %}About{% endtrans %}</h2>
      <div class="about__details__description">{{ project.description }}</div>
      {%- if project.subprojects %}
        <hr class="mui-divider">
        <h2 class="mui--text-display1 mui--text-left mui--text-bold">{% trans %}Related events{% endtrans %}</h2>
        <ul class="grid">
          {% for subproject in project.subprojects %}
            <li class="grid__col-12 grid__col-xs-12 grid__col-sm-6">
              <a href="{{ subproject.url_for() }}" class="clickable-card card" aria-label="{{ subproject.title }}" title="{{ subproject.title }}">
                <div class="card">
                  <div class="card__header">
                    <div class="card__header__title">
                      <h3 class="mui--text-title card__title__heading">{{ subproject.title }}</h3>
                      <h4 class="mui--text-subhead card__title__heading">{{ subproject.datelocation }}</h4>
                    </div>
                  </div>
                  {% if subproject.tagline %}
                    <div class="card__body">
                      <p>{{ subproject.tagline }}</p>
                    </div>
                  {% endif %}
                </div>
              </a>
            </li>
          {%- endfor -%}
        </ul>
      {%- endif %}
      {% if project.featured_sessions  %}
        <div id="talks" class="mui--clearfix">
          <h2 class="mui--text-display1 mui--text-left mui--text-bold">{% trans %}Talks{% endtrans %}</h2>
          <div class="grid-no-left-padding grid-no-right-padding">
            <ul class="about__details__featured mui--clearfix">
              {% for session in project.featured_sessions %}
                {% if session.scheduled %}
                  <li class="about__details__featured__cards">
                    <div class="card session-card">
                      {% if session.banner_image_url.url %}
                        {% if session.proposal %}
                          <a class="card__header session-card__header clickable-card" href="{{ session.proposal.url_for() }}" {% if session.speaker %} title="{{ session.speaker }}" {% else %} title="{{ session.title }}" {% endif %} {% if session.speaker %} aria-label="{{ session.speaker }}" {% else %} aria-label="{{ session.title }}" {% endif %}>
                        {% else %}
                          <div class="card__header session-card__header">
                        {% endif %}
                          <p class="session-card__header__img-wrapper">
                            <img class="session-card__header__img-wrapper__img js-lazyload-img" data-src="{{ session.banner_image_url }}" {% if session.speaker %} alt="{{ session.speaker }}" {% else %} alt="{{ session.title }}" {% endif %}/>
                            <noscript>
                              <img class="session-card__header__img-wrapper__img" src="{{ session.banner_image_url }}" {% if session.speaker %} alt="{{ session.speaker }}" {% else %} alt="{{ session.title }}" {% endif %}/>
                            </noscript>
                          </p>
                          <div class="card__title__heading session-card__header__title">
                            {% if session.speaker %}<h4 class="mui--text-subhead mui--text-bold zero-bottom-margin zero-top-margin">{{ session.speaker }}</h4>{% endif %}
                            <h3 class="mui--text-subhead zero-bottom-margin zero-top-margin">{{ session.title }}</h3>
                          </div>
                        {% if session.proposal %}</a>{% else %}</div>{% endif %}
                      {% else %}
                        {% if session.proposal %}
                          <a class="card__header session-card__header clickable-card session-card__header--bck" href="{{ session.proposal.url_for() }}" title="{{ session.title }}" aria-label="{{ session.title }}">
                        {% else %}
                          <div class="card__header">
                        {% endif %}
                          <div class="card__title__heading session-card__header__title">
                            {% if session.speaker %}<h4 class="mui--text-subhead mui--text-bold zero-bottom-margin zero-top-margin">{{ session.speaker }}</h4>{% endif %}
                            <h3 class="mui--text-subhead zero-bottom-margin zero-top-margin">{{ session.title }}</h3>
                          </div>
                        {% if session.proposal %}</a>{% else %}</div>{% endif %}
                      {% endif %}
                      {% if session.description %}
                        {% if session.proposal %}
                          <a class="card__body clickable-card" href="{{ session.proposal.url_for() }}" title="{{ session.title }}" aria-label="{{ session.title }}">
                        {% else %}
                          <div class="card__body">
                        {% endif %}
                          <div class="mui--text-body1 mui--text-light truncate">{{ session.description|striptags }}</div>
                        {% if session.proposal %}</a>{% else %}</div>{% endif %}
                      {% endif %}
                    </div>
                  </li>
                {% endif %}
              {%- endfor -%}
            </ul>
          </div>
          {%- if project.schedule_state.PUBLISHED %}<p class="mui--text-left mui--clearfix"><a class="mui-btn mui-btn--raised mui-btn--accent" href="{{ project.url_for('schedule') }}" data-action="View schedule (page)">{% trans %}View Schedule{% endtrans %}</a></p>{%- endif %}
        </div>
      {%- endif %}
    </div>
  </div>

  {% if project.hasjob_embed_url.url -%}
  <div class="grid project-section" id="related-jobs">
    <div class="grid__col-xs-12">
      <h2 class="mui--text-display1 mui--text-left project-section__headline">{% trans %}Related jobs{% endtrans %}</h2>
      <div class="hasjob-embed" data-href="{{ project.hasjob_embed_url }}" {% if project.hasjob_embed_limit -%}data-jobpost-limit="{{ project.hasjob_embed_limit }}"{%- else %}data-jobpost-limit="8"{%- endif %}></div>
      <script src="{{ config['HASJOB_SERVER']|url_join('embed.js') }}" type="text/javascript"></script>
    </div>
  </div>
  {%- endif %}

  {%- if project.primary_venue -%}
  <div class="grid project-section" id="venue">
    <div class="grid__col-xs-12">
      <h2 class="mui--text-display1 mui--text-left project-section__headline">{% trans %}Venue{% endtrans %}</h2>
      <div class="mui--text-body1">
        <p class="zero-bottom-margin">{{ project.primary_venue.title }}</p>
        <p class="zero-bottom-margin">{{ project.primary_venue.address1 }}</p>
        <p class="zero-bottom-margin">{{ project.primary_venue.address2 }}</p>
        <p class="zero-bottom-margin">{{ project.primary_venue.city }}{% if project.primary_venue.city and  project.primary_venue.postcode %} - {{ project.primary_venue.postcode }}{%- endif %}</p>
        {%- if project.primary_venue.state and project.primary_venue.country -%}
          <p class="zero-bottom-margin">{{ project.primary_venue.state }}, {{ project.primary_venue.country }}</p>
        {%- endif %}
      </div>
      {%- if project.primary_venue.has_coordinates -%}
        <div id="venue-map" class="project-section__map" data-label="{{ project.primary_venue.title }}" data-markerlat="{{ project.primary_venue.latitude }}" data-markerlng="{{ project.primary_venue.longitude }}"><h2>{% trans %}Loading...{% endtrans %}</h2></div>
      {%- endif %}
    </div>
  </div>
  {%- endif %}
{% endblock %}

{% block footerscripts %}
  {% assets "js_jquerysuccinct" -%}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {%- endassets -%}
  <script src="{{ url_for('static', filename=asset_path('project')) }}" type="text/javascript"></script>
  <script type="text/javascript">
    $(function() {
      var projectConfig = {};

      {% if project.boxoffice_data and project.boxoffice_data.item_collection_id -%}
        projectConfig.tickets = {
          boxofficeUrl: {{ config['BOXOFFICE_SERVER']|tojson }},
          widgetElem: "#boxoffice-widget",
          org: {{ project.boxoffice_data.org|tojson }},
          itemCollectionId: {{ project.boxoffice_data.item_collection_id|tojson }},
          itemCollectionTitle: {{ project.title|tojson }}
        };
      {%- elif project.allow_rsvp %}
        projectConfig.tickets = {
          rsvp: true
        };
      {%- endif %}

      {%- if project.primary_venue.has_coordinates -%}
        projectConfig.venue = {
          mapId: "venue-map",
          latitude: {{ project.primary_venue.latitude|tojson }},
          longitude: {{ project.primary_venue.longitude|tojson }}
        };
      {%- endif %}

      projectConfig.saveProjectConfig = {
        formId: 'save-form',
        postUrl: "{{ project.url_for('save') }}"
      }

      window.HasGeek.ProjectInit(projectConfig);

    });
  </script>
{% endblock %}
