{% extends "formlayout.html.jinja2" %}
{% from "forms.html.jinja2" import renderfield, rendersubmit %}
{% from "macros.html.jinja2" import faicon %}
{% block title %}{% trans %}Add submission guidelines and timing{% endtrans %}{% endblock %}

{% block baseheadline %}
  <div class="mui--hidden-md mui--hidden-lg mui--hidden-xl mobile-nav-wrapper">
    <div class="mobile-nav mui--z1">
      <a href="{{ project.url_for() }}" aria-label="{% trans %}Back to the project{% endtrans %}" class="mui--text-dark mobile-nav__icon" data-ga="Back to the project page">{{ faicon(icon='arrow-left', icon_size='title') }}</a><span class="mui--text-dark mobile-nav__headline">{% trans %}Add submission guidelines and timing{% endtrans %}</span>
    </div>
  </div>
{% endblock %}

{% block contenthead %}
  <div class="content-head content-head--top-padding mui--bg-accent mui--hidden-xs mui--hidden-sm">
    <div class="mui-container">
      <div class="grid">
        <div class="grid__col-xs-12">
          {% block top_title %}
          <h1 class="mui--text-headline">
            {{ self.title()|e }}
          </h1>
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  {%- if form.errors %}
    <div class="alert alert--error alert--dismissable">
      <a class="alert__close" href="javascript:void(0);"  data-target="close flash message" aria-label="{% trans %}Close{% endtrans %}">{{ faicon(icon='times', baseline=false, icon_size='subhead') }}</a>
      <p class="alert__text">{{ faicon(icon='exclamation-circle') }} {% trans %}Please review the indicated issues{% endtrans %}</p>
    </div>
  {%- endif %}
  {%- if message %}
    <p class="form-message">{{ message }}</p>
  {%- endif %}
  <form data-parsley-validate="true" id="{{ ref_id }}" method="POST" action="{{ request.url }}" accept-charset="UTF-8" class="mui-form mui-form--margins hg-form">
    {{ form.hidden_tag() }}
    {{ renderfield(form.instructions, autofocus=true) }}
    {%- for error in form.instructions.errors %}
      <div><p class="mui-form__error">{{ error }}</p></div>
    {%- endfor %}
    {% if not form.cfp_end_at.data %}
      <div id="cfp-publish-actions" class="btn-wrapper hide">
        <button name="open-now" class="mui-btn cfp-action-btn">{% trans %}Open now{% endtrans %}</button>
        <button name="later" class="mui-btn cfp-action-btn">{% trans %}Open later{% endtrans %}</button>
      </div>
    {% endif %}
    {% if form.cfp_start_at.data or form.cfp_start_at.errors or form.cfp_end_at.data or form.cfp_end_at.errors %}
      {{ renderfield(form.cfp_start_at, css_class="input-transition js-cfp-start-at") }}
    {% else %}
      {{ renderfield(form.cfp_start_at, css_class="mui--hide input-transition js-cfp-start-at") }}
    {% endif %}
    {% if form.cfp_end_at.data or form.cfp_end_at.errors %}
      {{ renderfield(form.cfp_end_at, css_class="input-transition js-cfp-end-at") }}
    {% else %}
       {{ renderfield(form.cfp_end_at, css_class="mui--hide input-transition js-cfp-end-at") }}
    {% endif %}
    <div class="mui-form form-actions clearfix">
      <div>
        <button type="submit" name="submit" class="mui-btn mui-btn--raised mui-btn--primary" data-cy="add-cfp">Submit</button>
        <span class="loading mui--hide"></span>
      </div>
    </div>
  </form>
{% endblock %}

{% block innerscripts %}
  <script src="{{ 'parsley.js'|ext_asset_url }}" type="text/javascript"></script>
  <script src="{{ built_asset('cfp_form.js') }}" type="text/javascript"></script>
{% endblock %}
