{% from "baseframe/components.html.jinja2" import faicon %}
{% from "baseframe/mui/forms.html.jinja2" import renderfield, widgetscripts %}
{% from "macros.html.jinja2" import useravatar %}

{% assets "css_codemirrormarkdown" -%}
  <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
{%- endassets -%}
<a class="modal__close mui--text-dark" href="javascript:void(0);"  data-target="close edit session modal" aria-label="{% trans %}Close{% endtrans %}" rel="modal:close">{{ faicon(icon='times', baseline=false, icon_size='title') }}</a>
<div class="modal__inner slide-screen" id="promotion-screen-1">
  <div class="modal__header">
    <h3 class="modal__header zero-top-margin">{% trans %}Create a promotion{% endtrans %}</h3>
  </div>
  <div class="user">
    <div class="user__box">
      {{ useravatar(current_auth.user, add_profile_link=false) }}
      <div class="user__box__header">
        <p class="mui--text-body2 user__box__fullname">{{ current_auth.user.fullname }}</p>
        <p class="mui--text-caption user__box__userid">{% trans %}Promoter{% endtrans %} | {{ project.title }}</h3>
      </div>
    </div>
  </div>
  <form method="POST" action="{{ project.url_for('new_promotion') }}">
    {{ form.hidden_tag() }}
    {{ renderfield(form.title) }}
    {{ renderfield(form.body) }}
    <button class="mui-btn mui-btn--accent mui-btn--raised">{% trans %}Select promotion destination{% endtrans %}</button>
  </form>
</div>

{% assets "js_codemirrormarkdown" -%}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{%- endassets -%}

<script type="text/javascript">
  activate_widgets();
  {{ widgetscripts(form, script=false) }}
  $(function() {
    $('.js-next').on('click', function(event) {
      event.preventDefault();
      $(this).parents('.slide-screen').addClass('mui--hide')
      $($(this).data('screen')).removeClass('mui--hide');
    });
  });
</script>
