{%- set vote = proposal.votes.getvote(g.user) %}
{%- if not vote %}
  <a class="votechoice" title="{% trans %}Vote up{% endtrans %}" href="{{ proposal.url_for('voteup') }}">+1</a>
  <a class="votechoice" title="{% trans %}Vote down{% endtrans %}" href="{{ proposal.url_for('votedown') }}">-1</a>
{%- elif vote.votedown %}
  <a class="votechoice" title="{% trans %}Vote up{% endtrans %}" href="{{ proposal.url_for('voteup') }}">+1</a>
  <a class="votechoice selected" title="{% trans %}Withdraw vote{% endtrans %}" href="{{ proposal.url_for('votecancel') }}">-1</a>
{%- else %}
  <a class="votechoice selected" title="{% trans %}Withdraw vote{% endtrans %}" href="{{ proposal.url_for('votecancel') }}">+1</a>
  <a class="votechoice" title="{% trans %}Vote down{% endtrans %}" href="{{ proposal.url_for('votedown') }}">-1</a>
{% endif %}
<span class="indicator">&rarr;</span>
<span class="score">
  {%- if proposal.votes.count > 0 -%}
    +
  {%- endif -%}
  {{ proposal.votes.count }}
</span>