{% extends "layout.html.jinja2" %}
{% set title_suffix = project.title %}
{%- from "macros.html.jinja2" import project_header %}
{% from "baseframe/components.html.jinja2" import faicon %}
{% block title %}{% trans %}Proposals{% endtrans %}{% endblock %}
{% block description %}{{ project.title }}{% if project.tagline %} &ndash; {{ project.taglines }}{% endif %}{% endblock %}

{% block bodytag %}
  {%- if not config['LEGACY'] -%}
    <body class="mui--bg-primary hg-app no-sticky-header">
  {%- else %}
    <body class="mui--bg-primary no-sticky-header">
  {%- endif %}
{% endblock %}

{% block contenthead %}{% endblock %}

{% block baseheadline %}
  <div class="mui--hidden-md mui--hidden-lg mui--hidden-xl">
    <div class="mobile-nav mui--z1">
      <a href="{{ project.url_for() }}" aria-label="{% trans %}Back to the project{% endtrans %}" class="mui--text-dark mui--text-headline mobile-nav__icon" data-action="Back to the {{ project.title }}(proposal page)">{{ faicon(icon='arrow-left', icon_size='title') }}</a><span class="mui--text-dark mobile-nav__headline">{% trans %}Proposals{% endtrans %}</span>
    </div>
  </div>
  {{ project_header(project, project_save_form, csrf_form,
    class='mui--hidden-xs mui--hidden-sm',
    current_page='proposals') }}
{% endblock %}

{%- macro proposal_list(project, proposals) %}
  <table id="proposals-table" class="proposal-list-table mui-table">
    <tbody>
      {% for proposal in proposals %}
        <tr id="{{ proposal.uuid_b58 }}">
          <td class='js-searchable'>
            <h3 class="mui--text-title zero-top-margin"><a href="{{ proposal.url_for() }}" class="mui--text-title mui--text-bold nounderline" data-cy-proposal="{{ proposal.title }}">{{ proposal.title }}</a></h3>
            <p class="speaker-details">
              {%- if proposal.speaker -%}
                <span class="mui--text-subhead">{{ proposal.speaker.pickername }}</span>
                {%- if proposal.user != proposal.speaker %}
                  <small class="mui--text-caption mui--text-accent">via {{ proposal.user.pickername }}</small>
                {%- endif %}
                {%- if project.current_roles.editor %}
                  {%- if proposal.has_outstation_speaker %}
                    {{ faicon(icon='plane', icon_size='subhead', baseline=false, css_class='mui--align-middle') }}
                    <span class="mui--hide" aria-label="{% trans %}Outstation speaker{% endtrans %}"></span>
                  {%- endif %}
                {%- endif %}
              {%- else -%}
                <span class="mui--text-subhead">{{ proposal.user.pickername }}</span> <em class="mui--text-caption mui--text-accent">{% trans %}(proposing){% endtrans %}</em>
              {%- endif -%}
            </p>
            <ul class="mui-list--inline mui--text-body2 list-item-rgborder zero-bottom-margin">
              {%- if proposal.project != project %}
                <li>{{ proposal.project.short_title }}</li>
              {% endif %}
              <li>{{ proposal.commentset.count }} comments</li>
              <li class="no-border">{{ proposal.datetime|datetime(format='EEE, dd MMM') }}</li>
              {% if proposal.video %}
                <li class="no-border" data-toggle="tooltip" data-placement="top" title="{% trans %}This proposal has a preview video{% endtrans %}" aria-label="{% trans %}This proposal has a preview video{% endtrans %}">
                  {{ faicon(icon='video', icon_size='subhead', baseline=false, css_class='mui--align-middle') }}
                </li>
              {% endif %}
              {% if proposal.slides.url %}
                <li class="no-border" data-toggle="tooltip" data-placement="top" title="{% trans %}This proposal has slides{% endtrans %}" aria-label="{% trans %}This proposal has slides{% endtrans %}">
                  {{ faicon(icon='presentation', icon_size='subhead', baseline=false, css_class='mui--align-middle') }}
                </li>
              {% endif %}
            </ul>
          </td>
        </tr>
      {% else %}
        <tr>
          <td><em>{% trans %}(No sessions have been submitted){% endtrans %}</em></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{%- endmacro %}

{% block basecontent %}
  <div class="mui-container">
    <div class="page-content page-content--mob-nav">
      <div class="grid project-section">
       {% if project.current_roles.editor or project.current_roles.reviewer or not project.cfp_state.NONE -%}
        <div class="grid__col-xs-12 about__details" id="call-for-proposal">
          {%- if project.instructions and project.instructions != "None" %}
            <h2 class="mui--text-display1 project-section__headline mui--text-left mui--text-bold">{% trans %}Proposal guidelines{% endtrans %}</h2>
            <div class="about__details__description">
              {% if project.view_for('cfp').is_available() -%}
                <p class="mui--pull-right">
                  <a href="{{ project.url_for('cfp') }}" class="mui-btn mui-btn--raised mui-btn--accent">
                    {% if project.cfp_state.DRAFT or project.cfp_state.PRIVATE_DRAFT or project.cfp_state.UNAVAILABLE -%}
                      {% trans %}Open proposal submissions{% endtrans %}
                    {%- else %}
                      {% trans %}Modify proposal guidelines and timing{% endtrans %}
                    {%- endif %}
                  </a>
                </p>
              {%- endif %}
              {{ project.instructions }}
            </div>
          {%- elif project.view_for('cfp').is_available() %}
            <p><a href="{{ project.url_for('cfp') }}" class="mui-btn mui-btn--raised mui-btn--accent">{% trans %}Add proposal guidelines and timing{% endtrans %}</a></p>
          {%- endif %}
          {% if project.cfp_state.OPEN -%}
            <div>
              <a class="mui-btn mui-btn--raised mui-btn--primary" href="{{ project.url_for('new_proposal') }}" data-action="Submit a session proposal(header)">{% trans %}Submit a session proposal{% endtrans %}</a>
              {% if project.cfp_end_at_localized -%}<p>{{ faicon(icon='info-circle', css_class='secondary-color-txt') }} <em class="mui--text-body2 mui--text-light">{% trans date=project.cfp_end_at_localized|datetime(format='dd MMM, YYYY, hh:mm a') %}Proposal submission closes on {{ date }}{% endtrans %}</em></p>{% endif %}
            </div>
          {%- elif project.cfp_state.UNAVAILABLE %}
            <div class="mui-d--inlineblock">
              <a class="mui-btn mui-btn--raised mui-btn--dark mui-btn--strike" data-action="Propose a session(closed)">{% trans %}Submit a session proposal{% endtrans %}</a>
              <p class="mui--text-light mui--text-caption">{% trans %}Submissions are closed for this project{% endtrans %}</p>
            </div>
          {%- endif %}
        </div>
      {%- endif %}
      </div>


      {% if project.cfp_state.HAS_PROPOSALS -%}
      <div class="grid project-section" id="proposals">
        <div class="grid__col-xs-12">
          <h2 class="mui--text-headline mui--text-left project-section__headline">{% trans %}All proposals{% endtrans %}</h2>
            {%- if project.current_roles.editor %}
              <div>
                <form class="mui-form mui--pull-left search search--50 mui--z1">
                  <div class="mui-textfield">
                    <input class="field-search" id="search" type="text" name="key" value="" placeholder="Search" />
                  </div>
                </form>
              </div>
              {%- for state, proposal_group in project.proposals_by_state.items() if proposal_group -%}
                <div class="collapsible">
                  <p class="mui--text-subhead collapsible__header proposal-list-header" aria-expanded="false" aria-controls="collapse-{{state.label.title}}">{{ state.label.title }} {% trans %}proposals{% endtrans %} {{ faicon(icon='angle-down', icon_size='title', baseline=false, css_class='collapsible__icon mui--pull-right') }}{{ faicon(icon='angle-up', icon_size='title', baseline=false, css_class='collapsible__icon mui--pull-right mui--hide') }}</p>
                  <div class="collapsible__body" id="collapse-{{state.label.title}}">{{ proposal_list(project, proposal_group) }}</div>
                </div>
              {%- endfor -%}
            {%- else %}
              {%- if project.proposals_by_confirmation['confirmed'] %}
                <h3 class="mui--text-subhead proposal-list-header">{% trans %}Confirmed sessions{% endtrans %}</h3>
                {{ proposal_list(project, project.proposals_by_confirmation['confirmed']) }}
              {%- endif %}
              {%- if project.proposals_by_confirmation['unconfirmed'] %}
                {%- if project.proposals_by_confirmation['confirmed'] %}<h3 class="mui--text-subhead proposal-list-header">{% trans %}Unconfirmed proposals{% endtrans %}</h3>{% endif %}
                {{ proposal_list(project, project.proposals_by_confirmation['unconfirmed']) }}
              {%- endif %}
            {%- endif %}
          </div>
        </div>
      </div>
      {%- endif %}
    </div>
  </div>
{% endblock %}

{% block footerscripts %}
  <script src="{{ url_for('static', filename=asset_path('project_header')) }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename=asset_path('proposals')) }}" type="text/javascript"></script>
  <script type="text/javascript">
    $(function() {
      var proposalsConfig = {};
      proposalsConfig.search = {
        tableId: 'proposals-table',
        inputId: 'search'
      };

      var saveProjectConfig = {
        formId: 'save-form',
        postUrl: {{ project.url_for('save')|tojson }}
      }

      window.HasGeek.ProjectHeaderInit(saveProjectConfig);
      window.HasGeek.ProposalsInit(proposalsConfig);
    });
  </script>
{% endblock %}
