{% from "baseframe/forms.html.jinja2" import renderfield, renderform, rendersubmit, widgetscripts %}
{% from "baseframe/components.html.jinja2" import faicon %}
{%- from "macros.html.jinja2" import csrf_tag %}

<div>
  <p><a class="modal__close mui--text-dark" href="javascript:void(0);" aria-label="{% trans %}Close{% endtrans %}" rel="modal:close" data-cy="close-admin-panel">{{ faicon(icon='times', icon_size='title') }}</a></p>
  {%- if 'edit_proposal' in proposal.permissions(current_auth.user) or proposal.current_roles.project_editor %}
    <div class="card">
      <div class="card__header">
        <h3 class="mui--text-title mui--text-bold mui--text-uppercase" data-cy="admin-panel">{% trans %}Admin panel{% endtrans %}</h3>
      </div>
      <div class="card__body">
        {%- if 'edit_proposal' in proposal.permissions(current_auth.user) %}
          <ul class="mui-list--aligned">
            <li><a href="{{ proposal.url_for('edit') }}" data-cy-admin="edit">{% trans %}Edit details{% endtrans %}</a></li>
            <li><a href="{{ proposal.url_for('delete') }}" data-cy-admin="delete">{% trans %}Delete{% endtrans %}</a></li>
          </ul>
          <hr class="mui-divider">
        {% endif %}
        {%- if proposal.current_roles.project_editor %}
          <form action="{{ proposal.url_for('toggle_featured') }}" method="post">
            {{ csrf_tag() }}
            <button name="transition" class="mui-btn mui-btn--accent">
              {% if proposal.featured %}
                {% trans %}Remove featured{% endtrans %}
              {% else %}
                {% trans %}Make featured{% endtrans %}
              {% endif %}
            </button>
          </form>
          {%- if proposal_move_form %}
            {{ renderform(proposal_move_form, 'proposal-move', action=proposal.url_for('moveto'), submit=gettext("Move"), style='horiz') }}
            <hr class="mui-divider">
          {%- endif %}
          {%- if proposal_transfer_form %}
            {{ renderform(proposal_transfer_form, 'proposal-transfer', action=proposal.url_for('transfer_to'), submit=gettext("Transfer")) }}
            <hr class="mui-divider">
          {%- endif %}
          <p class="mui--text-subhead">{% trans %}Change status of proposal{% endtrans %}</p>
          <form action="{{ proposal.url_for('transition') }}" method="post" class="form-inline">
            {{ transition_form.hidden_tag() }}
            <p class="btn-group" data-cy="proposal-status">
              {% for name, transition in transition_form.transition.choices %}
                <button name="transition" value="{{ name }}" class="transition mui-btn mui-btn--small mui-btn--raised {% if transition.data['type'] == 'success' %} mui-btn--primary {% elif transition.data['type'] == 'danger' %} mui-btn--danger {%- endif %}">{{ transition.data['title'] }}</button>
              {% endfor %}
            </p>
          </form>
          <hr class="mui-divider">
        {% endif %}
        {% if proposal_label_admin_form %}
          <form action="{{ proposal.url_for('edit_labels') }}" method="post" class="add-label-form">
            {{ proposal_label_admin_form.hidden_tag() }}
            <p class="mui--text-title">Labels</p>
            <div class="selected-label" id="label-select">
              {%- for label in proposal.labels %}
                <span class="label mui--text-caption mui--text-bold" data-labeltxt="{% if label.main_label %}{% if label.main_label.icon_emoji -%}{{ label.main_label.icon_emoji }} {{ label.main_label.title }}{% else -%}{{ label.main_label.title }}{% endif %}{% elif label.icon_emoji -%}{{ label.icon_emoji }} {{ label.title }}{% else -%}{{ label.title }}{% endif %}">{% if label.main_label %}{% if label.main_label.icon_emoji %}{{ label.main_label.icon_emoji }} {% endif %} {{ label.main_label.title }}: {% endif %}{% if label.icon_emoji %}{{ label.icon_emoji }} {% endif %} {{ label.title }}</span>
              {%- endfor %}
              {{ faicon(icon='angle-down', css_class='mui--text-light') }}
            </div>
            <div id="label-dropdown" class="label-dropdown-wrapper">
              {{ renderfield(proposal_label_admin_form.formlabels, css_class="label-select-fields") }}
            </div>
            {{ rendersubmit([("add-label", "Save", '')]) }}
          </form>
          <hr class="mui-divider">
        {% endif %}
        {% if proposal.current_roles.project_editor and proposal.state.SCHEDULED %}
          <a class="mui-btn mui-btn--raised mui-btn--accent" href="{{ proposal.session.url_for('edit') }}" data-cy="edit-session-video" aria-label="{% trans %}Add session video{% endtrans %}">
            {%- if proposal.session.video %}
              {% trans %}Edit session video{% endtrans %}
            {% else %}
              {% trans %}Add session video{% endtrans %}
            {%- endif %}
          </a>
        {%- elif 'edit_proposal' in proposal.permissions(current_auth.user) %}
          <a class="mui-btn mui-btn--raised mui-btn--accent" href="{{ proposal.url_for('edit') }}#field-video" data-cy="edit-proposal-video" aria-label="{% trans %}Add proposal video{% endtrans %}">
            {%- if proposal.video %}
              {% trans %}Edit submission video{% endtrans %}
            {% else %}
              {% trans %}Add submission video{% endtrans %}
            {%- endif %}
          </a>
        {%- endif %}
      </div>
    </div>
  {% endif %}
</div>

{{ widgetscripts(proposal_transfer_form, script=true) }}
<script type="text/javascript">
  $(function() {
    window.Hasgeek.ProposalInit();
  });
</script>
