{% extends "layout.html.jinja2" %}
{%- from "macros.html.jinja2" import rsvpform, rsvpscript, project_header, admin_panel %}
{% block title %}{{ project.title }}{% endblock %}
{% block description %}{{ project.title }}{% if g.profile %} &ndash; {{ g.profile.description|striptags }}{% endif %}{% endblock %}

{%- block layoutheaders %}
  {% assets "css_leaflet" -%}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
  {%- endassets -%}
{% endblock %}

{% block bodytag %}<body class="mui--bg-primary no-sticky-header">{% endblock %}

{%- macro proposal_list(project, proposals) %}
  <table id="proposals-table" class="proposal-list-table mui-table">
    <tbody>
      {% for proposal in proposals %}
        <tr id="{{ proposal.suuid }}">
          <td class='js-searchable'>
            <h3 class="mui--text-title zero-top-margin"><a href="{{ proposal.url_for() }}" class="mui--text-title mui--text-bold nounderline">{{ proposal.title }}</a></h3>
            <p class="speaker-details">
              {%- if proposal.speaker -%}
                <span class="mui--text-subhead">{{ proposal.speaker.pickername }}</span>
                {%- if proposal.user != proposal.speaker %}
                  <small class="mui--text-caption mui--text-accent">via {{ proposal.user.pickername }}</small>
                {%- endif %}
                {%- if g.user and current_auth.permissions.edit_project %}
                  {%- if proposal.has_outstation_speaker %}
                    <i class="material-icons mui--text-subhead mui--align-middle" aria-label="Outstation Speaker">flight</i>
                  {%- endif %}
                {%- endif %}
              {%- else -%}
                <span class="mui--text-subhead">{{ proposal.user.pickername }}</span> <em class="mui--text-caption mui--text-accent">{% trans %}(proposing){% endtrans %}</em>
              {%- endif -%}
            </p>
            <ul class="mui-list--inline mui--text-body2 list-item-rgborder zero-bottom-margin">
              {%- if proposal.project != project %}
                <li>{{ proposal.project.short_title() }}</li>
              {% elif proposal.section.title %}
                <li>{{ proposal.section.title }}</li>
              {% endif %}
              <li>{{ proposal.technical_level }}</li>
              <li>{{ proposal.voteset.count }} upvotes</li>
              <li>{{ proposal.commentset.count }} comments</li>
              <li class="no-border">{{ proposal.datetime.strftime("%a, %e %b") }}</li>
              {% if proposal.preview_video %}
                <li class="no-border"><i data-toggle="tooltip" data-placement="top" title="This proposal has a preview video" aria-label="Preview video" class="material-icons icon-middle">play_arrow</i></li>
              {% endif %}
              {% if proposal.slides %}
                <li class="no-border"><i data-toggle="tooltip" data-placement="top" title="This proposal has slides" aria-label="Outstation Speaker" aria-label="Slides" class="material-icons icon-middle">slideshow</i></li>
              {% endif %}
            </ul>
          </td>
        </tr>
      {% else %}
        <tr>
          <td><em>{% trans %}(No sessions have been submitted){% endtrans %}</em></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{%- endmacro %}

{%- macro page_btns(project) %}
  <ul class="mui-list--inline">
    {%- if project.boxoffice_data %}
      <li class="cta">
        <a href="{{ project.url_for() }}#participate" class="mui-btn mui-btn--raised mui-btn--primary" title="Participate" data-action="Participate(header)"><i class="material-icons mui--text-subhead mui--align-middle">local_play</i>{% trans %}Participate{% endtrans %}</a>
      </li>
    {%- elif project.buy_tickets_url %}
      <li class="cta">
        <a href="{{ project.buy_tickets_url }}" class="mui-btn mui-btn--raised mui-btn--primary" target="_blank" title="Participate" data-action="Participate(header)"><i class="material-icons mui--text-subhead mui--align-middle">local_play</i>{% trans %}Participate{% endtrans %}</a>
      </li>
    {%- elif project.allow_rsvp %}
      <li class="cta">
        <a href="{{ project.url_for() }}#participate" class="mui-btn mui-btn--raised mui-btn--primary" title="Participate" data-action="Participate(header)"><i class="material-icons mui--text-subhead mui--align-middle">local_play</i>{% trans %}Participate{% endtrans %}</a>
      </li>
    {%- endif %}
    {%- if project.state.HAS_SESSIONS %}
      <li class="cta">
        <hr class="mui-divider">
        <a href="{{ project.url_for('schedule') }}" class="mui-btn mui-btn--flat mui--text-left" title="View Schedule" data-action="View Schedule(header)"><i class="material-icons mui--text-subhead mui--align-middle">schedule</i>{% trans %}View Schedule{% endtrans %}</a>
      </li>
    {% endif %}
    {% if project.state.SUBMISSIONS -%}
      <li class="cta">
        {%- if not project.state.HAS_SESSIONS %}<hr class="mui-divider">{% endif %}
        <a class="mui-btn mui-btn--flat mui--text-left" href="{{ project.url_for('new_proposal') }}" title="Propose a session" data-action="Propose a session(header)"><i class="material-icons mui--text-subhead mui--align-middle">mic</i>{% trans %}Propose a session{% endtrans %}</a>
      </li>
    {% endif %}
  </ul>
{%- endmacro %}

{% block headline %}
  {{ project_header(project, page_btns=page_btns(project), current_page='proposals') }}
{% endblock %}

{% block contentwrapper %}
  <div class="grid details-section">
    <div class="grid__col-xs-12 grid__col-md-5 grid__col-lg-4">
      {%- if project.current_roles.admin or current_auth.permissions.checkin_event %}
        {{ admin_panel(project) }}
      {% endif %}
    </div>

    <div class="grid__col-xs-12 grid__col-md-7 grid__col-lg-8" id="proposals">
      <div class="grid__col-xs-12">
        <h2 class="mui--text-display1 mui--text-left project-section__headline">All proposals</h2>
        {%- if current_auth.permissions.view_status %}
          <div>
            <form class="mui-form mui--pull-left search-proposal-form mui--z1">
              <div class="mui-textfield">
                <input class="field-search" id="search" type="text" name="key" value="" placeholder="Search" />
              </div>
            </form>
          </div>
          {%- for state, proposal_group in project.proposals_by_state.items() if proposal_group -%}
              <p class="mui--text-subhead collapsible__header proposal-list-header">{{ state.label.title }} {% trans %}proposals{% endtrans %} <i class="material-icons mui--align-middle mui--pull-right collapsible__icon">keyboard_arrow_down</i><i class="material-icons mui--align-middle mui--hide mui--pull-right collapsible__icon">keyboard_arrow_up</i></p>
              <div class="collapsible__body">{{ proposal_list(project, proposal_group) }}</div>
          {%- endfor -%}
        {%- else %}
          {%- if project.proposals_by_confirmation['confirmed'] %}
            <h3 class="mui--text-subhead proposal-list-header">{% trans %}Confirmed sessions{% endtrans %}</h3>
            {{ proposal_list(project, project.proposals_by_confirmation['confirmed']) }}
          {%- endif %}
          {%- if project.proposals_by_confirmation['unconfirmed'] %}
            {%- if project.proposals_by_confirmation['confirmed'] %}<h3 class="mui--text-subhead proposal-list-header">{% trans %}Unconfirmed proposals{% endtrans %}</h3>{% endif %}
            {{ proposal_list(project, project.proposals_by_confirmation['unconfirmed']) }}
          {%- endif %}
        {%- endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% block footerscripts %}
  <script src="{{ url_for('static', filename=asset_path('proposals')) }}" type="text/javascript"></script>
  <script type="text/javascript">
    $(function() {
      var proposalsConfig = {};
      proposalsConfig.search = {
        tableId: 'proposals-table',
        inputId: 'search'
      };

      window.HasGeek.ProposalsInit(proposalsConfig);
    });
  </script>
{% endblock %}
