{% extends "layout.html.jinja2" %}
{% from "baseframe/forms.html.jinja2" import renderfield, renderform %}
{% from "comments.html.jinja2" import commenttree %}
{% block title %}{{ proposal.title }} &mdash; {{ space.title }}{% endblock %}
{% block description %}
  {%- if proposal.speaker -%}
    {% trans title=proposal.title, speaker=proposal.speaker.pickername, event=space.title %}{{ title }} by {{ speaker }}, {{ event }}{% endtrans %}
  {%- else -%}
    {{ proposal.title }}, {{ space.title }}
  {%- endif -%}
{% endblock %}
{% block heading %}{# Inhibit display of page-level title #}{% endblock %}

{% block top_title %}
  <h1 class="mui--text-display1"><strong>{{ space.title|e }}</strong></h1>
  <p class="mui--text-headline">{{ space.tagline|safe }}</p>
{% endblock %}

{% block contentwrapper %}
<div class="grid">
  <div class="grid__col-xs-12 proposal-wrapper">

    <div class="slider-btn slider-btn--left">
      {%- if proposal.getprev() -%}
        <a href="{{ proposal.url_for('prev') }}" class="mui-btn mui-btn--fab mui-btn--dark"><i class="material-icons mui--text-display2">chevron_left</i></a>
      {%- else -%}
        <button class="mui-btn mui-btn--fab mui-btn--dark" disabled><i class="material-icons mui--text-display2">chevron_left</i></button>
      {%- endif -%}
    </div>

    <section class="proposal__section proposal__section--border grid__col--bleed-y">
      <div>
        <div class="pull-right">
          <!-- Social buttons -->
          <a href="//twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="{{ config['TWITTER_ID'] }}">Tweet</a>
          <g:plusone size="medium"></g:plusone>
          <iframe class="facebooklike" src="//www.facebook.com/plugins/like.php?app_id=114496105304651&amp;href={{ request.url }}&amp;send=false&amp;layout=button_count&amp;width=150&amp;show_faces=false&amp;action=recommend&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:150px; height:21px;" allowTransparency="true"></iframe>
        </div>
      </div>

      <h1 class="mui--text-headline"><strong>{{ proposal.title }}</strong></h1>
      <p>
        {% trans %}Submitted by{% endtrans%}
        {%- if proposal.speaker %}
          <strong>{{ proposal.speaker.pickername }}</strong>
          {%- if proposal.speaker != proposal.user %}
            {% trans %}via{% endtrans %} {{ proposal.user.pickername }}
          {%- endif %}
        {%- else %}
          <strong>{{ proposal.user.pickername }}</strong>
          ({% trans %}proposing{% endtrans %})
        {%- endif %}
        {% trans %}on{% endtrans %} {{ proposal.datetime.strftime("%A, %e %B %Y") }}
        {%- if not proposal.speaker -%}
          <p>
            <em>{% trans %}This is a proposal requesting for someone to speak on this topic.
            If you’d like to speak, leave a comment.{% endtrans %}</em>
          </p>
        {%- endif -%}
      </p>
      <div class="mui--clearfix">
        <div class="proposal-details proposal-details--left">
          <div class="grid proposal-status-wrapper">
            <div class="col-auto columns">
              <p class="mui--text-body2 mui--text-light zero-bottom-margin">Technical level</p>
              <p class="mui--text-title">{{ proposal.technical_level }}</p>
            </div>
            {%- if proposal.section %}
            <div class="col-auto columns">
              <p class="mui--text-body2 mui--text-light zero-bottom-margin">{% trans %}Section{% endtrans %}</p>
              <p class="mui--text-title">{{ proposal.section.title }}</p>
            </div>
            {%- endif %}
            {%- if proposal.session_type %}
            <div class="col-auto columns">
              <p class="mui--text-body2 mui--text-light zero-bottom-margin">{% trans %}Session type{% endtrans %}</p>
              <p class="mui--text-title">{{ proposal.session_type }}</p>
            </div>
            {%- endif %}
            <div class="col-auto columns">
              <p class="mui--text-body2 mui--text-light zero-bottom-margin">Status</p>
              <p class="mui--text-title zero-bottom-margin">{% if proposal.state.CONFIRMED %}{{ proposal.state.label.title }}{% else %}{% trans %}Submitted{% endtrans %}{% endif %}</p>
              {% if proposal.state.SCHEDULED %}
                <p><a class="" href="{{ proposal.session.url_for() }}">View proposal in schedule</a></p>
              {% endif %}
            </div>
          </div>

          {%- set vote = proposal.votes.getvote(g.user) %}
          {%- if g.user %}
            <div class="grid__col-xs-8 grid__col--bleed">
              <p class="mui--text-subhead mui--text-light zero-bottom-margin">{% trans %}Vote on this proposal{% endtrans %}</p>
              {%- if not vote %}
                <div class="grid grid--justify-space-between vote-wrapper">
                  <div class="col-auto">
                    <form method="post" action="{{ proposal.url_for('voteup') }}">
                      {{ csrf_form.hidden_tag() }}
                      <button class="mui--text-caption action-btn action-btn--left" title="{% trans %}Vote up{% endtrans %}" type="submit"><i class="material-icons action-btn__icons">arrow_drop_up</i>Upvote</button>
                    </form>
                  </div>
                  <div class="col-auto count">
                    <span class="mui--text-title">
                      {%- if proposal.votes.count > 0 -%}
                        +
                      {%- endif -%}
                      {{ proposal.votes.count }}
                    </span>
                  </div>
                  <div class="col-auto">
                    <form method="post" action="{{ proposal.url_for('votedown') }}">
                      {{ csrf_form.hidden_tag() }}
                      <button class="mui--text-caption action-btn action-btn--right" title="{% trans %}Vote down{% endtrans %}" type="submit"><i class="material-icons action-btn__icons">arrow_drop_down</i>Downvote</button>
                    </form>
                  </div>
                </div>
              {%- elif vote.votedown %}
                <div class="grid grid--justify-space-between vote-wrapper">
                  <div class="col-auto">
                    <form method="post" action="{{ proposal.url_for('voteup') }}">
                      {{ csrf_form.hidden_tag() }}
                      <button class="mui--text-caption action-btn action-btn--left" title="{% trans %}Vote up{% endtrans %}" type="submit"><i class="material-icons action-btn__icons">arrow_drop_up</i>Upvote</button>
                    </form>
                  </div>
                  <div class="col-auto count">
                    <span class="mui--text-title">
                      {%- if proposal.votes.count > 0 -%}
                        +
                      {%- endif -%}
                      {{ proposal.votes.count }}
                    </span>
                  </div>
                  <div class="col-auto">
                    <form method="post" action="{{ proposal.url_for('votecancel') }}">
                      {{ csrf_form.hidden_tag() }}
                      <button class="mui--text-caption action-btn action-btn--right" title="{% trans %}Withdraw vote{% endtrans %}" type="submit"><i class="material-icons action-btn__icons action-btn__icons--small">clear</i>Withdraw</button>
                    </form>
                  </div>
                </div>
              {%- else %}
                <div class="grid grid--justify-space-between vote-wrapper">
                  <div class="col-auto">
                    <form method="post" action="{{ proposal.url_for('votecancel') }}">
                      {{ csrf_form.hidden_tag() }}
                      <button class="mui--text-caption action-btn action-btn--left" title="{% trans %}Withdraw vote{% endtrans %}" type="submit"><i class="material-icons action-btn__icons action-btn__icons--small">clear</i>Withdraw</button>
                    </form>
                  </div>
                  <div class="col-auto count">
                    <span class="mui--text-title">
                      {%- if proposal.votes.count > 0 -%}
                        +
                      {%- endif -%}
                      {{ proposal.votes.count }}
                    </span>
                  </div>            
                  <div class="col-auto">
                    <form method="post" action="{{ proposal.url_for('votedown') }}">
                      {{ csrf_form.hidden_tag() }}
                      <button class="mui--text-caption action-btn action-btn--right" title="{% trans %}Vote down{% endtrans %}" type="submit"><i class="material-icons action-btn__icons">arrow_drop_down</i>Downvote</button>
                    </form>
                  </div>
                </div>
              {% endif %}
            </div>
          {%- else %}
            <div class="grid__col-xs-6 grid__col-sm-5 grid__col-md-4 grid__col--bleed">
              <div class="grid grid--justify-space-between vote-wrapper">
                <div class="grid__col-xs-8">
                  <a href="{{url_for('login')}}" class="mui--text-body1 action-btn action-btn--login action-btn--left">Login to vote</a>
                </div>
                <div class="grid__col-xs-4">
                  <span class="mui--text-title">
                    {%- if proposal.votes.count > 0 -%}
                      +
                    {%- endif -%}
                    {{ proposal.votes.count }}
                  </span>
                </div>
              </div>
            </div>
          {%- endif %}
        </div>

        <div class="proposal-details proposal-details--right">
          {% if proposal.preview_video %}
            <div class="proposal-video js-embed" data-href="{{ proposal.preview_video }}">
            </div>
          {%- else %}
            <div class="proposal-video mui--bg-primary-light">
              <i class="material-icons no-video">videocam_off</i>
            </div>
          {% endif %}
        </div>
      </div>
    </section>

    <div class="proposal__section--border">
      {%- if proposal.user == g.user or proposal.current_roles.admin %}
      <div class="proposal__admin-panel">
        <div class="card">
          <div class="card__header">
            <h3 class="mui--text-title"><strong>ADMIN PANEL</strong></h3>
          </div>
          <div class="card__body">
            {%- if proposal.user == g.user %}
              <ul class="mui-list--aligned">
                <li><a href="{{ proposal.url_for('edit') }}">{% trans %}Edit proposal{% endtrans %}</a></li>
                <li><a href="{{ proposal.url_for('delete') }}">{% trans %}Delete proposal{% endtrans %}</a></li>
              </ul>
            {%- endif %}
            {% if proposal.current_roles.admin %}
              <hr class="mui-divider">
              {%- if proposal_move_form %}
                {{ renderform(proposal_move_form, 'proposal-move', action=proposal.url_for('move-to'), submit="Move", style='horiz') }}
              {%- endif %}
              <hr class="mui-divider">
              <p class="mui--text-subhead">Change status of proposal</p>
              <form action="{{ proposal.url_for('transition') }}" method="post" class="form-inline">
                {{ transition_form.hidden_tag() }}
                <p class="btn-group">
                  {% for name, transition in transition_form.transition.choices %}
                    <button name="transition" value="{{ name }}" class="transition mui-btn mui-btn--small mui-btn--raised {% if transition.data['type'] == 'success' %} mui-btn--primary {% elif transition.data['type'] == 'danger' %}  mui-btn--danger {%- endif %}">{{ transition.data['title'] }}</button>
                  {% endfor %}
                </p>
              </form>
              <hr class="mui-divider">
              {% if 'participants' in votes_groups %}
                <p class="mui--text-subhead">Total Participant Votes</p>
                <p class="mui--text-body2">
                  {% if votes_groups['participants'] > 0 %}+{% endif %}{{ votes_groups['participants'] }}
                </p>
              {% endif %}
              {% if 'editorial-panel' in votes_groups %}
                <p class="mui--text-subhead">Total EP Votes</p>
                <p class="mui--text-body2">
                {% if votes_groups['editorial-panel'] > 0 %}+{% endif %}{{ votes_groups['editorial-panel'] }}</p>
              {% endif %}
              {% set votes = dict() %}
              {% for vote in proposal.votes.votes %}
                {% if votes.update({vote.user.username: vote}) %}{% endif %}
              {% endfor %}
              {% for group in proposal.proposal_space.usergroups %}
                {% if group.name == 'editorial-panel' %}
                  {% for member in group.users %}
                    <p class="mui--text-subhead">EP Vote: {% if g.user != member %}{{ member.fullname }}{% else %}You{% endif %}</p>
                    <p class="mui--text-body2">
                      {% if member.username in votes %}
                        {% if votes[member.username].votedown %}-1{% else %}+1{% endif %}
                      {% else %}
                        &mdash;
                      {% endif %}
                    </p>
                  {% endfor %}
                {% endif %}
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %}

      <section class="proposal__section {%- if proposal.user == g.user or proposal.current_roles.admin %} proposal__section--left {% endif %}">
        <div class="proposal-content">
          <h3 class="mui--text-headline">{% trans %}{{part_a}}{% endtrans %}</h3>
          {{ proposal.objective }}
          <h3 class="mui--text-headline">{% trans %}{{part_b}}{% endtrans %}</h3>
          {{ proposal.description }}
          {% if proposal.requirements.text -%}
            <h3 class="mui--text-headline">{% trans %}Requirements{% endtrans %}</h3>
            {{ proposal.requirements }}
          {%- endif %}
          {% if proposal.bio.text -%}
            <h3 class="mui--text-headline">{% trans %}Speaker bio{% endtrans %}</h3>
            {{ proposal.bio }}
          {%- endif %}
          {% if proposal.links %}
            <h3 class="mui--text-headline">{% trans %}Links{% endtrans %}</h3>
            <ul id="links-list">
              {% for link in links -%}
                <li>{{ link }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          {% if proposal.slides %}
            <h3 class="mui--text-headline">{% trans %}Slides{% endtrans %}</h3>
            <a href="{{ proposal.slides }}">{{ proposal.slides }}</a>
          {% endif %}
        </div>
      </section>

    </div>

    <section class="proposal__section">
      <h3 class="mui--text-headline"><strong>{% trans %}Comments{% endtrans %}</strong></h3>
      {% if comments %}
        <ul class="mui-list--unstyled">
          {{ commenttree(comments, proposal, space, g.user, request.base_url, csrf_form) }}
        </ul>
      {% endif %}
      {% if not g.user -%}
        <p>
          <a class="mui-btn mui-btn--small mui-btn--raised mui-btn--primary" href="{{ url_for('login') }}">{% trans %}Login with Twitter or Google to leave a comment{% endtrans %}</a>
        </p>
      {% else -%}
        <form method="POST" id="comment-form" class="mui-form">
          <div class="mui--hide">
            <input type="hidden" name="form.id" value="newcomment"/>
            {{ commentform.hidden_tag() }}
            {{ commentform.parent_id() }}
            {{ commentform.comment_edit_id() }}
          </div>
          {{ renderfield(commentform.message, nolabel=true) }}
          <input id="comment-submit" class="mui-btn mui-btn--small mui-btn--raised mui-btn--primary" type="submit" value="{% trans %}Post comment{% endtrans %}"/>
        </form>
        <p id="toplevel-comment" class="mui--hide">
          <a href="#">{% trans %}Post a comment &rarr;{% endtrans %}</a>
        </p>
        <form method="POST" id="delcomment" class="mui--hide">
          <div class="mui--hide">
            <input type="hidden" name="form.id" value="delcomment"/>
            {{ delcommentform.hidden_tag() }}
            {{ delcommentform.comment_id() }}
          </div>
          <p>
            {% trans %}Really delete this comment?{% endtrans %}&nbsp;
            <input id="comment-delete-submit" class="mui-btn mui-btn--small mui-btn--raised mui-btn--danger" type="submit" value="{% trans %}Delete{% endtrans %}"/>
            &nbsp;or&nbsp;<button id="comment-delete-cancel" class="mui-btn mui-btn--small mui-btn--raised mui-btn--accent" href="#">{% trans %}Cancel{% endtrans %}</button>
          </p>
        </form>
      {% endif %}
    </section>

    <div class="slider-btn slider-btn--right">
      {%- if proposal.getnext() -%}
        <a href="{{ proposal.url_for('next') }}" class="mui-btn mui-btn--fab mui-btn--dark"><i class="material-icons mui--text-display2">chevron_right</i></a>
      {%- else -%}
        <button class="mui-btn mui-btn--fab mui-btn--dark" disabled><i class="material-icons mui--text-display2">chevron_right</i></button>
      {%- endif -%}
    </div>
  </div>

</div>
{% endblock %}

{% block footerscripts %}
<script type="text/javascript">
  $(function() {
    commentsInit({{ request.base_url|tojson }});
    $('#tab-container').easytabs();
    var videoWrapper = $('.js-embed'),
      videoUrl = $('.js-embed').data('href'),
      videoId, videoEmbedUrl;
    if(videoUrl.indexOf('youtube') > 0 && videoUrl.indexOf('watch') > 0) {
      videoEmbedUrl = '<iframe id="youtube_player" src="' + videoUrl + '?wmode=transparent&showinfo=0&rel=0&autohide=0&autoplay=0&enablejsapi=1&version=3" frameborder="0" allowfullscreen></iframe>';
      videoWrapper.html(videoUrl);
    } else if(videoUrl.indexOf('youtu.be') > 0) {
      videoId = videoUrl.split('youtu.be/')[1];
      console.log('youtube videoId', videoId);
      videoEmbedUrl = '<iframe id="youtube_player" src="//www.youtube.com/embed/' + videoId + '?wmode=transparent&showinfo=0&rel=0&autohide=0&autoplay=0&enablejsapi=1&version=3" frameborder="0" allowfullscreen></iframe>';
      videoWrapper.html(videoEmbedUrl);
    } else if(videoUrl.indexOf('vimeo') > 0) {
      videoId = videoUrl.split('vimeo/')[1];
      console.log('videoId', videoId);
      videoEmbedUrl = '<iframe id="vimeo_player" src="//player.vimeo.com/video/' + videoId + '?api=1&autoplay=1" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>';
      videoWrapper.html(videoEmbedUrl);
    }
    else {
      videoWrapper.html('<i class="material-icons no-video">videocam_off</i>')
    }
  });
</script>
<script type="text/javascript" src="//apis.google.com/js/plusone.js"></script>
<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
{% endblock %}
