{% from 'baseframe/forms.html' import ajaxlink %}
{%- set vote = proposal.votes.getvote(g.user) %}
{%- if not vote %}
  {{ ajaxlink(csrf_form, "+1", "Vote up", proposal.url_for('voteup'), 'proposal_vote_up', target='#proposal_vote_choices', class='votechoice', success_msg="Your upvote has been recorded") }}
  {{ ajaxlink(csrf_form, "-1", "Vote down", proposal.url_for('votedown'), 'proposal_vote_down', target='#proposal_vote_choices', class='votechoice', success_msg="Your downvote has been recorded") }}
{%- elif vote.votedown %}
  {{ ajaxlink(csrf_form, "+1", "Vote up", proposal.url_for('voteup'), 'proposal_vote_up', target='#proposal_vote_choices', class='votechoice', success_msg="Your upvote has been recorded") }}
  {{ ajaxlink(csrf_form, "-1", "Withdraw vote", proposal.url_for('votecancel'), 'proposal_vote_down', target='#proposal_vote_choices', class='votechoice selected', success_msg="Your downvote has been withdrawn") }}
{%- else %}
  {{ ajaxlink(csrf_form, "+1", "Withdraw vote", proposal.url_for('votecancel'), 'proposal_vote_up', target='#proposal_vote_choices', class='votechoice selected', success_msg="Your upvote has been withdrawn") }}
  {{ ajaxlink(csrf_form, "-1", "Vote down", proposal.url_for('votedown'), 'proposal_vote_down', target='#proposal_vote_choices', class='votechoice', success_msg="Your downvote has been recorded") }}
{% endif %}
<span class="indicator">&rarr;</span>
<span class="score">
  {%- if proposal.votes.count > 0 -%}
    +
  {%- endif -%}
  {{ proposal.votes.count }}
</span>