{% extends "layout.html.jinja2" %}
{% set title_suffix = project.title %}
{% from "baseframe/components.html.jinja2" import faicon %}
{%- from "macros.html.jinja2" import embed_video_player, video_action_bar, comments_tree,  project_mini_header, useravatar %}
{%- from "js/comments.js.jinja2" import comments_tree, comment_template %}
{% block title %}{{ proposal.title }}{% endblock %}
{% block description %}{{ proposal.description }}{% endblock %}

{%- block pageheaders %}
  {% assets "css_codemirrormarkdown" -%}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
  {%- endassets -%}
{% endblock %}

{% block top_title %}
  {{ project_mini_header(project) }}
{% endblock %}

{% block contentwrapper %}
<div class="grid">
  <div class="grid__col-xs-12 grid__col-sm-8 proposal-wrapper">
    <div class="details">
      {% if proposal.session and proposal.session.video or proposal.video or 'edit_proposal' in proposal.permissions(current_auth.user) %}
        <div class="details__box details__box--left mui-tabs__bar">
          {% with seq = 1 %}
            {% if proposal.session and proposal.session.video and proposal.session.video.url %}
              <div class="mui-tabs__pane {% if seq==1 %}mui--is-active{%- endif -%}" id="pane-justified-{{ seq }}">
                <div class="details__box__video mui--bg-primary-dark embed-video-wrapper" data-cy="session-video">
                  {{ embed_video_player(proposal.session.video) }}
                </div>
                <div class="details__box__control">
                  {{ video_action_bar(proposal.session.video, '', proposal.session)}}
                </div>
              </div>
              {% set seq = seq + 1 %}
            {%- endif -%}
            {% if proposal.video %}
              <div class="mui-tabs__pane {% if seq == 1 %}mui--is-active{%- endif -%}" id="pane-justified-{{ seq }}">
                <div class="details__box__video mui--bg-primary-dark embed-video-wrapper" data-cy="proposal-video">
                  {{ embed_video_player(proposal.video) }}
                </div>
                <div class="details__box__control">
                  {{ video_action_bar(proposal.video, proposal) }}
                </div>
              </div>
            {%- elif 'edit_proposal' in proposal.permissions(current_auth.user) %}
              <div class="mui-tabs__pane {% if seq == 1 %}mui--is-active{%- endif -%}" id="pane-justified-{{ seq }}">
                <div class="details__box__video details__box__video--novideo embed-video-wrapper">
                  <p class="details__box__video__banner mui--bg-warning mui--text-body2">{% trans %}Your proposal doesn't have a preview video!{% endtrans %}</p>
                  <p class="video_txt"><a href="{{ proposal.url_for('edit') }}#field-video" class="mui-btn mui-btn--primary mui-btn--small mui-btn--raised">{% trans %}Add preview video link{% endtrans %}</a></p>
                </div>
              </div>
            {% endif %}
          {% endwith %}
        </div>
      {% endif %}
      {% if proposal.video and proposal.session and proposal.session.video %}
        <div class="details__box details__box--right">
          <div class="gallery mui-tabs__bar">
            {% with seq = 1 %}
              {% if proposal.session and proposal.session.video and proposal.session.video.url %}
                <h3 class="mui--text-subhead mui--text-accent mui--text-bold gallery__text">{% trans %}Session video{% endtrans %}</h3>
                <div class="gallery__thumbnail tabs__item {% if seq == 1 %}mui--is-active{%- endif -%}">
                  <a class="mui--d-inlineblock" role="tab" data-mui-toggle="tab" data-mui-controls="pane-justified-{{ seq }}">
                    <img src="{{ proposal.session.video.thumbnail }}" class="img-responsive" data-cy="session-video-thumbnail">
                    <div class="overlay"></div>
                    <div class="gallery__thumbnail__play-icon">{{ faicon(icon='play-circle', icon_size='headline', baseline=false) }}</div>
                  </a>
                </div>
                {% set seq = seq + 1 %}
              {% endif %}
              <h3 class="mui--text-subhead mui--text-accent mui--text-bold gallery__text">{% trans %}Proposal video{% endtrans %}</h3>
              {% if proposal.video %}
                <div class="gallery__thumbnail tabs__item {% if seq == 1 %}mui--is-active{%- endif -%}">
                  <a class="mui--d-inlineblock" role="tab" data-mui-toggle="tab" data-mui-controls="pane-justified-{{ seq }}">
                    <img src="{{ proposal.video.thumbnail }}" class="img-responsive" data-cy="proposal-video-thumbnail">
                    <div class="overlay"></div>
                    <div class="gallery__thumbnail__play-icon">{{ faicon(icon='play-circle', icon_size='headline', baseline=false) }}</div>
                  </a>
                </div>
                {%- else %}
                <div class="gallery__thumbnail tabs__item {% if seq == 1 %}mui--is-active{%- endif -%}">
                  <a role="tab" data-mui-toggle="tab" data-mui-controls="pane-justified-{{ seq }}">
                    <h3 class="mui--text-subhead mui--text-accent mui--text-bold">No preview video</h3>
                  </a>
                </div>
              {% endif %}
            {% endwith %}
          </div>
        </div>
      {% endif %}
    </div>
    <section class="proposal__section grid__col--bleed-y">
      <p class="mui--text-caption mui--text-light zero-bottom-margin">{% trans date=proposal.datetime|date  %}Posted on {{ date }} {% endtrans %}</p>
      <div class="mui--d-inlineblock">
      <h1 class="mui--text-title mui--text-bold mui--pull-left">{{ proposal.title }}</h1>
        {% if 'edit_proposal' in proposal.permissions(current_auth.user) or proposal.current_roles.project_editor %}
          <a class="mui--text-title mui--text-light mui--d-inlineblock mui--pull-right" href="{{ proposal.url_for('admin') }}" rel="modal:open" aria-label="{% trans %}Admin panel{% endtrans %}">{{ faicon(icon='ellipsis-v', icon_size='title', baseline=false) }}</a>
        {% endif %}
      </div>
      <div class="zero-bottom-margin">
        {%- if proposal.speaker %}
          <div class="user">
            <div class="user__box">
              {{ useravatar(proposal.speaker) }}
              <div class="user__box__header">
                <p class="mui--text-body2 user__box__fullname">{{ proposal.speaker.fullname }}</p>
                <p class="mui--text-caption user__box__userid">@{{ proposal.speaker.username }}</p>
              </div>
            </div>
          </div>
        {%- else %}
          <p>{% trans speaker=proposal.user.pickername, date=proposal.datetime|date  %}Submitted by {{ speaker }} proposing on {{ date }} {% endtrans %}</p>
          <p class="zero-bottom-margin">
            <em>{% trans %}This is a proposal requesting for someone to speak on this topic.
            If you’d like to speak, leave a comment.{% endtrans %}</em>
          </p>
        {%- endif -%}
      </div>
    </section>
    <section class="proposal__section">
      <div>
        {%- for label in proposal.labels %}
          {% if not label.restricted %}
            <span class="label mui--text-bold">{% if label.icon_emoji %}{{ label.icon_emoji }} {% endif %}{% if label.main_label %}{{ label.main_label.title }}: {% endif %}{{ label.title }}</span>
          {%- endif %}
        {%- endfor %}
        {%- if proposal.current_roles.project_editor %}
          {%- for label in proposal.labels %}
            {%- if label.restricted %}
              <span class="label mui--text-bold">{% if label.icon_emoji %}{{ label.icon_emoji }} {% endif %}{% if label.main_label %}{{ label.main_label.title }}: {% endif %}{{ label.title }}</span>
            {%- endif %}
          {%- endfor %}
        {% endif %}
        <span class="label mui--text-bold" data-cy-proposal-status="{{ proposal.state.label.title }}">{% trans status=proposal.state.label.title %}Status: {{ status }}{% endtrans %}</span>
      </div>
      {% if proposal.state.SCHEDULED %}
        <div><a class="mui-btn mui-btn--raised mui-btn--small mui-btn--dark" href="{{ proposal.session.url_for() }}">{% trans %}View proposal in schedule{% endtrans %}</a></div>
      {% endif %}
    </section>

    <section class="proposal__section--border">
      <div class="proposal__section proposal__section--left">
        <div class="proposal-content">
          {{ proposal.body }}
        </div>
      </div>
    </section>

    <section class="proposal__section">
      <h3 id="comments" class="mui--text-headline mui--text-bold">{% trans %}Comments{% endtrans %}</h3>
      {{ comments_tree() }}
      {{ comment_template() }}
    </section>
  </div>

  <div class="grid__col-xs-12 grid__col-sm-4">
    <h2 class="mui--text-subhead mui--text-bold mui--text-uppercase zero-top-margin">Up next</h2>
    {%- if proposal.getnext() -%}
      <a class="card clickable-card" href="{{ proposal.url_for('next') }}" aria-label="{{ proposal.getnext().title }}" data-action="View {{ proposal.getnext().title }}">
        <div class="card__body">
          <h3 class="card__body__subtitle mui--text-subhead mui--text-bold">{{ proposal.getnext().title }}</h3>
          <div>{{ proposal.getnext().description }}</div>
          {% if proposal.getnext().video and  proposal.getnext().video.thumbnail %}
            <img src="{{ proposal.getnext().video.thumbnail }}" class="proposal-video-thumbnail img-responsive">
            <div class="mui--pull-right">
              <ul class="bullet-separated-list--flex">
                <li>{{ proposal.getnext().datetime|shortdate }}</li>
                {%- if proposal.getnext().video.duration %}<li class="js-video-duration"><span class="bullet-separated-list__span">{{ proposal.getnext().video.duration }}</span></li>{%- endif %}
              </ul>
              <p class="mui--text-body2 primary-color-txt">Read more {{ faicon(icon='chevron-right', icon_size='caption', baseline=false, css_class="mui--align-middle") }}</p>
            </div>
          {% else %}
            <p class="mui--text-body2 zero-bottom-margin">{{ proposal.getnext().datetime|shortdate }}</p>
            <p class="mui--text-body2 primary-color-txt">Read more {{ faicon(icon='chevron-right', icon_size='caption', baseline=false, css_class="mui--align-middle") }}</p>
          {%- endif -%}
        </div>
      </a>
    {%- endif -%}
  </div>

</div>
{% endblock %}

{% block pagescripts %}
  {% assets "js_codemirrormarkdown" -%}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {%- endassets -%}
{% endblock %}

{% block footerscripts %}
<script src="{{ url_for('static', filename=asset_path('proposal')) }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename=asset_path('comments')) }}" type="text/javascript"></script>
<script type="text/javascript">
  $(function() {
    var proposalConfig = {};
    proposalConfig.videoWrapper = document.getElementById('js-embed');
    if(proposalConfig.videoWrapper) {
      proposalConfig.videoUrl = proposalConfig.videoWrapper.getAttribute('data-video-src');
    }
    window.Hasgeek.ProposalInit(proposalConfig);

    var commentsConfig = {
      newCommentUrl: "{{ proposal.commentset.url_for('new_comment') }}",
      commentsUrl: "{{ proposal.url_for('comments') }}",
      divElem: "#comments-wrapper",
      commentTemplate: '#comment-template',
      isuserloggedin: {% if current_auth.user -%}true{% else %}false{% endif %},
      isuserparticipant: {% if current_auth.user and proposal.features.comment_new() -%}true{% else %}false{% endif %},
      iscommentmoderator: {% if current_auth.user and current_auth.user.is_comment_moderator -%}true{% else %}false{% endif %},
      user: {% if current_auth.user -%}{{ { 'fullname': current_auth.user.fullname, 'avatar': current_auth.user.avatar, 'profile_url': current_auth.user.profile_url }|tojson }}{% else %}{}{% endif %},
      loginUrl: "{{ url_for('login') }}",
    };

    window.Hasgeek.Comments(commentsConfig);

  });
</script>
<script src="{{ 'parsley.js'|ext_asset_url }}" type="text/javascript"></script>
{% endblock %}
