{% extends "layout.html.jinja2" %}
{% set title_suffix = project.title %}
{% from "baseframe/forms.html.jinja2" import renderfield, renderform, rendersubmit, widgetscripts %}
{% from "comments.html.jinja2" import commenttree %}
{% block title %}{{ proposal.title }}{% endblock %}
{% block description %}
  {%- if proposal.speaker -%}
    {% trans title=proposal.title, speaker=proposal.speaker.pickername, event=project.title %}{{ title }} by {{ speaker }}, {{ event }}{% endtrans %}
  {%- else -%}
    {{ proposal.title }}, {{ project.title }}
  {%- endif -%}
{% endblock %}

{%- block pageheaders %}
  {% assets "css_codemirrormarkdown" -%}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
  {%- endassets -%}
{% endblock %}

{% block top_title %}
  <h1 class="mui--text-display1"><a href="{{ project.url_for() }}"><strong>{{ project.title|e }}</a></strong></h1>
  <p class="mui--text-headline">{{ project.tagline }}</p>
  <p>
  {%- if project.allow_rsvp or project.boxoffice_data and project.boxoffice_data.item_collection_id -%}
    <a class="mui-btn mui-btn--small mui-btn--primary mui--d-inlineblock" href="{{ project.url_for() }}#tickets" title="Tickets" data-action="Tickets(header-proposalpage)">{% trans %}Tickets{% endtrans %}</a>
  {%- elif project.buy_tickets_url.url %}
    <a class="mui-btn mui-btn--small mui-btn--primary mui--d-inlineblock" href="{{ project.buy_tickets_url }}" title="Tickets" data-action="Tickets(header-proposalpage)">{% trans %}Tickets{% endtrans %}</a>
  {%- endif %}
  {% if project.cfp_state.OPEN -%}
    <a class="mui-btn mui-btn--flat mui-btn--nopadding" href="{{ project.url_for('new_proposal') }}" title="Propose a session" data-action="Propose a session(header)"><i class="material-icons mui--text-subhead mui--align-middle" aria-hidden="true">mic</i>{% trans %}Propose a session{% endtrans %}</a>
  {% endif %}
  </p>
{% endblock %}

{% block contentwrapper %}
<div class="grid">
  <div class="grid__col-xs-12">
    <div class="slider-btn-wrapper clearfix">
      <div class="slider-btn {% if proposal.getnext() %} slider-btn--push-down {% endif %} mui--pull-left">
        {%- if proposal.getprev() -%}
          <p class="mui--text-title mui--text-light {%- if proposal.getnext() %} mui--hidden-xs mui--hidden-sm{%- endif -%}">Previous proposal</p>
          <a href="{{ proposal.url_for('prev') }}" rel="nofollow"><p class="mui--text-title mui--text-light mui--text-bold"><i class="material-icons mui--text-light" aria-hidden="true">arrow_back</i> <span class="truncate-title {%- if proposal.getnext() %} mui--hidden-xs mui--hidden-sm{%- endif -%}">{{ proposal.getprev().title }}</span></p></a>
        {%- endif -%}
      </div>
      <div class="slider-btn slider-btn--right mui--pull-right">
        {%- if proposal.getnext() -%}
          <p class="mui--text-title mui--text-light mui--text-right">Next proposal</p>
          <a href="{{ proposal.url_for('next') }}" rel="nofollow"><p class="mui--text-title mui--text-light mui--text-bold mui--text-right"><span class="truncate-title">{{ proposal.getnext().title }}</span> <i class="material-icons mui--text-light" aria-hidden="true">arrow_forward</i></p></a>
        {%- endif -%}
      </div>
    </div>
  </div>
  <div class="grid__col-xs-12 proposal-wrapper">

    <section class="proposal__section proposal__section--border grid__col--bleed-y">
      <h1 class="mui--text-headline proposal__section__headline"><strong>{{ proposal.title }}</strong>  {% if proposal.current_roles.owner %}<a href="{{ proposal.url_for('edit') }}#field-title" title="{% trans %}Edit{% endtrans %}" aria-label="{% trans %}Edit proposal{% endtrans %}"><i class="material-icons mui--text-title mui--align-middle mui--text-link" aria-hidden="true">edit</i></a>{% endif %}</h1>
      <p>
        {% trans %}Submitted by{% endtrans%}
        {%- if proposal.speaker %}
          <strong>{{ proposal.speaker.pickername }}</strong>
          {%- if proposal.speaker != proposal.user %}
            {% trans %}via{% endtrans %} {{ proposal.user.pickername }}
          {%- endif %}
        {%- else %}
          <strong>{{ proposal.user.pickername }}</strong>
          ({% trans %}proposing{% endtrans %})
        {%- endif %}
        {% trans %}on{% endtrans %} {{ proposal.datetime.strftime("%A, %e %B %Y") }}
        {%- if not proposal.speaker -%}
          <p>
            <em>{% trans %}This is a proposal requesting for someone to speak on this topic.
            If you’d like to speak, leave a comment.{% endtrans %}</em>
          </p>
        {%- endif -%}
      </p>
      <div class="mui--clearfix">
        <div class="proposal-details proposal-details--left">
          {% if proposal.preview_video.url %}
            <div class="proposal-video mui--bg-primary-light" data-href="{{ proposal.preview_video }}" id="js-embed">
              <p class="video_txt">
                <i class="material-icons" aria-hidden="true">videocam</i><br>
                <a href="{{ proposal.preview_video }}" target="_blank" class="mui--text-title">{% trans %}Preview video{% endtrans %}</a>
              </p>
            </div>
          {%- elif proposal.current_roles.owner %}
            <div class="proposal-video proposal-video--novideo">
              <p class="proposal-video__banner mui--bg-warning mui--text-body1">{% trans %}Your proposal doesn't have a preview video!{% endtrans %}</p>
              <p class="video_txt"><a href="{{ proposal.url_for('edit') }}#field-preview_video" class="mui-btn mui-btn--primary mui-btn--small mui-btn--raised">{% trans %}Add preview video link{% endtrans %}</a></p>
            </div>
          {%- else %}
            <div class="proposal-video mui--bg-primary-light">
              <i class="material-icons no-video" aria-hidden="true">videocam_off</i>
            </div>
          {% endif %}
        </div>
        <div class="proposal-details proposal-details--right">
          <p>
          {%- for label in proposal.labels %}
            {% if not label.restricted %}
              <span class="label mui--text-bold">{% if label.icon_emoji %}{{ label.icon_emoji }} {% endif %}{% if label.main_label %}{{ label.main_label.title }}: {% endif %}{{ label.title }}</span>
            {%- endif %}
          {%- endfor %}
          {%- if proposal.current_roles.admin %}
            {%- for label in proposal.labels %}
              {%- if label.restricted %}
                <span class="label mui--text-bold">{% if label.icon_emoji %}{{ label.icon_emoji }} {% endif %}{% if label.main_label %}{{ label.main_label.title }}: {% endif %}{{ label.title }}</span>
              {%- endif %}
            {%- endfor %}
          {% endif %}
          </p>
          {% if proposal.state.SCHEDULED %}
            <p class="mui--text-subhead zero-bottom-margin"><a class="" href="{{ proposal.session.url_for() }}">{% trans %}View proposal in schedule{% endtrans %}</a></p>
          {% endif %}
        </div>
      </div>
    </section>

    <section class="proposal__section--border">

      <div class="proposal__admin-panel sticky-admin-panel">
        {%- if proposal.current_roles.owner or proposal.current_roles.admin %}
          <div class="card">
            <div class="card__header">
              <h3 class="mui--text-title"><strong>ADMIN PANEL</strong></h3>
            </div>
            <div class="card__body">
              {%- if proposal.current_roles.owner %}
                <ul class="mui-list--aligned">
                  <li><a href="{{ proposal.url_for('edit') }}">{% trans %}Edit details{% endtrans %}</a></li>
                  <li><a href="{{ proposal.url_for('delete') }}">{% trans %}Delete{% endtrans %}</a></li>
                </ul>
                <hr class="mui-divider">
              {%- endif %}
              {% if proposal.current_roles.admin %}
                {%- if proposal_move_form %}
                  {{ renderform(proposal_move_form, 'proposal-move', action=proposal.url_for('moveto'), submit="Move", style='horiz') }}
                {%- endif %}
                {%- if proposal_transfer_form %}
                  {{ renderform(proposal_transfer_form, 'proposal-transfer', action=proposal.url_for('transfer_to'), submit="Transfer", style='horiz') }}
                {%- endif %}
                <hr class="mui-divider">
                <p class="mui--text-subhead">Change status of proposal</p>
                <form action="{{ proposal.url_for('transition') }}" method="post" class="form-inline">
                  {{ transition_form.hidden_tag() }}
                  <p class="btn-group">
                    {% for name, transition in transition_form.transition.choices %}
                      <button name="transition" value="{{ name }}" class="transition mui-btn mui-btn--small mui-btn--raised {% if transition.data['type'] == 'success' %} mui-btn--primary {% elif transition.data['type'] == 'danger' %}  mui-btn--danger {%- endif %}">{{ transition.data['title'] }}</button>
                    {% endfor %}
                  </p>
                </form>
              {% endif %}
              {% if proposal.current_roles.admin and  proposal_label_admin_form %}
                <form action="{{ proposal.url_for('edit_labels') }}" method="post" class="add-label-form">
                  {{ proposal_label_admin_form.hidden_tag() }}
                  <p class="mui--text-title">Labels</p>
                  <div class="selected-label" id="label-select">
                    {%- for label in proposal.labels %}
                      <span class="label mui--text-caption mui--text-bold" data-labeltxt="{% if label.main_label %}{% if label.main_label.icon_emoji -%}{{ label.main_label.icon_emoji }} {{ label.main_label.title }}{% else -%}{{ label.main_label.title }}{% endif %}{% elif label.icon_emoji -%}{{ label.icon_emoji }} {{ label.title }}{% else -%}{{ label.title }}{% endif %}">{% if label.main_label %}{% if label.main_label.icon_emoji %}{{ label.main_label.icon_emoji }} {% endif %} {{ label.main_label.title }}: {% endif %}{% if label.icon_emoji %}{{ label.icon_emoji }} {% endif %} {{ label.title }}</span>
                    {%- endfor %}
                    <i class="material-icons mui--text-light" aria-hidden="true">arrow_drop_down</i>
                  </div>
                  <div id="label-dropdown" class="label-dropdown-wrapper">
                    {{ renderfield(proposal_label_admin_form.formlabels, css_class="label-select-fields") }}
                  </div>
                  {{ rendersubmit([(None, "Save", '')]) }}
                </form>
              {%- endif %}
            </div>
          </div>
        {% endif %}
      </div>

      <div class="proposal__section proposal__section--left">
        <div class="proposal-content">
          <h3 class="mui--text-headline mui--text-bold">{% trans %}Abstract{% endtrans %} {% if proposal.current_roles.owner %}<a href="{{ proposal.url_for('edit') }}#field-abstract" title="{% trans %}Edit{% endtrans %}"><i class="material-icons mui--text-title mui--align-middle mui--text-link">edit</i></a>{% endif %}</h3>
          <div class="mui--text-subhead">{{ proposal.abstract }}</div>

          <h3 class="mui--text-headline mui--text-bold">{% trans %}Outline{% endtrans %} {% if proposal.current_roles.owner %}<a href="{{ proposal.url_for('edit') }}#field-outline" title="{% trans %}Edit{% endtrans %}"><i class="material-icons mui--text-title mui--align-middle mui--text-link">edit</i></a>{% endif %}</h3>
          <div class="mui--text-subhead">{{ proposal.outline }}</div>

          {% if proposal.requirements.text -%}
            <h3 class="mui--text-headline mui--text-bold">{% trans %}Requirements{% endtrans %} {% if proposal.current_roles.owner %}<a href="{{ proposal.url_for('edit') }}#field-requirements" title="{% trans %}Edit{% endtrans %}"><i class="material-icons mui--text-title mui--align-middle mui--text-link">edit</i></a>{% endif %} </h3>
            <div class="mui--text-subhead">{{ proposal.requirements }}</div>
          {%- elif proposal.current_roles.owner %}
            <h3 class="mui--text-headline mui--text-bold">{% trans %}Requirements{% endtrans %} <a href="{{ proposal.url_for('edit') }}#field-requirements" title="{% trans %}Edit{% endtrans %}"><i class="material-icons mui--text-title mui--align-middle mui--text-link">edit</i></a></h3>
            <p><i>This section is empty.</i></p>
          {%- endif %}

          {% if proposal.bio.text -%}
            <h3 class="mui--text-headline mui--text-bold">{% trans %}Speaker bio{% endtrans %} {% if proposal.current_roles.owner %}<a href="{{ proposal.url_for('edit') }}#field-bio" title="{% trans %}Edit{% endtrans %}"><i class="material-icons mui--text-title mui--align-middle mui--text-link">edit</i></a>{% endif %}</h3>
            <div class="mui--text-subhead">{{ proposal.bio }}</div>
          {%- endif %}

          {% if proposal.links %}
            <h3 class="mui--text-headline mui--text-bold">{% trans %}Links{% endtrans %} {% if proposal.current_roles.owner %}<a href="{{ proposal.url_for('edit') }}#field-links" title="{% trans %}Edit{% endtrans %}"><i class="material-icons mui--text-title mui--align-middle mui--text-link">edit</i></a>{% endif %}</h3>
            <ul class="links-list">
              {% for link in links -%}
                <li class="mui--text-subhead">{{ link }}</li>
              {% endfor %}
            </ul>
          {%- elif proposal.current_roles.owner %}
            <h3 class="mui--text-headline mui--text-bold">{% trans %}Links{% endtrans %} <a href="{{ proposal.url_for('edit') }}#field-links" title="{% trans %}Edit{% endtrans %}"><i class="material-icons mui--text-title mui--align-middle mui--text-link">edit</i></a></h3>
            <p><i>This section is empty.</i></p>
          {% endif %}

          {% if proposal.slides.url %}
            <h3 class="mui--text-headline mui--text-bold">{% trans %}Slides{% endtrans %} {% if proposal.current_roles.owner %}<a href="{{ proposal.url_for('edit') }}#field-slides" title="{% trans %}Edit{% endtrans %}"><i class="material-icons mui--text-title mui--align-middle mui--text-link">edit</i></a>{% endif %}</h3>
            <a href="{{ proposal.slides }}">{{ proposal.slides }}</a>
          {%- elif proposal.current_roles.owner %}
            <h3 class="mui--text-headline mui--text-bold">{% trans %}Slides{% endtrans %} <a href="{{ proposal.url_for('edit') }}#field-slides" title="{% trans %}Edit{% endtrans %}"><i class="material-icons mui--text-title mui--align-middle mui--text-link">edit</i></a></h3>
            <p><i>This section is empty.</i></p>
          {% endif %}

          {% if proposal.preview_video.url %}
            <h3 class="mui--text-headline mui--text-bold">{% trans %}Preview video{% endtrans %}</h3>
            <a href="{{ proposal.preview_video }}">{{ proposal.preview_video }}</a>
          {% endif %}
        </div>
      </div>

    </section>

    <section class="proposal__section">
      <h3 class="mui--text-headline mui--text-bold">{% trans %}Comments{% endtrans %}</h3>
      {% if comments %}
        <ul class="mui-list--unstyled">
          {{ commenttree(comments, proposal, project, csrf_form) }}
        </ul>
      {% endif %}
      {% if not g.user -%}
        <p>
          <a class="mui-btn mui-btn--small mui-btn--raised mui-btn--primary" href="{{ url_for('login') }}">{% trans %}Login with Twitter or Google to leave a comment{% endtrans %}</a>
        </p>
      {% else -%}
        <form method="POST" id="comment-form" action="{{ proposal.url_for('new_comment') }}" class="mui-form">
          <div class="mui--hide">
            <input type="hidden" name="form.id" value="newcomment"/>
            {{ commentform.hidden_tag() }}
          </div>
          {{ renderfield(commentform.message, nolabel=true) }}
          {{ renderfield(commentform.recaptcha, nolabel=true) }}
          <input id="comment-submit" class="mui-btn mui-btn--small mui-btn--raised mui-btn--primary" type="submit" value="{% trans %}Post comment{% endtrans %}"/>
        </form>
        <p id="toplevel-comment" class="mui--hide">
          <a href="#">{% trans %}Post a comment &rarr;{% endtrans %}</a>
        </p>
        <form method="POST" id="delcomment" class="mui--hide">
          <div class="mui--hide">
            <input type="hidden" name="form.id" value="delcomment"/>
            {{ delcommentform.hidden_tag() }}
            {{ delcommentform.comment_id() }}
          </div>
          <p>
            {% trans %}Really delete this comment?{% endtrans %}&nbsp;
            <input id="comment-delete-submit" class="mui-btn mui-btn--small mui-btn--raised mui-btn--danger" type="submit" value="{% trans %}Delete{% endtrans %}"/>
            &nbsp;or&nbsp;<button id="comment-delete-cancel" class="mui-btn mui-btn--small mui-btn--raised mui-btn--accent" href="#">{% trans %}Cancel{% endtrans %}</button>
          </p>
        </form>
      {% endif %}
    </section>
  </div>

</div>
{% endblock %}

{% block pagescripts %}
  {% assets "js_codemirrormarkdown" -%}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {%- endassets -%}
{% endblock %}

{% block footerscripts %}
<script src="{{ url_for('static', filename=asset_path('proposal')) }}" type="text/javascript"></script>
{{ widgetscripts(proposal_transfer_form, script=true) }}
{{ widgetscripts(commentform, script=true, ref_id='comment-form') }}
<script type="text/javascript">
  $(function() {
    var proposalConfig = {};
    proposalConfig.pageUrl = {{ request.base_url|tojson }};
    proposalConfig.videoWrapper = document.getElementById('js-embed');
    if(proposalConfig.videoWrapper) {
      proposalConfig.videoUrl = proposalConfig.videoWrapper.getAttribute('data-href');
    }
    HasGeek.ProposalInit(proposalConfig);

  });
</script>
<script src="{{ 'parsley.js'|ext_asset_url }}" type="text/javascript"></script>
{% endblock %}
