# www.robotstxt.org/
# www.google.com/support/webmasters/bin/answer.py?hl=en&answer=156449

Sitemap: {{ url_for('SitemapView_index', _external=true) }}
User-agent: *
Disallow: /account
Disallow: /login
