{% extends "screens_layout.html.jinja2" %}
{% block bodytag %}<body class="room_updates">{% endblock %}

{% block screens_pageheaders %}
<meta http-equiv="refresh" content="60">
{% endblock %}

{% block basecontent %}
<div id="room_updates">
	<div id="room"
		{% if room.bgcolor %} style="border-bottom-color: #{{ room.bgcolor }}"{% endif %}
		>
		{{ room.title }}
	</div>
	{% if current %}
		<div id="current-title">{{ current.title }} —{{ current.speaker }}</div>
		<div id="current" class="details">
			<div class="time">{{ current.start_at.strftime('%I:%M %p') }} - {{ current.end_at.strftime('%I:%M %p') }}</div>
			<div class="title">{{ current.title }}</div>
			{% if current.speaker %}
				<div class="speaker">{{ current.speaker }}</div>
			{% endif %}
		</div>
	{% else %}
		<div id="current-title"></div>
	{% endif %}
	{% if next %}
		<div id="next" class="details">
			<div class="nextlabel">{% trans %}Next{% endtrans %}</div>
			<div class="timetitle">
				<div class="time">
					{% if nextdiff >= 1 and nextdiff < 2 %}{% trans %}Tomorrow {% endtrans %}{% endif %}
					{% if nextdiff >= 2 %}next.start_at.strftime('%d %B, %Y'){% endif %}
					{{ next.start_at.strftime('%I:%M %p') }} - {{ next.end_at.strftime('%I:%M %p') }}
				</div>
				<div class="title">{{ next.title }}</div>
			</div>
			<div class="speaker">Testing</div>
			{% if next.speaker %}
				<div class="speaker">{{ next.speaker }}</div>
			{% endif %}
		</div>
	{% endif %}
</div>
{% endblock %}

{% block footerscripts %}
{{ super() }}

{% endblock %}

{% block footer_logo %}{% endblock %}
