{% from "macros.html.jinja2" import faicon, csrf_tag %}
{%- from "js/json_form.js.jinja2" import json_form_template %}

<link rel="stylesheet" type="text/css" href="{{ built_asset('css/form.scss') }}" />

<div class="modal__header">
  <a class="modal__close mui--text-dark" href="#" onclick="return false;" data-target="close subscribe modal" aria-label="{% trans %}Close{% endtrans %}" rel="modal:close" data-cy="close-modal" role="button" tabindex="0">{{ faicon(icon='times', baseline=false, icon_size='title') }}</a>
  <p class="mui--text-title text-bold mui--text-dark" id="confirm-rsvp">{{ faicon(icon='info-circle', baseline=true, icon_size='subhead') }} {% trans %}Register{% endtrans %}</p>
</div>
<div class="modal__body">
  <form action="{{ project.url_for('register') }}" method="post" class="mui-form form-inline" id="rsvp-form">
    {{ form.hidden_tag() }}
    {{ csrf_tag() }}
    <div id="register-form">
      <json-form :jsonschema="jsonSchema" :formid="'rsvp-form'" @handle-submit-response="handleAjaxPost"></json-form>
    </div>
    <p class="mui--text-body2 top-padding zero-bottom-margin">{% trans %}This will share your name and email address with the project’s promoter so they can keep you updated. You can cancel your registration at any time{% endtrans %}</p>
    <div class="mui--text-right">
      <button class="mui-btn mui-btn--raised" type="submit" name="submit" value="yes" data-cy="confirm">{% trans %}Confirm{% endtrans %}</button>
    </div>
  </form>
  {{ json_form_template() }}
</div>
<script src="{{ built_asset('rsvp_form_modal.js') }}" type="text/javascript"></script>
<script type="text/javascript">
  $(function() {
    var jsonSchema = {{ json_schema|tojson }};

    window.Hasgeek.addRsvpForm(jsonSchema, 'rsvp-form');
  });
</script>
