{% extends "layout.html.jinja2" %}
{% set title_suffix = project.title %}
{%- from "js/badge.js.jinja2" import scan_checkin_template %}
{% from "baseframe/forms.html" import renderfield %}
{% block title %}{{ ticket_event.title }}{% endblock %}
{% block pageheaders %}
{% endblock %}

{% block bodyattrs %}class="mui--bg-primary hg-app no-header"{% endblock %}

{% block headline -%}
{%- endblock %}

{% block basecontent %}
  {{ scan_checkin_template() }}
{% endblock %}

{% block footerscripts %}
  <script src="{{ url_for('static', filename=asset_path('scan_badge')) }}" type="text/javascript"></script>
  <script type="text/javascript">
    $(function() {
      var ticketEventConfig = {
        checkinApiUrl: {{ url_for('TicketEventParticipantCheckinView_checkin_puk', profile=project.profile.name, project=project.name, ticket_event=ticket_event.name, puk='puk')|tojson }},
        wrapperId: 'scan-badge-wrapper',
        templateId: 'scan-badge-template',
        projectTitle:  {{ project.title|tojson }},
        ticketEventTitle: {{ ticket_event.title|tojson }},
      };
      window.Hasgeek.BadgeScanInit(ticketEventConfig);

    });
  </script>
{% endblock %}
