{% extends "layout.html.jinja2" %}
{% from "macros.html.jinja2" import rsvpform, rsvpscript %}
{% from "baseframe/forms.html" import renderfield %}
{% block title %}{{ project.title }}{% endblock %}
{% block pageheaders %}
{% endblock %}

{% block content %}
  <div class="grid" id="scan-badge-wrapper">
    {% raw %}
      <script id='scan-badge-template' type='text/ractive'>
        <div class="grid__col-xs-12 grid__col-lg-4">
          <h3 class="mui--text-title">{{ eventTitle }}</h3>
          {{#if video}}
            <h4 class="mui--text-subhead">Please scan your badge to check-in</h4>
            <p><button type="button" class="mui-btn mui-btn--small mui-btn--raised mui-btn--accent" on-click="setupVideo(event)">Restart QR reader</button></p>
          {{elseif error}}
            <p class="mui--text-danger">{{ error }}</p>
          {{/if}}
        </div>

        <div class="grid__col-xs-12 grid__col-lg-8">
          <canvas id="qrreader-canvas"></canvas>
        </div>

        {{#if showModal}}
        <div id="status-msg" class="modal" tabindex="-1" role="dialog">
          <div class="modal__header">
            <a class="modal__close" href="javascript:void(0);" on-click="closeModal(event)"><i class="material-icons">clear</i></a>
            <h3 class="mui--text-title">Check in status</h3>
          </div>
          <div class="modal__body">
            {{#if scanning}}
              <h4>Scanning <i class="material-icons mui--text-subhead mui--align-middle spinner">refresh</i></h4>
            {{elseif attendeeFound}}
              <h4>Hello {{attendeeName}},</h4>
              <p>Thank you for choosing to participate in {{ projectTitle }} and for being a part of this growing community.</p>
              <p>HasGeek</p>
            {{else}}
              <h4>Attendee details not found</h4>
            {{/if}}
            <a href="javascript:void(0);" on-click="closeModal(event)" class="mui-btn mui-btn--small mui-btn--raised mui-btn--accent">Close</a>
          </div>
        </div>
        {{/if}}
      </script>
    {% endraw %}
  </div>
{% endblock %}

{% block footerscripts %}
  <script src="{{ url_for('static', filename=asset_path('scan_badge')) }}" type="text/javascript"></script>
  <script type="text/javascript">
    $(function() {

      var eventConfig = {};
      eventConfig.checkinApiUrl = "{{ url_for('checkin_puk', profile=project.profile.name, project=project.name, name=event.name, puk='puk') }}"

      eventConfig.wrapperId = 'scan-badge-wrapper';
      eventConfig.templateId = 'scan-badge-template';
      eventConfig.projectTitle = {{ project.title|tojson }};
      eventConfig.eventTitle = {{ event.title|tojson }};

      window.HasGeek.BadgeScanInit(eventConfig);

    });
  </script>
{% endblock %}
