{% extends "layout.html.jinja2" %}
{%- from "macros.html.jinja2" import faicon, account_tabs %}
{%- from "js/badge.js.jinja2" import scan_badge_template %}

{% block title %}{% trans %}Scan badge{% endtrans %}{% endblock %}

{% block pageheaders %}
  <style type="text/css">
    html, body {
      overflow: hidden;
    }
  </style>
  <link rel="stylesheet" type="text/css" href="{{ built_asset('css/scanbadge.scss') }}" />
{% endblock %}

{% block bodyattrs %}class="mui--bg-primary tabs-navbar"{% endblock %}

{% block headline -%}
  <div class="tabs-wrapper tabs-wrapper--sticky">
    <div class="mui-container">
      {{ account_tabs(active_tab='scan') }}
    </div>
  </div>
{%- endblock %}

{% block basecontent %}
  {{ scan_badge_template() }}
{% endblock %}

{% block footerscripts %}
  <script src="{{ built_asset('scan_contact.js') }}" type="text/javascript"></script>
  <script type="text/javascript">
    $(function() {
      var scanConfig = {
        getContactApiUrl: "{{ url_for('scan_connect') }}",
        wrapperId: 'scan-badge-wrapper',
        templateId: 'scan-badge-template',
      };
      window.Hasgeek.badgeScanInit(scanConfig);
    });
  </script>
{% endblock %}

{% block basefooter %}
{% endblock %}
