<div class="modal__header">
  <a class="modal__close" href="javascript:void(0);" aria-label="{% trans %}Close{% endtrans %}" rel="modal:close"><i class="material-icons" aria-hidden="true">clear</i></a>
  <h3 class="mui--text-title">{% trans %}Subscribe to the schedule{% endtrans %}</h3>
</div>
<hr class="mui-divider mui-divider--custom">
<div class="modal__body">
  <h4 class="mui--text-headline mui--bg-primary-light subscibe-title">{% trans %}Complete Schedule{% endtrans %}</h4>
  <p>
    <a href="{{ project.url_for('schedule_ical', _external=True) }}" class="mui-btn mui-btn--small mui-btn--raised mui-btn--primary">{% trans %}Subscribe{% endtrans %}</a>
    <a href="https://www.google.com/calendar/render?cid={{ project.url_for('schedule_ical', _external=True)|urlencode }}" target="_blank" class="mui-btn mui-btn--small mui-btn--raised mui-btn--accent">{% trans %}Subscribe using Google Calendar{% endtrans %}</a>
  </p>
  <h4 class="mui--text-headline mui--bg-primary-light subscibe-title">{% trans %}Room Schedules{% endtrans %}</h4>
  {% for venue in project.venues %}
    <p class="mui--text-title"><strong>Venue: {{ venue.title }}</strong></p>
    {% for room in venue.rooms %}
      <p class="mui--text-subhead zero-bottom-margin">{{ room.title }}</p>
      <p>
        <a href="{{ room.url_for('schedule_room_ical', _external=True) }}" class="mui-btn mui-btn--small mui-btn--raised mui-btn--primary">{% trans %}Subscribe{% endtrans %}</a>
        <a href="https://www.google.com/calendar/render?cid={{ room.url_for('schedule_room_ical', _external=True)|urlencode }}" target="_blank" class="mui-btn mui-btn--small mui-btn--raised mui-btn--accent">{% trans %}Subscribe using Google Calendar{% endtrans %}</a>
      </p>
    {% endfor %}
  {% endfor %}
</div>
