<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <div class="infosheet">
                <div class="section first">
                    <div class="row">
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h1>Subscribe to the {{ space.title }} schedule</h1>
                    </div>
                </div>
                <div class="section bar">
                    <dl class="bar"></dl>
                </div>
                <div class="section">
                    Subscribe
                </div>
            </div>
        </div>
    </div>
</div>