{% from "macros.html.jinja2" import faicon %}

<div class="modal__header" data-cy="schedule-subscribe">
  <a class="modal__close mui--text-dark" href="#" onclick="return false;" data-target="close subscribe modal" aria-label="{% trans %}Close{% endtrans %}" rel="modal:close" data-cy="close-modal" role="button" tabindex="0">{{ faicon(icon='times', baseline=false, icon_size='title') }}</a>
  <p class="mui--text-title text-bold mui--text-dark">{% trans %}Subscribe to the schedule{% endtrans %}</p>
</div>
<div class="modal__body">
  <div class="modal__body__btn mui--text-right">
    <a href="{{ project.url_for('schedule_ical_download', _external=true) }}" class="mui-btn mui-btn--small mui-btn--flat mui-btn--primary">{% trans %}Download{% endtrans %}</a>
    <a href="https://www.google.com/calendar/render?cid={{ project.url_for('schedule_ical_download', _scheme='http', _external=true).replace('http://', 'webcal://')|urlencode }}" target="_blank" rel="noopener" class="mui-btn mui-btn--small mui-btn--flat mui-btn--accent">{% trans %}Add to Google Calendar{% endtrans %}</a>
  </div>
</div>
