{% extends "layout.html" %}
{% block title %}{% trans %}Schedule{% endtrans %} &mdash; {{ space.title }}{% endblock %}
{% block headline %}{% endblock %}
{% block pageheaders %}
  {% assets 'css_fullcalendar' -%}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
  {%- endassets %}
  {% assets 'css/schedules.css' -%}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
  {%- endassets %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
      <div id="calendar"></div>
    </div>
    <div id="proposals" class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <div class="fc-header-title"><h2>{% trans %}Proposals{% endtrans %}</h2></div>
      <div class="list">
        {%- for proposal in proposals['unscheduled'] %}
            <div class="unscheduled" data-modal-url="{{ proposal.modal_url }}">{{ proposal.title }}</div>
        {%- endfor %}
      </div>
    </div>
  </div>
  <div id="popup" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default closebutton" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary save" >Save</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block footerscripts %}
  {% assets "js_fullcalendar" -%}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {%- endassets -%}
  {% assets "js/schedules.js" -%}
    <script>
      var UPDATE_URL = "{{ space.url_for('update-schedule') }}", from_date = {{ from_date|tojson }}, to_date = {{ to_date|tojson }};
      var scheduled = {{ proposals['scheduled']|tojson }};
      var ROOMS = {{ rooms|tojson }};
    </script>
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {%- endassets -%}
{% endblock %}