{% extends "layout.html.jinja2" %}
{%- from "macros.html.jinja2" import project_header, admin_panel %}
{% block title %}
  {%- if active_session -%}
    {{ active_session.title }} &ndash; {{ project.title }}
  {%- else -%}
    {% trans %}Schedule{% endtrans %} &ndash; {{ project.title }}
  {%- endif -%}
{% endblock %}


{% block description %}
  {%- if active_session -%}
    {%- if active_session.speaker -%}
      {% trans title=active_session.title, speaker=active_session.speaker, event=project.title %}{{ title }} by {{ speaker }}, {{ event }}{% endtrans %}
    {%- else -%}
      {{ active_session.title }}, {{ project.title }}
    {%- endif -%}
  {%- else -%}
    {% if g.profile %}{{ g.profile.description|striptags }}{% endif %}
  {%- endif -%}
{% endblock %}

{% block bodytag %}<body class="mui--bg-primary no-sticky-header">{% endblock %}

{%- macro page_btns(project) %}
  <ul class="mui-list--inline">
    {%- if project.boxoffice_data %}
      <li class="cta">
        <a href="{{ project.url_for() }}#participate" class="mui-btn mui-btn--raised mui-btn--primary" title="Participate" data-action="Participate(header)"><i class="material-icons mui--text-subhead mui--align-middle">local_play</i>{% trans %}Participate{% endtrans %}</a>
      </li>
    {%- elif project.buy_tickets_url %}
      <li class="cta">
        <a href="{{ project.buy_tickets_url }}" class="mui-btn mui-btn--raised mui-btn--primary" target="_blank" title="Participate" data-action="Participate(header)"><i class="material-icons mui--text-subhead mui--align-middle">local_play</i>{% trans %}Participate{% endtrans %}</a>
      </li>
    {%- elif project.allow_rsvp %}
      <li class="cta">
        <a href="{{ project.url_for() }}#participate" class="mui-btn mui-btn--raised mui-btn--primary" title="Participate" data-action="Participate(header)"><i class="material-icons mui--text-subhead mui--align-middle">local_play</i>{% trans %}Participate{% endtrans %}</a>
      </li>
    {%- endif %}
    <li class="cta">
      <hr class="mui-divider">
      <a href="{{ project.url_for('subscribe_schedule') }}" class="mui-btn mui-btn--flat mui--text-left" rel="modal:open" title="Add to calendar" data-action="Add to calendar(header)"><i class="material-icons mui--text-subhead mui--align-middle">calendar_today</i>{% trans %}Add to calendar{% endtrans %}</a>
    </li>
    <div id="popup_subscribe" class="modal">
    </div>
  </ul>
{%- endmacro %}

{% block headline %}
  {{ project_header(project, page_btns=page_btns(project), current_page='schedule') }}
{% endblock %}

{% block contentwrapper %}
  <div class="grid details-section">
    <div class="grid__col-xs-12 grid__col-md-5 grid__col-lg-4">
      {% if current_auth.is_authenticated and project.current_roles.admin %}
        {{ admin_panel(project) }}
      {%- endif %}
    </div>
  </div>

  <div class="grid" id="schedule">
    <div class="grid__col-xs-12">
      <div class="schedule-table-container" id="project-schedule-table">
        {% raw %}
          <script id="scheduletemplate" type="text/ractive">
            {{#schedules:schedule}}
              {{#schedule}}
                <div class="schedule">
                  <h2 class="mui--text-heading schedule__date">{{dateStr}}</h2>
                  <div class="mui--bg-accent">
                    <div class="schedule__row schedule__row--sticky">
                        <p class="schedule__row__column schedule__row__column--time schedule__row__column--time--header" style="min-width:{{timeSlotWidth}}px"><i class="material-icons mui--text-headline" style="position: relative;">schedule</i>
                        </p>
                      {{#rooms:room, roomindex}}
                        <div class="schedule__row__column schedule__row__column--header {{#if activeTab == room}}js-tab-active{{/if}}" style="width: calc(100% - {{getColumnWidth('header')}}px)" on-click="toggleTab(event, room)"><p>{{title}}<br><small>{{venue_title}}</small></p></div>
                      {{/}}
                    </div>
                    {{#sessions:session, index}}
                      <div class="schedule__row {{#if hasActiveRoom(sessions[session])}}js-active{{/if}}" style="height: {{rowHeight}}px">
                        {{#if showLabel}}
                          <a href="#t{{session}}" id="t{{session}}" class="schedule__row__column schedule__row__column--time schedule__row__column--time--pointer" style="min-width:{{timeSlotWidth}}px" on-click="disableScroll(event)">{{ getTimeStr(session) }}</a>
                        {{else}}
                          <p class="schedule__row__column schedule__row__column--time" style="min-width:{{timeSlotWidth}}px"></p>
                        {{/if}}
                        {{#rooms:room, roomIndex}}
                          <div class="schedule__row__column {{#if talks}}schedule__row__column--talks {{room}}{{/if}} {{#if talks && activeTab == room}}js-active{{/if}}" style="width: {{#if width && getColumnWidth('content')}}calc(100% - {{getColumnWidth('content')}}px);{{else}} 100%;{{/if}}" on-click="showSessionModal(event, '')">
                            {{#if talks}}
                              <div class="schedule__row__column__content schedule__row__column__content--overflow" style="height: calc({{talks.duration}}*{{rowHeight}}px - {{rowBorder}}px);" id="{{talks.url_name_suuid}}">
                                <div class="schedule__row__column__content__title">
                                  <p class="mui--text-caption schedule__row__column__content__title__duration">{{ getTimeStr(talks.startTime) }}–{{ getTimeStr(talks.endTime) }}</p>
                                  {{#if talks.title}}
                                    <p class="mui--text-subhead schedule__row__column__content__title__heading"><b>{{ talks.title }}</b></p>
                                  {{/if}}
                                  {{#if talks.speaker}}
                                    <p class="mui--text-caption mui--text-light">{{ talks.speaker }}</p>
                                  {{/if}}
                                </div>
                                {{#if talks.description}}
                                  <div class="schedule__row__column__content__decription mui--text-body1">{{{ removeImg(talks.description) }}}</div>
                                {{/if}}
                              </div>
                            {{/if}}
                          </div>
                        {{/}}
                      </div>
                    {{/}}
                  </div>
                </div>
              {{/}}
            {{/}}
            <div id="session-modal" class="session-modal session-modal--nopadding">
              {{{modalHtml}}}
            </div>
          </script>
        {% endraw %}
      </div>
    </div>
  </div>
{% endblock %}

{% block footerscripts %}
  <script src="{{ url_for('static', filename=asset_path('schedule_view')) }}" type="text/javascript"></script>
  <script type="text/javascript">
    var scheduleConfig = {
      fromDate: {{ from_date|tojson }},
      toDate: {{ to_date|tojson }},
      scheduled: {{ sessions|tojson }},
      venues: {{ venues|tojson }},
      slotInterval: 5,
      divElem: "#project-schedule-table",
      scriptTemplate: '#scheduletemplate',
      active_session: ''
    };
  </script>
  {%- if active_session -%}
    <script type="text/javascript">
      scheduleConfig['active_session'] = {{ active_session|tojson }}
    </script>
  {%- endif %}
  <script type="text/javascript">
    $(document).ready( function() {
      window.HasGeek.ScheduleInit(scheduleConfig);
    });
  </script>
{% endblock %}
