{% extends "layout.html.jinja2" %}
{% block title %}{% trans %}Schedule{% endtrans %} &mdash; {{ project.title }}{% endblock %}
{% block headline %}{% endblock %}
{% block pageheaders %}
  {% assets 'css_fullcalendar' -%}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
  {%- endassets %}
  {% assets "css_codemirrormarkdown" -%}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
  {%- endassets -%}
{% endblock %}

{% block contentwrapper %}
  <div class="grid">
    <div class="grid__col-xs-12  grid__col-sm-9">
      <div id="calendar"></div>
    </div>
    <div id="proposals-tab" class="grid__col-xs-12  grid__col-sm-3">
      <ul class="tab-container">
        <li class="tab-container__tab mui--text-subhead"><a href="#list" data-toggle="tab">{% trans %}Unscheduled proposals{% endtrans %}</a></li>
        <li class="tab-container__tab mui--text-subhead"><a href="#settings" data-toggle="tab">{% trans %}Settings{% endtrans %}</a></li>
      </ul>
      <div id="list">
        {%- for proposal in proposals['unscheduled'] %}
          <div class="js-unscheduled proposal-box" data-modal-url="{{ proposal.modal_url }}">{{ proposal.title }}</div>
        {%- endfor %}
      </div>
      <div id="settings">
        <h4 class="mui--text-headline">{% trans %}Room colors{% endtrans %}</h4>
        <form id="room_colors" action="javascript:void(0)" method="POST" accept-charset="UTF-8">
          {% for id in rooms %}
            <p class="room-color" id="room-color-{{ id }}">
              <label for="room-color-input-{{ id }}" class="h5">
                <input type="hidden" name="id" value="{{ id }}">
                {{ rooms[id].vtitle }} <input type="text" name="color" id="room-color-input-{{ id }}" value="{{ rooms[id].bgcolor }}" data-room-id="{{ id }}" data-color="{{ rooms[id].bgcolor }}">
              </label>
            </p>
          {% endfor %}
          <p>
            <input type="submit" value="{% trans %}Save{% endtrans %}" class="mui-btn mui-btn--small mui-btn--primary">
            <input type="reset" value="{% trans %}Revert{% endtrans %}" class="mui-btn mui-btn--small mui-btn--accent">
          </p>
        </form>
      </div>
    </div>
  </div>
  <div id="popup" class="modal session-modal">
    <div class="modal__header">
      <a class="modal__close" href="javascript:void(0);" aria-label="close" rel="modal:close"><i class="material-icons">clear</i></a>
      <h3 class="js-modal-title session-modal__title">{{ session.title }}</h3>
    </div>
    <hr class="mui-divider mui-divider--custom">
    <div class="js-modal-inner"></div>
    <div class="modal__footer">
      <button type="button" class="mui-btn mui-btn--small mui-btn--primary save">{% trans %}Save{% endtrans %}</button>
    </div>
  </div>
{% endblock %}
{% block pagescripts %}
  {% assets "js_codemirrormarkdown" -%}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {%- endassets -%}
{% endblock %}
{% block footerscripts %}
  {% assets "js_fullcalendar" -%}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {%- endassets -%}
  {% assets "js_schedules" -%}
    <script type="text/javascript">
      var UPDATE_URL = "{{ project.url_for('update-schedule') }}";
      var TIMEZONE = {{ timezone }} * 1000;
      var NEW_SESSION_URL = "{{ project.url_for('new-session') }}";
      var COLORS_UPDATE_URL = "{{ project.url_for('update-venue-colors') }}";
      var from_date = {{ from_date|tojson }}, to_date = {{ to_date|tojson }};
      var scheduled = {{ proposals['scheduled']|tojson }};
      var ROOMS = {{ rooms|tojson }};
      var BREAK_EVENTS_COLOR = "#999999";
      var EDIT_EVENTS = true;
      var CALENDAR_SLOT_MINUTES = 5;
    </script>
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('#proposals-tab').easytabs();
      });
    </script>
  {%- endassets -%}
{% endblock %}
