{% from "baseframe/components.html.jinja2" import faicon %}

<div class="modal__header" data-cy="schedule-subscribe">
  <a class="modal__close" href="javascript:void(0);" data-target="close subscribe modal" aria-label="{% trans %}Close{% endtrans %}" rel="modal:close" data-cy="close-modal">{{ faicon(icon='times') }}</a>
  <h3 class="mui--text-headline">{% trans %}Subscribe to the schedule{% endtrans %}</h3>
</div>
<hr class="mui-divider mui-divider--custom">
<div class="modal__body">
  <h4 class="mui--text-title mui--bg-primary-light subscibe-title">{% trans %}Complete Schedule{% endtrans %}</h4>
  <p class="btn-group">
    <a href="{{ project.url_for('schedule_ical', _external=True) }}" class="mui-btn mui-btn--small mui-btn--raised mui-btn--primary">{% trans %}Download{% endtrans %}</a>
    <a href="https://www.google.com/calendar/render?cid={{ project.url_for('schedule_ical', _external=True, _scheme='webcal')|urlencode }}&Name" target="_blank" class="mui-btn mui-btn--small mui-btn--raised mui-btn--accent">{% trans %}Add to Google Calendar{% endtrans %}</a>
  </p>
</div>
