{% extends "layout.html.jinja2" %}
{% set title_suffix = project.title %}
{%- from "macros.html.jinja2" import project_header %}
{% from "baseframe/components.html.jinja2" import faicon %}
{% block title %}{%- if active_session -%}{{ active_session.title }}{%- else -%}{% trans %}Schedule{% endtrans %}{%- endif -%}{% endblock %}

{% block description %}
  {%- if active_session -%}
    {%- if active_session.speaker -%}
      {% trans title=active_session.title, speaker=active_session.speaker, event=project.title %}{{ title }} by {{ speaker }}, {{ event }}{% endtrans %}
    {%- else -%}
      {{ active_session.title }}, {{ project.title }}
    {%- endif -%}
  {%- else -%}
    {% if project.tagline %}{{ project.tagline }}{% endif %}
  {%- endif -%}
{% endblock %}

{%- block pageheaders %}
  {% assets "css_schedule_print" -%}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
  {%- endassets -%}
  {%- if project.schedule_start_at %}
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Event",
      "name": {{ project.title|tojson }},
      "url": {{ project.urls['view']|tojson }},
      "startDate": {{ project.schedule_start_at_localized|tojson }},
      {% if project.primary_venue -%}
      "location": {
        "@type": "Place",
        "name": {{ project.primary_venue.title|tojson }},
        "address": {
          "@type": "PostalAddress",
          "streetAddress": {{ project.primary_venue.address1|tojson }},
          "addressLocality": {{ project.primary_venue.city|tojson }},
          "addressRegion": {{ project.primary_venue.state|tojson }},
          "postalCode": {{ project.primary_venue.postcode|tojson }},
          "addressCountry": {{ project.primary_venue.country|tojson }}
        }
      },
      {%- endif -%}
      {%- if project.bg_image.url %}
      "image": [
        "{{ project.bg_image }}"
       ],
      {% endif -%}
      "description": {{ project.tagline|tojson }},
      "endDate": {{ project.schedule_end_at_localized|tojson }},
      "offers": {
        "@type": "Offer",
        "url": {{ project.urls['view']|tojson }}
      }
    }
    </script>
  {%- endif -%}
{% endblock %}

{% block bodytag %}
  {%- if not config['LEGACY'] -%}
    <body class="mui--bg-primary hg-app no-sticky-header">
  {%- else %}
    <body class="mui--bg-primary no-sticky-header">
  {%- endif %}
{% endblock %}

{% block contenthead %}{% endblock %}

{% block baseheadline %}
  <div class="mui--hidden-md mui--hidden-lg mui--hidden-xl">
    <div class="mobile-nav mui--z1">
      <a href="{{ project.urls['view'] }}" aria-label="{% trans %}Back to the project{% endtrans %}" class="mui--text-dark mobile-nav__icon" data-action="Back to the {{ project.title }}(schedule page)">{{ faicon(icon='arrow-left', icon_size='title') }}</a><span class="mui--text-dark mobile-nav__headline">{% trans %}Schedule{% endtrans %}</span>
    </div>
  </div>
  {{ project_header(project, project_save_form, csrf_form,
    class='mui--hidden-xs mui--hidden-sm',
    current_page='schedule') }}
{% endblock %}

{% block basecontent %}
  <div class="mui-container">
    <div class="page-content page-content--mob-nav">
      <div class="grid" id="schedule">
        {% if project.view_for('edit_schedule').is_available() %}
          <div class="grid__col-xs-12"><div><p class="mui--pull-right zero-bottom-margin"><a class="mui-btn mui-btn--raised mui-btn--accent" href="{{ project.urls['edit_schedule'] }}">{% trans %}Edit schedule{% endtrans %}</a></p></div></div>
        {% endif %}
        <div class="grid__col-xs-12 schedule-grid">
          <div class="schedule-table-container" id="project-schedule-table">
            <schedule></schedule>
          </div>
          {% raw %}
            <script type="text/x-template" id="scheduletemplate">
              <div>
                <div class="tabs-wrapper mui--hidden-xs mui--hidden-sm">
                  <div class="tabs">
                    <button class="tabs__item" :class="(view === 'agenda') ? 'tabs__item--active' : ''" @click="toggleView($event, 'agenda')">Agenda view</button>
                    <button class="tabs__item" :class="(view === 'calendar') ? 'tabs__item--active' : ''" @click="toggleView($event, 'calendar')">Calender view</button>
                  </div>
                </div>
                <div class="schedule" v-for="schedule in schedules">
                  <h2 class="mui--text-heading schedule__date">{{ schedule.dateStr }}</h2>
                  <div class="mui--bg-accent schedule__table">
                    <div class="schedule__row schedule__row--sticky">
                      <p class="schedule__row__column schedule__row__column--time schedule__row__column--time--header" :style="{ minWidth: timeSlotWidth + 'px'}" v-if="(view == 'calendar')"><svg class="fa5-icon fa5-icon--subhead test fa5--align-baseline" aria-hidden="true" role="img"><use v-bind:xlink:href="svgIconUrl + '#clock'"></use></svg></p>
                      <p class="schedule__row__column schedule__row__column--header" :class="[activeTab == roomkey ? 'js-tab-active' : '']" :style="{width: 'calc(100% - ' + getColumnWidth('header') + 'px)'}" @click="toggleTab(roomkey)" v-for="(room, roomkey, roomindex) in schedule.rooms">{{ room.title }}</p>
                    </div>

                    <div class="schedule__row" :class="[view == 'calendar' ? 'schedule__row--calendar' : '', hasActiveRoom(session) ? 'js-active' : '',  view === 'agenda' && !session.showLabel ? 'schedule__row--hide': '']" :style="(view == 'calendar') ? {height: rowHeight + 'px'} : ''" v-for="(session, key, index)  in schedule.sessions">
                        <a :href="'#t' + key" :id="'t' + key" class="schedule__row__column schedule__row__column--time schedule__row__column--time--pointer" :style="{minWidth: timeSlotWidth + 'px'}" @click="disableScroll($event, 't' + key)" v-if="(view === 'calendar' && session.showLabel)">{{ getTimeStr(key) }}</a>
                        <p class="schedule__row__column schedule__row__column--time" :style="{minWidth: timeSlotWidth + 'px'}" v-else-if="(view === 'calendar')"></p>
                      <div class="schedule__row__column" :id="(view === 'agenda') ? 't' + key : ''" :class="['schedule__row__column--' + rowWidth, room.talk ? 'schedule__row__column--talks' : '', room.talk ? roomkey : '', room.talk && activeTab == roomkey ? 'js-active': '']" @click="showSessionModal(room.talk)"  :style="(getColumnWidth('content') > 0) ? {width: 'calc(100% - ' + getColumnWidth('content') + 'px)'} : {width: '100%'}" v-for="(room, roomkey, roomindex) in session.rooms">
                        <div class="schedule__row__column__content" :class="[view === 'calendar' ? 'schedule__row__column__content--calendar schedule__row__column__content--overflow' : '']" :style="(view == 'calendar') ? {height: getColumnHeight(room.talk.duration, rowHeight) + 'px'} : ''" :id="room.talk.url_name_uuid_b58" v-if="room.talk">
                          <p class="mui--text-body2 schedule__row__column__content__title__duration">{{ getTimeStr(room.talk.startTime) }}–{{ getTimeStr(room.talk.endTime) }}</p>
                            <div class="schedule__row__column__content__title">
                              <p class="mui--text-subhead schedule__row__column__content__title__heading" v-if="room.talk.title">{{ room.talk.title }}</p>
                              <p class="mui--text-caption mui--text-light schedule__row__column__content__title__speaker" v-if="room.talk.speaker">{{ room.talk.speaker }}</p>
                              <div class="schedule__row__column__content__description mui--text-body2" v-html="removeImg(room.talk.description.html)" v-if="view == 'calendar' && room.talk.description.html"></div>
                            </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
                <div id="session-modal" class="session-modal session-modal--nopadding" v-html="modalHtml">
                </div>
              </div>
            </script>
          {% endraw %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block footerscripts %}
  <script src="{{ url_for('static', filename=asset_path('project_header')) }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename=asset_path('schedule_view')) }}" type="text/javascript"></script>
  <script type="text/javascript">
    $(document).ready( function() {
      var scheduleConfig = {
        fromDate: {{ project.schedule_start_at_localized|tojson }},
        toDate: {{ project.schedule_end_at_localized|tojson }},
        timeZone: {{ project.timezone|tojson }},
        sessions: {{ sessions|tojson }},
        schedule: {{ schedule|tojson }},
        venues: {{ venues|tojson }},
        slotInterval: 5,
        divElem: "#project-schedule-table",
        scriptTemplate: '#scheduletemplate',
        parentContainer: '#schedule',
        active_session: '',
        projectTitle: {{ project.title|e|tojson }},  // HTML escaped for use in HTML tags via JS
        pageDescription: {{ g.profile.description|striptags|tojson }}, // HTML escaped for use in HTML tags via JS
      };
      {%- if active_session -%}
        scheduleConfig['active_session'] = {{ active_session|tojson }};
      {%- endif %}

      var saveProjectConfig = {
        formId: 'save-form',
        postUrl: {{ project.urls['save']|tojson }}
      }

      window.HasGeek.ProjectHeaderInit(saveProjectConfig);
      window.HasGeek.ScheduleInit(scheduleConfig);
    });
  </script>
{% endblock %}
