{% extends "layout.html.jinja2" %}
{% block title %}{% trans %}Schedule{% endtrans %} &mdash; {{ project.title }}{% endblock %}
{% block headline %}{% endblock %}
{% block pageheaders %}
  {% assets 'css_fullcalendar' -%}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
  {%- endassets %}
{% endblock %}

{% block content %}
  <div class="btns">
    <div class="mui--pull-right">
      <ul class="mui-list--inline">
        <li>
          <a href="{{ project.url_for('subscribe_schedule') }}" class="mui-btn mui-btn--small mui-btn--raised mui-btn--primary" rel="modal:open">{% trans %}Subscribe{% endtrans %}</a>
        </li>
        {% if current_auth.is_authenticated and project.current_roles.admin %}
        <li>
          <a href="{{ project.url_for('edit_schedule') }}" class="mui-btn mui-btn--small mui-btn--raised mui-btn--accent">{% trans %}Edit Schedule{% endtrans %}</a>
        </li>
        <li>
          <a href="{{ project.url_for('schedule_json') }}" class="mui-btn mui-btn--small mui-btn--raised mui-btn--dark">{% trans %}Download JSON{% endtrans %}</a>
        </li>
        {% endif %}
      </ul>
    </div>
    <div id="popup_subscribe" class="modal">
    </div>
  </div>

  <div id="calendar"></div>
  <div>

  <div class="schedule-table-container" id="project-schedule-table">
    {% raw %}
      <script id="scheduletemplate" type='text/ractive'>
        {{#schedules:schedule}}
          {{#schedule}}
            <div class="schedule">
              <h2 class="mui--text-heading schedule__date">{{dateStr}}</h2>
              <div class="mui--bg-accent">
                <div class="schedule__row schedule__row--sticky">
                    <p class="schedule__row__column schedule__row__column--time" style="min-width:{{timeSlotWidth}}px"><i class="material-icons">schedule</i>
                    </p>
                  {{#rooms:room, roomindex}}
                    <div class="schedule__row__column schedule__row__column--header {{#if activeTab == title}}js-tab-active{{/if}}" style="width: calc(100% - {{getColumnWidth('header')}}px)" on-click="toggleTab(event, title)">{{title}}</div>
                  {{/}}
                </div>
                {{#sessions:session, index}}
                  <div class="schedule__row" style="height: {{rowHeight}}px">
                    <p class="schedule__row__column schedule__row__column--time" style="min-width:{{timeSlotWidth}}px">
                      {{#if showLabel}}
                        {{ getTimeStr(session) }}
                      {{/if}}
                    </p>
                    {{#rooms:room, roomIndex}}
                      <div {{#if width && getColumnWidth('content')}}style="width: calc(100% - {{getColumnWidth('content')}}px);"{{else}}style="width: 100%"{{/if}} class="schedule__row__column {{#if talks}}schedule__row__column--talks {{title}}{{/if}} {{#if talks && activeTab == title}}js-active{{/if}}">
                        {{#if talks}}
                          <div class="schedule__row__column__content {{#if expand}}schedule__row__column__content--expand{{/if}} js-expand-container" style="height: calc({{talks.duration}}*{{rowHeight}}px);">
                            <div class="schedule__row__column__content__title">
                              <p class="mui--text-caption schedule__row__column__content__title__duration">{{ getTimeStr(talks.startTime) }}–{{ getTimeStr(talks.endTime) }}</p>
                              {{#if talks.title}}
                                <p class="mui--text-subhead schedule__row__column__content__title__heading" on-click="showSessionModal(event)"><b>{{ talks.title }}</b></p>
                              {{/if}}
                              {{#if talks.speaker}}
                                <p class="mui--text-caption mui--text-light">{{ talks.speaker }}</p>
                              {{/if}}
                            </div>
                            {{#if talks.description}}
                              <i class="material-icons mui--align-middle js-expand-icon collapsible__icon schedule__row__column__content__icon" on-click="expandDescription(event)">
                                {{#if expand}}
                                  keyboard_arrow_up
                                {{else}}
                                  keyboard_arrow_down
                                {{/if}}
                              </i>
                              <div class="schedule__row__column__content__decription {{#if expand}}schedule__row__column__content__decription--show{{/if}} mui--text-caption js-expand-content">{{{ talks.description }}}</div>
                            {{/if}}
                          </div>
                        {{/if}}
                      </div>
                    {{/}}
                  </div>
                {{/}}
              </div>
            </div>
          {{/}}
        {{/}}
        <div id="session-modal" class="modal session-modal session-modal--nopadding">
          {{{modalHtml}}}
        </div>
      </script>
    {% endraw %}
  </div>

{% endblock %}

{% block footerscripts %}
  {% assets "js_ractive" -%}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {%- endassets -%}
  <script type="text/javascript">
    var scheduleConfig = {
      fromDate: {{ from_date|tojson }},
      toDate: {{ to_date|tojson }},
      scheduled: {{ sessions|tojson }},
      rooms: {{ rooms|tojson }},
      slotInterval: 5,
      divElem: "#project-schedule-table",
      scriptTemplate: '#scheduletemplate',
    }
  </script>
  <script type="text/javascript">
    $(document).ready( function() {
      window.Talkfunnel.Schedule.init(scheduleConfig);
    });
  </script>
{% endblock %}
