{% extends "layout.html.jinja2" %}
{% block headerbox %}{% endblock headerbox %}

{% block pageheaders %}
  <link rel="stylesheet" type="text/css" href="{{ built_asset('css/screens.css') }}" />
  {% block screens_pageheaders %}
  {% endblock screens_pageheaders %}
{% endblock pageheaders %}

{% block basecontent %}{% endblock basecontent %}

{% block footer %}
{% endblock footer %}
