{% extends "layout.html.jinja2" %}
{% block headerbox %}{% endblock %}

{% block pageheaders %}
	{% assets 'css_screens' -%}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
	{%- endassets %}
  {% block screens_pageheaders %}
  {% endblock %}
{% endblock %}

{% block basecontent %}{% endblock %}

{% block footer %}
{% endblock %}
