{% extends "layout.html.jinja2" %}
{% block headerbox %}{% endblock headerbox %}

{% block pageheaders %}
  {% assets 'css_screens' -%}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
  {%- endassets %}
  {% block screens_pageheaders %}
  {% endblock screens_pageheaders %}
{% endblock pageheaders %}

{% block basecontent %}{% endblock basecontent %}

{% block footer %}
{% endblock footer %}
