{% extends "layout.html.jinja2" %}
{%- from "js/search.js.jinja2" import search_results_template %}
{% from "forms.html.jinja2" import ajaxform %}
{% block title %}{% trans %}Search{% endtrans %}{% endblock %}
{% block description %}{% trans %}Search{% endtrans %}{% endblock %}

{% block bodyattrs %}class="mui--bg-primary tabs-navbar"{% endblock %}

{% block headline -%}
{%- endblock %}

{% block basecontent %}
  <div class="js-lazyload-results">
    {{ search_results_template() }}
  </div>
{% endblock %}

{% block footerscripts %}
  <script src="{{ built_asset('search.js') }}" type="text/javascript"></script>
  <script type="text/javascript">
    $(function() {
      var searchConfig = {
        counts: {{ counts|tojson }},
        results: {{results|default("")|tojson}},
        defaultImage: "{{url_for('static', filename='img/default-banner.png')}}",
      };
      Hasgeek.searchInit(searchConfig);
    });
  </script>
{% endblock %}
