{% extends "layout.html.jinja2" %}
{% from "baseframe/forms.html.jinja2" import ajaxform %}
{% block title %}Search{% endblock %}
{% block description %}Search{% endblock %}

{% block contentwrapper %}
  <div class="grid details-section js-lazyload-results">
    <div class="grid__col-12">
      <div id="search-wrapper">
        {% raw %}
        <script id='search-template' type='text/ractive'>
          <div class="tabs">
            {{#each tabs}}
              <p class="mui--text-subhead tabs__item mui--text-uppercase {{#if activeTab == type}}tabs__item--active{{/if}}" on-click="updateTabContent(event, type)">{{ label }} <span class="chip">{{ count }}</span></p>
            {{/each}}
          </div>
          <div class="tab-content">
            {{#each results:result }}
              {{#if result == activeTab}}
                {{#results[result].items}}
                  <div class="tab-content__results">
                    {{#if result == 'project'}}
                      <div class="card card--upcoming">
                        <div class="card__image-wrapper">
                          {{#if obj.bg_image }}
                            <a href="{{ obj.url }}" aria-label="{{ title }}" class="mui--text-hyperlink"><img class="card__image" src="{{ obj.bg_image }}" alt="{{ title }}"/></a>
                          {{else}}
                            <div class="card__image--default">
                              <a href="{{ url }}" aria-label="{{ title }}"><img class="card__image" src="{{ defaultImage }}" alt="{{ title }}"/></a>
                              <p class="card__image__tagline mui--text-body1">{{{ title }}}</p>
                            </div>
                          {{/if}}
                        </div>
                        <div class="card__body">
                          <h3 class="zero-top-margin zero-bottom-margin"><a href="{{ url }}" class="mui--text-headline mui--text-hyperlink">{{{ title }}}</a></h3>
                          <p class="mui--text-subhead mui--text-light zero-top-margin">{{ obj.tagline }}</p>
                          <p class="mui--text-body1 mui--text-light zero-top-margin snippets">{{{ snippets }}}</p>
                        </div>
                      </div>
                    {{else}}
                      <div>
                        <h3 class="zero-top-margin zero-bottom-margin">
                          {{#if url }}
                            <a href="{{ url }}" class="mui--text-title mmui--text-hyperlink">{{{ title }}}</a>
                          {{else}}
                            {{{ title }}}
                          {{/if}}
                        </h3>
                        <p class="mui--text-subhead mui--text-light zero-top-margin">{{ obj.tagline }}</p>
                        <p class="mui--text-body1 mui--text-light zero-top-margin snippets">{{{ snippets }}}</p>
                        {{#if obj.project && obj.project.absolute_url }}
                          <a href="{{ url }}" class="mui--text-title mui--text-hyperlink mui--text-bold">{{{ obj.project.title }}}</a>
                        {{/if}}
                        {{#if obj && obj.bio }}
                          <p class="mui--text-subhead">Speaker bio</p>
                          <p class="mui--text-body1 mui--text-light zero-top-margin">{{{ obj.bio }}}</p>
                        {{/if}}
                      </div>
                    {{/if}}
                  </div>
                {{else}}
                  <p class="mui--text-title">No results found</p>
                {{/}}
                {{#if results[result].next_num }}
                  <p class="js-lazy-loader mui--text-title mui--text-bold mui--text-center" data-next-page="{{ results[result].next_num }}"><i class="material-icons mui--text-subhead mui--align-middle spinner" aria-hidden="true">refresh</i> Loading more</p>
                {{/if}}
              {{/if}}
            {{/each}}
          </div>
        </script>
        {% endraw %}
      </div>
    </div>
  </div>
{% endblock %}

{% block footerscripts %}
  <script src="{{ url_for('static', filename=asset_path('search')) }}" type="text/javascript"></script>
  <script type="text/javascript">
    $(function() {

      var searchConfig = {
        counts: {{ counts|tojson }},
        results: {{results|default("")|tojson}},
        defaultImage: "{{url_for('static', filename='img/card-background.png')}}"
      };

      HasGeek.Search(searchConfig);

    });
  </script>
{% endblock %}
