{% extends "layout.html.jinja2" %}
{% block title %}Sections &ndash; {{ project.title }}{% endblock %}

{% block top_title %}
  <h1 class="mui--text-display1">{{ project.title|e }}</h1>
  <p class="mui--text-headline">Manage sections</p>
{% endblock %}

{% block content %}
  <ol class="mui-list--aligned">
    {%- for section in sections %}
      <li>
        <span class="mui--text-subhead"><strong>{{ section.title }}</strong> &mdash; {{ section.description }}</span>
        <a href="{{ section.url_for('edit') }}" title="{% trans %}Edit{% endtrans %}"><i class="material-icons mui--text-subhead mui--align-top left-margin">edit</i></a>
        <a href="{{ section.url_for('delete') }}" title="{% trans %}Delete{% endtrans %}"><i class="material-icons mui--text-subhead mui--align-top left-margin">delete</i></a>
      </li>
    {% else %}
      <li class="mui--text-subhead"><em>{% trans %}(No sections){% endtrans %}</em></li>
    {%- endfor %}
  </ol>
  <p>
    <a class="mui-btn mui-btn--small mui-btn--raised mui-btn--primary" href="{{ project.url_for('new_section') }}">{% trans %}Add new section{% endtrans %}</a>
  </p>
{% endblock %}
