{% extends "layout.html.jinja2" %}
{% block title %}{{ section.title }} &mdash; {{ project.title }}{% endblock %}
{% block content %}
  <p class="mui--text-body2">
    {{ section.description }}
  </p>
{% endblock %}
