{% from "baseframe/forms.html.jinja2" import renderform_inner, rendersubmit %}

{% block content %}
	<form id="{{ formid }}" method="POST" accept-charset="UTF-8" class="mui-form">
	  {{ renderform_inner(form, formid or None) }}
	</form>
{% endblock %}

{% block footerscripts %}
	<script>
	  SHOW_SAVE_BUTTON = true;
	</script>
{% endblock %}
