{%- from "macros.html.jinja2" import embed_video_player, video_action_bar %}

<div class="modal__header mui--bg-accent">
  <a class="modal__close" href="javascript:void(0);"  data-target="close session modal" aria-label="{% trans %}Close{% endtrans %}" rel="modal:close">{% assets "fa5-sprite" %}<svg class="fa5-icon fa5-icon--subhead" aria-hidden="true" role="img"><use xlink:href="{{ ASSET_URL }}#times"></use></svg>{% endassets %}</a>
  <h3 class="js-modal-title mui--text-headline modal__header__title" data-cy-session="title">{{ session.title }}</h3>
  <div class="mui--clearfix">
    {% if session.speaker %}
      <p class="mui--text-subhead" data-cy-session="speaker">{% assets "fa5-sprite" %}<svg class="fa5-icon  fa5--align-baseline" aria-hidden="true" role="img"><use xlink:href="{{ ASSET_URL }}#microphone-alt"></use></svg>{% endassets %} {{ session.speaker }}</p>
    {% endif %}
    {% if session.scheduled %}
      <p class="mui--text-subhead" data-cy-session="time">{% assets "fa5-sprite" %}<svg class="fa5-icon fa5--align-baseline" aria-hidden="true" role="img"><use xlink:href="{{ ASSET_URL }}#calendar-alt"></use></svg>{% endassets %} {{ session.start_at_localized.strftime('%d %B %Y') }}, {{ session.start_at_localized.strftime('%I:%M %p') }}–{{ session.end_at_localized.strftime('%I:%M %p') }}
      </p>
    {% else %}
      <p class="mui--text-subhead">
      {% trans %}This session has not been scheduled yet.{% endtrans %}
      </p>
    {% endif %}
    {% if session.venue_room %}
      <p class="mui--text-subhead" data-cy-session="room">{% assets "fa5-sprite" %}<svg class="fa5-icon fa5--align-baseline" aria-hidden="true" role="img"><use xlink:href="{{ ASSET_URL }}#map-marker-alt"></use></svg>{% endassets %} {{ session.venue_room.title }}, {{ session.venue_room.venue.title }}</p>
    {% endif %}
  </div>
</div>
<div class="modal__body">
    {% if session.video and session.video.url %}
    <div class="details">
      <div class="details__box details__box--left mui-tabs__bar">
        <div class="details__box__video mui--bg-primary-light embed-video-wrapper">
          {{ embed_video_player({'video_source': session.video.source, 'video_id': session.video.id}) }}
        </div>
        <div class="details__box__control">
          {{ video_action_bar({'video_source': session.video.source, 'video_id': session.video.id}, session.proposal) }}
        </div>
      </div>
    </div>
    {% endif %}
    {% if session.proposal %}
      <div class="modal__body__section">
        <a class="mui--text-subhead" href="{{ session.proposal.url_for('view') }}" target="_blank" data-cy="view-proposal">{% assets "fa5-sprite" %}<svg class="fa5-icon fa5--align-baseline" aria-hidden="true" role="img"><use xlink:href="{{ ASSET_URL }}#presentation"></use></svg>{% endassets %}&nbsp;&nbsp;  {% trans %}View Proposal{% endtrans %}</a>
      </div>
    {% endif %}
    <hr class="modal__body__separator">
    {% if session.description %}
      <div class="modal__body__section">
        <h3 class="mui--text-headline mui--text-bold"><strong>{% trans %}Description{% endtrans %}</strong></h3>
        <div class="mui--text-body2 image-wrapper">{{ session.description }}</div>
      </div>
    {% endif %}
    {% if session.speaker_bio %}
      <div class="modal__body__section">
        <h3 class="mui--text-headline mui--text-bold"><strong>{% trans %}Speaker Bio{% endtrans %}</strong></h3>
        <div class="mui--text-body2">{{ session.speaker_bio }}</div>
      </div>
    {% endif %}
  </div>
</div>
