{% if session.venue_room %}
    <h3 class="pull-right" style="margin:0px 2px 2px 2px;">{{ session.venue_room.title }}</h3>
{% endif %}
<h3 style="margin:0px 2px 2px 2px;">{{ localize_date(session.start, to_tz=timezone).strftime('%d %B, %Y') }}</h3>
{% if session.venue_room %}
    <h2 class="pull-right" style="margin:0px 2px 2px 2px;">{{ session.venue_room.venue.title }}</h2>
{% endif %}
<h1 style="margin:0px 2px 2px 2px;">{{ localize_date(session.start, to_tz=timezone).strftime('%I:%M %p') }} - {{ localize_date(session.end, to_tz=timezone).strftime('%I:%M %p') }}</h1>
{% if session.proposal %}
    {% if session.proposal.speaker %}
        <h3 style="margin:0px 5px 2px 2px;">{% trans %}Speaker: {% endtrans %}{{ session.proposal.speaker.fullname }}</h3>
        <a class="btn btn-primary btn-xs" href="{{ session.proposal.url_for('view') }}" target="_blank">View Proposal</a>
    {% endif %}
{% endif %}
<hr class="clearfix">
{% if session.description_html %}
    <h4>{% trans %}Description{% endtrans %}</h4>
    {{ session.description_html|safe }}
{% endif %}
{% if session.speaker_bio_html %}
    <h4>{% trans %}Speaker Bio{% endtrans %}</h4>
    {{ session.speaker_bio_html|safe }}
{% endif %}
