<div class="modal__header mui--bg-accent">
  <a class="modal__close" href="javascript:void(0);" aria-label="{% trans %}Close{% endtrans %}" rel="modal:close"><i class="material-icons">clear</i></a>
  <h3 class="js-modal-title mui--text-headline session-modal__title">{{ session.title }}</h3>
  <div class="mui--clearfix">
    {% if session.speaker %}
      <p class="mui--text-title zero-bottom-margin"><small class="mui--text-light">by</small> <strong>{{ session.speaker }}</strong></p>
    {% endif %}
    {% if session.scheduled %}
      <p class="mui--text-subhead zero-bottom-margin">
        <small class="mui--text-light">at</small>
        {{ localize_date(session.start_at, to_tz=timezone).strftime('%I:%M %p') }} - {{ localize_date(session.end_at, to_tz=timezone).strftime('%I:%M %p') }}
        <small class="mui--text-light">on</small>
        {{ localize_date(session.start_at, to_tz=timezone).strftime('%d %B, %Y') }}
      </p>
    {% else %}
      <p class="mui--text-subhead zero-bottom-margin">
      {% trans %}This session has not been scheduled yet.{% endtrans %}
      </p>
    {% endif %}
    {% if session.venue_room %}
      <p class="mui--text-subhead zero-bottom-margin"><small class="mui--text-light">in</small> {{ session.venue_room.title }} <small class="mui--text-light">{{ session.venue_room.venue.title }}</small></p>
    {% endif %}
    {% if session.proposal %}
      <a class="mui-btn mui-btn--small mui-btn--raised mui-btn--primary mui--pull-right" href="{{ session.proposal.url_for('view') }}" target="_blank">{% trans %}View Proposal{% endtrans %}</a>
    {% endif %}
  </div>
</div>
<div class="modal__body">
  <div class="section">
    {% if session.description %}
      <h3 class="mui--text-title"><strong>{% trans %}Description{% endtrans %}</strong></h3>
      <div class="mui--text-body2 image-wrapper">{{ session.description }}</div>
    {% endif %}
    {% if session.speaker_bio %}
      <h3 class="mui--text-title"><strong>{% trans %}Speaker Bio{% endtrans %}</strong></h3>
      <div class="mui--text-body2">{{ session.speaker_bio }}</div>
    {% endif %}
  </div>
</div>
