{% from "forms.html.jinja2" import renderform_inner, rendersubmit, ajaxform %}
{%- if not request_wants.html_fragment %}
  {% extends "formlayout.html.jinja2" %}
  {% block title %}
    {{ title }}
  {% endblock title %}
{% else %}
  <link rel="stylesheet"
        type="text/css"
        href="{{ built_asset('css/form.scss') }}"/>
{%- endif %}
{% block content %}
  <form id="{{ ref_id }}"
        method="post"
        accept-charset="UTF-8"
        class="mui-form"
        action="{{ request.url }}">
    {{ renderform_inner(form, formid or none) }}
    {%- if not request_wants.html_fragment %}{{ rendersubmit([(none, _("Save session"), '')]) }}{%- endif %}
  </form>
{% endblock content %}
{%- if request_wants.html_fragment %}
  <script src="{{ built_asset('form.js') }}" type="text/javascript"></script>
  <script type="text/javascript">
    $(function() {
      var config = {
        autosave: false,
        formId: '#{{ ref_id }}',
        msgElemId: ''
      }
      window.Hasgeek.form(config);
    });
  </script>
{%- endif %}
