{% extends 'siteadmin_layout.html.jinja2' %}

{% block admincontentblock %}
<form data-parsley-validate="true" id="comment-search-form" method="GET"
  action="{{ url_for('siteadmin_comments') }}" accept-charset="UTF-8"
  class="mui-form mui-form--margins hg-form mui-form--inline">

  <input type="hidden" id="comment-search-page" name="page" value="1">

  <div class="mui-form__fields" id="field-query">
    <div class="mui-form__controls">
      <div class="mui-textfield mui-textfield--float-label">
        <input autofocus class="field-query " id="comment-search-query"
          name="query" type="text" value="{{ query }}">
        <label>Query</label>
      </div>
    </div>
  </div>
  {{ rendersubmit([('', "Search", '')]) }}
</form>

<p>
  {%- trans total_comments=total_comments, query=query %}
    Only {{ total_comments }} comment for "{{ query }}"
  {% pluralize total_comments %}
    Total {{ total_comments }} comments for "{{ query }}"
  {% endtrans -%}
</p>

<form
  id="form-comments-spam"
  action="{{ url_for('siteadmin_comments_spam') }}"
  method="post"
  class="form-inline"
>
  {{ comment_spam_form.hidden_tag() }}
  <table class="mui-table mui-table--bordered mui-table--responsive">
    <thead>
      <tr>
        <th>
          <div class="mui-checkbox">
            <input id="check-comments-selectall" type="checkbox" />
          </div>
        </th>
        <th>{% trans %}User{% endtrans %}</th>
        <th>{% trans %}Comment{% endtrans %}</th>
        <th>{% trans %}Content{% endtrans %}</th>
        {#
        <th>{% trans %}Actions{% endtrans %}</th>
        #}
      </tr>
    </thead>
    <tbody class="mui--text-subhead">
      {% for comment in comments %}
      <tr>
        <td data-th="#">
          <div class="mui-checkbox">
            <input
              type="checkbox"
              class="field-comment-id"
              name="comment_id"
              value="{{ comment.uuid_b58 }}"
            />
          </div>
        </td>
        <td data-th="User">{{ comment.user.pickername }}</td>
        <td data-th="User"><a href="{{ comment.url_for() }}">Link</a></td>
        <td data-th="Content">{{ comment.message }}</td>
        {#
        <td data-th="Actions">
          {% if current_auth.user.is_user_moderator %}
          <button id="btn-user-markspamall" class="mui-btn mui-btn--accent">
            Delete all comments by user
          </button>
          {% endif %}
        </td>
        #}
      </tr>
      {% else %}
      <tr>
        <td colspan="4">{% trans %}No comment available{% endtrans %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div>
    {{ rendersubmit([("spam-comments-bulk", "Report spam", '')]) }}
  </div>
</form>

<div class="mui--text-center">
  {% for page in pages[:10] %}
    <a
      class="btn-pagination-item mui-btn {% if page != current_page %}mui-btn--accent{% endif %}"
      href="{{ url_for('siteadmin_comments') }}?query={{ query }}&page={{ page }}"
      >{{ page }}</a>
  {% endfor %}
</div>

{% endblock admincontentblock %}

{% block footerscripts %}
<script type="text/javascript">
  $("#check-comments-selectall:checkbox").change(function (e) {
    e.preventDefault();
    $(".field-comment-id").attr("checked", this.checked);
  });
  $("#form-comments-spam").submit(function (e) {
    var checkedboxes = $(".field-comment-id:checked").length;
    if (confirm(`Do you want to report ${checkedboxes} comments as spam?`)) {
      return true;
    } else {
      e.preventDefault();
    }
  });
</script>
{% endblock %}
