{% extends "layout.html.jinja2" %}
{% from "macros.html.jinja2" import rsvpform, rsvpscript %}
{% block title %}{{ space.title }}{% endblock %}
{% block description %}{{ space.title }}{% if g.profile %} &ndash; {{ g.profile.description|striptags }}{% endif %}{% endblock %}

{%- macro proposal_table(space, proposals) %}
  <div class="table-responsive">
    <table class="table table-bordered listing">
      <thead>
        <tr>
          <th class="num">#</th>
          <th>{% trans %}Speaker{% endtrans %}</th>
          <th>{% trans %}Section{% endtrans %}</th>
          <th>{% trans %}Level{% endtrans %}</th>
          <th class="num">{% trans %}+1{% endtrans %}</th>
          <th class="num"><i class="fa fa-comment-o"></i></th>
          <th>{% trans %}Submitted{% endtrans %}</th>
        </tr>
      </thead>
      {% for proposal in proposals %}
        <tbody class="link">
          {%- set link=proposal.url_for() -%}
          <tr>
            <td class="num"><a href="{{ link }}">{{ loop.index }}</a></td>
            <td colspan="6">
              <a href="{{ link }}">
                <strong>{{ proposal.title }}</strong>
                {% if proposal.preview_video %}
                  &nbsp;<span data-toggle="tooltip" data-placement="top" title="This proposal has a preview video" class="fa fa-film"></span>
                {% endif %}
                {% if proposal.slides %}
                  &nbsp;<span data-toggle="tooltip" data-placement="top" title="This proposal has slides" class="fa fa-desktop media-middle"></span>
                {% endif %}
              </a>
            </td>
          </tr>
          <tr>
            <td></td>
            <td><a href="{{ link }}">
              {%- if proposal.speaker -%}
                {{ proposal.speaker.pickername }}
                {%- if proposal.user != proposal.speaker %}
                  <small>via {{ proposal.user.pickername }}</small>
                {%- endif %}
                {%- if g.user and 'edit-space' in g.permissions %}
                  {%- if proposal.has_outstation_speaker %}
                    <i class="fa fa-plane" aria-label="Outstation Speaker"></i>
                  {%- endif %}
                {%- endif %}
              {%- else -%}
                {{ proposal.user.pickername }} <em>{% trans %}(proposing){% endtrans %}</em>
              {%- endif -%}
            </a></td>
            <td><a href="{{ link }}">{%- if proposal.proposal_space != space %}{{ proposal.proposal_space.short_title() }}{% else %}{{ proposal.section.title }}{% endif %}</a></td>
            <td><a href="{{ link }}">{{ proposal.technical_level }}</a></td>
            <td class="num"><a href="{{ link }}">
              {{ proposal.votes.count }}
              {% if 'view-voteinfo' in g.permissions %}
                {% set breakups = dict() %}
                {% set groups = proposal.votes_by_group() %}
                {% if 'participants' in groups %}{% if breakups.update({'P': groups['participants']}) %}{% endif %}{% endif %}
                {% if 'editorial-panel' in groups %}{% if breakups.update({'EP': groups['editorial-panel']}) %}{% endif %}{% endif %}
                {% if breakups.__len__() %}
                  (
                  {%- for item in breakups -%}
                    {%- if loop.index != 1 %}, {% endif %}
                    {{ item }}: {{ breakups[item] }}
                  {%- endfor -%}
                  )
                {% endif %}
              {% endif %}
            </a></td>
            <td class="num"><a href="{{ link }}">{{ proposal.comments.count }}</a></td>
            <td><a href="{{ link }}">{{ proposal.datetime.strftime("%a, %e %b") }}</a></td>
          </tr>
        </tbody>
      {% else %}
        <tbody>
          <tr>
            <td colspan="9">
              <em>{% trans %}(No sessions have been submitted){% endtrans %}</em>
            </td>
          </tr>
        </tbody>
      {% endfor %}
    </table>
  </div><!-- /.table-responsive -->
  <hr>
{%- endmacro %}

{% block headline %}
  <div class="page-header">
    {#<h3><a href="{{ space.profile.url_for() }}">{{ space.profile.title }}</a> &nbsp;<i class="fa fa-angle-right"></i></h3>#}
    <h1>{{ space.title }}</h1>
  </div>
{% endblock %}

{% block content %}
{#
  <ul class="nav nav-tabs">
    <li class="active"><a href="#info" data-toggle="tab">{% trans %}Info{% endtrans %}</a></li>
    <li><a href="#proposals" data-toggle="tab">{% trans %}Proposals{% endtrans %}</a></li>
{ #-    {%- if sections %}{% for section in sections %}
      <li><a href="#section-{{ section.name }}" data-toggle="tab">{{ section.title }}</a></li>
    {% endfor %}{% endif %} # }
  </ul>
#}
{#
  <div class="tab-content section">
    <div class="tab-pane active" id="info">
#}
<p>
  {{ space.datelocation }}<br>
  <strong>Status:
    {% if space.status == 0 -%}
      {% trans %}Draft{% endtrans %}
    {%- elif space.status == 1 -%}
      {% trans %}Accepting submissions{% endtrans %}
    {%- elif space.status == 2 -%}
      {% trans %}Accepting votes{% endtrans %}
    {%- elif space.status == 3 -%}
      {% trans %}Submissions and voting closed, awaiting jury selection{% endtrans %}
    {%- elif space.status == 4 -%}
      {% trans %}Open for post-event feedback{% endtrans %}
    {%- elif space.status == 5 -%}
      {% trans %}Closed{% endtrans %}
    {%- elif space.status == 6 -%}
      {% trans %}Withdrawn{% endtrans %}
    {%- endif -%}
  </strong>
</p>
<ul class="list-inline">
  {%- if 'admin' in space.permissions(g.user) %}
    <li>
      <a href="{{ space.url_for('events') }}" class='btn btn-danger btn-sm btn-block'>{% trans %}Manage check-in{% endtrans %}</a>
    </li>
  {%- endif %}
  {%- if 'admin' in space.permissions(g.user) %}
    <li>
      <a href="{{ space.url_for('admin') }}" class='btn btn-danger btn-sm btn-block'>{% trans %}Manage Event{% endtrans %}</a>
    </li>
  {%- endif %}
  {%- if space.sessions %}
    <li>
      <a href="{{ space.url_for('schedule') }}" class='btn btn-primary btn-sm btn-block'>{% trans %}View Schedule{% endtrans %}</a>
    </li>
  {%- endif %}
  {%- if space.buy_tickets_url %}
    <li>
      <a href="{{ space.buy_tickets_url }}" class='btn btn-danger btn-sm btn-block' target="_blank">{% trans %}Buy Tickets{% endtrans %}</a>
    </li>
  {%- endif %}
</ul>
{%- if space.allow_rsvp %}
  <h3>{% trans %}Attending this event?{% endtrans %}</h3>
  {%- if g.user %}
    {{ rsvpform(space, rsvp_form) }}
  {%- else %}
    <p>
      <a href="{{ url_for('login') }}" class='btn btn-primary btn-sm'>{% trans %}Login to RSVP{% endtrans %}</a>
    </p>
  {%- endif %}
  {% if g.user and 'view-rsvps' in g.permissions %}
    <a href="{{ space.url_for('rsvp-list') }}">See RSVP list</a>
  {% endif %}
{%- endif %}
{{ description }}
{%- if space.subspaces %}
  <ul class="cardset row">
    {% for subspace in space.subspaces %}
      <li class="col-md-4 col-sm-6">
        <a href="{{ subspace.url_for() }}">
          <div class="card-title">
            <h2>{{ subspace.title }}</h2>
            <h3>{{ subspace.datelocation }}</h3>
          </div>
          <div class="card-body">
            <p>{{ subspace.tagline }}</p>
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
{%- endif %}
{% if space.status == 1 -%}
  <p>
    <a class="btn btn-success" href="{{ space.url_for('new-proposal') }}">{% trans %}Propose a session{% endtrans %}</a>
  </p>
{% endif %}
{#
    </div>

    <div class="tab-pane" id="proposals">
#}
      {%- if 'view-status' in g.permissions %}
        {%- for status, proposal_group in space.proposals_by_status.iteritems() if proposal_group -%}
            <h3>{{ PROPOSALSTATUS[status] }} {% trans %}proposals{% endtrans %}</h3>
            {{ proposal_table(space, proposal_group) }}
        {%- endfor -%}
      {%- else %}
        {%- if space.proposals_by_confirmation['confirmed'] %}
          <h3>{% trans %}Confirmed sessions{% endtrans %}</h3>
          {{ proposal_table(space, space.proposals_by_confirmation['confirmed']) }}
        {%- endif %}
        {%- if space.proposals_by_confirmation['unconfirmed'] %}
          {%- if space.proposals_by_confirmation['confirmed'] %}<h3>{% trans %}Unconfirmed proposals{% endtrans %}</h3>{% endif %}
          {{ proposal_table(space, space.proposals_by_confirmation['unconfirmed']) }}
        {%- endif %}
      {%- endif %}
{#
    </div>
  </div>
#}
{% endblock %}
{% block footerscripts %}
  {{ rsvpscript() }}
{% endblock %}
