{% extends "layout.html" %}
{% block title %}{{ space.title }}{% endblock %}

{%- macro proposal_table(proposals) %}
  <div class="table-responsive">
    <table class="table table-bordered listing">
      <thead>
        <tr>
          <th class="num">#</th>
          <th>{% trans %}Speaker{% endtrans %}</th>
          <th>{% trans %}Section{% endtrans %}</th>
          <th>{% trans %}Type{% endtrans %}</th>
          <th>{% trans %}Level{% endtrans %}</th>
          <th class="num">{% trans %}+1{% endtrans %}</th>
          <th class="num"><i class="icon-comment"></i></th>
          <th>{% trans %}Submitted{% endtrans %}</th>
        </tr>
      </thead>
      {% for proposal in proposals %}
        <tbody class="link">
          {%- set link=proposal.url_for() -%}
          <tr>
            <td class="num"><a href="{{ link }}">{{ loop.index }}</a></td>
            <td colspan="8">
              <a href="{{ link }}"><strong>{{ proposal.title }}</strong></a>
              {% if proposal.preview_video %}
                <span data-toggle="tooltip" data-placement="top" title="This proposal has a preview video" class="tooltip icon-film" style="opacity: 1"></span>
              {% endif %}
              {% if proposal.slides %}
                <span  data-toggle="tooltip" data-placement="top" title="This proposal has slides" class="tooltip icon-desktop" style="opacity: 1"></span>
              {% endif %}
              {% if proposal.blog_post %}
                <span  data-toggle="tooltip" data-placement="top" title="This proposal has a blog post" class="tooltip icon-list-alt" style="opacity: 1"></span>
              {% endif %}
            </td>
          </tr>
          <tr>
            <td></td>
            <td><a href="{{ link }}">
              {%- if proposal.speaker -%}
                {{ proposal.speaker.pickername }}
                {%- if proposal.user != proposal.speaker %}
                  <small>via {{ proposal.user.pickername }}</small>
                {%- endif %}
              {%- else -%}
                {{ proposal.user.pickername }} <em>{% trans %}(proposing){% endtrans %}</em>
              {%- endif -%}
            </a></td>
            <td><a href="{{ link }}">{{ proposal.section.title }}</a></td>
            <td><a href="{{ link }}">{{ proposal.session_type }}</a></td>
            <td><a href="{{ link }}">{{ proposal.technical_level }}</a></td>
            <td class="num"><a href="{{ link }}">
              {{ proposal.votes.count }}
              {% if 'siteadmin' in g.lastuserinfo.permissions or space.user_in_group(g.user, 'editorial-panel') %}
                {% set breakups = dict() %}
                {% set groups = proposal.votes_by_group() %}
                {% if 'participants' in groups %}{% if breakups.update({'P': groups['participants']}) %}{% endif %}{% endif %}
                {% if 'editorial-panel' in groups %}{% if breakups.update({'EP': groups['editorial-panel']}) %}{% endif %}{% endif %}
                {% if breakups.__len__() %}
                  (
                  {%- for item in breakups -%}
                    {%- if loop.index != 1 %}, {% endif %}
                    {{ item }}: {{ breakups[item] }}
                  {%- endfor -%}
                  )
                {% endif %}
              {% endif %}
            </a></td>
            <td class="num"><a href="{{ link }}">{{ proposal.comments.count }}</a></td>
            <td><a href="{{ link }}">{{ proposal.datetime.strftime("%a, %b %e") }}</a></td>
          </tr>
        </tbody>
      {% else %}
        <tbody>
          <tr>
            <td colspan="9">
              <em>{% trans %}(No sessions have been submitted){% endtrans %}</em>
            </td>
          </tr>
        </tbody>
      {% endfor %}
    </table>
  </div><!-- /.table-responsive -->
  <hr>
{%- endmacro %}

{% block content %}
{#
  <ul class="nav nav-tabs">
    <li class="active"><a href="#info" data-toggle="tab">{% trans %}Info{% endtrans %}</a></li>
    <li><a href="#proposals" data-toggle="tab">{% trans %}Proposals{% endtrans %}</a></li>
{ #-    {%- if sections %}{% for section in sections %}
      <li><a href="#section-{{ section.name }}" data-toggle="tab">{{ section.title }}</a></li>
    {% endfor %}{% endif %} # }
  </ul>
#}
{#
  <div class="tab-content section">
    <div class="tab-pane active" id="info">
#}
<p>
  {{ space.datelocation }}<br>
  <strong>Status:
    {% if space.status == 0 -%}
      {% trans %}Draft{% endtrans %}
    {%- elif space.status == 1 -%}
      {% trans %}Accepting submissions{% endtrans %}
    {%- elif space.status == 2 -%}
      {% trans %}Accepting votes{% endtrans %}
    {%- elif space.status == 3 -%}
      {% trans %}Submissions and voting closed, awaiting jury selection{% endtrans %}
    {%- elif space.status == 4 -%}
      {% trans %}Open for post-event feedback{% endtrans %}
    {%- elif space.status == 5 -%}
      {% trans %}Closed{% endtrans %}
    {%- elif space.status == 6 -%}
      {% trans %}Withdrawn{% endtrans %}
    {%- endif -%}
  </strong>
</p>
{% if space.status == 1 -%}
  <p>
    <a class="btn btn-success" href="{{ space.url_for('new-proposal') }}">{% trans %}Propose a session{% endtrans %}</a>
    {% if 'title_helper' in space.content and space.content['title_helper'] %}
      <span data-toggle="tooltip" data-placement="right" title="{{ space.content['title_helper'] }}" class="tooltip icon-question-sign" style="opacity: 1"></span>
    {% endif %}
  </p>
{% endif %}
{% set tabs = [] %}
{% set titles = {'format': 'Format', 'criteria': 'Criteria for proposals', 'panel': 'Editorial Panel', 'dates': 'Important Dates', 'open_source': 'Commitment to Open Source', 'themes': 'Themes'} %}
{% for tab in ['format', 'themes', 'criteria', 'panel', 'dates', 'open_source'] %}
  {% if tab in space.content and space.content[tab] %}
    {% if tabs.append(tab) %}{% endif %}
  {% endif %}
{% endfor %}
{% if tabs.__len__() %}
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab_about" data-toggle="tab">{% trans %}About{% endtrans %}</a></li>
    {% for tab in tabs %}
      <li><a href="#tab_{{ tab }}" data-toggle="tab">{{ titles[tab] }}</a></li>
    {% endfor %}
  </ul>
  <div class="tab-content section">
    <div class="tab-pane active" id="tab_about">{{ description }}</div>
    {% for tab in tabs %}
      <div class="tab-pane" id="tab_{{ tab }}">{{ space.content[tab]|markdown }}</div>
    {% endfor %}
  </div>
{% else %}
  {{ description }}
{% endif %}
{% if space.status == 1 -%}
  <p>
    <a class="btn btn-success" href="{{ space.url_for('new-proposal') }}">{% trans %}Propose a session{% endtrans %}</a>
    {% if 'title_helper' in space.content and space.content['title_helper'] %}
      <span data-toggle="tooltip" data-placement="right" title="{{ space.content['title_helper'] }}" class="tooltip icon-question-sign" style="opacity: 1"></span>
    {% endif %}
  </p>
{% endif %}
{#
    </div>

    <div class="tab-pane" id="proposals">
#}
      {%- if is_siteadmin -%}
        {%- for status, proposal_group in space.proposals_by_status.iteritems() if proposal_group -%}
            <h3>{{ PROPOSALSTATUS[status] }} {% trans %}proposals{% endtrans %}</h3>
            {{ proposal_table(proposal_group) }}
        {%- endfor -%}
      {%- else -%}
        {%- if space.proposals_by_confirmation['confirmed'] %}
          <h3>{% trans %}Confirmed sessions{% endtrans %}</h3>
          {{ proposal_table(space.proposals_by_confirmation['confirmed']) }}
        {%- endif %}
        {%- if space.proposals_by_confirmation['unconfirmed'] %}
          {%- if space.proposals_by_confirmation['confirmed'] %}<h3>{% trans %}Unconfirmed proposals{% endtrans %}</h3>{% endif %}
          {{ proposal_table(space.proposals_by_confirmation['unconfirmed']) }}
        {%- endif %}
      {%- endif %}
{#
    </div>
  </div>
#}
{% endblock %}
{% block footerscripts %}
<script type="text/javascript">
  $(document).ready(function() {
    $('.tooltip').tooltip();
  });
</script>
{% endblock %}
