{% extends "layout.html" %}
{% block title %}RSVP List {% endblock %}

{% block content %}
  <div role="tabpanel">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      {%- for action in rsvp_statuses %}
        {% with action_val = action[0], action_config = action[1] %}
          {% if loop.first %}
          <li role="presentation" class="active">
          {% else %}
          <li role="presentation">
          {% endif %}
            <a href="#rsvp-tab-{{ action_val.lower() }}" aria-controls="home" role="tab" data-toggle="tab">{{ action_config.label}} ({{ action_config.responses_count}})</a>
          </li>
        {% endwith %}
      {%- endfor %}
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      {%- for action in rsvp_statuses %}
        {% with action_val = action[0], action_config = action[1] %}
          {% if loop.first %}
          <div role="tabpanel" class="tab-pane active" id="rsvp-tab-{{ action_val.lower() }}">
          {% else %}
          <div role="tabpanel" class="tab-pane" id="rsvp-tab-{{ action_val.lower() }}">
          {% endif %}
            <table class="table">
              {% for rsvp in rsvps %}
                {% if rsvp.rsvp_status == action_val %}
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Email</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{rsvp.user.fullname}}</td>
                    <td>{{rsvp.user.email}}</td>
                  </tr>
                </tbody>
                {% endif %}
              {% endfor %}
            </table>
          </div>
        {% endwith %}
      {% endfor %}
    </div>
  </div>
{% endblock %}