{% extends "layout.html" %}
{% block title %}{{ space.title }}{% endblock %}

{%- macro proposal_table(proposals) %}
  <div class="table-responsive">
    <table class="table table-bordered listing">
      <thead>
        <tr>
          <th class="num">#</th>
          <th>Proposer</th>
          <th>Speaker</th>
          <th>Section</th>
          <th>Type</th>
          <th>Level</th>
          <th class="num">+1</th>
          <th class="num">Comments</th>
          <th>Submitted</th>
        </tr>
      </thead>
      {% for proposal in proposals %}
        <tbody class="link">
          {%- set link=url_for('viewsession', name=space.name, slug=proposal.urlname) -%}
          <tr>
            <td class="num"><a href="{{ link }}">{{ loop.index }}</a></td>
            <td colspan="8"><a href="{{ link }}"><strong>{{ proposal.title }}</strong></a></td>
          </tr>
          <tr>
            <td></td>
            <td><a href="{{ link }}">{{ proposal.user.fullname }}</a></td>
            <td><a href="{{ link }}">
              {%- if proposal.speaker -%}
                {{ proposal.speaker.fullname }}
              {%- else -%}
                <em>(open)</em>
              {%- endif -%}
            </a></td>
            <td><a href="{{ link }}">{{ proposal.section.title }}</a></td>
            <td><a href="{{ link }}">{{ proposal.session_type }}</a></td>
            <td><a href="{{ link }}">{{ proposal.technical_level }}</a></td>
            <td class="num"><a href="{{ link }}">{{ proposal.votes.count }}</a></td>
            <td class="num"><a href="{{ link }}">{{ proposal.comments.count }}</a></td>
            <td><a href="{{ link }}">{{ proposal.created_at.strftime("%a, %b %e") }}</a></td>
          </tr>
        </tbody>
      {% else %}
        <tbody>
          <tr>
            <td colspan="9">
              <em>(No sessions have been submitted)</em>
            </td>
          </tr>
        </tbody>
      {% endfor %}
    </table>
  </div><!-- /.table-responsive -->
  <hr>
{%- endmacro %}

{% block content %}
<p>
  {{ space.datelocation }}
</p>

{{ description }}

<p>
  <strong>Status:
    {% if space.status == 0 -%}
      Draft
    {%- elif space.status == 1 -%}
      Accepting submissions
    {%- elif space.status == 2 -%}
      Accepting votes
    {%- elif space.status == 3 -%}
      Submissions and voting closed, awaiting jury selection
    {%- elif space.status == 4 -%}
      Open for post-event feedback
    {%- elif space.status == 5 -%}
      Closed
    {%- elif space.status == 6 -%}
      Rejected
    {%- endif -%}
  </strong>
</p>
{% if sections -%}
  <h2 id="sections">Sections</h2>
  <ol>
    {% for section in sections -%}
      <li>{{ section.title }} &mdash; {{ section.description }}
        {%- if is_siteadmin %}
          <a href="{{url_for('section_edit', space=space.name, section=section.name) }}"> Edit,</a>
          <a href="{{url_for('section_delete', space=space.name, section=section.name) }}"> Delete </a>
        {%- endif %}</li>
    {% endfor -%}
  </ol>
{%- endif %}
<h2 id="sessions">Session proposals</h2>
{% if space.status == 1 -%}
<p>
  <a href="{{ url_for('newsession', name=space.name) }}">Propose a session &rarr;</a>
</p>
{% endif %}
{%- if confirmed %}
  <h3>Confirmed sessions</h3>
  {{ proposal_table(confirmed) }}
{%- endif %}
{%- if unconfirmed %}
  {%- if confirmed %}<h3>Unconfirmed proposals</h3>{% endif %}
  {{ proposal_table(unconfirmed) }}
{%- endif %}
{% endblock %}
