{% extends "formlayout.html.jinja2" %}
{% from "forms.html.jinja2" import renderfield %}
{% from "macros.html.jinja2" import useravatar, faicon %}
{% from "project_layout.html.jinja2" import project_header with context %}
{% block title %}{{ title }}{% endblock %}

{% block contenthead %}
{% endblock %}

{% block bodyattrs %}class="mui--bg-primary no-sticky-header mobile-header"{% endblock %}

{% block baseheadline %}
  <div class="mui--hidden-md mui--hidden-lg mui--hidden-xl mobile-nav-wrapper">
    <div class="mobile-nav mui--z1">
      <a href="{{ project.url_for() }}" aria-label="{% trans %}Back to the project{% endtrans %}" class="mui--text-dark mobile-nav__icon" data-ga="Back to the project page">{{ faicon(icon='arrow-left', icon_size='title') }}</a><span class="mui--text-dark mobile-nav__headline">{{ title }}</span>
    </div>
  </div>
{% endblock %}

{% block basecontent %}
  <div class="js-modal-container">
    <div class="mui-container">
      <div class="grid">
        <div class="grid__col-sm-12 grid__col-md-10 grid__col-lg-6">
          <h1 class="mui--text-title margin-bottom bottom-padding"><a href="{{ project.url_for() }}" class="mui--text-dark nounderline" data-cy="project-page">{{ project.title }}</a></h1>
          {%- if form.errors %}
            <div class="alert alert--error alert--dismissable">
              <a class="alert__close" href="javascript:void(0);"  data-target="close flash message" aria-label="close">{{ faicon(icon='times', baseline=false, icon_size='title') }}</a>
              <p class="alert__text">{{ faicon(icon='exclamation-circle') }} {% trans %}Please review the indicated issues{% endtrans %}</p>
            </div>
          {%- endif %}
        </div>
      </div>
    </div>
    <form class="mui-form submission-form margin-top" id="sub-form" method="POST" action="{{ request.url }}" accept-charset="UTF-8">
      {{ form.hidden_tag() }}
      <div class="mui-container">
        <div class="grid">
          <div class="grid__col-sm-12">
            {{ renderfield(form.title, css_class='mui-form__fields--noborder') }}
            {%- for error in form.title.errors %}
              <div><p class="mui-form__error">{{ error }}</p></div>
            {%- endfor %}
          </div>
        </div>
      </div>
      <div class="submission-header">
        <div class="mui-container">
          <div class="grid flex-wrapper--center">
            <ul class="mui-tabs__bar mui--visible-xs-block mui--visible-sm-block submission-header__tabs">
              <li class="mui--is-active submission-header__tabs__tab submission-header__tabs__tab--markdown"><a data-mui-toggle="tab" data-mui-controls="markdown">{% trans %}Markdown{% endtrans %}</a></li>
              <li class="submission-header__tabs__tab"><a data-mui-toggle="tab" data-mui-controls="preview">{% trans %}Preview{% endtrans %}</a></li>
            </ul>
            <div class="grid__col-sm-6 submission-header__column">
              <div class="flex-wrapper flex-wrapper--center flex-wrapper--space-between">
                <p class="mui--text-body2 mui--text-light mui--text-uppercase zero-bottom-margin mui--hidden-xs mui--hidden-sm">{% trans %}Markdown{% endtrans %}</p>
                <div class="submission-header__edit-icons">
                  <a role="button" aria-haspopup="true" class="link-icon js-open-modal" aria-label="{% trans %}Add submission video{% endtrans %}" data-ga="Add submission video">{{ faicon(icon='video-plus', baseline=false, css_class='mui--text-light link') }}</a>
                  <div class="js-modal-field mui--hide">
                    <div class="js-field top-padding">
                      {{ renderfield(form.video_url, css_class='top-padding') }}
                      {%- for error in form.video_url.errors %}
                        <div><p class="mui-form__error">{{ error }}</p></div>
                      {%- endfor %}
                    </div>
                  </div>
                  <a role="button" aria-haspopup="true" aria-label="{% trans %}Add submission label{% endtrans %}" data-ga="Add submission label" class="link-icon js-open-modal">{{ faicon(icon='tag-solid', icon_size='caption', css_class='mui--text-light link') }}</a>
                  <div class="js-modal-field mui--hide ">
                    <div class="js-field top-padding">
                      {{ renderfield(form.formlabels, css_class='label-select-fields top-padding active') }}
                      {%- for error in form.formlabels.errors %}
                        <div><p class="mui-form__error">{{ error }}</p></div>
                      {%- endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid__col-sm-6">
              <div class="flex-wrapper flex-wrapper--center flex-wrapper--space-between">
                <p class="mui--text-body2 mui--text-light mui--text-uppercase zero-bottom-margin mui--hidden-xs mui--hidden-sm">{% trans %}Preview{% endtrans %}</p>
                <div class="mui-form mui--clearfix submission-header__submit">
                  <div class="mui--pull-right">
                    <button type="submit" name="submit" class="mui-btn mui-btn--raised mui-btn--primary zero-top-margin zero-bottom-margin" data-cy-submit="save-label">{% trans %}Submit{% endtrans %}</button>
                    <span class="loading mui--hide"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mui-container">
        <div class="grid">
          <div class="grid__col-sm-6 proposal-markdown submission-header__column mui-tabs__pane mui--is-active" id="markdown">
            {{ renderfield(form.body, css_class='mui-form__fields--noborder') }}
            {%- for error in form.body.errors %}
              <div><p class="mui-form__error">{{ error }}</p></div>
            {%- endfor %}
          </div>
          <div class="grid__col-sm-6 proposal-preview js-proposal-preview mui-tabs__pane" id="preview">
           {{ proposal.body }}
          </div>
        </div>
      </div>
    </form>
    <div class="modal-form">
      <a class="modal__close mui--text-dark js-close-form-modal" data-target="close cancel register modal" aria-label="{% trans %}Close{% endtrans %}" rel="modal:close" href="javascript:void(0)" role="button" tabindex="0">{{ faicon(icon='times', baseline=false, icon_size='title') }}</a>
      <button class="mui-btn mui-btn--raised mui-btn--primary js-close-form-modal js-save-modal" rel="modal:close">Save</button>
    </div>
  </div>
{% endblock %}

{% block footerscripts %}
  <script type="text/javascript">
    window.Hasgeek.Config.markdownPreviewApi = {{ url_for('markdown_preview')|tojson }};
  </script>
  <script src="{{ built_asset('submission_form.js') }}" type="text/javascript"></script>
  <script src="{{ built_asset('submission.js') }}" type="text/javascript"></script>
  <script type="text/javascript">
  $(function() {
    window.Hasgeek.LabelsWidget();
  });
  </script>
{% endblock %}
