{% from "forms.html.jinja2" import renderfield, renderform, rendersubmit, widgetscripts %}
{%- from "macros.html.jinja2" import faicon, csrf_tag %}

<link rel="stylesheet" type="text/css" href="{{ built_asset('css/form.scss') }}" />

<div class="modal__header">
  <a class="modal__close mui--text-dark" aria-label="{% trans %}Close{% endtrans %}" rel="modal:close" data-cy="close-admin-panel" href="javascript:void(0);" role="button" tabindex="0">{{ faicon(icon='times', baseline=false, icon_size='title') }}</a>
  <h3 class="mui--text-title mui--text-bold mui--text-uppercase" data-cy="admin-panel">{% trans %}Admin panel{% endtrans %}</h3>
</div>
<div class="modal__body proposal__admin-panel">
  {%- if proposal.current_roles.project_editor %}
    <p class="mui--text-subhead">{% trans %}Change status of proposal{% endtrans %}</p>
    <form action="{{ proposal.url_for('transition') }}" method="post" class="form-inline">
      {{ transition_form.hidden_tag() }}
      <div class="btn-group" data-cy="proposal-status">
        {% for name, transition in transition_form.transition.choices %}
          <button name="transition" value="{{ name }}" class="transition mui-btn mui-btn--small mui-btn--raised {% if transition.data['type'] == 'success' %} mui-btn--primary {% elif transition.data['type'] == 'danger' %} mui-btn--danger {%- endif %}">{{ transition.data['title'] }}</button>
        {% endfor %}
      </div>
    </form>
  {% endif %}
  {% if project.view_for('labels').is_available() and proposal_label_admin_form %}
    <hr>
    <p class="mui--text-subhead"><a href="{{ project.url_for('labels') }}">{{ faicon(icon='tag', css_class='fa-icon--right-margin mui--align-middle') }}{% trans %}Manage labels{% endtrans %}</a></p>
  {% endif %}
  {% if proposal_label_admin_form %}
    <form action="{{ proposal.url_for('edit_labels') }}" method="post" class="add-label-form">
      {{ proposal_label_admin_form.hidden_tag() }}
      <p class="mui--text-title">Labels</p>
      <div class="selected-label" id="label-select">
        {%- for label in proposal.labels %}
          <span class="label mui--text-caption mui--text-bold" data-labeltxt="{% if label.main_label %}{% if label.main_label.icon_emoji -%}{{ label.main_label.icon_emoji }} {{ label.main_label.title }}{% else -%}{{ label.main_label.title }}{% endif %}{% elif label.icon_emoji -%}{{ label.icon_emoji }} {{ label.title }}{% else -%}{{ label.title }}{% endif %}">{% if label.main_label %}{% if label.main_label.icon_emoji %}{{ label.main_label.icon_emoji }} {% endif %} {{ label.main_label.title }}: {% endif %}{% if label.icon_emoji %}{{ label.icon_emoji }} {% endif %} {{ label.title }}</span>
        {%- endfor %}
        {{ faicon(icon='angle-down', css_class='mui--text-light') }}
      </div>
      <div id="label-dropdown" class="label-dropdown-wrapper">
        {{ renderfield(proposal_label_admin_form.formlabels, css_class="label-select-fields") }}
      </div>
      {{ rendersubmit([("add-label", "Save", '')]) }}
    </form>
  {% endif %}
  {%- if proposal_move_form %}
    {{ renderform(proposal_move_form, 'proposal-move', action=proposal.url_for('moveto'), submit=gettext("Move")) }}
  {%- endif %}
</div>

<script type="text/javascript">
  $(function() {
    window.Hasgeek.LabelsWidget();
  });
</script>
