{% extends "layout.html.jinja2" %}
{% block title %}{{ space.title }}{% endblock %}
{% block pageheaders %}
{% endblock %}

{% block contentwrapper %}
  <div class="grid">
    <div class="grid__col-xs-6">
      <h3 class="mui--text-title">{{ticket_type.title}} <a href={{ url_for('ticket_type_edit', profile=space.profile.name, space=space.name, name=ticket_type.name) }}><i class="material-icons mui--text-body2 mui--align-bottom mui--text-dark-secondary">edit</i></a></h3>
    </div>
    <div class="grid__col-xs-6">
      <h3 class="mui--text-title mui--text-right">
        Total: {{participants | length}}
      </h3>
    </div>
    <div class="grid__col-xs-6 grid__col-md-4">
      <form class="search-participant mui-form">
        <div class="mui-textfield mui-textfield--float-label">
          <input autofocus class="field-title search-query" id="search" type="text" name="key" value=""/>
          <label>Search</label>
        </div>
      </form>
    </div>
    <div class="grid__col-xs-12">
      <table class="mui-table mui-table--bordered mui-table--responsive" id='participants-table'>
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Company</th>
          </tr>
        </thead>
        <tbody>
          {%- for p in participants %}
            <tr id="p-{{ p.id }}">
              <td class='js-searchable'>{{ p.fullname }}</td>
              <td class='js-searchable'>{{ p.email }}</td>
              <td class='js-searchable'>{{ p.company }}</td>
            </tr>
          {%- endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
{% block footerscripts %}
<script>
  $(document).ready(function() {
    var tableSearch = new window.TableSearch('participants-table');

    $('input#search').keyup(function(e){
      $('#participants-table tbody tr').addClass('mui--hide');
      var hits = tableSearch.searchRows($(this).val());
      $(hits.join(",")).removeClass('mui--hide');
    });

  });
</script>
{% endblock %}
