{% extends "layout.html.jinja2" %}
{% set title_suffix = project.title %}
{% block title %}{% trans %}Manage check-in{% endtrans %}{% endblock title %}

{% block top_title %}
  <h1 class="mui--text-headline"><a href="{{ project.url_for() }}">{{ project.title }}</a></h1>
  <p class="mui--text-subhead">{% trans %}Manage check-in{% endtrans %}</p>
{% endblock top_title %}

{% block contentwrapper %}
  <div class="grid">
    <div class="grid__col-xs-12 grid__col-sm-6">
      <div class="card">
        <div class="card__header">
          <h3 class="mui--text-title">{% trans %}Events{% endtrans %}</h3>
          <p class="mui--text-caption">{% trans %}Select an event to check-in attendees{% endtrans %}</p>
        </div>
        <div class="card__body">
          <ol class="list--aligned">
            {%- for ticket_event in ticket_events %}
              <li class="mui--text-title">
                <a href="{{ ticket_event.url_for('scan_badge') }}" aria-label=" {% trans title=ticket_event.title %} View {{ title }} attendees{% endtrans %}"><strong>{{ ticket_event.title }}</strong></a>
              </li>
            {%- endfor %}
          </ol>
        </div>
      </div>
    </div>
  </div>
{% endblock contentwrapper %}
