{% extends "layout.html.jinja2" %}
{% block title %}{{ project.title }}{% endblock %}
{% block pageheaders %}
{% endblock %}

{% block top_title %}
  <h1 class="mui--text-display1"><a href="{{ project.url_for() }}">{{ project.title|e }}</a></h1>
  <p class="mui--text-body1"><a href="{{ project.url_for('admin') }}" title="Setup events for check-in"><i class="material-icons mui--text-body2 mui--align-bottom" aria-hidden="true">keyboard_backspace</i> {% trans %}Back to setup events{% endtrans %}</a></p>
{% endblock %}

{% block contentwrapper %}
  <div class="grid">
    <div class="grid__col-xs-6">
      <h3 class="mui--text-title">{{ticket_type.title}} <a href={{ ticket_type.url_for('edit') }}><i class="material-icons mui--text-body2 mui--align-bottom mui--text-dark-secondary">edit</i></a></h3>
    </div>
    <div class="grid__col-xs-6">
      <h3 class="mui--text-title mui--text-right">
        Total: {{participants | length}}
      </h3>
    </div>
    <div class="grid__col-xs-12 mui-table--responsive-wrapper">
      <table class="mui-table mui-table--bordered mui-table--responsive" id='participants-table'>
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Company</th>
          </tr>
        </thead>
        <tbody>
          {%- for p in participants %}
            <tr id="p-{{ p.id }}">
              <td class='js-searchable' data-th="Name">{{ p.fullname }}</td>
              <td class='js-searchable' data-th="Email">{{ p.email }}</td>
              <td class='js-searchable' data-th="Company">{{ p.company }}</td>
            </tr>
          {%- endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
{% block footerscripts %}
{% endblock %}
