{% extends "layout.html.jinja2" %}
{% from "baseframe/forms.html.jinja2" import ajaxform %}
{%- from "macros.html.jinja2" import rsvpform, rsvpscript, project_header %}
{% block title %}{{ project.title }}{% endblock %}
{% block description %}{{ project.title }} &ndash; {{ project.tagline }}{% endblock %}

{%- block pageheaders %}
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Event",
    "name": "{{ project.title }}",
    "url": "{{ project.url_for(_external=true) }}",
    "startDate": "{{ project.date }}",
    {% if project.primary_venue -%}
    "location": {
      "@type": "Place",
      "name": "{{ project.primary_venue.title }}",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "{{ project.primary_venue.address1 }}",
        "addressLocality": "{{ project.primary_venue.city }}",
        "addressRegion": "{{ project.primary_venue.state }}",
        "postalCode": "{{ project.primary_venue.postcode }}",
        "addressCountry": "{{ project.primary_venue.country }}"
      }
    },
    {%- endif -%}
    {%- if project.bg_image.url %}
    "image": [
      "{{ project.bg_image }}"
     ],
    {% endif -%}
    "description": "{{ project.tagline|safe }}",
    "endDate": "{{ project.date_upto }}",
    "offers": {
      "@type": "Offer",
      "url": "{{ project.url_for(_external=true) }}"
    }
  }
  </script>
{% endblock %}

{% block bodytag %}
  {%- if not config['LEGACY'] -%}
    <body class="mui--bg-primary hg-app no-sticky-header">
  {%- else %}
    <body class="mui--bg-primary no-sticky-header">
  {%- endif %}
{% endblock %}

{% block contenthead %}{% endblock %}

{% block baseheadline %}
  <div class="mui--hidden-md mui--hidden-lg mui--hidden-xl">
    <div class="mobile-nav mui--z1">
      <a href="{{ project.url_for() }}" aria-label="Back to {{project.title}}" class="mui--text-dark mui--text-headline"><i class="material-icons mui--text-title mui--align-middle mui--text-dark" aria-hidden="true">arrow_back</i> {{project.title}}</a>
    </div>
  </div>
{% endblock %}

{% block basecontent %}
  <div class="mui-container">
    <div class="page-content page-content--mob-nav">
      <div class="grid">
        <div class="grid__col-12" id="participate">
    	    {% if project.boxoffice_data and project.boxoffice_data.item_collection_id -%}
            {% if project.boxoffice_data and project.boxoffice_data.item_collection_id -%}
              <h2 class="mui--text-display1 mui--text-left zero-bottom-margin">Tickets</h2>
              <h3 class="mui--text-headline zero-top-margin mui--hidden-xs mui--hidden-sm"><a href="{{ project.url_for() }}">{{ project.title|e }}</a></h3>
              <div id="boxoffice-widget"><p class="mui--text-body1">Loading...</p></div>
            {%- endif %}
    	    {% elif project.allow_rsvp -%}
            <h2 class="mui--text-display1 mui--text-left project-section__headline">{% trans %}Attending this event?{% endtrans %}</h2>
            {%- if g.user %}
              {{ rsvpform(project, rsvp_form) }}
            {%- else %}
              <p>
                <a href="{{ url_for('login') }}" class='mui-btn mui-btn--raised mui-btn--primary' data-action="Login to rsvp">{% trans %}Login to RSVP{% endtrans %}</a>
              </p>
            {%- endif %}
            {% if project.current_roles.admin or current_auth.permissions.view_rsvps %}
              <a href="{{ project.url_for('rsvp_list') }}">See RSVP list</a>
            {% endif %}
    	    {%- endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block footerscripts %}
  {% if project.allow_rsvp -%}
    {{ ajaxform('rsvp-form', request, force=true) }}
  {%- endif %}
  <script src="{{ url_for('static', filename=asset_path('project')) }}" type="text/javascript"></script>
  <script type="text/javascript">
    $(function() {
      var projectConfig = {};
      {% if project.boxoffice_data and project.boxoffice_data.item_collection_id -%}
        projectConfig.ticketing = {
          boxofficeUrl: {{ config['BOXOFFICE_SERVER']|tojson }},
          widgetElem: "#boxoffice-widget",
          org: {{ project.boxoffice_data.org|tojson }},
          itemCollectionId: {{ project.boxoffice_data.item_collection_id|tojson }},
          itemCollectionTitle: {{ project.title|tojson }}
        };
      {%- endif %}

      window.HasGeek.ProjectInit(projectConfig);

    });
  </script>
{% endblock %}
