{%- from "macros.html.jinja2" import faicon, useravatar, img_size %}

{% for membership in commentset_memberships %}
  {%- if membership %}
    <li class="user">
      <a class="clickable-card" href="{{ membership.commentset_url }}">
        <div class="user__box">
          <div class="user__box__banner">
            <div class="user__box__banner__wrapper">
              {% if membership.parent_type == 'project' %}
                {% if membership.parent.bg_image %}
                  <img src="{{ membership.parent.bg_image.resize(img_size.card_banner_small) }}" alt="{{ membership.parent.title }}" />
                {% else %}
                  <img src="{{ url_for('static', filename='img/default-banner.png') }}" alt="{{ membership.parent.title }}" />
                {% endif %}
              {% else %}
                {% if membership.parent.project.bg_image %}
                  <img src="{{ membership.parent.project.bg_image.resize(img_size.card_banner_small) }}" alt="{{ membership.parent.project.title }}" />
                {% else %}
                  <img src="{{ url_for('static', filename='img/default-banner.png') }}" alt="{{ membership.parent.project.title }}" />
                {% endif %}
                {% if membership.parent.project.bg_image %}
                  {{ faicon(icon='file-solid', baseline=false, css_class="user__box__banner__wrapper__icon mui--text-white") }}
                {% else %}
                  {{ faicon(icon='file-solid', baseline=false, css_class="user__box__banner__wrapper__icon") }}
                {% endif %}
              {%- endif %}
            </div>
          </div>
          <div class="user__box__header comment__details" data-testid="unread-comment">
            {% if membership.last_comment %}
              <h3 class="mui--text-body2 user__box__fullname"><span class="text-bold comment__details__title" data-testid="comment-username">{{ membership.parent.title }}</span><span class="mui--text-body1 mui--pull-right comment__details__age">{{ membership.last_comment.created_at|age }}</span></h3>
              <h3 class="mui--text-caption mui--text-light user__box__subcontent"><span class="comment__details__user {% if membership.new_comment_count %}comment__details__user--truncated{% endif %}">{{ membership.last_comment.posted_by.fullname }}: {{ membership.last_comment.message.text }}</span>{% if membership.new_comment_count %}<span class="badge badge--round badge--round-smaller">{{ membership.new_comment_count }}</span>{% endif %}</h3>
            {%- else %}
              <h3 class="mui--text-body2 user__box__fullname"><span class="text-bold comment__details__title comment__details__title--long" data-testid="comment-username">{{ membership.parent.title }}</span></h3>
              <h3 class="mui--text-caption mui--text-light user__box__subcontent">{% trans %}No comments posted…{% endtrans %}</h3>
            {% endif %}
          </div>
        </div>
      </a>
    </li>
  {%- endif %}
{% endfor %}
{% if has_next %}
  <li class="left-padding js-load-comments loading"></li>
{%- endif %}

{%- if page == 1 and not commentset_memberships|length %}
  <li class="left-padding right-padding margin-top mui--text-center">
    <p class="flex-wrapper flex-wrapper--justify-center margin-bottom"><span class="profile-avatar profile-avatar--bigger">{{ faicon(icon='comment-alt-lines', icon_size='title', baseline=false, css_class="mui--text-light") }}</span></p>
    <p class="mui--text-title text-bold margin-bottom">{% trans %}No comments yet{% endtrans %}</p>
    <p class="mui--text-subhead mui--text-light margin-bottom">{% trans %}Join a project to start a discussion{% endtrans %}</p>
  </li>
{%- endif %}
