{% from "baseframe/components.html.jinja2" import faicon, useravatar %}
  <li class="user">
    <div class="user__box">
      {{ useravatar(comment.last_comment.user) }}
      <div class="user__box__header comment__details">
        <h3 class="mui--text-body2 user__box__fullname zero-bottom-margin"><span class="mui--text-bold">{{ comment.last_comment.user.fullname }}</span><span class="mui--pull-right">{{ formated_created_at(comment.last_comment.created_at) }}</span></h3>
        <h3 class="mui--text-caption mui--text-light user__box__subcontent"><span class="truncated-text">{{ comment.last_comment.message.text }}</span> <span class="badge badge--round badge--round-smaller mui--pull-right">{{ comment.new_comments_count }}</span></h3>
      <div>
    </div>
  </li>
