{% from "macros.html.jinja2" import faicon %}
{% from "forms.html.jinja2" import renderfield %}

<link rel="stylesheet" type="text/css" href="{{ built_asset('css/imgee-modal.scss') }}" />

<div class="modal__inner img-upload-modal">
  <div class="modal__header">
    <a class="modal__close mui--text-dark" data-target="close edit session modal" aria-label="{% trans %}Close{% endtrans %}" rel="modal:close" href="javascript:void(0);" role="button" tabindex="0">{{ faicon(icon='times', baseline=false, icon_size='title') }}</a>
  </div>
  <ul class="mui-list--unstyled mui-list--border mui-list--aligned grid-no-left-padding zero-bottom-margin">
    <li class="top-padding bottom-padding"><a href="{{ edit_logo_url }}" class="mui--text-title mui--text-dark nounderline" rel="modal:open">{{ faicon(icon='image', icon_size='title', baseline=true, css_class='icon-img--smaller') }} {% trans %}New image{% endtrans %}</a></li>
    <li class="top-padding bottom-padding">
      <form method="POST" action="{{ delete_logo_url }}">
        {{ form.hidden_tag() }}
        {% for field in form -%}
          {%- if field.type not in ['CSRFTokenField', 'HiddenField', 'NonceField'] -%}
            {{ renderfield(field, css_class="mui--hide") }}
          {%- endif %}
        {% endfor %}
        <button type="submit" class="mui-btn mui-btn--nostyle mui--text-danger mui--text-capitalize mui--text-title">{{ faicon(icon='trash-alt', icon_size='title', baseline=true, css_class='icon-img--smaller') }} {% trans %}Remove image{% endtrans %}</button>
      </form>
    </li>
  </ul>
</div>
