{% extends "layout.html.jinja2" %}
{% set title_suffix = project.title %}
{% from "baseframe/forms.html.jinja2" import renderform %}
{% from "baseframe/components.html.jinja2" import faicon %}
{%- from "macros.html.jinja2" import project_header, project_mini_header %}
{%- from "js/update.js" import updates_template %}
{% block title %}{{update.title}}{% endblock %}
{% block description %}{{ project.title }}{% if project.tagline %} &ndash; {{ project.taglines }}{% endif %}{% endblock %}

{% block bodytag %}
  {%- if not config['LEGACY'] -%}
    <body class="mui--bg-primary hg-app no-sticky-header">
  {%- else %}
    <body class="mui--bg-primary no-sticky-header">
  {%- endif %}
{% endblock %}

{% block top_title %}
  {{ project_mini_header(project) }}
{% endblock %}

{% block basecontent %}
  <div class="mui-container">
    <div class="grid project-section">
      <div class="grid__col-xs-12">
        {{ updates_template() }}
        {% if update.features.publish() %}
          <div class="publish-form">
            {{ renderform(form=publish_form, submit="Publish update", action=update.url_for('publish')) }}
          </div>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block pagescripts %}
{% endblock %}

{% block footerscripts %}
  <script src="{{ url_for('static', filename=asset_path('update')) }}" type="text/javascript"></script>
  <script type="text/javascript">
    $(function() {

      var updateConfig = {
        draft: [],
        updates: {% if update -%}[{{ update|tojson }}]{%- else -%} [] {%- endif %},
        divElem: "#updates-wrapper",
        updateTemplate: '#update-template',
        isEditor: {{ project.features.post_update()|tojson }},
        addReadMore: false,
      };

      window.Hasgeek.UpdatesInit(updateConfig);
    });
  </script>
{% endblock %}
