{% extends "project_layout.html.jinja2" %}
{% from "baseframe/forms.html.jinja2" import renderform %}
{%- from "js/update.js.jinja2" import updates_template %}
{% block title %}{{ update.title }}{% endblock %}

{% block base_content_inner %}
   <div class="page-card page-card--nomargin">
    <div class="project-section">
      {{ updates_template() }}
      {% if update.features.publish() %}
        <div class="publish-form">
          {{ renderform(form=publish_form, submit="Publish update", action=update.url_for('publish')) }}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block footerscripts %}
  <script src="{{ url_for('static', filename=asset_path('project_header')) }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename=asset_path('update')) }}" type="text/javascript"></script>
  <script type="text/javascript">
    $(function() {

      var updateConfig = {
        draft: [],
        updates: {% if update -%}[{{ update|tojson }}]{%- else -%} [] {%- endif %},
        divElem: "#updates-wrapper",
        updateTemplate: '#update-template',
        isEditor: {{ project.features.post_update()|tojson }},
        addReadMore: false,
      };

      window.Hasgeek.UpdatesInit(updateConfig);
      window.Hasgeek.ProjectHeaderInit();
    });
  </script>
{% endblock %}
