{% extends "user_profile.html.jinja2" %}

{% block bodyattrs %}class="bg-primary no-sticky-header mobile-header"{% endblock bodyattrs %}

{% block baseheadline %}
  {{ profile_header(profile, class="mui--hidden-xs mui--hidden-sm", current_page="submissions", title=gettext("Submissions")) }}
{% endblock baseheadline %}

{% block contentwrapper %}
  <div class="grid projects-wrapper" id="tagged-submissions">
    <div class="grid__col-xs-12">
      {% if profile.features.is_private() %}
        <p class="mui-panel bg-accent">{% trans %}This is a private account{% endtrans %}</p>
      {% else %}
          {% if submitted_proposals %}
            {{ proposal_list(submitted_proposals) }}
          {% else %}
            <p class="mui-panel bg-accent">{% trans %}No submissions{% endtrans %}</p>
          {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock contentwrapper %}

{% block footerscripts %}
{% endblock footerscripts %}
