{% extends "layout.html.jinja2" %}
{% block title %}{{ profile.title }}{% endblock %}
{% from "baseframe/components.html.jinja2" import faicon %}
{%- from "macros.html.jinja2" import profile_header, video_thumbnail, projectcard, proposal_list %}

{%- block pageheaders %}
<link rel="search" type="application/opensearchdescription+xml" href="{{ url_for('opensearch') }}" title="{{ config['SITE_TITLE'] }}" />
<script type="application/ld+json">
  {
    "@context" : "http://schema.org",
     "@type" : "WebSite",
     "name" : {{ config['SITE_TITLE']|tojson }},
     "url" : {{ url_for('index', _external=true)|tojson }},
    "potentialAction": {
      "@type": "SearchAction",
      "target": "{{ url_for('SearchView_search', _external=true) }}?q={query}",
      "query-input": "required name=query"
    }
  }
</script>
<script type="application/ld+json">
  {
    "@context" : "http://schema.org",
    "@type" : "Organization",
    "name" : {{ profile.title|tojson }},
    {%- if profile.banner_image_url.url %}
      "logo" : {{ profile.banner_image_url.url|tojson }},
    {% elif profile.logo_url.url %}
      "logo" : {{ profile.logo_url.url|tojson }},
    {% endif %}
    "url" : {{ profile.url_for(_external=true)|tojson }}
  }
</script>
{%- endblock %}

{% block bodytag %}
  <body class="mui--bg-primary hg-app page-with-banner">
{% endblock %}

{% block contenthead %}
{% endblock %}

{% block baseheadline %}
  {{ profile_header(profile) }}
{% endblock %}

{% block contentwrapper %}
  <div class="grid" id="tagged-sessions">
    {% for session in tagged_sessions %}
      <div class="grid__col-xs-12 grid__col-sm-6 grid__col-sm-4">
        {{ video_thumbnail(session) }}
      </div>
    {% endfor %}
    <ul class="mui-list--unstyled grid upcoming" role="list">
      {% for project in participated_projects %}
        <li class="grid__col-xs-12 grid__col-sm-6 grid__col-lg-4" role="listitem">
          {{ projectcard(project, include_calendar=true, calendarwidget_compact=false) }}
        </li>
      {%- endfor -%}
    </ul>
    {{ proposal_list(submitted_proposals) }}
  </div>
{% endblock %}

{% block footerscripts %}
  <script src="{{ url_for('static', filename=asset_path('session_videos')) }}" type="text/javascript"></script>
    <script type="text/javascript">
    $(function() {
      window.Hasgeek.SessionVideoInit();
    });
  </script>
{% endblock %}
