{% extends "layout.html.jinja2" %}
{% block title %}{{ usergroup.title }} &mdash; {{ project.title }}{% endblock %}
{% block content %}
  <p class="mui--text-title">{% trans %}Users{% endtrans %}</p>
  <ol>
    {%- for user in usergroup.users %}
      <li class="mui--text-subhead">{{ user.pickername }}</li>
    {% else %}
      <li class="mui--text-subhead"><em>{% trans %}(No users){% endtrans %}</em></li>
    {%- endfor %}
  </ol>
  <p>
    <a class="mui-btn mui-btn--small mui-btn--raised mui-btn--primary" href="{{ usergroup.url_for('edit') }}">{% trans %}Edit this group{% endtrans %}</a>
  </p>
{% endblock %}
