{% extends "layout.html.jinja2" %}
{% block title %}User groups &mdash; {{ space.title }}{% endblock %}
{% block content %}
  <ol>
    {%- for group in usergroups %}
      <li class="mui--text-subhead"><a href="{{ group.url_for() }}">{{ group.title }}</a></li>
    {% else %}
      <li class="mui--text-subhead"><em>{% trans %}(No user groups){% endtrans %}</em></li>
    {%- endfor %}
  </ol>
  <p>
    <a class="mui-btn mui-btn--small mui-btn--raised mui-btn--primary" href="{{ space.url_for('new-usergroup') }}">{% trans %}Add new group{% endtrans %}</a>
  </p>
{% endblock %}
