{% extends "layout.html" %}
{% block title %}{% trans %}Venues{% endtrans %} &mdash; {{ space.title }}{% endblock %}
{% block content %}
  <ol>
    {%- for venue in venues %}
      <li>
        <p>
          <a href="{{ venue.url_for('edit') }}">{{ venue.title }}</a>
          <a href="{{ venue.url_for('delete') }}" title="{% trans %}Delete{% endtrans %}"><i class="icon-trash"></i></a>
        </p>
        {{ venue.description }}
        {%- if venue.rooms %}
          <ol>
            {%- for room in venue.rooms %}
              <li>
                <p>
                  <a href="{{ room.url_for('edit') }}">{{ room.title }}</a>
                  <a href="{{ room.url_for('delete') }}"><i class="icon-trash"></i></a>
                </p>
                {{ room.description }}
              </li>
            {%- endfor %}
          </ol>
        {%- endif %}
        <p><a href="{{ venue.url_for('new-room') }}" class="btn btn-info btn-xs">{% trans %}Add room{% endtrans %}</a></p>
      </li>
    {% else %}
      <li><em>{% trans %}(No venues){% endtrans %}</em></li>
    {%- endfor %}
  </ol>
  <p>
    <a class="btn btn-info" href="{{ space.url_for('new-venue') }}">{% trans %}Add venue{% endtrans %}</a>
  </p>
{% endblock %}
