{% extends "layout.html.jinja2" %}
{% from "macros.html.jinja2" import faicon %}
{% block title %}{% trans %}Venues{% endtrans %}{% endblock title %}

{% block top_title %}
  <h1 class="mui--text-headline"><a href="{{ project.url_for() }}">{{ project.title }}</a></h1>
  <p class="mui--text-subhead">{% trans %}Venues{% endtrans %}</p>
{% endblock top_title %}

{% block contentwrapper %}
  <div class="grid">
    <div class="grid__col-xs-12 grid__col-sm-6">
      <div class="card">
        <div class="card__header">
          <h3><b>{% trans %}Manage venues{% endtrans %}</b></h3>
        </div>
        <form action="{{ project.url_for('makeprimary_venue') }}" method="post">
          {{ primary_venue_form.hidden_tag() }}
          <div class="card__body card__body--lgtext mui--text-subhead">
            <ol class="list--aligned list--border">
              {%- for venue in primary_venue_form.venue.query %}
                <li class="mui--text-subhead">
                  {# djlint:off #}<input id="venue-{{ loop.index }}" name="{{ primary_venue_form.venue.name }}" value="{{ venue.uuid_b58 }}" type="radio" {%- if venue == project.primary_venue %}disabled{% endif %} class="margin-right" /><label for="venue-{{ loop.index }}" class="form-inline-label" data-testid="{{ venue.title }}">{{ venue.title }} {%- if venue == project.primary_venue %}<em> {% trans %}(primary){% endtrans %}</em>{% endif %}</label>{# djlint:on #}
                  <span class="mui--pull-right">
                    <a href="{{ venue.url_for('edit') }}" class="mui--text-title" aria-label="{% trans %}Edit{% endtrans %}">{{ faicon(icon='edit', icon_size='subhead', css_class="fa5--link") }}</a>
                      &nbsp;&nbsp;&nbsp;<a href="{{ venue.url_for('delete') }}" aria-label="{% trans %}Delete{% endtrans %}">{{ faicon(icon='trash-alt', icon_size='subhead', css_class="fa5--link") }}</a>
                  </span>
                </li>
              {% else %}
                <li class="mui--text-subhead"><em>{% trans %}(No venues){% endtrans %}</em></li>
              {%- endfor %}
            </ol>
          </div>
          <div class="mui-divider"></div>
          <div class="card__footer">
            <button class="mui-btn mui-btn--small mui-btn--flat mui-btn--primary" type="submit" data-testid="set-primary-venue">{% trans %}Set as primary{% endtrans %}</button>
            <a class="mui-btn mui-btn--small mui-btn--flat mui-btn--accent" href="{{ project.url_for('new_venue') }}" data-testid="new-venue">{% trans %}Add venue{% endtrans %}</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="grid">
    {%- for venue in venues %}
      <div class="grid__col-xs-12 grid__col-sm-6">
        <div class="card" data-testid="{{ venue.title }}">
          <div class="card__header">
            <h3><b>{{ venue.title }}</b>{%- if venue == project.primary_venue %}<em> (primary) </em>{% endif %}</h3>
            <div class="mui--text-body2">{{ venue.description }}</div>
          </div>
          <div class="card__body card__body--lgtext mui--text-subhead">
            <ol class="list--aligned list--border">
              {%- for room in venue.rooms %}
                <li class="mui--text-subhead">
                  <span class="mui--text-subhead text-bold" data-testid="{{ room.title }}">{{ room.title }}</span>
                  <span class="mui--pull-right">
                    <a href="{{ room.url_for('edit') }}" class="mui--text-title" aria-label="{% trans %}Edit{% endtrans %}">{{ faicon(icon='edit', icon_size='subhead', css_class="fa5--link") }}</a>
                    &nbsp;&nbsp;&nbsp;<a href="{{ room.url_for('delete') }}" class="mui--text-title" aria-label="{% trans %}Delete{% endtrans %}">{{ faicon(icon='trash-alt', icon_size='subhead', css_class="fa5--link") }}</a>
                  </span>
                  <div class="mui--text-body2">{{ room.description }}</div>
                </li>
              {% else %}
                <li class="mui--text-subhead"><em>{% trans %}(No rooms){% endtrans %}</em></li>
              {%- endfor %}
            </ol>
          </div>
          <div class="mui-divider"></div>
          <div class="card__footer">
            <a class="mui-btn mui-btn--small mui-btn--flat mui-btn--primary" href="{{ venue.url_for('new_venueroom') }}" data-testid="add-room">{% trans %}Add room{% endtrans %}</a>
          </div>
        </div>
      </div>
    {%- endfor %}
  </div>
{% endblock contentwrapper %}
