{% extends "layout.html.jinja2" %}
{% set title_suffix = project.title %}
{% block title %}{% trans %}Venues{% endtrans %}{% endblock %}

{% block top_title %}
  <h1 class="mui--text-display1"><a href="{{ project.url_for() }}">{{ project.title|e }}</a></h1>
  <p class="mui--text-headline">Venues</p>
{% endblock %}

{% block contentwrapper %}
  <div class="grid">
    <div class="grid__col-xs-12 grid__col-sm-6">
      <div class="card">
        <div class="card__header">
          <h3><b>{% trans %}Manage venues{% endtrans %}</b></h3>
        </div>
        <form action="{{ project.url_for('makeprimary_venue') }}" method="POST">
          {{ primary_venue_form.hidden_tag() }}
          <div class="card__body card__body--lgtext mui--text-subhead">
            <ol class="mui-list--aligned mui-list--border">
              {%- for venue in primary_venue_form.venue.query %}
                <li>
                  <input id="venue-{{ loop.index }}" name="{{ primary_venue_form.venue.name }}" value="{{ venue.suuid }}" type="radio" {%- if venue == project.primary_venue %}disabled{% endif %}>&nbsp;
                  <label for="venue-{{ loop.index }}">{{ venue.title }}</label>
                  {%- if venue == project.primary_venue %}<em> (primary) </em>{% endif %}
                  <span class="mui--pull-right">
                    <a href="{{ venue.url_for('edit') }}" title="{% trans %}Edit{% endtrans %}"><i class="material-icons mui--text-subhead mui--align-top left-margin">edit</i></a>
                    {%- if venue != project.primary_venue %}
                      <a href="{{ venue.url_for('delete') }}" title="{% trans %}Delete{% endtrans %}"><i class="material-icons mui--text-subhead mui--align-top left-margin">delete</i></a>
                    {% endif %}
                  </span>
                </li>
              {% else %}
                <li class="mui--text-subhead"><em>{% trans %}(No venues){% endtrans %}</em></li>
              {%- endfor %}
            </ol>
          </div>
          <div class="mui-divider"></div>
          <div class="card__footer">
            <button class="mui-btn mui-btn--small mui-btn--flat mui-btn--primary" type="submit" title="Set as primary venue">{% trans %}Set as primary{% endtrans %}</button>
            <a class="mui-btn mui-btn--small mui-btn--flat mui-btn--accent" href="{{ project.url_for('new_venue') }}" title="{% trans %}Add venue{% endtrans %}">{% trans %}Add venue{% endtrans %}</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="grid">
    {%- for venue in venues %}
      <div class="grid__col-xs-12 grid__col-sm-6">
        <div class="card">
          <div class="card__header">
            <h3><b>{{ venue.title }}</b>{%- if venue == project.primary_venue %}<em> (primary) </em>{% endif %}</h3>
            <div class="mui--text-body2">{{ venue.description }}</div>
          </div>
          <div class="card__body card__body--lgtext mui--text-subhead">
            <ol class="mui-list--aligned mui-list--border">
              {%- for room in venue.rooms %}
                <li>
                  <span class="mui--text-subhead"><strong>{{ room.title }}</strong></span>
                  <span class="mui--pull-right">
                    <a href="{{ room.url_for('edit') }}" title="{% trans %}Edit{% endtrans %}"><i class="material-icons mui--text-subhead mui--align-top left-margin">edit</i></a>
                    <a href="{{ room.url_for('delete') }}" title="{% trans %}Delete{% endtrans %}"><i class="material-icons mui--text-subhead mui--align-top left-margin">delete</i></a>
                  </span>
                  <div class="mui--text-body2">{{ room.description }}</div>
                </li>
              {% else %}
                <li class="mui--text-subhead"><em>{% trans %}(No rooms){% endtrans %}</em></li>
              {%- endfor %}
            </ol>
          </div>
          <div class="mui-divider"></div>
          <div class="card__footer">
            <a class="mui-btn mui-btn--small mui-btn--flat mui-btn--primary" href="{{ venue.url_for('new_venueroom') }}" title="{% trans %}Add room{% endtrans %}">{% trans %}Add room{% endtrans %}</a>
          </div>
        </div>
      </div>
    {%- endfor %}
  </div>
</div>
{% endblock %}
