<div id="hg-bar">
  <ul id="hg-barlinks">
    <li><a href="http://hasgeek.com/"><strong><span class="hg-h">Has</span><span class="hg-g">Geek</span></strong></a></li>
    <li><a href="http://blog.hasgeek.in/">Blog</a></li>
    <li><a href="http://wiki.hasgeek.in/">Wiki</a></li>
    <li><a href="http://jobs.hasgeek.com/">Jobs</a></li>
    <li><a href="http://hasgeek.tv/">Videos</a></li>
    <li class="selected"><a href="http://funnel.hasgeek.com/">Funnel</a></li>
    <li><a href="http://geekup.in/">GeekUp</a></li>
    <li>
      <a href="#" class="hg-submenu">Events</a>
      <ul>
        <li><a href="http://rootconf.in/">Rootconf</a></li>
        <li><a href="http://fifthelephant.in/">The Fifth Elephant</a></li>
        <li><a href="http://cartonama.com/">Cartonama Conference</a></li>
        <li class="hg-menu-section">Past events</li>
        <li><a href="http://metarefresh.in/">Meta Refresh</a></li>
        <li><a href="http://droidcon.in/">Droidcon</a></li>
        <li><a href="http://phpcloud.hasgeek.com/">Scaling PHP in the Cloud</a></li>
        <li><a href="http://androidcamp.hasgeek.com/">AndroidCamp</a></li>
        <li><a href="http://www.doctypehtml5.in/">DocType HTML5</a></li>
      </ul>
    </li>
  </ul>
</div>
