name: 'Pytest on docker'

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']
    paths:
      - '**.py'
      - '**.js'
      - '**.scss'
      - '**.jinja2'
      - 'requirements/base.txt'
      - 'requirements/test.txt'
      - '.github/workflows/docker-ci-tests.yml'
      - 'Dockerfile'
      - 'pyproject.toml'
      - '.eslintrc.js'
      - 'docker-compose.yml'
      - 'docker/compose/services.yml'
      - 'docker/entrypoints/ci-test.sh'
      - 'docker/initdb/test.sh'
      - 'package.json'
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Cache npm
        uses: actions/cache@v3
        with:
          path: .cache/.npm
          key: npm
      - name: Cache node_modules
        uses: actions/cache@v3
        with:
          path: node_modules
          key: node_modules-${{ hashFiles('package-lock.json') }}
      - name: Cache pip
        uses: actions/cache@v3
        with:
          path: .cache/pip
          key: pip
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build funnel-test image
        id: build-funnel-test
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ci.Dockerfile
          tags: funnel-test:latest
          load: true
          push: false
      - name: Run Tests
        run: make docker-ci-test
      - name: Upload coverage report to Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.github_token }}
          path-to-lcov: coverage/funnel.lcov
          flag-name: docker-3.11
