{% extends "layout.html.jinja2" %}
{% block title %}{% trans %}410 Page now gone{% endtrans %}{% endblock title %}

{% block top_title %}
  <div class="mui--text-center">
    <img src="{{ url_for('static', filename='img/error-410.svg') }}" class="emoticon" alt="{% trans %}This is gone{% endtrans %}"/>
    <h1 class="mui--text-light mui--text-display1">{% trans %}This is gone{% endtrans %}</h1>
  </div>
{% endblock top_title %}

{% block content %}
  <p class="mui--text-subhead mui--text-center">{% trans %}The page you are looking for has been removed{% endtrans %}</p>
{% endblock content %}
